[2018-02-05 10:05] sabeersulaiman commented on #2292
@benaadams Found out the issue, it was in a middleware in our own code, which was requesting for a log file which was already locked for writing I believe. Now everything is working fine. Thanks for the heads up.

[2018-02-05 10:05] #2292 closed

[2018-02-05 12:09] JulianRooze commented on #2214
@TomJannes no worries, I had no problem reading it, thank you for clarifying! I'd be interested to find out how you made the memory dump and analyzed it.  Which guide did you follow? Perhaps we can use the same method. We've tried analyzing the memory usage, but we only got as far as making the dump, but got stuck on LLDB which just exited immediately with a page fault.

[2018-02-05 14:13] davidfowl commented on #2291
/cc @pakrym

[2018-02-05 20:53] Eilon commented on #1943
@muratg / @halter73 - anything to do here for preview1?

[2018-02-06 00:23] muratg commented on #2271
@natemcmaster @pakrym CTI folks tested the build, and they're claiming it's not fixed in this build. Could you guys take a look please?

[2018-02-06 00:26] muratg commented on #2271
cc @balachir

[2018-02-06 00:37] natemcmaster commented on #2271
Where can we find details of CTI's repro steps? This fix requires aspnetcore 2.1.0-preview1-28226 or newer.

[2018-02-06 06:20] DamianEdwards commented on #2271
According to the notes I saw they're using the ProdCon build that contains 2.1.0-preview1-28226 of ASP.NET Core (judging by the version I see on my machine with the same build).

[2018-02-06 06:22] davidfowl commented on #2271
It's fixed.

[2018-02-06 08:04] TomJannes commented on #2214
@JulianRooze
I used [http://codeblog.dotsandbrackets.com/net-core-memory-linux/](http://codeblog.dotsandbrackets.com/net-core-memory-linux/)
I took the dump using gcore and opened it with lldb-3.6 ./dump.nr /usr/share/dotnet/dotnet afterwards i played around using the tutorial linked above and [http://blogs.microsoft.co.il/sasha/2017/02/26/analyzing-a-net-core-core-dump-on-linux/](http://blogs.mic

[2018-02-06 09:32] TomJannes commented on #2214
@JulianRooze
I was looking through the .net core 2.1 roadmap when i found this: [https://github.com/dotnet/corefx/issues/25841](https://github.com/dotnet/corefx/issues/25841) Since i saw a lot of char arrays in my dump i decided to try the work around and this seems to fix my problem. Could you also try this? (i'm running my app on 512mb, 2cpus and in docker stats the memory usage seems stable aft

[2018-02-06 18:07] muratg commented on #2271
CLI used: Build 20180202-02 CLI version   2.1.300-preview1-008019

The claim is that restore fails on Ubuntu 16.04.  (It's possible that it's a user error on CTI's part, but we should verify.)

[2018-02-06 18:15] pakrym commented on #2271
`restore fails on Ubuntu` this bug is a runtime exception.

[2018-02-06 18:34] muratg commented on #2271
Yeah, what they're hitting right now seems to be the LZMA issue: https://github.com/aspnet/Universe/issues/848.  👍

[2018-02-06 18:34] #2271 closed

[2018-02-06 23:06] halter73 commented on #2291
@pakrym ready to close?

[2018-02-06 23:10] #2291 closed

[2018-02-06 23:16] muratg commented on #2195
Backlogging this. Let us know if you are still having issues and/or not able to work around it.

[2018-02-06 23:28] muratg commented on #1943
We'll be overhauling this area as we continue to investigate Sockets transport as a transport.

[2018-02-06 23:28] #1943 closed

[2018-02-06 23:34] muratg commented on #2289
:+1:

[2018-02-06 23:34] #2289 closed

[2018-02-06 23:43] muratg commented on #2286
Putting this in Discussions milestones until we can get more details to investigate this deeper.

@gthuruv Any chance you can try 2.1 to see if it fixes your issue in this case?  Also, would it be possible to get a process dump when you hit this?

[2018-02-06 23:46] muratg commented on #2285
@shirhatti did you have a workaround for configuring ANCM port to use?

[2018-02-06 23:48] halter73 commented on #2284
It looks like you're experiencing threadpool starvation? Can you take a memory dump of your application when the heartbeat warnings get locked and analyze it using VS's Parallel Stacks view?

[2018-02-06 23:55] #2274 closed

[2018-02-07 00:22] muratg commented on #2255
@dexterhussain Could you clarify why you think this is a Kestrel bug? I wasn't able to reproduce on Ubuntu 16.04 with ASP.NET Core 2.0. If you have a simple app that reproduces this issue on Ubuntu, please let me know.  Putting this one in Discussions milestone for now.

[2018-02-07 01:13] zmk523 commented on #2125
I just started having this occur in our Azure App Service a few days back. We're using AspNetCore 2.1.4.

[2018-02-07 01:14] zmk523 commented on #1474
I just started having this occur in our Azure App Service a few days back. We're using AspNetCore 2.0.1.

[2018-02-07 01:31] TiagoSoczek opened #2296 ""Invalid non-ASCII or control character in header: 0x00E7" when redirect to a URL with non-ASCII (e.g: ç)"
Hi everyone,

When attempting to redirect to a URL containing a non-ASCII character, Kestrel throws the following exception:

[code]

Sample code:

[code]

The same Redirect works correctly on ASP.NET MVC 5.2.3.

I'm aware the HTTP don't allow non-ASCII character in the URL, but, this can be considered an bug? If no, what is the best recommendation here? Encode the URL before redirect?

Thanks.

[2018-02-07 01:42] Tratcher commented on #2296
Yes, you are expected to properly encode urls, and any other headers for that matter. There are helpers like PathString and UrlHelper for encoding and assembling the components.

[2018-02-07 04:54] dexterhussain commented on #2255
@muratg  I fixed it. There are some routing differences between windows and ubuntu. Like App and app and in configration of timezones. Windows need +5 and Ubuntu need Asia/Karachi and many others I fixed each one of them and ran it.

[2018-02-07 06:07] javiercn commented on #2255
Seems like this is fixed, so I'm closing it.

[2018-02-07 06:07] #2255 closed

[2018-02-07 09:47] bitlush commented on #2195
Yes this is still an issue. I believe @Tratcher has confirmed this is a bug and suggested a fix.

[2018-02-07 14:46] rsrinivasanhome opened #2297 "Kestrel on Linux not supporting a cipher"
Hi I referred the following issue https://github.com/aspnet/KestrelHttpServer/issues/1865

But not clear with the following  .
How do we link ciphers to kestrel ?  Are all ciphers available In openssl available in kestrel.
I tried using an ECC cipher which was visible in the list of the ciphers (found using the command
openssl ciphers -v ALL ) but  getting the error

System.Security.Authentication

[2018-02-07 15:23] Drawaes commented on #2297
It should just be using the default list from openssl. Infact there is an open issue to allow configuration of ciphers in SslStream (that Kestrel uses)

[2018-02-07 16:27] rsrinivasanhome commented on #2297
@Drawaes  you had mentioned in the issue 1865 we would need to "you need to ensure you only call methods on the lib after .net did it's openssl init or you need to do it, otherwise you won't have ciphers loaded.".  How is this achieved ?  Can we call some open ssl command in our docker file will this help load the ciphers ?

[2018-02-07 17:24] anurse opened #2299 "Add clearer exception message to FrameResponseStream ODE"
A frequent issue with WebSocket usage is that the user hands the socket off to a background processor and then allows the middleware pipeline to exit. The exception they get in that case is an unpleasant and unhelpful `ObjectDisposedException` for `FrameResponseStream` (a type which the user has never encountered):

[code]

The exception is correct, but could be made clearer. I suggest a custom me

[2018-02-07 17:25] anurse commented on #2299
cc @Tratcher

[2018-02-07 18:54] priyanshu92 commented on #1972
How does this look? @jkotalik @natemcmaster

![image](https://user-images.githubusercontent.com/7589718/35935345-34572d72-0c66-11e8-82a6-1ef29e246f66.png)

[2018-02-07 19:06] benaadams opened #2301 "StringValues should always be passed as in (and a readonly struct)"
This makes it more efficient by skipping the copy before passing it by reference; which is what happens with pass by value.

However it should also be marked as a `readonly struct` https://github.com/aspnet/Home/issues/2856

[2018-02-07 19:10] benaadams opened #2302 "TryGetAsciiString can be streamlined and vectorized"
Should be more efficient and less messy

[2018-02-07 19:16] benaadams opened #2303 "IFeatureCollection.Get<TFeature> should be implemented via generic rather than typeof"
Its currently implemented as a `typeof` wrapper over `(TFeature)Get(typeof(TFeature))` which deteriorates more rapidly for the `if``else if` lookup chain that implementing with generics does.

[code]

[2018-02-07 20:10] halter73 commented on #1474
@zmk523 Can you show us your logs? The EAFNOSUPPORT binding issue should be benign on azure and should only be logged as a warning. Are you seeing any other problems with your app, or just this log?

[2018-02-07 20:13] natemcmaster commented on #1474
Also, can you share which version of ASP.NET Core you are using? This is listed as a PackageReference element in your .csproj file.  You said ASP.NET Core 2.1.4, but there is no such thing. I'm guessing the "2.1.4" is the SDK version, but the SDK can be used to build and app with Kestrel 1.0, 1.1, 2.0, etc.

[2018-02-07 20:27] halter73 commented on #1972
@priyanshu92 LGTM. I wonder if we should make the doc comments shorter, but I think it's probably fine at the current level of detail.

[2018-02-07 20:29] natemcmaster commented on #1972
Shorter if you can, or try adding paragraph breaks using `<para>`. Intellisense should honor those.

[2018-02-07 23:12] Drawaes commented on #2297
No you need to do it in process, so you would just "touch" the Crypto apis and they will init openssl. Then you would PInvoke the set ciphers method (I can't remember it off by heart), in saying that ECC should be enabled by default by OpenSSL

[2018-02-07 23:19] davidfowl commented on #1673
This doesn't work well at the transport layer.

[2018-02-07 23:19] #1673 closed

[2018-02-08 01:33] zmk523 commented on #1474
@natemcmaster
I'm sorry. I was in a hurry. I was wrong. I misunderstood you.
The SDK version is 2.1.4

[2018-02-08 01:37] zmk523 commented on #1474
@halter73
The logs are as follows:
**crit: Microsoft.AspNetCore.Server.Kestrel[0]
      Unable to start Kestrel.**
Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Internal.Networking.UvException: Error -4092 EACCES permission denied
   at Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Internal.Networking.LibuvFunctions.ThrowError(Int32 statusCode)
   at **Microsoft.AspNetCore.Server.Kestr

[2018-02-08 01:44] natemcmaster commented on #1474
EACCES is a different error. This typically means the port you tried to bind to is already in use, or that the port is reserved by the system.

Can you open a separate bug for this? This issue was about EAFNOSUPPORT

[2018-02-08 01:51] zmk523 commented on #1474
@natemcmaster
I understand the reason for using the encrypted SSL authentication binding to register and use KestrelServer.

[2018-02-08 05:17] samsosa commented on #2297
Should resolved with [https://github.com/dotnet/corefx/pull/25985](url)?

[2018-02-08 08:07] tmds commented on #1673
@davidfowl In the Pipelines API review issue you said this was Kestrel specific. Now you say it doesn't work at the Transport layer. Is the conclusion, Kestrel/Pipelines cannot leverage the `sendfile` system call?

[2018-02-08 08:31] davidfowl commented on #1673
IHttpSendFileFeature is ASP.NET specific.

Don't conflate pipelines the abstraction with how we use it in Kestrel. The way Kestrel interacts with the transport layer via pipelines this isn't a good fit. The IHttpSendFileFeature needs to live closer to Kestrel than it does to the transport. You're essentially bypassing the pipe completely and writing directly to via the socket. This by passes all c

[2018-02-08 09:09] tmds commented on #1673
I understand the Transport can't completely implement IHttpSendFileFeature. I think it has a role to play since it is abstracting the network implementation.

If you think its possible for Kestrel to leverage `sendfile` at some abstraction, please keep an open issue for it.

[2018-02-08 13:53] TiagoSoczek commented on #2296
Thanks @Tratcher. I solved using the **Uri** class with the **AbsoluteUri** property

[code]

[2018-02-08 13:53] #2296 closed

[2018-02-08 14:55] leak opened #2306 "Obtain all listening endpoints from controller"
I used to be able to do this in a controller:

`var serverAddress = ((Microsoft.AspNetCore.Server.Kestrel.Internal.Http.ListenerContext)((DefaultHttpContext)HttpContext).Features).ServerAddress;`

which would give me this:

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.server.kestrel.core.serveraddress?view=aspnetcore-2.0

Now the `Internal.Http` seems to be gone or I am missing

[2018-02-08 15:04] vcsjones commented on #2231
+1 for this.

nginx supports unix sockets. e.g:

[code]

Apache's `mod_proxy` supports unix sockets as well. Something like:

[code]

Regardless, unix sockets are a well supported feature by many reverse proxies. It would be helpful if Kestrel could support a Unix socket so that reverse proxies can use that. Performance is typically the reason that is often cited for supporting a unix socket.

[2018-02-08 15:12] priyanshu92 commented on #1972
Looks like @redouane64 beat me to it 😄

[2018-02-08 15:31] benaadams commented on #2231
Also for local use rather than using loopback (omnisharp over http) or microservice on same host.

WSL is available on Window Server https://docs.microsoft.com/en-us/windows/wsl/install-on-server it wouldn't be beyond expectation that unix sockets will be coming also

[2018-02-08 15:36] Tratcher commented on #2296
Note that won't encode Unicode host names.

[2018-02-08 16:27] TiagoSoczek commented on #2296
Ah, good to known, thanks @Tratcher.

[2018-02-08 16:33] davidfowl commented on #2231
Unix sockets already works ok Linux and OS X. This issue is about windows specially.

[2018-02-08 16:35] davidfowl commented on #2306
Once you see internal in the name, you’re in dangerous territory. Also these addresses are wrong when you are behind a reverse proxy. What are you using them for?

[2018-02-08 17:10] leak commented on #2306
I'd be happy to use some solution that doesn't involve internal classes, also I don't care about the reverse proxy case. My use case is very specific (machine with multiple interfaces and unknown networks, etc.) but I think that is beside the point.

Basically I want to create a WebApi that is returning all interfaces Kestrel is actually accessible on.

[2018-02-08 17:13] Tratcher commented on #2306
You can capture the IServerAddressesFeature at startup:
https://github.com/aspnet/BasicMiddleware/blob/5c3fc3770fd9c88f2a6126c47ab741d40e48b034/src/Microsoft.AspNetCore.HttpsPolicy/HttpsRedirectionBuilderExtensions.cs

Don't read it before the first request though, it's contents are updated as the server starts.

[2018-02-08 18:36] davidfowl commented on #2243
https://github.com/aspnet/KestrelHttpServer/pull/2234/files#diff-babc5b9d34240d24428368005d81fe1aL373

[2018-02-08 18:58] davidfowl commented on #1673
At the moment, I don't see a reason to keep an issue open as we haven't designed anything and aren't currently thinking about it. If you'd like to spike something then I think that would be fine.

[2018-02-08 19:37] #1972 closed

[2018-02-09 01:28] #2299 closed

[2018-02-09 16:06] leak commented on #2306
Thank you for your input.

IServer is going in the right direction, what would be really interesting to me is the ListenOptions (marked red). Any way to access those without bringing out the reflection guns?

![image](https://user-images.githubusercontent.com/530056/36036127-53d5f1ac-0db9-11e8-912a-9007bae47a61.png)

[2018-02-09 16:11] davidfowl commented on #2306
No those are internal for all intents and purposes.

[2018-02-09 17:37] natemcmaster opened #2307 "Flaky test in 2.1: DoesNotRejectBodylessGetRequestWithZeroMaxRequestBodySize"
Failure: https://travis-ci.org/aspnet/KestrelHttpServer/jobs/339539942#L949
[code]
cc @muratg for triage

[2018-02-09 17:54] natemcmaster commented on #2204
Failed again in release/2.1: https://travis-ci.org/aspnet/KestrelHttpServer/jobs/339566950#L1328

[2018-02-09 18:46] ryanbrandenburg commented on #2282
Do we have any news on this? Just shy of all of our OSX test runs fail with these.

[2018-02-09 20:44] halter73 commented on #2282
I think we should skip it on mac but keep this issue open so we can fix the test and skip it post-verification.

[2018-02-09 21:11] ryanbrandenburg commented on #2282
This is not affecting a single, or even a small set of tests. If you look at a couple builds from the lists I linked above you'll see that it affects seemingly ever Kestrel functional test.

[2018-02-09 22:22] natemcmaster opened #2308 "Configure certificate by thumbprint"
Would be nice if we could configure server certificates via thumbprint + store name.

Example usage in appsettings.json:

[code]

[2018-02-09 22:23] Tratcher commented on #2308
And mirror that in UseHttps. We'll see what the preview1 feedback is.

[2018-02-10 00:33] natemcmaster opened #2309 "Log HTTPs cert info on startup"
Kestrel logs endpoint when the server starts, but doesn't log which certificates were used. Now that Kestrel endpoints and certs can be configured from a file https://github.com/aspnet/KestrelHttpServer/pull/2186, it would be nice to show console info to help users identify if their config was correctly used.

Some ideas:

From store, show friendly name

    Now listening on: https://localhost:500

[2018-02-10 01:21] halter73 commented on #2282
Disabling ConnectionCountingReturnsToZero will remove a spike in thread and connection utilization that could improve the reliability of the other tests on macOS.

[2018-02-10 01:49] halter73 opened #2310 "Ensure all Streams implemented by Kestrel efficiently implement the new Span and Memory overloads"

[2018-02-10 02:21] benaadams commented on #2310
[code]

[2018-02-10 21:07] NickCraver commented on #622
Update on motivation for support here - Chrome is landing support for server timings in M65: https://blog.chromium.org/2018/02/chrome-65-beta-css-paint-api-and.html

[2018-02-11 15:35] andyedinborough commented on #2250
I get this error in my apps after installing Windows Server Hosting Runtime v2.0.5.  The process just continually restarts.

[2018-02-11 16:02] alefranz commented on #2276
I'd like to work on this one. I've submitted PR #2314 and waiting for feedback.
Is there any scripts and nginx config around to easily test #418 after this change?

[2018-02-11 17:34] pan-wang commented on #2250
How did you set the port? hardcoded or by setting environment variable?

[2018-02-11 20:28] andyedinborough commented on #2250
It’s set by environment variable. I’ve confirmed that removing the Windows Server Hosting package and reinstalling a standalone version of the ASP.NET Core Module resolves the issue.

Otherwise, the executable runs a few seconds and then restarts. I can run the executable from the command line with no issues.

[2018-02-12 06:32] skynyrd opened #2316 "Unexpected server behaviour after dotnet core update."
Hi, we have upgraded our dotnet core application from 1.1 to 2.1.4 and got some problems after that.
We run the application on docker containers (using dotnet core 2.0.5 as runtime version) on Ubuntu servers.

### Functional impact
After a while server stopped accepting requests and logged:

[code]

The last two lines repeated few times.

### Minimal repro steps
Its hard to reproduce it, but just

[2018-02-12 17:19] ryanbrandenburg commented on #2282
That's the [one test](https://github.com/aspnet/KestrelHttpServer/commit/9c2158fd379c9c55174fff4751065434105483ae#diff-3c3a25c99aa5a7af82c985dd981ab657R136) that I already skipped before realizing that this affected basically all Kestrel functional tests, so we can count it out as a culprit.

[2018-02-13 03:41] nblumhardt commented on #2128
I've just hit this in an automated regression test that passed at least the last few dozen times. It's the latest .NET Core 2.0 runtime on Windows.

[code]

The test setup is a bit shaky, and I don't think I'll be any help with reproducing it, but throwing a quick note up here anyway :-)

[2018-02-13 10:28] VanCoding opened #2317 ".net framework support?"
currently, kestrel 2.0.1 is only available for .net core, whereas 1.1.3 was available for .net framework 4.5.1 as well.

Do you guys intend to add .net framework support again or will kestrel remain .net core only?

[2018-02-13 10:46] Tratcher commented on #2317
It's available for net standard which includes core and framework.

[2018-02-13 10:49] VanCoding commented on #2317
ah well, this was a bit confusing by looking at the nuget page, but looking at https://docs.microsoft.com/en-us/dotnet/standard/net-standard helped. Thanks :)

[2018-02-13 10:49] #2317 closed

[2018-02-13 11:15] justinwyer commented on #2035
I'd like to grab this.

[2018-02-13 16:16] gbrunton commented on #2128
I tracked my problem down to a couple of query string parameters that I was encrypting. I was encoding the values but my guess is that there were some characters that caused the problem. I was never able to capture the state completely and have sense changed my implementation.

[2018-02-13 18:22] muratg commented on #2128
Thanks folks. @nblumhardt if you have any traction with the reproduction of the issue, please let us know. Thanks!

[2018-02-13 20:16] JulianRooze commented on #2214
@TomJannes Sorry, forgot to reply. Thanks for the info! I do think our issues are fundamentally different, though. Your issue seemed to be memory that was never being released, while our issue seems to be a GC that is reluctant to run (and I'm speculating that it's because it thinks there's still plenty of memory available). But when the GC does run, our memory is cleaned up just fine.

[2018-02-13 23:45] muratg commented on #1144
Backlogging this, no work planned in 2.x.

[2018-02-13 23:49] #1927 closed

[2018-02-13 23:55] muratg commented on #2103
Closing this one. We'll revisit the bigger scenario in the future.

[2018-02-13 23:55] #2103 closed

[2018-02-14 00:26] muratg commented on #2145
Backlogging based on the discussion with @DamianEdwards the other day.

[2018-02-14 13:49] oofpez commented on #2250
@halter73 has auto-healing working for you?
Experiencing the same issue, it has been costly dealing with it so far.
We have temporarily scaled out with an extra instance, to handle this in case it happens again.

[2018-02-14 19:18] halter73 commented on #2250
@pan-wang should we close this as a dupe of aspnet/AspNetCoreModule#260 to keep the conversation in one place and keep everyone up to date?

[2018-02-14 19:41] halter73 commented on #2316
Did you just get the 2 heartbeat warnings or were there more? Were there any other logs around February 12th 2018, 04:30:26?

Upping the tracing level to the most verbose [trace log level](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?tabs=aspnetcore2x#log-level) could help diagnose this. I'd also try using gdb/gcore to collect a memory dump after it stops accepting requests p

[2018-02-14 19:47] #2276 closed

[2018-02-14 19:47] halter73 commented on #2310
Dupe of #2192.

[2018-02-14 19:47] #2310 closed

[2018-02-14 19:48] halter73 commented on #2196
@pakrym Can you link to the corefxlab PR that fixed this?

[2018-02-14 19:50] pakrym commented on #2196
https://github.com/dotnet/corefxlab/pull/1814

[2018-02-14 19:58] halter73 commented on #2276
Thanks @alefranz!

[2018-02-14 21:14] halter73 commented on #2306
Injecting the IServerAddressesFeature into the controller should work, no?

[2018-02-14 22:13] benaadams commented on #2192
[code]

[2018-02-14 22:17] xt0rted opened #2320 "Random spike in exceptions which look to maybe be coming from kestrel"
Last week I had an instance where app services restarted my site and it never came up for some reason. I didn't see anything in the logs for it and nothing in application insights. While just reviewing what's in application insights I noticed a massive spike in logged exceptions a day or two later but I'm not sure if it's related.

![image](https://user-images.githubusercontent.com/831974/36230381

[2018-02-14 22:32] xt0rted commented on #2320
While looking through my application logs I found some more information that wasn't logged to application insights. Here's what's showing in there.

[code]

[2018-02-14 22:35] Tratcher commented on #2306
IServerAddressesFeature isn't a service registered in DI or in the HttpContext FeatureCollection. You can only capture it in Startup.Configure.

[2018-02-14 22:41] benaadams commented on #2306
Capture to field in `Configure` then register value with DI in `ConfigureServices` against `IServerAddressesFeature`?

[2018-02-14 22:43] Tratcher commented on #2320
What's sending you HTTP/1.0 requests? There's a known issue with ApplicationInsights where it fails for 1.0 request due to a missing Host header.

It also looks like you have something sending requests directly to Kestrel and bypassing the IIS front-end. IISIntegration blocks these requests.

[2018-02-14 22:44] Tratcher commented on #2320
See https://github.com/Microsoft/ApplicationInsights-aspnetcore/issues/278

[2018-02-14 22:46] Tratcher commented on #2320
Request starting HTTP/1.0 GET http:///scripts/..%c1%258s..%c1%258s..%c1%258s..%c1%258s..%c1%258s..%c1%258s..%c1%258s..%c1%258s/winnt/system32/cmd.exe?/c%20dir  looks extremely fishy. This looks like a malicious port scanner on your local machine.

[2018-02-14 22:47] xt0rted commented on #2320
I'm not sure where the requests came from. The site's on app services, has the https only option enabled, always on enabled, and a couple app insights availability tests that hit a few of our primary pages.

[2018-02-14 22:48] Drawaes commented on #2306
Configure runs after configure services no?

[2018-02-14 22:50] xt0rted commented on #2320
By the looks of it there's been no recent deployments or changes to the site. The most recent deployment was January 29th.

[2018-02-14 22:51] benaadams commented on #2306
Good point :)

Capture it in `Configure` set it in FeatureCollection via middleware then?

[2018-02-14 22:56] blowdart commented on #2320
Could you email your subscription ID and the site details, I'm going to ask Azure to take a look at this. barry.dorrans@microsoft.com

[2018-02-14 22:57] Drawaes commented on #2306
As a "why do you want this?" We use it heavily to auto register our API services with a service registry. We need to tell it the IP addresses and ports that are listening (the ports are dynamically allocated at startup) and also the network wants to know the interfaces that are listening so it can start running health checks.

[2018-02-14 23:24] Tratcher commented on #2306
We've started doing this in 2.1 for detect ports for redirect to https.
https://github.com/aspnet/BasicMiddleware/blob/5a3f9d930329aaed5d641cf1612f4e1df8f5e491/src/Microsoft.AspNetCore.HttpsPolicy/HttpsRedirectionBuilderExtensions.cs#L32-L36

[2018-02-14 23:26] muratg commented on #2196
Do we need to add test? What other work is remaining on this?

[2018-02-14 23:54] halter73 commented on #2196
I remember this. It just cleans up the stack traces of some exceptions in a way that can make it easier to find the original location the exception was thrown from.

I don't think it's critical to backport to 1.x or 2.0x, but it seemed like an easy patch.

[2018-02-15 00:01] #2099 closed

[2018-02-15 00:47] halter73 commented on #2306
@Tratcher This should also work in 2.0, right?

[2018-02-15 00:53] shanselman commented on #1865
Apparently this is starting to get hit as iPhone/iOS clients try to hit Kestrel and it's not possible. @mattcotterellnz hit this recently. Can we get this triaged and moved to Corefx? @stephentoub

[2018-02-15 00:55] stephentoub commented on #1865
If there's a feature request for SslStream, someone should open an issue in corefx with a proposal.

[2018-02-15 01:57] Tratcher commented on #2306
Yes, we've just never consumed it before 2.1.

[2018-02-15 04:35] vcsjones commented on #1865
There are two "things" in this request: the cipher suites, and the protocol version.

As I understand, SslStream already supports configuring the protocol in `AuthenticateAsServer` and AuthenticateAsClient`. I think for the protocol version then, it's just a matter of Kestrel allowing those values to be configured.

For cipher suites, yes - that will require work as SslStream does not expose setti

[2018-02-15 06:25] skynyrd commented on #2316
Not many, but yes. I am going to try what you have suggested. Thanks.

[2018-02-15 08:16] Drawaes commented on #1865
Yes https://github.com/dotnet/corefx/issues/24588

Will satisfy the requirement from sslstream.

[2018-02-15 12:27] hempe commented on #2250
Any news about this? We have the same issue as the original author in our production enviroment.

[2018-02-15 13:44] istvanko commented on #2250
We were able to reduce the frequency of the appearance of the issue by turning "Always on" off. It seems that in specific constellations when we use https with "always on" the app is being initialized in a wrong way when Microsoft changes something on the system even when the changed system is just the blog storage.

[2018-02-15 15:14] davidfowl commented on #1865
Putting this into the backlog for now.

[2018-02-15 17:29] mikeharder commented on #2243
@pakrym: I can take this one unless you already started.

[2018-02-15 18:11] petrpod commented on #2320
The requests are caused by an internal scanner in Azure App Service and there is no malicious intent. We are actively working to remove this behavior, so customers (you) don't see these suspicious requests anymore. Again, there is nothing to worry about and we should be able to fix it soon. Apologies for the inconvenience and confusion.

[2018-02-15 19:14] xt0rted commented on #2320
Thanks @blowdart and @petrpod for the followup on this. I'm glad to hear it was just an internal scan and that Kestrel has some features to help stop these.

[2018-02-15 19:37] halter73 commented on #2316
The heartbeat warnings are generally a pretty good indicator of threadpool starvation. That's what I'd be looking for if you collect a memory dump.

[2018-02-15 19:50] halter73 commented on #1865
@vcsjones Kestrel already allows the protocol version to be configured. https://stackoverflow.com/a/46833019/719967

[2018-02-15 20:23] vcsjones commented on #1865
@halter73 oh wow, OK - that's good to know. I apparently missed this. Would it make sense to update the title and description of this issue to make it about cipher suites specifically then?

[2018-02-15 20:33] halter73 commented on #1865
The SslProtocols config has been in Kestrel since 1.0, but back in 1.x it was on the HttpsConnectionFilterOptions type instead of the HttpsConnectionAdapterOptions type. I updated the title.

[2018-02-15 22:06] PureKrome commented on #2320
![](https://media.giphy.com/media/xT5LMyQOkWhX4HEvm0/giphy.gif)

[2018-02-16 01:03] davidfowl opened #2323 "Investigate startup issues with Kestrel"
@anurse @pakrym @halter73

[2018-02-16 01:05] pakrym commented on #2323
Performance

[2018-02-16 16:45] anurse commented on #2323
I too can use random software engineering terms. Multithreading. Concurrency. Thunk.

What's the context on this? Kestrel being slow to start-up?

[2018-02-16 16:56] pakrym commented on #2323
Yep, the issue you've seen when trying to start the server for every test.

[2018-02-16 18:23] sebastienros commented on #2277
After some investigations, it seems the `dotnet` process is still alive even after sending a `SIGINT` signal, even though the application has stopped.

The solution I am using is to wait for the process to be gone before starting a new application on the same port:

[code]

[2018-02-16 18:52] eklein23 opened #2325 "Multiple webhost instances in same app?"
I'm porting an existing application from Owin to Kestrel and running into an issue.  The application is split into two components, a front-end UI and back-end API.  Each is implemented in a separate assembly, but they run together in the same self-hosted executable under a common root.  In other words:

http://+:5000/front-end (html/js)
http://+:5000/back-end (web API)

With Owin, each component c

[2018-02-16 19:11] Tratcher commented on #2325
Kestrel doesn't support port sharing. I would have excepted an exception when you started the second site. You could use the HttpSys server instead, it's based on the same infrastructure you were using in Microsoft.Owin.

[2018-02-16 19:38] eklein23 commented on #2325
Thanks for the suggestion.  I forgot to mention the reason I'm using Kestrel is for cross-platform support, so http.sys isn't an option.

[2018-02-16 19:43] Tratcher commented on #2325
Ah. Cross-plat you'll need to redesign a bit. You can:
A) merge the apps into one instance and distinguish them with routing
B) give them different ports
or C) use a reverse proxy like nginx to forward from a shared port to different processes and/or ports.

[2018-02-16 23:43] mikeharder opened #2327 "Improve performance of Kestrel functional tests"
The Kestrel functional tests (`Kestrel.Transport.Libuv.FunctionalTests` and `Kestrel.Transport.Libuv.FunctionalTests`) take about 1m20s on my machine.  The long poles are:

# Test Discovery (20s)
[code]

# KeepAliveTimeoutTests.TestKeepAliveTimeout (60s)
Measure each of the 6 tasks executed in parallel.  I know some of them take at least 30s.

[2018-02-17 00:31] halter73 commented on #2223
I saw another null-ref (actually a NullReferenceException instead of an ArgumentNullException this time) post the #2247 and #2279 fixes. [Here's the commit](https://github.com/aspnet/KestrelHttpServer/commit/14332c5daf94a7b2d771dc5ba8a03e4b2f63a604) and some details:

[code]

[code]

[2018-02-17 01:12] #2243 closed

[2018-02-17 05:50] brightcr commented on #2086
I would like to work on this if this is still pending

[2018-02-17 06:54] Tratcher commented on #2086
There's an incomplete pull request you could try finishing. https://github.com/aspnet/KestrelHttpServer/pull/2300

[2018-02-17 16:17] zpodlovics opened #2331 "Unix socket fails with Unexpected exception in FrameConnection.ProcessRequestsAsync"
Hi,

I have tried to use Kestrel with unix socket behind Nginx, unfortunately after a successful startup the first unix socket connection will crash it. The same problem are reproducable with curl. The same test url on loopback connection works fine. The example project are attached ( [kestrelunixsocketnre.zip](https://github.com/aspnet/KestrelHttpServer/files/1733823/kestrelunixsocketnre.zip) ).

[2018-02-17 17:36] davidfowl commented on #2331
Yep this is a bug in Kestrel, we have 0 test coverage for this scenario and need to add it. I think we'll want to patch this in 2.0.x

/cc @halter73 @muratg

[2018-02-18 21:10] davidfowl commented on #2196
Are we doing this or not? If not, then lets close the bug but I think we should because we're going to be getting tons of customer reports that we can't decipher on 2.0

[2018-02-18 21:14] davidfowl opened #2334 "SocketTransport should do 0 byte reads to avoid allocating memory for idle connections"
This is an important issue for efficient websocket support. A common pattern for avoiding memory use  of idle connections is to only allocate a buffer when there's data. This is what libuv does internally but sockets requires a buffer to be passed into ReadAsync. Today we're allocating a 4K block per idle connection.

[2018-02-18 21:16] davidfowl commented on #1686
Ok I'm closing this issue out, I've filed other issues for the remaining work items.

[2018-02-18 21:16] #1686 closed

[2018-02-19 04:17] davidfowl opened #2335 "Fix connection management with connection middleware"
Today Kestrel exposes the `IConnectionBuilder` interface but connection management is only implemented in the HttpConnectionMiddleware. To properly port existing connection adapters to connection middleware, we need to move the connection management up a layer.

[2018-02-19 04:18] davidfowl commented on #1662
I'm moving this back to preview2 @muratg and @halter73. We should just complete the existing PR you have today and expose something on SocketOptions to control the defaults.

[2018-02-19 16:38] davidfowl commented on #2086
Fixed

[2018-02-19 16:38] #2086 closed

[2018-02-20 10:51] serialseb commented on #622
Same issue here.

You need to specify which trailers you want before you start sending the response. I'd expect to register the trailers i want when i initialise my code in the request pipeline, specifying i want to send certain headers. This has to be done before the body starts being sent, and forces chunked encoding. After the entity body is sent, i get a OnSendingTrailerHeaders() notification,

[2018-02-20 15:18] davidfowl commented on #2223
😢 😭

[2018-02-20 15:33] stephentoub commented on #2223
This looks like https://github.com/dotnet/corefx/issues/26452

[2018-02-20 17:37] brgrz opened #2336 "IIS Express/Kestrel locks bin files preventing rebuild"
When debugging an asp.net core from VS 2017 (latest build) and then stopping it the IIS Express keeps running and new build of the app is impossible due to the following compile time errors:

[code]

[2018-02-20 17:44] muratg commented on #2196
@Eilon This is a candidate for the "next" patch release.

[2018-02-20 17:45] muratg commented on #2331
@Eilon this is a patch candidate.

[2018-02-20 18:32] davidfowl commented on #2336
This doesn't really have anything to do with Kestrel as it runs as part of your application process. Visual studio usually kills the process when you ctrl + f5. Are you manually right clicking on IIS express in the tray and killing it?

/cc @BillHiebert

[2018-02-20 18:38] BillHiebert commented on #2336
@brgrz As David says, Visual Studio should be stopping the process prior to the build starting. It does leave IIS Express running but it should not be starting the kestrel process. By any chance is the browser still running and pointing to the site? I wonder if it is making a request and since IIS Express is still running it is re-starting the kestrel process.

[2018-02-20 18:47] brgrz commented on #2336
@davidfowl @BillHiebert I start it with f5 then stop it by stopping it through the toolbar. I leave the IIS Express running and then try to rebuild. It does not go through so then I go and manually stop IIS Express in the tray.

[2018-02-20 18:58] BillHiebert commented on #2336
@brgrz do you have a project you can share which reproduces this? So far I have been unsuccessful.

[2018-02-20 19:00] brgrz commented on #2336
@BillHiebert I'm currently troubleshooting this myself too moving to another machine and doing code changes too see if it is related to any of my code. Will let you know soon, please keep the issue open.

[2018-02-20 19:20] brgrz commented on #2336
@BillHiebert After moving this project to another machine the same thing happened and it happened without even debugging first (only ctrl+f5). I used Resource Monitor and found out it is dotnet.exe that has an open handle on built dlls. Why would that be happening?

I don't think I am able to provide a project with repro for this at least not at the moment.

[2018-02-20 19:23] brgrz commented on #2336
@BillHiebert So I closed all browsers windows and Postman desktop app and it still holding a handle on built dlls. The only thing left running now is IIS Express (besides the VS itself).

[2018-02-20 19:25] BillHiebert commented on #2336
@brgrz  If you Ctrl+F5, look at the process id of dotenet.exe, then build, VS should be terminating dotnet. If it is still running and failing the build is there a different process id for dotnet, or the same one? I am trying to understand if it is being restarted or never being terminated in the first place. I assume a new project does not exhibit this behavior?

[2018-02-20 19:35] brgrz commented on #2336
I've been testing it for the last couple of minutes..and..it's weird. The dotnet.exe process seems to be restarting, gets a new PID but not always is there an open handle put on the dlls.

[2018-02-20 19:41] brgrz commented on #2336
@BillHiebert How fast does the dotnet.exe shutdown after last request? Because I'm issuing requests with Postman in few minutes intervals and it seems what happens is dotnet.exe shutdown sometimes in between. Some requests take a couple of ms, while some take 12-30s (apparently when dotnet.exe is asleep).

[2018-02-20 22:56] BillHiebert commented on #2336
@brgrz I wonder if that is the problem.  VS probably needs to block until the process has completely terminated before allowing the build to proceed. I should be able to simulate your scenario and validate this is what is happening. Thanks.

[2018-02-21 00:18] BillHiebert commented on #2336
If dotnet.exe is restarting it is likely the browser is pinging the server. This will cause IISExpress to spin up the process again.

I checked the code and VS does a Process.Kill() on dotnet.exe so it should terminate relatively quickly - though we really need to block until it actually terminates since the Kill is asynchronous.

I'll look at both of these issues.

[2018-02-21 01:59] mikeharder opened #2338 "Throughput Regression in Plaintext Libuv"
There is a 10-15% throughput regression in Plaintext Libuv between 2.0.0 and 2.1.0-preview2-30159:

Hardware|KestrelThreadCount|2.0.1|2.1.0-preview2-30159|Delta
-----|-----|-----|-----|-----
Physical|2|1,842,532|1,659,272|-10%
Cloud|Default|517,623|440,627|-15%

We have identified the source commits for two recent regressions:

# Jan 4, 2018
* React to pipeline changes (https://github.com/aspnet/K

[2018-02-21 07:34] davidfowl commented on #2338
Here are the relevant PRs in pipelines that caused the performance regressions:

https://github.com/dotnet/corefxlab/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+author%3Apakrym+merged%3A%3E2017-10-17

[2018-02-21 17:11] pakrym commented on #2338
@davidfowl nice one!
![http://www.reactiongifs.com/r/Tom-Cruise-crazy-laugh.gif](http://www.reactiongifs.com/r/Tom-Cruise-crazy-laugh.gif)

[2018-02-21 17:30] davidfowl commented on #2338
😂

[2018-02-21 18:57] mikeharder commented on #2338
@pakrym: On a serious note, do you have any more information about which changes (or parts of changes) caused the throughput regressions?

[2018-02-21 19:14] davidfowl commented on #2338
The first 2 were the big ones.

- https://github.com/dotnet/corefxlab/pull/1967
- https://github.com/dotnet/corefxlab/pull/1974

[2018-02-21 19:42] mikeharder commented on #2336
This issue is being tracked here: https://developercommunity.visualstudio.com/content/problem/161811/output-exe-locked-by-iis-express-use-to-debug-same.html

[2018-02-21 19:42] #2336 closed

[2018-02-21 20:09] benaadams commented on #2338
At a guess 2 issues would be:

Advance going from inlinable method, to virtual method; which should hopefully be fixed by the introduction of `Commit` to `BufferWriter` née `OutputWriter` https://github.com/dotnet/corefxlab/pull/2113

Other is `ReadOnlySequence` being able to represent multiple objects, and pattern matching on the type; which should hopefully be somewhat addressed by using the fla

[2018-02-21 20:31] #2192 closed

[2018-02-21 20:33] halter73 opened #2340 "Create request body pipe reader by decorating the connection pipe reader"
This should be more efficient than pumping request body data into a new pipe.

[2018-02-21 20:43] muratg commented on #2229
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-21 20:43] #2229 closed

[2018-02-21 20:46] muratg commented on #2231
Triage decision: We won't be doing this in 2.1 or 2.2.

[2018-02-21 20:49] muratg commented on #2244
After chatting with @shirhatti, putting this tentatively in 3.0.0.

[2018-02-21 20:52] muratg commented on #2245
Let's have a more descriptive text than "Request timeout".

[2018-02-21 20:55] #2248 closed

[2018-02-21 20:56] muratg commented on #2249
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-02-21 20:56] #2249 closed

[2018-02-21 20:57] muratg commented on #2250
Dup of https://github.com/aspnet/KestrelHttpServer/issues/2171

[2018-02-21 20:57] #2250 closed

[2018-02-21 20:58] muratg commented on #2253
Thanks @zoinkydoink !

[2018-02-21 20:58] #2253 closed

[2018-02-21 21:16] muratg commented on #2254
@davidfowl @halter73 any way to do this in a transport agnostic way? Do we want to do this anytime soon?

(Backlogging for now, but if it's important enough, we'll bring hit back.)

[2018-02-21 21:20] muratg commented on #2301
(Assigning to @halter73  who's already reviewing the PR)

[2018-02-21 21:21] muratg commented on #2302
(Assigning to @halter73  who's already reviewing the PR)

[2018-02-21 21:23] muratg commented on #2303
(Assigning to @halter73  who's already reviewing the PR)

[2018-02-21 22:04] muratg commented on #2323
Who is looking into this?

[2018-02-21 22:57] kekekeks opened #2341 "FrameRequestStream/HttpRequestStream is not compatible with CryptoStream"
[code]

`CryptoStream.Dispose` is calling `Flush` on the underlying stream even if said stream is read only - https://github.com/dotnet/corefx/issues/27326

Apparently this is intended behavior of `CryptoStream` and `Flush` shouldn't ever throw exceptions: https://github.com/dotnet/corefx/pull/27327#pullrequestreview-98384813

[2018-02-22 23:30] halter73 commented on #2331
@zpodlovics I was unable to reproduce the failure. Here's what I see:

[code]

[code]

[code]

Is there anything else I need to do to reproduce the bug? Our theory is that Kestrel's EventSource was enabled when it shouldn't be. Is it possible that you enabled some sort of diagnostic feature that cause this?

[2018-02-22 23:37] halter73 commented on #2331
We should definitely add tests though. I didn't realize until seeing this issue that curl has a `--unix-socket` flag. That should make adding a basic linux/travis-only test to ensure a simple request succeeds pretty trivial.

[2018-02-22 23:46] zpodlovics commented on #2331
@halter73 You are right, I have environment variables for dotnet core in /etc/profile.d/dotnet.sh

[code]

setting the COMPlus_EnableEventLog variable to 0 solves the exception problem. However disabling this will introduce an another, as it will be no longer possible (yet) to have memory allocation stack trace flamegraph on linux [1] without it.

[1] http://blogs.microsoft.co.il/sasha/2018/02/06/

[2018-02-23 00:44] #2303 closed

[2018-02-23 00:45] #2302 closed

[2018-02-23 12:13] tmds commented on #2334
@davidfowl @halter73 Sockets supports passing an empty array as a way to wait for pending data.

[2018-02-23 16:57] davidfowl commented on #2334
Yes, that's what we're going to do 😄

[2018-02-23 22:29] #2020 closed

[2018-02-24 05:59] peteryangthinkgeo commented on #2135
I encountered the same issue.

ASP.NET Core 2.0 (Framework 4.6.1)
Mono 5.8.0.127
Ubuntu 16.04.2

[2018-02-24 06:03] Daniel15 commented on #2135
I ended up switching to .NET Core to avoid this issue.

[2018-02-24 06:12] peteryangthinkgeo commented on #2135
@Daniel15 so you mean you don't use ASP.NET Core 2.0 and use SelfHost instead?

[2018-02-24 06:24] Daniel15 commented on #2135
@peteryangthinkgeo I'm using .NET Core + Kestrel rather than Mono + Kestrel.

[2018-02-24 06:27] davidfowl commented on #2341
Fixed by #2342

[2018-02-24 06:27] #2341 closed

[2018-02-24 06:28] peteryangthinkgeo commented on #2135
@Daniel15 OK, I see, thanks very much.

[2018-02-26 07:38] clouddra commented on #2214
@JulianRooze @TomJannes  I am encountering the similar issues. The GC refuses to run but in our case the docker container consumes all of host's memory without an OOM error. It runs without any issues on bare metal.
I managed to fix it by running it in docker compose and setting `mem_limit`. The GC is forced to run once it hits the container mem limit. Just wondering is there a better solution tha

[2018-02-26 18:14] mayconbeserra commented on #2206
Hi @halter73 I'm getting the same issue in our Stage Environment, which I need to fix ASAP. How can I fix that? is there any hotfix?

I'm using .NET Core (microsoft/aspnetcore:2.0.5)

[2018-02-26 19:17] ryanbrandenburg commented on #2282
Any movement on this?

[2018-02-27 09:07] RehanSaeed opened #2349 "Add Hybrid RSA + ECDSA Certificates Support for Speed + Security"
NGINX v1.11.0 has support for [hybrid RSA and ECDSA certificates](https://scotthelme.co.uk/hybrid-rsa-and-ecdsa-certificates-with-nginx/) i.e. it uses ECDSA where it can and falls back to RSA certificates where browser support is a problem.

ECDSA has a doubly wammy speed and security boost that people as shown [here](https://scotthelme.co.uk/ecdsa-certificates/), so implementing this would be a w

[2018-02-27 11:14] justinwyer commented on #2335
Looks interesting & challenging, would like to have a go at this if no one else is working on it. Do you have any further thoughts to share @davidfowl?

[2018-02-27 20:30] FrederickBrier commented on #1501
I downloaded and was reading the WebHostBuilderTests in Hosting to try and understand if there was a similar mechanism that avtc created with his [GracefulShutdown](https://github.com/avtc/GracefullShutdown) extension. I need to save state once the Kestrel web server is shutdown and has no active connections. It seems that the Hosting is a generic IServer lifecycle management, and not doing active

[2018-02-27 22:12] pakrym opened #2350 "Reenable ApiCheck when fixed"
https://github.com/aspnet/BuildTools/issues/592

[2018-02-27 22:22] FrederickBrier opened #2351 "Knowing when Kestrel has stopped and completed finishing processing requests"
This is a feature request. I just finished digging through the Kestrel source, primarily the KestrelServer class, looking for a way to know the server has stopped accepting connections and all processing of requests is complete. There are no events or reactive extensions, no lambda(s) to inject, no lifecycle methods that could be overridden. All the data members are private. None of the methods ar

[2018-02-27 22:31] Tratcher commented on #2351
You're looking for IApplicationLifetime.ApplicationStopped
https://github.com/aspnet/Hosting/blob/23b4ecd8d328c46954caca444410487991a485e8/src/Microsoft.AspNetCore.Hosting.Abstractions/IApplicationLifetime.cs#L30

[2018-02-27 23:07] muratg commented on #2327
@mikeharder Will you be able to look into yourself?

[2018-02-27 23:20] muratg commented on #2323
I don't understand what this issue is, so closing this.

[2018-02-27 23:20] #2323 closed

[2018-02-27 23:48] davidfowl commented on #1662
Punting this from preview2. After running some experiments this change isn't worth it. Though it does clean up the fact that the scheduler is the only abstraction used inside of kestrel, there's no gain to be had at the moment. I'm moving it to the backlog.

https://github.com/aspnet/KestrelHttpServer/pull/2348

[2018-02-28 00:26] shirhatti commented on #2349
@RehanSaeed If I understood correctly, you're looking to bind multiple certificates to the same binding.

This is transparent to Kestrel.

I know this already works on Windows where you can you use a tool like [certutil.exe to merge multiple pfx files into a single pfx](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/certutil#BKMK_MergePFX) and use that merged certi

[2018-02-28 00:27] shirhatti commented on #2349
@blowdart If he has any inputs here

[2018-02-28 00:30] blowdart commented on #2349
No comments, it's up to the underlying transport provider, not Kestrel

[2018-02-28 00:31] Drawaes commented on #2349
Its up to SslStream, and I believe the Schannel implementation from memory takes only a single handle from the X509Certificate2 and passes it to the AuthHandle that is used by SChannel (even though its an array).

I could be wrong it's happened before (and according to my wife is more often than I like to believe).

[2018-02-28 02:05] FrederickBrier commented on #2351
That is possible. I am a read-the-source-luke kind-of-guy, and I am just not seeing where ApplicationStopped is done after all the tasks are complete. ApplicationStopped is called in an exception block in SocketTransport and in LibuvThread, but I am not seeing where it called as part of an orderly shutdown, stopping listening, letting all the requests (Task)s be serviced and completed.

The closes

[2018-02-28 02:11] Tratcher commented on #2351
That's because it's called in Hosting after StopAsync completes.

[2018-02-28 07:37] mvsouza opened #2352 "-13 EACES error during container startup"
I'm developing a personal [project](http://github.com/mvsouza/SouzaCIQuoting), and I'm trying to deploy the staging environment on Heroku. Although I pushed the image to Heroku, the container fails on the startup.

The Heroku log showed the stack trace:

2018-02-28T01:29:42.704675+00:00 heroku[web.1]: Starting process with command `dotnet SCIQuoting.Webapi.dll`
2018-02-28T01:29:47.463506+00:00 app

[2018-02-28 07:49] davidfowl commented on #2352
Seems like you don't have access to the port kestrel is trying to bind to. How does the port mapping on heroku work? Do you get passed the port in an env variable?

[2018-02-28 09:21] RehanSaeed commented on #2349
@shirhatti Was not aware that you could merge pfx files.
@Drawaes So it doesn't work and changes are requried in corefx. I guess nobody has ever tried this before.

[2018-02-28 13:34] samsosa commented on #2349
X509Certificate2 only load the first (or last?) certificate in a merged pfx collection. I've tested little bit around but because X509Certificate2 always is a single certificate store it cannot be RSA and ECDSA at the same time.

Maybe SslStream.AuthenticateAsXXXX can be extended to accept multiple X509Certificate2 instances sorted by priority, selected by cipher compatibility?

Or just an SslStre

[2018-02-28 16:36] mvsouza commented on #2352
@davidfowl,  that helps alot!
I was reading about how heroku works in that matter. It seems that it export a random port on "PORT", so I'm trying to initialize the container like this:

`CMD ["dotnet", "SCIQuoting.Webapi.dll","--ASPNETCORE_URLS","http://+:$(PORT)"]`

[2018-02-28 16:44] davidfowl commented on #2352
Is that what you're doing that caused the error?

[2018-02-28 17:23] FrederickBrier commented on #2351
Ah, so Hosting calls the IServer.StopAsync() passing in its own cancellation token. When that task completes, you know that all connections have been closed. Going a bit further, it looks like WebHostService.OnStop() is the method in which the StopAsync() is eventually called when the application is deployed as a Windows service. After all the connections are closed, it calls OnStopped() which can

[2018-02-28 17:23] #2351 closed

[2018-02-28 17:44] mikeharder commented on #2327
Yes, I can look into this eventually, but it's a lower priority.

[2018-02-28 18:20] mvsouza commented on #2352
No, I've tried that CMD, in onder to run with a dynamic port. Now I also tried like:

CMD ["dotnet", "SCIQuoting.Webapi.dll", "--server.urls", "http://+:$(PORT)"]

[2018-02-28 18:23] mvsouza commented on #2352
Before I wasn't passing any parameter, but steal both of them didn't work.

[2018-02-28 18:39] davidfowl commented on #2352
These aren't command line arguments they are environment variables. Also I'm not sure the PORT variable is available at container image build time (which is what you're kinda doing). If the environment only exists at runtime, then you need to change the code in your application to read it and consume it.

https://github.com/mvsouza/SouzaCIQuoting/blob/61fbaddb939e79af45940e05d416f5092113a8fe/src/S

[2018-02-28 20:33] mvsouza commented on #2352
I've tried to via cli on my windows:
`dotnet SCIQuoting.Webapi.dll --server.urls http://0.0.0.0:$PORT`
It worked!
I will keep aware of whatever happens.
You  rock!

[2018-02-28 21:33] andrewbull99 opened #2353 ""BadHttpRequestException - Request timed out" With Large Requests"
We are encountering a problem with Kestrel timeouts when making large requests to a .NET Core API. The requests are being redirected (for authentication purposes) but redirecting large requests seems to cause Kestrel to choke. It's fine with smaller requests, but anything over a couple of hundred MB seems to trigger the timeout. I think this relates to the message body draining functionality. Appa

[2018-03-01 02:32] mvsouza commented on #2352
Found out a way!
Already pushed the changes. I edit the dockerfile to use the dynamic port on deploy, and configured travis to push it automatically to Heroku on merging to master.
Thanks for helping my!

[2018-03-01 03:54] #2301 closed

[2018-03-01 08:37] Itoktsnhc commented on #1267
Same problem here, randomly no response on my asp.net core project on Azure app service (IIS and ASP.NET Core Module).
Another related issue: https://github.com/aspnet/Home/issues/1950

The typical metric of requests indicators as shown below, when no response error happens, the number of threads being used in the dotnet core will jump up to 400 or 500 rapidly.

![image](https://user-images.github

[2018-03-01 09:21] justinwyer commented on #2353
@andrewbull99 if you could also provide the multipart example that would be great too. I'll try to reproduce myself on Windows, OS X and Linux.

[2018-03-01 09:24] davidfowl commented on #2335
@justinwyer this is a bit tricky because kestrel has a bunch of logic specific to HTTP that we need to figure out how to decouple first. Another option would be to track raw connections outside of http and perform the shutdown for that before or after the http specific code path.

[2018-03-01 09:28] justinwyer commented on #2335
@davidfowl I noticed 😂I'll ponder it a bit more over the weekend but we definitely need to decouple. Let's see what I come up with...

[2018-03-01 12:19] tmds commented on #1943
@muratg @cesarbs are you tracking this elsewhere? Sockets transport should not be used in production without a timeout.

[2018-03-01 23:16] benaadams commented on #2231
corefx PR "Support UnixDomainSocketEndPoint on Windows" https://github.com/dotnet/corefx/pull/27631

[2018-03-02 20:48] Tratcher commented on #2206
@mayconbeserra did you try updating to the packages on https://dotnet.myget.org/gallery/aspnet-2018-feb-patch-public ?

[2018-03-02 22:52] andrewbull99 commented on #2353
I've added a [multi-part request example solution](https://github.com/andrewbull99/RequestTimeOutReproMultiPart). I'm using a two files (one 50ish MB, the other 800 MB) and running this I can make it timeout every time when running directly against Kestrel.

You can also achieve the same thing by just using Curl:
<pre>curl -F 'file1=@PathToLargeFile1' -F 'file2=@PathToLargeFile2' http://localhost:

[2018-03-02 23:48] DamianEdwards opened #2357 "Support SNI to enable multiple HTTPS hosts on single server"
There are three parts to this:
1) Work with corefx to define the SslStream API: dotnet/corefx#24553
2) Expose the new configuration in Kestrel's Https APIs.
3) Expose some form of this in Kestrel's config file format

@Tratcher @muratg

[2018-03-02 23:52] Tratcher commented on #2357
See https://github.com/dotnet/corefx/issues/24553, https://github.com/aspnet/KestrelHttpServer/issues/2103

[2018-03-03 00:41] muratg commented on #2231
I'd like to talk a little more on this, bringing back to triage.

cc @natemcmaster

[2018-03-03 05:02] fbrier opened #2358 "Abstraction layer for Windows Service and systemd?"
This is a question. I just finished getting my .NET Core ASP app deployed as a service, and thank you for [the help](https://github.com/aspnet/KestrelHttpServer/issues/2351). But I was trying something that might just not be possible - deploying the same app as a service under Ubuntu, [following instructions to deploy it as a service using systemd](http://pmcgrath.net/running-a-simple-dotnet-core-

[2018-03-03 09:55] davidfowl commented on #2358
That's correct. It depends on ServiceBase which is currently a type that works on windows only.

There's a way to check the OS you're running on via https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.runtimeinformation.isosplatform?view=netcore-2.0#System_Runtime_InteropServices_RuntimeInformation_IsOSPlatform_System_Runtime_InteropServices_OSPlatform_.

There is no equival

[2018-03-03 09:55] #2358 closed

[2018-03-03 09:59] zpodlovics commented on #1662
Would it be possible to have a per core shared nothing and message passing scheduling? [1] [2] It may  possible to support Seastar HTTP as transport [3] [5] for Kestrel. Please note Windows also have official DPDK support [4].

[1] http://www.seastar-project.org/shared-nothing/
[2] http://www.seastar-project.org/message-passing/
[3] http://www.seastar-project.org/http-performance/
[4] https://www.

[2018-03-05 03:45] justinwyer commented on #2353
Thanks @andrewbull99 I will put together a test for this and then start working on a fix.

[2018-03-05 04:04] davidfowl commented on #2353
@justinwyer 👍

[2018-03-05 07:03] jkotalik opened #2359 "TestFailure: Http2ConnectionTests.ConnectionResetLoggedWithActiveStreams"
The collection contained 0 matching element(s) instead of 1.
   at Microsoft.AspNetCore.Server.Kestrel.Core.Tests.Http2ConnectionTests.<ConnectionResetLoggedWithActiveStreams>d__127.MoveNext() in C:\b\w\1e8cd6334ef22651\test\Kestrel.Core.Tests\Http2ConnectionTests.cs:line 1974
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.ExceptionServices.Except

[2018-03-05 19:03] natemcmaster opened #2360 "Switch default transport to sockets"
Currently, it is our goal by 2.1.0 to make sockets the default transport. We made the [switch in early builds of 2.1.0](https://github.com/aspnet/KestrelHttpServer/pull/2100) but reverted that for preview1 (https://github.com/aspnet/KestrelHttpServer/issues/2220) due to performance issues.

Motivations:
 - broad platform support. Wherever managed sockets are supported, Kestrel should work. Doesn't

[2018-03-05 19:09] natemcmaster opened #2361 "Remove package dependency from Kestrel to Kestrel.Transport.Libuv"
Related issue: #2360

Remove the package dependency from Microsoft.AspNetCore.Server.Kestrel to Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.

This will break those who only depend on the Microsoft.AspNetCore.Server.Kestrel package _and_ who call `WebHostBuilderLibuvExtensions.UseLibuv()`. These users can fix their projects by re-adding the dependency to libuv.
[code]

To minimize the numbe

[2018-03-05 19:33] chrisowhite commented on #2206
@Tratcher I've been getting this same error while calling the `ReadFormAsync` extension. I upgraded to the version on the February 2018 patch feed and I'm still seeing it with about the same frequency.

[code]

[2018-03-05 19:41] Tratcher commented on #2206
@halter73 who is going to take a look at more of these timeoutes.

[2018-03-05 23:29] ryanbrandenburg opened #2362 "Broken test: ConnectionResetLoggedWithActiveStreams"
A lot of tests seem to have been broken by our move to Http2. I'm Skipping them for now, but we need to triage and fix them.

Non-exhaustive list of failures [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:CollectionDiff,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[code]

Affected tests:
- ConnectionResetLoggedWithActiveStreams

[2018-03-05 23:52] Tratcher commented on #2362
Duplicate of https://github.com/aspnet/KestrelHttpServer/issues/2359?

[2018-03-06 00:04] #2362 closed

[2018-03-06 00:28] #2359 closed

[2018-03-06 08:19] tmds commented on #2338
Maybe part of the regression is due to Meltdown/Spectre fixes?

[2018-03-06 08:21] tmds commented on #2334
@Tratcher I can take a look at implementing this if you want.

[2018-03-06 08:36] davidfowl commented on #2334
I was thinking that we should also add options to elide this if somebody didn't care about idle memory usage, default would be on though. We need to measure the effects on the techempower benchmark as well.

[2018-03-06 08:43] Drawaes commented on #2334
Why would the default be on? I think a small buffer (4k) per connection for less kernel calls (data arrived and now I have to collect) is the "normal" state of things. Having 1000 connections is only 4mb of latent memory.

If you have 50k connections (SO I am looking at you) then you probably know you want this on.

[2018-03-06 09:25] davidfowl commented on #2338
@tmds nope, it's mostly the pipeline API changes. @benaadams and @pakrym have done some good work to get that back. We're now within 3% without the big changes from CoreFx yet. My assumption is that the next time we grab bits from corefx this will be resolved.

[2018-03-06 10:00] tmds opened #2365 "SlabMemoryPool page size"
SlabMemoryPool is using PageSize.

[code]

Suppose page size is large, e.g. 2MB. Now our application is using 2MB buffers and a slab is 64MB.
Perhaps it is desired to still use 4KB buffers and have a slab of 2MB?

CC @davidfowl @benaadams

[2018-03-06 10:29] davidfowl commented on #2365
Yea, that change is dubious @benaadams. We might be better off going with a fixed value here.

[2018-03-06 13:22] Tratcher commented on #2334
@tmds go right ahead.

[2018-03-06 18:05] Beffyman commented on #2151
@halter73 Any news on when 2.0.6 will be stable?

[2018-03-06 18:13] muratg commented on #2361
@natemcmaster Libuv package is directly in All I assume?  So if you're using the metapackage, you wouldn't be broken?  (As long as we don't remove it)

[2018-03-06 18:15] natemcmaster commented on #2361
Correct you won't be broken. No, .All doesn't directly reference "Libuv", but it does directly reference "Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv", so you still get the Libuv package transitively in .All

[2018-03-06 19:48] benaadams commented on #2365
https://github.com/dotnet/corefxlab/pull/2099#discussion_r167065489

[2018-03-06 20:14] briziomusic commented on #1276
+1
I need this too. I need something managed. I can't discovery all my api endpoint and run requests because all my apis requires authentication

[2018-03-06 22:35] halter73 commented on #2206
@chrisowhite Is it possible the request body isn't actually being uploaded at the default minimum rate of 240 bytes/second? If so, you can reconfigure the minimum request body data rate. [This doc](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?tabs=aspnetcore2x#how-to-use-kestrel-in-aspnet-core-apps) shows how in the "Minimum request body data rate" subsection.

[2018-03-06 22:47] halter73 commented on #2151
@muratg?

[2018-03-06 23:07] chrisowhite commented on #2206
@halter73 I'd say it's highly unlikely as I'm seeing it on back channel communication to our identity server, but I won't go as far as it's impossible. I can try changing it and see what happens. This is in our dev environment,  which sees about 8000 hourly requests to our idsrv, and I'll see it maybe 8 times a day. Our production environment is in the 200k hourly request range, but we haven't dep

[2018-03-06 23:14] halter73 commented on #2206
@chrisowhite Do those requests happen to be coming from linux-based dotnet applications using HttpClient?

[2018-03-06 23:21] muratg commented on #2223
Moving to backlog, it's a rare failure, and the actual issue is in CoreFX

[2018-03-06 23:21] chrisowhite commented on #2206
All traffic to idsrv is coming from Windows-based dotnet applications using HttpClient. We have a mix of Core and full framework applications that depend on it. We've been using IdentityServer4 on net core 1.1 since May of last year. We're currently testing 2.0 and this is the first we're seeing this error.

[2018-03-06 23:24] chrisowhite commented on #2206
@halter73 We're using Serilog. Is there any targeted trace logging we can turn on to help troubleshoot?

[2018-03-06 23:33] muratg commented on #2365
Moving to Common repo: https://github.com/aspnet/Common/blob/dev/shared/Microsoft.Extensions.Buffers.Sources/SlabMemoryPool.cs#L24

[2018-03-06 23:34] muratg commented on #2365
This issue was moved to aspnet/Common#325

[2018-03-06 23:34] #2365 closed

[2018-03-06 23:37] muratg commented on #2353
@JunTaoLuo Could you also take a look?

[2018-03-06 23:37] muratg commented on #2353
@justinwyer Do you have any interesting findings so far?  Thanks for looking into it!

[2018-03-06 23:38] #2352 closed

[2018-03-06 23:42] muratg commented on #2307
Historical results: http://aspnetci/project.html?projectId=XPlat&testNameId=-8133551501687332782&tab=testDetails

[2018-03-06 23:47] muratg commented on #2282
Historical results: http://aspnetci/project.html?projectId=XPlat&testNameId=-8597986509470181680&tab=testDetails

@JunTaoLuo This one seems to have started failing and never passed (see the history above).  It's probably higher pri investigation than the other flaky tests.

[2018-03-06 23:53] halter73 commented on #2206
You could try collecting "info"-level and higher logs from "Microsoft.AspNetCore.Server.Kestrel". You should be able to see logs like this: https://github.com/aspnet/KestrelHttpServer/blob/49cd0ef97fed1c64514b729c20598b6128567a95/src/Kestrel.Core/Internal/Infrastructure/KestrelTrace.cs#L68-L69.

Another thing you could try is writing middleware to buffer the entire request body into a MemoryStream

[2018-03-06 23:57] chrisowhite commented on #2206
I'll try both of the above. We've put our idsrv upgrade on hold due to this but we're doing just fine with our current version. I'm here to help in any way I can to figure this out.

[2018-03-07 00:23] muratg commented on #2151
@Beffyman Kestrel patch will be out this month per the current plan.

[2018-03-07 03:46] justinwyer commented on #2353
@muratg I have a unit test which reproduces this with a multipart request as small 32MB split into two parts of 16MB each. A BadHttpRequestException (413 Request too large) is been thrown even though MaxRequestBodySize is set to 256MB, this exception never results in a response to the client instead a hard socket close occurs. I will create a pull with the test so long. Here is a more detailed sta

[2018-03-07 04:04] justinwyer commented on #2353
I hadn't looked into solving it yet but this points to the problem be@muratg I have a unit test which reproduces this with a multipart request as small 32MB split into two parts of 16MB each. A BadHttpRequestException (413 Request too large) is been thrown even though MaxRequestBodySize is set to 256MB, this exception never results in a response to the client instead a hard socket close occurs. I

[2018-03-07 05:57] justinwyer commented on #2353
@JunTaoLuo take a look at the test here https://github.com/aspnet/KestrelHttpServer/compare/dev...justinwyer:2353-large-requests-timeout

[2018-03-07 17:16] justinwyer commented on #2353
@JunTaoLuo so the error is occuring in Http1MessageBody.cs:92
[code]

[2018-03-07 17:42] diegogarciaa commented on #2214
We are also seeing similar issues with our centos server... trying on my local machine, with ubuntu server, memory is being correctly managed.

[2018-03-07 20:27] #2245 closed

[2018-03-08 06:49] bidianqing commented on #639
install package `Microsoft.Extensions.Configuration.CommandLine`

[code]
`dotnet WebApplication1.dll --server.urls "http://localhost:5100;http://localhost:5101;http://*:5102"`

`firewall-cmd --permanent --zone=public --add-port=5102/tcp`

`firewall-cmd --reload`

![image](https://user-images.githubusercontent.com/12196280/37137222-dd8f3738-22df-11e8-85af-3b906d1ea24c.png)

[2018-03-08 08:28] SlyDen commented on #2214
@clouddra ... well AFAIK it is the way containers works. If I don't limit memory then an app inside the container gets the host's stats (memory, cpu etc) and if I set the limits (e.g. memory) cgroup aware apps can get the real numbers.
ASP.Net Core is in better situation than Java though. For my Java app I need not only set the exact limits in the start config but also use some tricks (like LXCFS)

[2018-03-08 08:29] DennisBaekgaard commented on #2125
We experienced this today in EU North, target .NET Core 2.0. The app had been running fine for a week, and just died during the night - A restart fixed it, but it's a little iffy having to rely on a manual restart.

[2018-03-08 14:31] tmds commented on #2334
I'm running the top-level ./build.sh script of the repo and it fails while restoring packages:
[code]
Any thoughts on why I get this?

[2018-03-08 15:46] davidfowl commented on #2334
Are you on the dev branch?

[2018-03-08 15:49] tmds commented on #2334
yes, dev branch

[2018-03-08 15:52] davidfowl commented on #2334
Where are those versions coming from? We're at https://github.com/aspnet/KestrelHttpServer/blob/42fbba3520fe188f35a83e5f9542893b64c5284f/build/dependencies.props

[2018-03-08 19:40] stephentoub commented on #2223
I'm hopeful this will be fixed by https://github.com/dotnet/corefx/pull/27866.

[2018-03-08 20:42] JunTaoLuo commented on #2353
Usually, the error is produced when the request body is being sent too slowly and the `MinRequestBodyDataRate` of 240 bytes/s is not met. However, in this case, the issue is that the repro does not consume the body of the request and a default timeout of 5 seconds for reading the request was exceeded. This is by design.

I have been able to resolve the exception by changing the method signature to

[2018-03-08 21:12] andrewbull99 commented on #2353
I don't think the intent of the 5 second RequestBodyDrainTimeout is for Kestrel to error after if the timeout is exceeded, is it? I thought it was intended to limit the latency of requests to Kestrel, while still allowing validation of the request body. @halter73, can you comment here? [Some of your previous comments touch on this](https://github.com/aspnet/KestrelHttpServer/issues/1913#issuecomme

[2018-03-08 23:20] andrewbull99 commented on #2353
I'm not very familiar with the Kestrel code, so this could be way off, but...

I think we're seeing two different issues at work here.

In the dev branch, I'm seeing the same error as @justinwyer, where the code is encountering an unexpected end of request in the PumpAsync method of Http1MessageBody. In my testing, this seems to happen with pretty much any file (even down to 1kb), so long as the r

[2018-03-09 00:31] halter73 commented on #2353
Kestrel is behaving as intended here.

One thing you have to consider is how application middleware is invoked before the request body has been processed/consumed. There is no request body buffering by default. It's entirely possible by the time your app is invoked the client hasn't even started sending the request body.

It's up to middleware like the form reader to consume the entire request bod

[2018-03-09 01:41] andrewbull99 commented on #2353
@halter73, thank you for your detailed response. I really appreciate it.

The problem with the connection being aborted is that IIS then returns the client HTTP 502 'Bad Gateway'. Is that expected behaviour also?

It's not that I want to avoid the cost of setting up a new connection, I just want to avoid killing the integration with IIS so that the client actually receives the HTTP 302.

I will tr

[2018-03-09 02:48] halter73 commented on #2353
Interesting about the 502. IMHO, IIS should return a response as soon as it receives it, but if it doesn't you'll have to deal with consuming the request body in app code/middleware.

[2018-03-09 03:14] Tratcher commented on #2353
Most clients aren't bidirectional, and that goes for WinHttp which ANCM uses. They don't return the response until the request is finished.

[2018-03-09 07:58] qazq opened #2370 "Slow response when sending concurrent requests from the same connection"
I have a web API server that implements by ASP.NET core 2.0.

I have a web page that implements by Angular5. The page calls two different API concurrently. Each API response time about 300ms, but If I call API one by one, each response about 20ms. It seems like the request are locked by something?

To verify this issue, I create a Web API project by using default Visual Studio 2017 template.

[cod

[2018-03-09 13:38] samsosa commented on #2370
Using `Task.Result` is not a valid async pattern.

And cause you're not waiting until Task.Run() is done the stopwatch value is wrong calculated.

[2018-03-09 22:14] BrennanConroy opened #2372 "Accept upgrade requests with content"
Upgrade requests are allowed to have content in them, but currently we respond with a 400.

`Connection id ""0HLC5IN9VF1PO"" bad request data: ""Requests with 'Connection: Upgrade' cannot have content in the request body.""`

https://github.com/dotnet/corefx/issues/27912

[2018-03-09 23:42] JunTaoLuo commented on #2197
I went through the test history and I don't see this test failure mode. The only times that this test failed were recorded in http://aspnetci/project.html?tab=testDetails&projectId=XPlat&testNameId=-6045451249543164306. However, these test failures were cause by other issues such as auth so I'm going to close this as no repro until we see this failure again.

[2018-03-09 23:58] andrewbull99 commented on #2353
Thanks for your help everyone. I am able to work around the draining timeout / IIS 502 issue by explicitly draining the request body as halter73 suggested, though interestingly not if I use async. That seems to cause other issues.

I agree that what Kestrel is doing makes sense and is preferable, but it's not great that IIS returns HTTP 502 in this scenario. Does that warrant creating an issue on

[2018-03-10 00:12] halter73 commented on #2353
I'm interested in what the problem was with consuming the body asynchronously. @andrewbull99 Do you have any more details about this?

[2018-03-10 00:58] ryanbrandenburg opened #2373 "Broken tests: ResponseFormats_Kestrel_ContentLength etc"
A bunch of these tests were broken by the new runtime [on High Sierra](http://aspnetci/viewLog.html?buildId=418684&tab=buildResultsDiv&buildTypeId=XPlat_HighSierraOsxUniverse#testNameId-1295381151259444512).

[code]

[2018-03-10 01:03] andrewbull99 commented on #2353
So if I do this:

[code]

Kestrel throws an unhandled exception like this:

<pre>
2018-03-09 16:46:55.1625 [9][KestrelTrace.ConnectionStart] DEBUG: Connection id "0HLC641LVOIMM" started.
2018-03-09 16:46:55.2225 [5][HostingApplicationDiagnostics.LogRequestStarting] INFO: Request starting HTTP/1.1 POST http://andytest.dev-globalrelay.net:5000/api/values/upload multipart/form-data; boundary="8c65ad2

[2018-03-10 01:09] halter73 commented on #2353
Never use `async void` in ASP.NET Core code (or most anything... maybe WPF callbacks but even then...).

Change it to `async Task` and you should be fine. I always recommend async code over sync code if possible. I think it's particularly important to use async code for things like consuming a large request body.

[2018-03-11 14:14] Berreek opened #2374 "Blocking calls occurs while serializing slightly bigger JSON's in responses"
### Description
Hello.
We were performing at company I work some performance tests for our solution built on top of .Net Core. One of test cases is returning big JSON responses. We discovered with help of  [Ben.BlockingDetector](https://github.com/benaadams/Ben.BlockingDetector) that for responses with response body bigger than ~64kb's blocking calls occurs. Stacktrace below:

   at System.Runtime

[2018-03-11 15:08] Tratcher commented on #2374
Kestrel has a write-behind buffer so small writes can complete immediately but writes that are larger than the buffer may block. Kestrel can't do much more here, any changes would have to happen up stack in JsonOutputFormatter.

[2018-03-12 03:33] zhongj2 opened #2375 "dotnet core 2 app returning 502.3 error"
### Description
Occasionally, we are observing our dotnet core 2 application returning 502.3 errors.

The application is been served via IIS and we verified that the application process is indeed running and listening to a port. That exact port number is also been set in by environment variable ASPNETCORE_PORT for that process.

When attempting to telnet to the process on that port number, we are

[2018-03-12 06:27] buddyspike commented on #2375
A bit more context to this issue:
- We run Kestral behind IIS with (aspnetcore module)
- When we start experiencing these 502s, the Kestral process is running and `netstat` proves that the process is listening on the designated port.
- The port Kestral is listening on is also correctly set in `ASPNETCORE_PORT` variable for `w3wp` process managed by IIS.
- The symptoms of our issue look quite simil

[2018-03-12 11:04] DaniilSokolyuk commented on #2375
We have the same problem in the same environment, error in ~1% of all requests
Nginx with next upstream on errors saves us

[2018-03-12 17:13] ryanbrandenburg commented on #2373
Did #104 fix this?

[2018-03-12 17:35] Tratcher commented on #2373
Yes

[2018-03-12 17:35] #2373 closed

[2018-03-12 19:49] ryanbrandenburg commented on #2204
I'm starting to track this in [this](http://aspnetci/httpAuth/app/rest/builds?locator=tag:StreamClosed,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)) list.

[2018-03-12 22:35] ryanbrandenburg opened #2377 "Flaky test: BadHttpRequestTests.TestInvalidRequestLines"
I saw [this](http://aspnetci/viewLog.html?buildId=419222&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) test fail with this error today:
[code]

I've only seen it once so far but if I see it in the future it will show up under [this list](http://aspnetci/httpAuth/app/rest/builds?locator=tag:ConnRefused,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags

[2018-03-13 14:32] tmds commented on #2334
I cleaned out ~/.dotnet, now I get a different error:
[code]

[2018-03-13 15:18] chrisowhite commented on #2206
@halter73 I've been logging for a few days now with first attempting to read the body into a memory stream to log the content. All of the log messages indicate the exception is thrown before any of the content is read (empty MemoryStream reads through a StreamReader as empty string).

[2018-03-13 15:29] chrisowhite commented on #2206
Did a little more digging and found these:

`Connection id "{ConnectionId}", Request id "{TraceIdentifier}": the request timed out because it was not sent by the client at a minimum of {Rate} bytes/second.`

With rate being the default 240 bytes/second.

[2018-03-13 16:01] davidfowl commented on #2334
This is after running build.sh?

[2018-03-13 16:24] tmds commented on #2334
Yes, full output is:
[code]

[2018-03-13 17:10] ryanbrandenburg opened #2384 "Transient: "Unable to start Kestrel""
http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=419928&_focus=125891

[code]

We don't know for sure what exception caused this message because Logging doesn't use the exception by default for extensions like "LogCritical". I think step one here would be to make sure that the exception gets logged (either by including it in the message we log, or by changing h

[2018-03-13 17:33] blowdart commented on #1688
And such a middleware is now available - https://github.com/aspnet/BasicMiddleware/tree/release/2.0/samples/HostFilteringSample

[2018-03-13 17:40] davidfowl commented on #2334
/cc @natemcmaster any ideas?

[2018-03-13 18:59] davidfowl opened #2386 "Handle posting to the LibuvThread after shutdown"
Since doing https://github.com/aspnet/KestrelHttpServer/commit/e7d3b0c5f971d6367ccec438407e91807a31447c, it exposed a crash we have on shutdown where we're posting to the libuv thread after it's disposed.

[code]

[2018-03-13 19:11] halter73 commented on #2206
Not getting a response body would explain the connection timeout. Are you sure there isn't a problem with clients disconnecting mid-request?

[2018-03-13 19:21] halter73 commented on #2206
Maybe you could measure the rate yourself by timing your reads as you're filling the memory stream.

[2018-03-13 19:47] chrisowhite commented on #2206
It's possible a client could disconnect mid-request if a deployment happens, as this is in our dev environment.

[2018-03-13 21:50] ryanbrandenburg opened #2387 "Flaky tests in Kestrel"
http://aspnetci/viewLog.html?buildId=420183&buildTypeId=Lite_KestrelStressTest
[code]
[This list](http://aspnetci/httpAuth/app/rest/builds?locator=tag:CollectionDiff,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)) should contain almost all instances of this failure.

[2018-03-13 21:59] halter73 commented on #2386
You thinking we should just try/catch in Post?

[2018-03-13 22:00] ryanbrandenburg commented on #2384
Here's a list that I will be using to track this as it continues.

[2018-03-13 22:06] ryanbrandenburg commented on #2384
I agree. I see this a lot, people see that we take an exception in those and just assume we'll do something useful with it. I filed aspnet/Logging#776 about it.

[2018-03-13 22:09] muratg commented on #2338
Closing, as we are satisfied with the current results.

[2018-03-13 22:09] #2338 closed

[2018-03-13 22:11] muratg commented on #2353
cc @Tratcher

[2018-03-13 22:16] muratg commented on #2372
Triage decision: we won't do this.

[2018-03-13 22:16] #2372 closed

[2018-03-13 22:21] muratg commented on #2375
This could happen for many different reasons -- it's hard to get an exact reason why you may be hitting this with a lot more details.

@shirhatti -- could you write down a summary somewhere with a list of possible issues where we can forward people to?

[2018-03-13 22:27] chrisowhite commented on #2206
Any suggestions on an easy way I can prove out the disconnect theory?

[2018-03-13 22:34] muratg opened #2390 "Implement file based logging accross the board"
We did this for SignalR -- where we log each test failure in a file. This makes it easier to debug and fix test cases, reducing the time to look into CI logs, etc.

[2018-03-13 22:35] muratg commented on #2390
@JunTaoLuo talk to me and @anurse about more details.  This should help with the rest of the flaky test investigations.

[2018-03-13 23:05] halter73 commented on #2375
@DaniilSokolyuk Do you have nginx in front of IIS or are you seeing 502.3s directly from Kestrel?

[2018-03-13 23:07] buddyspike commented on #2375
@halter73 No nginx in our case. 502.3 is from IIS. Kestral is not responding at all (i.e. If we try to telnet via `telnet localhost <kestral port registered with iis>`, it times out).

[2018-03-13 23:11] halter73 commented on #2206
You could collect other trace-level logs for the matching connection id. If the client was sent FIN, you would see a log to the effect.

The problem is, if this is the result of client issue, the client isn't sending a FIN.If the client was sending a FIN, you'd get an exception thrown from Request.Body.ReadAsync informing you the body was truncated.

Instead it seems like the client just isn't sen

[2018-03-13 23:15] halter73 commented on #2384
@davidfowl and I spoke about this during Kestrel triage. It's not up to the default formatter to include exception details. That's up to the logging provider itself.

You'll notice at least part of the exception's stack trace is included in the log output, so it's not being completely ignored. Instead it appears that something in our test logging infrastructure is truncating the beginning of Excep

[2018-03-13 23:21] halter73 commented on #2375
@buddyspike Kestrel should reject direct requests unless you include the MS-ASPNETCORE-TOKEN header with the correct [paring token](https://github.com/aspnet/IISIntegration/blob/00b1948937e8d5cdcc7559c8d8aafda1613479b4/src/Microsoft.AspNetCore.Server.IISIntegration/IISMiddleware.cs#L89). That said, you should get a 400 not a timeout.

So telnet times out even attempting to establish a connection?

[2018-03-13 23:22] buddyspike commented on #2375
@muratg Thanks. Happy provide further information you need to narrow it down. I have looked at a process dump taken when host is in this state. There were a few `ConnectionAbortedException`s in `!dumpheap -stat` output. In addition to that, we also enabled `Trace` and we can see certain messages like below (details are omitted for brevity) in the log just before process becomes useless.
[code]

[2018-03-13 23:28] buddyspike commented on #2375
@halter73 Thanks. Yes `telnet` fails to connect.

We do have a memory dump, however, getting it across to you could take a bit of effort due to our environment ;-). Will look for the deadlocks in the meantime.

[2018-03-13 23:34] halter73 commented on #2375
@buddyspike what version of Kestrel?

[2018-03-13 23:35] buddyspike commented on #2375
@halter73 2.0.1

[2018-03-14 00:11] buddyspike commented on #2375
@halter73 `!locks -v` says 32 critical sections scanned but none of them are in locked state.
Then ran `!syncblk` and it does not report any locks either.

[2018-03-14 02:37] #2386 closed

[2018-03-14 06:54] DaniilSokolyuk commented on #2375
@halter73 yeah, we have nginx in front of IIS, with Windows Server 2012, IIS 8, asp net windows hosting 2.0.5
We do not see any errors in asp logger, errors are only in iis logs

[2018-03-14 08:27] tmds commented on #2334
That fixed it!

[2018-03-14 12:18] buddyspike commented on #2375
@halter73 What's the best way to privately share the memory dump?

[2018-03-14 13:45] hartmannr76 commented on #2214
@SlyDen Thats interesting. To keep populating this thread with context, the production system I am reporting on only has the `--memory-reservation` flag set. Does GC look at what `--memory` is set to instead?

I've added some processes in my app to report additional metrics periodically and here are some:
I currently have several containers running so the metrics are an average reported across all

[2018-03-14 18:53] halter73 commented on #2375
You can email a download link to the address listed in my github profile.

[2018-03-14 19:33] Tratcher commented on #2353
@JunTaoLuo I've already modified the timeout exception messages in https://github.com/aspnet/KestrelHttpServer/pull/2356. See if they cover this scenario too.

[2018-03-14 20:28] Suchiman commented on #2360
@halter73 shouldn't the announcement prefer `Microsoft.AspNetCore.App` over `Microsoft.AspNetCore.All`?

[2018-03-14 21:46] halter73 commented on #2360
@Suchiman Your edit is correct. That's the main thing that makes the change breaking.

[2018-03-14 22:15] #2035 closed

[2018-03-14 22:15] halter73 commented on #2035
@Im5tu Thanks for the reminder!

[2018-03-14 22:34] JunTaoLuo commented on #2353
@Tratcher  No they do not, I was testing with your changes and while your updates differentiate between timeouts from reading the request header vs the request body, it does not differentiate between reading timeouts in general and the hard drain timeout.

[2018-03-15 09:41] qazq commented on #2370
How do I calculate response time correctly?

[2018-03-15 09:58] qazq commented on #2370
This is the log from the server side.

Call by synchronize
[code]

Call by asynchronous
[code]

The execution time increase from 12.18ms to 282.8ms

[2018-03-15 13:15] ondravondra commented on #2360
Do the managed sockets have similar performance compared to libuv?

[2018-03-15 13:34] NinoFloris commented on #2360
@ondravondra yes that was the prerequisite for the switch and why preview1 still ships with libuv. I think it might even be.a little faster already

[2018-03-16 14:08] tmds commented on #1943
@davidfowl is this still being tracked? it is important...

[2018-03-16 17:13] nickalbrecht commented on #2360
Just a heads up, the announcement has the tag `2.0.0-preview2`, not `2.1.0-preview2`

[2018-03-16 17:53] ryanbrandenburg opened #2401 "Flaky test: Sending100ContinueDoesNotStartResponse"
This test failed [on the ci](http://aspnetci/viewLog.html?buildId=423210&buildTypeId=Lite_KestrelHttpServer).

[code]

Future instances of this failure will appear in [this](http://aspnetci/httpAuth/app/rest/builds?locator=tag:KestrelNullRef,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)) list.

[2018-03-16 18:04] natemcmaster commented on #2360
@nickalbrecht thanks for spotting that. I updated the milestone on the announcement.

[2018-03-16 21:13] halter73 commented on #1943
Yes. We need to rework the write timeout logic in a few places and we're using #2171 to track getting the write timeout logic working the correctly for all transports and configurations.

[2018-03-17 15:05] benaadams opened #2402 "Is a Null Header Value a Set header value?"
Setting a Header to null
* doesn't change its count (stays at zero)
* doesn't change the Response output (header is not output)

However it will cause an error if a real value is added after:

[code]
Should it not throw, but set the value? (as no value is set)

[2018-03-17 15:33] benaadams commented on #2402
Clearly the correct answer is null value is not set :wink:
As it acts in every measurable way as not set other than throwing exception on a second `.Add`

[2018-03-17 15:41] benaadams commented on #2402
Setting to empty string by contrast, will return 1 for count and output a header (with no value); so throwing in that case makes sense.

The only wrinkle/corner case in the logic is
[code]
Will return 3 as count and output no headers; but if you do that you are just being very strange.

[2018-03-17 16:00] ColinM9991 commented on #1292
What exactly is the fix for this? I am trying to unit test NET Standard package and keep running into `System.DllNotFoundException: Unable to load DLL 'libuv': The specified module could not be found. (Exception from HRESULT: 0x8007007E)`

This is how my default test library csproj `PropertyGroup` looks,

[code]

This is what my NET Standard csproj default `PropertyGroup` looks like

[code]

I hav

[2018-03-18 18:29] Tealons commented on #1625
@Salgat: This one fixed it for me!

[2018-03-18 20:16] benaadams commented on #2402
Added change to remove nulls from arrays to cover the corner case.

[2018-03-19 13:40] clouddra commented on #2214
@SlyDen Thanks for the explanation! I don't think there is any configuration option we can use (at least not within `.csproj`). I agree with @hartmannr76 that we need better documentation around container environments. Passing the `--memory` may not be an option when using managed environments (elastic beanstalk for my case).

[2018-03-19 17:31] ryanbrandenburg opened #2403 "Flaky test: ValidationFailureRejectsConnection"
[This](http://aspnetci/viewLog.html?buildId=423893&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) test failed with the following error:
[code]

Future instances of this failure will show up in [this](http://aspnetci/httpAuth/app/rest/builds?locator=tag:SSPI,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)) list.

[2018-03-19 18:00] ryanbrandenburg opened #2404 "Flaky test: TestInvalidRequestLines"
[This](http://aspnetci/viewLog.html?buildId=423203&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR) test failed with the following error:

[code]

Instances of this failure will show up [here](aspnetci/httpAuth/app/rest/builds?locator=tag:KestrelGraceful,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-19 18:04] ryanbrandenburg opened #2405 "Flaky test: Sending100ContinueDoesNotStartResponse"
This test [fails](http://aspnetci/viewLog.html?buildId=423029&buildTypeId=Lite_KestrelStressTest) with the following error some times:
[code]

Future instances of this failure can be found [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:KestrelIndexOutOfRange,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-19 18:08] ryanbrandenburg opened #2406 "Broken test: RemoteIPv6Address"
This test [failed](http://aspnetci/viewLog.html?buildId=422648&buildTypeId=XPlat_Windows_Win8_Universe) with the following error:
[code]

Future instances of this failure will be tracked [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:NoSuccess400,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-03-19 21:18] benaadams commented on #2402
/cc @Tratcher

[2018-03-19 23:05] #2360 closed

[2018-03-19 23:06] halter73 commented on #2361
Fixed by #2392 and aspnet/Universe#959

[2018-03-19 23:06] #2361 closed

[2018-03-20 01:18] benaadams commented on #2405
List being altered concurrently?

[2018-03-20 07:50] dexterhussain opened #2410 "Error -107 ENOTCONN socket is not connected"
I am having a strange issue, the Same application is running fine on one ubuntu 16.04 Server with Dotnet core 2.0
I installed new Ubuntu and tried to deploy the application as soon as clients connect it gives this error

elsteppgc@elbystep:~/stepel$ sudo su
[sudo] password for elsteppgc:
root@elbystep:/home/elsteppgc/stepel# dotnet Elp.dll
Hosting environment: Production
Content root path: /home/e

[2018-03-20 10:49] dexterhussain commented on #2410
Somehow I managed to fix the error
the issue is in the Asp.netcore all nugget upgrade it to latest one. and the issue just goes

[2018-03-20 12:18] dexterhussain commented on #2410
The Asp.NetCore.All 2.0 version has this error.

[2018-03-20 15:03] zpodlovics opened #2411 "Kestrel Libuv transport flow control and TCP Window Full / TCP ZeroWindow"
Hi,

I am benchmarking Kestrel with a WebSocket client, and I ran into a problem where the client will hang forever. According to the network traces client flood the server with websocket messages and it works for a while, until the tcp window reduced to zero than the client-server state will go into a weird state where the client will hang forever (at least new clients could connect to the server

[2018-03-20 15:48] benaadams commented on #2411
Your client has no receives, so isn't receiving data which will cause a backlog

[2018-03-20 15:59] benaadams commented on #2411
You could also collate server receives into single sends as follows
[code]

[2018-03-20 16:31] zpodlovics commented on #2411
Thanks for your help and the idea to have a collated response! If I understand correctly websocket should be full duplex, therefore sending should work without receive call (ping/pong control messages still send/received). With a small Task.Delay on the receive loop the send only client works correctly (as it will not reach the tcp full window/zerowindow state).

According to this documentation th

[2018-03-20 16:53] benaadams commented on #2411
There are no receives in the client, so its receive buffer fills and the server will stop sending
[code]

[2018-03-20 17:38] zpodlovics commented on #2411
Well, when the message flow reversed (server send messages in loop to the client) it works correctly.  It seems that the libuv vs native socket handle the tcp backpressure (tcp window full / tcp zerowindow) differently. I will create an issue in corefx about the clientwebsocket tcp backpressure. Please do not close this issue yet, I will get back later to test these examples with kestrel 2.1 nativ

[2018-03-20 19:12] zpodlovics commented on #2411
You are right, it was the client receive backlog. My expectation was incorrect in this case. Without the server part SendAsync the client work perfectly.

[2018-03-20 19:12] #2411 closed

[2018-03-20 19:32] halter73 commented on #2402
It think we've decided we don't care about the array-of-nulls corner case [here](https://github.com/aspnet/Common/pull/323#discussion_r175560001).

[2018-03-20 22:16] shirhatti commented on #2196
@Eilon Is this rejected for 2.0.7?

[2018-03-20 22:18] Eilon commented on #2196
"Tentatively approved" depending on whether we take the other Kestrel change we discussed.

[2018-03-20 22:29] shirhatti commented on #2384
This will be made easier by #2390

[2018-03-20 22:34] muratg commented on #2410
@dexterhussain Closing, as it looks like you resolved your issue with the latest version of the package.

[2018-03-20 22:34] #2410 closed

[2018-03-20 22:36] halter73 commented on #2410
Do you want to cal in to triage @muratg?

[2018-03-21 00:36] davidfowl opened #2412 "Bedrock API review"
## Protocol abstractions renamed

Microsoft.AspNetCore.Connections.Abstractions

[code]

[2018-03-21 01:19] TechnikEmpire commented on #1292
@ColinM9991 If you absolutely need to target both, clone the csproject and make two x86/x64 project files exclusively. This happens IIRC at the nuget restore stage. So once you add the package, it's going to pull down the libuv native payload for the current project architecture only as a referenced package.

Alternatively, manually download libuv [here](https://www.nuget.org/packages/Libuv/), inc

[2018-03-21 01:43] davidfowl commented on #1980
We made some decisions today:
- We're going to keep the transport layer pubternal in 2.1 (as it was in 2.0). We feel that there's room for adding clients to the existing abstraction so we don't want to set the API in stone just yet. Writing a transport will still be possible but the API will change and be public in 2.2.
- This will be a multi release effort. In 2.1 we're going to look at exposing

[2018-03-21 04:04] dexterhussain commented on #2410
@muratg  but I have a question here that why Kestrel Web Server doesn't show an error? and neither the application runs. I figured out when I sent a map query. Kestrel should show an error

[2018-03-21 04:07] dexterhussain commented on #2410
@halter73 there should be logging in kestrel

[2018-03-21 04:18] muratg commented on #2410
You probably got a client disconnect.  Check your INFO level logs.

[2018-03-21 04:38] KPixel commented on #1980
Considering how close we are from the 2.1 release, this is probably the best solution.

To be clear, does that mean that the Connections layer here and Sockets layer in SignalR will also be internal for now?

By the way, I like the name _Connections_.

[2018-03-21 04:45] dexterhussain commented on #2410
@muratg @halter73  this is the same thing which I am saying. Kestrel opens port runs the application but doesn't give any errors. it should say that some assembly cannot be loaded. How can a client disconnect when kestrel is serving nothing? I tried nmap and it showed error

[2018-03-21 04:53] davidfowl commented on #1980
No, it will be public.

[2018-03-21 04:58] KPixel commented on #1980
Ok. Have you looked at the [peer-to-peer sample](https://github.com/KPixel/Prototypes) that I published?
I hope such scenarios will be supported.

[2018-03-21 05:31] JoshCollinsMSFT commented on #2357
Assuming dotnet/corefx#24553 makes it in the .NET Core 2.1 release, will the next release of KestrelHttpServer have support for SNI?

[2018-03-21 05:33] davidfowl commented on #1980
@KPixel yea I've seen it but TBH I don't see how you plan to use the connection abstractions.

[2018-03-21 06:01] Tratcher commented on #2357
That's the idea, will see how it goes.

[2018-03-21 06:55] KPixel commented on #1980
Are the Connections & Sockets layers (mostly) final?

I will rewrite this sample and my app using them to see where I get stuck.

[2018-03-21 07:09] davidfowl commented on #1980
It's all connections now, and the client API isn't final. I feel pretty confident that the ConnectionContext API won't churn much. We're going to be adding more things to it and renaming packages and namespaces though.

[2018-03-21 08:33] davidfowl commented on #1980
@KPixel I took a deeper look and that looks pretty interesting, there are a couple of issues:
- We currently don't have anything for udp or non streaming transports in general. This came up in the past but hasn't been fleshed out.
-  The current API pattern means you get called back so tying data together across bindings means you have to pass state around somehow. You can use DI or any other stat

[2018-03-21 09:30] davidfowl commented on #1292
2.1 of ASP.NET Core

[2018-03-21 12:39] KPixel commented on #1980
@davidfowl Thanks for taking a look.

I'm also investigating the new layers... Tomorrow, I will create a new issue to continue this discussion.

[2018-03-21 18:53] halter73 commented on #2410
@dexterhussain What makes you think there was an assembly load error?

It seems more like there's a connection that was closed by the client right as it was starting. These sorts of early client disconnects can cause tcp_getpeername to fail with ENOTCONN, but based on the number of bug reports, this seems pretty rare.

I've considered of lowering the log level for tcp_getpeername failing with ENOT

[2018-03-22 04:04] mihevc opened #2415 "Unable to load DLL 'libuv': The specified module or one of its dependencies could not be found."
I'm building my docker image using the alpine docker image and I get this message when I run the docker container on linux.  The code works on windows outside of docker.

# Dockerfile

FROM microsoft/dotnet:2.1-sdk-alpine

RUN apk update \
	&& apk add libuv

#Set the Working Directory
WORKDIR /app

#Configure the listening port to 80
ENV ASPNETCORE_URLS http://*:80
EXPOSE 80

#Start the app
ENTRYP

[2018-03-22 05:15] Tratcher commented on #2415
@natemcmaster

[2018-03-22 05:24] natemcmaster commented on #2415
Known issue - https://github.com/aspnet/libuv-package/issues/23.

We worked around this in the microsoft/aspnetcore docker image already (currently in nightlies only via `microsoft/aspnetcore-nightly:2.1.0-preview2-alpine`

https://github.com/aspnet/aspnet-docker/blob/dev/2.1/alpine/amd64/runtime/Dockerfile#L6-L9
[code]

[2018-03-22 18:52] sebastienros opened #2416 "Uncommon memory consumption with Sockets (i.e. a memory leak)"
I updated the reliability tests to use Sockets now that it's the default transport.

The memory consumption seems to grow, I would wait for more days to make any conclusion.

![image](https://user-images.githubusercontent.com/1165805/37791801-5af0ff76-2dc7-11e8-8183-4e968954b861.png)

The first line is with Libuv, the one on the right is with Sockets.

NB: Right now I can't track the changes as EF

[2018-03-22 18:56] Tratcher commented on #2416
How long did this take to reproduce? Or is this a chart across multiple builds?

[2018-03-22 18:57] Tratcher commented on #2416
Can you link to the test you were using?

[2018-03-22 19:36] sebastienros commented on #2416
DbFortunesMvcEf scenario in benchmarks.
It's a long run, the right one lasted a little more than one day. The left one is over many days.

[2018-03-22 21:43] halter73 commented on #2416
Why is the left graph so stable. Is that using the libuv transport instead of sockets? A horizontal axis and a vertical axis starting at 0 would be nice.

[2018-03-22 21:46] sebastienros commented on #2416
https://aka.ms/aspnet/benchmarks

Please help yourself

[2018-03-22 21:56] halter73 commented on #2416
Cool. So we're looking at a zoomed in version the following graph from page 6 of 8?

![image](https://user-images.githubusercontent.com/54385/37800646-cbd48424-2de0-11e8-9c82-d6f82d228d69.png)

How do I know which color line corresponds with which configuration without asking you? I only see time-related info in the hover text.

[2018-03-23 00:37] srininz77 opened #2417 "chunked transfer encoding response"
Why does Kestrel always add transfer-encoding: "chunked" response header? IIS doesn't do it. Is this by design or a bug?

[2018-03-23 05:15] Tratcher commented on #2417
By design. If the application doesn't specify a content-length then the server must either buffer the content or send it as chunked. ASP.NET Core servers do not buffer the full content. IIS has some buffering quirks with response compression, but otherwise it doesn't buffer responses either.

[2018-03-23 07:17] srininz77 commented on #2417
Thanks

[2018-03-23 07:17] #2417 closed

[2018-03-23 08:07] davidfowl opened #2419 "Remove/Rename DuplexPipe class in Connections.Abstractions"
It's shared code that all implementations will need but we put it in the System.IO.Pipelines namespace thinking that it would eventually end up in there. We shouldn't burn the name of this type in an ASP.NET assembly in the System.IO.Pipelines namespace.

/cc @anurse @halter73 @pakrym

[2018-03-23 16:57] Tratcher opened #2422 "Delay loading the default development certificate"
Today Kestrel first tries to load the default development certificate and assign that to all new HttpsConnectionAdapterOptions.ServerCertificate.

This shows up as a measurable % of startup time. It also causes log noise.

It also causes additional complexities with the new SNI support were the cert and the cert selector are mutually exclusive. This may need to get refactored as part of https://gi

[2018-03-23 18:04] davidfowl opened #2423 "Flaky test"
[code]

[2018-03-23 18:47] JunTaoLuo opened #2424 "Re-enable api check for Transport.Libuv"
The breaking change occurred on the `Create` method of the public type `LibuvTransportFactory`. See commit: https://github.com/aspnet/KestrelHttpServer/commit/abdcb47b8f96d7bf6554575e2d3493a7e955fc68#diff-8e432cc740c5553f64223236502c7ab1R65

I have disabled the api check for this package for now but this needs to be reverted after we discuss how we handle this breaking change.

[2018-03-23 20:53] JunTaoLuo commented on #2350
Follow up needed in #2424

[2018-03-23 20:54] JunTaoLuo commented on #2424
Let's keep the discussion regarding LibuvTransportFactory in this issue

cc @halter73 @davidfowl @DamianEdwards @Eilon

[2018-03-24 01:35] davidfowl opened #2427 "Remove use of TestSink in functional tests"
Use the TestApplicationLogger

[2018-03-24 11:26] davidfowl commented on #2412
This is done

[2018-03-24 11:26] #2412 closed

[2018-03-25 05:57] davidfowl opened #2429 "Consider letting the transport own the creation of IDuplexPipe"
Today the transport is responsible for exposing properties on the connection that can be used by Kestrel to create a duplex pipe. It does this today for a few reasons:

- It wants to directly apply the MaxResponseBufferSize and MaxRequestBuffer size to pipe options
- It communicates "fin" via cancelling the transport's output reader (this is super hacky and we should get rid of it anyways).
- It w

[2018-03-25 18:46] MuleaneEve opened #2430 "[Discussion] Why is ConnectionContext an abstract class and not an interface?"
This is just a quick question to understand this choice.
I tried to search through the old issues, but couldn't find a discussion on that. I saw that [it used to be IConnectionContext](https://github.com/aspnet/KestrelHttpServer/blob/f3745608af5020eaa3e83cd5a21aeaa2b85b618b/src/Kestrel.Transport.Abstractions/Internal/IConnectionContext.cs), so I'm sure it was discussed somewhere.

By the way, nice

[2018-03-25 23:14] davidfowl commented on #2430
We expect to add more methods and properties to this type. We're following a similar pattern to what HttpContext has. In fact one I can think of that we need to add is `Abort()`. HttpContext is basically the set of things we think are first class for Http, the ConnectionContext is the moral equivalent for connection level things.

[2018-03-25 23:21] MuleaneEve commented on #2430
Thanks for the quick reply.

As far as I understand, the value of an abstract class is that you can provide default implementation to properties/methods. Is that something you are considering? Would extension methods be an interesting alternative?

The equivalence with HttpContext doesn't seem enough on its own to justify this decision which has an implementation cost (being unable to implement Co

[2018-03-25 23:24] davidfowl commented on #2430
Yes we do. That's one of the benefits, the other is that it can be expanded in the future (we can add properties).

I don't see it that way. Not many people will need to implement the base class.

[2018-03-25 23:26] MuleaneEve commented on #2430
I'm still not clear on the reasoning, but since it is still very early, I will wait and see how things evolve.

[2018-03-25 23:26] #2430 closed

[2018-03-25 23:34] davidfowl commented on #2430
@MuleaneEve thats fair, do you have a scenario in mind where you think you'd need to implement it? Nobody implements their own HttpContext right?

[2018-03-25 23:37] khellang commented on #2430
It's basically the same reason interfaces are dreaded across the entire BCL; there's no non-breaking way to rev them. With abstract classes, you can add virtual members with default implementations and avoid breaking everyone implementing/deriving it.

[2018-03-25 23:49] MuleaneEve commented on #2430
@davidfowl I expect ConnectionContext implementations to be a lot more popular since this new Connections layer makes is so much easier to write your own protocol (whereas very few people would write their own HTTP implementation). And I hope that an ecosystem of libraries adding specialized features will be born.

@khellang What's a practical example where that could happen and make sense?
The sc

[2018-03-26 00:07] davidfowl commented on #2430
Thats the wrong side though, you don't implement a ConnectionContext to implement a protocol, you consume it. You implement a ConnectionContext when you want to implement the transport layer itself. If you were the person writing the serial port transport, then you'd need to derive. If you're the person implementing MQTT you consume a ConnectionContext. That might be where there's confusion.

[2018-03-26 00:28] MuleaneEve commented on #2430
Sorry, that's what I meant, a custom transport :)
It is indeed less likely than a custom protocol, but it should still happen than custom HttpContexts.

And, even for already implemented transports, I can see some people forking them to "optimize" their behaviors as they see fit.

[2018-03-26 00:59] davidfowl commented on #2430
It is indeed less likely than a custom protocol, but it should still happen more often than custom HttpContexts.

I think there will be a lot less than you think *and* I don't think the abstract base class will be a problem.

Sounds fine, but I'm not seeing a real problem.

Again, this seems completely fine. I don't think interface vs abstraction base class matters here in the slightest.

[2018-03-26 01:08] MuleaneEve commented on #2430
Like I said in my first post, I just wanted to understand this choice :)

I can see the pros & cons of both approaches, and I can't predict which one would end up being better.

[2018-03-26 01:09] davidfowl commented on #2430
Time will tell. Lets meet back here in 2 years and see where we landed. If people jump on this thing then it'll be a good problem to have 😄

[2018-03-26 01:12] MuleaneEve commented on #2430
👍

[2018-03-26 08:46] tmds opened #2431 "Benchmark corefx Sockets epoll exhaustion strategy"
When there is a lot of I/O transfer, at some point the epoll thread becomes the bottleneck.

There are two ways to deal with that:
- create multiple epoll threads
- delegate I/O transfer to the threadpoll, so epoll thread only handles notification

corefx does both, implemented in https://github.com/dotnet/corefx/pull/19820 and https://github.com/dotnet/corefx/pull/23115 respectively.
That doesn't

[2018-03-26 13:19] tmds commented on #2431
The following patches can be used:

- multiple poll threads, io on poll threads: https://github.com/tmds/corefx/commit/f9abf636ce5c30d50f4ec2c9aa15c1a0ce7bca3f
- single poll thread, io on threadpool: https://github.com/tmds/corefx/commit/385138314d73d5a31f2ab2896d6b0474fc254e5d

A benchmark scenario where Libuv performs better with >1 ThreadCount is interesting since that is exhausting a single li

[2018-03-26 21:54] halter73 commented on #2424
Fixed by #2426.

[2018-03-26 21:54] #2424 closed

[2018-03-27 10:33] tmds commented on #2429
Probably it also means removing `ApplicationSchedulingMode` which is good to avoid double dispatch to the ThreadPool (e.g. Sockets).

I assume existing implementations can just create the two Pipes similar to how Kestrel does it now, and things will work as before.

[2018-03-27 10:36] davidfowl commented on #2429
Not necessarily, the application callback (process request) could still be dispatched by kestrel itself.

That's correct.

[2018-03-27 10:43] tmds commented on #2429
Ah, ok. I see the default is to use the ThreadPool:

https://github.com/aspnet/KestrelHttpServer/blob/af636fc8d4870aeba5b892cdcd3994a5d956c475/src/Kestrel.Core/KestrelServer.cs#L86-L88

So Sockets are doing a double dispatch currently.

[2018-03-27 16:44] ryanbrandenburg opened #2434 "Flaky test: RegisterAddresses_IPv6_Success"
This test [failed](http://aspnetci/viewLog.html?buildId=432379&buildTypeId=Releases_21Public_OsxUniverse) on the CI.

[code]

Future instances of this issue will be tracked [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:PortFail,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)) along with other kestrel addressing/port issues.

[2018-03-27 16:49] Tratcher commented on #2434
@mikeharder this relates to your investigations.

[2018-03-27 18:59] alexgman commented on #2114
I'm wondering if there was any resolution here?

I'm attempting to run a ASP.NET CORE 2 service on my cluster, and it is assigning https://0.0.0.0:3000:
[code]

Here's my servicemanifest:
[code]

finally, these were added to my applicationmanifest:

[code]

and

[code]

sf explorer is showing me that the service is ready:

![image](https://user-images.githubusercontent.com/4227695/37988524-bfc911c

[2018-03-27 19:09] Tratcher commented on #2114
0.0.0.0 means to bind to any/all addresses on the local machine, but it's not an address you're allowed to type into the browser. You need to find out what the real IP is and connect to that.

[2018-03-27 21:25] muratg commented on #2213
cc @Tratcher @JunTaoLuo

[2018-03-27 21:54] halter73 commented on #2429
Yep. That's why we were surprised that it was helpful to dispatch in SocketAsyncEventArgs.Completed on Windows.

[2018-03-27 22:14] halter73 opened #2435 "Make further Socket Transport performance improvements"
Related: #2431

[2018-03-27 22:21] muratg commented on #2427
cc @Tratcher

[2018-03-27 22:24] muratg commented on #2416
@sebastienros could you help with reading the graph?  Thanks.

[2018-03-27 22:25] #2415 closed

[2018-03-27 22:26] sebastienros commented on #2416
I'll update the graph when I have more log, which hasn't run for many days, then I will explain.

[2018-03-27 22:36] muratg commented on #2384
@mikeharder is this related to what you're currently looking at?

[2018-03-28 00:48] ysris commented on #639
Solution provided by @bidianqing is still valid and works in Linux.
Thanks mate.

[2018-03-28 07:41] StefanoD opened #2437 "Hard crash which doesn't get logged"
Hi @all,

I have an ASP.net Core application which crashes only on release mode. Despite having installed and configured NLog, in this special case no log information gets written to a file.

I registered a global Exception handler on Startup:
[code]
In Program I register NLog as logger:
[code]
My nlog.config:
[code]
When an Exception occurs, normally I see them in the console and in the log file,

[2018-03-28 07:44] StefanoD commented on #2370
Is this running in release mode and without Visual Studio?

[2018-03-28 08:11] qazq commented on #2370
Yes. It is running on the IIS 8.5 server in release mode.

[2018-03-28 08:20] davidfowl commented on #2437
Kestrel is a library in your application, it doesn't crash, your application is crashing. If you crash on a background thread (non request thread) there's nothing kestrel can do to save you.

The usual suspects are async void methods or fire and forget style operations being started from request threads then crashing.

[2018-03-28 10:57] StefanoD commented on #2437
Ok, thx. I'm closing this issue.

[2018-03-28 10:57] #2437 closed

[2018-03-28 11:31] samsosa commented on #2370
The whole problem has nothing to do with IIS, Kestrel, Debug/Release Mode or Visual Studio, it's just bad async code and bad measurement.

See this altered code:
[code]

Output:

[code]

As you can see, the async method needs 460 ms totalTime, the sync approach 980 ms totalTime.

The difference is, that my code version run in parallel while yours run in different tasks but only synchronous,

[2018-03-28 14:38] StefanoD opened #2438 "Windows 7: Client Certificate is not accepted"
Hi,
I'm using client authentification by an TLS certificate. The validation of the client certificate is done by a custom validation handler. See:

[code]
This works fine on my Windows 10 workstation. But when I install my server and my client app on a Windows 7 machine, I get following error:

[code]
My validation class is never touched. Instead Kestrel denies the client certificate from its own.

[2018-03-28 16:19] davidfowl opened #2439 "Move Kestrel benchmarks to this repository"
Move the platform benchmark and plaintext to this repository. It'll make testing changes a bit easier.

/cc @halter73 @sebastienros

[2018-03-28 16:23] sebastienros commented on #2439
Or maybe you need a custom benchmark application here too, dedicated to kestrel and the flags you need for local testing? And without having to bother with database, ...

[2018-03-28 16:28] davidfowl commented on #2439
True, it doesn't need to replace anything per se but it would be nice to avoid duplication. We can use this application.

https://github.com/aspnet/KestrelHttpServer/blob/46ab09ca363f22d37dc326c16d757c81b89f1f40/samples/PlaintextApp/Startup.cs

At this point I wonder if we should just consider benchmarks to be the techempower application and each of the repos should just own their own benchmarks.

[2018-03-28 16:35] sebastienros commented on #2439
Yes, I think so, we should have the TE scenarios in the app, and have other ones have custom logic. Like IIS, DB, Jil/Utf8/Json, then if we think they make sense for TE just port them over.

We can still add all these specific app results in the charts.

[2018-03-28 16:37] davidfowl commented on #2439
Right, I would also argue that the middleware tests like response caching should be in their own repositories.

[2018-03-28 17:27] arigelni commented on #2370
i think the question was also, why the asynchronous  call itself is slower....

[2018-03-28 17:35] StefanoD commented on #2370
@arigelni Asynchronous calls have a certain overhead which have to amortize.

[2018-03-28 17:37] Tratcher commented on #2406
Partner bug. It looks like the new SocketHttpHandler is missing brackets for the IPv6 host header. I'll get a repro and file a corefx issue.

[2018-03-28 17:46] arigelni commented on #2370
@StefanoD thats correct, thread switching, async state machine etc...but times are quite high...double of each sync call.
i heavily have async calls in my project (asp.net core 2 and ef core 2) and at a certain amount of request, the performance is really bad...
i have async all the way down and no blocking calls (thanks to ben.blockingdetector).
i am currently investigating that issue, making dum

[2018-03-28 19:46] kasper3 commented on #2406
@Tratcher, there is also a bug in zoneId that IPv6 parser recognize index to only be integer, however, it can be if_name: https://github.com/dotnet/corefx/issues/27529. Can that fix be addressed at the same time?

[2018-03-28 19:51] jkotalik opened #2440 "Make Kestrel TryAdd when adding it's IServer implementation"
For ANCM in-proc to work with scenarios like:
[code]
we need the call to UseIISIntegration to always add it's IServer implementation rather than Kestrel overriding it.

As we want out-of-proc and in-proc to work without code changes, we will need [Kestrel to TryAdd it's server implementation](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel/WebHostBuilderKestrelExtensions.cs#L35).

[2018-03-28 19:53] Tratcher commented on #2406
@kasper3 that's unrelated, zoneIds are not supposed to be transmitted in the host header.

[2018-03-28 20:35] mikeharder commented on #2384
@muratg: It's likely caused by a port being in use (the issue I'm investigation), but I can't be certain from the error message.

[2018-03-28 20:56] muratg commented on #2334
@davidfowl status?

[2018-03-28 20:57] muratg commented on #2427
@davidfowl can you add costing?

[2018-03-28 20:57] muratg commented on #2422
Costing?

[2018-03-28 20:58] muratg commented on #2171
What's the current costing on this?

[2018-03-28 21:23] muratg commented on #2440
Who's doing this?

[2018-03-28 21:24] Tratcher commented on #2440
You tell us 😁

[2018-03-28 21:25] Tratcher commented on #2440
Side note: Clone this bug for HttpSys.

[2018-03-28 22:44] lkfr opened #2441 "Kestrel randomly crashes"
We are facing a Kestrel-related issue with an ASP.NET Core 2.0 app running in an Azure App Service.
The server suddenly stops responding and we see a huge number of HTTP 502.3 errors.
The problem occurs a few times a day (during peak hours).

We have looked at a few metrics before the problem occurs and CPU and memory usage are OK, network connections look fine. App Insight does not report anythin

[2018-03-28 22:55] Tratcher commented on #2440
Pushback: This pattern won't work for HttpSys and we'd like to use a consistent patern.

[2018-03-28 23:13] muratg commented on #2440
"Needs-design"?

[2018-03-28 23:57] benaadams commented on #2370
Shouldn't be measurable in milliseconds

[2018-03-29 00:51] guylando commented on #2128
Hello,

This issue happens on kestrel (doesn't have on httpsys) and it seems I can reproduce it:
assume ajax request to server to /a/b returns:
{"1":"Trace","2":"Debug","3":"Information","4":"Warning","5":"Error","6":"Critical","7":"None","8":"Security","9":"Management","10":"UnExpected"}

then replay this request 8-10 times fast in a row and at least 1-2 times returns this error

[2018-03-29 00:55] guylando commented on #2128
also it seems to occur in different states of kestrel execution and be triggered different stacktraces.
Here is first one:
`warn: Microsoft.AspNetCore.Server.Kestrel[0]
      Connection processing ended abnormally.
System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.
Parameter name: count
   at Microsoft.AspNetCore.Server.Kestrel.Internal.System.IO.Pipelines

[2018-03-29 05:09] davidfowl commented on #1980
# Bedrock update (Wednesday, March 28, 2018)

## Protocol abstractions (Base API all public in 2.1)

- **Microsoft.AspNetCore.Connections.Abstractions**

[code]

### Remaining 2.1 work

- Figuring out how to merge use `ConnectionContext` as the client abstraction (SignalR needs this).
- Adding support for aborting the connection (a first class Abort method) semi related to the first bullet https:/

[2018-03-29 06:47] JanEggers commented on #1980
id like to have that earlier to start a mqtt transport but looks like this has to wait a little bit longer

[2018-03-29 08:22] davidfowl commented on #1980
Transport for what exactly? The SignalR TCP support is more an official statement, we're not explicitly working on it for 2.1 but it will work and there will be no client support (you can send payloads from a custom TCP client). However, we are shipping the APIs required to implement any server side protocol (client on the way).

[2018-03-29 09:12] JanEggers commented on #1980
I want to build a mqtt transport for signalr so i can use hub programming model as my mqtt broker

[2018-03-29 09:32] davidfowl commented on #1980
Just to be clear, websockets or tcp is the transport right? You want to describe hub invocations using Mqtt packets? It sounds like you want to write an IHubProtocol
In SignalR speak, that's a custom hub protocol https://github.com/aspnet/SignalR/blob/2f9942e1f20ff6b76542900eadd5828a2b61957a/src/Microsoft.AspNetCore.SignalR.Common/Internal/Protocol/IHubProtocol.cs. But if you could clarify further

[2018-03-29 09:56] tmds commented on #2429
@halter73 I didn't realize Windows also did a threadpool dispatch on Windows. When you benchmark Sockets with `SchedulingMode.Inline` what difference do you see with the default (ThreadPool)?

[2018-03-29 10:42] JanEggers commented on #1980
yup. Looks like that is what I have in mind. I thought I had to plug it in lower but if i can reuse the existing tcp stack and just map mqtt messages to hub messages that is even better.

[2018-03-29 11:37] tmds commented on #1980
@davidfowl I'm exited to see client (outgoing TCP) support on the 2.2 roadmap. I was pondering a bit on how to deal with client connections and making the Transport more usable outside of Kestrel.
Paper design:
[code]
Related (from implementation perspective) is this open issue https://github.com/aspnet/KestrelHttpServer/issues/1587 to allow endpoints to be handled by the same KestrelThreads.

[2018-03-29 15:34] KPixel commented on #2054
I don't think that `Abort` should be exposed directly on `ConnectionContext`.

As it is, `ConnectionContext` has a very clean API: The `Transport` which is the core reason why this type exists and two extensibility properties (`Features` and `Items`).

Anything else would feel too specific.
(I can give a pass to `ConnectionId` because it is a simple property and it is useful for logging.)

By the

[2018-03-29 16:07] davidfowl commented on #2054
I think it needs to be. It's way to directly communicate with the underlying transport skipping all indirections (the Transport pipe might have been replaced).

I don't think so. It's a signal, fire and forget.

I updated the interface.

[2018-03-29 16:21] KPixel commented on #2054
This interface will be available through the `Features` property. And that's what that property is there for.

I just don't understand why it also needs to be "hard-coded" into `ConnectionContext`.

[2018-03-29 16:47] davidfowl commented on #2054
Because every connection needs the ability to be aborted and that is a distinct feature from completing the transport.

[2018-03-29 17:13] davidfowl commented on #1980
Sure since the API shape for the transport abstractions are still not set in stone (pubternal APIs are in this category) we can iterate on the design. That particular API shape I think is too minimal though, transports need to communicate more than just a duplex pipe.

[2018-03-29 17:46] tmds commented on #2429
@davidfowl are you sure? In corefx I see the iocp stuff is using `ThreadPoolBoundHandle`, that sounds as if it is using the ThreadPool.

[2018-03-29 19:11] halter73 commented on #2429
I'm sure we dispatch ourselves on Windows in SocketAwaitable.Complete(). ThreadPoolBoundHandle uses the ThreadPool to handle GetQueuedCompletionStatus on completion port threads, but I don't see anywhere it dispatches to worker threads on its own.

[2018-03-29 21:26] muratg commented on #2440
What's happening for preview2 if anything?  @Tratcher @davidfowl @jkotalik do we need to get into a room and talk again?

[2018-03-29 21:58] CoderJason123 opened #2443 "302 redirect on apache loses https, returns as http"
Hello.  I've spent some time trying to narrow this down a bit more, but here is what I have.

I am using aspnet core 2.0 on apache (all the latest versions) on ubuntu 16.04.  After my cookie times out or if I manually delete my auth cookie from the browser, and make an ajax call, the 302 is issued, as it should be.

However, my connection starts as https.  The redirect is returned as http, not htt

[2018-03-29 22:06] CoderJason123 commented on #2443
I failed to read the section here.."When using any type of authentication middleware, the Forwarded Headers Middleware must run first. This ordering ensures that the authentication middleware can consume the header values and generate correct redirect URIs."  I am sure this is the cause.

[2018-03-29 22:07] Tratcher commented on #2443
We just wrote the doc for this: https://github.com/aspnet/Docs/pull/5794

[2018-03-29 22:08] CoderJason123 commented on #2443
I reviewed my code and saw that I have the forwarded headers there...i will need to investigate further from the link you just posted.

[2018-03-29 22:10] CoderJason123 commented on #2443
@Tratcher - looking at that link, I don't fully understand.  Is there a code fix pending, is this just a description of the problem, sorry not following.

[2018-03-29 22:11] Tratcher commented on #2443
Your app likely needs a configuration update. Adding the middleware, adding x-fowarded-proto headers in Apache, etc..

[2018-03-29 22:14] CoderJason123 commented on #2443
Ok.  I found my way to one of the links which described     RequestHeader set X-Forwarded-Proto "https".  Now, I'm not directly using a balancer, which was the context of the article.  Can i give this a try in my virtual host section?  I'm not seeing any code changes on my side since i already have forwarded headers unless you are saying I need more.

[2018-03-29 22:16] Tratcher commented on #2443
I don't know how you've configured it. See the debug section at the bottom of the linked doc.

[2018-03-29 22:24] CoderJason123 commented on #2443
I already have forwarded headers, and the debug section didn't really talk about what to configure.  But, none the less, by adding that value to virtual host and enabling the headers module in apache, the problem is gone!  Thank you!

[2018-03-29 22:27] #2443 closed

[2018-03-30 03:37] jkotalik commented on #2440
@davidfowl @Tratcher implementing IDefaultServer feature right now would be a bit rushed in this timeline, for now we can make it when IISIntegration is called inproc, it can be called multiple times.

[2018-03-30 03:41] pakrym commented on #2440
We decided not to do IDefaultServer or IServerSelector, just make UseIISIntegration override IServer every time.

[2018-03-30 03:41] #2440 closed

[2018-03-30 04:49] davidfowl commented on #2334
We need to move this to rc1, it's not happening by tomorrow.

[2018-03-30 15:00] mattnischan commented on #1980
I absolutely know I'm being dense here, but I'm a bit confused on what it means to have a TCP transport and/or custom protocol in Kestrel (since I've always thought of Kestrel as TCP/HTTP).

In that scenario, where I've decided to use the TCP transport and write a custom protocol (let's assume sans SignalR for the moment in this example), what work is Kestrel itself doing? Is that scenario similar

[2018-03-30 16:59] muratg commented on #2440
@pakrym who's doing that?

[2018-03-30 17:11] davidfowl commented on #1980
Kestrel is the glue, it wires up the transport layer, handles connection management and timeouts, graceful and ungraceful shutdown of connections.

The connection abstractions decouple you from the underlying transport. Your protocol parsing just takes bytes from the pipeline and it doesn't matter where those bytes come from. You aren't bound to TCP, which means you can easily test your protocol p

[2018-03-30 17:16] Tratcher commented on #2440
https://github.com/aspnet/IISIntegration/issues/741 @pakrym ?

[2018-03-30 23:13] lkfr commented on #2441
We have enabled logging with a log level set to warning but unfortunately it does not produce anything before the crash.

We have managed to get a crash dump and it shows there is something wrong in the following stack frame:

[code]
`!analyze -v`  points to `PROXY_RESOLVE_HANDLE_OBJECT::CompleteClientGetProxyForUrl`

We assume the origin of the problem does not come from these system dlls but rat

[2018-03-31 13:47] davidfowl opened #2448 "WhenResponseNotStartedResponseEndedBeforeConsumingRequestBody [FAIL]"
[code]

Seems like we have flaky tests to do with writing logs after server shutdown.

[2018-03-31 18:42] mattnischan commented on #1980
Sounds awesome David, thanks!

[2018-03-31 20:27] davidfowl opened #2449 "Make Kestrel work with alternative MemoryPool implementations"
Today we make some assumptions that the underlying block size will be 4K and swapping out with another pool (like the default array pool) makes the tests fail.

/cc @jkotas

[2018-03-31 21:15] jkotas commented on #2449
cc @GrabYourPitchforks

[2018-03-31 21:55] stephentoub commented on #2449
I assume nothing in Kestrel assumes the Memory is already pinned and always calls Retain/Pin when needed?

[2018-03-31 22:14] davidfowl commented on #2449
Correct. But I'm seeing tons of errors.  Up to ~200 errors.

[2018-03-31 22:17] davidfowl commented on #2449
What's worse is that when I run the test that fail in isolation they pass 😄

[2018-03-31 22:18] davidfowl commented on #2449
Oh wait, I think I know what it is.

[2018-04-01 05:59] davidfowl commented on #2449
See https://github.com/aspnet/KestrelHttpServer/pull/2450

[2018-04-01 06:15] davidfowl opened #2451 "Upgraded request body should not create a request body pipe"
This needlessly copies bytes from the transport pipe into the body pipe. We can avoid this whole dance to improve the websocket performance.

Related to https://github.com/aspnet/KestrelHttpServer/issues/2340.

/cc @BrennanConroy @halter73

[2018-04-01 07:34] davidfowl opened #2454 "Test: Aborted tests happening more often on ubuntu"
https://ci3.dot.net/job/aspnet_KestrelHttpServer/job/dev/job/linux-Configuration_Release_prtest/22/console

Something is causing the test process to crash hard.

[2018-04-01 08:11] davidfowl commented on #2454
Again https://ci3.dot.net/job/aspnet_KestrelHttpServer/job/dev/job/linux-Configuration_Release_prtest/24/

[2018-04-01 09:08] davidfowl commented on #2422
Once we have the SNI callback then we can use it here.

[2018-04-01 09:09] davidfowl commented on #2350
@pakrym why did you re-open this?

[2018-04-01 11:32] Tratcher commented on #2422
No, this is later than we'd want, and invoked per connection. You want to load the cert as the server starts, but only if no other cert was provided.

[2018-04-01 15:57] davidfowl commented on #2422
Disagree. You want to load the cert only if you’re using https.

[2018-04-01 17:34] davidfowl commented on #2454
https://ci3.dot.net/job/aspnet_KestrelHttpServer/job/dev/job/linux-Configuration_Release_prtest/27/console

[2018-04-01 18:35] Tratcher commented on #2422
Yes, but inside the SNI callback is way too late. Do it when you set up HTTPS. One of these two places seems the most likely:
https://github.com/aspnet/KestrelHttpServer/blob/a37fa83aee400f621b1f19fca6a777bd3d804f6f/src/Kestrel.Core/ListenOptionsHttpsExtensions.cs#L214
https://github.com/aspnet/KestrelHttpServer/blob/a37fa83aee400f621b1f19fca6a777bd3d804f6f/src/Kestrel.Core/Internal/HttpsConnectio

[2018-04-02 17:08] sebastienros opened #2455 "Regression on Sockets Platform"
See this graph for the details

![image](https://user-images.githubusercontent.com/1165805/38206026-b0de7b36-365d-11e8-82c6-7475ac9740bf.png)

Black line is Libuv Plaintext Platform,

[2018-04-02 17:09] sebastienros commented on #2455
Note that this is only visible on Physical Windows. Doesn't repro on Cloud Windows or Linux.
This might be an environment issue, so if nothing changed around this time then we can discard this issue.

[2018-04-02 17:31] sebastienros commented on #2416
Update: it's getting worse.
I took a memory dump this morning, and will do another one this afternoon.

![image](https://user-images.githubusercontent.com/1165805/38206912-ffb4924c-3660-11e8-9e58-c42291bd6096.png)

[2018-04-02 19:06] ryanbrandenburg opened #2456 "Flaky test: ValidationFailureRejectsConnection"
This test [fails](http://aspnetci/viewLog.html?buildId=437930&tab=buildResultsDiv&buildTypeId=Releases_21Public_UbuntuUniverse#testNameId8147719698525128850) occasionally with the following message:

[code]

Future instances of this issue will appear [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:BadFileDescriptor,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,stat

[2018-04-02 19:10] sebastienros commented on #2416
Details on current run:

[code]

[2018-04-02 19:13] ryanbrandenburg commented on #2434
Don't know if it matters but there's a different error message in [this one](http://aspnetci/viewLog.html?buildId=437665&buildTypeId=Releases_21Public_OsxUniverse).
`System.Net.Sockets.SocketException : Can't assign requested address`

[2018-04-02 19:41] DamianEdwards commented on #2416
Can we figure out if this affects preview2 bits please? I think the runs are on latest (so preview3 given how long ago we branched) but given the leak shows up as soon as we switched to sockets there's a good chance it affects preview2 as well (which is obviously super high priority).

[2018-04-02 19:41] DamianEdwards commented on #2416
@sebastienros can you share dump info as soon as you have it please?

[2018-04-02 22:20] blowdart commented on #2438
What's inside the validator?

It's odd to see one that's new-ed up, generally they're static; e.g.

[code]

[2018-04-02 23:08] halter73 commented on #2451
The decoration is [extremely trivial](https://github.com/aspnet/KestrelHttpServer/pull/2345/files#diff-fdf100d09a4afe71f07e8fd4fcaa559bR141) for upgraded requests as you might suspect.

[2018-04-03 01:42] davidfowl commented on #2449
This is done

[2018-04-03 01:42] #2449 closed

[2018-04-03 05:45] kasper3 commented on #2360
Couple of months ago, it was indicated that performance regressed when switching to sockets https://github.com/aspnet/KestrelHttpServer/issues/2220. Are there any before/after performance measurements to bring about concreteness to the mix?

[2018-04-03 05:51] Suchiman commented on #2360
@kasper3
There is http://aka.ms/aspnet/benchmarks
If you navigate to page 1 with the pager at the bottom, there's a graph that shows Socket I/O by over a million RPS ahead of Libuv.
If you go to page 2 it looks differently so i don't really understand how to read them.

[2018-04-03 07:07] StefanoD commented on #2438
@blowdart It maybe odd, but it's still valid code, isn't it?

[code]

[2018-04-03 08:37] StefanoD commented on #2438
I'm using the simplest possible example now and nothing changes:

[code]

[2018-04-03 12:31] blowdart commented on #2438
Odd. OK, I'm tapping out in favour of the devs :) Hey @halter73  ...

[2018-04-03 17:14] Eilon commented on #2357
@DamianEdwards / @shirhatti / @Tratcher - is this critical for Preview2?

[2018-04-03 17:16] Tratcher commented on #2357
Yes. We're trying to take a new CoreFx build today to unblock it.

[2018-04-03 17:17] Eilon commented on #2357
Got it, thanks!

[2018-04-03 21:33] Tratcher opened #2462 "Investigate HTTP/2 behavior for RequestAborted and Abort"
For Http/1.x RequestAborted is used to detect early disconnects and Abort is used to force them.

For HTTP/2 requests can be multiplexed over a single connection and it's possible to terminate individual requests while leaving the connection active. Investigate how kestrel surfaces this behavior and if RequestAborted and Abort can be adapted accordingly. We may also need to introduce a lower level

[2018-04-03 22:37] muratg commented on #2128
@guylando Things have been refactored. You can checkout the older branches or tags to find bugs like that.

I'm closing this one. If you find more details (hopefully actionable) please feel free to file another one.

[2018-04-03 22:44] muratg commented on #2439
@sebastienros I was told that you have a PR on this already.

[2018-04-03 22:48] muratg commented on #2441
@lkfr Not much detail to go on this as it stands.

Was that a dump of w3wp process?  Is there a way to create a simple repro app?

[2018-04-03 22:52] muratg commented on #2462
Backlogging until HTTP/2 support is back.

[2018-04-03 22:53] halter73 commented on #2441
Do you ever not call `await response.Content.ReadAsStringAsync();` because of a non successful status code or something? If so, it's important to dispose `response`, otherwise the underlying connection will stay open because of the `HttpCompletionOption.ResponseHeadersRead` option. It's probably best just to dispose `response` regardless.

[2018-04-03 22:54] muratg commented on #2455
@sebastienros Do you have more data on this now? Does it look like an infra/environment issue or no?

@DamianEdwards FYI

[2018-04-03 23:00] sebastienros commented on #2455
So far I have no more information, what I can add is that I found a similar regression on MvcPlaintext, on the same date, also only on Windows Physical.

![image](https://user-images.githubusercontent.com/1165805/38280010-d9ab3130-3757-11e8-8d23-dd86f769d2ab.png)

I will try to run the benchmark on two different aspnet version to see if I can reproduce it and confirm it's actually some regression

[2018-04-03 23:14] halter73 commented on #2456
@ryanbrandenburg @javiercn Doesn't this look like an agent configuration problem?

[2018-04-04 00:42] lkfr commented on #2441
@muratg This is a crash dump of the dotnet process. We are going to try to create a repro app and to simulate high traffic load.

@halter73 If we get a non successful status code we throw an exception and `await response.Content.ReadAsStringAsync();` is not called. Does that mean the response is not disposed (even if we wrap it in a using block)?

[2018-04-04 02:09] sebastienros commented on #2416
Looks good after an hour of measures:

![image](https://user-images.githubusercontent.com/1165805/38284913-8a66a58a-3772-11e8-9f46-40ec62920e7c.png)

Will update tomorrow

[2018-04-04 02:35] halter73 commented on #2441
It looks like you're wrapping the HttpRequestMessage in a using block, but you have to dispose the response as well. Normally it wouldn't matter that you don't dispose the response, but the `HttpCompletionOption.ResponseHeadersRead` means you either have to read the entire response it dispose it (or both).

[2018-04-04 02:38] muratg commented on #2455
Sounds good, thanks!

[2018-04-04 02:40] muratg commented on #2416
:relieved: phew.

[2018-04-04 15:20] Tratcher opened #2463 "HTTP/2: Validate request header names are always lower case"
The header NAME used in HTTP 2.0 must be lower case and this is enforced by the RFC http://httpwg.org/specs/rfc7540.html:

Just as in HTTP/1.x, header field names are strings of ASCII characters that are compared in a case-insensitive fashion. However, header field names MUST be converted to lowercase prior to their encoding in HTTP/2. A request or response containing uppercase header field names

[2018-04-04 16:28] ryanbrandenburg commented on #2456
[Not really](http://aspnetci/project.html?projectId=Releases_21Public&buildTypeId=&tab=testDetails&testNameId=8147719698525128850&order=AGENT_ASC&branch_Releases_21Public=__all_branches__&itemsCount=50), it passed on the same agent just an hour before, and passed on the same agent a couple hours after.

[2018-04-04 16:41] paulgmiller commented on #611
Is there an equivalent of SendTimout in kestrel?
https://msdn.microsoft.com/en-us/library/system.servicemodel.channels.binding.sendtimeout(v=vs.100).aspx

DIdn't see a direct equivalent in kestreal server limits.
https://github.com/aspnet/KestrelHttpServer/blob/rel/2.0.0/src/Microsoft.AspNetCore.Server.Kestrel.Core/KestrelServerLimits.cs

[2018-04-04 17:31] Tratcher commented on #611
@paulgmiller not a global one. MinResponseDataRate is as close as it gets.

Call WriteAsync with a CancellationToken.

[2018-04-04 18:12] ryanbrandenburg opened #2464 "Flaky test: ConnectionClosedEvenIfAppSwallowsException"
This test [fails](http://aspnetci/viewLog.html?buildId=439721&tab=buildResultsDiv&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR#testNameId8801805959029034956) occasionally with the following error:

[code]

Future instances of this failure can be found [here](http://aspnetci/project.html?projectId=XPlat&buildTypeId=&tab=testDetails&testNameId=8801805959029034956&order=TEST_STATUS_DESC&branch_XPlat

[2018-04-04 18:59] sebastienros commented on #2455
I identified the issue to be coming from the runtime. Here are the results with only changing the runtime version, using a fixed aspnet version. So nothing to do with Kestrel. I will open another issue once I find more info.

|             Runtime |     RPS | CPU (%) | Memory (MB) | Avg. Latency (ms) | Startup (ms) | First Request (ms) | Latency (ms) |
| ----------------------- | ------- | -------

[2018-04-04 18:59] #2455 closed

[2018-04-04 20:05] Eilon commented on #2416
Is the work for this done? If not, what is left for Preview2?

[2018-04-04 21:05] #2357 closed

[2018-04-04 21:10] Tratcher opened #2466 "Config support for SNI"
In 2.1 preview2 we added support for SNI:
https://github.com/aspnet/KestrelHttpServer/issues/2357

This is a code only approach and isn't supported by the new config system also introduced in 2.1.

Proposal: See if there's sufficient user demand for supporting SNI from config.

Recommend revisit in 2.2.

[2018-04-04 21:44] halter73 commented on #2416
@Eilon Yes it is.

[2018-04-04 21:44] #2416 closed

[2018-04-04 22:50] #2422 closed

[2018-04-05 01:37] chrisowhite commented on #2206
It's been a few weeks, but wanted to update. Based on the log data we're seeing it looks like the new checks put in place in 2.x are working and it's likely an intermittent issue on our end. Given how rare this occurs we've decided to move forward and investigate as necessary.

[2018-04-05 01:38] chrisowhite commented on #2206
Thank you everyone for your assistance.

[2018-04-05 16:37] Tratcher commented on #1853
Re-opening, we're getting more feedback that this is confusing people, especially when it shows up in VS.
https://github.com/aspnet/External/issues/63
https://github.com/aspnet/KestrelHttpServer/issues/2007

One proposal we've discussed is to do a zero-byte read on new connections and only create the SslStream when data becomes available.

[2018-04-05 22:04] halter73 commented on #2416
Way ahead of you ;)

On Thu, Apr 5, 2018 at 11:44 AM, Sébastien Ros <notifications@github.com>
wrote:

[2018-04-05 22:28] erick-thompson commented on #1965
I've been seeing this same issue running on an Azure Web App (ASP.NET Core 2). Like @cgenin7, it causes the website to recycle, returning a 500 to caller. I have an hourly integration test that hits the Web App (fairly lightly), and it seems happen about once a day, regardless of deployment. That is, deploying the Web App doesn't seem to cause the error, and the error occurs when there hasn't been

[2018-04-05 22:41] halter73 commented on #1965
@erick-thompson Did you see my comment [here](https://github.com/aspnet/KestrelHttpServer/issues/1965#issuecomment-317120993)? Do you still see 500 responses when you force the ListenerPrimary.ReadCallback UvException in the way I suggest using the SCM powershell console? If you'r running 1.0.2 or later, the log is expected but the server should still remain healthy.

[2018-04-05 23:12] erick-thompson commented on #1965
I'm on a shared app service plan, so I don't want to mess with other running apps. How can I determine the version of kestrel running?

In terms of expected but remaining healthly, the integration test fails with 500, and the only exceptions seen in App Insights are the one I referenced. Additionally, I do sometimes see failures (500) without anything appearing in App Insights. In theory, these co

[2018-04-05 23:30] erick-thompson commented on #1965
We're running 3 VMs in our app service plan, with about 50 web app instances.

What is the best way to get an admin console? The console accessible from the Web App portal doesn't have permission to interact with named pipes.

[2018-04-06 01:38] halter73 commented on #1965
Just go to `https://<your app name>.scm.azurewebsites.net`. So basically just add ".scm" between your site name and "azurewebsites.net". This brings you to the Kudu portal which gives you a powershell console, let's you drag and drop files into your app, edit files, see environment variables, etc...

![image](https://user-images.githubusercontent.com/54385/38399593-1aa59de8-3900-11e8-9010-295477e2

[2018-04-06 12:48] OnamChilwan opened #2467 "Remove Server header when using UseHttpSys()"
Is it possible to remove the Server header when using `UseHttpSys()`? I see the type `HttpSysOptions` but there doesn't seem to be an option which allows me to remove the header. Is this possible to do so within the app or is it highler level config?

Thanks.

[2018-04-06 12:53] #2467 closed

[2018-04-06 16:13] anurse opened #2468 "SNI callback doesn't have access to the IServiceProvider"
It seems like it would be very useful for the SNI callback to be able to activate services from DI, but I don't see anywhere I can get a ServiceProvider. The `IFeatureCollection` is connection-level and doesn't contain a service provider. I know the RequestServices aren't available, but I presume there are singleton and transient services I could be able to activate.

[2018-04-06 16:28] Tratcher commented on #2468
Sounds like something that could be added to the feature collection.

[2018-04-06 16:47] anurse commented on #2468
Yep, that's what I was thinking.

[2018-04-06 18:13] ryanbrandenburg opened #2469 "Flaky test: RejectsConnectionsWhenLimitReached"
This test fails with the following error:
[code]

This is part of an overall issue whose members can all be viewed [here](http://aspnetci/httpAuth/app/rest/builds?locator=tag:timeout,sinceDate:201710010T000000-0001&fields=build(startDate,buildTypeId,status,branchName,webUrl,tags)).

[2018-04-06 20:14] ryanbrandenburg commented on #2454
Not just on ubuntu, we see it on the CI on [WinServer2012](http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=441784&_focus=468403) too.

[2018-04-06 20:30] joshmackey opened #2470 "1000ms delay when only IPv4 address is used when specifying ListenOptions for Kestrel."
I've noticed that http requests to Kestrel take at least 1000ms if only a IPv4 endpoint is bound to. If a request normally takes 15ms, it will take 1015ms instead.

If you use `UseKestrel()` on its own, it automatically listens to the localhost IPv4 and IPv6 addresses. If you manually specify addresses using `KestrelServerOptions` but only specify a single `Listen` with an IPv4, then you see the b

[2018-04-06 20:52] benaadams commented on #2470
It would be because you have IPv6 and IPv4 enabled for localhost on your machine, so it will try the IPv6 address first, wait for timeout (1 sec) then try the IPv4 address.

You can easily bind to both with `ListenLocalhost(int port)`
[code]

[2018-04-06 21:08] Tratcher commented on #2470
Note ListenLocalhost is new in 2.1.

[2018-04-06 21:15] Drawaes commented on #2470
This is a known issue as described by Ben. It's more of an issue with the HttpClient than Kestrel

[2018-04-06 21:16] Tratcher commented on #2470
Any client would have this problem unless they opened two connections in parallel.

[2018-04-06 21:25] Tratcher commented on #2470
It's been that way since Vista.

[2018-04-06 21:32] Drawaes commented on #2470
We only saw it when rolling out windows 10. But you are right about vista. Our desktops probably only had IPV4 enabled on 7

[2018-04-06 21:34] benaadams commented on #2470
Can always untick this box on the network adapter :)

![image](https://user-images.githubusercontent.com/1142958/38445268-baa47aea-39ea-11e8-9bd3-42edf5517de9.png)

[2018-04-06 21:36] Tratcher commented on #2470
👀 Doesn't work for loopback though.

[2018-04-06 21:36] Drawaes commented on #2470
Presuming you don't work for a big company and can tick said boxes ;)

[2018-04-08 22:50] javiercn commented on #2456
Seems like the process being denied access to the store, but not sure why. It seems to me that is either transient or configuration based

[2018-04-09 18:53] halter73 commented on #2434
@ryanbrandenburg Given a linked flaky test, you do I find the other test runs to look at the other failures? When I look for the test runs for the testNameIds you link to, TeamCity shows a clearly-incorrect 100% pass passrate:

- http://aspnetci/viewLog.html?buildId=437665&tab=buildResultsDiv&buildTypeId=Releases_21Public_OsxUniverse#testNameId7337600358491221647
- http://aspnetci/project.html?pro

[2018-04-09 19:15] ryanbrandenburg commented on #2225
You can see the history of this test failure [here](http://aspnetci/project.html?projectId=XPlat&buildTypeId=&tab=testDetails&testNameId=6816592842570504506&order=TEST_STATUS_DESC&branch_XPlat=__all_branches__&itemsCount=50).

[2018-04-09 19:25] ryanbrandenburg commented on #2454
We got a useful error message out of one of these!

[code]

As seen [here](http://aspnetci/viewLog.html?buildId=443002&buildTypeId=Releases_21Public_UbuntuUniverse).

[2018-04-09 19:35] ryanbrandenburg commented on #2434
Your second link was ALMOST correct, but if you look at the "Filter by" dropdown in the top right you're being specific about what projects to look at, choose the highest level project then figure out from there which configs it happens under. Also, unfortunately the testNameId is not a super reliable indicator because sometimes the same test shows up as different Ids on different configs.

[2018-04-09 19:46] ryanbrandenburg opened #2474 "Flaky test: DoesNotThrowObjectDisposedExceptionFromWriteAsyncAfterConnectionIsAborted"
This test [fails](http://aspnetci/viewLog.html?buildId=442734&buildTypeId=Releases_21Public_UbuntuUniverse) occasionally on the ci with the following error:

[code]

Future instances of this failure can be found [here](http://aspnetci/project.html?projectId=Releases_21Public&testNameId=801013333222356985&tab=testDetails).

[2018-04-09 21:48] halter73 commented on #2474
@ryanbrandenburg Closing as a dupe of #2456.

[2018-04-09 21:48] #2474 closed

[2018-04-09 22:07] halter73 commented on #2454
@ryanbrandenburg Great find.

[2018-04-10 18:50] ryanbrandenburg commented on #2225
Another failure, but a different error this time:

[code]

[2018-04-10 19:10] ryanbrandenburg opened #2475 "Flaky test: CriticalErrorLoggedIfApplicationDoesntComplete"
This test [fails](http://aspnetci/viewLog.html?buildId=444631&buildTypeId=Releases_21Public_UbuntuUniverse) occasionally with the following error:

[code]

Future instances of this failure can be found [here](http://aspnetci/project.html?projectId=Releases_21Public&testNameId=4494644039974195093&tab=testDetails).

[2018-04-10 22:05] #2435 closed

[2018-04-10 22:33] muratg commented on #2470
Closing as this is not a Kestrel issue.

[2018-04-10 22:33] #2470 closed

[2018-04-10 22:36] #2128 closed

[2018-04-11 18:56] unknowncloud commented on #2439
go
	Go source files.
.c, .h
	C source files.
	If the package uses cgo or SWIG, these will be compiled with the
	OS-native compiler (typically gcc); otherwise they will
	trigger an error.
.cc, .cpp, .cxx, .hh, .hpp, .hxx
	C++ source files. Only useful with cgo or SWIG, and always
	compiled with the OS-native compiler.
.m
	Objective-C source files. Only useful with cgo, and always
	compiled with the

[2018-04-12 06:05] davidfowl commented on #2439
@sebastienros Can you close this bug?

[2018-04-12 11:02] Plasma opened #2484 "CPU heavy requests cause other fast requests to be delayed?"
Hi,

I'm using .NET Core 2, targeting .NET 4.6.1, with Kestrel + IIS Integration.

We have an internal application that:

1) Has a route that will perform some CPU heavy work inline (no task). Sometimes this route will also launch and async/await on another task to complete, that may take 5-10 seconds.

2) We have a "fast" route, that only pings a database, and returns in 10ms, using async/await.

[2018-04-12 14:56] #2439 closed

[2018-04-12 15:32] cymricus commented on #2128
Want to go on record saying I was also seeing this intermittent issue and we too were using Request.Form

[2018-04-12 18:46] ryanbrandenburg opened #2486 "Flaky Test: MemoryPoolBlock ObjectDisposedException"
Kestrel is [timing out](http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=445670&_focus=914) while running tests.

At first glance it seems like this might be caused by this:

[code]

But I don't know the area well so that might be a red haring.

[2018-04-12 19:07] #1853 closed

[2018-04-12 19:07] Tratcher commented on #1853
Note the zero-byte read approach didn't work out. We downgraded the log to Debug instead.

[2018-04-12 19:15] grahamehorner opened #2487 "SocketTransport rename ..."
IMHO the SocketTransport should be renamed to TcpSocketTransport and implement the ITcpSocketTransport interface that is derived from the ISocketTransport, this would allow the registration of other types of transports including UdpSocketTransport IUdpSocketTransport by other server services and would avoid confusions around the type of Socket used by the SocketTransport factory etc.

[2018-04-12 19:26] Tratcher commented on #2225
No, I should have some time to look at tests tomorrow.

[2018-04-12 23:24] Tratcher opened #2489 "Kestrel blocks for 5s on shutdown if you close the console"
CTL+C is fast, but if you instead close the console window it blocks for 5 seconds first. From my initial debugging the issue is in KestrelServer.StopAsync.

Repro's on Windows with the SampleApp in the repo. The TFM doesn't matter.

[2018-04-13 01:14] HFadeel opened #2490 "What is the expected Performance difference between managed sockets and Libuv?"
Is there is any performance/benchmark numbers on the difference between the managed sockets and Libuv?

[2018-04-13 01:26] halter73 commented on #2489
This is only an issue for debug builds, but the behavior is really weird. It's getting stuck [here](https://github.com/aspnet/Common/blob/0a744c0b56c53bac050b0996259491608bb6d39b/shared/Microsoft.Extensions.Buffers.Sources/SlabMemoryPool.cs#L168) in GC.WaitForPendingFinalizers(), but the issue only comes up when closing the console window not when exiting with CTRL+C.

![image](https://user-images

[2018-04-13 18:45] Tratcher commented on #2225
The history for this test is pretty messy. I count 8 failures for the various overloads.
http://aspnetci/viewLog.html?buildId=446050&buildTypeId=XPlat_Windows_Win10Universe&tab=testsInfo

3 are part of mass failures and can be dismissed as agent issues
http://aspnetci/viewLog.html?buildId=424325&tab=buildResultsDiv&buildTypeId=XPlat_Mac_MacUniverseCoreCLR#testNameId6816592842570504506
http://aspne

[2018-04-13 19:24] Tratcher commented on #2489
The open question is if this is a regression, and if so, at what layer? You said it did not repro on 2.0.

[2018-04-13 19:25] #2331 closed

[2018-04-13 19:52] halter73 commented on #2489
The AppDomain.CurrentDomain.ProcessExit event wasn't firing when you close the console window in 2.0.

[2018-04-13 20:53] tmds commented on #2484
Perhaps the logs can make you wiser in how much time it takes to handle those requests.

If the client sends these requests via the same connection you may be seeing the fast request being delayed because there is a pending slow request (https://en.wikipedia.org/wiki/Head-of-line_blocking).

[2018-04-13 21:54] #2390 closed

[2018-04-13 21:58] muratg commented on #2390
:tada:

[2018-04-13 23:00] halter73 commented on #2490
It depends on the scenario. We have a benchmarks repo at aspnet/Benchmarks, and the README for that repo links to these [PowerBI graphs](https://msit.powerbi.com/view?r=eyJrIjoiYTZjMTk3YjEtMzQ3Yi00NTI5LTg5ZDItNmUyMGRlOTkwMGRlIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9).

If you scroll down to the Baselines section, you can see the various scenarios we track and how much pe

[2018-04-13 23:04] halter73 commented on #2487
This seems a little limiting IMHO. I don't see why the SocketTransport couldn't support UDP in the future if there was a desire for it.

[2018-04-13 23:10] halter73 commented on #2487
Thinking about this a little more, I'm not sure UDP is the best example of an alternative protocol the SocketTransport could support because our transport abstraction expects a reliable data stream. It wouldn't be ideal to handle a connectionless protocol with our transport abstraction or with Pipelines in general for the same reason there isn't a UdpStream in .NET.

[2018-04-13 23:14] davidfowl commented on #2487
We should leave the name, the fact is it won't be TCP forever. We'll support any EndPoint type supported by sockets.

[2018-04-15 02:16] dfederm opened #2493 "Outbound connections time out with new managed sockets"
When upgrading from 2.1 preview 1 to preview 2, all of a sudden all the outbound calls from my webserver (except Azure SQL calls for some reason) seem to hang and eventually timeout. I'm seeing this behavior with both an `HttpClient` and using the latest `Azure Storage` SDK.

Based on the release notes, I suspect it's due to the switch to managed sockets.

I'm running on Azure App Services using s

[2018-04-15 02:21] #2493 closed, assigned to nobody

[2018-04-15 20:00] TechnikEmpire opened #2494 "Any reason why upgrading to 2.1-preview2 would break IConnectionAdapter?"
I've been searching but to no avail, so I've decided to ask here. Does anyone know of a reason or even a hunch as to why upgrading from 2.0.X to the 2.1 preview2 would cause an `IConnectionAdapter` to stop functioning? I have something like:

[code]

There's nothing special about this class, it just performs a peek on the connection stream to try to read the SNI extension, from which a certificate

[2018-04-15 20:14] Tratcher commented on #2494
Not sure why it's broken, but have you tried the new SNI support in kestrel? You probably don't need this component anymore.

[2018-04-15 20:35] TechnikEmpire commented on #2494
@Tratcher Yeah my bad, I remember now reading that, something to do with different SslStream implementations between full and core. Oh well, I can survive that as long as I can figure out why the adapter inner task is never called. Worst case I can drop back down to 2.0.x but I'm trying to escape to the arch-dependent libuv dependency.

[2018-04-16 00:06] Plasma commented on #2484
Thanks for the reply. Are there particular logs I should be checking?

What's interesting though is that there are latency spikes during the request, not necessarily a delay in the request starting. Thank you.

[2018-04-16 00:24] TechnikEmpire commented on #2494
@davidfowl Yeah. Lemme go over it a few more times and make sure I'm not doing something incredibly stupid, and then if I still come up with the same result I'll try to post a repro example somewhere. Thanks.

[2018-04-16 06:10] davidfowl commented on #2494
It would still call your function, it just that it would then immediately fail.

[2018-04-16 06:25] tmds commented on #2484
The default info logging shows request finish times:
[code]

To investigate further, what you can do is (without IIS):
- Use a client to verify the fast route is always fast.
- Then add another (separate) client that calls the slow route, and see how that affects the fast route.

[2018-04-16 10:39] Mattacks opened #2495 "Have you broken Kestrel configuration? #1442"
# Issue Title

Have you broken Kestrel configuration?

# General

In .Net Core 1.0 in Main you used to be able to '.Build()' on the builder to get the configuration resolved, in order to be able to use configuration in .UseKestrel(...)

Unless I am mistaken, that is now not possible in 2.1 - one can only use constants or read from files by hand.
Am I mistaken?

cheers

Matt

(upon advice, copied f

[2018-04-16 11:27] Tratcher commented on #2495
2.0 added lots of other ways to configure Kestrel, but the original ways mostly still worked. 2.1 has added even more ways...

There is one common confusion in 2.x where people try to use ConfigreAppConfiguration in Main  to configure the Urls key, but you need to Configure the host instead.

Please show us how you are trying to configure it.

[2018-04-16 14:41] Tratcher commented on #2495
The sample you linked to should work. Why are you using ConfigureAppConfiguration instead of UseConfiguration? It's the Urls parameter you're trying to set, correct?

Or you could try the new Endpoints config. https://github.com/aspnet/KestrelHttpServer/pull/2186

[2018-04-16 15:35] Mattacks commented on #2495
1. Because I want to use multiple configuration files. Can't remember where I got the original pattern from, but you can also it being used [here](https://wildermuth.com/2017/07/06/Program-cs-in-ASP-NET-Core-2-0). And it is also the method used in the Sample [startup.cs](https://github.com/aspnet/KestrelHttpServer/pull/2186/files) found when I follow your #2186 link
2. No. I'm trying to set limits

[2018-04-16 15:50] Tratcher commented on #2495
? MaxRequestBufferSize has never been mapped from config, in 1.x or 2.x.

[2018-04-16 17:16] Tratcher commented on #2225
RE the InRange failure, it does not appear to be TFM specific, and it reproduces both on Sockets and Libuv, though more readily on Sockets. Only the connectionAdapter: True variation fails with the above error.

connectionAdapter: True has failed once with an OutOfMemoryException.

[2018-04-16 17:56] benaadams commented on #2225
Re: `System.IO.IOException : Unable to read data from the transport connection: Invalid argument.`

`Invalid argument` is now likely to be reported as `OperationAborted` https://github.com/dotnet/corefx/pull/29091

[2018-04-16 21:16] muratg commented on #2350
@pakrym do we need anything in RC1? If so, we'll need a shiproom label. Otherwise, could you move it to 2.2.0-mq?

[2018-04-16 21:19] pakrym commented on #2350
If we want to continue to validate API changes - yes, I don't know if it is fixed to be re-enabled.

Fix is being tracked in https://github.com/aspnet/BuildTools/issues/592

[2018-04-17 00:48] chuanboz opened #2498 "Provides extensions method for IServiceCollection similar to WebHostBuilderKestrelExtensions to better support generic host"
currently there is a WebHostBuilderKestrelExtensions that provides UseKestrel method to inject default implementation of Kestrel.

followed
https://github.com/aspnet/Hosting/issues/1369
and https://github.com/aspnet/Hosting/tree/dev/samples/GenericWebHost

to use general web host, which does not use IWebHostBuilder anymore and so require extensions method to inject default Kestrel implementation.

[2018-04-17 01:00] Tratcher commented on #2498
This isn't really useful by itself, Kestrel can't run the site on it's own, it needs a lot of infrastructure that's provided by WebHost today.

We'll be looking at this more in the next major version when it's possible to make breaking changes.

[2018-04-17 01:27] chuanboz commented on #2498
I'm trying to follow the sample to provide support for Service Fabric to host WebApi with generic host, and I meet this issue. I could for now workaround it by just do that myselves, but would prefer to avoid it if possible.

[2018-04-17 01:30] chuanboz commented on #2498
or if there is extension method against IApplicationBuilder, so that it is tie to Web, but does not require IWebHostBuilder, that would also work and won't show up as general extension for IServiceCollection but only be used for IApplicationBuilder which tie to web.

[2018-04-17 09:30] Mattacks commented on #2495
[It](https://stackoverflow.com/questions/43254585/use-appsettings-to-drive-environment-specific-settings-such-as-useurls/43265773#43265773) does not work any more.

Previously `.Build()returned an `IConfigurationRoot`
Now `.Build()returns an `IWebHost`
In addition, you used to be able to call `.Build()` twice. Now if you do that you get an `InvalidOperationException`.

[2018-04-17 13:34] tmds opened #2499 "Specify https certificate via config file"
Will 2.1 support specifying the https certificate via the json config file?

[2018-04-17 14:59] Tratcher commented on #2499
Yes. See the bottom of https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-https-improvements/

[2018-04-17 15:05] tmds commented on #2499
@Tratcher
I tried adding
[code]
to appsettings.json but that didn't work for me. Do you have an example I can copy?

[2018-04-17 15:07] Tratcher commented on #2499
Copy the whole example from the blog post. The hierarchy matters.

[2018-04-17 15:10] Tratcher commented on #2499
@danroth27 can you edit the blog post at https://blogs.msdn.microsoft.com/webdev/2018/02/27/asp-net-core-2-1-https-improvements/ to fix the heirarchy for the default certs? It's supposed to be:
[code]

[2018-04-17 15:16] Tratcher commented on #2495
There are two builders in that example, a config builder and a web host builder. Make sure you're calling Build on the right one.

I'm putting this issue on hold until you post a complete code sample and error stack traces as relevant. None of the code samples or errors you've provided have been complete or matched the complaints you've made.

[2018-04-17 15:17] tmds commented on #2499
:+1: Thanks @Tratcher! You can close this or leave it open for @danroth27 to close.

[2018-04-17 16:31] Tratcher commented on #2225
Mitigation for the original issue has been checked into dev for 2.2. If we see it again in 2.1 we can consider backporting it. If we see any more reports of the other errors we can open a separate issue.

[2018-04-17 16:51] Tratcher commented on #2282
Failures: 6 flaky failures between Jan 25 and 31 and it's been skipped since. Only Mac OSX High Sierra.

1 was a mass failure due to an API/runtime break in Memory
http://aspnetci/viewLog.html?buildId=396670&tab=buildResultsDiv&buildTypeId=XPlat_HighSierraOsxUniverse#testNameId-8597986509470181680

The other 5 all have pretty much the same stack trace:
[code]

Various ResponseTests also failed in

[2018-04-17 16:56] Tratcher commented on #2225
Nevermind, it's still failing.

[2018-04-17 16:58] Mattacks commented on #2495
That was the missing link. Did not realise. Apologies for wasting your time.

[2018-04-17 16:58] #2495 closed

[2018-04-17 17:23] Tratcher opened #2500 "RegisterAddresses_IPv4Port5000Default_Success"
This was a local test failure that hints at a product bug. In 2.1 preview1 we added support to bind to https://localhost:5001/ by default if the dev cert was available. However we don't check if the port is available. Note Kestrel doesn't check if port 5000 is available either, but when doing a localhost bind it will only fail if both IPv4 and IPv6 fail.

At a minimum this test needs to add [PortS

[2018-04-17 19:16] halter73 commented on #2469
@ryanbrandenburg I think your "here" link is bad. It links to some XML, and when I follow the urls in the XML, it points to a bunch of tests runs that have timed out but not with this error. This particular test timing out after 60 seconds should prevent those kind of test run timeouts.

I saw a failure UpgradedConnectionsCountsAgainstDifferentLimit that might be related to this. I used @JunTaoLuo

[2018-04-17 20:54] chuanboz commented on #2498
Thanks Chris for the fast response, I could understand your reasoning here, and for this one I could temporary copy that part of code.

for HttpSys, I will need support to at least mark MessagePump class as Public, it's internal currently.

[2018-04-17 20:58] ryanbrandenburg commented on #2469
The 'here' like was for the larger list of general timeouts that I made when I was hoping it could all be fixed from a single place. I no longer believe that to be the case.

[2018-04-17 22:11] shirhatti commented on #2334
Triage decision: We will take this change despite the small perf regression in Windows.

[2018-04-17 22:19] shirhatti commented on #2489
Punting to 2.2 since this a dev only issue

[2018-04-17 22:19] #2487 closed

[2018-04-17 22:58] danroth27 commented on #2499
Blog post updated.

[2018-04-17 22:58] #2499 closed

[2018-04-17 23:15] TechnikEmpire commented on #2494
@davidfowl @Tratcher Thanks for your time, it ended up being something stupid on my end. Sorry for the false alarm.

[2018-04-17 23:15] #2494 closed

[2018-04-18 10:05] Plasma commented on #2484
Thanks, ill give this a go. Are you able to share some insights into how the request pipeline works?

Are there just ThreadPool threads being allocated to process requests, and when async/await happens. *any* thread pool thread can resume the thread context, unlike legacy ASPNET that requires the original thread (w/ sync context)?

Just trying to understand how its working underneath to better dia

[2018-04-18 18:42] mikeharder opened #2503 "Flaky Test: Hang in Libuv and Sockets FunctionalTests/netcoreapp2.1"
Kestrel FunctionalTests are hanging frequently on CI:

# KestrelHttpServer
[code]
http://aspnetci/viewLog.html?buildId=449083&buildTypeId=Lite_KestrelHttpServer&tab=buildLog&_focus=39538

[code]
http://aspnetci/viewLog.html?buildId=445522&buildTypeId=Lite_KestrelHttpServer&tab=buildLog

# Win2012-Kestrel
[code]
http://aspnetci/viewLog.html?buildId=449994&tab=buildLog&buildTypeId=Lite_KestrelStress

[2018-04-18 23:17] mikeharder commented on #2434
This issue appears to be unrelated to `GetNextPort()` reliability.  A few facts:

1. I've only seen failures of this test on MacOS.
2. Kestrel is failing to bind directly to port 0, which looks like an issue with the machine/environment or a product issue in Kestrel, not a test issue:

[code]

@halter73, @pakrym: Any ideas for how Kestrel could occasionally fail to bind to this IP and port on MacO

[2018-04-18 23:32] sebastienros opened #2504 "Perf regression on Linux SSL (ASP.NET plaintext)"
Moving https://github.com/dotnet/corefx/issues/28830 here since nothing is showing it is because a corefx change. Now we need to investigate the same way with aspnet.

[2018-04-18 23:47] mikeharder commented on #2503
PR to enable diagnostic messages, which should tell us which specific test is hanging: https://github.com/aspnet/KestrelHttpServer/pull/2505

[2018-04-18 23:57] sebastienros commented on #2504
The updated commands I ran to pinpoint the regressions:

[code]

[code]

On ASPNET side there was not successful UC build between `2.1.0-preview3-32107` and `2.1.0-preview3-32110`

Here is the link to the version `2.1.0-preview3-32110` that might have triggered the issue in aspnet

http://aspnetci/viewLog.html?buildId=439322&buildTypeId=AspNetCore_Publish&tab=buildChangesDiv

[2018-04-19 00:12] mikeharder opened #2506 "Test failures on Ubuntu Jenkins"
Several tests failed on a recent Ubuntu Jenkins run.  I'm not sure if they're flaky or fail consistently on Jenkins.

# RegisterAddresses_HostName_Success
[code]

# ListenAnyIP_HostName_Success
[code]

# Sending100ContinueDoesNotStartResponse
[code]

# UpgradedConnectionsCountsAgainstDifferentLimit
[code]

# UsesProvidedServerCertificateSelectorEachTime
[code]

# AcceptsRequestWithNoContentLengthA

[2018-04-19 16:58] ryanbrandenburg commented on #2434
We don't know how often it fails because it's been [ignored](http://aspnetci/project.html?tab=testDetails&testNameId=4631575810561379161&projectId=AspNetEf) on every single dev build in our history. Is that a bug in one of the [conditions](https://github.com/aspnet/KestrelHttpServer/blob/2d51d236979ee731b8675e5879a56b708ec2fa4b/test/Kestrel.FunctionalTests/AddressRegistrationTests.cs#L110)?

[2018-04-19 17:02] mikeharder commented on #2434
I see.  The test was skipped (with a pointer to this bug), so we don't have current CI data on the test.  I'll need to either repro on my own VMs, or un-skip the test so we can get data again from CI.

https://github.com/aspnet/KestrelHttpServer/blob/2d51d236979ee731b8675e5879a56b708ec2fa4b/test/Kestrel.FunctionalTests/AddressRegistrationTests.cs#L107

[2018-04-19 19:25] mikeharder commented on #2503
I was able to get a local repro and capture dumps, and the root cause appears to be in the CLR (specifically the GC).  Blocked waiting for assistance from the CLR.

[2018-04-19 21:44] mikeharder commented on #2503
We believe the root cause is managed heap corruption.  The ASP.NET team will attempt to find the root cause, which could be in either ASP.NET or CLR code.

A separate issue is that once the managed heap is corrupted, fatal error reporting can trigger a deadlock in the GC: https://github.com/dotnet/coreclr/issues/17679.

# Repros
## Kestrel.Transport.Libuv.FunctionalTests\bin\Release\netcoreapp2.1

[2018-04-19 21:49] mikeharder commented on #2503
I have captured two dumps from hung tests (both in `Libuv.FunctionalTests`), and both were in the `MaxRequestBufferSizeTests.LargeUpload` test case.  I haven't yet captured a dump from hung tests in `Sockets.FunctionalTests`.

[2018-04-19 23:28] mikeharder commented on #2503
According to CI logs, the first instance of this hang was 4/3/18 2:40 PM:

http://aspnetci/viewLog.html?buildId=439512&tab=buildResultsDiv&buildTypeId=Lite_KestrelStressTest

Earlier this day, the NETCoreApp dependency was updated from NETCoreApp 2.1.0-preview2-26330-03 to 2.1.0-preview3-26331-01:

https://github.com/aspnet/Universe/commit/f828c9d6aa3508cfabefe00fd00ac491193727d6#diff-30dcc9789f8e

[2018-04-20 00:39] mikeharder opened #2507 "Flaky Test: ResponseTests.Sending100ContinueDoesNotStartResponse"
[code]

http://aspnetci/viewLog.html?buildId=451859&tab=buildResultsDiv&buildTypeId=Lite_KestrelStressTest

[2018-04-20 01:03] sebastienros commented on #2504
I have tested all runtime assemblies but these which fail individually:

[code]

They probably need to be set all together, and also with compatible Kestrel versions

[2018-04-20 14:08] severisv opened #2508 "InvalidOperationException: Invalid non-ASCII or control character in header: 0x00F8"
When getting files from Azure Blob Storage in my ASP.NET Core application, I obtain a temporary URI with an access signature and then redirect the user to that URI, like this:

[code]

This works fine until I try to get a file with a nordic character (ø). Then it crashes:

[code]

Accessing the generated URI manually (without redirecting) properly returns the file.

How can I work around this?

[2018-04-20 18:05] mikeharder opened #2509 "Investigate xUnit "non-serializable data" warnings"
Kestrel tests have hundrends of this scary-looking warning from xunit:

[code]

http://aspnetci/viewLog.html?buildId=451476&tab=buildLog&buildTypeId=Lite_KestrelHttpServer&logTab=tree&filter=all&_focus=847#_state=350

They started when xUnit diagnostics messages were enabled (https://github.com/aspnet/KestrelHttpServer/pull/2505).  We should investigate what's causing these warnings, what is their

[2018-04-20 18:36] geoffkizer opened #2510 "Buffers are being pinned/unpinned in socket IO calls"
I'm looking at traces of TechEmpower JSON.  We're spending about 1.0% of time in Memory.Pin and about 1.3% in MemoryHandle.Dispose.  We seem to actually be doing the pin/unpin on underlying byte array.

It looks like the recent Memory changes lost the optimization to avoid pinning here.  I believe this is *supposed* to work, but it's not.

[2018-04-20 18:49] Tratcher commented on #2508
uri.AbsoluteUri will do the proper encoding for everything except the host name and is adequate as long as you're not dealing with IDNs.

[2018-04-20 18:50] joshfree commented on #2510
@GrabYourPitchforks could you please assist here?

/cc @KrzysztofCwalina @ahsonkhan @pakrym

[2018-04-20 19:11] GrabYourPitchforks commented on #2510
Problem appears to be that `Memory<T>.Slice` doesn't preserve the "this buffer is already pinned" flag.

[2018-04-20 19:13] GrabYourPitchforks commented on #2510
Tracked at https://github.com/dotnet/corefx/issues/29239.

[2018-04-20 19:13] GrabYourPitchforks commented on #2510
On second thought, reopening this issue until we know for sure this is the root cause.

[2018-04-20 19:57] Tratcher commented on #2507
56 CI failures to date (why is this test still enabled?)
http://aspnetci/project.html?projectId=XPlat&buildTypeId=&tab=testDetails&testNameId=3001934443389466677&order=TEST_STATUS_DESC&branch_XPlat=__all_branches__&itemsCount=50

IndexOutOfRangeException
http://aspnetci/viewLog.html?buildId=401977&tab=buildResultsDiv&buildTypeId=Lite_KestrelStressTest#testNameId3001934443389466677
http://aspnetci/

[2018-04-20 20:11] muratg commented on #2334
We're late in 2.1 cycle. Punting this to 2.2.

[2018-04-20 20:55] mikeharder commented on #2507
@ryanbrandenburg: Should this test be disabled until the issues can be investigated?  My intuition is yes but I'm not sure the protocol we typically follow.

[2018-04-20 20:56] mikeharder commented on #2405
Dup of #2507.

[2018-04-20 20:56] #2405 closed

[2018-04-20 20:56] mikeharder commented on #2401
Dup of #2507.

[2018-04-20 20:56] #2401 closed

[2018-04-20 20:58] mikeharder commented on #2507
Also concerning to see a test be flaky in so many different ways.  @halter73, @pakrym: Any concern this could be a product bug?

[2018-04-20 21:11] pakrym commented on #2507
Seems like a test issue, lot's of the exceptions (InvalidOperationException/IndexOutOfRangeException/NullReferenceException ) point to a race in logging

[2018-04-20 21:32] Tratcher commented on #2507
I'm investigating now. I'll disable it if I don't find a ready solution.

[2018-04-21 03:11] jkotas commented on #2503
This issue was moved to dotnet/coreclr#17716

[2018-04-21 04:08] ahsonkhan commented on #2510
Local testing shows the traces no longer contain calls to GCHandleInternalAlloc after this change (https://github.com/dotnet/corefx/pull/29246).

[2018-04-21 04:26] ahsonkhan commented on #2510
Or, we can keep it open until we verify the fix after ASP.NET updates to the newer runtime.

[2018-04-21 08:14] severisv commented on #2508
That solves it, thanks!

[2018-04-21 08:14] #2508 closed

[2018-04-21 15:39] israellot opened #2512 "Lower level middleware"
A lot of applications have to deal with the same pipeline as an http server up until protocol handling.
An MQTT broker for example could reuse kestrel code from the tcp connection middleware forward.
Is there any change of decoupling kestrel this way?

[2018-04-21 15:43] benaadams commented on #2512
Project Bedrock https://github.com/aspnet/KestrelHttpServer/issues/1980

[2018-04-21 15:45] israellot commented on #2512
That was fast! Thanks

[2018-04-21 15:45] #2512 closed

[2018-04-21 16:07] davidfowl commented on #1980
@JanEggers wrote an MqttServer prototype implementation based on bedrock https://github.com/JanEggers/Playground/blob/SignalR/MQTT/Playground.core/Program.cs#L24 https://github.com/JanEggers/Playground/blob/SignalR/MQTT/Playground.core/Hubs/MqttHubConnectionHandler.cs

[2018-04-21 17:36] AlisherSharopov commented on #1376
Hi, I could not fix this error in the YII2 framework, what should be done.
Content-Length mismatch, received 173235 bytes out of the expected 1695210
http://packagist.org could not be fully loaded, package information was loaded from the local cache and may be out of date

[2018-04-21 17:49] AlisherSharopov commented on #1376
Especially that mistake:
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - yiisoft/yii2-jui 2.0.7 requires bower-asset/jquery-ui ~1.12.1 -> no matching package found.
    - yiisoft/yii2-jui 2.0.6 requires bower-asset/jquery-ui 1.11.*@stable -> no matching package found.
    - yiisoft/yii2-jui 2.0.5 requires bower-asset/jquery-ui 1.11.*@stable -> no match

[2018-04-21 17:52] AlisherSharopov commented on #1376
When I have done this in the Console:

composer require --prefer-dist yiisoft/yii2-jui

[2018-04-21 17:58] Tratcher commented on #1376
@AlisherSharopov this is a closed issue. Please open a new issue that covers your specific scenario.

[2018-04-21 18:09] AlisherSharopov commented on #1376
Who will be can fix this error?

[2018-04-21 18:11] AlisherSharopov commented on #1376
Well, I'm organizing now

[2018-04-21 18:24] AlisherSharopov opened #2513 "composer require --prefer-dist mihaildev/yii2-elfinder "*""
Салом, ба ҳама.
Вақте, ки ман ин (composer require --prefer-dist mihaildev/yii2-elfinder "*") амалро дар console иҷро кардам, чунин хатогӣ рух дод:

Content-Length mismatch, received 1368303 bytes out of the expected 1695049
http://packagist.org could not be fully loaded, package information was loaded from the local cache and may be out of date
Your requirements could not be resolved to an instal

[2018-04-21 18:26] AlisherSharopov commented on #2513
Hello, to all.
When I did this practice (composer.php requires --prefer-dist mihaildev / yii2-elfinder * * ") in the console, this error occurred:

Content-Length mismatch, received 1368303 bytes out of the expected 1695049
http://packagist.org could not be fully loaded, package information was loaded from the local cache and may be out of date
Your requirements could not be resolved to an install

[2018-04-21 18:29] AlisherSharopov commented on #2513
Hello, to all.
When I did this practice (composer requires --prefer-dist mihaildev / yii2-elfinder * * ") in the console, this error occurred:

Content-Length mismatch, received 1368303 bytes out of the expected 1695049
http://packagist.org could not be fully loaded, package information was loaded from the local cache and may be out of date
Your requirements could not be resolved to an installable

[2018-04-21 21:14] Tratcher commented on #2513
I don't see how this relates to Kestrel, or even ASP.NET Core. stackoverflow.com may be a more appropriate place for this question.

[2018-04-21 23:32] JamesNK commented on #2509
It's caused by non-serializable parameters in xunit tests. SignalR had the same thing - https://github.com/aspnet/SignalR/issues/1649

All tests are still run, you just don't see them as there own nodes in the VS test explorer.

[2018-04-23 16:32] Tratcher commented on #2486
https://github.com/aspnet/Common/pull/342

[2018-04-23 17:05] mikeharder commented on #2486
The test hang is likely a dup of https://github.com/aspnet/KestrelHttpServer/issues/2503.  The `ObjectDisposedException` for `MemoryPoolBlock` may also be a valid issue, but it's likely unrelated to the hang which was caused by a GC bug (https://github.com/dotnet/coreclr/issues/17716).

[2018-04-23 17:13] mikeharder opened #2515 "Unit Tests: Don't log messages for expected exceptions"
Currently, the Kestrel unit tests log several messages for expected exceptions, which makes it much harder to find real issues in Kestrel test logs.  Exceptions should only appear in the test logs if a test failed.

[code]

[2018-04-23 18:44] sywhang commented on #2503
@mikeharder Is there any way to run the CI run with private builds of coreclr?
The coreclr side issue was fixed with https://github.com/dotnet/coreclr/pull/17710, but is not merged into 2.1 yet because we need to verify the fix addresses this CI hang issue. It would be helpful to get the fix approved for 2.1 if you can verify this fix addresses this issue using the latest master branch of coreclr.

[2018-04-23 19:42] Tratcher opened #2517 "Microsoft.AspNetCore.Server.Kestrel.FunctionalTests.ResponseTests.IgnoreNullHeaderValues"
9/10 of the theories for this test fail sporadically.

The failures are limited to MacOS & High Sierra.

This started on 4/13 and is still failing today on 4/23.

There were no test changes then, but there was a product change https://github.com/aspnet/KestrelHttpServer/commit/e30a02cee5ff4919a3be82bf53bab6bb5146e7de that suspicously related.

[code]

[2018-04-23 19:57] Tratcher commented on #2517
The failures are primarily in the Libuv.FunctionalTests/netcoreapp2.0 test group, which is the last to run, and there are several other tests failing with the same HttpClient stack trace.
OnStartingThrowsWhenSetAfterResponseHasAlreadyStarted
OnCompletedExceptionShouldNotPreventAResponse
LargeDownload

This looks like a resource exhaustion issue specific to Mac on netcoreapp2.0. In this environment

[2018-04-23 21:07] Tratcher commented on #2517
How to change file handle limits: https://gist.github.com/tombigel/d503800a282fcadbee14b537735d202c

[2018-04-23 21:49] #2515 closed

[2018-04-24 00:43] ryanlederman commented on #1276
I am using `curl` to warm my server up–both when started manually and by `systemd` in case it crashes or the system reboots:

[code]

I would still like to see this built in, though.  See [my repository](https://github.com/ryanlederman/net-core-systemd-service) for more information on configuring a .NET Core server as a `systemd` service.

[2018-04-24 01:06] muratg commented on #2510
@davidfowl Any work left to do in RC1?

[2018-04-24 14:50] DamianEdwards commented on #1144
Let's investigate this for 2.2

[2018-04-24 17:57] muratg commented on #2054
Tracking the dev work.

[2018-04-24 17:57] muratg commented on #2171
Closing this one.

[2018-04-24 17:57] #2171 closed

[2018-04-24 20:28] muratg commented on #2513
@AlisherSharopov This bug in it's current state is not actionable. If you have questions, please go to stackoverflow.com.  If you think you identified a bug, please file another issue with detailed steps to reproduce the issue. Thank you.

[2018-04-24 20:28] #2513 closed

[2018-04-25 00:25] #2509 closed

[2018-04-25 00:28] mikeharder commented on #2509
Partial fix at https://github.com/aspnet/KestrelHttpServer/pull/2520.  Decided the fix was getting too complicated and it would be better to just disable xUnit diagnostic messages.

[2018-04-25 00:29] mikeharder commented on #2503
Verified the issue repros in build [2.1.300-preview3-008646](https://github.com/dotnet/versions/tree/6bf02f0d943a07b4af784865af6b6438c528c0b2/build-info/dotnet/product/cli/release/2.1) and is fixed in build [2.1.300-rc1-008662](https://github.com/dotnet/versions/tree/71dbc35c3afacb93fc2f933af56f63572fcbcb19/build-info/dotnet/product/cli/release/2.1).

[2018-04-25 00:29] #2503 closed

[2018-04-25 20:05] joetherod opened #2524 "Asp Net MVC Core App getting Http Bad Request"
The request doesnt seem to make it to the MVC Core application and no errors are thrown. The browser just returns 400 Bad Request. The url contains an accented character.

uri encoded in javascript and part of url:
Paris%2C%20%C3%8Ele-de-France%20Region
actual value:
Paris, Île-de-France Region

How do I configure Kestrel to allow the characters.
The originial app MVC 4 running in IIS allows the u

[2018-04-25 20:34] tmds opened #2525 "Sockets Transport is missing OnWriterCompleted handler"
This is still missing from the Sockets transport and allows a client to block the timeout logic by not reading as explained here: https://github.com/aspnet/KestrelHttpServer/issues/1771#issuecomment-297524780.

CC @halter73 @davidfowl

[2018-04-25 20:34] Tratcher commented on #2524
Already responded at https://github.com/aspnet/Home/issues/3094#issuecomment-384410319

[2018-04-25 20:40] benaadams commented on #2525
/cc @blowdart

[2018-04-25 20:41] blowdart commented on #2525
@cesarbs as you looked at the last issue

[2018-04-25 22:04] benaadams commented on #2525
Looks like **"Make write timeout work on Socket transport"** #1943 was closed as it was being tracked in **"The connection was closed because the response was not read by the client at the specified minimum data rate"** #2171

Then it looks like #2171 was just closed without resolution?

[2018-04-26 00:31] joetherod commented on #2524
This was actually related to a cookie set on the client and getting sent to server. Had this issue with not encoding cookies on the server, and they were set to empty. If the cookie is set on the client side, and posted, it shouldnt give a Bad Request page with no way to handle it in code. Another gotcha with cookies in aspnet core.

[2018-04-26 00:31] #2524 closed

[2018-04-26 00:32] joetherod commented on #1144
My issue was related to a cookie set on the client and getting sent to server. Had this issue with not encoding cookies on the server, and they were set to empty. If the cookie is set on the client side, and posted, it shouldnt give a Bad Request page with no way to handle it in code. Another gotcha with cookies in aspnet core.

[2018-04-26 20:07] p2atran opened #2527 "https kestrel causes script to load 4-5 times slower than without"
I originally thought the bug was part of mvc, but it might be from kestrel.

Information can be found on this thread:
https://github.com/aspnet/Mvc/issues/7704

But to sum it up, if you follow these instructions to get a new core 2.0 project:
https://docs.microsoft.com/en-us/aspnet/core/getting-started?view=aspnetcore-2.0

Then add https in `UseKestrel` in program.cs, the program loads super slow.

[2018-04-26 21:08] KPixel commented on #1980
I was working on a [tutorial for Pipelines](https://github.com/KPixel/Prototypes/tree/master/Pipelines) and Connections, and I am stuck because it is currently difficult to explain the Connections library without tying it to either SignalR or Kestrel.

![image](https://raw.githubusercontent.com/KPixel/Prototypes/master/Pipelines/_static/duplex-connection.png)

Currently, the TCP transport is in Ke

[2018-04-27 04:46] JanEggers commented on #1980
from my point of view kestrel will allways be required, but there will be a better layering on top of it. so you can do:
tcp > [TLS] > http > aspnet
tcp > [TLS] > http > signalr
tcp > [TLS] > mqtt > [signalr]
tcp > your own thingy

[2018-04-27 05:05] davidfowl commented on #2527
/cc @sebastienros

[2018-04-27 05:14] davidfowl commented on #1980
Those are the 2 hosts, what are you expecting? Dispatchers need to exist in order for you to actually run the framework built on top of connections. The 3rd type of dispatcher is the manual in memory test connection. Where you new up your connection handler and pass in a test `ConnectionContext`.

And they have their own internal dispatchers.

That's correct an by design. There could be a pure web

[2018-04-27 06:00] KPixel commented on #1980
That's basically what I meant.
So, you answered my question :)

[2018-04-27 07:35] AlisherSharopov opened #2529 "I have a question about using Yii2-framework"

[2018-04-27 07:57] AlisherSharopov commented on #2529
Does anyone use Yii2-Framework?

[2018-04-27 07:59] davidfowl commented on #2529
Nope

[2018-04-27 08:01] AlisherSharopov commented on #2529
I do not understand your speech

[2018-04-27 08:04] AlisherSharopov commented on #2529
I have a question for him.

[2018-04-27 08:15] AlisherSharopov commented on #2529
When I did this practice (composer requires --prefer-dist mihaildev / yii2-elfinder "*") in console, this error occurred:

Content-Length mismatch, received 1368303 bytes out of the expected 1695049
http://packagist.org could not be fully loaded, package information was loaded from the local cache and may be out of date
Your requirements could not be resolved to an installable set of packages.

Pr

[2018-04-27 09:27] #2529 closed

[2018-04-27 18:10] p2atran commented on #2527
@davidfowl Are there any potential work arounds to get https working without using kestrel to avoid the performance hit?

[2018-04-27 18:31] Tratcher commented on #2527
You can use IIS or HttpSys.

[2018-04-27 18:34] p2atran commented on #2527
@Tratcher If i'm using a mac to develop, would HttpSys be out of the picture? I checked the documentation and it says it only supports windows. If my server, however, is on Azure that should be fine right?

[2018-04-27 18:46] p2atran commented on #2527
@Tratcher Oh so if I'm using the `listenOptions` in kestrel to provide the ssl cert, I can just remove that bit of code and replace it with `useIIS` and place my cert in the azure portal?

[2018-04-27 18:46] Tratcher commented on #2527
That's the idea.

[2018-04-27 18:48] p2atran commented on #2527
Oh okay i'll give that a shot. We should probably still investigate why kestrel has a performance hit though right? And would it just be as simple as adding `UseIIS()` to the WebHostBuilder?

[2018-04-27 18:50] Tratcher commented on #2527
You shouldn't need to add anything, IIS Support is included via WebHost.CreateDefaultBuilder.