[2015-11-13 21:33] troydai commented on #359
@guyajun0 would you please try out this scenario with the RC2 bits?

[2015-11-13 21:34] #338 closed

[2015-11-13 22:42] NickCraver commented on #365
What's the expectation on reporting in the SSL termination (e.g. reverse proxy) case? For example, will Kestrel eventually be aware of the `X-Forwarded-Proto` chain or is that entirely up to the application to determine?

[2015-11-13 22:48] NickCraver commented on #359
Semi-related: the exposed IPAddress is unaware of any proxy or load balancer - it's strictly reporting the endpoint...which confuses many developers the first time. The second stage of that is every app behind a load balancer implementing `X-Forwarded-Proto` and `X-Forwarded-For` with copy/paste code which is also often wrong or makes bad assumptions.

Is it worth discussing IP/Protocol handling h

[2015-11-13 23:05] halter73 commented on #365
@NickCraver I think the expectation is that the developer needs to add our [OverrideHeaderMiddleware](https://github.com/aspnet/BasicMiddleware/blob/dev/src/Microsoft.AspNet.HttpOverrides/OverrideHeaderMiddleware.cs) if they're behind a reverse proxy.

[2015-11-13 23:08] NickCraver commented on #365
@halter73 ah just what I was looking for, thanks! The middleware seems incorrect though. For example, X-Forwarded-Proto is a comma list as well, not a single entry...it's just *usually* a single entry. The "spec" is multiple though, for example CloudFlare adds one and HAProxy adds one in our case.

[2015-11-13 23:31] NickCraver commented on #365
@halter73 I appreciate the link; I couldn't find that when looking. Issue opened on that repo: https://github.com/aspnet/BasicMiddleware/issues/18

[2015-11-14 00:06] #366 closed

[2015-11-14 04:48] Tratcher commented on #359
@NickCraver Yes, there's a middleware for that: https://github.com/aspnet/BasicMiddleware/blob/dev/src/Microsoft.AspNet.HttpOverrides/OverrideHeaderMiddleware.cs#L23

[2015-11-14 06:50] DamianEdwards commented on #232
This is totally functional now and #378 deals with changing the default.

[2015-11-14 06:50] #232 closed

[2015-11-14 09:28] leastprivilege commented on #332
Well - at least the IIS platform plumbing could forward the validated client client cert to kestrel. More control would be nice - but that would be a start.

[2015-11-14 11:50] thekane commented on #78
Thanks for your reply @BeranekCZ

Seems to me this is an issue in mono not supporting debian 32 bit.

I think I will have to switch to ubuntu 32 inmediately. After that I will need to get a 64 bit PC to use debian in the long term (because coreclr won't support 32 bits at all).

[2015-11-14 14:18] davidfowl commented on #332
@leastprivilege that's a different feature and has nothing to do with Kestrel https://github.com/aspnet/IISIntegration/issues/27

[2015-11-14 16:56] moozzyk commented on #382
This moment when you file the same bug that you filed a week ago... #340

[2015-11-14 16:56] #382 closed

[2015-11-14 17:01] davidfowl commented on #382
get some sleep :smile:

[2015-11-15 12:07] IsaacSee opened #388 "Microsoft.AspNet.Server.Kestrel.Networking.UvException: Error -4077 ECONNRESET connection reset by peer"
Hello,

Since the migration using HttpPlatformHandler with KestrelServer, we experience multiple Microsoft.AspNet.Server.Kestrel.Networking.UvException "ECONNRESET".

I think this is not realy a Kestrel bug because the requests are indeed reset by the client but we wonder if this error could not be silently ignored by Kestrel and/or manualy in the exception handler.

[2015-11-15 13:49] NickCraver commented on #327
Resolved by #326, can be closed.

[2015-11-15 13:56] benaadams opened #389 "Add CORS headers to known reponse headers to avoid initialization of unknown headers code path"
Particularly `Access-Control-Allow-Origin`

Related:

`Access-Control-Allow-Methods`
`Access-Control-Allow-Headers`
`Access-Control-Expose-Headers`
`Access-Control-Max-Age`

[2015-11-15 13:58] #327 closed

[2015-11-15 14:00] NickCraver commented on #369
If we were using this in production and Startup failed for *any* reason, I'd much rather the server fail to start completely (e.g. process crash) and go to the logs to figure out why rather than have it partially functional in unexpected and less-likely-to-notice ways.

Is it possible to completely bomb instead? I think most sysadmins would desire this behavior vs. a partial/unknown failure.

[2015-11-15 15:27] NickCraver commented on #389
Are you talking about adding them to the known headers, or actually adding on every response? I'm assuming the former here.

I'm for adding these and additionally pre-computing the bytes for all known header names and only eating the encoding cost of the value, but it's a non-trivial change (it'd be on top of #367, allowing `BlockCopy` usage for all headers). Given that almost every usage of heade

[2015-11-15 15:34] benaadams commented on #389
Adding to known headers else added them causes initialization of the `Unknown` dictionary and their key gets converted to string: https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/FrameHeaders.Generated.cs#L4508

I use them all the time; other than on the entry domain; all other work is done on subdomains and with ajax; images (cors needed for webgl/canv

[2015-11-15 15:38] benaadams commented on #389
@NickCraver just made me think; all unknown response headers keys could be converted to a byte array once and stored in dict for cached conversion of key

[2015-11-15 15:42] NickCraver commented on #389
I thought about that too - it could lead to unintended unbounded growth of that structure though. I can't think of a reasonable way around that for the case that *does* generate headers with some unbounded superset. I think we have to add all of the common ones (including these) and optimize that set as best we can and optimize unknown as much as possible *without* caching the result.

[2015-11-15 15:46] benaadams commented on #389
Should be ok as its server controlled response headers? If it was request headers I could see an issue as the memory growth would be controlled by an external third party; but server response headers should only be what is coded; and what's necessary for the app?

Unless you have a unique header key per request or similar?

[2015-11-15 15:55] NickCraver commented on #389
Yep - the unique-ish per response is the issue. I don't personally have a use case for this, but I've seen it in the wild....regardless of if I strongly disagree with it :) Some people use it for things like `Auth-<userid>: <token>` on proxy requests and such. It's not a good idea, but due to max per-header lengths in various proxies across the internet, I see why they had to get "creative"...

[2015-11-15 16:05] benaadams commented on #389
Was going to suggest only doing it for `IsInterned` strings which would solve that; and they have fast comparisons for dictionary lookup. However isn't in coreclr :(

[2015-11-16 12:13] IsaacSee opened #392 "Connection id "30" disconnected."
Hello,

Last build of Kestrel logs connection disconnections "Connection id "30" disconnected." as errors.
Since they are not real errors, is there a way to prevent Kestrel to log them in default logger ?

[2015-11-16 17:44] troydai commented on #371
Fixed in https://github.com/aspnet/KestrelHttpServer/commit/2e2dfd87c1dcd5c286679276670becc9b34fc8c4

[2015-11-16 17:44] #371 closed

[2015-11-16 19:47] #334 closed

[2015-11-16 22:11] Tratcher commented on #341
@staff0rd Let's re-test your scenario after we get the identified bug fixed.

[2015-11-17 00:04] #263 closed

[2015-11-17 04:13] #291 closed

[2015-11-17 04:29] #392 closed

[2015-11-17 04:56] #374 closed

[2015-11-17 15:34] #375 closed

[2015-11-17 17:22] NTaylorMullen opened #398 "Throwing in async void methods crash Kestrel"
A customer reported that throwing in their `TagHelper` caused Kestrel to crash. Turns out they were using `async void` which resulted in the crash. The original thread is [here](https://github.com/aspnet/Razor/issues/607).

Validated that WebListener/IISExpress do not crash from the same bits. Helios must tie into the appdomain exceptions whereas IISExpress lets the underlying server crash and the

[2015-11-17 18:32] Tratcher commented on #398
I recommend moving this to Hosting, it's not a Kestrel specific issue.

[2015-11-17 18:37] NTaylorMullen commented on #398
This issue was moved to aspnet/Hosting#484

[2015-11-17 18:37] #398 closed

[2015-11-18 02:06] lodejard opened #400 "Connection disconnected shouldn't be `Fail`"
It appears that's a normal way some browsers remove http connections from their connection pool.

Note `fail:` below
[code]

[2015-11-18 03:16] guyajun0 commented on #359
@troydai,Hi，Thank you for your attention,When I develop using kestrel and asp.net 5. "Microsoft.AspNet.Server.Kestrel": "1.0.0-beta8",this line should put in project.json, But the releases has no 1.0.0-rc2, The latest release is 1.0.0-beta8, How can I use 1.0.0-rc2 reference?

[2015-11-18 04:18] AspNetSmurfLab commented on #375
Thanks, would be great to see how this performs as we move up in core count.

[2015-11-18 08:07] shahid-pk commented on #359
@guyajun0 use **dnvm upgrade -u** . to get the latest unstable

[2015-11-18 17:21] troydai commented on #359
@guyajun0 rc1 is just online. You can fetch the latest from nuget.org.

[2015-11-18 17:21] troydai commented on #359
I'll close this issue.

[2015-11-18 17:21] #359 closed

[2015-11-18 17:25] Tratcher commented on #359
e.g. dnvm upgrade

[2015-11-18 17:46] Tratcher commented on #400
Duplicate of https://github.com/aspnet/KestrelHttpServer/issues/392

[2015-11-18 17:46] #400 closed

[2015-11-18 20:34] halter73 commented on #299
Fixed by https://github.com/aspnet/KestrelHttpServer/pull/325

[2015-11-18 20:36] #299 closed

[2015-11-18 20:36] halter73 commented on #388
In RC2, we are changing the UvExceptions to IOExceptions: https://github.com/aspnet/KestrelHttpServer/issues/299

I don't think there are any plans to swallow these exception though.

[2015-11-18 23:08] cesarbs commented on #341
The problem here is the same as what we're facing in https://github.com/aspnet/KestrelHttpServer/issues/368: we're not sending an RST when we expect to (`ConnectionControl.End(ProduceEndType.SocketDisconnect)`).

Libuv currently does not expose the underlying socket enough for us to force an RST. They did have an API in the past that would allow us to send an RST (albeit Unix-only), but that is no

[2015-11-18 23:57] halter73 commented on #241
#385 makes SslProtocols configurable.

[2015-11-19 00:06] halter73 commented on #332
Just merged #385, so I'm closing this.

[2015-11-19 00:06] #332 closed

[2015-11-19 00:08] halter73 commented on #365
Fixed by #385

[2015-11-19 00:08] #365 closed

[2015-11-19 04:42] guyajun0 commented on #359
Thank you! As you say, RC1 can not get remote ip, So I have to wait your next release 1.0.0-RC2 to solve the problem. Waiting for your good news.

[2015-11-19 19:35] AspNetSmurfLab opened #404 "The default thread count should be reflected on KestrelServerInformation.ThreadCount during application start"
The default thread count is currently determined by `KestrelEngine` **after** the application's `Conifgure` method has been called. This means the application can't inspect the default value for `IKestrelServerInformation.ThreadCount`, like it can for `IKestrelServerInformation.NoDelay`. Essentially, the following code should echo the correct defaults:

[code]

[2015-11-19 19:40] txchen commented on #359
When will you release RC2?
This is a so basic scenario and I am shocked you don't cover this in your test. Insane!

[2015-11-19 20:13] halter73 opened #406 "Don't wait to consume the entire request body for Connection: close requests"
If you hit a sample app running on Kestrel with ab (apache bench which makes HTTP/1.0 requests), every request times out.

This is caused by Kestrel becoming stuck on `await messageBody.Consume()` in `Frame.RequestProcessingAsync`.

I think we fix this by simply not consuming the rest of the request for non keep-alive connections.

[2015-11-19 21:35] cesarbs commented on #370
Closed by https://github.com/aspnet/KestrelHttpServer/pull/403.

[2015-11-19 21:35] #370 closed

[2015-11-19 21:41] benaadams opened #407 "CreateLinkedTokenSource is high alloc"
Using `CreateLinkedTokenSource` allocates more memory than the HttpContext! O_o

![Token source](http://aoa.blob.core.windows.net/aspnet/tokensource.png)

`_requestAbortCts = CancellationTokenSource.CreateLinkedTokenSource(_disconnectCts.Token);`

https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/Frame.cs#L251

/cc @davidfowl @halter73

[2015-11-19 22:30] khellang commented on #407
Precisely 40 bytes per request, I think? We had a bug with this in Nancy, where it wasn't disposed properly. Didn't work out well for memory usage :sob:

![allocs](https://cloud.githubusercontent.com/assets/582487/11171766/a9337f1a-8bf8-11e5-845d-64bf69e91e63.png)

[2015-11-19 22:52] benaadams commented on #407
They are being disposed ok; just bad for GC

[2015-11-19 22:53] benaadams commented on #406
Was putting a PR together for this but it needs to go after "Precomputed header bytes" #367 if that's happening as its all change

[2015-11-19 23:08] cesarbs commented on #406
@benaadams The fix is simple. I was thinking something like:

                                if (_keepAlive)
                                {
                                    // Finish reading the request body in case the app did not.
                                    await messageBody.Consume();
                                }

Is this what you were thinking? The only reason this isn't i

[2015-11-19 23:22] cesarbs commented on #341
Forget my previous comment :smile:

nginx makes HTTP/1.0 requests when acting as a proxy. There is a known issue for `Connection: close` requests (which HTTP/1.0 requests implicitly are): https://github.com/aspnet/KestrelHttpServer/issues/406

There's an easy fix for putting Kestrel behind an nginx reverse proxy: set `proxy_http_version 1.1;` to have nginx send HTTP/1.1 requests.

[2015-11-19 23:27] benaadams commented on #407
Also it the function takes a params[] so calling it allocates an array :-/

[2015-11-19 23:33] staff0rd commented on #341
[This](https://github.com/jwilder/nginx-proxy/blob/master/nginx.tmpl#L43-L51) is already configuring HTTP/1.1.  Looking at the response headers of [test.atqu.in](http://test.atqu.in) also confirms that HTTP/1.1 is being used - same headers as in first post above.

[2015-11-19 23:38] cesarbs commented on #341
Can you try a different version of nginx? I repro'd your issue on 1.8 and found that using that setting fixed the problem. Then I switched to 1.9.6 and on that specific version the requests seem to take a long time to be served (but I didn't see the original issue), even when running on localhost. I don't see that happening on 1.9.7 though.

[2015-11-19 23:52] staff0rd commented on #341
[Updated](http://test.atqu.in), same symptoms - 1.3min response time.

Response headers;
[code]

[2015-11-19 23:56] cesarbs commented on #341
I can hit that URL just fine. Wasn't that the URL where you were seeing the error?

[2015-11-19 23:59] staff0rd commented on #341
Seriously?  I just tried chrome + firefox + edge.  Same symptoms on all - page immediately pops up, but loading doesn't stop for 1 min.  However, the page imediately pops up *and* stops loading if I go around nginx. (http://test.atqu.in:5000)

[2015-11-20 00:04] cesarbs commented on #341
Ohh, sorry, I didn't notice it was still loading :disappointed:

What addresses are you binding to? I figured out why 1.9.6 was taking so long to forward the request to Kestrel. I was binding Kestrel to my IPv6 loopback interface only, but nginx was first trying to forward the request to the IPv4 interface. It took a minute to time out and try the IPv6 interface. Maybe something similar is happeni

[2015-11-20 00:07] staff0rd commented on #341
Do you mean [this](https://github.com/staff0rd/TinyMvc/blob/master/project.json#L20) or something on the nginx side?

[2015-11-20 00:08] benaadams commented on #406
@cesarbs yes, good point :)

[2015-11-20 00:09] cesarbs commented on #341
Yep, that. Although you're already binding to an IPv4 interface... Can you try binding to localhost or * and see if that makes a difference?

[2015-11-20 00:13] staff0rd commented on #341
Its hosted in a docker container so I don't think that binding to localhost will work.  What's the syntax for \*,  `http://*:5000`?

[2015-11-20 00:15] cesarbs commented on #341
That's correct.

[2015-11-20 00:18] staff0rd commented on #341
Nah, same result;

[code]

[2015-11-20 01:02] cesarbs commented on #341
Ok, I've managed to repro your issue and it's in fact the same issue linked above - https://github.com/aspnet/KestrelHttpServer/issues/406.

For some reason nginx sends a `Connection: close` header to Kestrel. The nginx-proxy template actually erases any `Connection` headers in the request, but that's not really the issue because for HTTP/1.1 no `Connection` == `Connection: keep-alive`.

When I ad

[2015-11-20 01:16] staff0rd commented on #341
nice one @cesarbs, that indeed [fixes it](http://test.atqu.in).  I don't understand how/why that fixes though, nor why nginx-proxy removes it, I guess I should take it up with them.

[2015-11-20 02:49] cesarbs commented on #341
Closing this since we've found a workaround and we know that https://github.com/aspnet/KestrelHttpServer/issues/406 will eventually fix the problem.

[2015-11-20 05:19] NickCraver commented on #407
I don't see a clean way around this. There are *almost* enough bits exposed where this could be hoisted, but not quite:

[code]
The problem is there's no public API for excluding the execution context capture. If we had this exposed, it's duplicative of what CreateLinkedTokenSource is doing. On the other hand, we could eliminate several allocations here: the `params` and the internal `m_linkingReg

[2015-11-20 05:21] benaadams commented on #407
@NickCraver discussing over here https://github.com/dotnet/coreclr/issues/2113

[2015-11-20 05:30] NickCraver commented on #407
Ah excellent - thanks @benaadams!

Unrelated but noticed when looking at allocations here: what is that `_nullBuffer` for?

[2015-11-20 05:33] benaadams commented on #407
`_nullBuffer` is gone now, it was something to burn reads into in case the request hadn't been fully consumed. Now it fast forwards rather than actually reading.

[2015-11-20 05:37] NickCraver commented on #407
@benaadams I could just be dense here, but where's the removal? I looked through current PRs and can't find any touching it - still seeing it in the dev branch.

[2015-11-20 05:41] benaadams commented on #407
@NickCraver https://github.com/aspnet/KestrelHttpServer/pull/408 though it still allocates a CancellationTokenSource per request; just doesn't do the `CreateLinkedTokenSource` so its down quite a bit but not gone. Still a lot of stuff going on there:

![allocations](http://aoa.blob.core.windows.net/aspnet/allocations.png)

[2015-11-20 05:44] NickCraver commented on #407
Hmm, I think we're talking about different things here (or at least, I see nothing related in #408) - I'm referring to line 35: https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/Frame.cs#L35

[code]

[2015-11-20 05:49] benaadams commented on #407
Eeep! Good catch! It was meant to go as part of https://github.com/aspnet/KestrelHttpServer/pull/335 will submit a PR

[2015-11-20 05:52] benaadams commented on #407
Is now in https://github.com/aspnet/KestrelHttpServer/pull/409

[2015-11-20 05:53] NickCraver commented on #407
Okay awesome, thanks! I was in NYC this week but fly home from tomorrow; can't wait to test the latest over the weekend and hunt down remaining bottlenecks.

[2015-11-20 11:13] mrgleba commented on #388
I'd like to give my +1 for a possibility of somhehow being able to swallow the exception.
We're running Kestrel inside docker and we're logging to console.

As of now most of the logs come from these exceptions and this cutters the log output.

Maybe some new service  that if defined by the user in ConfigureServices can decide whether to swallow or to log.

[2015-11-20 17:03] cesarbs commented on #341
@staff0rd The real issue is #406, the `Connection: close` sent by nginx hits that issue. Setting `Connection: keep-alive` avoids the buggy code path.

[2015-11-20 20:28] #336 closed

[2015-11-20 22:53] sqmgh opened #414 "Originating request IP address retrieval"
It appears that the ability to retrieve this information is governed by support for IHttpConnectionFeature.
However, [support for this is listed as 'No'](https://github.com/aspnet/Docs/blob/master/aspnet/fundamentals/servers.rst#supported-features-by-server). This is backed up by the fact that Kestrel returns null when you try and Get() the feature.

While the other two options on that page do sup

[2015-11-21 04:46] cesarbs commented on #406
Closed by https://github.com/aspnet/KestrelHttpServer/commit/e4fd91bb68f535801ca8a79aa453ea3fb3f448fe.

[2015-11-21 04:46] #406 closed

[2015-11-21 22:20] meriturva commented on #216
The same problem here....Windows IoT on ARM (Raspberry pi 2).
[code]

is it related to: https://github.com/aspnet/KestrelHttpServer/issues/106 ?

[2015-11-22 23:38] Daniel15 opened #418 "Hangs when request contains "Connection: close" header"
Kestrel hangs when the "Connection: close" request header is provided:

![screen shot 2015-11-22 at 3 44 41 pm](https://cloud.githubusercontent.com/assets/91933/11327074/0ae045d6-9130-11e5-856f-38d406f09488.png)

--------

*Original post:*

I'm trying to upgrade my site from Beta 6 to RC 1. I'm encountering an issue whereby hitting Kestrel directly (ie. `curl http://localhost:5000/foo`) works fine

[2015-11-22 23:46] Daniel15 commented on #418
I worked out that Nginx is sending a `Connection: close` header, which is what's breaking it. Updated the issue to clarify.

[2015-11-22 23:48] Daniel15 commented on #418
Looks like this is fixed by e4fd91bb68f535801ca8a79aa453ea3fb3f448fe cc @cesarbs  - Is there a nightly build of Kestrel I can use that includes this fix?

[2015-11-22 23:49] #418 closed

[2015-11-22 23:51] khellang commented on #418
@Daniel15 You should be able to use the **aspnetcidev** feed; https://www.myget.org/feed/aspnetcidev/package/nuget/Microsoft.AspNet.Server.Kestrel

[2015-11-22 23:57] Daniel15 commented on #418
Thanks @khellang! It looks like I can't just use the latest Kestrel along with RC1 versions of everything else, as it has RC2 dependencies. I might just download the RC1 code and manually patch the fix in (assuming it patches cleanly on RC1)

[2015-11-23 00:28] Daniel15 commented on #418
Here's the patch I applied on RC1 to fix this:
[code]

I'll replace my patched version once RC2 is out :+1:

[2015-11-23 03:03] Daniel15 opened #419 "UNIX sockets not cleaned up on exit"
I'm using [Supervisord](http://supervisord.org/) to run Kestrel for [my site](http://dan.cx/). This is my Supervisor config:
[code]

Command in `project.json`:
[code]

This is working fine, but when I stop Kestrel (`supervisorctl stop dan`, "dan" being the name of the site in the Supervisor config), it does not clean up the UNIX socket (`/run/dan-live.sock`). The next time I try to start it, I get

[2015-11-23 06:33] Daniel15 commented on #419
As a guess, `PipeListener` and `PipeListenerPrimary` should delete the socket in their `Dispose` implementation.

[2015-11-23 13:12] benaadams opened #420 "Use TCP Loopback Fast Path on Windows"
As the recommended hosting model is to front Kestrel with a reverse proxy server (e.g. HttpPlatformHandler+IIS) which works over localhost, use the TCP Loopback Fast Path on Windows; where it skips the IP layer.

TCP Loopback Fast Path behaviour reference: http://blogs.technet.com/b/wincat/archive/2012/12/05/fast-tcp-loopback-performance-and-low-latency-with-windows-server-2012-tcp-loopback-fast-p

[2015-11-23 14:48] mburbea commented on #407
I realize this was solved a different way, but why couldn't you call the overload that takes 2 CancellationTokenSources?
`_requestAbortCts = CancellationTokenSource.CreateLinkedTokenSource(_disconnectCts.Token, default(CancellationTokenSource);`

I'm fairly certain that since the default one is not cancellable this should at least avoid the array creation.

[2015-11-23 14:55] benaadams commented on #407
@mburbea that's just twisted, though would likely work as is what `CancellationToken.None` is https://github.com/dotnet/coreclr/blob/0c298728a425b48c17b87f00211bd2bf368ec370/src/mscorlib/src/System/Threading/CancellationToken.cs#L61

[2015-11-23 15:16] mburbea commented on #407
Err, it's been a while yeah `Default(CancellationToken)`. Yeah, it's a micro-op I've adopted in a few places. I use to use `new CancellationToken()`, but ever since C#6 allowed struct parameterless constructors i'm hesitant to use that form.

It's not going to be the biggest win, but might cut your usage.

How exactly does the pay for play get invoked? If I declare a method in a webapi that takes

[2015-11-23 15:29] benaadams commented on #407
The CT is fine its the CTS that is expensive (well only 72 bytes.., now down to 64 bytes with some changes in coreclr). The pay for play means if nothing calls `Register` on the CT then the cost is not incurred; the cost itself only becomes an issue above 500k requests a second though; so I would worry too much :)

[2015-11-23 17:27] matizk144 commented on #106
Could you check latest version on Linux arm? Unfortunatelly in my RP2 doesn't work (Windows IOT)

[2015-11-23 19:48] borgdylan commented on #414
Getting the requestor's IP is available in the CI packages destined for RC2 if I'm not mistaken.

[2015-11-23 23:18] halter73 commented on #30
Fixed by https://github.com/aspnet/KestrelHttpServer/pull/325

Likely to be improved by https://github.com/aspnet/KestrelHttpServer/pull/408

[2015-11-23 23:18] #30 closed

[2015-11-23 23:31] halter73 commented on #297
This was a dup of #30

[2015-11-24 00:03] #297 closed

[2015-11-24 00:16] halter73 commented on #414
@borgdylan That's correct.

[2015-11-24 00:16] halter73 commented on #414
Dup of https://github.com/aspnet/KestrelHttpServer/issues/67

[2015-11-24 00:17] #414 closed

[2015-11-24 01:34] damienpontifex commented on #216
I had this same issue occurring on:

* Windows 10
* 1.0.0-rc1-final

Found the issue may have been caused by the project.lock.json pulling from source control after the dependencies were restored on mac.

so running `dnu restore` again changed the project.lock.json file and everything worked again on windows.

I have now seen in the aspnet/Home repo that project.lock.json is in the gitignore so wi

[2015-11-24 03:14] moozzyk commented on #106
This was actually fixed in d4853f9b7 where we started using the built-in support for loading native libraries instead of custom code we had before where we had this check.
@matizk144 - I believe what you are seeing is a different issue. You did not publish for win10 arm but used the default runtime id for which libuv is not defined. This is bug #340.
I am closing this bug and will follow up on thi

[2015-11-24 03:14] #106 closed

[2015-11-24 03:26] moozzyk commented on #216
This issue should be closed - it's hard to tell what it's tracking. It originally was created before we added native dll loading but then we entirely changed the code. Then an error with ARM appeared which I believe is a totally different issue (#340) and there also seems to be a comment about using sources. I believe we should track each of these issue separately.
@rynowak - was your issue resolv

[2015-11-24 18:28] kcraft commented on #142
I've experienced a similar issue using apache's "ab" tool for load testing.

[2015-11-24 18:32] kcraft opened #426 "rc1-final: Apache's "ab" load testing tool fails with "apr_poll: The timeout specified has expired""
Example output:

[code]

Curl works fine:

[code]

I found this issue on nodejs which mentions libuv as a possible culprit: https://github.com/nodejs/node-v0.x-archive/issues/1279

I'm running this inside of a base debian:wheezy docker container after running  ```apt-get install apache2-utils```. The Kestrel server is running in another docker container based on the ```microsoft/aspnet:latest``` i

[2015-11-24 20:22] lodejard commented on #290
Closed, resolved by #315 per @benaadams

[2015-11-24 20:22] #290 closed

[2015-11-24 20:24] benaadams commented on #290
@lodejard still open; is resolved by #363 instead now :)

[2015-11-24 20:29] lodejard commented on #8
Reassigning to @halter73 for investigation or closing if needed

[2015-11-24 20:36] benaadams commented on #289
Resolved by  #363 Resuse writes, initalize queues

[2015-11-24 20:37] benaadams commented on #165
Resolved by #363 Resuse writes, initalize queues

[2015-11-24 20:37] benaadams commented on #290
Resolved by #363 Resuse writes, initalize queues

[2015-11-24 20:40] benaadams commented on #426
Should be resolved by https://github.com/aspnet/KestrelHttpServer/pull/413 which was after rc1-final

[2015-11-25 09:32] #407 closed

[2015-11-25 11:19] mrgleba commented on #388
I think we were able to pinpoint the cause of ECONNRESET.
We were trying to return data for a HEAD request.

We're running behind a nginx proxy. The returned data were never read by nginx,
so the handler got stuck trying to send the data. Finally nginx kiled the connection due to a timeout
which gave us the ECONNRESET.

Maybe Kestrel shoud prohibit or warn when trying sending data to a request tha

[2015-11-25 11:51] qin-nz commented on #271
I got a 502 Bad Gateway on Linux.
But it's okay on windows (web & kestrel)

[2015-11-25 18:48] muratg commented on #265
@halter73 this is one of the high pri fundamentals bugs that Eilon was talking about. Please look into this on Mac and Linux runs on the CI.

[2015-11-25 21:47] introsuit commented on #271
We are getting Bad Gateway on linux as well. After RC1 update, our asp.net app hangs on the first request until Bad Gateway is returned to the user. Same happens with scaffolded basic web app from "yo aspnet". However it is fine on OS X. So it seems it's solely issue for linux platform?

[2015-11-25 22:08] davidfowl commented on #271
To make any sort of progress in his bug we're going to need more specifics:
- Repro steps
- OS
- A sample application

[2015-11-26 11:28] qin-nz commented on #271
I notice that when i run a container, the COMMAND is `"dnx -p project.json "`  (use `docker ps` )
But I write in Dockerfile is `ENTRYPOINT ["dnx", "-p", "project.json", "kestrel"]`

[2015-11-26 12:29] introsuit commented on #271
OS: Ubuntu 14.04 64bit
dnx: 1.0.0-rc1-final @ mono (our mono version is mono-4.2.1.102)

The bug can be reproduced using "yo aspnet" generator and choosing Web Application Basic (other templates like the one with Identity and MusicStore app from github seem to function ok)

Reproduce steps:
build the generated app
launch with `dnx web`
Then when trying to load the page, page stalls and eventually

[2015-11-27 03:17] tenor opened #429 "Response header should accept null values"
On rc1-final, Kestrel returns a 502 (Bad Gateway) if a null value is passed into a response header.

[code]

The action method above will trigger that response.
Null values in headers should be allowed. The server will then output an empty string header value in the HTTP response stream.

[2015-11-27 05:15] Tratcher commented on #429
Please don't list multiple issues in a single bug.

2 and 3 have nothing to do with Kestrel and should be discussed over here: https://github.com/aspnet/httpabstractions/

[2015-11-27 05:32] tenor commented on #429
Point taken.

I've created issues [HttpAbstraction 489](https://github.com/aspnet/HttpAbstractions/issues/489) and [HttpAbstraction 490](https://github.com/aspnet/HttpAbstractions/issues/490) and edited the bug report.

[2015-11-27 19:36] tenor opened #430 "Proposal: Improve the precision and speed of DateHeaderValueManager"
The `System.Timer` that fetches the time from the RTC in DateHeaderValueManager has an interval of one second. That means the precision can not be higher than one second.
Also, calls to `GetDateHeaderValue` call `PumpTimer()` which involves a `lock`, effectively serializing all calls to this method.

The following proposal improves the precision and speed of DateHeaderValueManager:

Instead of `Pu

[2015-11-28 00:34] davidfowl commented on #430
Make sure to show some performance results with the pull request. That'll be more convincing than anything else.

[2015-11-28 00:50] khellang commented on #430
Just curious, why would you need a precision higher than one second when format used is RFC1123, e.g. `Sat, 28 Nov 2015 20:45:30 GMT`?

[2015-11-28 01:20] tenor commented on #430
@khellang  :smile:  I didn't even look at that time format. I'll have to rethink this.
@davidfowl I'll have a PR ready in a day or two.

[2015-11-28 12:38] qin-nz commented on #271
Maybe I know the reason.
the default config of  `server.urls` is `"http://localhost:5000"` . That means you can only access the website locally.

Otherwise, you should use `;` to separate urls you want use to access the website.

[2015-11-28 18:28] davidfowl commented on #271
Can you be more specific? What are you using to generate load? Are you just hitting f5 in the browser?

verb: Microsoft.AspNet.Mvc.Controllers.ControllerActionInvoker[2] Executed action method webbasic.Controllers.HomeController.About, returned result Microsoft.AspNet.Mvc.ViewResult.'

This is unrelated to the hang right?

[2015-11-29 01:18] introsuit commented on #271
Yes, load in the browser.

It's just to mark at which point it hangs based from output.

[2015-11-29 03:49] benaadams opened #433 "IConnectionFilter.OnConnection should end Async"
Async methods in public Api should be suffixed as such

[code]
Should be
[code]

[2015-11-29 04:49] benaadams commented on #430
The date header is used to workout if caches need to be updated vs max-age (which is normally minutes, hours, days, weeks, months or even a year) http://www.w3.org/Protocols/rfc2616/rfc2616-sec13.html#sec13.2.3 not sure a second here or there is that important in the scheme of things...

[2015-11-29 09:17] marce155 opened #435 "Kestrel connection limits on Windows?"
I'd like to test drive a .NET 4.6 application on Kestrel (so Linux doesn't work afaik) including some load testing.
I was able to grab a potent enough machine but no server OS and am now worried if Kestrel suffers from the same "10 concurrent requests" disease IIS has on client Windows?

If necessary I could install a Server 2012 trial just for the test, but it would be good to know in general.

[2015-11-30 05:30] Daniel15 commented on #435
It shouldn't, Kestrel is built using a totally different stack using libuv, the same library that powers connections in Node.js. It doesn't use any pieces of IIS.

[2015-11-30 19:15] halter73 commented on #265
Both the KestrelTests and the Kestrel.FunctionalTests projects have been running on Travis over a week with both coreclr and mono. The last 5 Travis builds of the dev branch have passed.

https://travis-ci.org/aspnet/KestrelHttpServer/builds/93789119#L2317

I'm about to manually run the build on OS X.

[2015-11-30 23:25] halter73 commented on #265
CoreClr tests are looking good on Yosemite. I also ran the tests on a non-travis Trusty VM and things are good there.

[2015-12-01 04:35] benaadams opened #438 "SslStream doesn't like null buffers"
[code]

Resolved by #439

[2015-12-01 17:25] muratg commented on #265
@halter73 All pass on aspnetci as well?

[2015-12-01 18:24] halter73 commented on #265
Ubuntu-Universe and Mac-Universe haven't run since 11 days ago.

The last Mac run timed out before reaching the Kestrel tests. The last Ubuntu run timed out during the Kestrel tests.

We have skipped some hanging tests on **Mono** since the last runs, so I'm rerunning both configurations now. I'll report back once I get new results.

[2015-12-01 18:46] #214 closed

[2015-12-01 18:46] halter73 commented on #435
@Daniel15 is correct. Kestrel does not share IIS/HTTP.sys concurrent connection limits unless it is behind an IIS module (i.e. [HttpPlatformHadler](http://www.iis.net/downloads/microsoft/httpplatformhandler)), so you are not going to run into the 10/20 concurrent requests "disease". I regularly test Kestrel on my Windows 10 laptop with hundreds of remote concurrent connections.

[2015-12-01 18:46] #435 closed

[2015-12-01 18:51] halter73 commented on #426
Thanks for the report. Fortunately, the fix for this should be included in the next release.

dup of #406

[2015-12-01 18:51] #426 closed

[2015-12-02 12:16] jonburney opened #442 "Kestrel build is failing (locally and in appveyor)"
Kestrel build of dev is failing both locally and in build agents

https://ci.appveyor.com/project/aspnetci/KestrelHttpServer/branch/dev

[code]
Looks related to https://github.com/aspnet/KestrelHttpServer/commit/168f4770f450d3b3ca73c2330d42c8f64661b899

[2015-12-02 12:22] jonburney commented on #442
@JunTaoLuo is this related to your last merge? https://github.com/aspnet/KestrelHttpServer/commit/168f4770f450d3b3ca73c2330d42c8f64661b899

[2015-12-02 14:11] benaadams commented on #442
@jonburney think its ok now? Upstream packages needed some time to work through?

[2015-12-02 16:48] muratg commented on #442
Travis also seems to be failing: https://travis-ci.org/aspnet/KestrelHttpServer/builds/94258362

[2015-12-02 17:02] Tratcher commented on #442
Yes, there were breaking changes in Hosting, Kestrel, and WebListener. aspnetcidev might not be updated yet (that's what travis and build.cmd depend on). aspnetvolatiledev should work if you need to get unblocked.

[2015-12-02 18:44] JunTaoLuo commented on #442
I believe @pranavkm is looking to fix the build after Roslyn updates broke our CI.

[2015-12-02 19:26] lodejard commented on #246
@damianedwards is this still relevant?

[2015-12-02 19:26] #246 closed

[2015-12-02 19:58] JunTaoLuo commented on #442
Resolved. Closing

[2015-12-02 19:58] #442 closed

[2015-12-02 19:59] JunTaoLuo commented on #442
Travis: https://travis-ci.org/aspnet/KestrelHttpServer

@jonburney @benaadams Please restore with the latest packages on aspnetcidev

[2015-12-02 20:30] jonburney commented on #442
@JunTaoLuo @pranavkm thank, will do!

[2015-12-03 03:33] #433 closed

[2015-12-03 03:33] #438 closed

[2015-12-03 04:05] halter73 commented on #8
I've been running these tests a lot the last couple days on various platform, and I haven't seen this issue. In fact I haven't seen any of the EngineTests fail with an Assert.Equal failure or an IOException in well over a month.

The EngineTests hanging on Mono are another story of course...

[2015-12-03 05:48] muratg commented on #8
We'll reactivate if this is still an issue.

[2015-12-03 06:01] halter73 commented on #8
@muratg Do you want me to continue investigating this? Should I remove the Done label?

[2015-12-03 13:07] seburgi commented on #418
I'm so happy I found this, I was bumping into this problem for some hours.

For now I'm adding the following lines to my nginx config, so it doesn't send "Connection: close", when RC2 is out I will remove them again:

    location / {
        ....
        proxy_set_header Connection "";
        proxy_http_version 1.1;
    }

[2015-12-03 18:00] muratg commented on #8
I had an exception a couple days ago but later passed fine, though I'm not sure if it works fine now or not.  Keeping open for now.

[2015-12-03 18:29] muratg commented on #430
Looks like this has been merged. If there's additional work to be done, please feel free to open another one.

Thanks for the PR!

[2015-12-03 18:29] #430 closed

[2015-12-03 18:35] muratg commented on #429
@Tratcher is `null` in headers valid per the RFC?  If so this looks like a bug.

[2015-12-03 18:40] muratg commented on #388
@Tratcher @halter73 Putting this in backlog for now. If you think there's something we can do here please ping me or @glennc

[2015-12-03 18:41] muratg commented on #216
Closing per @moozzyk's comment as there's no update on the bug. Please reopen or file a new one if this is still an issue.

[2015-12-03 18:41] #216 closed

[2015-12-03 18:42] muratg commented on #420
@halter73 Please close once the PR is checked in.

[2015-12-03 18:47] muratg commented on #369
@glennc will look into documenting this behavior somewhere.

[2015-12-03 18:53] muratg commented on #252
Closing this one. Please refile another one if you have problems without SignalR.

[2015-12-03 18:53] #252 closed

[2015-12-03 20:19] Tratcher commented on #429
Assigning meaning to null is highly discouraged. If you really want to send any empty header, why not use string.Empty instead of null?

HTTP technically allows empty headers (https://tools.ietf.org/html/rfc7230#section-3.2), but sending such is semantically meaningless for all currently defined headers. Clients and proxies will most likely discard the empty header so basing any application logic

[2015-12-03 22:06] muratg commented on #247
Assigning back to @halter73 as @cesarbs doesn't have cycles currently to work on this.

@halter73 Please look into this when you're in-progress work is done as it's a bad developer experience problem.

[2015-12-04 17:03] Fosol opened #449 "Sub-applications within IIS don't work anymore"
I used to be able to publish an aspnet 5 beta 7 web application as a sub-application.  Since I'm upgrading to rc1-final I am no longer able to do it.

Here is the error I get when I attempt to call the sub-application within IIS.

I can of course publish to a separate root IIS application and it will work, but of course that breaks the whole architecture of the application.

It's the result of the

[2015-12-04 17:04] Tratcher commented on #449
This issue was moved to aspnet/IISIntegration#44

[2015-12-04 17:04] #449 closed

[2015-12-04 22:51] ninjarobot opened #450 "Kestrel aborts with dropped client connections"
I'm trying to harden a service using kestrel and found a problem with dropped HTTP client connections.  If the HTTP client drops the connection while the application is writing to the stream, kestrel doesn't seem to detect this very well.  Even if the application code catches the write errors and the HTTP context is aborted, eventually the kestrel server will just exit with "Aborted."  This is rel

[2015-12-05 20:40] benaadams opened #451 "Concurrent reads are not supported consequences"
[code]

[2015-12-05 20:50] benaadams commented on #451
Also need to workout why was going concurrent reads - but that could be user code.

[2015-12-05 22:02] benaadams opened #452 "Kill connection on SocketInput completion error"

[2015-12-05 22:18] benaadams commented on #450
Can you try against the dev/unstable feed version?

[2015-12-06 01:47] benaadams commented on #451
Fairly convinced this state is caused by calling code; but it crashes the server which is undesirable.

[2015-12-06 21:46] chinarosesz opened #454 "Manually set scheme to https in HttpContext"
I am updating my website from beta7 to rc1. Since Microsoft.Aspnet.Server.IIS is not available in rc1, I replaced it with the following two references:

    "Microsoft.AspNet.Server.Kestrel": "1.0.0-rc1-final",
    "Microsoft.AspNet.Server.Kestrel.Https": "1.0.0-rc1-final",

I then added the following lines of code in order to get Kestrel to load my website in SSL. The website uses Azure AD for au

[2015-12-07 07:34] #404 closed

[2015-12-07 07:51] halter73 commented on #454
@chinarosesz Thanks for the report.

What you have is the correct fix for now. In rc2 the scheme should be correctly set to https without the need for custom middleware. See https://github.com/aspnet/KestrelHttpServer/issues/365.

[2015-12-07 07:51] #454 closed

[2015-12-07 08:18] halter73 opened #456 "Don't await SocketInput directly. Use a TaskQueue instead."
Instead of simply throwing for attempted concurrent reads (i.e. two callers awaiting SocketInput and/or Request.Body.ReadAsync simultaneously), we could queue up reads in a thread-safe manner using something like the [TaskQueue](https://github.com/SignalR/SignalR/blob/3a219c101587333d562f04f30903d50ad9773e1c/src/Microsoft.AspNet.SignalR.Core/Infrastructure/TaskQueue.cs) in SignalR.

I personally d

[2015-12-07 09:19] benaadams commented on #456
Don't like; the error was caused by an optimization which didn't translate well - so this would be a de-optimization; overall. Will add detail to the other issue.

[2015-12-07 09:30] benaadams commented on #456
Actaully - let me dig into what was happening first

[2015-12-07 12:39] benaadams commented on #452
Resolved by  #453

[2015-12-07 12:39] #452 closed

[2015-12-07 18:32] salerth commented on #247
Not sure if this is the same bug/related, but kestrel wont respond (at all) to CTRL+C after it has served at least 1 page on OSX + CoreCLR.  If I CTRL+C before serving a page it exits properly.

Mono works fine and exits at any time.

`dnx-coreclr-darwin-x64.1.0.0-rc2-16249`

[2015-12-07 19:40] muratg commented on #450
@halter73 Could you please investigate?

[2015-12-08 08:18] #117 closed

[2015-12-08 15:11] wycoconut opened #461 "System.EntryPointNotFoundException: uv_loop_size when running "dnx web""
Hi team,

Just took some time to take kestrel out for a spin today.
** Note that I am really new to this terminal thingy so there might be some stuff I missed along the way.

My environment:
- Mac OS X - 10.9.5

What happened:
Tried to follow instructions noted here : http://docs.asp.net/en/latest/tutorials/your-first-mac-aspnet.html
I used the easy way but somehow it installed the old 1.0.0 versi

[2015-12-09 01:56] cesarbs commented on #419
Supervisor sends `SIGTERM` by default to stop a process. If you set `stopsignal` to `INT`, that should gracefully stop kestrel and the UNIX socket file will be deleted. Could you try that and get back to us with the results?

[2015-12-09 03:18] michaudg commented on #78
On CentOS 7 x86_64, got this problem too (System.DllNotFoundException: libuv).
Compiled libuv from https://github.com/libuv/libuv.git.
Solved by creating this simlink :  ln -s /usr/local/lib/libuv.so.1.0.0 /usr/lib/libuv.so

[2015-12-09 03:59] Daniel15 commented on #419
@cesarbs  - unfortunately it looks like that didn't work. This is my full config:

[code]

Here's what I was doing:
[code]

SIGTERM should still clean up the sockets, right? I didn't know much about the different signals, but I found [this useful post on Quora](https://www.quora.com/What-is-the-difference-between-the-SIGINT-and-SIGTERM-signals-in-Linux) that explains them. Emphasis mine:

[2015-12-09 04:34] cesarbs commented on #419
My suggestion was actually an educated guess. I didn't really run Kestrel behind Supervisor - what I actually did was to check the behavior difference between killing kestrel with SIGTERM and SIGINT and I noticed that the socket lingered around with SIGTERM but not with SIGINT.

Just to make sure: did you restart Supervisor after setting `stopsignal` to `INT`?

[2015-12-09 04:35] Daniel15 commented on #419
Yeah, I restarted Supervisor.

[2015-12-09 04:47] cesarbs commented on #419
When I try running an app with supervisor, I get

    kestrel: ERROR (abnormal termination)

Have you ever run into that?

[2015-12-09 04:49] Daniel15 commented on #419
Try checking the output. `supervisorctl tail appname` for stdout and `supervisorctl tail appname stderr` for stderr, or look at the log files for the process (they're in `/var/log/supervisord/` on my system)

[2015-12-09 05:21] cesarbs commented on #419
Can your app run on CoreCLR? I'm now able to repro your issue, but I noticed it only happens on Mono. If I use the CoreCLR DNX the socket is gone once Supervisor stops the process.

[2015-12-09 05:50] Daniel15 commented on #419
Unfortunately I can't use CoreCLR yet as I'm using some third-party libraries that don't support it and also some stuff in the `System.Drawing` namespace.

[2015-12-09 12:51] benaadams opened #464 "Add keep-alive timeout parameter"

[2015-12-09 14:05] Fosol commented on #449
We tried removing the handler from the sub-application. The sub-application will only throw 404s from that point on.

This is a bug or a change that requires information to implement.

[2015-12-09 14:59] acastaner commented on #78
Not sure if anybody noticed (I did only yesterday) but the documentation now includes installation instruction for Red Hat and derivatives and does mention the creation of the simlink:

https://docs.asp.net/en/latest/getting-started/installing-on-linux.html#installing-on-centos-fedora-and-derivatives

I hope someday we'll get a RPM for that, but in the meantime the steps in the documentation work

[2015-12-09 16:10] acastaner commented on #461
I'm running into the same issue on CentOS 6.5, using 1.0.0-rc1-update1. It's been a while since I installed libuv so I will double check and update this issue.

Note that the same application works fine on Ubuntu 15.04.

[2015-12-09 16:14] acastaner commented on #461
Actually this was a quick check. I'm using libuv 1.4.2 as per the installation instruction and get this error:

`[user@somewhere WebApi]$ dnx web
Could not determine OS version information. Defaulting to the empty string.
System.EntryPointNotFoundException: uv_loop_size
  at (wrapper managed-to-native) Microsoft.AspNet.Server.Kestrel.Networking.Libuv/NativeMethods:uv_loop_size ()
  at Microsoft.As

[2015-12-09 16:16] davidfowl commented on #461
What version of mono!

[2015-12-09 16:16] acastaner commented on #461
I'm running Mono 4.0.1

[2015-12-09 16:33] muratg commented on #78
Yeah, the documentation now has the right instructions.  Acquisition on Linux is a little tricky because of the various differences between distros and even version differences between the same distro.

[2015-12-09 19:33] michaudg commented on #78
"ln -s /usr/local/lib/libuv.so /usr/lib64/libuv.so.1" is not working for me, as described in the documentation. I still have the "System.DllNotFoundException: libuv" error when I try to start Kestrel.
To make it works, the simlink name must be "libuv.so".

[2015-12-09 20:46] halter73 commented on #265
I ran the full Kestrel build with both CoreCLR and Mono tests on our Mac agent twice, and it passed both tests.

I did the same on our Ubuntu agent, and the build hung both times after showing the (successful) result of the Mono test run. We saw this issue a while back, but I hadn't seen it recently on travis until @cesarbs showed me the exact same type of failure happened earlier today.

[2015-12-09 20:46] muratg commented on #78
@michaudg That's on CentOS 7?

@danroth27 A good data point to add to the doc.

[2015-12-09 20:51] michaudg commented on #78
@muratg CentOS 7.1

[2015-12-09 22:29] muratg commented on #464
Yeah, I think we should do this.

cc @lodejard

[2015-12-09 22:32] cesarbs commented on #368
The connection is not being reset because by the time the filter throws, all input has already been read (normally an RST would be sent if the connection was closed before all data was read). There's a way to force an RST (with high probability - but still not guaranteed) by setting `SO_LINGER` with a timeout of `0` on the socket, however libuv doesn't expose that.

Since this is not critical, I w

[2015-12-09 22:32] #368 closed

[2015-12-09 23:34] cesarbs commented on #419
Can you run your app manually, kill it with `SIGINT` and check if the socket file is still there after that? I'd like to check that you're seeing the same results as I'm seeing. When I kill the process manually, the socket is deleted.

[2015-12-10 01:22] halter73 commented on #265
Full Kestrel builds are once again passing on both the Mac and Ubuntu agents!

[2015-12-10 04:54] muratg commented on #265
Cool, thanks!

[2015-12-10 06:22] Daniel15 commented on #419
Interesting... It *does* appear to correctly clean up the socket when I run the app manually and use `SIGINT`. Is Supervisor doing something differently?

[2015-12-10 17:35] cesarbs commented on #419
It's what I'm trying to figure out. So far I haven't found anything weird in their code. I suspected Python's os.kill could be doing something funny but I tested it and the socket is cleaned. I'll keep investigating.

[2015-12-10 18:54] #429 closed

[2015-12-10 20:23] #451 closed

[2015-12-11 18:44] muratg commented on #235
Not sure if this is still relevant.  @DamianEdwards feel free to close.

[2015-12-11 18:45] muratg commented on #146
:+1:

[2015-12-11 18:45] #146 closed

[2015-12-11 18:45] muratg commented on #165
Thanks @benaadams

[2015-12-11 18:47] benaadams commented on #165
@muratg is in PR "SocketOutput Allocation Reductions" #466 which is currently unmerged.

[2015-12-11 18:48] muratg commented on #142
Anything we can do in Kestrel about this?  Or is it purely libuv problem?

[2015-12-11 18:49] #8 closed

[2015-12-11 19:29] kpocza opened #468 "GET Timeout when Kestrel is behind a reverse proxy on Linux"
OS: Ubuntu 14.4
ASP.NET5 version: RC1
Mono: 4.2.1

I'm exposing 4 kestrel web services on port no. 8000, 8001, 8002 and 8003. When I reach the services from the outside world everything is fine, I get response very fast for every requests (using .NET WebClient).

However my goal is to expose all services on port no. 80 under some designated locations (/api, /papi, etc.) which can be achieved by pu

[2015-12-11 19:34] halter73 commented on #142
I remember seeing similar issues in our perflab when running against node.js. Maybe we should re-verify that the behavior is the same. Obviously, if it is, it points to it being a libuv problem.

[2015-12-11 19:37] halter73 commented on #165
I plan on merging this today. I just wanted to make sure others got a chance to look at the combined PR.

[2015-12-11 20:32] benaadams commented on #456
Yeah disagree with this; its a bit like trying to do 2+ concurrent reads on a stream; if you can detect and error out as an option its a better approach than queuing and hiding the issue which would add a slow path for even non-concurrent reads.

To have multiple things wait on a single read a new task can always be constructed using an async method and `var newTask = Task.WhenAll(AwaitingMethod,

[2015-12-11 20:34] benaadams commented on #468
What happens on the unstable/RC2 branch? Does this behave better?

[2015-12-11 20:49] halter73 commented on #265
At least the last two Ubuntu-Universe failures are due to it hanging in the middle of the Mono Kestrel tests.

After running Kestrel's build.sh in a loop until failure on the ubuntu agent, I am now once again seeing the Mono test hangs. Apparently I didn't catch everything. :(

[2015-12-11 21:52] muratg commented on #165
:+1:

[2015-12-12 13:08] kpocza commented on #468
Much better.
It would have been to much effort to upgrade the whole solution to the unstable dnx so instead of that I've created the default ASP.NET5 WebAPI sample solution of VS 2015 and tried it on rc1 and unstable/rc2. The exact version for Microsoft.AspNet.Server.Kestrel was 1.0.0-rc2-16127, dnx was 1.0.0-rc2-16258 for Mono.
Just tried the GET request from a webbrowser. When I've addressed the

[2015-12-12 13:36] benaadams commented on #468
@kpocza I think it might have been this issue: https://github.com/aspnet/KestrelHttpServer/issues/406

Caused by the `HTTP/1.0`

Try setting [`proxy_http_version 1.1;`](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_http_version) ?

[2015-12-12 19:06] tenor opened #470 "Can OnCompleted callbacks be called even though OnStarting was never called?"
I'm looking at [FrameOfT#93](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/FrameOfT.cs#L93), and imagining the following scenario:

Application throws an exception,
but hasn't called Response.Write() or Response.Flush(), which would have called FireOnStarting()

FireOnStarting() on line 93 is never called because _applicationException is set.
FireOnC

[2015-12-12 19:27] tenor opened #471 "Can Middleware modify Response In OnCompleted callback?"
Looking at [FrameOfT#98](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/FrameOfT.cs#L98).

It doesn't seem like there's anything to prevent Middleware from modifying the response in the `OnCompleted` callback.

Does `OnCompleted` mean the application response has been received by the server, and so Middleware can add extra stuff to the response stream

[2015-12-12 21:30] Tratcher commented on #471
No, use OnStarting if you want to modify any headers. OnCompleted only fires after the response is finished sending to the client. It's primarily used for cleanup.

[2015-12-12 22:29] tenor commented on #471
I'm able to append to the response stream in `OnCompleted`.

This action reproduces the issue:

[code]

Moving [lines96-101](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/FrameOfT.cs#L96-L101) to come after `_responseBody.StopAcceptingWrites();` will fix the issue.

[2015-12-12 22:59] tenor commented on #470
I can repro this scenario.
Create a new WebAPI application and change the api/values action to this:

[code]

[2015-12-13 10:58] #165 closed

[2015-12-13 10:58] #289 closed

[2015-12-13 17:52] #288 closed

[2015-12-13 18:29] benaadams commented on #265
https://github.com/aspnet/KestrelHttpServer/pull/473 may help with diagnosis; its helped me track down a few issues that didn't exhibit causes because some of the exceptions were getting masked in testing (though still exhibiting the symptoms of going wrong).

[2015-12-13 19:56] kpocza commented on #468
According to one of the linked issued I've added ```proxy_set_header Connection keep-alive``` as workaround to nginx config and it did the trick for rc1.

[2015-12-13 20:48] benaadams commented on #279
@Tragetaschen as you point out IANA has 39 methods registered, and likely people would want to use more/different methods prior to them being standardised (or are not bothered about getting them standardised at all) and probably don't implement most of the standardised methods.

The server layer (Kestrel in this case) should parse the requests, but shouldn't be interpreting them beyond general saf

[2015-12-13 21:16] benaadams opened #474 "Add MaxHeaderCount parameter"
Failure state: `431 Request Header Fields Too Large`

*"The server is unwilling to process the request because either an individual header field, or all the header fields collectively, are too large."* [RFC 6585](https://tools.ietf.org/html/rfc6585)

**apache.httpd** [default](http://httpd.apache.org/docs/2.4/mod/core.html#limitrequestfields) `LimitRequestFields` 100
**apache.tomcat** [default](ht

[2015-12-13 21:16] benaadams opened #475 "Add header limit parameters"
Failure state: `431 Request Header Fields Too Large` *(ngnix returns `400 Bad Request`)*

*"The server is unwilling to process the request because either an individual header field, or all the header fields collectively, are too large."* [RFC 6585](https://tools.ietf.org/html/rfc6585)

**http.sys** [default](https://support.microsoft.com/en-us/kb/820129) `MaxRequestBytes` 16384
**ngnix** [default]

[2015-12-13 21:17] benaadams opened #476 "Add MaxPathLength parameter"
Failure state: current `414 URI Too Long` old `414 Request-URI Too Large`

*"The URI provided was too long for the server to process. Often the result of too much data being encoded as a query-string of a GET request, in which case it should be converted to a POST request."* [RFC 7231](https://tools.ietf.org/html/rfc7231)

**.NET 4 - 4.6** [default](https://msdn.microsoft.com/en-us/library/system.

[2015-12-13 21:17] benaadams opened #477 "Add MaxQueryLength parameter"
Failure state: current `414 URI Too Long` old `414 Request-URI Too Large`

*"The URI provided was too long for the server to process. Often the result of too much data being encoded as a query-string of a GET request, in which case it should be converted to a POST request."* [RFC 7231](https://tools.ietf.org/html/rfc7231)

**.NET 4 - 4.6** [default](https://msdn.microsoft.com/en-us/library/system.

[2015-12-13 21:17] benaadams opened #478 "Add MaxUploadBytes parameter"
Fail fast on `Content-Length` header value, count for body in chunked when limit passed.

Failure state: current `413 Payload Too Large` old `413 Request Entity Too Large`

_"The request is larger than the server is willing or able to process."_ [RFC7231](https://tools.ietf.org/html/rfc7231#section-6.5.11)

**.NET 4 - 4.6** [default](https://msdn.microsoft.com/en-us/library/system.web.configuratio

[2015-12-13 21:29] benaadams opened #479 "Add MaxHeaderLength parameter"
Failure state: `431 Request Header Fields Too Large` *(ngnix returns `400 Bad Request`)*

*"The server is unwilling to process the request because either an individual header field, or all the header fields collectively, are too large."* [RFC 6585](https://tools.ietf.org/html/rfc6585)

**http.sys** [default](https://support.microsoft.com/en-us/kb/820129) `MaxFieldLength` 16384
**ngnix** [default](

[2015-12-13 21:58] benaadams opened #480 "Add API to IKestrelServerInformation to enable/disable DelayedAcks"
Linux > 2.4.4 `TCP_QUICKACK` option
Windows > 7 / Server 2008 R2 `WSAIoctl` with `IOCTL` code `SIO_TCP_SET_ACK_FREQUENCY` and value of `1`

[2015-12-13 23:27] benaadams opened #482 "Update reason phrases to current"
`413` was `Request Entity Too Large` but is `Payload Too Large` as of [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6.5.11)
`414` was `Request-URI Too Long` but is `URI Too Long` as of [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6.5.12)
`416` was `Requested Range Not Satisfiable` but is `Range Not Satisfiable` as of [RFC 7233](https://tools.ietf.org/html/rfc7233#section-4.4)

[2015-12-14 02:30] Tratcher commented on #479
Let's not play the guessing game of dictating the size of individual headers or how many you can have.  The cookie headers have been a constant source of annoyance for doing this. Let's just limit the combine size of all the headers (and request line?). Fewer knobs, better overall protection.

[2015-12-14 02:41] benaadams commented on #479
Merge all in to #475? You are right, should achieve same effect; while being simpler.

[2015-12-14 02:41] Tratcher commented on #479
Yes please. #474, #476, #477, and #479.

[2015-12-14 02:42] benaadams commented on #479
As per https://github.com/aspnet/KestrelHttpServer/issues/479#issuecomment-164325646 merging to #475 and just having that instead.

[2015-12-14 02:42] #479 closed

[2015-12-14 02:42] benaadams commented on #474
As per https://github.com/aspnet/KestrelHttpServer/issues/479#issuecomment-164325646 merging to #475 and just having that instead.

[2015-12-14 02:42] #474 closed

[2015-12-14 02:43] benaadams commented on #476
As per https://github.com/aspnet/KestrelHttpServer/issues/479#issuecomment-164325646 merging to #475 and just having that instead.

[2015-12-14 02:43] #476 closed

[2015-12-14 02:43] benaadams commented on #477
As per https://github.com/aspnet/KestrelHttpServer/issues/479#issuecomment-164325646 merging to #475 and just having that instead.

[2015-12-14 02:43] #477 closed

[2015-12-14 02:45] Tratcher commented on #475
See https://github.com/aspnet/KestrelHttpServer/issues/479#issuecomment-164325646

[2015-12-14 03:06] benaadams opened #483 "Add HeaderCompleteTimeout parameter"
Time in which from the header preamble starts it must be completed. If exceeded the client is determined to be disconnected and the request aborted.

Failure state: `408 Request Timeout`

*"The client did not produce a request within the time that the server was prepared to wait. The client MAY repeat the request without modifications at any later time."*

**ngnix** [default](http://nginx.org/en/d

[2015-12-14 03:06] benaadams opened #484 "Add ExecutionTimeout parameter"
Timeout between two successive body reads which if exceeded the client is determined to be disconnected and the request aborted.

Failure state: `408 Request Timeout`

**ngnix** [default](http://nginx.org/en/docs/http/ngx_http_core_module.html#client_body_timeout) `client_body_timeout` 60s

Implementation-wise the timer can use the same timer as [Keep-alive](https://github.com/aspnet/KestrelHttpSe

[2015-12-14 12:35] muratg commented on #265
@halter73 I believe @cesarbs enabled CoreCLR only agents... do we have 100% in those runs?

[2015-12-14 17:01] Tratcher commented on #484
Make sure this doesn't break websockets.

[2015-12-14 17:59] Eilon commented on #279
The problem with 404 and 405 are that it's ambiguous which one to use. Was the path good but the verb bad? Or the path bad but the verb good? What if both are bad?

[2015-12-14 18:02] Tratcher commented on #279
Verb is first in the request line so should be verified first. I agree we should only check for syntax errors in the verb. Any other verb verification can easily be handled in middleware.

[2015-12-14 18:29] Eilon commented on #279
But the other problem is that only the app itself can make a determination around what's invalid. The web server knows nothing.

[2015-12-14 18:30] blowdart commented on #279
I would suggest limiting to a subset of the registered verbs by default, much like IIS, and then allow configuration for more.

[2015-12-14 18:52] Tratcher commented on #279
Yuck, more painful knobs. What's the harm in a method FOO being sent to an application?

[2015-12-14 18:56] blowdart commented on #279
White list, rather than black list. You know as well as I do it's generally safer in case someone does something stupid.

[2015-12-14 18:58] Tratcher commented on #279
If we go that route then make it a large list. http://stackoverflow.com/questions/19162825/web-api-put-request-generates-an-http-405-method-not-allowed-error is a very common customer issue.

[2015-12-14 19:06] blowdart commented on #279
39 methods is hardly large. And I'm sure you'd want the full IANA list.

[2015-12-14 20:08] Eilon commented on #279
Not a fan of protecting this :frowning: :panda_face:

[2015-12-14 20:10] benaadams commented on #279
Some more clarity from [RFC7231](https://tools.ietf.org/html/rfc7231#section-6.5.5)

   received in the request-line is known by the origin server but not
   supported by the target resource.  The origin server MUST generate an
   Allow header field in a 405 response containing a list of the target
   resource's currently supported methods.

Ignoring other implications, this would mean a 404 given

[2015-12-14 20:34] khellang commented on #279
Why is there any need to restrict this? A valid token is a valid token, no?

[2015-12-14 20:55] benaadams commented on #484
@Tratcher I don't think so; but https isn't an upgrade request is it?

[2015-12-14 22:11] cesarbs commented on #31
I had to rewrite @Praburaj's code since a few things have changed since this issue was filed. I rewrote it as:

    Console.WriteLine("Received shutdown request...");
    var appLifeCycle = context.RequestServices.GetService<IApplicationLifetime>();
    appLifeCycle.StopApplication();

    try
    {
        if (!appLifeCycle.ApplicationStopping.IsCancellationRequested)
        {
            await

[2015-12-14 22:20] Tratcher commented on #484
Huh?

[2015-12-14 22:25] benaadams commented on #484
My plan is to switch off the timers on opaque stream upgrade and assume they were handling that interaction (would also need to be same for MaxUploadBytes) - just making sure there is no corner cases I hadn't thought of (https in this case)

[2015-12-14 22:27] Tratcher commented on #484
Ah, sounds good.

https shouldn't be any different from http in this scenario.

[2015-12-14 22:35] benaadams commented on #322
Performance was good in our perf tests and live tests without this

[2015-12-14 22:35] #322 closed

[2015-12-14 22:45] benaadams commented on #475
Question on whether not having a max url/start length (beyond total header size) would have any upstream issues?

Guessing it wouldn't have a great impact beyond anything else (like lots of headers)

[2015-12-14 23:00] #482 closed

[2015-12-14 23:05] halter73 commented on #265
The Kestrel repo successfully builds and all the tests pass for the CoreCLR only runs.

This test failed on the last Ubuntu CoreClr run:

  PublishAndRunTests_OnX86.NonWindowsOS(serverType: Kestrel, runtimeFla…e: x86, applicationBaseUrl: "http://localhost:5035/", noSource: False)
  System.OperationCanceledException : Failed to connect, retry canceled.

I'm not sure if this is an issue with Kestrel

[2015-12-14 23:15] benaadams commented on #301
What happens if you give it the ports? e.g.

`--server.urls=http://*:80;https://*:443"`

[2015-12-14 23:47] muratg commented on #265
Sounds good, thanks.

[2015-12-15 00:29] benaadams commented on #470
Don't know, you might have stuff to clean up even if it threw exception and didn't start outputting?

[2015-12-15 00:36] cesarbs commented on #226
@jstclair Are you still seeing this? I can't repro it.

[2015-12-15 01:07] benaadams commented on #475
Probably simpler code wise if there was only one param.

[2015-12-15 01:40] Tratcher commented on #475
@blowdart ?

[2015-12-15 01:43] Tratcher commented on #470
Yes, this is the behavior we want.

[2015-12-15 01:46] blowdart commented on #475
Work for me. We used to have this with IIS and UrlScan

[2015-12-15 18:44] moozzyk opened #488 "Unable to load DLL 'libuv': The specified module could not be found - (kestrel) Windows IOT"
https://github.com/aspnet/Home/issues/1111

[2015-12-15 18:45] moozzyk commented on #488
Fixed in 83cff1671582d6fbeb0c3d9a7c206154f357c5b7 and https://github.com/aspnet/libuv-build/commit/d2050f5a5b1fe942d8cd1e9fb188269309e98f4e

[2015-12-15 18:45] #488 closed

[2015-12-15 19:06] cesarbs commented on #419
@Daniel15 After a little more investigation, this continues to be a mystery. It looks very much like a Mono issue. Can you open an issue on Mono for this?

Meanwhile I suggest you work around this issue by setting your Supervisor command to a script that first deletes the socket file and then launches your app.

@muratg Since this looks like a Mono issue, I'll go ahead and close this.

[2015-12-15 19:30] migueldeicaza commented on #240
The SSLStream implementation works on Mono, that is how we do all of our HTTPS work.

We would need a lot more information.

[2015-12-15 19:33] migueldeicaza commented on #328
Mark found that UvTcpHandles created here are not being disposed, perhaps there is a codepath that is not being taken?

https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/TcpListener.cs#L39

@halter73 That would happen when Accept throws an exception.

[2015-12-15 19:55] cesarbs commented on #461
@wycoconut @acastaner Do you see the same on CoreCLR?

[2015-12-15 19:55] cesarbs commented on #31
Closing since it's an old issue that does not repro anymore.

[2015-12-15 19:55] #31 closed

[2015-12-15 20:13] benaadams commented on #328
@migueldeicaza I had a look at the source for `SafeHandle` and not quite understanding how it works in mono - it doesn't seem to implement `IDisposable`

https://github.com/mono/mono/blob/b7a308f660de8174b64697a422abfc7315d07b8c/mcs/class/corlib/System.Runtime.InteropServices/SafeHandle.cs#L64

as it does in the clr

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/Int

[2015-12-15 20:18] migueldeicaza commented on #328
That file has half the implementation, the other half is now part of reference source:

https://github.com/mono/referencesource/blob/mono/mscorlib/system/runtime/interopservices/safehandle.cs

[2015-12-15 20:19] migueldeicaza commented on #328
But if the Accept throws, how is that ever recorded on the SocketOutput.cs for it to Dispose it?

[2015-12-15 20:20] cesarbs commented on #328
@migueldeicaza It's not. I'm looking at this right now and will dispose the socket in the `catch` block.

[2015-12-15 22:39] muratg commented on #304
@cesarbs Feel free to ping @troydai as he has some context on this one.

[2015-12-16 01:27] wycoconut commented on #461
OK I did the following:
[code]
then
[code]
then
[code]
then go to my project and
[code]
Looks like its working, here's a screenshot of the result:
![image](https://cloud.githubusercontent.com/assets/5443702/11829360/ebb1932c-a3d6-11e5-9d6c-c0dc09882206.png)

[2015-12-16 04:57] tenor opened #490 "FireOnStarting/Completed await doesn't have ConfigureAwait(false)"
[Frame#356](https://github.com/aspnet/KestrelHttpServer/blob/83cff1671582d6fbeb0c3d9a7c206154f357c5b7/src/Microsoft.AspNet.Server.Kestrel/Http/Frame.cs#L356) and [Frame#380](https://github.com/aspnet/KestrelHttpServer/blob/83cff1671582d6fbeb0c3d9a7c206154f357c5b7/src/Microsoft.AspNet.Server.Kestrel/Http/Frame.cs#L380).
These awaits will be calling user code and should have `ConfigureAwait(false);`

[2015-12-16 05:51] cesarbs commented on #461
Ok. Then it seems like a Mono issue. You might want to forward this to them.

[2015-12-16 06:07] wycoconut commented on #461
@davidfowl For the sake of completion of this post, I was running Mono 4.2.1

**Command**
[code]

**Result**
![image](https://cloud.githubusercontent.com/assets/5443702/11833446/ab4d69a6-a3fd-11e5-9a65-c38a59eca7ef.png)

**How it was updated**
I had Xamarin Studio For Mac installed on my machine and it was through the application updates that updated the framework on my machine.

[2015-12-16 06:11] benaadams opened #492 "Reduce CPU for Headers.ClearFast"
`FrameResponseHeaders.ClearFast` and `FrameRequestHeaders.ClearFast` consume 4.75% cpu between them

![cpu-trace](http://aoa.blob.core.windows.net/aspnet/ClearFast.png)

As they set (copy) 71 fields of the struct `StringValues.Empty`; all these can be dropped as they have already been "cleared" by setting `_bits = 0;`

Currently would be 71 small copies of 8 bytes (568 bytes) and 16 bytes with the

[2015-12-16 11:18] jstclair commented on #226
I can try again on the latest bits and close if not.

[2015-12-16 12:56] benaadams opened #493 "Don't use Vector<byte>.Dot"
`Vector<byte>.Dot` is not an intrinsic so quite slow; see https://github.com/dotnet/coreclr/issues/2359 so don't use it.

Need alternative implementation for `MemoryPoolIterator2.Seek`

[2015-12-16 13:53] tenor commented on #490
I did a search for a custom `SynchronizationContext` in dnx, hosting and kestrel. I couldn't find any, so adding `ConfigureAwait(false)` seems a bit pointless here.
However, [FrameOfT#Application.ProcessRequestAsync()](https://github.com/aspnet/KestrelHttpServer/blob/83cff1671582d6fbeb0c3d9a7c206154f357c5b7/src/Microsoft.AspNet.Server.Kestrel/Http/FrameOfT.cs#L79) does call  `ConfigureAwait(false)

[2015-12-16 17:07] Anderman opened #495 "Use queue pool for _tasksPending, _tasksCompleted,_writeContextPool in socketOutput"
Maybe it is possible to use a queue pool in `SocketOuput` to reduce memory allocation.
When profiling I found that memory was allocated for each request/response.

* _tasksPending 300 bytes
* _tasksCompleted 300 bytes
* _writeContextPool 172 bytes

[2015-12-16 17:11] #461 closed

[2015-12-16 17:18] cesarbs commented on #226
Ok, let us know.

[2015-12-16 17:20] shrayasr commented on #168
Is this still open?

[2015-12-16 18:47] halter73 commented on #490
We should probably get rid of all of our uses `ConfigureAwait(false)` since there is no real benefit with a SyncContext. In the vast majority of awaits we do not use `ConfigureAwait` (I think there are a total of 3 usage currently).

[2015-12-16 19:34] davidfowl commented on #490
Until you start hosting asp.net in a windows store app :)

[2015-12-16 20:01] cesarbs commented on #78
Closing this since it's distro specific, there are workarounds, and the library search path is not Kestrel's concern.

[2015-12-16 20:01] #78 closed

[2015-12-16 22:53] #471 closed

[2015-12-16 23:48] #492 closed

[2015-12-17 01:39] #493 closed

[2015-12-17 19:12] halter73 opened #503 "Microsoft.AspNet.Server.Kestrel.FunctionalTests failures on Mono on Linux"
We are still seeing occasional hangs following the Mono test runs on UbuntuUniverse.

https://github.com/aspnet/KestrelHttpServer/issues/265#issuecomment-164044222

[2015-12-17 20:03] moozzyk commented on #340
Fixed in #83cff1671582d6f

[2015-12-17 20:03] #340 closed

[2015-12-17 20:31] halter73 commented on #265
I seems the the `E2ETests.PublishAndRunTests_OnX86` failure is caused by a `TargetInvocationException` from `ConsoleLoggerProvider.CreateLoggerImplementation`. @cesarbs is tracking the fix.

[2015-12-17 20:32] #265 closed

[2015-12-18 00:29] halter73 commented on #478
I think we should be careful when implementing this not to limit upgraded/websocket requests.

[2015-12-18 00:38] halter73 commented on #470
@benaadams You are exactly right. We call the `OnCompleted` callback in spite of an `_applicationException`, because we want to allow users to treat it as a `finally` block of sorts. Firing `OnStarting` isn't necessary, because the application never attempted to even start writing a response.

I don't think we have any regression tests to verify we don't change this behavior, so I think we should

[2015-12-18 02:17] staff0rd commented on #164
Signalr-Server, inside microsoft/aspnet:1.0.0-rc1-final docker container;

[code]

[2015-12-18 10:19] Anderman opened #504 "No need for IsLittleEndian check"
@cesarbs I don't think this check is needed. The string will give an another value in big endian than in little endian. But that's the only difference.

Because the known string are converter in the same way as the string you want to check

in `GetAsciiStringAsLong`
            fixed (byte* ptr = bytes)
            {
                return *(long*)ptr;
            }
in `peeklong`
 fixed (byte* ptr

[2015-12-18 16:33] Anderman opened #505 "Allow ascII compare to add request/response headers"
I think it is possible to improve the performance of the known request headers.
Headers are ascii for input and output. Creating of all Knownheaders also a byte representation. (Known response headers can also stored in 1,2 or 3 longs, So Known headers can also be a long representation.)

This make it possible to faster adding to headers (response and request). faster scanning on known headers. No

[2015-12-18 17:38] Anderman opened #506 "Faster scanning of TakeStartLine of an request"
In `TakeStartLine` you first scan on `get` as represented as int and `HTTP/1.1` or `HTTP/1.0` as long
If that fails fallback to normal scanning.

[code]
It is also possible to use PeekLong and then check for an known Methode.
something like
[code]
With predefind Mask0000FFFF as long you can also solve littleEndian problem

[2015-12-19 06:00] yaapelsinko commented on #468
Hi. I have the same problem. The workaround with `Connection keep-alive` seems to work,

Also I've found something that could be relevant: http://serverfault.com/questions/524878/nginx-as-reverse-proxy-causes-failure-to-respond-to-certain-post-requests

*The problem: ASP.NET development server sends a 100 Continue response even when there was no Expect: 100-continue in the request. Nginx will issu

[2015-12-19 06:16] yaapelsinko commented on #468
An article: http://www.fallingcanbedeadly.com/posts/http-100-continue-latency-and-you/

I'm too lame in such matters to understand if is it relevant or not.

[2015-12-19 11:35] khellang commented on #468
I don't think it's relevant, and definitely not evidence that this is Kestrel's fault. The question was asked in 2013, when there was no Kestrel.

[2015-12-19 19:27] Anderman opened #508 "Iri request with only URI octet encoding in queryString is not suppored"
@benaadams  In `TakeStartLine` the requestUrl is scaned on % (URI octet encoding) but if the
requestUrl contains a querystring no scanning is done on %

See [frame.cs line 728-748](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/Frame.cs#L728-L748)

[2015-12-19 19:33] benaadams commented on #508
@Anderman Is that a problem? It scans for what the first of the three characters is.
If its % then the path needs to be decoded
If its ? then everything past that point is querystring and is handled by querystring decoding
If its space then is neither has query string nor needs decoding.

[2015-12-19 19:43] Anderman commented on #508
Thx @benaadams I did not know that the querystring decoder will also take care of this. But you probably right.
I made some changes to the `TakeStartLine` to double the performance of that function. And looking for  more improvements I thought something was missing.

[2015-12-19 19:48] benaadams commented on #508
I think it only does what is needed for routing to work and querystring parsing is defered until something asks for it? @Tratcher should know more

[2015-12-20 21:03] Anderman opened #512 "Seek with Vector is 5 times slower then 'normal' Seek"
I was looking for performance gains. Because for small strings there is some overhead in setting up the vector and finding the first byte.

But, I found out that the difference is also true for a long string.

Probably I do something wrong. But all test still working after changing the code

normal search
[code]

[2015-12-20 22:01] benaadams commented on #512
Been doing some benchmarks around into this; a change needed for the current version is the vectors need to be passed by `ref` as they are a large memory copy otherwise.

[2015-12-20 23:06] benaadams commented on #512
Also you need to be running x64 (+RyuJIT) for Vectors to mean hardware acceleration (and currently Windows)

[2015-12-21 06:28] staff0rd commented on #164
I have another site running on rc1-final, mono, docker, aws.  I watch for uptime with http://www.uptimerobot.com/.  It seems the Broken Pipe error is thrown every time that service makes a request to my site.

[2015-12-21 06:32] benaadams commented on #512
You are right about the non-optimal shorter than vector path though.

[2015-12-21 07:34] Anderman commented on #512
I did some test for both seek functions with the program below.
Both has an processor load of 60%
[code]

test program
[code]

[2015-12-21 07:40] benaadams commented on #512
Try with?

https://github.com/benaadams/KestrelHttpServer/blob/memorypool.seek/src/Microsoft.AspNet.Server.Kestrel/Infrastructure/MemoryPoolIterator2.cs

[2015-12-21 07:49] benaadams commented on #512
For coreclr you need to have the x64 runtime as the active one.

Easiest way is to do:

`dnvm upgrade -a x64 -r coreclr -u`

Also add the line:

`Console.WriteLine($"Vector.IsHardwareAcclerated == {Vector.IsHardwareAcclerated}");`

To make sure its accelerated; after compiling in Release with optimizations, run your program at the command line and see the output.

Also try with:

https://github.co

[2015-12-21 08:10] Anderman commented on #512
Thx IsHardwareAcclerated== false on my system. will look at this later, Have to go now

I am now running on core clr 64
[code]

[2015-12-21 11:41] Daniel15 commented on #164
This is an interesting observation, I'm using Uptime Robot as well! Perhaps they don't close the connection properly? Still, Kestrel should be resilient to this rather than logging an exception.

[2015-12-21 13:31] Tragetaschen commented on #164
They probably only wait for the first bits on the wire and then close the socket in the middle of the request before the rest arrived. It's questionable if this should even result in a log entry. Clients are free to do that.

[2015-12-21 16:28] Anderman commented on #512
@benaadams After enabling factor the result are more with what I expected

Search for string with 16 chars is at the same speed

Vector.IsHardwareAcclerated == True
[code]

[2015-12-21 19:38] #512 closed

[2015-12-21 19:41] muratg commented on #177
cc @moozzyk in case he has thoughts on this

[2015-12-21 19:41] benaadams commented on #512
@Anderman I'd reopen as it is slower than it needs to be when the length to be scanned it `< Vector<byte>.Count` and when `Vector.IsHardwareAcclerated == false` as would currently be the case on linux

[2015-12-21 19:42] muratg commented on #177
Also, @victorhurdugaci does this work with the current bits?

[2015-12-21 20:15] Anderman commented on #512
@benaadams, I can create a new PR for that? Or... did you already fix that?
I saw two other performance improvements

* MemoryPoolIterator2Extensions is based on a struct and will do an copy of the struct when called.
* A faster implementation of findfirstbyte. (todo more testing)

Any thoughts about it
[code]

[2015-12-21 21:05] benaadams commented on #512
@Anderman should be fixed in #514

I have wondered in this, but currently its a ptr and an int; which would have to be passed anyway; so would increase the params required per function, but not sure if any gain. The `this` pointer shouldn't be copied, some behaviour relies the the copy behaviour (can modify and have an instant "undo" if needed) and with improvements to the methods in #498

Worth i

[2015-12-21 21:06] Tratcher commented on #508
Yes this is intended. The server needs to process the path to enable routing, but the query isn't decoded until you call HttpContext.Request.Query.

[2015-12-21 21:07] moozzyk commented on #177
This was fixed in beta-8 I believe. The issue was that the libuv.dll we distributed in dll package was built incorrectly. We now build libuv differently.

[2015-12-21 21:41] cesarbs commented on #226
Closing this since no repro (cc @muratg).

[2015-12-21 21:41] #226 closed

[2015-12-21 21:54] Anderman commented on #508
@Tratcher I don't see where it is decoded. If I run the sample application in kestrel I got this in the console window

[code]

[2015-12-21 21:58] Tratcher commented on #508
Here? https://github.com/aspnet/KestrelHttpServer/blob/dev/samples/SampleApp/Startup.cs#L53
I said Request.Query, not Request.QueryString.

[2015-12-21 22:08] muratg commented on #262
@aluitink Still an issue for you?  If so, please file another bug or reactivate this one.  Thanks.

[2015-12-21 22:08] #262 closed

[2015-12-21 22:10] Anderman commented on #508
Aha,ok looks meaningful to me.

[2015-12-21 22:10] #508 closed

[2015-12-21 22:37] muratg commented on #164
Are you guys repro'ing this with Mono only, or with CoreCLR as well?

[2015-12-21 22:37] staff0rd commented on #164
Just mono for me.

[2015-12-21 22:37] Daniel15 commented on #164
I'm using Mono. Haven't tried CoreCLR as I'm using some libraries that are
incompatible.

Sent from my phone.
On Dec 22, 2015 9:37 AM, "Murat Girgin" <notifications@github.com> wrote:

[2015-12-21 22:38] muratg commented on #168
@cesarbs could you do the investigation?  Especially client support. Older IEs, android, etc.

[2015-12-21 22:40] benaadams commented on #168
Last I tried, `ab` gets upset - but not sure that's relevant - also may have been a different problem.

[2015-12-21 22:40] muratg commented on #169
@cesarbs could you check if this is done already?  Feel free to ping @JunTaoLuo and @Tratcher

[2015-12-21 22:42] muratg commented on #175
@lodejard What do you think about this one?

[2015-12-21 22:44] muratg commented on #177
Closing. If this still repro's in RC1 or RC2 bits, please reopen.

[2015-12-21 22:44] #177 closed

[2015-12-21 22:45] muratg commented on #179
Does this still repro with RC1 or RC2 bits?  Also, did you ever try with CoreCLR?

[2015-12-21 22:47] muratg commented on #180
@JunTaoLuo Could you try this with a middleware that just crashes?  Kestrel itself should be resilient to such issues.

[2015-12-21 22:51] muratg commented on #240
@halter73 is there a repro we can provide to @migueldeicaza?

[2015-12-21 22:54] muratg commented on #259
Do we still have crashes?  It looks like @halter73 has a check-in for this already. Is this good to close?

[2015-12-21 22:55] muratg commented on #271
Is this Mono only or does it repro on CoreCLR as well?

[2015-12-21 22:55] benaadams commented on #259
All the ones I experienced where resolved by @halter73's change

[2015-12-21 22:55] muratg commented on #273
Can you give some details?  A few examples?

cc @Tratcher

[2015-12-21 22:58] muratg commented on #283
@dopare Does this still repro with RC1/RC2 bits?   Also, what client are you using?

[2015-12-21 23:00] muratg commented on #301
@JunTaoLuo Could you investigate?

[2015-12-21 23:03] #456 closed

[2015-12-21 23:05] Tratcher commented on #273
https://www.ietf.org/rfc/rfc3987.txt
5.3.2.2.  Character Normalization
And maybe
5.3.2.4.  Path Segment Normalization

[2015-12-21 23:05] muratg commented on #464
@benaadams It looks like you're working on this.  Looking forward to see the PR!

[2015-12-21 23:07] muratg commented on #468
Please reopen if this is still an issue.

[2015-12-21 23:09] muratg commented on #470
@JunTaoLuo

[2015-12-21 23:10] muratg commented on #168
Cool.  Cesar can give a shot at `ab` as well.

[2015-12-21 23:11] muratg commented on #259
Thanks @benaadams!  Closing this one but folks can reopen if they see a failure.

[2015-12-21 23:11] #259 closed

[2015-12-21 23:18] benaadams opened #515 "MemoryPoolIterator2.Seek slow when Vector.IsHardwareAccelerated == false"
e.g. linux and x86

Linux hopefully resolved in RC2? dotnet/coreclr#983

[2015-12-22 05:41] dopare commented on #283
@muratg cannot reproduce on RC1, thanks, closing the issue.

[2015-12-22 05:41] #283 closed

[2015-12-22 06:39] shrayasr commented on #168
Can I be of any help? Would love to learn.

[2015-12-22 07:33] guyajun0 opened #517 "Hi,Would you please tell me When you intend to release RC2? Thank you!"
I need the function which can get remote ip,谢谢！

[2015-12-22 08:45] RaveNoX commented on #517
Looks like it will be Feb 2016: https://github.com/aspnet/Home/wiki/Roadmap

[2015-12-22 08:48] guyajun0 commented on #517
谢谢你! RaveNoX

[2015-12-22 10:33] #517 closed

[2015-12-22 14:44] davenewza opened #520 "System.IO.InvalidDataException in Kestrel.Http.MessageBody when posting large file"
When trying to post a large file  to an API action using form-data, the following exception is thrown. I have found this to be around 1.5mb but appears to be inconsistent.

This only seems to happen when hosting in an Azure Web App using the IISPlatformHandler.

I am using ASP.NET 5 RC1 (1.0.0-rc1-final) packages.

Action:

        [HttpPost()]
        public IActionResult PostText()
        {

[2015-12-22 16:22] yousifh commented on #31
Hi,

Maybe I'm misunderstanding the purpose of StopApplication() function, but if I do something like the following
[code]

It never prints "Done?" on the console assuming of course it actually takes a relatively long time on your machine to go through the loop. Is StopApplication() supposed to make sure this thing completes its processing before it shuts down the process or no?

[2015-12-22 22:43] muratg commented on #283
Thanks @dopare!

[2015-12-22 22:47] muratg commented on #168
@shrayasr Absolutely!  Thank you for your offer with helping.  You could build a custom Kestrel with the changes @benaadams is suggesting (basically removing whitespace from a bunch of places in header responses.)  And trying client compatibility, IE8..10, Edge, Chrome, FireFox, devices etc. And tools like `ab` as well.  The potential issue is that some clients may not abide fully with the RFC in

[2015-12-22 23:08] Tratcher commented on #168
You want to get rid of the space in `Transfer-Encoding: chunked`? I do not recommend it for interop reasons.

@shrayasr, feel free to verify the behavior of different clients, but you'll have a hard time covering all the possible implementations. E.g. IE8 and later, oldest supported versions of chrome, firefox, and safari.  Language SDKs (.NET, Java, Pearl, etc.).  Smart phone browsers and SDKs. Y

[2015-12-23 09:01] davenewza commented on #520
The exception is thrown from [here](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/MessageBody.cs#L174).

[2015-12-24 18:00] cristian-eriomenco opened #530 "'Microsoft.AspNet.Server.Kestrel' does not contain a 'Program' type suitable for an entry point"
***project.json***

[code]

***runtime***

[code]

**Startup.cs snippet**
[code]

dnu restore, dnu build works as expected with no errors

dnx web results in:
[code]

if using 1.0.0-rc1-final for the dependencies it works as expected

Any clues?

[2015-12-24 18:16] Tratcher commented on #530
https://github.com/aspnet/Announcements/issues/131

[2015-12-24 19:17] cristian-eriomenco commented on #530
Excellent solved. TY

[2015-12-24 19:17] #530 closed

[2015-12-24 21:04] lacostenycoder commented on #461
Can't figure this out... any ideas?
[code]

[2015-12-24 22:58] davidfowl commented on #461
Does mono 4.0.5 work?

[2015-12-25 04:48] lacostenycoder commented on #461
@davidfowl I did brew log mono and don't see that version in a any previous commit.  It jumps from 4.0.2.5  to 4.2.0.179.  Is there another way to install 4.0.5 via homebrew?  Should I ditch brew version and install from http://www.mono-project.com ?

[2015-12-26 08:02] davenewza opened #534 "System.IO.InvalidDataException in Kestrel.Http.MessageBody when posting large request body"
This may be related to the issue I created [here](https://github.com/aspnet/KestrelHttpServer/issues/520).

When trying to post a large request body (a few megabytes) to an API action, the following exception is thrown.

This only seems to happen when hosting in an Azure Web App using the IISPlatformHandler. I cannot replicate it locally using "dnx web".

I am using the ASP.NET 5 RC1 (1.0.0-rc1-fi

[2015-12-26 12:22] nguyenm100 opened #535 "question about pathing and nginx"
I have multiple aspnet apps running on different ports on kestrel on the same machine and want to unify them behind nginx.

So I'll have

location /app1/ {
  proxy_pass http://localhost:xxxx/;
}

location /app2/ {
  proxy_pass http://localhost:yyyy/;
}

etc.

My question is:

How do I path back to the "home" page from each app (so from app1, home = http://host/app1/).  Also related is how do I cod

[2015-12-27 21:53] jchable opened #539 "NativeCommandError with libuv.dll when executing Kestrel on Nano Server"
When running web.cmd of a published ASP.NET 5 project on Nano Server, we have an error message telling us that the libuv.dll could not be found. However the DLL looks like it's at the right place.

Sounds like it could be a nano Server issue since the web.cmd it works on my development machine.

![issue_nanoserver](https://cloud.githubusercontent.com/assets/10860719/12012215/77da90e4-ad3f-11e5-849

[2015-12-28 19:00] benaadams commented on #520
Have you upped the IIS post limits in web.config?

[2015-12-28 19:30] halter73 commented on #31
@yousifh If you remove the for loop do you see "Done?" and "Shutting down gracefully"?

Kestrel will not wait indefinitely for the application function to complete. In RC1-update1, I think it gives the app about 2.5 seconds to finish.

[2015-12-28 21:59] cesarbs commented on #328
With #328 merged, there should be no more sockets being leaked after calls to `Accept()`.

[2015-12-28 21:59] #328 closed

[2015-12-28 22:57] benaadams commented on #535
In html it ould just be the relative path `/` ?

[2015-12-28 23:08] cesarbs commented on #535
I think they mean that in app1 they want `/` to go back to `/app1`, same for `/` in `/app2`. I'm looking into it. Not sure it's something that can/should be handled by Kestrel though.

[2015-12-28 23:35] benaadams commented on #535
Oh like `~/` going to right place?

[2015-12-29 00:06] yousifh commented on #31
@halter73 Yeah, it works fine once I remove the for loop. I wasn't aware the timeout Kestrel had while it waits to close down. I can see the 2.5 seconds timeout in KestrelEngine when it tries to stop each KestrelThread. Thanks.

[2015-12-29 00:54] nguyenm100 commented on #535
Hey, thanks for investigating.  Wasn't sure whether to submit here or elsewhere.  Let me know if I should try another group.

relative pathing seems to work for static files (js/css/etc) but '/' on an anchor tag will take me back to http://localhost.

Also, beginform is putting me at http://localhost/controller/action as opposed to http://localhost/app/controller/action.

[2015-12-29 06:04] emfluenceindia commented on #216
For me it was never an issue for me before I installed Newtonsoft.Json package using dnu `(dnu install Newtonsoft.Json)`, which added the package to my project and wrote an entry in my `project.json` as `"Newtonsoft.Json": "8.0.1"` under `dependencies` node. After installing the package I ran `dnu build` which said successful compilation. When I ran `dnx web` I got the error which was never there!

[2015-12-29 13:52] Anderman opened #541 "Skip Null check and zero length checks of Pointers"
pointers to byte arrays are use as
`fixed(byte* ptr arr)`
the code generated will check if this is an null or zero length array

To skip these tests the statement can be written as
`fixed(byte* ptr &arr[0])`

see generated code

`fixed(byte* ptr arr)`
[code]

`fixed(byte* ptr &arr[0])`
[code]

[2015-12-29 15:29] benaadams commented on #541
Interesting :)

[2015-12-29 15:50] Anderman commented on #541
This one is also nice to know [Optimize generated code for Fixed statement](https://github.com/dotnet/coreclr/issues/2480). Looks like a clr or roslyn issue

[2015-12-29 22:19] DamianEdwards commented on #480
Doesn't enabling TCP no-delay (our default) also disable the delayed acks? Or is it strictly for the nagling?

[2015-12-29 22:51] muratg commented on #539
@moozzyk

[2015-12-29 22:56] muratg commented on #273
@Tratcher @troydai Do we need to do this? What's the user impact if we don't do it?

[2015-12-29 22:57] muratg commented on #271
Pinging the issue.  Did you guys see similar issues with CoreCLR?

[2015-12-30 01:32] benaadams commented on #480
Best I can do right now is link to John Nagle expaining it[in 2015](https://news.ycombinator.com/item?id=10607422) and [2006](http://developers.slashdot.org/comments.pl?cid=14515105&sid=174457)

[2015-12-30 01:34] benaadams commented on #480
Also `SIO_TCP_SET_ACK_FREQUENCY` isn't currently documented in MSDN; but hopefully it will be shortly

[2015-12-30 11:24] Anderman opened #544 "Use Buffer.MemoryCopy"
`Buffer.BlockCopy` has a large overhead for small size copy. This is because it has to find out a lot of things before it start copy see [blockcopy](https://github.com/dotnet/coreclr/blob/master/src/vm/comutilnative.cpp#L1410-L1456).

MemoryCopy is almost a direct call to memmove see [here](https://github.com/dotnet/coreclr/blob/bc146608854d1db9cdbcc0b08029a87754e12b49/src/mscorlib/src/System/Buff

[2015-12-30 12:18] benaadams commented on #480
@DamianEdwards sorry, not sure if I made any sense.

Is so you can keep the nagling on, but switch delayed acks off - what I linked to is why you might want to do that instead of just switching nagling off.

Obviously having them both on is terribad; and since you never used to be able to just switch delayed acks off, then switching off nagling was the best option.

I'm not certain what the impact

[2015-12-30 16:25] benaadams commented on #539
@GuardRex has had some success with this https://github.com/aspnet/Docs/issues/194#issuecomment-168015119

[2015-12-30 16:38] GuardRex commented on #539
@jchable Did you install the Reverse Forwarders package? https://github.com/aspnet/Hosting/issues/539

[2015-12-30 16:46] DamianEdwards commented on #480
I see. Best case would be for this to be a switch in libuv so we can set it through there. We don't really want to be P/Invoking to platform specific APIs of we can help it.

[2015-12-30 17:39] benaadams commented on #480
Oh, yeah - good point!

[2015-12-30 17:39] #480 closed

[2015-12-30 19:21] BrennanConroy commented on #520
Could you give a small repro application? I'm not getting this behavior in the app I made

[2015-12-30 20:16] aggieben commented on #418
Just to clarify @seburgi's comment - I tried only removing the `Connection` header, but that doesn't work.  Both lines are required.

[2015-12-30 20:57] #187 closed

[2015-12-30 20:59] lodejard commented on #304
Having a max read-ahead would be a good idea. Disabling request buffering would be a different thing- that would be to stop the server or middleware from remembering the body, to disable "seek" rewinding

[2015-12-30 23:17] clrjunkie commented on #541
+1

[2015-12-31 00:18] jchable commented on #539
Looks like my VHD was not provisioned correctly with the Forwarders package. I fully rebuilt a Nano Server VHD from scratch and now works like a charm !

[2015-12-31 00:18] #539 closed

[2015-12-31 02:17] pranavkm commented on #535
Try using the  `Map` extension on `IApplicationBuilder`. Your Startup would look like:

[code]

[2016-01-03 11:27] ru-sh opened #550 "Kestrel as TcpListener"
Hello!
It is possible to use kestrel server as a simple TcpListener?
If possible, any example, please.

[2016-01-03 12:42] davidfowl commented on #550
You'd be better off using something like libuvsharp or copying the appropriate classes from kestrel

[2016-01-03 20:09] imperugo opened #551 "Calling https but getting http schema"
Hi,
I've a strange issue running Kestrel with HTTPS.
It seems the schema is always **http** also if I call the endpoint using **https**.

![image](https://cloud.githubusercontent.com/assets/758620/12080529/b6a5854a-b25d-11e5-9fa0-86df5c4abb85.png)

Any hint?

For reference: https://github.com/IdentityServer/IdentityServer3/issues/2357

[2016-01-03 20:24] khellang commented on #551
Are you hitting Kestrel directly or are you running behind a reverse proxy?? Maybe using IISPlatformHandler?

[2016-01-03 20:26] imperugo commented on #551
Running directly from VS2015 Update1.

```app.UseIISPlatformHandler();``` is comment out

[2016-01-03 20:27] khellang commented on #551
Does that mean using IIS Express?

[2016-01-03 20:30] imperugo commented on #551
Nope, running ```web``` command from play button in VS.
Same problem using command line (```dnx web```)

[2016-01-03 22:03] Tratcher commented on #551
Fixed in RC2: https://github.com/aspnet/KestrelHttpServer/issues/365

[2016-01-03 22:03] #551 closed

[2016-01-03 22:08] imperugo commented on #551
Thx,
I'll use [this](https://github.com/aspnet/KestrelHttpServer/issues/454) workaround in the meanwhile

[2016-01-04 06:49] wtc114 opened #552 "how to open the access log for KestrelHttpServer"
i have a  aspnet 5 mvc 6 app run in  docker,the docker images is pull from docker hub，use the
docker pull microsoft/aspnet。but I can't find anylog in the container belong to  KestrelHttpServer 。

[2016-01-04 13:28] introsuit commented on #271
On our setup, with CoreCLR Kestrel does not hang.
However some resources fail to be delivered and browser times out, even though the page appears to be displayed properly. This is probably unrelated issue though.

[2016-01-04 16:32] muratg commented on #271
@introsuit Yup, that sounds like a separate issue.  If you can provide repro steps, please feel free to file another ticket for that issue.

[2016-01-04 18:35] Tratcher commented on #273
That's more a question for @blowdart. We're un-escaping arbitrary Unicode from remote users. Normalization helps avoid lots of known issues with strange unicode combinations. http://unicode.org/faq/normalization.html

[2016-01-04 19:05] Tratcher commented on #169
https://github.com/aspnet/Common/pull/68

[2016-01-04 19:28] moozzyk commented on #539
https://github.com/aspnet/Hosting/issues/539#issuecomment-167709309

[2016-01-04 19:41] muratg commented on #273
@blowdart Please advise :smile:

[2016-01-04 19:57] moozzyk commented on #216
@emfluenceindia - I guess that after you installed Newtonsoft.Json and restored packages the project.lock.json file was rewritten and now, for whatever reason, it no longer contains the information needed to find libuv.dll. Hard to pinpoint what the issue is since there isn't enough details in your report.

[2016-01-04 20:22] blowdart commented on #273
You must normalize. Just like IIS does.

[2016-01-04 20:59] JunTaoLuo commented on #169
Will be addressed in the PR mentioned above.

[2016-01-04 20:59] #169 closed

[2016-01-04 22:00] #389 closed

[2016-01-04 22:02] cesarbs commented on #504
Closed by 36e9e8759a579a4d3e50c70490859f9ba99a98ec.

[2016-01-04 22:02] #504 closed

[2016-01-05 06:44] davenewza commented on #520
@benaadams: Yes, I have. The web.config looks as followings:

[code]

[2016-01-05 17:48] nguyenm100 commented on #535
@pranavkm - this seems to work for me on windows but on linux, i get a blank page (whether I go through nginx or directly to the port).  are you able to get this to work on linux?

[2016-01-05 18:04] pranavkm commented on #535
@Tratcher, any idea what could be wrong here?

[2016-01-05 18:31] Tratcher commented on #535
Try:
[code]

[2016-01-05 20:43] cesarbs commented on #273
Do we want to preserve the original URL as a field in the context i.e. the original bytes and path before normalization and dot segment removal?

[2016-01-05 21:52] Tratcher commented on #273
Not right now.

[2016-01-05 22:55] jaredthirsk commented on #216
I just had the same issue on Windows 7.  dnu restore fixed it.  (I had just done a dnu install of the user-secrets and options stuff.)  I suggest fixing this before RTM as it is not obvious what the problem is.

[2016-01-05 23:18] Anderman opened #555 "Do not use an Action for the awaitable status"
The SocketInput use an action as status.
Actions are expensive to compare and in interlock statements

This statement is 10 times slower with action
[code]

Generated code with int
[code]

[2016-01-05 23:30] halter73 commented on #541
@Anderman did #542 address all the places where we should use the `fixed(byte* ptr &arr[0])` pattern?

[2016-01-05 23:34] Anderman commented on #541
Yes, all that I could found. I skipped 1 or 2 because they didn't have much impact.

[2016-01-05 23:36] Anderman commented on #541
@halter73  I think @benaadams  did already change some in his PR

[2016-01-05 23:46] halter73 commented on #541
I also noticed @benaadams used the same pattern in at least one of his PRs.

Thanks! Just wanted to double check before closing.

[2016-01-05 23:46] #541 closed

[2016-01-05 23:53] benaadams commented on #541
@Anderman is making me up my game :)

[2016-01-05 23:58] Anderman commented on #541
Ha, Thx there still is many things that can be improved

[2016-01-06 04:52] emfluenceindia commented on #216
dnu restore fixed it for me as well but not before I took out the assembly reference from `project.json`. And even without the reference in `project.json` I still could use `Newtonsoft.Json` in my controller. However, I have version seems to be wrong. I finally used `7.0.0-rc1-final` and it gets resolved, no compilation or runtime error. Thanks for your idea!

[2016-01-06 17:34] #506 closed

[2016-01-06 17:34] #505 closed

[2016-01-06 18:36] halter73 commented on #541
@Anderman No doubt there are many more things that can be improved, but we've decided we are going to lock down stop accepting new perf related prior to our 1.0 release. This is meant to give us more time to focus on other things like stability and security.

[2016-01-06 18:47] clrjunkie commented on #541
@halter73
:+1:

[2016-01-06 18:55] cesarbs commented on #168
I'll close this since it could cause compatibility issues that are not worth the small improvement.

[2016-01-06 18:55] #168 closed

[2016-01-06 22:18] hminaya commented on #108
It's happening on OSX again.

[2016-01-06 23:44] halter73 commented on #108
@hminaya Can you provide more details?

When you hit Ctrl+C do you see a message in the console saying "Hosting shutdown" or similar? Does the shutdown hang forever or a long time? Does it make a difference if a request is made to the server before hitting Ctrl+C?

Your OS X verions, dnx version, project.lock.json and a link to a sample project the reproduces this issue would also help.

Thanks!

[2016-01-07 00:32] hminaya commented on #108
Yes, So here is the info.

Basically i used the asp.net generator for yeoman (yo aspnet). The first time I selected "Web Application Basic [Without Membership.....]", this is where it basically hangs. I can't shut it down, it won't even display anything in the browser, if I curl the url it won't return anything. I hit Ctrl+C multiple times and it does not say anything.

The second time I selected

[2016-01-07 18:59] cesarbs commented on #535
@nguyenm100 Change nginx.conf as follows:

    location /app1/ {
        proxy_pass http://localhost:xxxx/app1;
    }

    location /app2/ {
        proxy_pass http://localhost:yyyy/app2;
    }

I also had to remove the `server_name  localhost;` line I had on my nginx.conf file.

[2016-01-07 19:01] sirentek opened #559 "Kestrel cannot serve 2 sites at the same time ?"
I use Nginx with Kestrel and I am trying to serve 2 sites at the same machine at the same time.
first site uses port 80 => example.com:80
second site uses port 8080 => example.com:8080
I can serve both sites one by one with success.

But while first site is running on Kestrel, if I start an other Kestrel for the second site, The kestrel is terminated on the first site.

Here is my Nginx config fil

[2016-01-07 19:26] sirentek commented on #559
My bad.. Such a mistake..
I check the PID of the Kestrel and terminate it from bash script!!!
It is working.

[2016-01-07 19:26] #559 closed

[2016-01-07 19:36] cesarbs commented on #301
I can't repro. @grahamehorner are you still seeing this?

[2016-01-07 19:51] cesarbs commented on #180
Based on this:

    terminate called after throwing an instance of 'PAL_SEHException'
    Aborted (core dumped)

This looks like an exception was thrown way down in the stack, by C++ code, and then the process was terminated. This is not something we could have caught.

Kestrel **is** resilient to managed exceptions thrown by middleware.

Closing.

[2016-01-07 19:51] #180 closed

[2016-01-08 02:22] cesarbs commented on #104
Consdering how Kestrel-specific and perf-focused the code is at this time, I don't think we'll ever do this.

[2016-01-08 02:25] davidfowl commented on #104
Wow his is old

[2016-01-08 02:25] #104 closed

[2016-01-08 02:25] davidfowl commented on #104
This

[2016-01-08 04:22] cesarbs commented on #550
Why would you like to do that?

[2016-01-08 08:23] ru-sh commented on #550
I need to start TcpListener in CoreClr runtime. As far as I know, cross-platform implementation of TcpListener today exists only in Kestrel.

[2016-01-08 08:24] davidfowl commented on #550
Still, Kestrel isn't a TcpListener, it's a webserver. I'd file an issue like this on CoreFX, or just use the socket APIs on .NET Core. Those work cross platform as well.

[2016-01-08 18:13] clrjunkie opened #563 "build.sh hangs on Mono test code - Ubuntu Desktop 14.04.3 LTS"
Attached Build Log.
[kbuild.txt](https://github.com/aspnet/KestrelHttpServer/files/83089/kbuild.txt)

[2016-01-08 18:52] cesarbs commented on #563
Does it happen consistently? Lots of tests are disabled on Mono precisely for this reason. We might have to disable some more.

It's really a Mono issue, since the hang happens after all tests have been executed and the xunit runner has exited.

[2016-01-08 18:57] cesarbs commented on #550
As @davidfowl suggested, you could copy the relevant classes from Kestrel, or use sockets. We don't have any plans to separate out the listener part of Kestrel, so I'm closing this issue.

[2016-01-08 18:57] #550 closed

[2016-01-08 19:40] benaadams commented on #552
Did you add a logger?

[2016-01-08 20:06] cesarbs commented on #470
Added regression test. Closing.

[2016-01-08 20:06] #470 closed

[2016-01-08 20:39] Tratcher opened #564 "Enable custom header encoding"
Officially request and response headers are restricted to ASCII. Historically however ANSI and local code pages were supported. There are also some cases where UTF-8 was used in for Unicode host names prior to the punycode standard (IE and HttpWebReqeuest on intranets), see Host and Location.

Default header encoding/decoding to utf-8. Allow this encoding to be set at startup. For performance reas

[2016-01-09 00:12] rynowak opened #565 "Doing synchronous writes while chunking can seems to block the thread indefinitely"
Doing some testing on aspnet/Mvc#3516 I ran into this issue.

It's super easy to overwhelm the server when a large Razor page does synchronous writes. Doing 50 requests per second quickly starves the thread pool.

I ended up with about 140 threads blocked on this callstack:
[code]

It seems like these threads don't make any progress once they get into this state, and the server is unresponsive. Mo

[2016-01-09 00:12] rynowak commented on #565
We'll be changing Razor to avoid synchronous I/O to play better with libuv. There looks like there's still a real bug here.

[2016-01-09 00:27] rynowak opened #566 "Consider behavior when a client disconnects"
Currently today it's *possible* that you'll get I/O exceptions due to a client disconnect, but it's pretty hard to reason about exactly when that will happen and when it won't due to buffering.

These exceptions can be troublesome in production because you didn't do anything wrong to cause them, and can't do anything to handle or prevent them. Now they are popping up in logs, and you have to try t

[2016-01-09 01:47] hminaya commented on #108
@halter73 was the info useful?

[2016-01-09 03:33] benaadams commented on #566
Related https://github.com/aspnet/WebSockets/issues/63

[2016-01-09 04:32] Tratcher commented on #566
There's already a CT that notifies you of client disconnects: `httpContext.RequestAborted`. You could just check it between writes, or at least between sections.

Maybe you want something like this? https://msdn.microsoft.com/en-us/library/system.net.httplistener.ignorewriteexceptions(v=vs.110).aspx, but on a per request basis?

[2016-01-10 02:04] benaadams commented on #565
I might have bumped into something similar; though a different route (last statement in issue makes me think this), which am investigating.

What's the processes handle count like?

[2016-01-10 04:02] benaadams commented on #565
Interestingly, after while (a long while) it returned to normal responsiveness

[2016-01-10 07:56] benaadams commented on #565
Just a follow up, fairly sure handles is unrelated; I think its coming from a different package as I'm burning them at idle. Still looking into this though.

[2016-01-10 09:27] clrjunkie commented on #563
Sorry for the delayed response, working on multiple fronts..

Yes.

Consider adding an argument to build "skipmonotests"

Q: Do you have a build script that builds Kestrel directly against CoreFx build output binaries?

[2016-01-10 09:42] clrjunkie commented on #566
I assume you'll still get the I/O exception if the connection aborts after checking IsCancellationRequested = false, during write.

:+1:

[2016-01-10 14:11] benaadams commented on #565
K, I think I've got this one...

[2016-01-10 18:43] benaadams commented on #565
However; still good to go async as you will be paying all the async costs anyway but also blocking threads with the sync route.

If you go async you might be able to do overlapped generation+send for an additional benefit? e.g.
[code]

[2016-01-10 19:48] benaadams commented on #555
Resolved by https://github.com/aspnet/KestrelHttpServer/pull/558?

[2016-01-10 20:12] benaadams commented on #564
As there are two servers, could take the IE11+Edge route. If you want to support historical non-standard stuff use WebListener (e.g. intranets/because your site uses them which you should know)?

[2016-01-10 22:20] #555 closed

[2016-01-10 23:46] Tratcher commented on #564
It's primarily an interop issue. You often do not control what the client sends you (or expects back), you just have to find a way to make it work. Standards are definitely the default but we need a well defined behavior for addressing non-standard input/output.

How does Kestrel behave at the moment? Does it throw or mangle the data?

[2016-01-11 06:12] cesarbs commented on #563
It's already there :grin: Set this environment variable: `KOREBUILD_TEST_SKIPMONO=1`

[2016-01-11 06:19] davidfowl commented on #563
@clrjunkie No, we use packages. If you have a build that produces packages then it should be trivial to integrate using a custom feed.

[2016-01-11 08:16] benaadams commented on #564
It stays uninterpreted ([tests](https://github.com/aspnet/KestrelHttpServer/blob/dev/test/Microsoft.AspNet.Server.KestrelTests/AsciiDecoder.cs#L13-L35)) so 255 or 0 stays as 0 or 255 in the string.
As per last section of [rfc7230#section-3.2.4](https://tools.ietf.org/html/rfc7230#section-3.2.4)

   US-ASCII octets.  A recipient SHOULD treat other octets in field
   content (obs-text) as opaque dat

[2016-01-11 10:21] clrjunkie commented on #563
@cesarbs Thank!

@davidfowl I understand and accept but I also have further thoughts on the subject.
I'm opening a new issue to discuss them.

[2016-01-11 10:29] clrjunkie opened #568 "Consider extending the Package System to support Repo feeds"
I like the new Package system and I think it’s a major step forward for managing dependencies and distributing software in general. However, this system does not address a scenario which I think is quite useful – ability to drill down into open source packages and make changes during development.

Consider the following workflow in VS:

1. You work on an ASP.NET project and you encounter an odd be

[2016-01-11 10:46] clrjunkie commented on #568
For those notified via email: made a slight change to the example -> readonly: false

[2016-01-11 10:57] clrjunkie commented on #563
@cesarbs

Is there a build instructions page? It might be good idea to add a list of all the environment vars controlling the build process.

[2016-01-11 12:09] benaadams opened #569 "StreamSocketOutput.WriteAsync is Sync (SSL)"
This is used for wrapped streams such as Ssl. There is currently an issue with it being async; so it is [currently implemented as sync](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Filter/StreamSocketOutput.cs#L50-L55).

[code]

Tests do catch the issue current; e.g. switching to async causes the following failures:

`Microsoft.AspNet.Server.KestrelTests

[2016-01-11 16:04] Tratcher commented on #568
This issue was moved to aspnet/dnx#3304

[2016-01-11 16:04] #568 closed

[2016-01-11 16:39] cesarbs commented on #563
@clrjunkie There's isn't one at this time, but indeed it'd be a good idea to document these things.

[2016-01-11 16:45] cesarbs commented on #464
@benaadams Are you working on this? I guess not since it's been 21 days since @muratg's comment :smile: I'll take this if no one's working on it.

[2016-01-11 16:59] benaadams commented on #464
@cesarbs I was quite close with #485 though it needs rebasing; I can finish it of with improves if you can workout  #569? Haven't managed to work out what's going on there.

[2016-01-11 18:53] cesarbs commented on #464
@benaadams I can't look into #569 immediately, so go ahead with #485 as it is right now.

[2016-01-11 21:58] victorhurdugaci opened #571 "Change to build to use dotnet"
Kestrel has a "special" build:

- It invokes DNX as a post build step
- It relies on compilation modules
- Might (not sure) spin up a new server that's not in proc as part of the tests

cc @cesarbs @halter73

[2016-01-11 22:00] victorhurdugaci commented on #571
At a minimum, you have to upgrade a few script and project.json files just like here: https://github.com/aspnet/Configuration/commit/9cfd22f1fc48d46d9aa35e645c4daf89b7987422

[2016-01-11 22:00] victorhurdugaci commented on #571
cc @muratg

[2016-01-11 22:39] rynowak opened #572 "Low RPS with lots of response data + chunking"
I'm only able to get about 500-550 rps using the following middleware over the **loopback** interface. I can get 1200+ with a content length set.

[code]

Note that this is intentionally exceeding the write-behind buffer and going through the chunked path. This only gets the cpu to ~15%.

This is a synthetic version of a Razor benchmark I've been trying to improve.

[2016-01-11 23:02] clrjunkie commented on #563
@davidfowl are there any issues with running kestrel using dotnet cli? looking for the bare minimum setup to dev test outside VS

[2016-01-11 23:36] benaadams commented on #564
Also since it only encodes 0-255 of char (both on input and output) and doesn't do any interpretation of it; you can embed pre-encoded stuff in it currently by putting it in the string that way - although it will use slightly more room.

[2016-01-11 23:39] benaadams commented on #572
@rynowak while you're there (in loopback)... does this make any difference? https://github.com/aspnet/KestrelHttpServer/pull/416

Though you may need to change your test end to match the changes in the tests.

[2016-01-11 23:59] benaadams commented on #572
Also could you share repo/gist - would be interested to try

[2016-01-12 01:02] halter73 commented on #571
I don't think this should be a huge issue. Basically all we need to do is run two command line apps (tools/Microsoft.AspNet.Server.Kestrel.GeneratedCode and tools/Microsoft.AspNet.Server.Kestrel.GeneratedCode) before building the main project.

I think we can remove this for now as long as we have a plan to move this to [an analyzer](https://github.com/aspnet/KestrelHttpServer/pull/518/files#r4926

[2016-01-12 01:10] benaadams commented on #484
Would be easier to have this as a maxRequestExecutionTimeout, that includes body reads, that work?

/cc @blowdart

[2016-01-12 01:47] benaadams commented on #515
This should now be resolved

[2016-01-12 01:47] #515 closed

[2016-01-12 01:48] benaadams commented on #450
Should be resolved by #567

[2016-01-12 02:00] benaadams commented on #484
Hmmm... may cause issue with large file uploads :-/

[2016-01-12 02:13] cesarbs commented on #571
Why do we care about this only in Kestrel? I don't see anything similar in other projects.

[2016-01-12 02:35] davidfowl commented on #571
We don't actually. We can remove it for now and fix it later. @lodejard wrote it to keep himself in check :smile:

[2016-01-12 06:21] blowdart commented on #484
Hurrah, timeouts :D

[2016-01-12 12:22] mikehadlow opened #574 "SampleApp build failure on Ubuntu server 14.04"
Starting with an AWS Ubuntu Server 14.04 EC2 t2.micro instance

Installed the dotnet toolchain using instructions on this page: http://dotnet.github.io/getting-started/

All steps successful, including creating and running a simple console application.

Cloned the KestrelHttpServer repo:

    git clone https://github.com/aspnet/KestrelHttpServer.git

Attempt to build SampleApp:

    cd samples/Sam

[2016-01-12 12:39] shahid-pk commented on #574
use these instructions instead http://docs.asp.net/en/latest/getting-started/installing-on-linux.html. The ones you are using are not ready yet for some scenarios. They will be ready by rc2

[2016-01-12 13:13] mikehadlow commented on #574
Thanks @shahid-pk. Unfortunately that doesn't work either, although the failure is different:

I followed the instructions to install coreClr: http://docs.asp.net/en/latest/getting-started/installing-on-linux.html

Here's my command history:

      5  curl -sSL https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.sh | DNX_BRANCH=dev sh && source ~/.dnx/dnvm/dnvm.sh
      6  source /home/u

[2016-01-12 13:22] shahid-pk commented on #574
add this package to the project.json file System.Runtime, version 4.0.21-beta-23509 or you can go all latest by getting latest version of the package with 'System.Runtime 4.0-21-*.
The sample may be outdated.

[2016-01-12 13:34] mikehadlow commented on #574
I added System.Runtime to my project file:

    {
      "version": "1.0.0-*",
      "dependencies": {
        "Microsoft.AspNet.Server.Kestrel": "1.0.0-*",
        "Microsoft.AspNet.Server.Kestrel.Https": "1.0.0-*",
        "Microsoft.Extensions.Logging.Console": "1.0.0-*"
      },
      "compilationOptions": {
        "emitEntryPoint": true
      },
      "frameworks": {
        "dnx451": {

[2016-01-12 13:34] mikehadlow commented on #574
BTW, dnu restore also reported:

    Installing System.Runtime.4.0.0-beta-23019

[2016-01-12 18:34] esargent opened #575 "'Get' in type Kestrel.Http.Frame does not have an implementation error on startup"
I know whenever someone says "nothing changed" we all roll our eyes, so I'm sure that isn't the case, but yesterday afternoon I started getting the error below after updating some classes and viewmodels.

I've gone back in source control to the last two checkins previous, both of which were working fine prior to yesterday afternoon and they both fail too. I've checked my project.json file, but non

[2016-01-12 18:46] esargent commented on #575
I was able to fix this by uninstalling the Kestrel package and then reloading it with "Dependency Behavior - Highest Patch" checked in nuget package manager.
This updated the Microsoft.AspNet.Hosting package to rc2-16161 rather than -16150 that was specified as the minimum.

So this issue can be closed, but would first appreciate a comment on if the aspnet team thinks we should be using "highest p

[2016-01-12 18:47] Tratcher commented on #566
Offline design notes:
- The response Stream Write/Async will no longer throw IOExceptions, they will be logged as debug with the other connection related events.
- It will honor CancellationTokens passed into it and throw OpeartionCancelledException or TaskCancelledException (?) and abort the response. Note the token is only honored for the duration of the write operation, so you get the exception

[2016-01-12 18:54] Tratcher commented on #575
We use `1.0.0-*` dependencies for all of our RC2 work and you may need to as well if you're updating often.

[2016-01-12 19:12] benaadams commented on #566
@Tratcher will try to get some of these in the Timeouts change as I have to detect different conditions for the tests - so will try have it comply.

[2016-01-12 21:37] cesarbs commented on #231
Is this still an issue? Is there something to be fixed?

[2016-01-12 21:40] Tratcher commented on #231
Yes, https://github.com/aspnet/KestrelHttpServer/pull/242#issuecomment-145688074

[2016-01-12 23:38] benaadams commented on #566
This is a tricky one as different writes can have different tokens. Should they carry their individual tokens with them; throw cancelled if cancelled and log if not? (e.g. you can have a mix of things - if there are several outstanding writes)

[2016-01-12 23:43] Tratcher commented on #566
The token only applies for the duration of the WriteAsync Task, which should complete once the data is copied to the write-behind-buffer, correct?

[2016-01-12 23:51] benaadams commented on #566
Not if you overflow the "considered completed" buffer, when you will get a non-completed task back:

https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/SocketOutput.cs#L149-L150

Once the function returns (when it has been copied), you can write more and get more non-completed tasks back; if you aren't awaiting straight away (bad behaviour - though not an

[2016-01-12 23:53] benaadams commented on #566
I'm interpreting this as writes should only throw/cancel for writes that have been requested to cancel. Is that correct?

[2016-01-13 00:11] clrjunkie commented on #566
@Tratcher what is the due date for responding to this?

[2016-01-13 00:24] halter73 commented on #566
@clrjunkie  Due date? Do you disagree with the design? If so, the sooner you raise your objections the more easily we can change direction. No guarantees of course.

[2016-01-13 01:40] clrjunkie commented on #566
I'm still not in that position as I'm juggling between several things. Just wanted to know what timeframe I have to get up to speed as this feels to me tricky enough to justify a group discussion.

[2016-01-13 01:43] clrjunkie commented on #566
Anyway I suggest looking into what httplistener does for this case and see if there are any take aways.

[2016-01-13 03:52] Tratcher commented on #566
@benaadams Yes. Each CT is paired with just the one Task from it's call to WriteAsync.  However, Any CT may cause the response to abort.

@clrjunkie HttpListener pre-dates CancellationTokens and Tasks, so there's not much to compare to there.

[2016-01-13 08:03] clrjunkie commented on #566
@Tratcher yes I know that.. I was thinking mor

[2016-01-13 08:21] clrjunkie commented on #566
@Tratcher ...thinking more about any special handling when it swallows the exception as to the connection state..I think its worth taking a peek and see if it just does a catch or something more than that.

[2016-01-13 12:47] fermaem opened #576 "IsLocal returns false when hosted through the TestServer"
The following test fails when ran against rc2.

Is this considered as a bug? Wouldn't that be the case, could you please help me working around it (maybe through some additional test configuration setup)?

[code]

Below what the server returns

[code]

/cc @troydai (because of #284)

[2016-01-13 14:15] Tratcher commented on #566
Catch and abort the request/response/connection.

[2016-01-13 15:06] clrjunkie commented on #566
and what constitutes an unsuccessful write? any return code other than success or eof ?
does it remember this state to skip syscalls for possible successive write attempts by the user?

[2016-01-13 17:24] cesarbs commented on #175
I'll chime in. It's a nice feature but I wonder if it's worth the added complexity to the code.

* Why/when would any of those 3 scenarios take place?
* How often are them expected to occur?

All 3 scenarios manifest their symptoms in the client, which would eventually lead to an investigation on the server side. Unless Kestrel itself could be the source of these issues, I'd say it's up to the app

[2016-01-13 17:32] cesarbs commented on #301
Closing since no repro and no response.

[2016-01-13 17:32] #301 closed

[2016-01-13 17:41] Tratcher commented on #175
Application developers make mistakes. This is more about how readily can they diagnose those mistakes. B and C are difficult to diagnose as they manifest as hangs on the client side (or data corruption in a pipelining scenario). The average browser has built in mitigations for A where they just drain any remaining data.

[2016-01-13 19:02] Tratcher commented on #566
Sure, there's no reason to attempt writes on aborted connections.

[2016-01-13 19:08] Tratcher commented on #564
String is a very bad representation of opaque data, incoming or outgoing. I've tried the embed-utf-8-in-a-string hack before with HttpClient and it almost works, but it confuses anyone else that tries to look at the data.

I don't think it's appropriate for WebListener to have different behavior on something as basic as header encoding.

[2016-01-13 19:08] clrjunkie commented on #566
Great.

[2016-01-13 19:12] troydai commented on #576
Thanks for reporting the issue. Can I know the implementation of the `TestServer`? It doesn't seem to be https://github.com/aspnet/KestrelHttpServer/blob/dev/test/Microsoft.AspNet.Server.KestrelTests/TestServer.cs

[2016-01-13 19:13] benaadams commented on #564
Isn't embedding utf-8 in a string its just maintaining it in its input and output binary representation without changes (other than widening the data type)?

[2016-01-13 19:15] cesarbs commented on #574
@mikehadlow Run `dnu restore` at the root of the repository. Then go into `samples/SampleApp` and you should be able to build and run it.

There's some pre-restore logic in `src/Microsoft.AspNet.Server/Kestrel` that needs to be run before you can run the sample apps.

[2016-01-13 19:37] cesarbs commented on #240
Stack trace:

      System.AggregateException: One or more errors occurred. ---> System.IO.IOException: The authentication or decryption has failed. ---> Mono.Security.Protocol.Tls.TlsException: The authentication or decryption has failed.
        at Mono.Security.Protocol.Tls.RecordProtocol.ProcessAlert (AlertLevel alertLevel, AlertDescription alertDesc) [0x00000] in <filename unknown>:0

[2016-01-13 19:39] benaadams commented on #564
Am suggesting something like typed headers so you could go
[code]

[2016-01-13 19:42] cesarbs commented on #240
To repro just run `samples/SampleApp` from the Kestrel repo and try to hit the https port (5001).

[2016-01-13 20:00] esargent commented on #575
thanks

[2016-01-13 20:00] #575 closed

[2016-01-13 20:05] fermaem commented on #576
Thanks for the feedback.

@troydai @Tratcher Indeed this is `Microsoft.AspNet.TestHost.TestServer`

@Tratcher Any chance you could elaborate further on this?

[2016-01-13 20:19] benaadams commented on #564
Hmm, ok so that would work for inbound headers but would clobber outbound

[2016-01-13 20:41] troydai commented on #576
The logic which causes the misleading property is here: https://github.com/aspnet/KestrelHttpServer/blob/e9a60610236c53e9518fe80ccf75f14b7e5d02f8/src/Microsoft.AspNet.Server.Kestrel/Http/Frame.cs#L125. Since obviously both addresses are actually `null` it should returns `true`.

[2016-01-13 22:21] troydai commented on #576
@fermaem this is not an actual Kestrel issue, since the `TestServer` you're using doesn't use `Kestrel` instead it initialize the default http components like `HttpConnectionFeature` (https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http/Features/HttpConnectionFeature.cs). Of which the property value of `IsLocal` is never set, so by default it is `False`.

For `TestServer`

[2016-01-13 22:25] Tratcher commented on #576
This issue was moved to aspnet/Hosting#570

[2016-01-13 22:25] #576 closed

[2016-01-14 02:37] jruckert opened #579 "System.ArgumentOutOfRangeException: Non-negative number required"
With the latest CI DEV package, we are getting the following when calling the a simple Web API controller.

An unhandled exception was thrown by the application.
System.ArgumentOutOfRangeException: Non-negative number required.
Parameter name: count
   at System.Buffer.BlockCopy(Array src, Int32 srcOffset, Array dst, Int32 dstOffset, Int32 count)
   at Microsoft.AspNet.Server.Kestrel.Infrastructur

[2016-01-14 02:48] cesarbs commented on #579
Can you provide a repro?

[2016-01-14 05:02] dougbu commented on #579
@halter73 and I discussed the same issue earlier today. Can be reproduced pretty easily using a load tester against an MVC server that's slowed down. One way to slow the server down is to collect memory allocations in dot Trace.

Problem goes away if you revert the caaf9d473b6ad48ace098e37dacea99540aecdc6 commit.

[2016-01-14 05:03] dougbu commented on #579
More detailed stack trace with line numbers:
[code]

[2016-01-14 05:04] dougbu commented on #579
And stack trace for same scenario when running a Debug configuration (`dnx --configuration Debug web`):
[code]

[2016-01-14 10:11] mikehadlow commented on #574
Thanks @cesarbs. I ran `dnu restore` from the root then `dnx web` from `samples/SampleApp`. Now I'm getting the following error:

    System.TypeLoadException: Method 'get_Configuration' in type 'WrappedApplicationEnvironment' from assembly 'Microsoft.AspNet.Hosting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' does not have an implementation.
       at Microsoft.AspNet.Hosti

[2016-01-14 10:13] davidfowl commented on #574
You might be mixing an old DNX with newer packages. Update your DNX.

[2016-01-14 10:20] mikehadlow commented on #574
I think I've already got the latest dnx:

    $ dnvm upgrade -r coreclr
    Determining latest version
    Latest version is 1.0.0-rc1-update1
    dnx-coreclr-linux-x64.1.0.0-rc1-update1 already installed in /home/ubuntu/.dnx

[2016-01-14 10:21] davidfowl commented on #574
Not new enough. Your packages are RC2 and your DNX is RC1, that will not work. Run `dnvm upgrade -u` The `-u` is for unstable.

[2016-01-14 10:25] mikehadlow commented on #574
Many thanks @davidfowl and @cesarbs! Now working:

    $ dnvm upgrade -u -r coreclr
    Determining latest version
    Latest version is 1.0.0-rc2-16357
    Downloading dnx-coreclr-linux-x64.1.0.0-rc2-16357 from https://www.myget.org/F/aspnetvnext/api/v2
    Download: https://www.myget.org/F/aspnetvnext/api/v2/package/dnx-coreclr-linux-x64/1.0.0-rc2-16357
    ######################################

[2016-01-14 10:27] #574 closed

[2016-01-14 10:41] davidfowl commented on #579
@halter73 We should revert the commit if it turns out this is actually a regression caused by it (Which it seems to be).

[2016-01-14 18:23] muratg commented on #475
@blowdart Is this required for RC2/RTM?   Or can we punt it to post RTM?

[2016-01-14 18:24] blowdart commented on #475
Yes

[2016-01-14 18:25] muratg commented on #490
We would potentially accept a PR, but we're not going to spend time on this for RC2/RTM.

[2016-01-14 18:27] muratg commented on #478
https://github.com/aspnet/KestrelHttpServer/issues/475

[2016-01-14 18:28] muratg commented on #478
cc @blowdart

[2016-01-14 18:30] muratg commented on #495
__tasksCompleted was removed.  We don't think it's important to work on the other two unless the impact is huge.

[2016-01-14 18:30] #495 closed

[2016-01-14 18:32] muratg commented on #164
Likely related to https://github.com/aspnet/kestrelhttpserver/issues/566

[2016-01-14 18:34] muratg commented on #164
@JunTaoLuo Could you investigate? This seems Linux only -- we should probably swallow the exception.  It's likely to happen when a client disconnects during a large response write. Feel free to ping @halter73 on this one.

[2016-01-14 18:34] muratg commented on #179
No repro/response. Closing. If you're still hitting this with the latest bits, please feel free to open a new issue.

[2016-01-14 18:34] #179 closed

[2016-01-14 18:38] muratg commented on #164
Assigning to @cesarbs instead.

[2016-01-14 18:38] muratg commented on #534
Could provide a repro?

[2016-01-14 18:41] muratg commented on #271
@introsuit Are you reproing this with current RC2 bits?

[2016-01-14 18:43] muratg commented on #534
Likely dup of https://github.com/aspnet/KestrelHttpServer/issues/520

Closing this one and tracking both in #520.

[2016-01-14 18:44] muratg commented on #520
Apparently per #534 this also repro's when posting large request body.

A repro app would be useful

[2016-01-14 18:45] muratg commented on #552
@wtc114 And which logger are you using?  Does this app log when not run in Docker?

[2016-01-14 18:48] muratg commented on #569
@benaadams Does this happen only with connection filters?

[2016-01-14 18:51] muratg commented on #563
@cesarbs Let's continue to disable tests on Mono to unblock the CI runs.

@clrjunkie You can check out some samples for running apps with dotnet CLI here: https://github.com/davidfowl/dotnetcli-aspnet5

[2016-01-14 18:52] benaadams commented on #569
Yes, so https/Ssl

[2016-01-14 18:57] benaadams commented on #579
On "detailed stack trace with numbers" does the Universe build add any code? As
src\Microsoft.AspNet.Server.Kestrel\Infrastructure\MemoryPoolIterator2.cs:line 757 isn't related to a BlockCopy

[2016-01-14 19:00] muratg commented on #579
https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Infrastructure/MemoryPoolIterator2.cs#L757

[2016-01-14 19:01] #534 closed

[2016-01-14 19:01] benaadams commented on #579
D'oh - thank you, was looking at the PR

[2016-01-14 19:04] clrjunkie commented on #563
@muratg

Hallelujah!

See message at the end: dotnet/cli#799

[2016-01-14 19:17] benaadams commented on #579
Writing some extra tests in this area (large multi-block, multi-write, chunked+unchunked)

[2016-01-14 19:33] muratg commented on #579
Awesome, thanks!

[2016-01-14 19:55] halter73 commented on #579
Thanks @benaadams. Extra tests around this would be be great. I [reverted the change](https://github.com/aspnet/KestrelHttpServer/commit/e5ad0195754f247879e0ed4d5dc43825078e1850) since it was blocking @dougbu.

[2016-01-14 20:17] halter73 commented on #579
@benaadams I found the proximate cause of the `CopyFrom` bug. It was pretty tricky.

Basically we didn't set the `BlockEndOffset` property when the `MemoryPoolBlock2` finalizer returned a copy of itself to the pool:

https://github.com/aspnet/KestrelHttpServer/blob/ce6128232091a34ae3f387087943093e68bdfb02/src/Microsoft.AspNet.Server.Kestrel/Infrastructure/MemoryPoolBlock2.cs#L95

We should also lo

[2016-01-14 20:21] benaadams commented on #579
O_o

[2016-01-14 20:50] halter73 commented on #572
After talking to @rynowak there are two major suggestions. One is allocate less. I have [a commit](https://github.com/aspnet/KestrelHttpServer/commit/d94d075bab4ad8d8156209f3e550ab53b5831da1) that avoids an array allocation in `WriteBeginChunkBytes`, but when I tested that change by itself it made no significant difference in perf even with hundreds of chunked writes in a response.

The second sug

[2016-01-14 21:01] rynowak commented on #572
I want to add to the discussion that Razor is always going to do chunking. We need to probably get a sense for how big of a page results in degraded performance and just how degraded that is.

[2016-01-14 23:18] halter73 opened #580 "Properly return pooled blocks in SocketInput"
When I was investigating #579, I discovered that all of the blocks getting finalized in [the app](https://github.com/rynowak/mvc-sandbox/tree/f51625029ac437a7315961e5dc01e1b8b68a252a/workloads/BasicViews) I was using repro the issue were last leased by `SocketInput.IncomingStart`.

It appears that the last incoming block will never be returned even if it is fully consumed.

[2016-01-15 00:26] cesarbs commented on #535
@nguyenm100 Did that work for you?

[2016-01-15 00:35] cesarbs commented on #240
I've filed https://bugzilla.xamarin.com/show_bug.cgi?id=37709 on Mono. Closing.

[2016-01-15 00:35] #240 closed

[2016-01-15 13:57] nguyenm100 commented on #535
hi, sorry been busy with work.  plan to fiddle with .net again this weekend.  pls give me til monday to confirm. tx

[2016-01-15 23:50] Tratcher opened #582 "Kestrel multi-loop not working on Azure Web Apps"
_From @esargent on January 13, 2016 22:23_

I got my app published to Azure but I'm getting that dreaded 502.3 Bad Gateway error. However after reading through everything I can find, which mostly relates to beta8/rc1 I think I'm having a slightly different problem where my app is starting just fine, even serving static files (apparently from stdout).
Everything I read here about this says this mea

[2016-01-15 23:50] Tratcher commented on #582
@halter73, @cesarbs?

[2016-01-15 23:50] Tratcher commented on #582
_From @halter73 on January 14, 2016 1:28_

As a workaround, you can probably do something like:

    // ...
    using Microsoft.AspNet.Http.Features;
    using Microsoft.AspNet.Server.Kestrel;
    // ...

    public class Startup
    {
        public void Configure(IPplicationBuilder app, ...)
        {
            var ksi = app.ServerFeatures.Get<IKestrelServerInformation>();
            ksi.Thre

[2016-01-15 23:50] Tratcher commented on #582
_From @esargent on January 14, 2016 17:53_

That fixed it. Can't wait to understand more what was happening!!

[2016-01-15 23:55] cesarbs commented on #563
Looks like we can close this.

[2016-01-15 23:55] #563 closed

[2016-01-16 00:57] tugberkugurlu commented on #341
had the same issue, luckily has been pointed to hear before losing all my hairs :smile:  http://stackoverflow.com/q/34821881/463785

[2016-01-16 03:21] benaadams commented on #564
So historically non-ascii should be MIME (RFC 2047) encoded?

e.g. UTF-8 should start: `=?UTF-8?`...

[2016-01-16 03:47] Tratcher commented on #564
No, that was for smtp and sometimes multipart headers, not http.

[2016-01-16 03:59] benaadams commented on #564
Ok, to be clear, the scenario being supported is an old client communicating with new server-side code (as aspnet5 isn't lift and shift, the servers aside); and depending on the values in the headers to be not ascii?

[2016-01-16 06:18] benaadams commented on #564
Ah so is a Windows only AD thing http://stackoverflow.com/questions/16837513/how-do-i-know-when-to-do-a-utf8-or-punycode-dns-query

[2016-01-16 06:29] davidfowl commented on #564
We totally don't care about this because we're not even testing it. We're just looking for a consistent way to decode headers when we find an unexpected characters.

[2016-01-16 07:10] benaadams commented on #564
Am just not sure why you even want to try to decode the headers? String is quite happy with the full range of bytes 0-255 sitting in chars. If someone wants/has to use non-standard header encoding they can always decode/encode from that; using the `string[i]` indexer.

However if you decode it to utf8 when you encounter a byte >= 128 its a one way transform if its not utf8 that will garble the dat

[2016-01-16 22:53] benaadams commented on #572
Using a variation of the synthetic with a wrk->windows setup; I'm seeing a *lot* of blockage on the sync [`WriteChunkedResponseSuffix`](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/Frame.cs#L481-L484) that does a wait on an async write (further down the stack)

Think its resolvable though.

[2016-01-16 23:24] benaadams commented on #572
Think I've fix for this, will see if there are any other areas that I can tweek. but wow!

With the change the RPS is only up to 4,573; which I still didn't think was that impressive; but then I looked at the data rate and I've never seen Kestrel go so high!

![11.6Gbps](http://aoa.blob.core.windows.net/aspnet/chunked-rps.png)

Its outputting 11.6Gbps

[code]

[2016-01-16 23:32] benaadams commented on #572
Testing other connection amounts

16 connections is 112 rps (33.23MB/s or 265.84Mbit/s)
32 connections is 437 rps (129.04MB/s or 1.03Gbit/s)

So 500 is over 1GBit/s..!

[2016-01-17 00:53] benaadams commented on #572
Next is hotspot is CopyFrom, adding #585 give higher peaks but also CPU drops are at play (GC)
After that hotspot is BeginChunkBytes and adding @halter73's change on top resolves the GC

The two changes giving an additional 123 rps (4,573 -> 4,694) though that is another 40Mbit/s
[code]

Then it looks like we are back to the usual suspects; which are post RTM?

[2016-01-17 01:07] benaadams commented on #572
Running longer 5m test to be sure; turns out better:

Peaking 12.6GBps, ave range 11.5 - 12.4 Gbps; 2 *very* brief GC drops over 5 mins.
CPU ave 36% (Azure G4 - 16 Cores)
[code]

[2016-01-17 03:40] benaadams commented on #572
A single connection is interesting as it bandwidth is quite variable 17Mbps - 62Mbps; might be more optimal chunk sizes rather than 1024B. Though it does use 0% CPU apparently.

[2016-01-17 13:34] benaadams commented on #569
Might have this one; looks like there is a bad interaction with Stream's default implementation of BeginRead/EndRead which calls through to the synchronous Read then it all goes wrong.

[2016-01-17 14:19] benaadams commented on #569
I think it might be SslStream causing this

[2016-01-17 14:34] Hobart2967 opened #587 "404 error on certain route templates"
I've got the problem with the routing. I am using attribute routing.

Problem is, when naming defining a route like this:

        [HttpGet("get/{walkthroughid}")]
         public ResponseContainer<WalkthroughModel> GetWalkthrough(int walkthroughid)

        [HttpGet("get/{walkthroughId}")]
         public ResponseContainer<WalkthroughModel> GetWalkthrough(int walkthroughId)

Running the webapi on

[2016-01-17 14:35] benaadams commented on #569
Looks like it goes something like this: Async->Sync->Async->Wait()

[2016-01-17 15:01] khellang commented on #587
I think this is better suited for [MVC](https://github.com/aspnet/Mvc) or [Routing](https://github.com/aspnet/Routing), no?

[2016-01-17 15:02] Hobart2967 commented on #587
I don't really know, I put it here, because it only happens on kestrel...

[2016-01-17 15:04] benaadams commented on #569
Added https://github.com/dotnet/corefx/issues/5488

[2016-01-17 15:06] khellang commented on #587
Is that for the scenario that works, or the one that doesn't work? Can you also post the other scenario so it's easier to compare the two?

[2016-01-17 15:20] Hobart2967 commented on #587
Sure. The one I posted is the non-working one.
I'll update the first post too, but just for completeness: Here the working one (with {id} instead of {walkthroughId}:

    01/17/2016 16:18:52 +01:00 [Information] Protocol: HTTP/1.1  Method: GET  ContentType:   ContentLength:   Scheme: http  Host: localhost:5000  PathBase:   Path: /api/walkthroughs/get/1313  QueryString:
    01/17/2016 16:18:52 +01:

[2016-01-17 15:24] Tratcher commented on #587
As opposed to? We don't have many other servers at this point.

[2016-01-17 15:25] Hobart2967 commented on #587
Well, there's not "many other" servers, that's true, but it does not happen on a WebListener. So I put it here, because it could be related to just that one server.

[2016-01-17 15:54] khellang commented on #587
[code]

OK, this is *really* weird. For some reason, it matches a different route for the same request (except the port). Something is :fish:-y here...

[2016-01-17 16:00] Tratcher commented on #587
What URLs is the server on?

[2016-01-17 17:04] benaadams commented on #565
Beyond "SocketOutput exception completes all waiting tasks" #567
and "Write chunks async" #586

The next step would be the threadpool being overwhelmed https://github.com/dotnet/coreclr/issues/1606#issuecomment-144007622

Which apparently the "hosting" controls the threadpool min threads? /cc @davidfowl
(no api for user code in coreclr)

[2016-01-17 18:03] Hobart2967 commented on #587
Hereby the WebListener log:

    2016-01-17 19:00:46.839 +01:00 [Debug] Method: GET  PathBase:   Path: /api/walkthroughs/get/1313  Query:   Protocol: HTTP/1.1  Headers: Microsoft.Net.Http.Server.HeadersLogStructure
    dnx.exe Information: 0 : 2016-01-17 19:00:46.843 +01:00 [Information] Protocol: HTTP/1.1  Method: GET  ContentType:   ContentLength:   Scheme: http  Host: marco-pc:5000  PathBase:

[2016-01-17 18:06] benaadams commented on #565
Hmmm... but... aspnet4 did use 2 threadpools; on for IO completion and one for user code; whereas here blocking usercode can block IO completion notifications.

[2016-01-17 20:04] benaadams commented on #565
Raised issue https://github.com/dotnet/coreclr/issues/2712

[2016-01-18 09:49] Cuddlefluff commented on #73
Any status on this drunken experiment?

[2016-01-18 14:15] benaadams commented on #565
Future solution https://github.com/dotnet/coreclr/pull/2718
(When using `RunContinuationsAsynchronously` and not queuing to Threadpool as Task will handle it)

Meanwhile fix should be in  #586

[2016-01-18 16:19] benaadams opened #590 "Chunk writing is sync when write is async"
Means the async path hits a sync-block `.GetAwaiter().GetResult()` wait

[2016-01-18 16:48] GuardRex commented on #73
:+1:

[2016-01-18 21:44] halter73 commented on #579
The commit that introduced this bug has been reverted. #585 does address this issue if we decide to reintroduce it, but that will probably be post 1.0.

The fix isn't the easiest thing to unit test since it involves a finalizer. We could probably call `GC.WaitForPendingFinalizers` and try to release the block to verify it properties, but even that would likely require the test to understand at lea

[2016-01-18 21:44] #579 closed

[2016-01-18 21:47] halter73 commented on #572
@benaadams How did you modify the plaintext benchmark to do chunking? What were your wrk numbers before the change?

[2016-01-18 21:49] benaadams commented on #572
See https://github.com/aspnet/KestrelHttpServer/pull/589#issuecomment-172596550

Basically before, it died...

[2016-01-18 21:57] benaadams commented on #572
See https://github.com/aspnet/KestrelHttpServer/pull/589#issuecomment-172596550

Basically before, it died... as it got caught up in chunk writing going sync - I think that might have been the delay added by the network vs loopback?

Post the chunking also going async it was fine - that was the main change for this.

[2016-01-18 22:20] benaadams commented on #572
Might have also been the effects of running 1024 connections and them all flipping sync

[2016-01-18 22:30] halter73 commented on #572
Yikes. I now see that [this](https://github.com/benaadams/KestrelHttpServer/commit/d3d9c8d546cfff445ecc234b493d723a13a0a5d1) was the key change. I knew we weren't awaiting the suffix, but I didn't think we were blocking either. I guess you wouldn't notice until you surpassed the write-behind buffer. Good catch!

[2016-01-19 05:43] ankitbko commented on #587
Well.. I am unable to reproduce the issue. Is it possible for you to create a sample repo with code?
What version of dnx are you using and what runtime?

[2016-01-19 14:10] nguyenm100 commented on #535
looks like removing server_name localhost; did the trick.  Thanks!

[2016-01-19 14:10] #535 closed

[2016-01-19 17:12] benaadams commented on #564
HPACK for HTTP/2 has dropped the idea of other encodings? http://tools.ietf.org/html/draft-ietf-httpbis-header-compression-07#appendix-C

[2016-01-19 17:59] Tratcher commented on #564
@benaadams More like HTTP/2 failed to address the ongoing issue of how to encode non-ascii data in HTTP headers. Ignoring it doesn't make it go away.

[2016-01-19 19:14] Eilon commented on #587
Closing this and let's use https://github.com/aspnet/Routing/issues/279 to discuss (I want to avoid having two open bugs on the same issue, and this doesn't *seem* like a Kestrel issue).

[2016-01-19 19:14] #587 closed

[2016-01-19 20:26] cesarbs commented on #579
Writing a test that would require a finalizer to pass would eventually lead to random CI failures, so better leave it as it is.

[2016-01-20 00:50] #590 closed

[2016-01-20 15:11] benaadams commented on #565
Lots and lots of improvements in this area in Kestrel and all the away down to coreclr and corefx - however there is still a scalability issue of sync writes.

Low scaling solution is to increase the thread pool count which can be done with environment variable

e.g.
`export ComPlus_ThreadPool_ForceMinWorkerThreads=2000`
or
`set ComPlus_ThreadPool_ForceMinWorkerThreads=2000`

Which hopefully will

[2016-01-20 19:07] ochowie opened #591 "Error when Running SampleApp"
When I run the sample app using coreclr 1.0.0-rc2-16357 I get the following error:

KestrelHttpServer/src/Microsoft.AspNet.Server.Kestrel/Http/Frame.FeatureCollection.cs(23,34): .NETPlatform,Version=v5.4 error CS0535: 'Frame' does not implement interface member 'IHttpConnectionFeature.IsLocal'

[2016-01-20 22:52] BrennanConroy commented on #591
New bits were just pushed to the dev feed so this is fixed.

[2016-01-20 22:52] #591 closed

[2016-01-21 00:33] crowdy commented on #461
having same trouble on centos7 mono 4.2.1

![centos7_mono_kestrel_trouble](https://cloud.githubusercontent.com/assets/145349/12467812/ed35fd5c-c021-11e5-9f04-c4e1a07461c7.png)

[2016-01-21 19:50] cesarbs opened #594 "Expose raw request path/URL in HTTP context"
After normalization (see #573) we lose the raw request path/URL received from the client. Some applications might be interested in it, so we should expose the pre-normalized path/URL to them.

[2016-01-21 19:54] Tratcher commented on #594
This will likely be exposed via a standard feature interface.

[2016-01-21 20:32] ArkadyB opened #595 "Running aspnet web api stucks at benchmarking using siege"
Hi,

Im not sure, but it looks to be some kind of server issue. I have tried same test with IIS/IISExpress and everything looks smooth.

Application: A small Web API project with only 1 endpoint that returns text value:
public string Test1()
{
          return "Test";
}

Accessing this endpoint in browser work fine, but as soon as i try to call it frm siege or console app (calling this url in mult

[2016-01-21 22:38] muratg commented on #175
Moving this to Backlog as we will be in RC2 ask mode very soon.  If you feel strongly about this issue, please ping me.

[2016-01-21 23:43] halter73 opened #596 "Implement IHttpConnectionFeature.ConnectionId"
See https://github.com/aspnet/HttpAbstractions/issues/542

[2016-01-22 06:13] qin-nz opened #597 "Microsoft.AspNet.Server.Kestrel.Https Not Support dnxcore5"
In your example, dnxcore5 can use https.
But package in Nuget are only support dnx451.
https://www.nuget.org/packages/Microsoft.AspNet.Server.Kestrel.Https/1.0.0-rc1-final

[2016-01-22 17:25] BrennanConroy commented on #597
That's because it wasn't made for dnxcore50 until RC2
https://github.com/aspnet/KestrelHttpServer/issues/345

[2016-01-22 17:25] #597 closed

[2016-01-22 18:18] DamianEdwards commented on #565
We need to at least look at this for RC2, although if Razor gets their change in it's less important and could wait until post RC2.

[2016-01-22 18:20] DamianEdwards commented on #564
Not important for RC2.

[2016-01-22 18:21] DamianEdwards commented on #475
post-RC2

[2016-01-22 18:21] DamianEdwards commented on #478
post-RC2

[2016-01-22 18:21] DamianEdwards commented on #484
post RC-2

[2016-01-22 18:22] DamianEdwards commented on #464
post RC2

[2016-01-22 18:22] DamianEdwards commented on #450
Needed for RC2

[2016-01-22 18:23] DamianEdwards commented on #420
post RC2

[2016-01-22 18:24] DamianEdwards commented on #369
Didn't we change the Hosting behavior back to the app explicitly requiring an opt-in to capturing startup errors?

[2016-01-22 18:24] DamianEdwards commented on #304
post RC2

[2016-01-22 18:25] DamianEdwards commented on #273
Need for RC2

[2016-01-22 18:25] rynowak commented on #565
Currently working on this: https://github.com/aspnet/Mvc/pull/3920

I propose we re-measure and see if this repros after all of the things we've tried.

[2016-01-22 18:26] DamianEdwards commented on #247
Need for RC2

[2016-01-22 18:26] DamianEdwards commented on #231
post RC2

[2016-01-22 18:27] DamianEdwards commented on #181
This is a potential stress issue so I'd like us to take a look at this for RC2.

[2016-01-22 18:28] DamianEdwards commented on #142
post RC2

[2016-01-22 18:28] DamianEdwards commented on #148
post RC2

[2016-01-22 18:28] DamianEdwards commented on #108
Should investigate for RC2

[2016-01-22 18:30] halter73 commented on #565
@DamianEdwards We need to address this in RC2. @benaadams is working on https://github.com/aspnet/KestrelHttpServer/pull/567 that ensures that all writes get completed even when a connection disappears.

Without this PR, it is possible for Kestrel to never complete calls to `WriteAsync` and `Write`. The effect of this is terribad for synchronous writes, but obviously really bad in any case. That's

[2016-01-22 18:30] JunTaoLuo commented on #4
I believe there is no longer any working items here after we decided not to log any headers of requests and responses due to security concerns. The logging of swallowed exceptions has already been implemented for Kestrel.

[2016-01-22 18:30] #4 closed

[2016-01-22 18:31] DamianEdwards commented on #596
post RC2

[2016-01-22 18:36] Tratcher commented on #369
No, it's still opt-out.

[2016-01-22 18:39] DamianEdwards commented on #565
I understand the impact of this situation when it occurs is bad. What we need is more information RE the risk of it occurring. e.g. if I File -> New -> MVC application and deploy it, then hit it with a few hundred clients, is it likely to occur? If not, how much bigger does the response need to be to make it more likely? etc.

[2016-01-22 18:41] benaadams commented on #565
It current also effects SSL/TLS - though the last fix for that has just been merged in corefx

[2016-01-22 18:41] DamianEdwards commented on #595
We'll need to try and reproduce this, so any other information you can provide would help, e.g. Core CLR or full CLR, x86 or x64, Windows or Linux, version you're using, etc. In our testing so far we haven't seen such a simple issue (see our plaintext benchmark results using pure middleware or MVC).

[2016-01-22 18:41] DamianEdwards commented on #594
post RC2

[2016-01-22 18:49] DamianEdwards commented on #582
Needed for RC2.

I'm guessing this only repros when hosting on a Large or bigger (4+ cores) as our default logic is to do CPU count / 2.

[2016-01-22 18:49] DamianEdwards commented on #580
This seems like a really simple fix, yes? If so, I'd like to see this done in RC2.

[2016-01-22 18:53] muratg commented on #580
If it's not a straightforward quick fix, let's move it to backlog

[2016-01-22 18:54] muratg commented on #552
Please feel free to file another bug if you still have issues.

[2016-01-22 18:54] #552 closed

[2016-01-22 18:59] benaadams commented on #595
@ArkadyB there was a issue in RC1 with non-keep alive or HTTP/1.0 which has been resolved in RC2 https://github.com/aspnet/KestrelHttpServer/issues/406 - and can be resolved in RC1 by making sure the connection is keep-alive similar to https://github.com/aspnet/KestrelHttpServer/issues/468

[2016-01-22 18:59] DamianEdwards commented on #520
We'll need some more information here to investigate for RC2 as we enter lock down.

[2016-01-22 19:01] halter73 commented on #572
@benaadams change has now been merged: https://github.com/aspnet/KestrelHttpServer/commit/d3d9c8d546cfff445ecc234b493d723a13a0a5d1

I think this is the major cause of the low RPS with lots of response data + chunking.

@rynowak Reopen this if you think there is more that needs to be done.

[2016-01-22 19:01] #572 closed

[2016-01-22 19:02] DamianEdwards commented on #369
OK. Given that in RC2 apps **have** to use the `WebHostBuilder` API directly, this can always be turned off by an app if desired. Let's ensure it's documented.

[2016-01-22 19:11] esargent commented on #582
Not sure what is going on underneath, but this was with the F1 Free dev tier
https://azure.microsoft.com/en-us/pricing/details/app-service/

[2016-01-22 19:25] ArkadyB commented on #595
Hi,
im running app in Docker container built on top of microsoft/aspnet:1.0.0-rc1-update1.
Therefore its coreclr with Debian Linux. Test is very simple: 1 method webapi solution with DNX5.
Siege utility command:
siege -c10 -t60s http://url

[2016-01-22 19:33] DamianEdwards commented on #582
Interesting. I wonder what the CPU count is on those shared tiers.

[2016-01-22 19:36] benaadams commented on #595
@ArkadyB that question is for @DamianEdwards

Are you using ngnix (if so you may need to add keep-alive to its proxy config)
Otherwise, for siege directly change `connection = close` to `connection = keep-alive` in its config file and see if that resolves the issue - which will mean it is the same cause.

[2016-01-22 19:36] halter73 commented on #582
@esargent I'm not sure what it is. I think I've seen it on the free tier too when I was investigating, but sometimes it doesn't happen as well. By default, `ThreadCount` is determined using [Environment.ProcessorCount >> 1](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/KestrelServerInformation.cs#L45), and this bug obviously doesn't repro when the `Thread

[2016-01-22 19:45] esargent commented on #582
@halter73 I suspect you guys are in a better position to find out from Azure what the expectations are for those enviornments, but if you want me to try/test/do anything just let me know.

And, yes, confirming I've not seen any issues since adding the hack you recommended last week to force thread count to 1.

[2016-01-22 19:57] benaadams commented on #160
@random-username
The header values are as Raw (the string chars are values between 0-255 as per the raw bytes)

The header names capitalization are set for the pre-set group (group here https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNet.Server.Kestrel/Http/FrameHeaders.Generated.cs#L16-L59)

Other header names will be set to their first occurrence capitalization if they occu

[2016-01-22 20:01] benaadams commented on #160
Related https://github.com/aspnet/KestrelHttpServer/issues/594

[2016-01-22 22:02] benaadams commented on #565
@DamianEdwards threadpool size aside - there is an issue here that would not be expected. (e.g. threadpool scalability is expected)

[2016-01-22 22:05] benaadams commented on #565
@DamianEdwards threadpool size aside - there is an issue here that would not be expected by a user, if anything writes more then 64k. (e.g. threadpool scalability issues are expected)

[2016-01-22 22:42] turtlebat commented on #520
I ran into this bug earlier today on another project. Here is a sample project that replicates the issue:

https://github.com/turtlebat/Kestrel520

Let me know if there is anything else I can do to help diagnose the bug.

[2016-01-22 22:55] muratg commented on #520
@halter73 Could you investigate?

[2016-01-22 23:04] halter73 commented on #565
A File -> New -> MVC application could run into this issue if a client were to pipeline a ton of requests which would the cause the app to surpass the write-behind buffer with the

@benaadams told me that 2000 clients brought the server to a halt the doing synchronous writes to WebSockets.

[2016-01-22 23:38] JamesNK commented on #565
Json.NET and DataContractSerializer both have sync writes. Has anyone tested what happens when serializing large objects with MVC + Kestrel? Services that return megabytes of JSON/XML are pretty common.

[2016-01-22 23:48] benaadams commented on #565
Aside: Cancellation token is needed for Staticfiles to stop sending large files on disconnect https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNetCore.StaticFiles/StaticFileContext.cs#L326-L347

[2016-01-23 01:08] benaadams commented on #483
@halter73 @DamianEdwards this still RC2? Will finish in next couple days if so.

[2016-01-23 01:34] DamianEdwards commented on #483
We'll be in beginning of our ASK mode by then, which is very high bar. Late features like this don't meet the bar at this stage I'm afraid.

[2016-01-23 01:35] benaadams commented on #483
Is ok, is just marked RC2 still rather than backlog

[2016-01-23 01:36] benaadams commented on #483
Is ok - is handled by reverse poxies in suggested deployment, is just marked RC2 still rather than backlog

[2016-01-23 01:53] benaadams commented on #483
Also its not a very simple change, so I wouldn't put it in RC2 at this time :)

[2016-01-23 14:00] ArkadyB commented on #595
@benaadams ive tried with keep-alive and result is same. Any idea? Is there logs anywhere i may have a look to check for errors or so?

ive tried same with mono and xsp4 and it works fine...

[2016-01-23 15:24] michalstepien commented on #73
+1

[2016-01-23 17:17] aluitink commented on #262
Looks good in 8 and RC1

[2016-01-23 17:19] aluitink commented on #520
Also seeing this, I was able to follow it back to libuv method uv_read_start, but at that point I am a bit lost.
..

   at Microsoft.AspNet.Server.Kestrel.Http.MessageBody.ForContentLength.<ReadAsyncImplementation>d__3.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.

[2016-01-23 18:27] benaadams commented on #520
How are large form requests handled? https://github.com/aspnet/HttpAbstractions/issues/84 suggests they may be temp disk stored passed a certain point so it could be file permissions? /cc @Tratcher

[2016-01-23 18:41] muratg commented on #262
Awesome, thanks!

[2016-01-23 18:56] benaadams commented on #520
Though the stack trace looks like a disconnected connection

[2016-01-23 21:27] benaadams commented on #565
@DamianEdwards just a heads up; increasing threadpool may not be an option in all situations (coreRT/native? https://github.com/dotnet/cli/issues/889#issuecomment-173331862)

[2016-01-24 04:31] halter73 opened #598 "Chunked responses are not flushed until the response completes"
This is obviously really bad for large responses, server-sent events, etc...

[2016-01-24 16:19] mypark opened #601 "http request to localhost kestrel server hangs when using node.js client"
This is more a of a quesiton than a confirmed issue.

I have some testing tools in node.js that I would like to run against my asp web-api running on my localhost kestrel server, but it seems to hang whenever I make the request using a node.js client.

Node.js makes the request but then seems to hang and timeout. I can see in the kestrel logs that the http request is made and successful, and makin

[2016-01-24 16:23] benaadams commented on #601
Kestrel version? May be an issue that was resolved in RC2 https://github.com/aspnet/KestrelHttpServer/issues/406

[2016-01-24 16:26] mypark commented on #601
"Microsoft.AspNet.Server.Kestrel": "1.0.0-rc1-final",

[2016-01-25 18:16] mypark commented on #601
How do I install rc2 using nuget or dnu in my asp.net project?

[2016-01-26 03:28] benaadams commented on #601
Its not released yet, so you'd need to use the myget feed from https://www.myget.org/gallery/aspnetvnext (urls are on page)

However, as you may have to make some changes between RC1 and RC2 and there is a rename going on which means you'll have to make some more changes; you may want to wait a little while otherwise you will need to male two sets of changes,

[2016-01-26 03:59] halter73 opened #604 "Add automated test coverage for concurrent connections/requests"
@muratg Anything else I should add to this issue?

[2016-01-27 01:49] #450 closed

[2016-01-27 01:49] #566 closed

[2016-01-27 01:58] benaadams commented on #598
Closed?

[2016-01-27 06:50] #598 closed

[2016-01-27 12:18] mypark commented on #601
Ok, I'll wait.  When is the planned date for rc2?  Is that going to coincide with an update of the asp.net RC as well?

[2016-01-27 19:07] halter73 commented on #565
#567 Is now merged so this issue should be resolved.

We added some functional and unit tests to verify that tasks (and therefore also sync writes) are completed when a client disconnects.

[2016-01-27 19:07] #565 closed

[2016-01-28 04:24] lodejard commented on #175
Catching up on notification backlog - we talked about this one the other day actually. This could be part of a middleware in the diagnostics package, actually, where response length and numerous other "application correctness" checks could be done by wrapping many features of the http request/response

[2016-01-28 15:22] otabekgb commented on #73
+1

[2016-01-28 21:59] cesarbs commented on #175
@lodejard I like that idea. I don't think Kestrel should be trying to account for potential application mistakes. It would make every correct application pay a price for whatever applications out there that are not doing the right thing regarding Content-Length.

[2016-01-28 22:54] Tratcher commented on #175
Kestrel is ultimately responsible for implementing the HTTP protocol and maintaining the connection integrity. It's one thing to recommend diagnostic middleware to help developers interactively debug application issues. It's another to let the connection state become corrupt.

[2016-01-28 23:00] yoshiwatanabe commented on #216
Copying libuv.dll to the same folder where Microsoft.AspNet.Server.Kestrel.dll exists fixed for me as well.

On my machine COPY

FROM:
`C:\Users\<me>\.dnx\packages\Microsoft.AspNet.Server.Kestrel\1.0.0-rc1-final\runtimes\win7-x86\native\libuv.dll`

TO:
`C:\Users\<me>\.dnx\packages\Microsoft.AspNet.Server.Kestrel\1.0.0-rc1-final\lib\dnx451\`

BTW, here is the output of "dnvm list"
*    1.0.0-rc1-up

[2016-01-29 17:03] #273 closed

[2016-01-29 23:00] muratg commented on #601
@mypark ASP.NET Core [roadmap](https://github.com/aspnet/Home/wiki/Roadmap) will be updated when we know the release date for RC2.  Like RC1 and previous releases, all of ASP.NET Core packages will be released, including Kestrel.

[2016-01-31 05:38] qin-nz commented on #73
+1

[2016-01-31 23:16] JosephGarrone commented on #520
Any news on a work around for this? I am currently experiencing major issues with this. I have narrowed it down to files just above 28k causing the issue (On 1.0 RC1 Update 1). My IIS limits are set to the max values. If there are no known workarounds it looks like chunking might be the best option?

[2016-02-01 10:02] chemitaxis commented on #520
Me too... Uploading file, I have this error...

[2016-02-01 10:20] #595 closed

[2016-02-01 11:42] JosephGarrone commented on #520
I ended up just using FlowJS (via ngFlow). Worked fine if I set it to 1
simultaneous upload with forcedChunkSize and chunkSize set to 20000.

On Mon, Feb 1, 2016 at 8:03 PM Chema <notifications@github.com> wrote:

[2016-02-01 14:29] christiansparre opened #605 "Running ApacheBench against empty RC1 template using kestrel results in timeout"
Hi, I'm having trouble doing some simple benchmarks using ApacheBench on a project we are experimenting with.

I'm on Windows 7 with rc1-update1.

When trying to use ApacheBench the tool fails with the below message, I tried creating a new project using the empty RC1 template, this also failed.

[code]
[code]

When using IISExpress from with VS it works fine. I have tried using different ports wit

[2016-02-01 14:37] khellang commented on #605
@christiansparre Are you sure the application successfully binds to port 5000? Have you tried running it as an administrator?

[2016-02-01 14:39] christiansparre commented on #605
Yes. It's running as admin and I can get to it from a browser and PostMan etc. :)

[2016-02-01 14:46] christiansparre commented on #605
This is how it looks :)

![image](https://cloud.githubusercontent.com/assets/620770/12720370/d4b29e20-c8fa-11e5-9764-21b1804e5e79.png)

[2016-02-01 14:50] khellang commented on #605
What if you use `127.0.0.1` instead of `localhost`? :confused:

[2016-02-01 15:27] Lutando opened #606 "Cannot load System.Reflection Assembly"
I have a Simple barebones mvc example that seems to be re-producible across a few of my workstations

The ASPNETCore application seems to startup however when I try to make an API call I get the following error

`info: Microsoft.AspNetCore.Hosting.Internal.WebHost[1]
      Request starting HTTP/1.1 GET http://localhost:5200/app/thing
fail: Microsoft.AspNetCore.Server.Kestrel[13]
      An unhandled

[2016-02-01 15:30] christiansparre commented on #605
After trying a bit more I have had success with this example: https://github.com/roydukkey/moist/tree/stackoverflow-34615917

It uses rc2-*

It is configured for http://localhost:1234 but that does not work. With **http://127.0.0.1:1234** works as expected in ApacheBench, yay! :)

I still have not had success with RC1, have tried 127.0.0.1 also, netstat reports dnx.exe listening on the right port.

[2016-02-01 16:09] christiansparre commented on #605
I'm going to dig a bit into this, from what I can see when it works I hit this method

https://github.com/aspnet/KestrelHttpServer/blob/b062f851dcb1fc9013952fe72e9a087ae36323fe/src/Microsoft.AspNetCore.Server.Kestrel/Http/TcpListenerSecondary.cs#L20

But not otherwise, have not looked at the kestrel code before so I'm a bit lost as to where it all starts. But I'll nose around a bit :)

[2016-02-01 16:54] davidfowl commented on #606
Can you push a application to a github repo so we can reproduce the problem. Also a copy of the lock file would be useful.

[2016-02-01 17:39] Lutando commented on #606
Can be found here - https://github.com/Lutando/KestrelIssue606

[2016-02-01 17:42] christiansparre commented on #605
Ok, I'm way in over my head not known a thing about how libuv works :). The only thing I have found out is that when using localhost nothing that I can track down in krestrel is called.

There seems to be some related issues around like: #601, #406 and #426

[2016-02-01 17:55] Tratcher commented on #605
Localhost binds to [::1] right now, not 127.0.0.1.
https://github.com/aspnet/KestrelHttpServer/issues/231

[2016-02-01 19:48] benaadams opened #607 "Idle connections header values may be GC gen promoted"
As raised by @lodejard in https://github.com/aspnet/KestrelHttpServer/pull/497#issuecomment-165606529

This effects the common headers that are not dictionary backed (which are discarded)

[2016-02-01 23:02] halter73 opened #609 "Shrink the size of memory pools when usage decreases"
Currently the memory pool implementation will only grow in size. This means if there is burst of high load that subsided, memory usage for the Kestrel process will not decrease as much as it could.

[2016-02-01 23:08] halter73 opened #610 "Test Kestrel's ability to handle bursts of new connections being established"
Most of Kestrel's benchmarking so far has focused processing requests as quickly as possible on a fixed number of connections (using wrk). We should also test Kestrel's ability to handle bursts of new connections being established and then also disconnecting under high load.

Possibly related: #604

[2016-02-01 23:25] benaadams commented on #610
This is a good scenario; fast connection churn is a horrible use-case for aspnet4.5+ websockets (due to native pinning); which is mitigated by using pooled buffers. However; Kestrel shouldn't suffer from this (even in websocket scenario); but it does use pinned buffers so it is a good buffer to confirm.

Also connection+disconnection is heavier weight than keep-alive requests.

[2016-02-01 23:55] benaadams commented on #604
Very high connection counts would be a good test; @mgravell suggests SO is 40k+ per node https://twitter.com/marcgravell/status/673275023944216576

Something to watch out for is ephemeral port use; so you probably have a safe max of 32k connections per client ip address; so would need to have more than one client ip address to achieve the load.

[2016-02-02 00:16] benaadams commented on #609
Apply common server/cluster load balancing model?

Round robin pools per slab? Move slabs move out of rotation; but accept returns. When all blocks are returned dispose slab; if alloc is needed prior, move slab back into rotation; if no slabs being deallocated allocate new.

[2016-02-02 00:26] benaadams commented on #609
Probably need some heuristics on whether growing, shrinking or static to determine whether to take slabs out of rotation

[2016-02-02 07:17] ayende opened #611 "How to specify / modify request timeout"
I couldn't find a way in the API to set the request timeout, and (preferably) a way to dynamically change it.
Like this:

HttpContext.Current.Server.ScriptTimeout = 60 * 60 * 6;

Is this possible?

(Also, is this the right place to ask, is there a mailing list / forum?)

[2016-02-02 08:30] davidfowl commented on #611
That only worked for synchronous requests in ASP.NET not async ones (AFAIK)

There's no http request timeout in kestrel. https://github.com/aspnet/KestrelHttpServer/issues/484

@ayende if it's kestrel specific you can ask here. Otherwise, best to ask on aspnet/Home and have it be redirected.

[2016-02-02 09:19] ayende commented on #611
@davidfowl Thanks,.

So what would be the behavior if I'm making an async operation in the request that doesn't timeout?
Do we rely on the client to give up on this?

I'm actually very happy that I don't need to manage that, by the way.

The issue is that I have a client that is uploading a large dataset, and I had to manage this with the previous version of ASP.Net.
Note having limits that I cons

[2016-02-02 09:42] davidfowl commented on #611
Do we rely on the client to give up on this?

Currently yes. There's going to be a pass done to make sure there's limits for things like these (the issue I pointed you to), along with other limits (max body, max query, max headers etc).

Note having limits that I constantly have to manage is great, but on the other hand, what happens if a client open a request, write three bytes, and keep the conn

[2016-02-02 10:18] christiansparre commented on #605
@Tratcher thank you, that explains it I think. At least for RC2, RC1 still does not work either way.

[2016-02-02 10:18] #605 closed

[2016-02-02 17:51] davidfowl commented on #611
Here's a PR from @benaadams adding some timeout logic https://github.com/aspnet/KestrelHttpServer/pull/485

[2016-02-02 21:52] kscott5 opened #612 "Production Ready: Recommendation for Kestrel and Linux"
What is the recommended way to host a web application on Linux (Centos) using RC1?

I'm figure with iptables command but port 80 never appears to work. I can use a non-standard port such as 5000 just fine.

I've used ngix on windows but not for ASP.NET MVC Application.

Also, how does the domain name or host name affect the hosting.json file, etc?

Any help would be great.

[2016-02-02 23:10] #571 closed

[2016-02-03 04:11] cesarbs commented on #164
Can someone send me their nginx config file, and also `hosting.json` or whatever arguments you are passing to Kestrel?

[2016-02-03 04:23] staff0rd commented on #164
I'm using the nginx config generated by [this](https://github.com/jwilder/nginx-proxy/blob/master/nginx.tmpl) and I'm calling kestrel via;
[code]

[2016-02-03 04:25] staff0rd commented on #164
Also I use [this change](https://github.com/aspnet/KestrelHttpServer/issues/341#issuecomment-158247405).

[2016-02-03 04:54] Daniel15 commented on #164
@cesarbs:
Relevant parts of [Nginx config](https://github.com/Daniel15/Website/blob/master/Daniel15.Web/nginx.conf):
[code]

Command I'm using:
[code]
`web-live` command in `project.json`:
[code]

The entire site and all config is on my Github: https://github.com/Daniel15/Website/

[2016-02-03 04:55] benaadams commented on #612
I believe it is:
Windows - Kestrel reversed proxied behind IIS with HttpPlatformHandler
Linux -  - Kestrel [reversed proxied behind nginx](https://www.nginx.com/resources/admin-guide/reverse-proxy/)

[2016-02-03 06:36] Eilon commented on #612
@DamianEdwards @glennc do we have any docs (in progress?) on production hosting?

[2016-02-03 17:16] kscott5 commented on #612
@benaadams There's on wrong answer just choices and some will be better than other. I got nginix running on Linux however, my application just hung. I will try the proxy settings you suggested.

@DamianEdwards I understand this is an Open Source Project but a little direction/recommendation would be helpful. Lol!

[2016-02-03 19:11] cesarbs commented on #164
@Daniel15 Thanks!

[2016-02-03 20:27] kscott5 commented on #612
@davidfowl @benaadams @DamianEdwards

I'm wonder if Docker is the best choice for hosting and running an ASP.NET application on Linux (Centos).

Any suggestion??

[2016-02-03 20:32] cesarbs commented on #164
@staff0rd Thanks!

[2016-02-03 20:34] benaadams commented on #612
@kscott5 my community member take on it is

* Multiple applications/sites at different domains sharing same ip address+port
 * Multiple Kestrel applications
 * Route using domain with reverse proxy e.g. IIS/ngnix
 * (Can use WebListerner on Windows; which does this natively via http.sys)
* Multiple virtual directory applications on same path (e.g. /blog, /shop, /admin, /media)
 * Multiple Kestrel

[2016-02-03 20:52] benaadams commented on #612
Double disclaimer; just to make a point.

I am *not* a security professional and this is just *my own personal current opinion*; based on what I believe to be a safe conservative approach for anything business critical.

Any you should certainly take *any* official documentation, advice or recommended scenarios from Microsoft over anything I've said here...

[2016-02-03 20:57] kscott5 commented on #612
Lol! @benaadams Got It!

[2016-02-03 21:31] blowdart commented on #612
Even in an intranet scenario I'd have it behind IIS or ngnix. Never *ever* trust your internal network. Treat it as a hostile network like you would the internet.

[2016-02-03 21:36] benaadams commented on #612
@blowdart but have your honeypot servers have a hotline to HR?

[2016-02-03 21:43] DamianEdwards commented on #612
We're still building out our "official" guidance in this area, but as @benaadams points out, it really comes down to your particular scenario. There may be times when it makes sense to expose Kestrel directly, assuming you understand the caveats, just as it may sometimes make sense to expose node.exe directly. But for the vast majority of cases, we'll recommend you have a front-end web server that

[2016-02-03 22:22] kscott5 commented on #612
'''
But for the vast majority of cases, we'll recommend you have a front-end web server that proxies to your application process (which is running Kestrel).
'''

@DamianEdwards I don't understand all the caveats but are you referring to nginx proxy that @benaadams  mention above?

[2016-02-03 22:40] cesarbs commented on #164
The issue does not repro on the current code - I could repro it on RC1 though. It's related or the same as this:

https://github.com/aspnet/KestrelHttpServer/issues/566

With the post-RC1 changes to the `Write` logic you shouldn't see those stack traces in the logs anymore.

[2016-02-03 22:40] #164 closed

[2016-02-04 03:39] benaadams commented on #612
Yes, ngnix on linux

[2016-02-04 13:09] mwalterXML opened #613 "What is the best way to return a response in gzip?"
Hello

We are using kestrel server to run differens Web APIs,
We need to return the json response compress in gzip.

Is posible using only Kestrel?

Thanks
Best regards,
Mitchell

[2016-02-04 16:20] davidfowl commented on #613
This has nothing to do with kestrel. You can just write a middleware that does gzipping. You can even do it in MVC if you want to.

[2016-02-04 16:25] adrien-constant commented on #606
I've got the same error since I upgraded to the latest AspNetCore versions. Adding
`        "System.Reflection": "4.1.0-rc2-23728" `
in project.json did not help. I guess version 4.1.0.0 is expected.

[2016-02-04 16:29] GuardRex commented on #613
@mwalterXML You can see the `System.IO.Compression` tests here: https://github.com/dotnet/corefx/blob/master/src/System.IO.Compression/tests/GZipStreamTests.cs

[2016-02-04 17:32] muratg commented on #613
This issue was moved to aspnet/Home#1276

[2016-02-04 17:32] #613 closed

[2016-02-04 20:29] cesarbs commented on #606
I can only repro this when using `dotnet`. It runs fine on `dnx`. @Lutando can you confirm you're using `dotnet`?

[2016-02-04 20:44] Lutando commented on #606
On the contrary I get it when using dnx (latest unstable)

[2016-02-04 21:24] cesarbs commented on #606
I *think* this is fixed by https://github.com/dotnet/cli/commit/a6bfc67e8ad486998043795b418bb62189951130. Will confirm with @pakrym.

[2016-02-04 22:02] cesarbs commented on #606
Unfortunately that's not the case.

[2016-02-04 23:30] cesarbs commented on #606
Issue does not repro on dnx 1.0.0-rc2-16453 nor CLI from the latest source. Looks like it's been fixed indirectly.

[2016-02-04 23:53] kscott5 commented on #612
Well, (Accessing a docker container from Windows Host)[http://stackoverflow.com/questions/32975587/accessing-a-docker-container-url-on-windows-host] was a good place to look.

But the best help was the command 'docker-machine ls'. This gave me the VM Box/Container hosted ip address. From there I was able to access my site.

Thanks again!!!!

[2016-02-05 06:58] Lutando commented on #606
How do I get dnx 1.0.0-rc2-16453? When I `dnvm upgrade - u` the latest is still  1.0.0-rc2-16357

[2016-02-05 09:24] adrien-constant commented on #606
I reproduce this with dotnet (I can't use dnx because of another bug with dnx in the latest version).
I'm also on dnx-clr-win-x86.1.0.0-rc2-16357 and I cannot get 1.0.0-rc2-16453

[2016-02-05 09:26] Lutando commented on #606
Can confirm that this bug cannot be reproduced on dnx 1.0.0-rc2-16453

[2016-02-05 09:29] adrien-constant commented on #606
That's a good news, but how do we get dnx 1.0.0-rc2-16453 ?
dnvm upgrade -u 1.0.0-rc2-16453 ends up with 1.0.0-rc2-16357
It's not publicly available yet? I'm stuck so whatever it takes to get the version, I will do it.

[2016-02-05 09:30] Lutando commented on #606
set your system/user environment variable  DNX_UNSTABLE_FEED to https://www.myget.org/F/aspnetcidev/api/v2/

[code]

[2016-02-05 10:11] adrien-constant commented on #606
That fixed the problem. Thanks a lot.

[2016-02-05 10:12] Lutando commented on #606
closing the issue

[2016-02-05 10:12] #606 closed

[2016-02-05 15:12] ahmad-moussawi commented on #468
👍same issue, on ubuntu 14.04 with nginx as proxy
also if am using another proxy like http-proxy-middleware

[2016-02-06 00:40] lodejard opened #615 "Chunked writing in the server"
Consider adding a bool argument to the internal methods where writes are being passed down.

Down at the layer where the blit into the buffer pool memory is taking place, reserve a slightly larger range of data, and put the chunk leaders/trailer around the data in that single write.

I'm not sure if the system already does this :) just filing a bug to verify

[2016-02-06 09:40] endink opened #616 "HTML response was truncated。"
i have an asp.net 5 project, When I use the VS debugging when everything works, but when I publish to IIS, then, the HTML response has been truncated, and there are lot of 502 error,  502 most from font (. ttf) files. Beta8 version without any problems even when publishing to IIS, these happened when I upgraded to RC2., please help, thanks!
(dnx: RC2-16302, Kestrel package: 1.0.0-rc2-16236)
BTW: s

[2016-02-06 21:55] ayende opened #617 "Chunk encoding request will corrupt state for next reqeust"
A sequence of two requests (sequential, not concurrency involved) will cause Kestrel to generate invalid HTTP method for the 3rd request.

* GET http://localhost:8080/replication/topology HTTP/1.1
* PUT http://localhost:8080/admin/databases/CanSaveAndLoad HTTP/1.1
 * Note that this request is chunked, and we are sending 147 bytes
 * The actual size doesn't seems to matter, only that it is chunked.

[2016-02-06 22:00] ayende commented on #617
For reference, the build issue was logged here: https://github.com/dotnet/coreclr/issues/3065

[2016-02-07 23:15] nathanielcook opened #618 "Method 'Log' in type 'Microsoft.AspNet.Server.Kestrel.KestrelTrace does not have an implementation."
When running `dnx web` using latest RC2 from the aspnetcidev feed, I get:
[code]

The project builds fine. Just `dnx web` fails. Here is the output from `dnu build`, so you can see the package and runtime versions. I'm on OSX, if that makes a difference.

[code]

[2016-02-07 23:33] benaadams commented on #618
You need a higher active runtime e.g. `CoreClr-x64-1.0.0-rc2-16453` as used by build

What does `dnvm list` show as the active runtime?

You may need to do a `dnvm upgrade ...` but set the unstable feed enviroment variable to be ci dev to override the standard one.

[2016-02-08 01:31] nathanielcook commented on #618
Yep, did that already.
[code]

[2016-02-08 01:59] davidfowl commented on #618
You have an old package, they got renamed from Microsoft.AspNet.* to Microsoft.AspNetCore.*

[2016-02-08 14:50] nathanielcook commented on #618
Thank you sir

[2016-02-08 14:50] #618 closed

[2016-02-08 16:01] cesarbs commented on #616
Do you have your application sources hosted somewhere, or can you show us your `project.json` file?

[2016-02-09 16:14] wmeints commented on #461
I'm experiencing the exact same error on Mac OSX 10.11.2
Using Mono 4.2.1

Had to upgrade to RC2 to get things working again.

[2016-02-09 16:50] RTodorov commented on #468
this is definitely still an issue, I'm facing this using microsoft/aspnet dockerimage behind DEIS, which uses nginx as a proxy/load-balancer

[2016-02-09 17:05] muratg commented on #468
@cesarbs Could you investigate?

[2016-02-09 18:24] cesarbs commented on #468
@muratg On it.

@ahmad-moussawi @RTodorov Need some info from you guys:

1) Kestrel/DNX/dotnet version.
2) Reverse proxy settings from your nginx.conf.

[2016-02-09 18:28] RTodorov commented on #468
Kestrel: 1.0.0-rc1-final
Dnx: 1.0.0-rc1-16231
Dotnet: 1.0.0-rc1-update1

            proxy_buffering             off;
            proxy_set_header            Host my-server;
            proxy_set_header            X-Forwarded-For $remote_addr;
            proxy_redirect              off;
            proxy_connect_timeout       "10s";
            proxy_send_timeout          "20m";
            proxy

[2016-02-09 18:29] ChristineBoersen commented on #304
This is definitely an issue when sending an AJAX upload back to a controller with a **LARGE** file (hundreds of MB), as even if you use CopyToAsync to a filestream object, since the HttpContext.Request.Body stream was buffered, you run into an out of memory error.

Is there a Kestrel Max Upload Size / Max Request Size equivalent to what used to be set in the web.config pre-kestrel that could be us

[2016-02-09 18:30] cesarbs commented on #468
@RTodorov Could you try with the latest packages? Kestrel had known issues in RC1 when being put behind nginx, those have been fixed already.

[2016-02-09 21:45] ltheONEl opened #620 "Could not load file or assembly 'Microsoft.AspNetCore.Server.Kestrel"
I am upgrading a test asp core up from rc1 to 1.0.0-rc2-16522
I am using this feed: https://www.myget.org/F/aspnetcidev/api/v3/index.json

I used the MusicStore sample to aid with making changes to my rc1 version to use the new startup procedure.  I think I am mostly there but I cannot resolve this issue:

An exception of type 'System.IO.FileNotFoundException' occurred in mscorlib.dll but was not

[2016-02-09 21:55] muratg commented on #620
What's your project.json look like?  Did you update the package name to Microsoft.AspNet.Server.Kestrel to Microsoft.AspNetCore.Server.Kestrel there?

[2016-02-09 22:14] ltheONEl commented on #620
Sweet,  I missed that namespace change.  Thanks.

[2016-02-09 22:14] #620 closed

[2016-02-10 18:44] SajayAntony opened #621 "AV in Kestrel during long haul with Ngnix."
[code]

@yuwaMSFT is currently working on getting a coredump for this.
Ran with **500-1000 clients** against it for 10 hours. (It may happen in just 2 to 3 hours).

1. Install dnvm and DNX, and libuv
  https://docs.asp.net/en/latest/getting-started/installing-on-linux.html

  sudo apt-get install unzip curl
  curl -sSL https://raw.githubusercontent.com/aspnet/Home/dev/dnvminstall.sh | DNX_BRANCH=d

[2016-02-10 21:59] benaadams opened #622 "Allow Response Trailer Headers?"
Now (shortly?) reading request header trailers #619; ability to add them to chunked encoding responses?

Currently supported by [`System.Web`](https://msdn.microsoft.com/sr-latn-rs/library/system.net.http.headers.httpresponseheaders.trailer(v=vs.110).aspx)

Don't think browsers pay attention to them; but some discussion on https://github.com/whatwg/fetch/issues/34 as to their importance for CDNs e

[2016-02-10 22:41] benaadams commented on #622
Would need design

[2016-02-10 23:54] halter73 commented on #622
I don't think this is super important.

If you really want this, I think you should be willing to manually chunk your response which you can do if you explicitly set `Transfer-Encoding: chunked`. So nothing is topping you from sending response trailing headers today. We just don't make it easy.

[2016-02-10 23:57] yuwaMSFT commented on #621
Got a core dump. The file is to big...Will share with Stephen/+Cesar offline

[2016-02-11 00:05] cesarbs commented on #621
For 10 what? :grin:

[2016-02-11 00:05] halter73 commented on #108
Could be addressed by #623. I will need to verify.

[2016-02-11 00:07] yuwaMSFT commented on #621
updated the step...10 hours, but it may happen in just 2-3 hours.

[2016-02-11 00:07] SajayAntony commented on #621
@cesarbs typo. 10 hours.

[2016-02-12 18:24] ArkadyB opened #626 "Problems with performance testing (stops responding)"
Hello guys,

Ive been writing a while ago about problems with server to respond to siege stress tests and ur recommendation to use keep-alive header worked, but now it seem to be broken again and even keep alive does not help.

Having siege set to run with 15 users i see first 15 requests to be served and thats it, no more request is being processed. I have keep-alive enabled.

Any suggesting? Was

[2016-02-12 19:09] munyirik opened #627 "System.DllNotFoundException: Unable to load DLL 'libuv'"
I hit this issue when trying to run an asp.net 5 server on my Raspberry Pi 2 (with Windows IoT Core).

**Repro steps:**
1. Installed arm coreclr with: dnvm install latest -r coreclr -arch arm -u
2. Created new asp.net 5 web application in VS (with no modifications of my own) and published with: dnu publish --out C:\projects\asp5 --runtime dnx-coreclr-win-arm.1.0.0-rc2-16357.
3. Copied the publishe

[2016-02-12 19:09] munyirik commented on #627
Looks like the same issue as https://github.com/aspnet/KestrelHttpServer/issues/216

[2016-02-12 19:13] moozzyk commented on #627
This was fixed post RC1

[2016-02-12 19:13] #627 closed

[2016-02-12 19:16] munyirik commented on #627
@moozzyk where can I get RC1 from?

[2016-02-12 19:18] shahid-pk commented on #627
@munyirik  you need to wait for rc2 release. until then use the workaround.

[2016-02-12 19:20] munyirik commented on #627
Got it. Thanks.

[2016-02-12 19:40] Tratcher opened #628 "Throw InvalidOperationException if the user tries to modify response headers after the body starts"
Sometimes users accidentally set response headers after the response starts and it can be very hard to debug why the client did not receive the header.
https://github.com/aspnet/Mvc/issues/4065#issuecomment-181638058

Throw an InvalidOperationException if the user tries to modify response headers after the first write to the body.

WebListener already does this. Helios used to as well.

[2016-02-12 21:01] ArkadyB commented on #626
It seems not even required to run it on Linux. I have tried to run web endpoint frm Visual Studio 2015 and behavior is same - having started benchmarking utility server stops responding after few requests processed.

[2016-02-12 21:03] benaadams commented on #626
project.json and resolved package version used would be helpful

[2016-02-12 21:33] ArkadyB commented on #626
Project.json:
{
  "version": "1.0.0-*",
  "compilationOptions": {
    "emitEntryPoint": true
  },

  "dependencies": {
    "Microsoft.AspNet.IISPlatformHandler": "1.0.0-rc1-final",
    "Microsoft.AspNet.Mvc": "6.0.0-rc1-final",
    "Microsoft.AspNet.Mvc.Formatters.Xml": "6.0.0-rc1-final",
    "Microsoft.AspNet.Server.Kestrel": "1.0.0-rc1-final",
    "Microsoft.AspNet.StaticFiles": "1.0.0-rc1-final

[2016-02-12 23:01] benaadams commented on #628
Readonly or full on disposed?

[2016-02-12 23:02] Tratcher commented on #628
readonly, you may still want to enumerate and log them

[2016-02-12 23:48] SajayAntony commented on #626
/cc @yuwaMSFT

[2016-02-13 01:56] yuwaMSFT commented on #626
Was the server running on Windows or Linux? Behind any HTTP server?
I did a quick test with kind of latest runtime 1.0.0-rc2-16453. The server is on Linux with Nginx as proxy. It's an MVC with one action returning about 225KB json.

I ran 500 clients for 10 minutes, with avg about 220 req/s. All seemed fine...Will let it run longer and see.

[2016-02-13 03:10] benaadams commented on #580
Measurement across 1M non keep-alive requests; majority of the highlighted `byte[]` is the blocks not being returned early enough from the `SocketInput`

![non-keepalive-connections](http://aoa.blob.core.windows.net/aspnet/non-keepalive-connections.png)

[2016-02-13 03:16] benaadams commented on #610
Allocations with 1M non keep-alive connections

![no-keepalive-a](http://aoa.blob.core.windows.net/aspnet/no-keepalive-0.png)
![no-keepalive-b](http://aoa.blob.core.windows.net/aspnet/no-keepalive-1.png)
![no-keepalive-c](http://aoa.blob.core.windows.net/aspnet/no-keepalive-2.png)

[2016-02-13 03:57] benaadams commented on #610
Breaking out System.Object as its very non-specific

![system-object](http://aoa.blob.core.windows.net/aspnet/system-object.png)

[2016-02-13 04:45] SajayAntony commented on #580
@sivagms - This might be the issue that Martin was trying to fix today due to the incorrect finalization. Do you want to take a look since you know the fix he was talking about?