[2016-02-13 04:47] benaadams commented on #580
@SajayAntony I assumed it was in this fix? (though haven't measured) https://github.com/aspnet/KestrelHttpServer/pull/623

[2016-02-13 04:49] SajayAntony commented on #580
btw.. @halter73 ryan has moved these benchmark and loadtest apps [here](https://github.com/aspnet/Performance/tree/dev/testapp)

@benaadams :tired_face:  I hadn't seen that PR and I've just joined this party :)

[2016-02-13 04:56] benaadams commented on #580
@halter73 added PR for how I generated this https://github.com/aspnet/Performance/pull/48

[2016-02-13 05:40] benaadams commented on #610
This was one of the causes for the server GC around 8 secs into this video https://www.youtube.com/watch?v=BTHimgTauwQ

[2016-02-13 06:01] benaadams commented on #628
Is in https://github.com/aspnet/KestrelHttpServer/pull/608

[2016-02-13 06:07] benaadams opened #629 "Headers high alloc per connection"
Over 1M req non keep-alive 1.4 GB is the header objects

![headers](http://aoa.blob.core.windows.net/aspnet/header-non-pooled.png)

[2016-02-13 07:28] Abdullah2993 opened #630 "Does not work with Mono 4.2.2 (Stable) on Ubuntu 14.0.4 LTS but works fine with CoreClr"
Default project created using `yo aspnet` doesn't works with mono 4.2.2 page keeps on loading but nothing is displayed but the same project works fine with CoreCLR

Terminal Output:
[code]

DNVM List:
[code]
Mono Version:
[code]

[2016-02-13 09:03] ArkadyB commented on #626
Hi @yuwaMSFT ,
Its both, for windows and ubuntu, same behavior. I have Web Api project.

What u use for testing? Is RC2 available yet?

[2016-02-14 02:07] benaadams opened #631 "[Needs Design] SocketOutput can be pooled between requests"
At the end of a request whether there are any outstanding writes can be checked:
* if none, it can be returned to a pool.
* if some a final "write" can be added to its queue that returns it to pool.

At the start of a request reinitialized with `UvStreamHandle` `Connection` etc

This will mean only "in process" requests are consuming memory for the `SocketOutput`, and not open connections.

[2016-02-15 11:19] andreigorlov opened #632 "[Question] Kestrel behind IIS, remote IP address"
Is there a way to retrieve remote IP in Kestrel behind IIS configuration?

HttpContext.Connection?.RemoteIpAddress?.ToString() is always "127.0.0.1"

(Microsoft.AspNet.Server.Kestrel v1.0.0-rc2-16236)

[2016-02-15 11:27] ayende commented on #632
Probably this?
https://en.wikipedia.org/wiki/X-Forwarded-For

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Mon, Feb 15, 2016 at 1:19 PM, Andrei Gorlov <notifications@github.com>
wrote:

[2016-02-15 11:32] Tratcher commented on #632
https://github.com/aspnet/Mvc/issues/4072#issuecomment-183464866, also for x-forwarded-for

[2016-02-15 11:53] andreigorlov commented on #632
Thanks!

[2016-02-15 11:53] #632 closed

[2016-02-15 17:23] benaadams commented on #544
Situation may have changed https://github.com/dotnet/coreclr/pull/3118

[2016-02-16 01:42] endink commented on #616
Sorry for the late reply, because these days are the Chinese new year holiday, my app host in China Azure VM, and i found maybe ILoggerFactory is causing the problem, if i dispose ILoggerFactory before( i want to clear logger， no other methods ) the issue will occurs, and when i add a "trace level" LogProvider , For example, I invoke  ILoggerFactory.AddDebug(LogLevel.Trace) after dispose  , everyt

[2016-02-16 10:00] ArkadyB commented on #626
Hello,
Any feedback on that, is it a bug and should be fixed sometime soon or am i doing somethin wrong?

[2016-02-16 15:56] ArkadyB commented on #626
i have some way of replicating and issue and play around with server settings to let it get timouted and keep workin until next timeout. Having a parallel environment with Kestrel running behind of Nginx i found nginx configuration option called "keepalive_timout" to have affect on Kestrel stucks.
Changing this value i can push Kestrel to shoot a portion of failed connection and then start working

[2016-02-16 19:40] martinpf commented on #580
I noticed this as well last Friday.  Under load, with a significant number of new connections being made, the finalizer  queue falls behind and the memory blocks waiting in the queue  can quickly exceed 1 GB.   A simple fix for this would be to return the block held by SocketInput on connection close.

[2016-02-16 22:55] cesarbs commented on #616
Can you share the pieces of code making the calls to `AddDebug` and `Dispose`?

[2016-02-17 17:32] amcdnl commented on #406
@cesarbs Is this related? https://github.com/BrowserSync/browser-sync/issues/905

[2016-02-17 17:36] amcdnl opened #636 "Kestrel + Proxying ( nginx/browsersync/etc ) = No response"
When using Krestel with Browser-sync my requests never respond. If I launch IISExpress and proxy the requests it works.

[code]

Many others have had this issue too:

- https://github.com/BrowserSync/browser-sync/issues/905
- http://stackoverflow.com/questions/34025282/browser-sync-not-loading-asp-net-5-website-using-proxy

[2016-02-17 18:20] blowdart opened #637 "Ssl Protocol should default to TLS1.2 only"
In options -   SslProtocols = SslProtocols.Tls12 | SslProtocols.Tls11 | SslProtocols.Tls;

Tls is considered broken and definitely shouldn't be there by default. Tls1.1 uses weak hash algorithms by default and there's some concern around that, although its yet to be broken.

[2016-02-17 18:28] SajayAntony commented on #621
/cc @Eilon I believe @yuwaMSFT provided the core dump is someone looking at this?

[2016-02-17 19:39] cesarbs commented on #406
@amcdnl Looks like it.

[2016-02-17 19:51] amcdnl commented on #636
@cesarbs lets move the convo here since its related.

[2016-02-17 20:09] Eilon commented on #621
It's assigned to @yuwaMSFT , should it be assigned to someone else?

[2016-02-17 20:42] halter73 commented on #615
We flow the bool chunk argument a little deeper than we did a few months ago, but it could still possibly be better optimized.

We still create a chunk per the user's call to write instead of delaying it until we call uv_write. Doing the latter would be somewhat difficult though, since we would need to keep track of the beginning and end of the automatically chunked response body at a low level.

[2016-02-17 20:42] cesarbs commented on #636
What version of Kestrel are you using?

[2016-02-17 20:52] halter73 commented on #626
Considering that you are using the rc1-update1 packages, certainly not. Was the same scenario working correctly before that point.

If you don't mind testing on rc2, you can update your NuGet.Config to include "https://www.myget.org/F/aspnetcidev/api/v3/index.json" as a package source.

I assume your using this tool for load testing? https://github.com/JoeDog/siege

Could you give us which paramet

[2016-02-17 20:54] SajayAntony commented on #621
/cc @halter73 did yu already give you the coredump?

[2016-02-17 20:57] halter73 commented on #621
Yeah. @yuwaMSFT emailed @cesarbs and me a link to a network share with the coredump. I haven't gotten a chance to look at it yet.

[2016-02-17 21:00] SajayAntony commented on #621
@Eilon looks like  @halter73 or @cesarbs should be able to go ahead with it. Please assign appropriately.

[2016-02-17 21:28] amcdnl commented on #636
RC1

[2016-02-17 21:29] Eilon commented on #621
Parking on @halter73 's plate for now.

[2016-02-17 23:05] cesarbs commented on #520
Do you guys see this issue on your own machines or is it only when running on Azure?

[2016-02-17 23:08] turtlebat commented on #520
Only when running on Azure for me. I haven't tried installing on a IIS though, only IIS Express which seems to work fine.

[2016-02-17 23:31] JosephGarrone commented on #520
Happens to me on IISExpress, haven't tested on IIS.

On Thu, 18 Feb 2016 9:08 am Jack Dawson <notifications@github.com> wrote:

[2016-02-17 23:41] cesarbs commented on #520
@JosephGarrone Are you on RC1? Can you provide more details about your app, settings, etc.?

[2016-02-18 00:20] JosephGarrone commented on #520
@cesarbs I currently don't have my actual code repoing the issue, luckily I did make another project to test if the issue occurred on a clean project.

https://github.com/JosephGarrone/ASPNetUploadError

Repo's the problem for me. If I upload a 5GB file I get a 0ms request finished.

If I make a couple files in the 25->35mb range you can get a variance of responses (Some are errors as detailed abo

[2016-02-18 00:40] #607 closed

[2016-02-18 00:40] #628 closed

[2016-02-18 00:40] #629 closed

[2016-02-18 01:05] cesarbs commented on #520
@JosephGarrone I can't repro with your repo. I've also tried reproing on IIS, then tried deploying to Azure, no luck.

I'm trying to repro under these conditions:

* rc1-final
* Windows 10
* Tried both x86 and x64
* Tried uploading files ranging from 1.5MB to 1.8GB.

I'll need more info on your environments.

[2016-02-18 01:31] JosephGarrone commented on #520
@cesarbs

For the following file:

`fsutil file createnew 161mb 161740528`

I get (Highlighted on the `await file.SaveAsAsync(...)` in `HomeController.cs`:

[code]

`dnx --version` gives:
[code]

`dnvm version` gives:
[code]

[2016-02-18 01:34] JosephGarrone commented on #520
Just tried again with:

`fsutil file createnew 1gb 1024000000` and received the same error.

[2016-02-18 03:11] alexhelms commented on #520
I too am also getting this exception when uploading an image via a form. Small files (< 1mb) seem to get through. I set a breakpoint on the first line in the controller's method and it never gets there when the error occurs. I have the exact same stack trace, I'm not posting it for brevity but I will if you'd like.

[2016-02-18 13:21] sirentek opened #639 "How can we change the default kestrel port when using new dotnet cli ?"
Hi,

When I run "dotnet run", kestrel starts serving at http://localhost:5000
How can I change it to http://localhost:5050 ?

I added a hosting.json file to project directory with the following content:
{
  "server": "Microsoft.AspNetCore.Server.Kestrel",
  "server.urls": "http://localhost:5050"
}

This is part of my project.json:
    "content": [
        "wwwroot",
        "Views",
        "hosti

[2016-02-18 15:24] sirentek commented on #639
I have found it!

[code]

[2016-02-18 15:24] #639 closed

[2016-02-18 18:53] #420 closed

[2016-02-18 18:56] cesarbs commented on #520
@alexhelms Also on RC1?

[2016-02-18 19:00] ArkadyB commented on #626
Yes, i do use siege as:
siege -t1M -c150 -d1s -v http://endpoint

Failing configuration: 1. Ubuntu VM with DNX or 2. Run application from Visual Studio 2015 - Kestrel endpoint (web).
When I do mentioned above siege, both installations fail regardless of number of cores or RAM assigned to VM. In case of Visual Studio I run on local machine which is i7 Xenon with 16GB RAM...

A successful configurat

[2016-02-18 19:02] benaadams commented on #520
@cesarbs try in a far away datacenter to introduce some latency - I've come across some code in the upload chunking that might not work properly in my refactored code in https://github.com/aspnet/KestrelHttpServer/pull/619#issuecomment-183884481; though it might also be my refactor that is awry rather than the current code :)

[2016-02-18 20:19] halter73 opened #640 "Create a logging scope per connection"
After seeing [HostingLogScope](https://github.com/aspnet/Hosting/blob/906ed5f0fb5408a0af5726e6bb201f7e67f88fe7/src/Microsoft.AspNetCore.Hosting/Internal/HostingLoggerExtensions.cs#L91), I realized we need the equivalent for Kestrel connections.

11 of the 13 special log functions defined in `KestrelTrace` take the connect id as a logging parameter. Of the remaining 2, `KestrelTrace.ApplicationErro

[2016-02-18 20:51] halter73 opened #641 "Determine why unreferencing the async handle early in Listener*.AsyncDispose fails"
If we change `Listener.DisposeAsync` to call `KestrelThread.AllowStop` like so:

    public virtual async Task DisposeAsync()
    {
        // Ensure the event loop is still running.
        // If the event loop isn't running and we try to wait on this Post
        // to complete, then KestrelEngine will never be disposed and
        // the exception that stopped the event loop will never be surfa

[2016-02-18 22:22] jiberan commented on #520
@cesarbs I have also seeing this issue. On Azure Web apps only, IIS Express is fine.

[2016-02-18 22:26] cesarbs commented on #520
All: I'm able to repro now. Investigating.

[2016-02-18 22:51] alexhelms commented on #520
Excellent!

@cesarbs Yes, RC1. Sorry, forgot to mention that. Also, I only get the problem in Azure, not IISExpress when running locally out of VS.

[2016-02-19 00:23] halter73 commented on #626
@ArkadyB If you can't push your app to a github repo, you can email it to me. My email address is set to public on my github profile. Did you try rc2?

[2016-02-19 05:15] JosephGarrone commented on #520
@cesarbs cheers!

[2016-02-19 09:14] davidfowl commented on #630
This is a mono bug, see https://github.com/aspnet/Hosting/issues/604

[2016-02-19 09:14] #630 closed

[2016-02-19 09:36] halter73 commented on #596
Resolved by #638

[2016-02-19 09:36] #596 closed

[2016-02-19 20:46] halter73 opened #644 "System.Threading.ThreadStateException: Thread is dead; state cannot be accessed."
This only happens in non-dev builds since it is #ifdefed out.

    System.Threading.ThreadStateException: Thread is dead; state cannot be accessed.
       at System.Threading.Thread.SetBackgroundNative(Boolean isBackground)
       at Microsoft.AspNetCore.Server.Kestrel.KestrelThread.Stop(TimeSpan timeout)
       at Microsoft.AspNetCore.Server.Kestrel.KestrelEngine.Dispose()
       at Microsoft.Asp

[2016-02-19 20:57] benaadams commented on #644
sigh...

Could set them background before thread.start? Still have a main thread that is blocked until disposal and that's what's calling the stops of the other threads?

[2016-02-19 21:14] benaadams opened #645 "Differentiate write and write2 + simplify"
Raising as issue as PR had outstanding work; see  #526

[2016-02-19 21:16] halter73 commented on #644
Yeah. I was thinking about doing it after the thread.IsAlive check, but even that would race. I'll verify setting it before thread.Start works. It's hiding other start errors kinda like the old null ref in listener.dispose.

[2016-02-19 21:20] benaadams commented on #644
PR #646

[2016-02-19 22:13] shhsu commented on #644
NOTE: This is a blocking issue for my performance testing.

[2016-02-19 22:19] SajayAntony commented on #644
@Eilon could this be marked partner-blocking?

[2016-02-20 00:00] halter73 commented on #644
@SajayAntony @shhsu #646 doesn't fix the blocking issue. It only fixes shutdown in certain circumstances.

The stacktrace that `KestrelServer.Start` is calling `KestrelServer.Dispose`. That means there's a startup exception that is supposed to be rethrown, but isn't because of the shutdown issue (which is only happening because the server didn't fully start). If we can see the first chance excepti

[2016-02-20 00:05] halter73 commented on #644
OK I was able to reproduce the issue by renaming libuv.dll in my ~/nuget/packages folder.

I'm about 99% sure that there is an issue loading `libuv.so` since that's one of the only things that would stop the "KestreThread" before `KestrelThread.Stop` is called. Maybe an unversioned `libuv.so` isn't in your library load path?

Make sure you are following the directions here to install libuv: http:/

[2016-02-20 13:05] nietras opened #647 "Use unmanaged memory directly in e.g. MemoryPool2 instead of pinned/fixed across the source"
It seems to me that the memory pool really should be based on unmanaged memory since it is pinned/fixed anyway when used with libuv or similar. Changing this should not only reduce the cross-cutting duplication of pinned/fixed statements but perhaps also improve perf.

Asking in a different way, why insist on using managed byte arrays when these are used in a fixed manner?

[2016-02-20 13:14] benaadams commented on #647
The memory pool is pinned in the LoH so not in regular generational memory. They have only one pinned statement for the lifetime of the application.

On the other hand using unmanaged memory would require marshalling to and from they byte arrays for regular operations and also not allow the use of Vector operations on them, currently.

[2016-02-20 13:19] benaadams commented on #647
As a comparison the RIO C# server shown in the benchmark results (also this PR  https://github.com/aspnet/benchmarks/pull/12) is entirely managed memory.

[2016-02-20 13:19] nietras commented on #647
Yes while I do understand that it is allocated on the LoH and therefore pinning isn't a huge issue. I have seen some `Pin()` statements in several places and also `fixed` statements. Couldn't the regular operations on byte arrays be replaced?

There is no need for marshalling if this change (perhaps huge) would be cross-cutting throughout. Libuv expects `IntPtr` pointers and fixed memory. In addit

[2016-02-20 13:24] nietras commented on #647
As far as I understand RIO has a similar API surface as libuv in that it expects fixed/pinned memory so my assumption would be it would help in this case too. E.g. lowering CPU load. And yes I am thinking of the stuff going on in e.g. `MemoryPoolIterator2` and related code.

[2016-02-20 13:41] aL3891 commented on #647
If you're interested i've got a managed rio library going at https://github.com/aL3891/RioSharp that does use an unmanaged memory pool. It also has an experimental web server and the beginnings of an asp.net core host, but its o hold right now because of the current lack of VS tooling for the cli. I do plan to pick up the asp.net host once RC2 is out

[2016-02-20 13:44] benaadams commented on #647
Pretty much all of the `fixed` statements can be removed from operations on the `MemoryBlock2`s though it requires some minor refactoring of the data type to directly expose the pointer and well as some of the code paths.

They sill exist because at one time the `MemoryBlock`s could accept non-pooled memory

[2016-02-20 14:08] nietras commented on #647
Yeah I was wondering about why these where even there, when the pool is pinned. Since these seem to incur a bounds check on the array due to indexing there would be some minor improvements there. The same bounds checks for Vector could be removed as well if using pointers directly.

Is there any existing easy way to run kestrel with profiler to do testing of this on a single PC?

Yes, it is the `P

[2016-02-20 14:47] benaadams commented on #647
Need to wait for https://github.com/dotnet/corefx/issues/5474

Yes, can do something like this https://github.com/benaadams/KestrelHttpServer/commit/686ad9d9498797839dbf43b9c9808dbfdb5cfa91

Alas; while its easy to get memory profiles, with various tools like [loadtest](https://www.npmjs.com/package/loadtest) - you need to use `wrk` on a different machine with a > 1 GBps connection between the two

[2016-02-20 14:54] benaadams commented on #647
Gap in the market for a good WIndows http perf tool that is multi-threaded, [fast loopback](http://blogs.technet.com/b/wincat/archive/2012/12/05/fast-tcp-loopback-performance-and-low-latency-with-windows-server-2012-tcp-loopback-fast-path.aspx) and does pipelining ;-)

[2016-02-20 15:03] nietras commented on #647
You can use `Unsafe` from the open source package https://www.nuget.org/packages/DotNetCross.Memory.Unsafe.dll/ right now. Any reason why this cannot be used?

Hmm, can micro-benchmarking the pool be used or are the load patterns very different so these won't necessarily show this?

There doesn't seem to be any perf tests as part of the kestrel source, wouldn't these add some value and allow for e

[2016-02-20 15:10] benaadams commented on #647
The more general tests are https://github.com/aspnet/Performance

[2016-02-20 15:16] benaadams commented on #647
The more general tests are https://github.com/aspnet/Performance

For specific micro-benchmarking I recommend https://github.com/PerfDotNet/BenchmarkDotNet

@mattwarren gives some good insight in to recent features http://mattwarren.github.io/2016/02/17/adventures-in-benchmarking-memory-allocations/

[2016-02-20 16:56] benaadams commented on #647
I'd assume issues around taking a dependency around an unknown, low contributor and not well supported package; which then MS has to take the onus on provide security and support for - how would they provide emergency patching for it in case of a security alert if you were on holiday so they couldn't update the source that the dependency was based on? Would be messy...

Again I assume this would b

[2016-02-20 17:13] nietras commented on #647
Thanks for the reply again.

I know and have used BenchmarkDotNet, and it is definitely useful for determining the performance characteristics of different pieces of code in isolation. It is a work in progress, though, I have had issues with this not working with referenced assemblies etc. Also it is very conservative so for a quick feedback loop it is too cumbersome in my view, but once some diff

[2016-02-20 17:23] benaadams commented on #647
Its generally good - its just a bad time; the move to the dotnet cli has made things quite unstable - so much so that the release date for RC2 has moved to TBD https://github.com/aspnet/Home/wiki/Roadmap

It should be better again when that settles down.

[2016-02-20 18:23] aL3891 commented on #647
Fyi Riosharp has one, it has the same cli interface as wrk, its still very limited though, it can only do gets and only count the number of requests but handy if you want to generate a lot of load on windows

[2016-02-20 19:29] benaadams commented on #647
@aL3891 RioSharp.BenchClient ? Interesting will be checking it out!

[2016-02-20 23:32] mattwarren commented on #647
determining the performance characteristics of different pieces of code in
isolation. It is a work in progress, though, I have had issues with this
not working with referenced assemblies etc.

Hopefully we've fixed these issues now, but if you are still having
problems please raise an issue and we will take a look. Hopefully it's
now less "work in progress" and heading towards something more
compl

[2016-02-21 02:32] tucaz commented on #468
@cesarbs I'm having the same problem as @RTodorov with same versions of everything. What version of Kestrel do you suggest we use? I only could find rc1-final in https://www.nuget.org/packages/Microsoft.AspNet.Server.Kestrel/

Thanks

[2016-02-21 05:39] cesarbs commented on #468
@tucaz You'd have to use the vnext or cidev feeds to get more recent stuff:

    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v2" />

    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetcidev/api/v2" />

Keep in mind though that there have been a number of changes since then and you'll likely have to make a number of adjustments to your code.

A workaround that

[2016-02-22 10:00] benaadams commented on #640
Isn't `AsyncLocal` for `HostingLogScope` as `AsyncLocal` modifies the execution context from default and would be seeing lots of `ExectionContext` allocations like you see when using the `HttpContextAccessor`

[2016-02-22 16:36] shhsu commented on #644
I did install the livuv from this instruction and the problem is still here.

[2016-02-22 17:16] shhsu commented on #644
This lab machine has run kestrel before. It just started to fail last Friday
Any reason to believe that all the sudden the library is the issue here? Is there any new code that would cause it? Or could this be something else

[2016-02-22 18:21] #644 closed

[2016-02-22 18:36] halter73 commented on #640
Ultimately I think it's up to the logger how they implement scopes. The [console logger uses AsyncLocal/CallContext](https://github.com/aspnet/Logging/blob/46c6d523fd323eba101f230b96111d3fa4dcfa46/src/Microsoft.Extensions.Logging.Console/ConsoleLogScope.cs#L48), but it seems you would only pay for it if you use it.

It looks like our [NLogLoggerProvider uses a NestedDiagnosticsContext](https://git

[2016-02-22 18:39] benaadams commented on #640
Working on it ;-) https://github.com/aspnet/Hosting/pull/609 and https://github.com/aspnet/Logging/issues/366

[2016-02-22 18:41] halter73 commented on #640
Cool. We can follow whatever pattern we decide on for Hosting then :smile:

[2016-02-22 18:43] benaadams commented on #640
Max pooling (https://github.com/aspnet/Performance/pull/67) allocs cirrently looks like this over 1M req

![pooled](http://aoa.blob.core.windows.net/aspnet/pooled.png)

[2016-02-22 18:57] halter73 commented on #644
The Microsoft.AspNetCore.Server.Kestrel 1.0.0-rc2-16436 package from the https://www.myget.org/F/aspnetvolatiledev/ feed includes #646. If you use that feed, you should see the underlying error without having to find the first-chance exception.

[2016-02-22 19:14] jak137 opened #649 "ECONNRESET constant should be platform dependent"
We observed ``IOException`` errors from Kestrel server (1.0.0-rc1 with keep_alive patch from #418) running on Ubuntu 14.04 Linux platform when it was responding to health check requests from HAProxy:

[code]

[code]

The problem was not occurring when the server was queried directly using curl or telnet.

The analysis of exchanged packets showed that in the latter (normal) case FIN packets were ex

[2016-02-22 19:24] SajayAntony commented on #235
@halter73 wanted to get pulse on this issue. Is it still relevant or did you break it into some other issue.

[2016-02-22 19:31] SajayAntony commented on #647
@nietras do you have a profile screenshot. I would like to take this up with the CLR if the cost of fixed/pinned is actually showing up.

[2016-02-22 20:25] #580 closed

[2016-02-22 20:25] #247 closed

[2016-02-22 21:34] SajayAntony opened #650 "Dotnet affinity to a node/group prevents CPU saturation multi-socket hardware"
This is most likely due to using Processor groups and we need to configure the ThreadPool to use all processor groups using `Thread_UseAllCpuGroups `
Pointers to configuring different Knobs for CLR
* [CLR Configuration Knobs](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/clr-configuration-knobs.md)
* [Runtime Configuration](https://github.com/dotnet/cli/blob/rel/1.0.0/Do

[2016-02-22 21:34] shhsu commented on #644
For the record

The problem hidden below was that the user running the application does not have permission to libuv. The error should have been

(Exception from HRESULT: 0x8007007E)) ---> System.DllNotFoundException: Unable to load DLL 'libuv': The specified module could not be found.
 (Exception from HRESULT: 0x8007007E)
   at Microsoft.AspNetCore.Server.Kestrel.Networking.Libuv.NativeMethods.uv

[2016-02-22 22:56] shirhatti commented on #419
I tried to repro this outside of Supervisor
I was using `rc1` `coreclr` bits.

`SIGTERM` does **not** cleanup the socket file but `SIGINT` does.

[2016-02-22 23:51] cesarbs commented on #419
This is a known issue that we had with DNX and will continue to have with dotnet. It's not really up to Kestrel to do it, but in any case we're unable to handle `SIGTERM`. @pakrym should have more info.

[2016-02-22 23:52] #419 closed

[2016-02-23 00:19] halter73 commented on #649
Thanks for the report. It looks like `Constants.ECONNRESET` should be -104 on linux (looked at Ubuntu and CentOS) and -54 on OS X.

[2016-02-23 00:33] halter73 opened #651 "Include libuv.so in Kestrel NuGet package"
We already distribute libuv.dll and libuv.dylib for Windows and OS X, but so far we have required libuv.so to be manually installed globally on Linux platforms.

This has forced Linux users to either [build libuv from source](http://docs.asp.net/en/latest/getting-started/installing-on-linux.html#install-libuv) or install libuv from a non-default package repository and add a symlink from libuv.so t

[2016-02-23 00:53] halter73 commented on #235
I'm closing this issue. Feel free to reopen, but since the time this issue was filed, the default `IHttpRequestIdentifierFeature` was changed to both [lazily evaluate the request identifier and cache the result](https://github.com/aspnet/HttpAbstractions/blob/02363da94eee7311e457e136dc45edf9c5ac3494/src/Microsoft.AspNetCore.Http/Features/HttpRequestIdentifierFeature.cs#L20). I don't think there's

[2016-02-23 00:53] #235 closed

[2016-02-23 01:28] SajayAntony opened #652 "Large number of 503s when running with more than 1000 virtual clients"

[2016-02-23 02:01] SajayAntony commented on #181
/cc @yuwaMSFT @taoliseki FYI.

[2016-02-23 02:03] SajayAntony commented on #610
@taoliseki #652 might be related to this. Please keep this on your radar.

[2016-02-23 06:22] Eilon commented on #651
cc @DamianEdwards because this affects experience (though, in a *good* way).

[2016-02-23 06:33] Tragetaschen commented on #651
Which platforms would be included? x64 is rather obvious, but what about ARM? Big/Little Endian? Hard Float? If ARM is not included, there still needs to be a way to fall back to a system-wide installation

[2016-02-23 07:50] benaadams commented on #652
This behind reverse proxy? Don't think Kestrel itself currently returns a 503

Is middleware doing sync read/writes; json, or is it all async? (Or using `StreamSocketOutput.WriteAsync` https://github.com/aspnet/KestrelHttpServer/issues/569)

[2016-02-23 08:18] halter73 commented on #651
@Tragetaschen @moozzyk and I talked about this, and the plan is to be very specific with our linux runtime identifiers.

Depending on what type of granularity RIDs provide us, we'll probably specify which specific distros we are providing libuv for, and require a system-wide libuv install for everything else. Ideally we wouldallow any distro that uses glibc >= SOME_VERSION. I think we plan on supp

[2016-02-23 09:01] benaadams commented on #650
Related https://github.com/aspnet/benchmarks/issues/56

[2016-02-23 09:32] benaadams opened #653 "Return different status codes depending on condition"
Surface different error types, possibles

400 Bad Request + close connection? https://github.com/aspnet/KestrelHttpServer/issues/181 (Resolved by https://github.com/aspnet/KestrelHttpServer/pull/619)
408 Request Timeout (Resolved by https://github.com/aspnet/KestrelHttpServer/pull/485)
413 Payload Too Large https://github.com/aspnet/KestrelHttpServer/issues/478
414 URI Too Long / 431 Request Heade

[2016-02-23 10:14] davidfowl commented on #651
Tell me we aren't going to embed that many libuv assemblies in kestrel right? right?

[2016-02-23 10:24] benaadams commented on #181
The last commit of https://github.com/aspnet/KestrelHttpServer/pull/619 should resolve this

[2016-02-23 13:08] benaadams commented on #181
Though not all @Tragetaschen's scenarios

[2016-02-23 15:52] halter73 commented on #651
Since libuv only requires libc and glibc provides binary backwards compatibility (and all of our supported distros use glibc) we should only need to build once per instruction set. We already have x64/x86/ARM builds for Windows in the kestrel package.

I don't think we can use a "linux-{instruction set}" RID though because some distros don't use glibc like docker's new default base image Alpine Li

[2016-02-23 17:48] SajayAntony commented on #652
@taoliseki could you describe the scenario more. Please add the description for how the connection density is being measured. Docs should be going to [stress location](https://github.com/aspnet/Performance/tree/dev/stress-test)

[2016-02-23 22:06] Tragetaschen commented on #651
For ARM, it might not be enough to just differentiate via instruction set. If Kestrel would only look at the instruction set and include a Hard Float, Little Endian (the reasonable choice IMHO, at least for me :grin:) precompiled `*.so`, it'll die horribly on an ARM SoC without FPU or one that's compiled for Big Endian.

It might be necessary to include an explicit method of opting out of using th

[2016-02-24 00:55] moozzyk commented on #651
Maybe we should not include a version for ARM non-windows?

[2016-02-24 01:44] SajayAntony commented on #520
/cc @DavidObando do you think your scenario covers this?

[2016-02-24 05:08] replete commented on #636
I've been having this exact problem and been pulling my hair out trying to fix it.

IT seems like Kestrel in this context is sending as `chunked` but doesn't seem to send the last 0-length chunk (which would end the data).

Closing kestrel while browserSync is waiting kills the connection and the browser starts trying to use what it did download.

[2016-02-24 06:05] ayende commented on #651
One of our use cases is to run on ARM on Linux, anything that make it
easier is preferred.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Wed, Feb 24, 2016 at 2:55 AM, Pawel Kadluczka <notifications@github.com>
wrote:

[2016-02-24 11:33] nietras commented on #647
I know! I follow your blog too, great work. Thanks for replying.

As a good digital citizen I have in fact filed an issue https://github.com/PerfDotNet/BenchmarkDotNet/issues/72 which hasn't been marked as resolved. This, therefore, also means I have not tried the latest version.

My biggest issue I guess is that BenchmarkDotNet does not come with memory profiling as default and with it enabled by

[2016-02-24 12:27] amcdnl commented on #636
@replete Use WebListener, its a known bug that is fixed already in master but not published

[2016-02-24 15:01] Tragetaschen commented on #651
@moozzyk I think it's perfectly fine to limit the provided, compiled `so`s to the "95%" case as long as Kestrel notifies developers in case of the remaining "5%".

For example for "Linux x64", I don't see a need for Kestrel to ship support for anything other than "[g]libc > x.yz" out of the box as long as there is an understandable and actionable error in case "Linux-x64" doesn't imply glibc like

[2016-02-24 16:08] moozzyk commented on #651
@ayende - you would compile libuv as you have to today.

[2016-02-24 18:30] DavidObando commented on #520
@SajayAntony yes, that's covered, but in a local run you won't likely get data starvation from network latency (which may cause this). A more appropriate test would simulate rough network conditions. Let's take it offline.

[2016-02-24 19:00] cesarbs commented on #468
Has anyone tried it with the latest packages, or tried the `Connection: keep-alive` to check if that solves the problem?

[2016-02-24 19:15] RTodorov commented on #468
Connection: keep-alive works fine, didn't test with latest packages though.

Em quarta-feira, 24 de fevereiro de 2016, Cesar Blum Silveira <
notifications@github.com> escreveu:

[2016-02-24 19:44] cesarbs commented on #468
@RTodorov Alright, will close this then. Completely off-topic: hello fellow Brazilian :smile:

[2016-02-24 19:44] #468 closed

[2016-02-25 00:09] tucaz commented on #468
I guess we are all Brazilians here :)

@cesarbs keep alive works, however I think I found something else related to this issue. Whenever the first request that goes to Kestrel comes from nginx (even with the keep alive header) Kestrel hangs and don't serve any subsequent requests.

In my case it only works if the first request is performed via curl.

The steps to reproduce are:

1. Put Kestrel beh

[2016-02-25 01:21] cesarbs commented on #468
Try adding

    proxy_http_version 1.1;

to your nginx config file.

[2016-02-25 03:03] tucaz commented on #468
It was already there.

However, I tried to reproduce the error and when starting kestrel I got an `EADDRINUSE` error. When I ran `netstat -an` I saw that for some reason my port (5000) was in a CLOSE_WAIT state.

After killing the process and running kestrel again it worked.

I'm not sure why it didn't work before, but it's working now. I will do some more testing later to see if I can reproduce.

[2016-02-25 03:45] DavidObando commented on #520
Hey @cesarbs, I'm playing with a scenario around uploading large files. I found that we can't upload a multipart with a total message size larger than 4GB, basically because `int.Parse(contentLength)` doesn't like such `long` numbers while reading the [message body](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Http/MessageBody.cs#L123).

Is this cove

[2016-02-25 03:50] dougbu opened #654 "Get tests working on Travis / Linux"
Kestrel builds have been erroring or failing consistently on Travis for a while. Looks like the last successful Travis run was 20 days ago. (Admittedly, that span may include runs where Linux succeeded but OS X failed.)

Current failures appear limited to `FunctionalTests.AddressRegistrationTests.RegisterAddresses_IPv6_Success` (3 variants) and `FunctionalTests.RequestTests.RemoteIPv6Address`. No

[2016-02-25 05:00] muratg commented on #468
Thanks @tucaz!

[2016-02-25 05:01] muratg commented on #520
Thanks @DavidObando! I can see the issue with 2GB, though like you I'm not sure if that's supposed to be supported by default.  @lodejard any thoughts?

[2016-02-25 05:14] lodejard commented on #520
Interesting - it's a little hard to tell if there are actually two or three different being reported.

The https://github.com/aspnet/KestrelHttpServer/blob/bc56d11d8ca9ba3e3b6a3c84900b0f8027ff2e96/src/Microsoft.AspNetCore.Server.Kestrel/Http/MessageBody.cs#L123 can be changed to long - a few of the fields will also need to change to long, and the expressions will need to be double-checked.

That s

[2016-02-25 06:15] benaadams commented on #654
Is a `Fact` test that should be a `ConditionalFact` these were the issues (and fixes) for what I saw https://github.com/aspnet/KestrelHttpServer/pull/648

[2016-02-25 06:33] dougbu commented on #654
Good point @benaadams Looks like a quick fix. So I'm self-assigning.

[2016-02-25 11:10] mattwarren commented on #647
So I don't hijack this thread any more, I opened an issue on [BenchmarkDotNet to discuss this](https://github.com/PerfDotNet/BenchmarkDotNet/issues/99)

[2016-02-25 16:52] dougbu commented on #654
3705551

[2016-02-25 16:52] #654 closed

[2016-02-25 17:37] replete commented on #636
@amcdnl Thanks, I did figure this out on my own in the end.

As an aside, do you personally feel that it is anywhere near a good time for someone to start moving from an (incompelte) RC1 project to RC2?

[2016-02-25 18:29] amcdnl commented on #636
@replete its not for the light hearted....

- most third-party packages don't support it yet
- obvs issues like ^^
- I think RC2 is gonna have some major changes too so moving target.

[2016-02-25 22:58] yuwaMSFT opened #656 "AV in coreclr during long haul with Ngnix"
The server was running HelloWorldMvc with Nginx as reverse proxy. 500-1000 clients kept sending requests.

(lldb) thread select 1
* thread #1: tid = 0, 0x00007f68f8beff53 libcoreclr.so`JIT_CheckedWriteBarrier_End + 3, name = 'dnx', stop reason = signal SIGSEGV
    frame #0: 0x00007f68f8beff53 libcoreclr.so`JIT_CheckedWriteBarrier_End + 3
-> 0x7f68f8beff53 <JIT_CheckedWriteBarrier_End+3>: movq   %r

[2016-02-25 22:59] yuwaMSFT commented on #656
@halter73

[2016-02-25 23:03] yuwaMSFT opened #657 "System.AccessViolationException in Kestrel in stress run"
(lldb) pe -nested
Exception object: 00007f5409851888
Exception type:   System.AccessViolationException
Message:          Attempted to read or write protected memory. This is often an indication that other memory is corrupt.
InnerException:   <none>
StackTrace (generated):
    SP               IP               Function
    00007F542674B4D0 00007F5428AAB342 UNKNOWN!System.Runtime.CompilerServices.As

[2016-02-25 23:08] yuwaMSFT commented on #657
@halter73

[2016-02-26 19:32] cesarbs commented on #520
I'll work on fixing that as part of #642.

[2016-02-26 20:09] halter73 opened #658 "Sporadic ThrowingAfterPartialWriteKillsConnection test failures on AppVeyor"
Example output:

    Microsoft.AspNetCore.Server.KestrelTests.EngineTests.ThrowingAfterPartialWriteKillsConnection(testContext: TestServiceContext { App = null, AppLifetime = LifetimeNotImplemented { ApplicationStarted = (throws NotImplementedException), ApplicationStopped = (throws NotImplementedException), ApplicationStopping = (throws NotImplementedException) }, DateHeaderValueManager = TestDat

[2016-02-26 20:13] halter73 commented on #658
We should probably not bother consuming the rest of the request when we are going to subsequently just kill the connection after an app failure.

[Here](https://github.com/aspnet/KestrelHttpServer/blob/37055517eec452e0aaec5f08ae6010c99ac3fdd0/src/Microsoft.AspNetCore.Server.Kestrel/Http/FrameOfT.cs#L103) it's probably worth checking if `_requestProcessingStopping` was set by `ProduceEnd` due to an

[2016-02-26 20:45] benaadams commented on #658
If its ProduceEnd+Consume interaction that causes this I might have a fix for it in updated PR for the chunking. Just working though the sending of bad request based on headers.

[2016-02-26 21:28] cesarbs commented on #520
Actually I'll start a separate PR for it.

[2016-02-27 12:09] SajayAntony commented on #650
For now we are setting Clustering  mode `Numa Group size optimization` to `flat` so that all the cores belong to a single group.

![biosconfiguration-cropped](https://cloud.githubusercontent.com/assets/1821104/13372784/95edadbc-dd07-11e5-993f-473a40d9459b.png)

Output from CoreInfo

![coreinfo](https://cloud.githubusercontent.com/assets/1821104/13372780/55518f1c-dd07-11e5-907d-b09d5221cf45.png)

T

[2016-02-28 21:09] victorhurdugaci opened #660 "Kestrel is not building on OSX on travis"
Because it is missing OSX from the `travis.yml` file. Please add it and make sure it builds.

Here's what you need to add https://github.com/aspnet/Options/blob/dev/.travis.yml#L15-L17

[2016-02-29 18:24] #617 closed

[2016-02-29 19:10] halter73 opened #662 "KestrelServerTests.StartWithInvalidAddressThrows can cause test process to hang"
Here are the lldb logs from investigating a hanging KestrelTests process:

    (lldb) clrstack
    OS Thread Id: 0xab18 (1)
            Child SP               IP Call Site
    00007FFE1FC12310 00007F8F65FEA414 [GCFrame: 00007ffe1fc12310]
    (lldb) thread backtrace all
    * thread #1: tid = 43800, 0x00007f8f65fea414 libpthread.so.0`__pthread_cond_wait + 196, name = 'corehost', stop reason = trace

[2016-02-29 20:28] SajayAntony commented on #650
@nathana1 were you able to verify if increasing the kestrel threads actually helped?

[2016-02-29 20:40] halter73 commented on #615
#572 is also related. The chunked response performance is a lot better than it was when @rynowak originally filed the issue which is why that issue was closed, but @lodejard's suggestion could improve performance even further.

[2016-02-29 20:49] halter73 commented on #610
@mikeharder Not sure you want to take a look at this. It might be better to add these kinds of non-TechEmpower related stress tests/benchmarks to the https://github.com/aspnet/Performance/ repository.

[2016-02-29 20:51] SajayAntony commented on #610
@mikeharder - specifically this is where the targeted tests are - https://github.com/aspnet/Performance/tree/dev/testapp

[2016-03-01 15:57] VanCoding opened #663 "Cannot build SampleApp"
Hi guys!

I'm interested in using Kestrel .NET Core & Kestrel for my next REST app, but I cannot even get the SampleApp to work. It also seems that the API changes very frequently, so that sample code only ever works with a specific version of kestrel. It's very confusing which version of which branch I get when installing it using dnu install.

What's the best way to run kestrel samples?

**What

[2016-03-01 16:13] VanCoding opened #664 "Kestrel as a library"
It seems that Kestrel is currently intended to be used as a standalone application, that hosts a DLL on a port specified by start parameters.

I'm wondering if there are plans to also create a good API to run kestrel inside of another application, maybe even multiple instances of it.

I imagine something very similar to node.js's http module. There you can:
[code]
For Kestrel, this could look some

[2016-03-01 17:58] taoliseki commented on #652
We were using 10k clients to load test a IIS hosted hello world MVC app. The 503s were caused by the default IIS config for "appConcurrentRequestLimit" setting. I increased that limit to increase server capacity (and was able to saturate the CPU):

https://technet.microsoft.com/en-us/library/dd425294(v=office.13).aspx

Note that we also need to increase the value for "MaxUserPort" registry, otherw

[2016-03-01 17:58] #652 closed

[2016-03-01 18:22] taoliseki commented on #610
The scenario we were measuring from perf side is:
1. Constant load: 10k users with 10k persistent connections and 1 request per 10 seconds per user
2. Bursty load: 1k users kick in and leave

For the bursty part, 1k WCAT threads were used to disconnect/reconnect per request during a one-hour time window, which resulted in around 3k connection/disconnections per second. I did not see any obvious pe

[2016-03-01 19:47] halter73 commented on #663
What version of dnu/dnx are you using when you build the release branch? You can see by running `dnvm list`. For the release branch it should be, 1.0.0-rc1-update1.

I also suggest clearing your `~/.nuget/packages`, `~/.dnx/packages/`, `~/AppData/Local/NuGet/Cache` and, `~/AppData/Local/NuGet/v3-cache` directories since you are going back versions.

If you want to use the dev branch, you can run b

[2016-03-01 20:05] halter73 commented on #664
You can achieve something very similar to this using, `WebHostBuilder`. This is the same type [used in the SampleApp](https://github.com/aspnet/KestrelHttpServer/blob/c7f64d34bbc2b8a3590660c40cd4dad36188b5b6/samples/SampleApp/Startup.cs#L66), but instead of using `UseStartup` you can call `Configure` like [we do in this hosting sample](https://github.com/aspnet/Hosting/blob/e62ceb852827d386b492abc

[2016-03-01 23:13] muratg commented on #651
@moozzyk Will you be able to do this?

[2016-03-01 23:21] moozzyk commented on #651
Yes, if we decided to do this.

[2016-03-01 23:25] muratg commented on #616
@endink Do you still have this issue?

[2016-03-01 23:25] muratg commented on #604
@SajayAntony

[2016-03-01 23:33] SajayAntony commented on #604
No automation or functional tests. We only have plan for a E2E kind of scenario with about 10-50k connection.
@taoliseki has a PR out for the E2E scenario. aspnet/performance#82

[2016-03-02 00:12] SajayAntony opened #666 "500 when abs_path present in http_URL - 3.2.2 http URL"
Kestrel returns `HTTP/1.1 500 Internal Server Error` when the request has a complete request URI.
Sample app - [HelloWorldMvc](https://github.com/aspnet/Performance/tree/dev/testapp/HelloWorldMvc)
#### Program.cs

[code]
#### project.json

[code]

[2016-03-02 00:24] halter73 commented on #666
It looks like the first request is valid (https://www.w3.org/Protocols/rfc2616/rfc2616-sec5.html#sec5.1.2 outdated RFC, but I assume this hasn't changed), but Kestrel is putting the full URL (e.g.  “http://localhost:5000/” instead of “/”) in `IHttpRequestFeature.Path`

This causes the following exception to be thrown from PathString when some middleware (presumably Routing) tries to access HttpCon

[2016-03-02 00:57] mgravell commented on #604
@benaadams re ephemeral ports: we made our server bind to multiple ports
internally for that reason - we then use smoke and mirrors at the NLB
(haproxy) to hide that detail from the outside world. IIRC, we currently
bind each process (one process per box) to 3 ports.

On Tue, 1 Mar 2016 23:33 Sajay Antony, <notifications@github.com> wrote:

[2016-03-02 01:01] Tratcher commented on #666
Yeah, that format is only used with proxies which is why nobody has run into it yet.
https://tools.ietf.org/html/rfc7230#section-5.3.2. Kestrel should still allow it and the other forms mentioned in 5.3, though I don't know if we'll be supporting Connect any time soon.

[2016-03-02 05:05] #660 closed

[2016-03-02 06:26] benaadams commented on #610
Probably worth doing some https testing in similar fashion since it is part of the repo.

We did experience memory growth->heavy GC in this area previously (stress testing, not production); but that was prior to the SocketInput memory block release, so hopefully its resolved now.

[2016-03-02 06:51] SajayAntony commented on #610
Tao could you also provide the memory foot print and how it varied over time. I think @yuwaMSFT has a neat way to capture this over time.

[2016-03-02 08:49] VanCoding commented on #663
I've checked and I am on 1.0.0-rc1-update1.

Clearing the mentioned directories sadly didn't lead to success. I got the same errors.

After installing the "dotnet" command line tool, and running `dotnet restore`, I cannot build using `dotnet build`. It tells me
[code]
despite having a project.lock.json file.

But that's most likely not related to kestrel, but a bug of the dotnet tool. There's alre

[2016-03-02 08:58] VanCoding commented on #664
Awesome, thank you :)
I'll try this as soon as I get one of the examples running.

[2016-03-02 16:21] cesarbs commented on #663
You need to run a full build before trying to build and run the sample apps. The reason being that Kestrel's makefile contains some commands to generate part of the code and to copy libuv binaries to the `runtimes` directory.

[2016-03-02 16:24] cesarbs commented on #664
Closing since there's no issue here and @VanCoding's scenario is supported as pointed out by @halter73.

[2016-03-02 16:24] #664 closed

[2016-03-02 17:01] benaadams commented on #663
Use `build` in the root directory rather than `dnu build`

[2016-03-02 18:07] yuwaMSFT commented on #610
For Windows we can collect memory related perf counters.

For Linux we can use top/atop to get the memory foot print over time.

[2016-03-02 18:21] benaadams commented on #610
For linux you are probably better using `/proc/xxx` e.g. `/proc/[pid]/status`

http://www.linuxhowtos.org/manpages/5/proc.htm

[2016-03-02 18:30] halter73 opened #667 "DebugAssertException: Block being garbage collected instead of returned to pool"
This DebugAssertException has been showing up in some of our CI runs since I enabled it [a little over a week ago](https://github.com/aspnet/KestrelHttpServer/pull/623). The issue doesn't affect most test runs, but I think this exception has mostly shown up in Microsoft.AspNetCore.Server.KestrelTests.

Here is a run on AppVeyor that failed due to this assertion: https://ci.appveyor.com/project/asp

[2016-03-02 19:10] cesarbs commented on #667
Yep, and I've already found out that the culprits are `Http10KeepAliveContentLength` in `EngineTests` and `Http10TransferEncoding` in `ChunkedRequestTests` (which was previously in `EngineTests`. I haven't found any other leaky tests (yet :grin:). The problem is that the memory blocks allocated by `SocketOutput` instances are never returned when the `KestrelEngine` instance is disposed in those te

[2016-03-02 19:15] halter73 commented on #667
@cesarbs Can you add a [trace here](https://github.com/aspnet/KestrelHttpServer/blob/9c64a492615e2fa9153021438fd053301e9a3d4a/src/Microsoft.AspNetCore.Server.Kestrel/Infrastructure/KestrelThread.cs#L135) to see if any sockets are being disposed "rudely" when this happens? That might explain the issue.

[2016-03-02 19:17] cesarbs commented on #667
To double check: do you mean a trace inside the walk, or in `OnStopRude`? I do know that `OnStopRude` is being called.

[2016-03-02 19:44] halter73 commented on #667
`OnStopRude` is always called as the code is written today. That might change once #641 is fixed. What matters is if any sockets are being disposed there.

[2016-03-02 19:58] benaadams commented on #667
If that is the issue, dispose the Slabs in `OnStopXXX` so `IsActive == false` which should resolve the issue?

[2016-03-02 20:24] halter73 commented on #667
@benaadams Good point. When I first made the change to uncomment the `Debug.Assert`, I didn't have the `|| IsActive == false` so a rude shutdown could cause issues. Now it shouldn't...

[2016-03-02 23:09] #662 closed

[2016-03-03 04:37] cesarbs commented on #667
I found the problem.

The way things are right now, the slabs should be properly disposed i.e. `IsActive` is set to `false`:

1) The tests call `TestServer.Dispose`.
2) `TestServer.Dispose` calls `_server.Dispose`. `_server` is a `Disposable`.
3) `Disposable` will call its action, which is `KestrelEngine.DisposeListeners`.
4) As each `Listener` is disposed, its `MemoryPool2` is disposed.
5) As eac

[2016-03-03 04:52] cesarbs commented on #667
I mean, the dispose tasks are called but it seems their `Post`s end up never running.

[2016-03-03 05:00] cesarbs commented on #667
In `KestrelEngine.DisposeListeners`, if I change

    disposeTasks.Add(listener.DisposeAsync());

to:

    var task = new Task(async () => await listener.DisposeAsync());
    disposeTasks.Add(task);
    task.Start();

The listeners are disposed and the debug assertion is gone.

This makes no sense to me. Ideas?

[2016-03-03 05:06] cesarbs commented on #667
More specifically, the lambda passed to the second `PostAsync` in `Listener.Dispose` doesn't run.

[2016-03-03 05:11] cesarbs commented on #667
I removed my comment on changing how the listener dispose task is run. That doesn't really solve the issue.

Ok, so you guys suggested I dispose the slabs in `OnStop`*. The threads don't have direct access to the memory pool right now. I see two ways to expose them:

1) Add a `ListenerContext` property to `KestrelThread` and set it when creating each listener.
2) Expose the listeners from `Kestrel

[2016-03-03 05:11] endink commented on #616
@muratg it seems like fixed! thanks!

[2016-03-03 14:28] benaadams commented on #667
Does disposing the MemoryPool early cause any issues?

e.g. could `Memory.Dispose()` be moved to the top of `DisposeAsync`?

[2016-03-03 16:54] cesarbs commented on #667
@benaadams That seems to work. I was a bit uneasy about moving it earlier, but there doesn't seem to be anything that could try to allocate new memory while the server is being shutdown.

[2016-03-03 18:30] halter73 commented on #667
@benaadams @cesarbs Obstensibly the 5s timeout on listener shutdown is to give the application time to finish processing the current request. So blocks can still be leased for writing, further input on existing sockets, etc...

[2016-03-03 18:34] halter73 commented on #667
Oh, and this shows that my suggestion about checking whether `OnStopRude` was disposing sockets was actually sensible even if I forgot why :grin: It shows there wasn't a graceful shutdown and all the pools weren't likely disposed. It certainly would have been better to suggest looking at whether `Log.NotAllConnectionsClosedGracefully()` was logged though.

[2016-03-03 18:38] Haplois opened #670 "HTTP Request Limits, Error On Huge (~50MB) File Uploads"
I have an ASP .Net Core RC1 app hosted in Kestrel using IIS HttpPlatformHandler.  IIS Application Pool is configured not to run managed code, and web.config is below.

[code]
 I also, enabled managed code, and tried
[code]
with no luck.

I can't upload files bigger than 4MB.

Am I missing some thing?

P.S. I don't have any special configuration for Kestrel command is registered directly like this:

[2016-03-03 19:34] victorhurdugaci opened #671 "Running ASP.NET 5 on IIS from UNC (network share)"
From here: http://stackoverflow.com/questions/35777497/running-asp-net-5-on-iis-from-unc-network-share

[2016-03-03 19:50] #520 closed

[2016-03-03 19:56] halter73 opened #672 "Wrong HTTP version in test response"
ChunkedRequestTests.TrailingHeadersAreParsed failed with HTTP/1.0 in a response when HTTP/1.1 was expected. This could mean that SocketInput was corrupted somehow, but there are a lot of other possible causes. Test output:

    Microsoft.AspNetCore.Server.KestrelTests.ChunkedRequestTests.TrailingHeadersAreParsed(testContext: TestServiceContext { App = null, AppLifetime = LifetimeNotImplemented { A

[2016-03-03 19:59] cesarbs commented on #672
I'll look at this once I'm done with #667.

[2016-03-03 20:00] halter73 commented on #670
Can you provide logs from your application when you try and fail to upload files? http://docs.asp.net/en/latest/fundamentals/logging.html

Did you notice any exceptions surfaced in your application code? When the client failed to complete the file upload was there any error message?

It's very possible that you are running into #520 which should be fixed in rc2, but I want to make sure.

[2016-03-03 20:01] halter73 commented on #672
This is my first time seeing this so it might be hard to repro. Fortunately, you have a low powered VM that seems to help and the test that failed is pretty new, so maybe it won't be so bad. I suggest running just this test in a loop.

[2016-03-03 21:27] abrodersen opened #673 "Chrome: net::ERR_INCOMPLETE_CHUNKED_ENCODING on first Razor page load"
Kestrel Version: `1.0.0-rc2-20051`
OS: `Windows 10 64-bit`

When issuing the first `GET /` after starting Kestrel, the Razor page is rendered as HTML correctly. However, the actual request fails in Chrome with the error `net::ERR_INCOMPLETE_CHUNKED_ENCODING`. Kestrel is using chunked encoding to send the response. The `Connection` header is set to `keep-alive`. Subsequent requests to the same reso

[2016-03-03 21:31] benaadams commented on #673
What version of Kestrel are you using?

[2016-03-03 21:32] abrodersen commented on #673
1.0.0-rc2-20051

[2016-03-03 23:19] halter73 opened #674 "Log connection id in KestrelTrace.ApplicationError"
This should be fixed now since it doesn't look like #640 will be addressed in the short term.

[2016-03-04 00:58] halter73 commented on #667
:shipit:

[2016-03-04 03:19] halter73 commented on #673
Were you able to reproduce this with one of your sample projects? If so, which one? If not, can you provide a sample that demonstrates this issue?

Kestrel has a few automated tests that verify that the first auto chunked response for a given connection properly ends with `0\r\n\r\n`.

Since you mentioned that it is the first request to a given resource, not the first request to a given connection

[2016-03-04 04:57] cesarbs commented on #667
@halter73 I think you meant to comment that on #669 :grin:

[2016-03-04 07:58] #667 closed

[2016-03-04 11:59] Haplois commented on #670
Thanks for your help @halter73, it seems that I was encountering that bug.

[2016-03-04 11:59] #670 closed

[2016-03-04 17:57] muratg commented on #640
Backlogging for now, we'll bring it back as needed.

[2016-03-04 20:33] cesarbs opened #677 "Don't disable tests on Linux or OSX just because they don't run on Mono"
e.g. here https://github.com/aspnet/KestrelHttpServer/blob/99ccae64eb404377d5c5ba8e65971f7314d120dd/test/Microsoft.AspNetCore.Server.KestrelTests/HttpsConnectionFilterTests.cs#L190

If it's a Mono-only issue we should be using `FrameworkSkipCondition`.

[2016-03-04 21:35] cesarbs commented on #672
I'm not seeing the exact same thing but I'm getting the failure below. Very inconsistent though. Need to run on a loop for several minutes until I hit it.

    Microsoft.AspNetCore.Server.KestrelTests.ChunkedRequestTests.TrailingHeadersAreParsed(testContext: TestServiceContext { App = null, AppLifetime = LifetimeNotImplemented { ApplicationStarted = (throws NotImplementedException), ApplicationSto

[2016-03-05 17:24] benaadams commented on #672
Output errors written to TestLogger to console?

[2016-03-06 05:47] cesarbs commented on #672
?

[2016-03-06 06:06] benaadams commented on #672
TestLogger doesn't actually output any errors; if you enable output to console (think its either just commented out or you just need to add a one liner) then it will normally output something interesting related to why the test goes wrong

[2016-03-07 01:02] YangliAtGitHub commented on #73
+1

[2016-03-08 19:07] halter73 opened #679 "Use IOCP on secondary Windows threads"
@geoffkizer did some perf analysis and discovered that Kestrel's secondary threads weren't using IOCP on Windows. I [brought this up on the libuv mailing list](https://groups.google.com/forum/#!topic/libuv/5DAW1hViw0Q). Here is an excerpt of what I wrote:

    int uv_tcp_write(uv_loop_t* loop,
                     uv_write_t* req,
                     uv_tcp_t* handle,
                     const u

[2016-03-08 19:29] benaadams commented on #679
Also Windows Server 2012 R2

[2016-03-08 23:20] moozzyk commented on #651
This is fixed with 5f6293110cbde66efd1c73572882206fd1d8af3a. However this https://github.com/dotnet/corefx/issues/6756 needs to be fixed for the change to work end to end on ubuntu

[2016-03-09 16:09] stefangordon commented on #618
wow thank you, I was stuck on this for days.

[2016-03-09 17:26] stefangordon opened #682 "Use RC2 on Azure Websites?"
I'm using RC2 and unsure how to get it to deploy successfully to Azure websites as it uses the wrong feed.  Ideas?

Global.json
[code]

project.json
[code]

NuGet.Config
[code]

And Azure Websites deployment failure after deploying via github:

[code]

[2016-03-09 17:49] stefangordon commented on #682
Adding
[code]
to the top of the deploy.cmd seems to have gotten past that - so I assume putting a custom deploy.cmd in the project root will work, although unsure if this is the proper solution.

[2016-03-09 18:12] stefangordon commented on #682
Fixed with UseIISPlatformHandler in startup.

[2016-03-09 18:12] #682 closed

[2016-03-09 19:11] cesarbs opened #683 "Improve request line parsing"
Check for:

- Invalid/missing method
- Invalid/missing target
- Invalid/missing HTTP version
- Missing CR LF

Should return 400 for all except invalid HTTP version, which should be 505 (https://github.com/aspnet/KestrelHttpServer/issues/712).

[2016-03-09 20:12] #637 closed

[2016-03-09 20:24] cesarbs commented on #663
@VanCoding any luck after running a full build from the root?

[2016-03-09 20:29] cesarbs commented on #666
So for a request for a full URL we should check if it matches one of the addresses Kestrel is listening on, otherwise we should fail. Would a 400 be appropriate for this situation?

[2016-03-09 20:32] Tratcher commented on #666
I don't think we're ready for that level of validation. We don't check the host header either. Just ignore the scheme and host.

[2016-03-09 21:04] VanCoding commented on #663
@cesarbs yes, indeed. I'm currently playing around with it. It works pretty good.

Sadly, neither Visual Studio, nor VS Code don't seem to use the `dotnet` command yet. Everytime I `dotnet restore` VS Code wants to do its own restore again. If i let it do it, `dotnet build` does not work anymore. If I don't VS Code marks half of my code as errorous, but  building works.

But that's another topic t

[2016-03-09 21:26] cesarbs commented on #663
Cool. I'll close this issue then.

[2016-03-09 21:26] #663 closed

[2016-03-09 23:15] tstar opened #684 "Error -4082 EBUSY resource busy or locked"
I have minimal MVC application with one slow method Index in Home controller. I start dnx web and in browser run http://localhost:5000/. Then I press and hold F5 button for refresh page. After some time my page is not responded. After I trying to stop Kestrel via Ctrl+C I get error:
[code]
My Index method:
[code]
My project.json file:
[code]

[2016-03-09 23:23] #672 closed

[2016-03-09 23:29] benaadams commented on #684
Try with `await Task.Delay(200);` rather than `Thread.Sleep(200);` and see what the results are. The latter is locking up a thread for every request which would be the equivalent of a heavy cpu bound task; otherwise it should be async.

[2016-03-09 23:39] tstar commented on #684
I'll try. But I delay introduced to mimic the actual code from my project, which is carried out quickly, but leads to the same error with frequent refresh the page.

[2016-03-09 23:47] tstar commented on #684
I Tried. Anyway, the problem persists. The new code of my method:
[code]
Is it correct?

[2016-03-09 23:52] halter73 commented on #684
This is an interesting issue. It seems to me that Connection.Abort() deadlocked waiting on the `_stateLock` on a uv thread.

I don't understand how this could happen, since the `_stateLock` should never be acquired for long and user code should run with the lock.

@tstar If you're using VS, can you [disable Just My Code](https://msdn.microsoft.com/en-us/library/dn457346.aspx), attach the debugger

[2016-03-09 23:53] halter73 commented on #684
@tstar Your new code is what @benaadams was suggesting, but I would like you to attach the debugger with the old code if the issue doesn't reproduce with `Task.Delay`.

[2016-03-10 00:07] tstar commented on #684
Apparently I have no experience of how to attach a debugger to the Kestrel. If I just run my code from visual studio debug mode, my web page also stop responding, and Kestrel console does not respond to Ctrl + C. Sorry.

[2016-03-10 00:18] tstar commented on #684
If I start MVC application via IIS Express command, then web page frozen without any errors, because in this mode I haven't Kestrel console. I think, in this mode my site also work on Kestrel, because in Startup.cs I have code:
[code]
I'm right?

[2016-03-10 00:54] halter73 commented on #684
@tstar your description was enough to allow me to reproduce the issue and I now see the deadlock that is causing this. Great find! Thanks.

![image](https://cloud.githubusercontent.com/assets/54385/13655670/fe6ef802-e615-11e5-8624-b77f20939b0f.png)

The deadlock occurs because `Connection.Abort` is called with the `SocketOutput._contextLock` acquired in `SocketOutput.OnWriteCompleted`. At the same

[2016-03-10 01:05] benaadams commented on #684
Parallel Stacks? What is this witchery!

[2016-03-10 01:55] tobz commented on #341
Just for anyone that stumbles on this issue: I'm also seeing this behavior when using the webpack-dev-server/hot reload setup proxying to Kestrel.  Talking straight to Kestrel works as intended.  I haven't yet investigated if a temporary workaround exists or not.

[2016-03-10 07:01] SajayAntony commented on #650
This has currently been resolved - CLR needs to identify if there are issues with processor group affinity.

[2016-03-10 07:01] #650 closed

[2016-03-10 11:19] tobz commented on #341
Spent a little time looking at it, and forcing `node-http-proxy` to send `Connection: keep-alive` to Kestrel seems to do the trick.  Here's the `proxy` section of my webpack-dev-server configuration:

    devServer: {
        proxy: {
            '*': {
                target: 'http://localhost:5000/',
                secure: false,
                changeOrigin: true,
                headers: {

[2016-03-10 13:07] eriksendc opened #685 "Error starting web application after deploying a build built by Visual Studio Team Services"
Hi All,

Sorry in advance if I've posted this in the wrong place. If you think I have just let me know.

I've got an ASP.NET 5 (rc1-final) web application whose code I keep in Visual Studio Team Services (VSTS). I recently got VSTS builds working (I borrowed the build-related info from this article: https://msdn.microsoft.com/en-us/library/vs/alm/build/azure/deploy-aspnet5).

Once a VSTS build is

[2016-03-10 15:43] Tratcher commented on #685
Before you extract the zip check it's properties and see if it is marked as "blocked". If so, unblock it before extracting it. This is a Windows security feature on executable internet downloads.

[2016-03-10 20:01] mikeharder opened #688 "Typo in configuration key "kestrel.shutdownTimout""
The configuration key used to set KestrelServerInformation.ShutdownTimeout has a typo.  It's named "kestrel.shutdownTimout", when it should be named "kestrel.shutdownTimeout".

[2016-03-10 20:36] cesarbs commented on #684
Moving the call to `QueueUserWorkItem` would indeed eliminate the dealock but I'm wondering about the proper way to set `_connectionState` without the lock. Setting it inside the lambda doesn't seem like the proper thing to do. Ideally I should be able to call `Interlocked.CompareExchange(ref _connectionState, ConnectionState.ToDisconnect, ConnectionState.CreatingFrame)` and if the return is `!= C

[2016-03-10 20:38] cesarbs commented on #684
Or I could `TryLock` _stateLock` and if it fails I would enqueue the work item acquiring the lock inside it.

[2016-03-10 20:44] cesarbs commented on #684
I misread what @halter73 meant. I thought he meant to `lock (_stateLock)` inside the enqueued work item, but that's clearly not it since it would cause a very obvious deadlock (`Frame.Abort` calls `ConnectionControl.End` which locks `_stateLock`). So now I know what to do :grin:

[2016-03-10 22:00] mikeharder opened #689 "Throw exception if config string cannot be parsed"
If a config string cannot be parsed, an exception should be thrown to notify the user their config is invalid.  Currently, Kestrel uses the default value if a string cannot be parsed.

[2016-03-11 06:19] halter73 opened #691 "Go back to allowing a maximum of 3 concurrent uv_write operations per connection"
In Kestrel 1.0.0-rc1 there was a [maximum of 3 ongoing uv_write operations](https://github.com/aspnet/KestrelHttpServer/blob/1.0.0-rc1/src/Microsoft.AspNet.Server.Kestrel/Http/SocketOutput.cs#L16). Now there are an unbounded number of concurrent write operations because the new `_writePending` bool is set to false before `uv_write` is even called instead of in the `OnWriteCompleted` callback [like

[2016-03-11 14:40] santos222 commented on #684
I'm getting HTTP 502.3 Bad Gateway (i have the correct Http Platform Handler installed). In the logs I see the following stack strace (towards the end I get the same error **Unhandled Exception: Microsoft.AspNet.Server.Kestrel.Networking.UvException: Error -4082 EBUSY resource busy or locked** ) Any ideas?

Hosting environment: Production
Now listening on: http://localhost:19685
Application starte

[2016-03-11 15:24] benaadams commented on #691
write's data gets appended to a memorypool block chain; thus an unlimited amount of writes coalesce to a single uv_write as it takes everything at the point its ready to write (Produce/Comsume); then the next uv_write takes everything available again.

Previously multiple outstanding writes were `ArrayBuffers` of `ArrayBuffers` and it had to maintain an record of what the data was in flight for th

[2016-03-11 15:34] benaadams commented on #691
Hmm... a better summary might be previously it was a limit on how many _requests_ to write would be outstanding to libuv; whereas now its just a hasdata flag and there is only one outstanding request to write outstanding to libuv which takes all the data in the handover to libuv and marks it as no longer having data oustanding to write.

[2016-03-11 17:19] halter73 commented on #691
@benaadams Exactly. The risk is that a lot of uv_write calls are made quickly with small buffers each time.

Theoretically, an app could make a bunch of calls to write with small buffers (so the total wouldn't exceed 64KB and causing weird to get throttled) slowly enough that the buffers don't get accumulated before the actual call to uv_write. Meanwhile the client could read the response even mor

[2016-03-11 17:21] benaadams commented on #691
You should only have one call to uv_write in the current set-up; it only makes a call if one isn't queued.

[2016-03-11 17:23] benaadams commented on #691
In the previous set up it would have multiple calls as it took the data snapshot at the time of the queue; now its the uv_write that takes the snapshot

[2016-03-11 17:44] halter73 commented on #691
With the current setup, it no longer accounts for the time the async write actually takes to complete. Before when more write data was added via WriteAsync, ScheduleWrite wouldn't be called if there were already three outstanding write callbacks. Instead, the old code would wait for the next write callback to be triggered and only *then* call ScheduleWrite if there is more data available to be wri

[2016-03-11 17:49] halter73 commented on #691
We can probably combine the bool we have currently and the _writesPending count to avoid unnecessary calls to Post before a snapshot is even taken if that's a concern.

[2016-03-11 17:51] benaadams commented on #691
Hmm... let me get back to you; just checking code

[2016-03-11 18:02] benaadams commented on #691
To be specific, you mean this interaction is bad?

https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Http/SocketOutput.cs#L188-L198
[code]
https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Http/SocketOutput.cs#L321-L347
[code]

[2016-03-11 18:12] benaadams commented on #691
i.e. you are saying the next write should happen after the `OnWriteCompleted` rather than after `_uv.write` is called and the data ownership transferred to the kernel?

[2016-03-11 18:18] halter73 commented on #691
Yep. We shouldn't allow too many concurrent write operations. I consider the write to be ongoing until the write callback is called. I don't think we need to limit it to one ongoing write at a time since that might hurt perf, but three sounds reasonable (though it's best to measure).

[2016-03-11 18:19] benaadams commented on #691
Sounds reasonable (with measure)

[2016-03-11 18:32] benaadams commented on #691
However, the completion routine is triggered after full round trip? (e.g. message delivery confirmed) So over slow links this would mean no extra data is put on the wire until delivery is confirmed?

So you may want to test with a slow round trip at TCP level (e.g. between East US and East Asia data centres)

[2016-03-11 22:58] halter73 commented on #684
@santos222 Your issue seems to have a different root cause:

    System.MissingMethodException: Method not found: 'Int32 System.Runtime.InteropServices.Marshal.SizeOf()'

It could be an issue with mismatched dependencies. I would try deleting your `~/.nuget` and `APPLOCAL/NuGet` directories and restore/build again.

[2016-03-12 08:40] cesarbs commented on #691
What if we did writes based on two factors: buffer size and time. Accumulate writes until a certain size is reached, then actually write; at the same time, set up a timer at a given interval that writes whatever is pending, which would prevent delaying responses if the app is not writing fast enough.

[2016-03-12 14:59] benaadams commented on #691
@cesarbs sounds like Nagle and Delayed Acks :bowtie: Also my websockets would hate you :worried:

I think I was wrong and the completion routine gets called after the data has been copied into the O/S buffer - so its more "this data is now unlocked", rather than delivery.

Thinking aloud... assuming every callback was instant and there were no delays in the system.

A slow client would cause the O

[2016-03-12 19:48] santos222 commented on #684
@halter73 Same problem unfortunately, after performing those steps.

[2016-03-13 06:12] cesarbs opened #693 "New ChunkedRequestTests.TrailingHeadersAreParsed failure"
Investigate:

    Microsoft.AspNetCore.Server.KestrelTests.ChunkedRequestTests.TrailingHeadersAreParsed(testContext: TestServiceContext { App = null, AppLifetime = LifetimeNotImplemented { ApplicationStarted = (throws NotImplementedException), ApplicationStopped = (throws NotImplementedException), ApplicationStopping = (throws NotImplementedException) }, DateHeaderValueManager = TestDateHeaderValu

[2016-03-13 06:13] cesarbs commented on #693
Seen on Windows and Mac. Haven't tried on Linux.

[2016-03-13 06:14] cesarbs commented on #693
Same test was failing on #672.

[2016-03-13 06:16] cesarbs commented on #684
@santos222 Can you share more details about your setup? Are you using DNX or dotnet? Which version?

[2016-03-13 06:17] cesarbs commented on #684
@santos222 Please open a new issue and share your details there. I'm closing this one since the change to fix it has been merged.

[2016-03-13 06:17] #684 closed

[2016-03-13 23:44] eriksendc commented on #685
Thanks, @Tratcher. In fact I was only testing things with a drop.zip that I manually downloaded from VSTS. I now have built a small client that pulls a specific build's drop.zip down via the VSTS REST Api, and when I write the zip file to disk myself the file isn't "blocked" to begin with. So when Chrome downloads the file for you then the the "blocked" status is set for the file.

Anyways, I did

[2016-03-13 23:44] #685 closed

[2016-03-14 03:44] halter73 commented on #693
Can you link to a Travis/AppVeyor test run were it failed in this way?

[2016-03-14 09:08] santos222 opened #694 "HTTP 502.3 Bad Gateway / Error -4082 EBUSY resource busy or locked / Method not found: 'Int32 System.Runtime.InteropServices.Marshal.SizeOf()"
I'm getting HTTP 502.3 Bad Gateway (i have the correct Http Platform Handler installed). In the logs I see the following stack strace (towards the end I get the same error Unhandled Exception: Microsoft.AspNet.Server.Kestrel.Networking.UvException: Error -4082 EBUSY resource busy or locked ).

This happens only when I deploy to a staging/prod Windows Server 2008 R2 - I can debug ok using IISExpres

[2016-03-14 09:09] santos222 commented on #684
@cesarbs - Thanks, here it is: [](https://github.com/aspnet/KestrelHttpServer/issues/694)

[2016-03-14 15:49] benaadams commented on #694
package conflicts? You are using `Microsoft.AspNet.Server.Kestrel` does that mean you are using the RC1 feeds from nuget rather than the myget feeds? (or are using specific RC1 versions)

[2016-03-14 15:57] rynowak opened #695 "Allocations of Frame(Request|Response)Headers"
These allocs started showing up recently and it's a bit suspicious

![image](https://cloud.githubusercontent.com/assets/1430011/13750415/97fd42bc-e9c2-11e5-924e-1818800c255a.png)

This is only 3002 requests being profiled, notice that these counts are twice that.

[2016-03-14 16:00] benaadams commented on #695
by design see: https://github.com/aspnet/Performance/tree/dev/testapp/PooledKestrel to get rid of them

[2016-03-14 16:01] benaadams commented on #695
e.g. is controlled by config setting

[2016-03-14 16:05] benaadams commented on #695
e.g. is controlled by config setting

A lot of proxy/gateways re-use the connections for different requests from their clients; so a kestrel connection is not necessarily unique to a "into gateway" connection; so the connection can be shared between users - so a mechanism to control some of what is reused on the connection has been introduced; headers being one of these.

[2016-03-14 17:04] benaadams commented on #695
Exact PR is https://github.com/aspnet/KestrelHttpServer/pull/608

[2016-03-14 18:12] Tratcher commented on #694
Are you sure you installed .NET 4.5.1? You may just have 4.5.0. https://msdn.microsoft.com/en-us/library/system.runtime.interopservices.marshal.sizeof(v=vs.110).aspx

[2016-03-14 18:16] cesarbs commented on #693
https://ci.appveyor.com/project/aspnetci/kestrelhttpserver/build/1.0.2478

[2016-03-14 18:19] grennis commented on #468
+1 hit this issue and fixed by proxy_set_header Connection keep-alive

[2016-03-14 18:31] rynowak commented on #695
So why does that result in 2 allocations of `FrameRequestHeaders` per request?

[2016-03-14 18:46] benaadams commented on #695
Ahh, fair point; let me look

[2016-03-14 19:17] halter73 opened #696 "Make Kestrel work automatically when installed into a .csproj project"
Right now Kestrel breaks when used from a classic .NET project using MSBuild, because libuv.dll is not automatically copied to the build's output directory. This can be worked around by manually adding libuv to the referencing project and configuring it to be copied. [NuGet can do this for us though](https://docs.nuget.org/release-notes/nuget-2.5#automatic-import-of-msbuild-targets-and-props-files

[2016-03-14 19:22] halter73 commented on #696
@bricelam Does .NET automatically load DLLs from `./x86/` or `./x64/` based on the bitness of the loading process?

[2016-03-14 19:23] natemcmaster commented on #696
NB you'll need to manually find libuv.dll as we do in SQLite. https://github.com/aspnet/Microsoft.Data.Sqlite/blob/6a3d31d68f2da69b2561643bfec978847a4d5a5e/src/Microsoft.Data.Sqlite/Utilities/NativeLibraryLoader.cs#L52

[2016-03-14 19:28] santos222 commented on #694
@Tratcher Good spot, that was it. Thanks for your help everyone, I will close the issue.

[2016-03-14 19:28] #694 closed

[2016-03-14 19:30] halter73 commented on #696
Oh... That explains why the subfolder thing works. Kestrel used to do manually load libuv.dll/so/dylib, but we really want to avoid that.

`#if NET451` doesn't seem to be the perfect condition for calling `NativeLibraryLoader.TryLoad` since it can still be true for non-msbuild projects. I guess that's why there's the `IsLoaded()` check. This definitely seems like a hack.

Do you know of any NuGet

[2016-03-14 19:40] natemcmaster commented on #696
I believe this is why the include is conditional on "project.json".
[code]

Not AFAIK

[2016-03-14 19:53] moozzyk commented on #696
I guess this is similar to what SignalR-Client-Cpp does: https://github.com/aspnet/SignalR-Client-Cpp/blob/dev/NuGet/Microsoft.AspNet.SignalR.Client.Cpp.WinDesktop.targets.template#L45-L46

[2016-03-14 20:15] muratg commented on #108
If folks are still hitting this, please either re-activate or file another issue.

[2016-03-14 20:15] #108 closed

[2016-03-14 20:41] muratg commented on #673
@abrodersen If you still have this issue, please either re-activate or file another issue with a minimal repro.

[2016-03-14 20:41] #673 closed

[2016-03-14 20:47] muratg commented on #611
Closing this one (#485)

[2016-03-14 20:48] #611 closed

[2016-03-14 20:49] muratg commented on #601
Dup of #406

[2016-03-14 20:49] #601 closed

[2016-03-14 20:50] muratg commented on #369
@danroth27 Could you track documentation here?

[2016-03-14 22:16] halter73 commented on #673
@abrodersen If you are running behind nginx you could be running into #406 If so, the workaround for rc1 is to add `proxy_http_version 1.1;` to your nginx config.

[2016-03-14 22:33] natemcmaster commented on #696
In the meantime, users can workaround this manually using MSBuild. Here is the snipping in my csproj:

[code]

[2016-03-14 23:20] danroth27 commented on #369
https://github.com/aspnet/Docs/issues/1095

[2016-03-14 23:20] #369 closed

[2016-03-14 23:26] moozzyk commented on #651
https://github.com/dotnet/corefx/commit/93609c50d3a68b8eed939c1e5252ab7230f2070d - closing.

[2016-03-14 23:26] #651 closed

[2016-03-15 03:28] cesarbs commented on #688
Fix will be piggybacked in #675.

[2016-03-15 16:53] Tratcher opened #698 "Hosting problems on azure"
_From @vsotov on March 15, 2016 16:39_

I've deployed project to Azure App Service, everything went ok, except after some random amount of time kestrel seems to loose requests.

In logs I see something like
info: Microsoft.AspNet.Hosting.Internal.HostingEngine[1]
      Request starting HTTP/1.1 GET http://renta-api.azurewebsites.net/projects

without any continuation. Than after some time everythi

[2016-03-15 19:21] halter73 opened #699 "Return unused block from SocketInput/Output when connection is idle"
`SocketInput` and `SocketOutput` both have `_head` and `_tail` fields referencing `MemoryPoolBlock`s. In both cases, the bytes between `_head` and `_tail` haven't been consumed.

When all the bytes are fully consumed `_head == _tail` and the `Start` and `End` properties of the block are also equal. Still the fully consumed block is never returned to the `MemoryPool` until the connection is closed.

[2016-03-15 19:48] SajayAntony commented on #699
This works for high high throughput and pipelined requests. I'm trying to understand the memory impact for large set of non-idle connection. Do we need to configure receiveBufferSize and SendBufferSize on these sockets?

[2016-03-16 16:37] vsotov commented on #698
Tried to deploy the same solution using dnx46 or dnxcore50 - no difference. Really seems like a problem with IIS <> Kestrel communication problem

[2016-03-16 17:12] muratg commented on #698
@vsotov Did you see any exceptions like the following in your logs?
[code]

This is possibly a dup of https://github.com/aspnet/KestrelHttpServer/issues/582

[2016-03-16 17:49] vsotov commented on #698
No, I searched through logs and found this exception
[code]

[2016-03-16 19:00] taoliseki commented on #699
The default value for Socket.ReceiveBufferSize and Socket.SendBufferSize is 8KB. That can explain why we saw 16-17 KB memory usage per connection with Kestrel.

For now I am not too concerned about the memory usage when the connections are idle. We are more interested to bring down the memory usage per connection (active or not). That's why Sajay mentioned the buffer size config.

A good buffer si

[2016-03-16 19:31] taoliseki commented on #699
Actually reducing the memory usage for idle connections may be a good idea to reduce memory usage. In my test, I was making each of 60k connection idle for 15 sec to mimic a real scenario (each wcat client sleeps 10 sec between 2 consecutive requests). As a result, at any point of time only ~ 1k connections are active (with a request on the fly) and most of the connections are idle. If we are able

[2016-03-17 06:49] yuwaMSFT opened #700 "Kestrel server hang due to Deadlock on disconnect handling"
I was running a stress test for simple POST request with 100 clients. Hit the deadlock in several minutes. What happened would be the racing in the two call back threads:
Thread 6 got signal of disconnection, and started to abort the current connection (holding lock on content, but waiting lock on connection state obj); meanwhile thread 8 was executing writeAsync callback and saw error, and starte

[2016-03-17 14:48] halter73 commented on #700
This is a dupe of #684 (You can see the same stacks [here](https://github.com/aspnet/KestrelHttpServer/issues/684#issuecomment-194594910) which was fixed by #690.

@cesarbs Can probably help find the first build number with the fix in.

[2016-03-17 14:48] #700 closed

[2016-03-17 18:52] victorhurdugaci opened #701 "Make the repo build without the src folder"
On the CI we want to run tests without src. Tests will get recompiled but the product will be restored from packages.

This repo fails because:

[code]

Once you fix this, please update `KOREBUILD_NOSRC_EXCLUDE` on the CI

[2016-03-18 05:53] halter73 opened #704 "Race when consuming start line and headers sent immediately before client FIN"
Example test failure due to the bug:

    [Test collection for Microsoft.AspNetCore.Server.KestrelTests.EngineTests (1)] Microsoft.AspNetCore.Server.KestrelTests.EngineTests.ZeroContentLengthSetAutomaticallyAfterNoWrites(testContext: TestServiceContext { App = null, AppLifetime = LifetimeNotImplemented { ApplicationStarted = (throws NotImplementedException), ApplicationStopped = (throws NotImpleme

[2016-03-18 20:27] #701 closed

[2016-03-21 07:00] nawfalhasan commented on #73
+1

[2016-03-21 07:11] glen-84 commented on #73
@nawfalhasan You can use [reactions](https://github.com/blog/2119-add-reactions-to-pull-requests-issues-and-comments) now, instead of +1 comments.

[2016-03-21 17:02] sivagms opened #707 "Reliability: NullReferenceException - Linux-HelloWorldMVC crash after few hours of test run."
HelloWorldMVC App |||
-------------------|------------------------|--------------------------------------
 Azure A2 VM | 80% CPU Usage | 300 concurrent connections

5 hours of into the reliability test run  The app crashes.

[code]

[2016-03-21 23:33] ciel opened #708 "all requests return a 404 with latest build"
Using the latest (few) builds of kestrel, I'm having an issue where a previously functioning app will now not yield anything but a 404 on any web request - using the following `project.json`...

[code]

with a simple configuration setup in my `Startup.cs` file...

[code]

Has something changed lately that would be causing this kind of thing?

[2016-03-21 23:43] cesarbs commented on #707
How could I run the test myself? I don't think this would happen exclusively on Linux. If we can repro on Windows it will be much easier to debug.

[2016-03-22 03:35] Tratcher commented on #708
Are you running kestrel directly or are you running it in IIS/Express?

[2016-03-22 13:41] ciel commented on #708
I am running Kestrel directly (I *think*). I'm not loading up IIS, I don't even have full IIS installed, just IIS Express.

But on that note, I got this solved through two solid days of extremely frustrating trial and error. I'm sharing my story in hopes that others will not experience the same problem.

First of all, I've tried to be diligent about keeping the `dot net cli` up to date. Every morn

[2016-03-22 21:59] Tratcher opened #709 "Dealing with OPTIONS * requests"
Today Kestrel will take the \* from an OPTIONS \* request and put it in the Path. However, \* isn't a path and PathString throws.

When Kestrel sees a lone \* in the request line it should leave both Path and PathBase empty.

https://github.com/aspnet/ServerTests/issues/20#issuecomment-200049192

[2016-03-23 01:12] #677 closed

[2016-03-23 02:25] halter73 commented on #704
This fix isn't complete. There are currently a bunch of other places RemoteIntakeFin is checked that is vulnerable to the same race.

[2016-03-23 03:01] cesarbs commented on #704
Oops :grin:

[2016-03-23 07:19] ayende opened #710 "Code doesn't compile"
Using .NET Command Line Tools (1.0.0-beta-001598)

Running build.cmd

[code]

[2016-03-23 16:37] Tratcher commented on #710
https://github.com/aspnet/KestrelHttpServer/commit/f13c418a65db4426ebf265fa7eb34fe741b4163b

It's already been 'fixed', but we're having build issues and have not been able to update myget all week.

[2016-03-23 21:37] cesarbs commented on #636
@amcdnl Have you tried this with the latest Kestrel from the dev feed?

[2016-03-23 22:04] amcdnl commented on #636
@cesarbs I have not, I actually dropped browsersync recently too.

[2016-03-24 19:45] madelson commented on #622
@halter73 how do you send response trailing headers using existing APIs?

[2016-03-24 22:53] cesarbs commented on #666
We've decided this should be handled after RC2, since it's an edge case. We can more adequately handle this scenario, as well as #709, once we implement #594.

[2016-03-24 22:57] halter73 commented on #622
@madelson I'm not aware of any way to do this using HttpClient APIs. You would probably have to build something on raw sockets.

[2016-03-24 23:02] cesarbs opened #712 "Send 505 response for invalid/unsupported HTTP versions"

[2016-03-25 18:13] muratg commented on #582
cc @moozzyk

[2016-03-26 08:39] davidfowl opened #713 "Consider adding UseKestrel extension method to IWebHostBuilder"
A comment from @NickCraver here https://github.com/aspnet/IISIntegration/issues/105#issuecomment-201623725. It would be nice if we started to follow this pattern. It would allow servers to expose strongly typed extension methods (similar to our middleware pattern).

[2016-03-26 08:39] davidfowl commented on #713
/cc @DamianEdwards @Tratcher

[2016-03-26 11:41] ArieJones commented on #713
+1 on this as it does feel very unnatural passing a string to .UseServer()

[2016-03-26 15:57] Tratcher commented on #713
Do it.

Should there also be an overload that takes some ketrel Options / configureOptions and registers them in DI so they can be injected into the ServerFactory? Most of IKestrelServerInformation would qualify.

[2016-03-26 16:54] davidfowl commented on #713
@Tratcher I was thinking about that as well. It would be a cleaner way to configure the server settings.

[code]

[code]

[2016-03-26 16:55] davidfowl commented on #713
/cc @muratg @Eilon

[2016-03-26 17:00] smbecker commented on #713
Isn't options.UseKestrelHttps redundant since you are inside the UseKestrel configure block?

[2016-03-26 17:14] davidfowl commented on #713
@smbecker Fixed

[2016-03-26 21:03] Eilon commented on #713
Looks nice to me.

[2016-03-26 23:50] davidfowl commented on #713
We should also remove these as a result of this:

https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel.Https/HttpsApplicationBuilderExtensions.cs

It clears up the fact that these aren't actually pieces of middleware but server configuration.

[2016-03-28 11:16] muratg commented on #713
Putting it optimistically in RC2.

[2016-03-29 18:40] SajayAntony opened #714 "SSL cannot be enabled in Kestrel with CoreCLR"
Currently cannot run the sample most likely due to a package mismatch.

[code]

To unblock at this point we need to use - `         "System.Security.Cryptography.X509Certificates": "4.0.0-*"`

[code]

/cc @halter73 @cesarbs

[2016-03-29 21:42] #714 closed

[2016-03-30 15:02] rynowak commented on #695
Any updates here? this is a pretty significant source of allocations

[2016-03-30 18:13] sivagms commented on #707
Not sure why, but this doesn't repro on Windows.
On Linux, Run HelloWorldMVC for more that 8 hours and you'll see the crash..

[2016-03-30 18:29] #674 closed

[2016-03-30 18:30] #688 closed

[2016-03-30 18:34] benaadams commented on #695
Doing some Build stuff atm, will have to wait till next week for me to look at it - that work for you?

[2016-03-30 19:35] smbecker commented on #713
Should this issue be closed yet since the pull request that was merged only included the no-args extension method and didn't include the configure options overload?

[2016-03-30 19:36] mikeharder commented on #713
You're correct.  Leaving open for the options overload.

[2016-03-30 20:58] rynowak commented on #695
It would be great to have your help, but I'm sure there are other people who can investigate as well :sunglasses:

@muratg - possible to have someone look at this for RC2?

[2016-03-30 21:46] muratg commented on #695
@mikeharder Do you have some time to look into this?

[2016-03-31 16:57] cesarbs commented on #582
We have identified this is an Azure sandbox issue. It can be reproduced by creating a socket, duplicating it and setting the duplicate to be non-blocking:

    var socket = new Socket(AddressFamily.InterNetwork, SocketType.Stream, ProtocolType.Tcp);
    var socketInfo = socket.DuplicateAndClose(Process.GetCurrentProcess().Id);
    var duplicate = new Socket(socketInfo);
    duplicate.Blocking = fa

[2016-03-31 18:12] cesarbs commented on #693
Not seeing this anymore.

[2016-03-31 18:12] #693 closed

[2016-04-01 00:36] #695 closed

[2016-04-01 01:25] mikeharder opened #720 "Add IWebHostBuilder.UseKestrel(options) overload to configure Kestrel"
Copied from #713:

[code]

We should also remove these as a result of this:

https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel.Https/HttpsApplicationBuilderExtensions.cs

It clears up the fact that these aren't actually pieces of middleware but server configuration.

[2016-04-01 01:26] mikeharder commented on #713
Created #720 to track configure options overload, and closing this issue.

[2016-04-01 01:26] #713 closed

[2016-04-01 22:25] sivagms opened #723 "Reliability: Linux-HelloWorldMVC crash in few minutes of test run"
HelloWorldMVC App |||
-------------------|------------------------|--------------------------------------
 Azure A2 VM | 80% CPU Usage | 300 concurrent connections

4 hours of into the reliability test run  The app crashes.

Unhandled Exception: System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is corrupt.
   at Microsoft.As

[2016-04-01 22:29] muratg commented on #582
We'll close once we verify Azure fix.

[2016-04-01 22:37] cesarbs commented on #723
Is it 4 hours or a few minutes?

[2016-04-01 23:15] sivagms commented on #707
This seems to be showing up when running on WorkStation GC

[2016-04-02 00:42] sivagms commented on #723
it used to crash after 4 hours, but now with workstation GC it crashed within few mins

[2016-04-02 12:06] larswise opened #724 "502 when hosting a managed WebApi site in IIS as a sub-app under a unmanaged site running on kestrel"
When hosting a asp.net mvc 6 site in iis, running kestrel, with a sub app below running in managed mode the sub app fails with a 502 - Web server received an invalid response while acting as a gateway or proxy server.

Structure:
Default Web site -> (SubApp) ASPNETMVC6/Kestrel, Unmanaged -> (SubSubApp) WebApi .NET 4.6 Managed

Don't know if this is by design but this setup works when all app-pools

[2016-04-02 12:25] larswise commented on #724
<system.webServer>
    <handlers>
      <remove name="httpPlatformHandler"/>
on the webapi site did not seem to solve it.

[2016-04-02 15:33] Tratcher commented on #724
This issue was moved to aspnet/IISIntegration#113

[2016-04-02 15:33] #724 closed

[2016-04-02 16:42] MarkPieszak commented on #636
@amcdnl I recently had to give up on this (for the time being as well).
Somehow getting webpack with browserSync & Kestrel to play together seems impossible... :(

I'm guessing it's because Kestrel & Node just don't play well together yet??

[2016-04-04 07:42] davidfowl opened #725 "Remove the thread.Abort on the kestrel thread"
https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Infrastructure/KestrelThread.cs#L120

We should try to avoid different behavior on .NET Core vs .NET Framework where possible. What happens on .NET Core when the timeout elapses and the UV thread still hasn't stopped running?

/cc @halter73 @cesarbs

[2016-04-04 13:15] amcdnl commented on #636
@MarkPieszak you can use weblistener. Its not just Node, I tried nginx too and had same issue. Its basically anything other than a browser ( proxy in these cases ) receiving the requests. This is claimed to be fixed in latest but have not personally tried.

[2016-04-04 13:28] MarkPieszak commented on #636
How do you set up weblistener in .NET core? I see the options for IISExpress & Web (kestrel) but nothing for weblistener.

Oh I'll have to try it again today to see if it's actually fixed!

[2016-04-04 14:04] amcdnl commented on #636
In Project.json

[code]

[2016-04-04 14:05] MarkPieszak commented on #636
Oh excellent, so it all works with that? That's amazing I'll just use that for the time being then. :)
Thanks @amcdnl

[2016-04-04 18:10] benaadams commented on #725
Meh, can just drop these; the threads are background so they will just die anyway

[2016-04-05 05:42] DamianEdwards commented on #720
YES PLS RIGHT NOW LOVE IT :shipit:

[2016-04-05 06:46] davidfowl commented on #720
I did a test implementation and there are some problems around extension methods that require resolved services to configure. `UseConnectionLogging()` requires an `ILoggerFactory`and `UseHttps()` and requires the base path to the x509cert.

[2016-04-05 13:01] gujunxiong opened #728 "System.Net.Sockets.SocketException: Could not resolve host 'localhost'"
[code]

.net core rc1 update1
kill dnx process, and re-execute the dnx Web is solved

[2016-04-05 15:50] muratg commented on #707
@sivagms Let us know if it repros with server GC.

[2016-04-05 15:52] muratg commented on #723
@cesarbs let's investigate. We may need to move to 1.0.0, but it would be good to have a look at it now.

@sivagms Do you get the same crash with workstation GC and server GC (but with one happening much quicker?)

[2016-04-05 16:29] Tratcher commented on #728
I don't see what this has to do with Kestrel. Your application threw an exception while connecting to Redis and Kestrel caught it.

[2016-04-05 16:36] sivagms commented on #723
I didn't see the crash with Server GC

[2016-04-05 16:39] muratg commented on #723
OK, cool. I was under the impression that it crashed also on Server GC but it took a longer time.

Punting further investigation to 1.0.0.

[2016-04-05 18:53] #704 closed

[2016-04-05 19:05] halter73 commented on #621
This is a dupe of #723 or vice versa. Should I close this since more recent discussion has happened on the other issue?

[2016-04-05 19:05] #621 closed

[2016-04-05 19:21] #728 closed

[2016-04-05 19:43] muratg commented on #691
Putting this in 1.0.0 to continue discussion post RC1.

[2016-04-05 19:44] muratg commented on #699
Let's consider this post RC2.

[2016-04-05 19:45] muratg commented on #710
@ayende please reactivate/file another issue if the recent aspnetvnext packages have the same issue.

[2016-04-05 19:45] #710 closed

[2016-04-05 20:53] MarkPieszak opened #729 "Kestrel doesn't run when Webpack-dev-server is used with the Task Runner"
So I'm trying to get webpack to load up the dev-server (to get Hot module loading / etc going), and once that Task is "running" it basically stops the rest of the process.

Not until that Task is stopped (pushing the X), then Kestrel web server finally opens up.

---------

*The long details:*

I have it loading up StaticFiles & DefaultFiles, all of that is working fine.

    app.UseDefaultFiles()

[2016-04-06 00:00] muratg opened #730 "Include libuv in shared runtime instead of Kestrel packages"
_From @muratg on April 5, 2016 22:8_

We need to
- Make libuv a Kestrel dependency (instead of including it IN the package)
- Include the libuv package in shared runtime.

Benefits:
- Being able to service libuv without touching Kestrel
- Clean up the kestrel dependency graph
- Simplify project-to-project references (where you have to include libuv-build package in the project currently)
- Much sm

[2016-04-06 00:00] muratg commented on #730
_From @halter73 on April 5, 2016 22:28_

@weshaggard This should be tracking the creation of the libuv package.

@muratg Is there a reason we're tracking this in a private repo? I was going to link to it from https://github.com/dotnet/cli/issues/2277

[2016-04-06 03:36] kjbetz commented on #216
I just experienced this issue. Brought a project over to a new to me Mac OS X machine. This project previously has been running on another Mac OS X machine, and 4 Windows 7 machines. I believe I set up everything correctly, following the newest instructions in the docs.

Ran dnu restore multiple times. Making sure I deleted the project.lock.json file a few times.

I finally copied the `~/.dnx/pack

[2016-04-06 04:50] cesarbs commented on #725
@benaadams Agreed. I had thought something similar right when I started working on Kestrel, but thought there was an important reason for those `Abort`s

[2016-04-06 04:51] cesarbs commented on #723
@sivagms How long did you run with the server GC?

[2016-04-06 04:51] benaadams commented on #725
@cesarbs wasn't till 19th Feb they went to background mode https://github.com/aspnet/KestrelHttpServer/pull/646

[2016-04-06 04:52] cesarbs commented on #725
@benaadams Ah, thanks for pointing that out.

[2016-04-06 05:04] cesarbs commented on #729
Are you using https://github.com/webpack/webpack-dev-server?

[2016-04-06 05:05] cesarbs commented on #729
Can you share more details on how you're trying to run Kestrel via webpack?

[2016-04-06 05:07] sivagms commented on #723
24 hours and no crash.

[2016-04-06 07:26] xeoneux opened #732 "Unable to run server after restore"
I'm receiving the following error using `CoreCLR 1.0.0-rc1-update2 x64` on Ubuntu 14.04:
[code]

[2016-04-06 07:37] xeoneux commented on #732
Solved by building `libuv`:
[code]

[2016-04-06 07:37] #732 closed

[2016-04-06 08:03] MarkPieszak commented on #729
Well right now I have the project opening `web` / kestrel instead of IIS Express.
Then in the Task Runner, I have it connected to an `npm script` "after build" that executes webpack:

    webpack --config config/webpack.dev.js --profile --hot

Which in turn fires up webpacks *devServer*

[code]

Basically it gets stuck right here ^.

In Task Runner it'll stay at "running" state, Kestrel never ends

[2016-04-06 13:16] Maksim-Volk opened #733 "Kestrel Content-Length GZip Bug"
I'm working with SOAP service.
Client sends to server header `Accept: */*` (default on linux and not default on win).

Server sends response with:
[code]
Here comes **zipped length**.
**But kestrel server sends to client unzipped response body by it's zipped length.**
So, from real body with over 5000+ length I get only 2896.
Thus, my ASP backend gets only a part of SOAP response and fails by dese

[2016-04-06 14:53] davidfowl commented on #733
Who is doing the gzipping? Can you make a repro project and put it on github?

[2016-04-06 15:46] Maksim-Volk commented on #733
Sorry, I can't share my project for security reasons.

Datasource vendor's server sends the response with gzipped message body.

Here are other headers from it:

[code]

As **temporary workaround** I've added IClientMessageInspector.BeforeSendRequest to my WCF client and manually added header **Accept-Encoding: identity** to request.
But It's not acceptable for a long period of time.

[2016-04-06 17:19] smbecker commented on #733
Maybe some background about what your trying to do or what your environment looks like would help? Are you fetching a SOAP response from a 3rd-party server and then using Kestrel to forward that response onto your clients? If that is the case, then at some point in your pipeline, someone is un-gzipping the SOAP response from the 3rd-party server and then must not be re-gzipping the response before

[2016-04-06 17:37] halter73 commented on #729
Are you running web.cmd produced by `dnu publish`? Does everything work as expected if you manually run web.cmd manually?

[2016-04-06 17:45] halter73 commented on #733
I think @smbecker is correct. Kestrel will not set the `Content-Length` header itself (except for to 0 sometimes), and it will not do any response/request decompression.

[2016-04-06 18:20] MarkPieszak commented on #729
@halter73 Yes when I run `dnx web` from command line it's fine, or if I just **remove** the npm script that starts up *webpack & dev-server*. It's strange that the script stalls the entire process, almost as if it's hijacking it. Ideally I just want webpack's devServer (for the client-side) to run simultaneously with Kestrel (for the REST Web API).

Have you guys had any luck with this at all?

[2016-04-06 18:52] halter73 commented on #729
I haven't tried the webpack dev server so I have no experience with this, but it seems unlikely to me that this is an issue with Kestrel given you description.

Are you sure that dnx is even running at all? If you replace `dnx web` with some other command, does that run?

[2016-04-06 19:17] halter73 commented on #723
This seems to be the root cause of the issue: https://github.com/dotnet/coreclr/issues/4115

[2016-04-06 21:49] #725 closed

[2016-04-06 22:56] RussKeldorph commented on #707
@muratg @sivagms @cesarbs It's conceivable that this is the same issue as #723, for which @llitchev has a fix.  If you guys have a consistent repro and can take a private coreclr binary to try, we can provide one.  This would be to done to mitigate the high latency in getting fixes through the pipeline.  However, if it's too hard to test with a private, nevermind.

[2016-04-06 23:29] sivagms commented on #707
@RussKeldorph  Please send me the private binary and instructions to use. I can try it if I see this issue again in tonight's test run

[2016-04-06 23:29] sivagms commented on #707
/cc @SajayAntony

[2016-04-06 23:57] RussKeldorph commented on #707
@llitchev Could you share out the binaries and work with @sivagms, etc. to see if your fix suppresses the repro?

[2016-04-06 23:59] LLITCHEV commented on #707
@RussKeldorph Sure. Taking it offline.

[2016-04-07 07:43] rogeralsing opened #734 "Kestrel fails to respond when used with HAProxy"
I am trying to use Asp.NET Core with Rancher Lab's docker orchestration.
If I just deploy my dockerised asp.net core container in my rancher cluster, everything works fine.
The service responds as expected.

But, if I add a Rancher load balancer (HA Proxy) infront of it.
I get the following errors when processing requests.
The request eventually goes through, but takes several seconds and there ar

[2016-04-07 07:44] Maksim-Volk commented on #733
I'm using ASP 5 solution running on Kestrel for consuming SOAP, process it and send the final response to clients.

Kestrel is not sending `Content-Length`, it can't understand it correctly.

Then who does? SOAP server (IIS) sends GZipped response and my ASP application can't understand it because of GZip.

[2016-04-07 07:52] davidfowl commented on #733
The application needs to do it. As in, some component configured in the pipeline needs to do it. Kestrel does not decompress anything.

[2016-04-07 08:02] davidfowl commented on #734
Are you using mono?

[2016-04-07 08:20] Maksim-Volk commented on #733
OK, can you please redirect me? Where can I get answer for this?
Maybe `System.ServiceModel.ClientBase` is the problem point?
I can't even catch response by using `IClientMessageInspector.AfterReceiveReply`, it fails before that.

[2016-04-07 08:31] rogeralsing commented on #734
Im using the official microsoft/aspnet docker image as my base, no (unless there is some dnx mono magic that I havent understood yet?)

[code]

(The image exists at https://hub.docker.com/r/rogeralsing/aspnetcoredemo/
And there is a GET endpoint at `/api/health` if anyone wants to try)

[2016-04-07 14:59] rogeralsing commented on #734
I found similar questions regarding HAProxy and Netty.
http://stackoverflow.com/questions/21550337/haproxy-netty-way-to-prevent-exceptions-on-connection-reset

Can this be the same problem they saw in Netty?

[2016-04-07 19:59] rvfernandes commented on #733
As you are making the call to your SOAP server? If you are using System.Net.Http.HttpClient  use parameter AutomaticDecompression = DecompressionMethods.None

var handler = new HttpClientHandler
{
    AutomaticDecompression = DecompressionMethods.None,
};
var client = new HttpClient (handler);

[2016-04-08 03:22] paralin commented on #341
Can this be fixed for real?

Nginx sends `Connection: close` because when proxying requests it's best to close the connection immediately and not keep it alive.

[2016-04-08 03:23] benaadams commented on #341
@paralin this is fixed in RC2

[2016-04-08 03:39] paralin commented on #734
Same thing in NGINX, it's already fixed, but there's been no release containing the fix.

#341

[2016-04-08 04:11] paralin commented on #341
@benaadams Any way a fix for this can be made for rc1? I don't think switching the entire stack to the AspCore dev versions is wise but I can apply a single patch to rc1.

[2016-04-08 05:01] davidfowl commented on #341
See https://github.com/aspnet/KestrelHttpServer/issues/341#issuecomment-158247405 for a workaround:

[code]

[2016-04-08 07:09] halter73 commented on #734
@paralin I think your right that this is the same issue.

@rogeralsing Can you try enabling HAProxy's [http-keep-alive option](http://cbonte.github.io/haproxy-dconv/configuration-1.5.html#option%20http-keep-alive) or using the nightly packages from the https://www.myget.org/F/aspnetcidev/api/v3/index.json NuGet feed? Doing either should fix the issue.

 Note: The [Microsoft.AspNet.\* packages have

[2016-04-08 08:41] Maksim-Volk commented on #733
No, SOAP server is not mine.
I'm generatign proxy using [this extension](https://blogs.msdn.microsoft.com/webdev/2015/12/15/wcf-connected-service-visual-studio-extension-preview-for-asp-net-5-projects/)

Them I'm creating `System.ServiceModel.ClientBase<IClientChannel>` instance and making calls to SOAP.

I want to find a solution with correct work with GZip:
- any server can use GZip, and app mus

[2016-04-08 15:59] muratg commented on #729
Putting this in 1.0.0 for further discussion.

[2016-04-08 19:50] ciel opened #735 "The trouble with libuv"
As others have experienced, I'm having trouble with a build regarding `libuv` not being found - specifically in a `net452` project. I know the new standard is `netstandard` and `netcore`, but until a critical bug is fixed in those I have no choice but to stay with `net45#`. I am trying to build the application alongside `netstandard` at the same time, so that when the critical bug is fixed I can f

[2016-04-09 09:47] rogeralsing commented on #734
Thanks, are there any pointers to how to set VS.NET up to use the new nuget feed?
just adding that to the nuget sources seems to break things, System.Threading.Task found in multiple libs etc.

[2016-04-10 03:42] andreshg112 commented on #216
The previous solution, of @kjbetz, worked perfectly for me on many Macs.
I just did:
`cp ~/.dnx/packages/Microsoft.AspNet.Server.Kestrel/1.0.0-rc1-final/runtimes/osx/native/libuv.dylib ~/.dnx/packages/Microsoft.AspNet.Server.Kestrel/1.0.0-rc1-final/lib/dnxcore50/libuv.dylib`

Then:
`dnx web`

[2016-04-11 06:07] omuleanu commented on #299
I'm also getting this in rc1-final while debugging,
"An exception of type 'Microsoft.AspNet.Server.Kestrel.Networking.UvException' occurred in mscorlib.dll but was not handled in user code

Additional information: Error -4077 ECONNRESET connection reset by peer"
on line `writer.Write(str)` in WriteTo method, custom helper, implements IHtmlContent

[2016-04-11 15:59] muratg commented on #735
@ciel could you try `win7-x64` as the runtime?

[2016-04-11 20:38] spboyer commented on #734
@rogeralsing I used the haproxy image that tutum (no docker) created when I hit the same issue. It is a haproxy cfg setting / config somewhere that is beyond what I could find documented.  But this docker image fixed it for me. https://github.com/tutumcloud/haproxy

Here is my post: http://www.tattoocoder.com/legion-of-heroes-haproxy-nginx-angular2-aspnetcore-redis-docker/

[2016-04-11 20:40] cesarbs commented on #723
https://github.com/dotnet/coreclr/issues/4115 has been fixed. @sivagms can you verify that the crash is not taking place anymore?

[2016-04-11 20:49] spboyer commented on #729
@MarkPieszak try this solution

[code]

I have a `dotnet cli` static server for Angular and run / live reload using nodemon see here

https://github.com/spboyer/ng2-kestrel-appserver/blob/master/package.json

[2016-04-11 20:56] MarkPieszak commented on #729
@spboyer I'll give it a shot tomorrow morning! Thanks

[2016-04-11 21:42] halter73 commented on #299
`Response.Write` will no longer throw in RC2 unless you pass in a canceled CancellationToken (such as `RequestAborted). In RC1, writes can fail if there are connection issues.

[2016-04-11 21:57] halter73 commented on #734
@rogeralsing Running the rc2 with dnx might not work atm. @davidfowl might know better.

If you want to use rc2 bits, you probably are going to need to use the same version of the [dotnet cli](https://github.com/dotnet/cli) we're using to build rc2. Currently that's 1.0.0-beta-002279, but that can change daily.

It might be easier to continue using rc1 for now and enabling the http-keepalive optio

[2016-04-11 21:59] Tratcher opened #736 "Implement ITlsTokenBindingFeature"
http://tools.ietf.org/html/draft-popov-token-binding-00
http://tools.ietf.org/html/draftbalfanz-https-token-binding-00
http://www.ietf.org/proceedings/91/slides/slides-91-uta-2.pdf
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.Http.Features/ITlsTokenBindingFeature.cs

This requires new APIs on SslStream, and Win10+.

[2016-04-11 22:00] cesarbs commented on #734
@rogeralsing You can find the current CLI versions we're using for each OS in the `cli.*` files here: https://github.com/aspnet/KoreBuild/tree/dev/build

[2016-04-11 22:08] halter73 commented on #730
Sorry. Wrong issue to close. The Libuv package is now on the https://www.myget.org/F/aspnetcirelease feed, but not in the shared runtime yet.

[2016-04-12 00:16] sivagms commented on #723
did we take this build with the fix yet. I think korebuild still uses older build 002279 which doesn't have the fix

[2016-04-12 08:46] davidfowl commented on #735
@ciel Side note: Remove all imports and add them only when packages fail to restore. Your `project.json` is badly broken and importing a large set of TFMs like that will only cause subtle problems.

[2016-04-12 11:06] ciel commented on #735
I see. I was not aware that it actually brought in the entire FTM. I thought it was merely a compatibility flag. In that case, may I know the difference between `net451` and this `portable-net451+win8` I keep seeing in samples?

[2016-04-12 18:05] cesarbs commented on #723
Ah yes, gotta wait for a new build.

[2016-04-12 18:54] halter73 commented on #735
I showed this issue to @pakrym who I know has worked on some issues regarding running on the desktop clr. He mentioned you need to make Microsoft.NETCore.Platforms a netcoreapp1.0 specific dependency in addition to removing the extra imports.

[2016-04-12 18:58] yuwaMSFT opened #737 "Exception at System.Net.Security.SslStreamInternal.EndRead when proxy request from Nginx to Kestrel through HTTPS"
I was trying out the SSL feature on Kestrel. When putting Nginx in front to proxy request to Kestrel server via https, I always got the following exception for each client request:

\\funfile\Scratch\yuwa\Failures\041216\kestrelhttps\kestrellog.log

[code]

When request from wget directly on local machine, I didn’t see such error. It seems something related to how Nginx terminates the https proxy

[2016-04-12 19:04] yuwaMSFT commented on #737
@halter73 @muratg @sivagms @SajayAntony

[2016-04-12 19:07] yuwaMSFT opened #738 "Server crashes due to null reference when connection is aborted before frame is created"
InnerException:   <none>
StackTrace (generated):
    SP               IP               Function
    00007F0C7E7FB810 00007F0CD98A161A Microsoft.AspNetCore.Server.Kestrel.dll!Microsoft.AspNetCore.Server.Kestrel.Http.Connection+<>c.<Abort>b__17_0(System.Object)+0x7a
    00007F0C7E7FB840 00007F0CD7C7A061 mscorlib.ni.dll!System.Threading.ExecutionContext.Run(System.Threading.ExecutionContext, System.T

[2016-04-12 19:08] yuwaMSFT commented on #738
public virtual void Abort()
        {
            // Frame.Abort calls user code while this method is always
            // called from a libuv thread.
            System.Threading.ThreadPool.QueueUserWorkItem(state =>
            {
                var connection = (Connection)state;

                lock (connection._stateLock)
                {
                    if (connection._connectionState

[2016-04-12 19:12] yuwaMSFT commented on #738
@halter73 @muratg @sivagms @SajayAntony

[2016-04-12 19:13] muratg commented on #737
@yuwaMSFT Looks like a server side error, right... Was the response fine on the client side?

[2016-04-12 19:15] muratg commented on #738
@yuwaMSFT Nice find!

[2016-04-12 19:29] halter73 commented on #738
Nice find. What scenario did you find this in?

I think that the socket was closed prior to the frame object being created, which lead to this race. The thing that indicates this to me is:

   00007f0cd82af9f8 40000e7 e0 System.Int32 1 instance 4 _connectionState

A `_connectionState` of 4 means that the [socket is closed](https://github.com/aspnet/KestrelHttpServer/blob/97dcfbfbe103860486d7795b79

[2016-04-12 19:30] halter73 commented on #738
@muratg @Eilon @DamianEdwards Should we fix this for RC2?

[2016-04-12 19:31] muratg commented on #738
How easy is it to hit this?

[2016-04-12 19:35] SajayAntony commented on #738
I guess its worth fixing this for RC2. One bad client can bring down the server due to this.

[2016-04-12 19:37] benaadams commented on #738
If its a full on server crash; which as its a naked exception thrown on threadpool it probably needs fixing.

@halter73 other work around, though not as good as fixing the race, would be to run it through the logging threadpool, so the exception is at least localized and doesn't take down the server.

[2016-04-12 19:43] yuwaMSFT commented on #738
It's a race condition so as Sajay mentioned one bad client could take down the server.

I was running some HTTPS test where clients could accidently close the connection immediately due to server certificate validation error (I was using the self-signed certificate).

[2016-04-12 19:44] yuwaMSFT commented on #737
@muratg Yes it's server side error. Response to client seemed to be fine.

[2016-04-12 19:47] SajayAntony commented on #738
@halter73 Race or not - Aborts/Close for Socket API's should always be handled and should be scheduled at the bottom of the stack. That QUWI seems odd.

[2016-04-12 19:48] muratg commented on #738
I see. I think it makes sense to consider this for RC2. @cesarbs / @halter73 -- could you guys look into a fix and request approval from @Eilon and @DamianEdwards?

[2016-04-12 19:59] benaadams commented on #738
@SajayAntony I assume the QUWI is to get the abort off the libuv IO thread rather than blocking its IO for all connections.

@halter73 did you mean: `connection._frame.Abort();` -> `connection._frame?.Abort();`

[2016-04-12 20:02] SajayAntony commented on #738
@benaadams scheduling is ok but without exception handling is the odd part 😨

[2016-04-12 20:05] DamianEdwards commented on #738
Approved for RC2

[2016-04-12 20:06] benaadams commented on #738
@SajayAntony all the sub calls have exception handling (e.g. _frame.Abort())

[2016-04-12 20:14] SajayAntony commented on #738
@benaadams thats good and yet I think it makes sense to have a guard frame at the bottom since QUIW obviously doesn't protect the process. For e.g. - https://github.com/dotnet/wcf/blob/be6afd58c2af0bdd3c2561403934deed4d2bb5d9/src/System.Private.ServiceModel/src/Internals/System/Runtime/Fx.cs#L953

[2016-04-12 20:21] davidfowl commented on #720
Kestrel
- Add `KestrelServerOptions` and remove `KestrelServerInformation`
- Remove `KestrelServerInformation` from server features
- Add `IServiceProvider` to `KestrelServerOptions`
- Change UseKestrel() to add the IServerFactory to the container directly
- Add `UseKestrel(Action<KestrelServerOptions>)` which adds
- Change connection filter extension methods to extension methods on `KestrelServer

[2016-04-12 20:23] benaadams commented on #738
@SajayAntony there is one for QUIW that calls into user code as the user code may not handle there exceptions https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Infrastructure/LoggingThreadPool.cs#L24-L64

Also I have requested it in coreclr, but its not got much traction so far https://github.com/dotnet/coreclr/issues/2144

[2016-04-12 20:29] halter73 commented on #738
We should also be using the `LoggingThreadPool` instead of QUWI directly. The `ThreadPool` property in `Connection` which would catch and log this instead of crashing the server.

`_frame?.Abort()` is safe, but unnecessary if we only call abort in the `ConnectionState.Open` state.

[2016-04-12 20:34] benaadams commented on #738
My mistake is in api review https://github.com/dotnet/corefx/issues/6398

[2016-04-12 21:09] Eilon commented on #738
Double approved by me too, I'll track it in my Ask Mode notes.

[2016-04-12 22:00] cesarbs commented on #544
Indeed. I don't think it's worth it making the switch to `MemoryCopy`. @halter73 what do you think?

[2016-04-12 22:02] cesarbs commented on #737
@yuwaMSFT What do you have in `nginx.conf`?

[2016-04-12 22:06] #738 closed

[2016-04-12 22:12] yuwaMSFT commented on #737
This is the Nginx configuration:

                server {
                        listen 8081 ssl;
                        ssl_certificate     /etc/ssl/nginx/new.cert.cert;
                        ssl_certificate_key /etc/ssl/nginx/new.cert.key;
                        ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;

                        location / {
                                proxy_set_header

[2016-04-12 22:15] yuwaMSFT commented on #737
BTW, this is the configuration for the site serving as the reverse proxy. nginx.conf itself was the default one after installing nginx.

[2016-04-12 22:16] cesarbs commented on #737
What version of nginx are you using?

[2016-04-12 22:19] yuwaMSFT commented on #737
nginx version: nginx/1.4.6 (Ubuntu)

[2016-04-12 22:33] benaadams commented on #737
What happens if you add keep alive? Might be ngnix doing a close and the filter getting confused by it

[2016-04-12 22:38] cesarbs commented on #737
@benaadams That's what I was about to try :smile:

[2016-04-12 22:40] cesarbs opened #740 "Change LoggingThreadPool to run actions that take a state argument"
Right now it only runs `Action`, we should run `Action<T>` to prevent creating closures in places like https://github.com/aspnet/KestrelHttpServer/blob/7b6384635796d99bdb74ba24d80dbdc50731fd5e/src/Microsoft.AspNetCore.Server.Kestrel/Http/Connection.cs#L157

[2016-04-12 22:43] benaadams commented on #740
Issue is it already takes a object as parameter which is the logger :cry:

[2016-04-12 22:45] benaadams commented on #737
There is also some oddness with ngnix, though not likely to be effecting this https://blog.cloudflare.com/the-curious-case-of-slow-downloads/

[2016-04-12 23:00] yuwaMSFT commented on #737
client should already send out request with keep-alive.

Added the header for proxy in the site config:
                                proxy_set_header Connection "Keep-Alive";
                                proxy_set_header Proxy-Connection "Keep-Alive";

also set the ssl session cache in nginx.conf
        ssl_session_cache   shared:SSL:10m;
        ssl_session_timeout 10m;

Even setting so, i

[2016-04-12 23:01] cesarbs commented on #737
@benaadams Great article, useful knowledge for us in Kestrel too :+1:

[2016-04-12 23:14] cesarbs commented on #737
It's interesting that it doesn't repro on Windows.

[2016-04-12 23:30] cesarbs commented on #737
I can repro on Ubuntu with nginx 1.4.7, but it doesn't repro with nginx 1.8.1 (latest stable).

[2016-04-12 23:31] cesarbs commented on #737
Looks like an nginx issue, I'm inclined to close this. @muratg thoughts?

[2016-04-12 23:32] yuwaMSFT commented on #737
Even without nginx, I am seeing this exception for the first request from client browser.

[2016-04-12 23:33] yuwaMSFT commented on #737
However curl from the local machine, I don't see any error.
But if using IE browser from another Windows machine against the same Kestrel server on Linux (without Kestrel), I am seeing the same exception for the first request or on refresh.

[2016-04-12 23:38] cesarbs commented on #737
Yeah, forget what I said earlier. It's not as consistent with the latest nginx, but after a few more requests I saw the exception again.

[2016-04-12 23:38] benaadams commented on #737
corefx needs to implement ReadAsync and WriteAsync on SSLStream, I have no end of problems with the wrappers on BeginRead and EndRead https://github.com/aspnet/KestrelHttpServer/pull/588

[2016-04-13 01:02] davidfowl opened #742 "Remove DNX mono support for loading libuv"
It's time to get rid of this code

/cc @moozzyk

[2016-04-13 01:43] Eilon opened #743 "Add doc comments for HttpsApplicationBuilderExtensions.UseKestrelHttps() methods."
https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel.Https/HttpsApplicationBuilderExtensions.cs

[2016-04-13 03:44] Tratcher commented on #743
@mikeharder You're re-doing these right now anyways... https://github.com/aspnet/KestrelHttpServer/issues/720

[2016-04-13 16:10] MarkPieszak commented on #729
@spboyer So what I have so far is that I've tried putting the repo [Angular2 Webpack starter](https://github.com/AngularClass/angular2-webpack-starter) into a blank .NET Core project.

I renamed wwwroot into what I needed / etc.

I have it loading up StaticFiles & DefaultFiles, all of that is working fine.

    app.UseDefaultFiles();
    app.UseStaticFiles();

Now the problem happens here, let's s

[2016-04-13 17:06] #742 closed

[2016-04-13 21:02] cesarbs commented on #737
I didn't get to the bottom of it, but I was able to work around the problem by changing my nginx.conf from:

    proxy_pass  https://localhost:5001;

to:

    proxy_pass  http://localhost:5000;
    proxy_redirect http://localhost:5000 https://localhost:5001;

with all else remaining the same.

[2016-04-13 21:08] cesarbs commented on #737
It seems like nginx is doing something funny in the connection, but I don't know what exactly (I'm not well versed in tcpdump, trying to learn some to get to the bottom of this). From the logs I can see that we get a FIN from nginx, but for some reason the code is stuck at

https://github.com/aspnet/KestrelHttpServer/blob/50f187aa3e1c877370dac1c415e96aa00115b748/src/Microsoft.AspNetCore.Server.Kes

[2016-04-13 21:12] ciel commented on #735
As of this exact moment, all of your assertions appear to be correct. However I am not presently able to test this in the exact environment in which it originated. Please give me some time to get to that point again and try to reproduce it thoroughly.

[2016-04-13 21:28] yuwaMSFT opened #746 "Hang"

[2016-04-13 21:30] yuwaMSFT commented on #746
@halter73 @muratg @sivagms @SajayAntony @blowdart

[2016-04-13 21:35] yuwaMSFT opened #747 "Got exception on accessing disposed object "SslStream" when running concurrent clients on https"
I was running some simple https scenarios with load. occasionally I saw the exception error printed out:

[code]

[2016-04-13 21:35] yuwaMSFT commented on #747
@halter73 @muratg @sivagms @SajayAntony

[2016-04-13 21:36] yuwaMSFT commented on #747
@cesarbs

[2016-04-13 21:37] yuwaMSFT commented on #746
@cesarbs

[2016-04-13 21:44] benaadams commented on #746
Ssl async uses sync blocking rather than actual async so it consumes at least a thread per connection when reading/writing https://github.com/aspnet/KestrelHttpServer/issues/569 :cry:

[2016-04-13 22:11] spboyer commented on #729
@MarkPieszak Do you have a github repo for this so I/we can see the code? Would be easier to assist

[2016-04-13 22:18] SajayAntony commented on #746
/cc @muratg  could you please triage this?

[2016-04-13 22:26] #743 closed

[2016-04-13 22:27] #720 closed

[2016-04-14 00:43] sivagms commented on #746
Moved the bug.

[2016-04-14 00:43] #746 closed

[2016-04-14 01:26] ciel commented on #735
On my local machine, it appeared to work fine - but again when put on IIS, failures commence. This time I have produced a repository for you to try out.

https://github.com/ciel/aspnetcore-issue-samples

[2016-04-14 02:26] davidfowl commented on #735
Doubtful there's a kestrel issue here. The imports in this file are just wrong, https://github.com/ciel/aspnetcore-issue-samples/blob/libuv/project.json#L22-L24 (don't ever add them unless you know you need them).

What are the instructions to reproduce the problem? Publish then run on IIS? When you run the published output does it work?

[2016-04-14 02:46] ciel commented on #735
I started with the configuration from the start of this thread, and tested it to make sure it failed - and have been working backwards since then and trimming out everything possible and testing it to try and get the build with the least number of imports/dependencies that still reproduces the problem, so the imports were the same in that push. The aspnet-mvc libraries won't work without at minimu

[2016-04-14 05:32] anpete opened #748 "OperationCanceledException under load"
Not sure if this is expected, so filing just in case. While investigating our internal MusicStore stress scenario I'm seeing an OperationCanceledException raised occasionally when the number of clients > ~50.

Stack:

[code]

[2016-04-14 07:21] Eilon commented on #748
This magic number 50 sounds suspiciously like https://github.com/aspnet/Coherence-Signed/issues/268, not that I have any idea whether it's related at all.

[2016-04-14 14:25] jasonwilliams200OK commented on #359
I share @txchen's anxiety.

@troydai, @Tratcher, can this be backported to 'stable' rc1-updateX?  since by it looks 'stable' rc2 of `dotnet/<everything>` `aspnet/<everything>`  is at least weeks away due to the synchronized release cycles of all products (which should be strictly required for all repo/packages and this lack of asynchrony in release process is a pure limit on flexibility - cc relea

[2016-04-14 14:33] Tratcher commented on #359
@jasonwilliams200OK We have no plans to backport this. We haven't backported any RC2 changes to RC1 in any package. Releasing a backport would be more work logistically than finishing RC2 at this point.

[2016-04-14 15:30] khellang commented on #729
So the issue is that DNX is waiting for your script to complete, but it never does because dev-server is blocking? Not sure if there's much to do about that.

[2016-04-14 15:42] MarkPieszak commented on #729
@khellang Is there anyway to let it just open up Kestrel right away instead of waiting for the script to "finish"? Right now I basically am trying to get the script to run on Project open, that way Kestrel can open up on it's own.

@spboyer Making a github repo now, great idea

[2016-04-14 17:18] khellang commented on #729
@MarkPieszak What do you mean you want to open up Kestrel right away? I think you're "abusing" the post-build script in order to do this. Those scripts are meant to do some work and finish in a timely manner, not start a HTTP server and block. I think you'd be better off just starting the dev-server from a separate console and keep the build scripts to... well, build stuff :wink:

[2016-04-14 17:24] khellang commented on #729
@MarkPieszak This is basically why Kestrel (or the `dnx web` command) isn't executing; https://github.com/aspnet/dnx/blob/9de4ce9f45564621a432b4728a8787c0b53a0f03/src/Microsoft.Dnx.Tooling/Scripts/ScriptExecutor.cs#L120. DNX is shelling out to run the scripts you've specified, but since the dev-server is before `dnx web`, it's blocking and won't return an exit code. The same would be a problem if

[2016-04-14 17:46] MarkPieszak commented on #729
@khellang  Ahh there it is! That's the one doing it ;)
Is there a possibility to add a possibility to opt-out of that for certain tasks in the task-runner?

Yes it works if I do it separately I think I'll just have to stay with that path. Thank you though I guess that solves the problem since Kestrel is working as designed :(

[2016-04-14 18:20] khellang commented on #729
@MarkPieszak Yeah, this certainly isn't a Kestrel issue. If anything, it's a DNX/DNU issue, but I don't think it matters much, since it's dead anyway :wink:

To be honest, I really don't think this is a "problem" you _want_ to solve. As I said; this is really abusing the script hooks of DNU.

The script hooks are there so you can do a piece of work before or after some event and then exit; "move s

[2016-04-14 18:59] halter73 commented on #544
Yeah. This clearly seems fixed. If there is any evidence we should still switch, I'm open to reopening.

[2016-04-14 18:59] #544 closed

[2016-04-14 19:02] cesarbs commented on #737
@yuwaMSFT What browser did you use? I'm not reproing trying to hit from Chrome on another machine.

[2016-04-14 19:14] MarkPieszak commented on #729
Very very true. I'll have to rework my whole logic when trying to attach all of these processes with Kestrel and such. You're right at least now we know it's not a Kestrel issue I'll close out for now. Thanks for all the input and clarification though.

After literally spending the past few days smashing my head against the desk trying to get all of this working I've realized that I definitely nee

[2016-04-14 19:14] #729 closed

[2016-04-14 19:18] yuwaMSFT commented on #737
@cesarbs I am seeing this on both Chrome and IE on a Windows client machine.

[2016-04-14 19:19] yuwaMSFT commented on #737
@cesarbs Also, the server is a Ubuntu box in Azure, the client is on Corp net...

[2016-04-14 20:43] cesarbs commented on #747
@yuwaMSFT It didn't crash the server, right? I have a fix for this.

[2016-04-15 18:11] mikeharder opened #752 "Kestrel configuration changes"
We have introduced changes to simplify configuration of the Kestrel web server:
- `KestrelServerInformation` has been replaced by `KestrelServerOptions`.
  - `KestrelServerPoolingParameters` properties have been moved to `KestrelServerOptions`.
- `IWebHostBuilder.UseKestrel()` should be used instead of `IWebHostBuilder.UseServer(“Microsoft.AspNetCore.Server.Kestrel”)`.
  - Overload `UseKestrel(Act

[2016-04-15 18:12] halter73 opened #753 "Remove SocketInputStream"
Now that we implement `CopyToAsync` ourselves (which takes `SocketInputStream` as the destination as well as a `MemoryPoolBlock` as an intermediate buffer, it would be simpler to have `CopyToAsync` write to `SocketInput` directly.

[2016-04-17 03:00] davidfowl opened #754 "Remove first class pooling support from KestrelOptions"
- Remove first class support for pooling parameters in `KestrelOptions`
- Expose `IHttpComponentFactory` as something that can be configured from the outside
- Remove `IHttpComponentFactory` from server features

We should decide if we want to add `IHttpComponentFactory` as part of `KestrelOptions` or have it be a service in the DI container.

[2016-04-17 03:02] benaadams commented on #754
With the new Options is it possible to add extension methods that add to the config options?

[2016-04-17 03:26] benaadams commented on #754
Go generic?

[code]

Not sure how the init params would work; maybe

[code]

[2016-04-17 16:53] davidfowl commented on #754
Nope, too generic is always bad. That looks like a generic `IFactory<T>` thats trying to replace `new()`

[2016-04-18 01:44] benaadams commented on #569
@muratg this may now be unblocked depending on outcome of https://github.com/dotnet/corefx/pull/7819#issuecomment-211140332

Have rebased the fix

[2016-04-18 04:49] davidfowl opened #755 "Calling UseKestrel() (no args) then calling Configure<KestrelServerOptions> ends up with null service provider"
The following won't work if UseKestrel doesn't use the `Action<KestrelServerOptions>` overload. We need to register the default

[code]

[code]

This line https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/WebHostBuilderKestrelExtensions.cs#L45 needs to be moved to `UseKestrel()`

/cc @mikeharder @Tratcher

[2016-04-18 15:59] muratg commented on #569
Nice!  Putting it back in 1.0.0 and we can make a decision based on the corefx issue resolution.

[2016-04-18 22:34] #755 closed

[2016-04-19 18:50] mikeharder commented on #748
@anpete: Are you using HTTP or HTTPS?  Can you share steps to reproduce this?  How often does it repro?

[2016-04-19 19:04] brunolauze opened #758 "Random Port is not updated"
**dotnet run -c Release -- --server.urls=http://*:0**

In the context where we want to fire kestrel with a random port ; where consul or others will receive registration and update load balancing according to new process/port.

the command above is working, and we know Tcp Listener created with port 0 will get a random usable port from the kernel on any operating system. Win32, Linux and BSD

But

[2016-04-19 19:08] ayende commented on #758
+1 o that, this is something that we would need for running tests

[2016-04-19 20:05] anpete commented on #748
@mikeharder Looks like this is no longer repro'ing - after https://github.com/aspnet/MusicStore/commit/fb4fadb0b10301b09326b8a9f78b6f1893210cb3

Let me know if you still want to investigate.

[2016-04-19 23:06] cesarbs commented on #723
@sivagms Have you verified this against the latest CoreCLR builds we took?

[2016-04-20 01:16] sivagms commented on #723
yes and this crash doesn't show up. @cesarbs

[2016-04-20 17:55] cesarbs commented on #723
Ok. I'll close the bug then.

[2016-04-20 17:55] #723 closed

[2016-04-20 17:59] mikeharder commented on #748
It's by design that this exception is raised if a client disconnects before reading a full response, which is likely what was happening before your changes.

[2016-04-20 18:08] chemitaxis commented on #520
Hi @cesarbs, Im having this issue uploading images from browser to server... Images for example of 2Mb. Im using RC1, Azure Web App with no results... It fails sometimes, not always. In my local using IIS express I cant reply the bug. Thanks.

[2016-04-20 19:28] mikeharder commented on #520
@chemitaxis: This issue is closed.  Please create a new issue for the latest problem you are having.

[2016-04-20 19:33] jiberan commented on #520
@chemitaxis this issue was fixed after RC1. Check this 5435a45397bbbef34ea253dc156655a816dfbf39 commit as part of #642

[2016-04-20 20:56] chemitaxis opened #759 "Error 502 Uploading files randomly"
Hi, I'm trying to upload images using AJAX to my Web App deployed in Azure. Randomly, I get an error 502. I have tested many times using my IIS Express on VS2015 Update 2 without errors.

For more information, I upload a Data64 string... in a DTO, no form files included in my POST.

I'm using ASP.NET Core RC1.

Thanks!!

[2016-04-20 21:09] cesarbs commented on #698
@vsotov A few questions:

1) It seems you're on RC1. Have you tried it with the latest development bits?
2) Any other exceptions in the logs?
3) Are you using HTTPS?

[2016-04-20 21:11] mikeharder commented on #759
As @jiberan noted at https://github.com/aspnet/KestrelHttpServer/issues/520#issuecomment-212571504, we believe this may be fixed by commit 5435a45397bbbef34ea253dc156655a816dfbf39 in  #642.  Can you please try with a recent RC2 build?

[2016-04-20 21:14] chemitaxis commented on #759
Thanks @mikeharder Can you please give me a link of how to upgrade to RC2? :)

[2016-04-20 21:34] cesarbs commented on #759
@chemitaxis You need to use the `aspnetrelease` feed:

    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetrelease/api/v3/index.json" />

Are you using `-*` versions in `project.json`?

A lot has changed, you'll have to update your code to use new APIs, etc.

[2016-04-20 21:44] chemitaxis commented on #759
In some cases yes, I use -*, but in others I specific the version like this:
"Microsoft.AspNet.DataProtection.Extensions": "1.0.0-rc1-final",

Where I need to add the code? Is RC2 stable? Thank you so much!

[2016-04-20 21:50] cesarbs commented on #759
You'll have to switch to `-*` versions. RC2 hasn't been released yet and there are still changes coming in.

[2016-04-20 21:54] chemitaxis commented on #759
Ok, thanks for the info...

[2016-04-20 22:03] mikeharder commented on #759
A few more suggestions:

1. Many ASP.NET repositories include samples, and you can compare the samples in the RC1 tag against the current Release branch.  For Kestrel and its dependencies, you can compare https://github.com/aspnet/KestrelHttpServer/tree/1.0.0-rc1/samples with https://github.com/aspnet/KestrelHttpServer/tree/release/samples.

2. Major changes between RC1 and RC2 should be documente

[2016-04-20 22:03] #759 closed

[2016-04-20 22:11] #747 closed

[2016-04-20 22:11] #737 closed

[2016-04-21 17:03] muratg commented on #754
@DamianEdwards @Eilon

If we decide to do this, we'll need to do design and make the changes in RC2. Thoughts?

[2016-04-21 17:17] DamianEdwards commented on #754
@davidfowl can you provide some more detail here? As it stands, this doesn't seem like a an area that will be exposed enough to warrant making this change now, i.e. if we change it RTM we're going to break hardly anybody as almost nobody will set this option on `KestrelOptions`.

[2016-04-21 17:19] benaadams commented on #754
Hardly anybody... :stuck_out_tongue_winking_eye:

[2016-04-21 21:25] cesarbs commented on #582
Azure fix should be available next week.

[2016-04-21 21:48] buraktamturk commented on #418
@Daniel15 Hi, have you uploaded "1.0.0-rc1-final-patched406" to anywhere? The workaround on nginx does not work for websocket requests. And I don't really know uploading dnx stuff on nuget.

I also tried something like this with no luck:
[code]

This problem seems to be happens when Connection header is set to Upgrade also, which is required for websocket.

[2016-04-21 21:51] Daniel15 commented on #418
@buraktamturk  - No, sorry, I didn't upload my patched version anywhere and I stopped using my patched version. You should be able to clone this repo, checkout the RC1 tag, apply the patch, and compile it. You can then add the local build directory as a package source in Visual Studio.

[2016-04-21 21:58] buraktamturk commented on #418
@Daniel15 Let me give a try :D

[2016-04-21 22:42] #753 closed

[2016-04-21 22:44] stefangordon commented on #698
I can confirm this is happening on latest in cidev and is fixed by forcing single threaded per #582

[2016-04-22 00:54] cesarbs commented on #698
@stefangordon Thanks! So hopefully they're both the same issue and should go away when Azure has the fix available on their side.

[2016-04-22 13:58] chemitaxis commented on #759
Hi guys... I think the problem is other in my case.  I'm sending just a string in a DTO with a Data64 img. Not files involved in the request... Are any problem with content-length of the request? Thanks again...

[2016-04-22 14:35] chemitaxis commented on #759
And another question... How can I fix it without upload to RC2? Any ideas? Thanks again

[2016-04-22 21:02] cesarbs commented on #759
You'll need RC2. The RC1 bug really prevented Kestrel from reliably taking in incoming data because we were incorrectly handling 0-size reads. We were treating those as connection termination when it actually means that there's no coming data now but there will be in the future. There's no workaround.

[2016-04-22 22:01] jiberan commented on #759
@chemitaxis or you can take RC1 source code a manually apply fix for this issue. But it might be better idea to wait to RC2 or use daily builds.

[2016-04-22 23:10] cesarbs opened #765 "Use async/await in FilteredStreamAdapter.ReadInputAsync()"
Instead of `ContinueWith`.

[2016-04-23 21:37] davidfowl commented on #649
@cesarbs @halter73 Make sure we don't have other instances of this pattern.

[2016-04-24 14:01] TsengSR opened #766 "Error -4089 EAFNOSUPPORT address family not supported on Azure App Service deployment"
I am using the rc1-update1 to deploy an application to Azure App Service (free plan for testing).

Using dnx-clr-win-x86.1.0.0-rc1-update1. After deploying I can't connect to the url, it just times out.

Executing web.cmd from the Azure Commandline returns

[code]

Not sure what's causing it, I've tried changing the ports of kestrel and just using one url, but nothing helped.

[2016-04-24 15:41] TsengSR commented on #766
Got it. I used http://*:8081 as port. This seems to want to bind IPv6 too which the app service instance do not seem to support. http://0.0.0.0:8081 worked though

[2016-04-25 05:49] halter73 commented on #766
Thanks for the report. This does seem like a bug semi-related to https://github.com/aspnet/KestrelHttpServer/issues/231. If we can't bind to `::` (which also binds to `0.0.0.0`), we should try binding to `0.0.0.0` explicitly in [UvTcpHandle.Bind](https://github.com/aspnet/KestrelHttpServer/blob/179b57b01f73b7b10ddce87cd0e57d196922462b/src/Microsoft.AspNetCore.Server.Kestrel/Networking/UvTcpHandle.

[2016-04-25 07:04] San7hos opened #767 "Kestrel fails to run on OS X - unable to find libuv module"
I am trying out asp core and it seems I have a trouble with running kestrel in RC2.

My project.json:

[code]

Trying to run the web command:

Looking for the libuv library:

I am not sure why the module is not found.

[2016-04-25 07:25] davidfowl commented on #767
Looks like you're using RC1 not RC2 by the looks of your `project.json`. RC2 no longer works with DNX, you can look at the samples here to get going with the new .NET CLI https://github.com/aspnet/cli-samples

[2016-04-25 07:29] San7hos commented on #767
@davidfowl Right now I have reversed all the steps that I used to install RC1, basically these two:

https://docs.asp.net/en/latest/getting-started/installing-on-mac.html
http://johnpapa.net/getting-started-with-asp-net-5-on-osx/

And I have reinstalled dotnet cli using this:

http://dotnet.github.io/getting-started/

Right now I was able to restore packages and build the project, but when I hit d

[2016-04-25 07:39] davidfowl commented on #767
You should start from scratch and use the samples I posted. Then you can read the announcements to handle the breaking changes between RC1 and RC2 https://github.com/aspnet/Announcements/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.0.0-rc2

[2016-04-25 08:16] San7hos commented on #767
Thanks, I think I am on the right path now. The only thing I am missing is a bit more explanation about the project file, specifically frameworks and dependencies.

From what I have learnt, netcoreapp1.0 is the new RC2 dotnet core, I am not sure though about the imports section.

I am confused about
[code]
in the dependencies section. Is it related to the chosen framework? And what is "type"?

The

[2016-04-25 08:21] davidfowl commented on #767
It's brand new, docs are being written, we're still making changes, when we're done there'll be lots of documentation and blog posts.

You can look at the early stage in-progress docs here https://github.com/dotnet/core-docs/pull/391/files

[2016-04-25 08:21] #767 closed

[2016-04-25 08:23] San7hos commented on #767
I know it is brand new, that is why I want to get into it. Thanks again

[2016-04-25 08:25] davidfowl commented on #767
@San7hos Things are still changing and the Kestrel repository isn't really the place to have a conversation about the in-progress changes in RC2.

[2016-04-25 08:56] benaadams commented on #569
Resolved for coreclr, rasing issue for full framework (kept it as sync)

[2016-04-25 09:02] benaadams opened #768 "StreamSocketOutput.WriteAsync is Sync on Full framework (SSL)"
From #569; PR #588 resolves coreclr, however full framework still has the issue.

Issue on full framework if made sync (it blocks)
![](http://aoa.blob.core.windows.net/aspnet/sslstream-async-issue.png)

Fullframework uses framework's SSL stream the corefx SSL steam only supports

net46 (.NETFramework,Version=v4.6)
netstandard1.3 (.NETStandard,Version=v1.3)

So would currently need to version bump

[2016-04-25 11:39] benaadams commented on #569
Full framework issue https://github.com/aspnet/KestrelHttpServer/issues/768

[2016-04-25 17:04] jasonwilliams200OK opened #769 "HttpDelete throws 404"
Controller:

[code]

View:

[code]

Never hits the `breakpoint` in controller, instead throws 404 when running app with standalone Kestrel.

Do I need to modify `web.config` for Kestrel too to make it work:

[code]
? If so, why can't we have `HttpDelete` and `HttpPut` out of the box enabled in this modern age?

[2016-04-25 17:06] moozzyk commented on #769
Kestrel does not read web.config. It's only meant for IIS.

[2016-04-25 17:08] jasonwilliams200OK commented on #769
So does this mean this is actually a bug in kestrel?

[2016-04-25 17:15] Tratcher commented on #769
I doubt this is related to Kestrel, Kestrel does not consider the Method. I suspect this is an MVC issue.

[2016-04-25 17:19] jasonwilliams200OK commented on #769
@Tratcher, I think https://github.com/aspnet/Mvc/issues/3563 was the same issue which got closed as a duplicate of https://github.com/aspnet/KestrelHttpServer/issues/270. I cannot deduce the workaround from #270 (and the related links) for this typical use-case. Could you suggest where should I go with this next?

[2016-04-25 17:47] Tratcher commented on #769
#270 was a data corruption issue that has long been fixed. Run the following to see if you're hitting that issue:
[code]

[2016-04-25 23:32] #649 closed

[2016-04-26 05:26] benaadams commented on #768
Being looked at https://github.com/dotnet/corefx/pull/7800#issuecomment-214267754

[2016-04-26 13:13] jphellemons commented on #73
Still no Http/2 support in 2016? Because according to this article https://gooroo.io/GoorooTHINK/Article/16623/One-Weird-Trick-To-Improve-Web-Performance/21564#.Vx9o5UdkldB it will be faster with TLS too.

[2016-04-26 13:57] nil4 opened #773 "System.Numerics.Vectors, Version=4.1.1.0 not found"
Using dotnet CLI 1.0.0-rc2-002485 and `Microsoft.AspNetCore.Server.Kestrel/1.0.0-rc2-20682` from the `aspnetcirelease` feed in an application targeting framework `net461` with RID `win7-x64`. The application fails to start with the following error:

[code]

After running `dotnet build -f net461`, `System.Numerics.Vectors.dll` is not present in `bin\Debug\net461\win7-x64`. Manually copying the DLL

[2016-04-26 14:10] davidfowl commented on #773
Can you publish a full repro project on github?

[2016-04-26 16:50] nil4 commented on #773
@davidfowl please see https://github.com/nil4/Kestrel_773_Repro. I included the `obj` and `bin` folder for completeness.

[2016-04-27 05:33] PMExtra opened #774 "Error -4081 ECANCELED operation canceled"
When action return a FileResult.
Most of browsers will appear a dialog to prompt select download path.
If user cancel the dialog, the download task will be canceled.
It's a too ordinary operation. But in kestrel, that will throw a exception:
`Microsoft.AspNet.Server.Kestrel.Networking.UvException: Error -4081 ECANCELED operation canceled.`
Important ! The log level is "fail".

It make lots of junk

[2016-04-27 07:42] davidfowl opened #775 "Kestrel Logs print full assembly name as category name"
Makes it harder to filter kestrel logs:

[code]

[2016-04-27 16:35] Tratcher commented on #73
It's not on the roadmap for v1.0. However, IIS does support it on Win10 so you get most of the benefits when running Kestrel behind IIS. WebListener also supports it.

[2016-04-27 16:46] GuardRex commented on #73
From: [HTTP/2 on IIS, David So's Blog 9/11/2015](http://blogs.iis.net/davidso/http2) ...

IIS currently supports HTTP/2 only over TLS.  When making an HTTPS connection to a web server running IIS on Windows 10, HTTP/2 is used if the client and server both support it.  In IIS, we’ve implemented HTTP/2 as transparently as possible – you shouldn’t need to change anything in your application for HTTP/

[2016-04-27 16:53] GuardRex commented on #73
Just to follow-up on the TLS bit (see "Note 2"): http://caniuse.com/#feat=http2

It looks like browsers are still only implementing HTTP/2 for TLS connections.

[2016-04-27 18:28] #569 closed

[2016-04-28 08:47] nil4 commented on #773
If I download `System.Numerics.Vectors.4.1.1-rc2-24018.nupkg` from the `aspnetcirelease` feed, it does not have the `_._` placeholder in either the `ref\net46` or `lib\net46` folders. However, the placeholder **is** present in the NuGet package cache location if it is installed by `dotnet restore`. Could this be a CLI/NuGet bug?

[2016-04-28 08:59] davidfowl commented on #773
Looks like a nuget bug actually. This looks bizzare https://github.com/nil4/Kestrel_773_Repro/blob/master/project.lock.json#L3892-L3905

/cc @emgarten

[2016-04-28 11:54] smbecker commented on #773
I am also seeing this after updating cli-samples/HelloWeb to target net46.

[2016-04-28 16:42] muratg commented on #773
Looks like a nuget issue to me as well. @emgarten move to NuGet/home?

[2016-04-28 19:02] yuwaMSFT opened #779 "Hit AV in Microsoft.AspNetCore.Server.Kestrel.Http.SocketInput.ConsumingComplete probably at socket close"

[2016-04-28 19:03] yuwaMSFT commented on #779
@halter73 @cesarbs @muratg @sivagms @SajayAntony

[2016-04-28 19:46] #779 closed

[2016-04-28 22:35] nathana1 opened #780 "reallocating new Headers and Streams on Frames is slow"
Additionally the existing pooling support doesn't scale well so it is actually slower than not pooling.  Proposal is to add an option to cache the Headers/Streams on the Frame object and remove current pooling scheme.

[2016-04-28 22:41] benaadams commented on #780
Related: https://github.com/aspnet/KestrelHttpServer/issues/754

[2016-04-28 22:42] benaadams commented on #754
Related: #780

[2016-04-28 22:45] emgarten commented on #773
Moving to https://github.com/NuGet/Home/issues/2687

[2016-04-28 22:45] #773 closed

[2016-04-29 01:04] halter73 opened #782 "Race causing request corruption/data loss"
This issue was first caught by this sometimes-failing test:

       xUnit.net Runner (64-bit win10-x64)
      Discovering: Microsoft.AspNetCore.Server.Kestrel.FunctionalTests
      Discovered:  Microsoft.AspNetCore.Server.Kestrel.FunctionalTests
      Starting:    Microsoft.AspNetCore.Server.Kestrel.FunctionalTests
        Microsoft.AspNetCore.Server.Kestrel.FunctionalTests.RequestTests.LargeMulti

[2016-04-29 15:47] moozzyk commented on #679
Fixed in 75adbc18a2b6fda212322e3068b6e9f99d64cdd8

[2016-04-29 15:47] #679 closed

[2016-04-29 16:07] cesarbs commented on #683
Updated the issue to reflect new reality.

[2016-04-29 16:08] cesarbs opened #784 "Limit request line length"
Right now there's no set limit on the request line. This should be configurable and requests with request lines longer than the limit should be rejected.

Related: #683

[2016-04-29 16:10] cesarbs opened #785 "Limit request target length"
Currently there's no limit; add configurable limit and reject requests for targets that are too long.

Related: #683 #784

[2016-04-29 16:10] cesarbs commented on #785
cc @muratg putting in 1.0

[2016-04-29 16:10] cesarbs commented on #784
@muratg putting in 1.0.

[2016-04-29 16:20] Tratcher commented on #785
I think this is redundant with #784. The only other things on the request line are the method and version, both very short.

[2016-04-29 16:25] benaadams commented on #784
Related https://github.com/aspnet/KestrelHttpServer/issues/475

[2016-04-29 16:25] cesarbs commented on #785
I'd prefer to keep the distinction because there is a specific status for too long targets (414), whereas a line that is too long would be rejected with a 400. Besides, the method and version are only very short when coming from well behaved clients :smile:

[2016-04-29 16:26] benaadams commented on #785
Related https://github.com/aspnet/KestrelHttpServer/issues/475

[2016-04-29 16:27] Tratcher commented on #785
True, but we want to keep the number of nobs down to a sane level.

[2016-04-29 19:20] mikeharder commented on #775
Fixed in 8a9840216c0793789e444f490009afe0a72acbb1.

[2016-04-29 19:20] #775 closed

[2016-04-29 22:18] halter73 commented on #774
Is there a stack trace associated with that exception?

Generally speaking, an exception like that would be bubbled up to the caller to `Request.ReadAsync` or similar. I don't think it would be correct to just close the request stream normally.

[2016-05-01 12:01] benaadams commented on #73
Added item for AspNetCoreModule supporting http/2 PushPromises https://github.com/aspnet/IISIntegration/issues/160

[2016-05-02 13:53] anorborg commented on #782
For what its worth, we experience this issue intermittently with the existing ASP.NET WebAPI 2.x. We never were able to reproduce consistently. Obviously these are based of different code bases but if any of the architecture was mirrored for Kestrel the issue could be in both places.

[2016-05-02 16:12] davidfowl commented on #782
@anorborg I don't see how that could be relevant as there's literally no similarity between the 2 things.

[2016-05-02 16:51] anorborg commented on #782
Apologies.

[2016-05-02 20:53] cesarbs commented on #582
@esargent Which region is your app deployed to?

[2016-05-02 20:53] cesarbs commented on #698
@vsotov Which region is your app deployed to?

[2016-05-02 21:04] esargent commented on #582
The app is in US West currently. Will want to deploy to Ireland for production, but that's a few months out.

[2016-05-03 06:08] cesarbs opened #792 "Always send HTTP/1.1 responses"
Per RFC 7230, Section 2.6 http://tools.ietf.org/html/rfc7230#section-2.6:

Further:

responses, such as when a client fails to parse the version number correctly or when an intermediary is known to blindly forward the
HTTP-version even when it doesn't conform to the given minor version of the protocol.  Such protocol downgrades SHOULD NOT be performed
unless triggered by specific client attributes

[2016-05-03 07:56] cesarbs commented on #712
RFC 7230 is not really strong on this:

No reason to bother doing this. Would only make sense if we were an 1.0 server trying to reject 1.1 requests.

[2016-05-03 07:56] #712 closed

[2016-05-03 07:57] cesarbs commented on #792
@muratg I want this change in 1.0.0.

[2016-05-03 07:58] cesarbs commented on #475
@muratg Moving to 1.0.0 and assigning to myself.

[2016-05-03 12:56] vsotov commented on #698
@cesarbs It's deployed to West Europe region

[2016-05-03 18:35] Eilon commented on #582
@muratg @cesarbs any work remaining for us on this?

[2016-05-03 18:36] Eilon commented on #782
@halter73 @halter73 any update on this issue? Are we still looking at it for RC2?

[2016-05-03 18:48] muratg commented on #582
@Eilon No, the issue is fixed, but it's taking it's time to propagate across Azure regions. I think @cesarbs kept these open until all regions has the fix. I'm OK keeping it open or closing it.

[2016-05-03 18:49] Eilon commented on #582
Ok so all we need to do is verify it? Perhaps close this bug, and log a new bug saying we need to verify it? That would just be a 'task' item.

[2016-05-03 18:54] muratg commented on #582
@cesarbs did the verification in one of the regions, and it's fixed. I think the reason we didn't close it yet is to tell customers to wait until it's fixed for their data centers. But since the issue is essentially fixed, we can close this one. We'll respond to folks who ask about this and tell them to wait or use another region :)

[2016-05-03 18:54] #582 closed

[2016-05-03 18:55] Eilon commented on #582
Sounds good!

[2016-05-03 19:53] mikeharder opened #794 "Add tests for HTTPS urls to AddressRegistrationTests"
**Test Cases**
`https://+`
`https://localhost`
`https://localhost:GetNextPort()`
`https://localhost:0`

**Notes**
Relative path to the certificate in `UseSsl()` was not working on Travis/Linux.

[2016-05-03 20:39] nathana1 opened #795 "improve performance of known headers"
When I remove most of the headers from KnownHeaders.cs we see a good throughput increase:

|Scenario|Reqs/sec|
|---|---|
|Baseline| 1009999 |
|IOCP| 1114899 |
|Cache Headers/Streams| 1157813 |
|Known header removal| 1189857 |
|All 3| 1449341 |

Need to find the right headers to remove or other techniques to realize this gain.  See https://github.com/aspnet/KestrelHttpServer/commit/f40f4fbf069ecc7f

[2016-05-03 22:00] mikeharder opened #796 "AddressRegistrationTests should get local IPs from System.Net.NetworkInformation"
AddressRegistrationTests should get local IPs from System.Net.NetworkInformation rather than System.Net.Dns, since it's more reliable across different OS and networking configurations.

[2016-05-03 22:05] mikeharder opened #797 "Test for categoryName passed to ILoggerFactory.CreateLogger() in KestrelServer.ctor()"

[2016-05-03 22:38] mikeharder opened #798 "Test to ensure multiple concurrent HTTPS connections has adequate performance"
Draft: https://github.com/mikeharder/KestrelHttpServer/tree/mikeharder/https-parallel-test

[2016-05-03 23:50] cesarbs commented on #698
@vsotov Ok. The fix is not available in all regions yet, but it should be in a few days. I'll close this for now since there's no more action required on our side.

[2016-05-03 23:50] #698 closed

[2016-05-03 23:50] cesarbs commented on #698
ping @muratg @Eilon

[2016-05-03 23:54] muratg commented on #698
@cesarbs thanks, I was sure there was one more bug about this issue, but didn't get the time to search for it yet :)

[2016-05-04 07:24] benaadams commented on #795
wrk only includes Host header, which wouldn't match real world use.

Would outputting the headers in a particular order help? E.g. always have Host as the first check for request?

[2016-05-04 16:31] joshcomley commented on #639
Really thanks for making sure you posted what you found, this helped me!

[2016-05-04 18:30] #758 closed

[2016-05-04 19:09] mikeharder commented on #639
Note that this has been further changed in RC2: https://github.com/aspnet/Announcements/issues/168

[2016-05-05 18:17] nathana1 opened #802 "lock in Connection.End is potentially too broad"
This lock:  https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Http/Connection.cs#L331
doesn't appear necessary in the keep alive case.  Scoping it to just the disconnecting case gives a small bump on our techempower machines:

|Scenario|Million Reqs/sec|
|---|---|
|Baseline|4.5|
|Optimized|4.6|

[2016-05-05 21:57] Tratcher opened #805 "Response allows setting StatusCode and ReasonPhrase after response was started"
_From @pakrym on May 5, 2016 21:36_

This works:
[code]
It should prevent setting status code the same way `Headers`, `Cookies`, `ContentType` do.

/cc @Tratcher

_Copied from original issue: aspnet/HttpAbstractions#626_

[2016-05-05 21:59] Tratcher opened #806 "Response.OnStarting should throw when response already started"
_From @pakrym on May 5, 2016 21:52_

This would prevent hard to debug issues with callbacks that never ran.

_Copied from original issue: aspnet/HttpAbstractions#627_

[2016-05-06 18:53] #802 closed

[2016-05-06 19:49] benaadams opened #809 "Move MemoryBlock return outside lock"
In SocketInput.ConsumingComplete the memory pool block return is inside the local lock while the return is contends on a KestrelThread `ConcurrentQueue`

[code]
https://github.com/aspnet/KestrelHttpServer/blob/7ca0fbeb3dd9325d4dfc58981908112ac33e27ad/src/Microsoft.AspNetCore.Server.Kestrel/Http/SocketInput.cs#L204-L209

The return should be adjusted so it is outside the lock and releases it earlie

[2016-05-07 03:38] benaadams commented on #768
See https://github.com/dotnet/corefx/issues/8358

[2016-05-09 15:45] davidfowl opened #813 "React to https://github.com/dotnet/corefx/pull/8378"
We'll be able to remove our ifdefs! 😄

[2016-05-09 16:37] muratg commented on #813
https://github.com/dotnet/corefx/pull/8378

[2016-05-09 16:42] benaadams commented on #813
https://github.com/aspnet/KestrelHttpServer/issues/768

[2016-05-09 19:32] Tratcher opened #814 "Don't bind if only port is specified."
You can pass just a port integer into Kestrel as the address to bind to. Currently Kestrel assumes this means to bind to the given port publicly for all IPs. https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/ServerAddress.cs#L87

Kestrel should only bind to localhost unless explicitly specified. Note WebListener already behaves this way.

[2016-05-09 19:33] Tratcher commented on #814
https://github.com/aspnet/WebListener/blob/dev/src/Microsoft.Net.Http.Server/UrlPrefix.cs#L128

[2016-05-09 20:00] cesarbs commented on #582
@esargent I've just verified my test web app for this issue and it looks like it's fixed in West US. Can you check that you don't see the `ENOTSOCK` errors anymore when running without the `ThreadCount = 1` workaround?

[2016-05-09 20:04] cesarbs commented on #698
@vsotov I've just verified my test web app for this issue and it looks like it's fixed in West Europe. Can you check that you don't see the errors anymore when running without the ThreadCount = 1 workaround?

[2016-05-09 21:28] muratg commented on #768
Let's try this in RTM.

[2016-05-09 21:29] muratg commented on #809
What's the impact? I wonder if this was done for a reason...

[2016-05-09 21:32] muratg commented on #769
@jasonwilliams200OK did you get a chance to try @Tratcher's suggestion?

[2016-05-09 23:46] #782 closed

[2016-05-10 00:52] benaadams opened #817 "Move SocketInput Threadpool queue outside lock"
The Complete method in SocketInput also queues the action to the threadpool inside a lock; this can be moved outside the lock

https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Http/SocketInput.cs#L86

[2016-05-10 00:53] benaadams opened #818 "Improve performance of DateHeaderManager use"

[2016-05-10 00:55] benaadams opened #819 "Resetting connection via interface is expensive"
A not insignificant time in frame reset is spent resetting the connection addresses via interface when in all likelyhood they have not changed.

![reset connection info](http://aoa.blob.core.windows.net/aspnet/reset.png)

[2016-05-10 06:07] geoffkizer commented on #795
There are a ton of known headers, and it's not clear we really should predefine these, since there's some cost to it.  We should at least look at removing some of the pretty uncommon ones.

[2016-05-10 10:14] idarous opened #820 "Hot reload on Linux"
Hello,

I've tried to develop an ASP.net  5 project with Visual studio code and Kestrel on Linux.
I can build the project with dnx build and I can run it with dnx run.
However, after each change in my code, I need to build and run again the project.
I come from Play Framework (Java) and this technology support hot reload that is very usefull because you don't have to run again the project after ea

[2016-05-10 14:50] benaadams commented on #142
I've stopped seeing this - does it still occur?

[2016-05-10 15:05] muratg commented on #142
cc @sivagms

[2016-05-10 15:10] benaadams opened #821 "Responses crossing 2s boundaries may see torn Date header values"
If date header bytes set but request tasks longer than 2s (or multiples of 2s) it may catch the underlying byte date being updated.

Low probability as it will occur on 2s beats for under 1μs but still possible

[2016-05-10 15:16] benaadams commented on #819
Resolved by  #793

[2016-05-10 15:16] benaadams commented on #821
Resolved by #810

[2016-05-10 15:17] benaadams commented on #817
Resolved by #816

[2016-05-10 15:17] benaadams commented on #818
Resolved by #810

[2016-05-10 15:18] benaadams commented on #809
Resolved by #815

[2016-05-10 15:19] benaadams commented on #754
Resolved by  #815 ?

[2016-05-10 15:24] esargent commented on #582
I just deployed successfully after removing the code to set threadcount. fix verified.
Thank you!

[2016-05-10 15:33] moozzyk commented on #820
For RC1 you may want to take a look at dnx-watch tool which became dotnet-watch tool post RC1.

[2016-05-10 16:08] MarkPieszak opened #822 "After debugging ends - focus back to default browser - not Command prompt"
I'm not sure if this is more of a Kestrel issue, than perhaps Visual Studio 2015 (update 1), but when Continuing debugging (no more breakpoints) it pops up the Command line where Kestrel is running than going back to the browser.  Let me know if this should be posted elsewhere! Just wanted to get in on the radar.

OS: **Win 7**
Visual Studio 2015 (update 1)

[2016-05-10 16:28] davidfowl commented on #822
The bug should be filed here https://github.com/aspnet/Tooling

[2016-05-10 17:37] nathana1 commented on #795
I was able to taking a closer at the profiles and there's 2 primary issues:

1. FrameHeaders objects are huge so they take time to allocate, we are also addressing this with the pooling/caching work.
2. CopyToFast isn't that fast when we are creating response headers probably because there are so many different headers it checks for.

One approach is to be slightly less draconian than my prototype

[2016-05-10 17:40] geoffkizer commented on #795
I think there's one other potential issue too:  Even with pooling, Reset on the Headers objects are expensive because they are so large.  Nathan do you see that in your profiles?

[2016-05-10 17:45] kichalla opened #823 "Change the logger name for kestrel http server"
Any reason why we do this way in Kestrel.

![image](https://cloud.githubusercontent.com/assets/6559784/15156497/2c122cfa-169c-11e6-90f7-556bda59f1ab.png)

[2016-05-10 17:53] Tratcher commented on #823
Duplicate: https://github.com/aspnet/KestrelHttpServer/issues/775

[2016-05-10 17:53] #823 closed

[2016-05-10 17:57] cesarbs commented on #754
@benaadams Did you reference the right PR?

[2016-05-10 18:01] DamianEdwards commented on #821
Can you explain this a little more? I'm not quite following. Isn't the date header value bytes marked volatile and read/written to as such?

[2016-05-10 18:04] MarkPieszak commented on #822
Ahh there it is! Thank you David, I'll close it out and let them know over there.

[2016-05-10 18:04] #822 closed

[2016-05-10 18:05] benaadams commented on #821
The latency between the date bytes header being set and being copied to the "wire" may mean that the byte buffer may have transitioned to non active and then be updated. So it could be being updated at the same time it is being copied.

[2016-05-10 18:33] nathana1 commented on #795
Yeah, it does seem to be smaller than the other 2 though.

[2016-05-10 18:36] DamianEdwards commented on #821
Oh this code has changed a little since last I looked.

[2016-05-10 19:11] benaadams commented on #754
@cesarbs lol no, should be https://github.com/aspnet/KestrelHttpServer/pull/791

[2016-05-10 22:41] nathana1 commented on #795
I hoped to get an additional improvement from #812 since CopyToFast spends half its time doing bitwise comparisons and the other half block copies but I'm not seeing any perf difference between safe and unsafe whether I include the header trim or not.

[2016-05-10 23:40] benaadams commented on #821
Don't think its huge

[2016-05-10 23:51] BillHiebert opened #824 "Creating .NET Core empty web app called 'web' silently fails to launch in VS (it just hangs on launch)"
Create a new Empty .NET Core Web app in VS
Call it "web"

Hit F5 (to launch under IIS Express)

Actual:
It fails to launch (spinning Edge icon waiting for it to load) - there are not even an IIS Express logs to debug the issue

What's happening is kestrel is throwing the following exception. It only repros with projects named "web" and when hosted in iisexpress.

Unhandled Exception: System.Aggreg

[2016-05-10 23:54] benaadams commented on #824
The error means the port Kestrel is trying to listen on already has something listening on it

[2016-05-11 00:03] halter73 commented on #824
@benaadams Agreed that that is the most likely explanation. @cesarbs Said he was able to repro and that he would debug it.

[2016-05-11 00:21] halter73 commented on #809
@muratg This code specifically doesn't need to be done in a lock. It is only referencing local variables. I was just a little over-aggressive when reintroducing locks in some places where it is necessary in SocketInput. I also wonder the magnitude of the perf impact.

[2016-05-11 00:47] cesarbs commented on #824
@benaadams I'm not sure. When you try to listen on a port that's already in use you normally get an `EADDRINUSE`.

[2016-05-11 04:07] benaadams commented on #795
@nathana1 if you are reducing them, I might have something...

[2016-05-11 04:09] benaadams commented on #795
Known headers have known offsets; have a look at /MemoryPoolIterator2.Generated.cs https://github.com/benaadams/KestrelHttpServer/commit/f09696445822c2d0c6337735ccb8a2f57ba29d0a

[2016-05-11 11:27] vsotov commented on #698
@cesarbs I've checked my application, no errors. Everything works great.

[2016-05-11 13:09] benaadams commented on #813
https://github.com/dotnet/coreclr/issues/4908

[2016-05-11 14:04] LazerFX opened #826 "Path is apparently corrupted"
I'm running on Windows Server 2012 R2, fully patched, with Visual Studio 2015 Ultimate RU2 as a development environment.  I've reproduced this on my colleagues machine.

Putting together a .NET Core application that uses Webpack, I downloaded [Asp.Net Webpack](https://github.com/xabikos/aspnet-webpack/), a package that automates functionality of the Asp.Net integration to WebPack.

While running t

[2016-05-11 15:08] LazerFX commented on #826
For now, I've slightly mitigated this by modifying the `node_modules\\bin\\webpack-dev-server` file to directly reference `C:\Program Files\NodeJS\Node.exe`.  Of course, this will be overwritten next time I do an NPM update...

[2016-05-11 15:54] muratg commented on #826
@LazerFX Why did you file this in Kestrel? Looks more like a Process issue so perhaps the right place for the bug is https://github.com/dotnet/corefx?

Also, I recommend giving current RC2 bits a try -- see if you can repro this with a Console app with [dotnet CLI](https://github.com/dotnet/cli) for example.

[2016-05-11 16:03] benaadams commented on #826
If you do `set path` in a regular command window does it have all the repeated `C:\Users\Streep\.dnx\packages\Microsoft.AspNet.Server.Kestrel...` and the `PATHEXT` concatenated?

[2016-05-11 16:05] LazerFX commented on #826
@muratg I filed it with Kestrel because it was only while running under Kestrel that `Process` provided this obscure action - Running in a standard CLI app didn't, and running under LinqPAD or similar didn't... therefore, I assumed that the starting point for finding the actual issue was with Kestrel...

@benaadams No, that only happens if the `Process`-raised `cmd.exe` is created from within Kest

[2016-05-11 16:08] benaadams commented on #826
@LazerFX apparently according to stand up RC2 should be end of this week or beginning of next https://www.youtube.com/watch?v=P9HqMZviaMg

[2016-05-11 16:11] benaadams commented on #795
nvm CopyToFast is output not input

[2016-05-11 18:21] DavidObando opened #827 "NullReferenceException during shutdown"
Ran into this, but haven't been able to reproduce:
[code]

This was from the Performance repository, while doing:
[code]

A fix would be to check if handle != null before calling Dispose() [here](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Infrastructure/KestrelThread.cs#L133).

[2016-05-11 18:58] cesarbs commented on #698
@vsotov Thanks!

[2016-05-11 19:09] davidfowl opened #828 "Transport agnostic kestrel refactoring"
We want to allow a future where it is possible to use different transports:

![image](https://cloud.githubusercontent.com/assets/95136/15193062/ec490384-1770-11e6-850e-b94924fd3b44.png)

We'll want to look at RIO, and PacketDirect (on windows) and libuv and .NET sockets.

SocketInput is a bit of a misnomer, it's really just a linked list of memory pool blocks that can be iterated using the MemoryP

[2016-05-11 21:33] mikeharder commented on #796
Blocked on https://github.com/dotnet/corefx/issues/8458

[2016-05-11 21:46] tmds commented on #828
Would be nice if 'Transport' could be re-used in other server programs.

[2016-05-12 08:05] davidfowl commented on #828
@tmds I don't think that's valuable as a first class thing in Kestrel. The transport layer should be able to plug into kestrel but it's not going to be designed with general usability in mind. For that I'd suggest using the transport directly...

[2016-05-12 09:13] tmds commented on #828
@davidfowl Even per transport, making it re-usable (if possible) may be nice. For example, if I want to write an RTSP server and use libuv, probably there is much interesting code in Kestrel. I understand that the scope is limited to Kestrel at this point and I haven't looked at what managed wrappers exist for rio, libuv and PacketDirect.

[2016-05-12 10:01] MaherJendoubi commented on #828
@tmds Kestrel is intended to be a production HTTP(S) server for ASP.NET Core and it's not intended to be a fully-featured web server or a generic libuv .NET server or wrapper. It's recommended that you run it behind a more fully-featured web server, e.g. NGNIX, IIS...

[2016-05-12 10:04] khellang commented on #828
FYI; there's a spike of `System.Net.Libuv` in corefxlab; https://github.com/dotnet/corefxlab/tree/master/src/System.Net.Libuv

[2016-05-12 14:51] aL3891 commented on #828
ooo big thumbs up from me, this would be really nice, I've been looking at running kestrel on top of (Ripsharp)[https://github.com/aL3891/RioSharp] but I've been holding off until RC2 (and the tooling) drops. This would make that a while lot easier.

I know there has been discussions of this before but then the consensus was that kestrel was too libuv specific and that generalizing it might make l

[2016-05-12 18:34] halter73 commented on #796
The blocking PR has been merged.

[2016-05-12 18:38] mikeharder commented on #796
Yes, now we need to wait until KoreBuild moves to a CLI version which includes the fix.

[2016-05-12 20:02] shanewalters opened #830 "Client certificates are disposed before request can use them"
### Functional impact
When using Kestrel with HTTPS and requiring client certificates, the client certificate added to context feature collection is disposed after the callback to `userCertificateValidationCallback()` has completed. In a subsequent controller action, a request to `HttpContext.Connection.ClientCertificate` returns an instance of the disposed certificate.

### Minimal repro steps
1.

[2016-05-12 20:46] nathana1 opened #831 "generated code for Frame doesn't always reuse result of typeof"
The types of various features gets cached in Frame.Generated.cs: https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Http/Frame.Generated.cs#L9

But that cached value doesn't get reused in FastFeatureGet/Set: https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel/Http/Frame.Generated.cs#L66

There is a small win (2.5%)

[2016-05-12 20:58] benaadams commented on #831
Heh a mere 200,000 rps ;-)

Related, I saw this branch from @jkotas that hasn't been PR'd but looks interesting:  https://github.com/jkotas/KestrelHttpServer/commit/31d93d19a2c02f750cb49f686a598c8831d5524f

[2016-05-12 21:24] davidfowl commented on #828
We think we know how to do it now. Given the last year of experience and all of the refactoring we've done.

[2016-05-13 18:23] dasMulli commented on #828
@davidfowl @tmds Have seen quite a bunch of hacky transport abstractions for SIP / RTSP / RTP implementations so _some_ reusability would be nice in the long run (`System.Net.Libuv` looks promising).

[2016-05-15 18:00] alecor191 opened #834 "Kestrel listens on host:port instead of provided URI prefix"
Hi,

I have a very simple ASP.NET Core RC2 app and I use the following code to configure the web host:

[code]

I.e. I would like Kestrel to listen on `http://localhost:5000/aspnetcorerc2/` (notice the path). The app works fine, however my app also serves requests sent to `http://localhost:5000/`.

This is unexpected as I configured it explicitly to listen to the prefix including `/aspnetcorerc2/`

[2016-05-15 18:14] davidfowl commented on #834
You can't do this with Kestrel, it's an http.sys specific feature. You can only do it with WebListener not Kestrel.

[2016-05-15 20:18] alecor191 commented on #834
Thanks @davidfowl for clarifying!

[2016-05-16 13:37] tugberkugurlu commented on #388
I am also seeing this when I put Kestrel behind HAProxy. The apps run insider docker under rc1-update1 bits:

[code]

[This is my HAProxy config](https://github.com/tugberkugurlu/AspNetCoreSamples/blob/62928971ec5b10f22f31f19589610cf266efc40a/haproxy-zero-downtime-sample/haproxy.cfg), [this is the sample](https://github.com/tugberkugurlu/AspNetCoreSamples/tree/62928971ec5b10f22f31f19589610cf266efc

[2016-05-16 13:38] tugberkugurlu commented on #388
^^ @Tratcher @halter73 @muratg

[2016-05-16 18:11] halter73 commented on #388
@tugberkugurlu  Has this had any discernible impact on or application, or are you simply asking why these warnings are showing up in your logs.

On Linux, a -104 read status is an ECONNRESET instead of -4077 like on Windows (#649). Until a recent commit, we didn't properly identify the ECONNRESET on Linux and OS X. Since an ECONNRESET is not a truly exceptional case, it shouldn't lead to an IOExce

[2016-05-16 18:57] tugberkugurlu commented on #388
App seems to be working fine but it logs warning messages like those which clutters the log destinations, especially the console.

Any workarounds that I can apply and any other issue that this is being tracked so that I can follow?

[2016-05-16 19:01] cesarbs commented on #824
Interesting find here. Look what happens to the address Kestrel tries to bind to when the project is named "web":

![image](https://cloud.githubusercontent.com/assets/924164/15300460/ad5fdd82-1b5d-11e6-8eea-a70e95dd7b02.png)

Compare to any other project:

![image](https://cloud.githubusercontent.com/assets/924164/15300511/efa9d738-1b5d-11e6-9545-2e7468084762.png)

Looks like the issue is coming f

[2016-05-16 19:01] cesarbs commented on #824
cc @Tratcher

[2016-05-16 19:03] Tratcher commented on #824
Specifically, the ASPNETCORE_APPL_PATH is set to `ROOT/WEBHOST/WEB` for some reason. Is `WEB` a reserved site name in IIS/Express?

[2016-05-16 19:04] Tratcher commented on #824
This issue was moved to aspnet/IISIntegration#176

[2016-05-16 19:04] #824 closed

[2016-05-16 19:35] #683 closed

[2016-05-16 21:06] cesarbs commented on #834
@davidfowl You can do this in Kestrel :smile:

@alecor191 This is by design. The path you add to the listen address will affect how `PathBase` is set in requests to your app. Requests to `/aspnetcorerc2/something` will have `PathBase` set to `/aspnetcorerc2` and `Path` set to `/something`. If your path base is not matched in a request, we made the decision to let your app do something about that i

[2016-05-16 21:07] Tratcher commented on #834
But you still can't share the port.

[2016-05-16 21:22] cesarbs commented on #181
Fixed in https://github.com/aspnet/KestrelHttpServer/issues/683.

[2016-05-16 21:22] #181 closed

[2016-05-16 21:22] cesarbs commented on #181
Actually this is a dup of https://github.com/aspnet/KestrelHttpServer/issues/683.

[2016-05-17 09:05] LazerFX commented on #826
We've reproduced this in several locations now, all running under Kestrel; however we're no longer using this method, instead having put WebPack into a nodeJs middleware implementation.  I'm going to close this as, although the issue still exists, it's not affecting us and we cannot spend more resources evaluating it.  Hopefully RC2 will resolve it for anyone else who's hitting it.

[2016-05-17 09:05] #826 closed

[2016-05-17 14:46] shanewalters commented on #830
If it would help, I could put together a PR.

[2016-05-17 16:30] alecor191 commented on #834
Thanks @cesarbs for clarifying. Unfortunately it doesn't help me in my scenario where I have two processes listening on the same port (different paths) as mentioned by @Tratcher.

I'm using WebListener now as suggested by @davidfowl which works fine.

[2016-05-17 16:55] #834 closed

[2016-05-17 18:35] cesarbs commented on #475
So do we want just a single parameter to limit request line + header length? No checking request line length individually and individual header lengths?

Ping @Tratcher @halter73 @blowdart @davidfowl

[2016-05-17 18:36] blowdart commented on #475
No, we want all the things.

[2016-05-17 18:40] cesarbs commented on #475
So, rounding up the specific things we want:

* Request line length
* Request target length (I know @Tratcher would like this to be part of the previous one)
* Request query length? I'd rather have it as part of target length.
* Max single header length
* Max total headers length
* Max header count

What do you guys think?

[2016-05-17 18:43] Tratcher commented on #475
There's a lot of overlap and a lot of knobs here. I think we only need:
- Request line length
- Max total headers length
- Max header count

[2016-05-17 18:51] muratg commented on #475
@cesarbs Before starting to work on it, can we have a table of the knobs, and default values in a table to review?

cc @davidfowl

[2016-05-17 19:08] cesarbs commented on #475
I like @Tratcher's list, keeps things simple. Plus we risk regressing perfs if we're doing too many checks all over the request line/headers processing.

Here's a proposed list of limits, default and response status codes when limits are exceeded:

Limit | Default | Status code
-------|-----------|---------------
Request line | 16K | 414 ("Request **URI** Too Long", but realistically that's 99% of

[2016-05-17 19:32] halter73 commented on #475
Is the 16K "Headers length" limit per header meaning there would be a total limit of 1MB for all headers? Would we indicate to the client which type of header limit it ran into?

[2016-05-17 19:33] cesarbs commented on #475
@halter73 No, not per header. It would be a length limit on all headers collectively.

[2016-05-17 19:34] mikeharder commented on #475
Would be nice to add table columns showing the behavior of other servers, particularly IIS.

[2016-05-17 19:45] halter73 commented on #830
@shanewalters That would be great. I think rather than copying `RawData` we can just use `SslStream.RemoteCertificate`. I haven't tested it though. Thanks!

[2016-05-17 20:06] benaadams commented on #475
@cesarbs numbers should be in all the closed linked bugs at top

[2016-05-17 21:23] shanewalters commented on #830
`SslStream.RemoteCertificate` is a `X509Certificate`. I can't get the call to `new X509Certificate2(sslStream.RemoteCertificate)` to compile on net1.3 (works on net451), but does work by calling `new X509Certificate2(sslStream.RemoteCertificate.Handle)`. Is that acceptable?

[2016-05-17 21:26] Tratcher commented on #830
Using Handle is probably a bad idea. Do we know what the handle lifetime is? What happens if we dispose the cert?

[2016-05-17 21:27] #792 closed

[2016-05-17 21:56] shanewalters commented on #830
I don't see `SslStream` explicitly disposed, and it's scoped to `HttpsConnectionFilter.OnConnectionAsync()`, so my guess is GC picks it up; however, `SslStream.Dispose()` doesn't dispose the `RemoteCertificate` instance. Just to be clear, `X509Certificate` doesn't implement `IDisposable`, but has a `Reset()` method (which is what clears the main `X509Certificate2` instance).

[2016-05-17 23:41] shanewalters commented on #830
I verified that instantiating a new certificate based off the handle, and later disposing the original certificate (from `SslStream.RemoteCertificate`) does not affect the new `X509Certificate2` instance (the `m_certContextCloned` property was false). I think this could be used safely to create a new instance. Thoughts?

[2016-05-18 00:08] benaadams opened #837 "FrameContext is an unneeded class"
Everywhere that uses it, uses it to resolves `IFrameControl` only, which `Frame` could happily directly implement so it doesn't seem to add anything.

[2016-05-18 06:25] AustinWinstanley opened #838 "DotNet Core RC2 causes unicode issue in Chrome"
It works fine in Edge and Firefox.

Every page in Chrome is messed up with the unicode character &#65279; being inserted at the top causing the <head> content to be inserted in the body. It happens on all pages. Tested first on an upgraded site and then on a default web project created through Visual Studio.

[Referred from Core](https://github.com/dotnet/core/issues/94)

![untitled](https://cloud

[2016-05-18 06:43] AustinWinstanley commented on #838
Running through the command line does not have the problem.

`dotnet restore`
`dotnet run`

![untitled](https://cloud.githubusercontent.com/assets/4576933/15349636/d7ddbf92-1c99-11e6-8702-5d720906ed1f.png)

[2016-05-18 08:10] MegaMax93 commented on #752
How can I set the URL in RC2, where the web host will listen on? Like in [this](https://github.com/aspnet/KestrelHttpServer/issues/639) issue.

I need to specifiy different ports, because I have two ASP.NET RC2 services in one Service Fabric application. When I deploy the services, I got a `Error -4091 EADDRINUSE address already in use` exception.
Unfortunately I was not able to find the change, t

[2016-05-18 13:23] Tratcher commented on #838
RE: https://github.com/aspnet/StaticFiles/issues/130

[2016-05-18 16:32] moozzyk commented on #752
if you have code like this:
[code]
you can pass your url(s) as an application arguments --server.urls

Alternatively you can specify urls in your hosting.json and add this line:

[code]
when building the host.

[2016-05-18 16:45] benaadams commented on #752
@MegaMax93 also programmaticly with `.UseUrls`
[code]

[2016-05-18 17:31] cesarbs opened #839 "Reject requests that don't have a Host header"
RFC 7230 section 5.4 - https://tools.ietf.org/html/rfc7230#section-5.4

[2016-05-18 17:44] muratg commented on #839
@cesarbs What's our current behavior for requests that don't have a Host header?

[2016-05-18 17:45] halter73 commented on #830
I wouldn't bother Disposing/Resetting SslStream.RemoteCertificate.

We dispose SslStream in Connection.OnSocketClosed, and we never new up RemoteCertificate ourselves. Considering we weren't resetting the property before, I don't see why we'd start now.

[2016-05-18 18:07] cesarbs commented on #839
We process them as we would any other request.

[2016-05-18 18:41] muratg commented on #831
cc @mikeharder

[2016-05-18 18:44] muratg commented on #819
@halter73 Can you look into this? If this is low hanging fruit, let's take it.

[2016-05-18 18:48] #774 closed

[2016-05-18 18:48] #769 closed

[2016-05-18 18:57] muratg commented on #615
Mostly done.

[2016-05-18 18:57] #615 closed

[2016-05-18 19:00] #689 closed

[2016-05-18 19:01] muratg commented on #691
@halter73 claims that this is "super easy".

[2016-05-18 19:15] muratg commented on #780
@cesarbs Could you dupe this?

[2016-05-18 20:40] cesarbs commented on #666
Moving to Backlog. cc @muratg

[2016-05-18 21:48] halter73 commented on #656
@muratg I don't think this should still be in the 1.0.0 milestone. There is not stack trace for the AV. No AccessViolationException (maybe this was a first chance exception). Kestrel classes are nowhere on the stack that is provided.

There was also [a GC related fix](https://github.com/dotnet/coreclr/issues/4115) made since this report that could be related.

Unless we can reproduce this issue ag

[2016-05-18 21:51] halter73 commented on #657
@yuwaMSFT Can you still reproduce this AV?

[2016-05-18 21:51] Tratcher commented on #838
I've been able to repro this. The site is sending a BOM at the beginning:
[code]
This happens for both Kestrel and IIS Express. It's only visible in Chrome when using IIS Express, and I think this is because IIS Express is adding dynamic gzip compression and Chrome is handling it differently.

@rynowak why are there BOMs coming from MVC / Razor?

[2016-05-18 21:53] halter73 commented on #707
@sivagms Have we seen this since #723 was closed? If so, can we get a memory dump? Thanks.

[2016-05-18 22:02] halter73 commented on #838
@Tratcher should we move this issue again? As much as @davidfowl might object it doesn't appear that it's a Kestrel issue :wink:

[2016-05-18 22:06] rynowak commented on #838
@Tratcher - I'll come by to see your repro - Everywhere I can think of in MVC we use `HttpResponseStreamWriter` which doesn't write a BOM https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNetCore.WebUtilities/HttpResponseStreamWriter.cs#L14

[2016-05-18 22:18] cesarbs opened #840 "Send 'Connection: close' in all 400 responses to HTTP/1.1 requests"
We do it if we've determined the request is an HTTP/1.1 request, but not if we fail before that (i.e. bad request line).

[2016-05-18 22:44] Tratcher commented on #838
This issue was moved to aspnet/Mvc#4671

[2016-05-18 22:44] #838 closed

[2016-05-18 22:58] #840 closed

[2016-05-18 23:46] #827 closed

[2016-05-18 23:52] #831 closed

[2016-05-19 00:19] #809 closed

[2016-05-19 00:19] #818 closed

[2016-05-19 00:19] #821 closed

[2016-05-19 00:25] muratg commented on #809
Sounds, good, thanks @benaadams and @halter73.

[2016-05-19 05:15] cesarbs opened #847 "Investigate test failure"
https://ci.appveyor.com/project/aspnetci/kestrelhttpserver/build/1.0.2815

    Microsoft.AspNetCore.Server.KestrelTests.EngineTests.NoResponseSentWhenConnectionIsClosedByServerBeforeClientFinishesSendingRequest(testContext: TestServiceContext { App = null, AppLifetime = LifetimeNotImplemented { ApplicationStarted = (throws NotImplementedException), ApplicationStopped = (throws NotImplementedExcept

[2016-05-19 09:16] MegaMax93 commented on #752
Thanks to all for your quickly support.
I had a configuration typo in my parameter configuration files for the deployment (`Local.xml`), what caused a multiple creation of web hosts on the same location. So, even when I did changed the URL via `.UseConfiguration(config)` or `.UseUrls("http://*:8181")`, Service Fabric tried to create multiple instances on my machine. But it's good to know about hav

[2016-05-19 17:17] shanewalters commented on #830
I was going to put together a PR, but when I update `if (clientCertificate != null)` to `if (sslStream.RemoteCertificate?.Handle != IntPtr.Zero)`, the tests fail during cleanup. If I preserve the original `if` condition, test cleanup succeeds, but feels like the wrong conditional check. Do you want me to continue looking into it, or are you (@halter73) taking it from here?

[code]

[2016-05-19 18:45] halter73 commented on #142
We've seen these errors on our internal CI servers as recently as today.

[2016-05-19 18:50] cesarbs opened #849 "Minor code cleanup"

[2016-05-19 18:50] #849 closed

[2016-05-19 18:55] benaadams commented on #142
Yeah, I've started seeing it again - isn't a app startup thing either as is a wrk start-up thing

[2016-05-19 18:58] robbpriestley commented on #639
@joshcomley yes, thank you. I used this info to solve my problem with Docker port forwarding. The step that lead me here was [https://blog.rendle.io/asp-net-5-dnx-beta8-connection-refused-in-docker/](https://blog.rendle.io/asp-net-5-dnx-beta8-connection-refused-in-docker/)

[2016-05-19 21:05] #837 closed

[2016-05-19 21:11] #847 closed

[2016-05-19 22:30] cesarbs commented on #780
Dupe of #754.

[2016-05-19 22:30] #780 closed

[2016-05-20 00:36] pranavkm opened #852 "How to remove Response header server:krestel"
From https://github.com/aspnet/Mvc/issues/4689

As a security concern how can we remove "Server:krestel" from Response Header?

[2016-05-20 02:50] benaadams commented on #852
@sadjadbp `context.Response.Headers.Remove("Server")`

[2016-05-20 04:29] sadjadbp commented on #852
@benaadams that should work, I just need to add it somewhere at the end of startup.cs. But there should be a better way, maybe a built-in Middleware.

[2016-05-20 04:39] cwe1ss commented on #852
How about making this an option on `KestrelServerOptions`?

[2016-05-20 04:45] cesarbs commented on #852
@blowdart

[2016-05-20 04:45] davidfowl commented on #852
Yea I was just thinking that we should do this. Banks always want to be able to obfuscate the tech being used.

[2016-05-20 05:01] cesarbs commented on #852
This can be mitigated by putting Kestrel behind a reverse proxy and configuring the reverse proxy to remove the header (e.g. `server_tokens off;` in nginx). This is a good one to think about but it's post 1.0.0.

cc @muratg

[2016-05-20 09:07] plouveau opened #854 "Very slow server response or 502.3 Gateway Error with default project using asp.net core RC2"
I'm currently encountered a strange bug while debugging the default web project with asp.net core RC2.

Steps to reproduce :
1- I created an ASP.NET Core Web Application (.Net Core or .Net Framework)
2 - Once the project is created, I click on debug using IISExpress
Result -> After a long time, it gives me "Error 503.2 Bad Gateway" (from ASP.NET CORE Module)
![iisexpresserror](https://cloud.github

[2016-05-20 11:34] benaadams commented on #852
@cwe1ss add at the start of `Startup.Configure` rather than end e.g.
[code]

[2016-05-20 11:38] cwe1ss commented on #852
doesn't look nice! :) I'd prefer Kristian's PR since this is a common use-case.

[2016-05-20 11:53] benaadams commented on #852
So it shouldn't be in Kestrel, it should be somewhere common so it doesn't matter whether you are using Kestrel, WebListener, some other server or change server, it still works.

[2016-05-20 12:05] cwe1ss commented on #852
but why add it and then remove it again?

[2016-05-20 12:05] khellang commented on #852
I'm not so sure. I think it's a server concern since the server is the one adding the header.

The old [RFC2068 Section 15.4](https://www.ietf.org/rfc/rfc2068.txt) even mentions

Though this has been removed in the newer RFCs (2616 and 7231):

I think this is something that should be configurable on the server level. If anything, you're just doing *less* work by not adding it and then removing it

[2016-05-20 12:29] benaadams commented on #852
I mean it should be a feature that is effective across all servers so you can do one thing and it will continue to work if you change server e.g.
[code]
So if you move from `.UseKestrel` to `.UseWebListener` for Windows Authentication you aren't exposing the server header by default and what you did before still works.

Re: rfc2068 it is easy to remove as pointed out earlier and configurable so yo