[2017-04-06 19:49] tmds commented on #1390
I agree it makes sense to defer request handling to the threadpool to avoid the issues caused by bad application code.

What are your thoughts on the threadcount used for the benchmark?

[2017-04-06 19:51] benaadams commented on #1390
Don't know the rational, at a guess, its examining the overhead associated with dispatching to the threadpool vs not?

[2017-04-06 22:03] mikeharder opened #1616 "Flaky Test: Kestrel.FunctionalTests sometimes fails with "unable to communicate with test host process" or assert"
Kestrel.FunctionalTests sometimes fails with "unable to communicate with test host process" (on netcoreapp2.0) or an assert (net46).  A workaround is to use release instead of debug (`build.cmd /p:Configuration=Release`).

# Assert
[code]

# CI Build Failure
http://aspnetci/viewLog.html?buildId=197746&tab=buildLog&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR&logTab=tree&filter=important&consoleSt

[2017-04-06 22:33] mikeharder opened #1617 "Kestrel tests fail with `unable to load DLL 'libuv'` on net46 and CLI 2.0.0-preview1-005685 or newer"
On CLI 2.0.0-preview1-005685 or newer, Kestrel tests on net46 fail with `unable to load DLL 'libuv'`.

Explanation: https://github.com/dotnet/core-setup/issues/1961
Root Cause: https://github.com/dotnet/sdk/issues/909

The recommended workaround is to add `<OutputType>exe</OutputType>` to test csproj.

[2017-04-06 22:35] mikeharder opened #1618 "Revert workaround for "Kestrel tests fail with `unable to load DLL 'libuv'` on net46 and CLI 2.0.0-preview1-005685 or newer""
Once "Explicit RID still required for .NET Framework test projects (https://github.com/dotnet/sdk/issues/909)" is fixed, the workaround added for "Kestrel tests fail with `unable to load DLL 'libuv'` on net46 and CLI 2.0.0-preview1-005685 or newer (https://github.com/aspnet/KestrelHttpServer/issues/1617)" should be reverted.

[2017-04-07 00:15] natemcmaster commented on #1296
Attributes?

[code]

Or, an attribute per aspect:
[code]

[2017-04-07 02:10] JunTaoLuo opened #1620 "Flaky test: RegisterAddresses_IPv4_Success"
Seems flaky with the error:
[code]
see http://aspnetci/viewLog.html?buildId=197950&tab=buildResultsDiv&buildTypeId=CoreCLR_Linux#testNameId-6881719945987632294

cc @mikeharder @cesarbs

[2017-04-07 02:11] #1588 closed

[2017-04-07 02:12] JunTaoLuo commented on #1620
This is different from the usual EADDRINUSE it seems.

[2017-04-07 02:40] Tratcher commented on #1296
A TLS connection can negotiate to use HTTP/1.1 or HTTP/2 via ALPN, it's not static.

[2017-04-07 02:52] davidfowl commented on #1296
No, not attributes. It needs to be programmatic. As @Tratcher eludes to. It's state that set during the execution of the connection filter that the `ConnectionHandler` reads

[2017-04-07 03:03] JunTaoLuo opened #1621 "Flaky Test: Functional tests on Linux "disposing listeners failed""
Seeing this as part of our partner acquisition linux builds but I suspect they are flaky on all platforms:

Microsoft.AspNetCore.Server.Kestrel.FunctionalTests.HttpsTests.EmptyRequestLoggedAsInformation
[code]
Microsoft.AspNetCore.Server.Kestrel.FunctionalTests.HttpsTests.EmptyRequestLoggedAsInformation
[code]

More info: http://aspnetci/viewLog.html?buildId=197969&tab=buildResultsDiv&buildTypeId=

[2017-04-07 03:03] JunTaoLuo commented on #1621
cc @cesarbs

[2017-04-07 14:35] capiono opened #1625 "Can load libuv after migrating to VS2017"
My project was created in VS 2015, targeting net461.

I migrated to VS 2017, now I can't run my application when Targeting Platform is set to x64 or AnyCPU.

works when Targeting Platform is set to x86.

when Targeting Platform is set to  x64 or AnyCPU I get this error at this line:
`host.Run();`

**Error**
[code]

Error is occurring in both IIS Express and IIS.

I want to be able to build and run

[2017-04-07 19:28] muratg commented on #1144
@blowdart We're currently rejecting if the header is UTF8, so I don't think this has security implications. Moving to 2.1.0

[2017-04-07 19:30] blowdart commented on #1144
Won't this still reject UTF8 cookies? if so that's a problem

[2017-04-07 19:32] muratg commented on #1334
@davidfowl has some ideas for another (nicer) workaround.

[2017-04-07 19:34] muratg commented on #142
Dup of https://github.com/aspnet/KestrelHttpServer/issues/1360

[2017-04-07 19:34] #142 closed

[2017-04-07 19:35] muratg commented on #1543
@pakrym good to close?

[2017-04-07 19:36] #1543 closed

[2017-04-07 19:38] muratg commented on #1339
This issue was moved to aspnet/Hosting#1013

[2017-04-07 19:38] #1339 closed

[2017-04-07 19:39] #1354 closed

[2017-04-07 19:39] #1407 closed

[2017-04-07 19:41] muratg commented on #1435
Done per @davidfowl

[2017-04-07 19:41] #1435 closed

[2017-04-07 19:47] muratg commented on #1522
Can't find this test on the codebase. Looks like it's deleted.

[2017-04-07 19:47] #1522 closed

[2017-04-07 19:48] muratg commented on #1534
Fixed

[2017-04-07 19:48] #1534 closed

[2017-04-07 19:54] muratg commented on #1570
@natemcmaster please ping @halter73 for context on this issue.

[2017-04-07 20:02] Eilon opened #1628 "Don't log stack traces for localhost bind failures (port fix to 1.0.x)"
Port this fix to 1.0.x: https://github.com/aspnet/KestrelHttpServer/pull/1238

[2017-04-07 20:02] Eilon opened #1629 "[1.1.2] Don't log stack traces for localhost bind failures (port fix to 1.1.x)"
Port this fix to 1.1.x: https://github.com/aspnet/KestrelHttpServer/pull/1238

[2017-04-07 20:58] JunTaoLuo commented on #1334
@Tratcher UseIISIntegration will set PreferHostingUrls after we address https://github.com/aspnet/IISIntegration/issues/352

[2017-04-07 21:14] Drawaes commented on #1144
FYI if you care SNI says the host is utf8

   string using UTF-8 encoding [UTF8], without a trailing dot.
Now a good server should probably check the host header and SNI match, might be impossible if you can't have a utf8 header

[2017-04-07 21:46] davidfowl commented on #1144
Why is that a problem? We've had 2 complaints overall so far.

[2017-04-07 22:20] budcribar opened #1631 "Notification needed to identify when the server is listening and ready to accept web requests."
We have an app with Kestrel and an embedded web browser control. We would like some way to be notified that the server is accepting requests before we surf to the index.html with the embedded web browser control. Any ideas ?

[2017-04-07 22:26] Tratcher commented on #1631
This is all in the same process, right? Resolve the IApplicationLifetime service and hook ApplicationStarted
https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting.Abstractions/IApplicationLifetime.cs

[2017-04-07 23:38] davidfowl opened #1632 "ConnectionClosesWhenFinReceivedBeforeRequestCompletes failed"
Failed https://travis-ci.org/aspnet/KestrelHttpServer/jobs/219866246

[code]

[2017-04-08 00:06] dotnetshadow commented on #1334
@Tratcher ahh thank you didn't know there was PreferHostingUrls thing  any documentation on that?

[2017-04-08 00:12] #1617 closed

[2017-04-08 02:05] Tratcher commented on #1334
@dotnetshadow it's new for 2.0:
https://github.com/aspnet/Hosting/commit/4cdc970055ef2ad77887109c4acde89278e0ce18

[2017-04-08 02:39] xavierjohn commented on #1344
In my case, context.Connection.ClientCertificate is null
Powershell> Invoke-WebRequest https://localhost:44303/api/values -Certificate $cert

I tried HttpsConnectionFilterOptions with a callback but the function is not getting called.
@SudharsanN: How did you get  context.Connection.ClientCertificate to contain the certificate?

[2017-04-08 02:55] Drawaes commented on #1344
In my case I used the Http client from .net so I would say it's an issue with the invoke web request.

Did you check with wireshark or fiddler that your client is sending the cert?

[2017-04-08 05:58] davidfowl commented on #1632
Here are what the logs look like when it fails:

[code]

[2017-04-08 07:59] davidfowl commented on #1632
This test is just racy in general but I'll fix it regardless.

[2017-04-08 08:22] #1632 closed

[2017-04-08 08:49] davidfowl commented on #1231
This is fixed

[2017-04-08 08:49] #1231 closed

[2017-04-08 09:20] tugberkugurlu commented on #1176
Has the fix for this been shipped? I am seeing a similar message *(Error -104 ECONNRESET connection reset by peer)* being logged at the information level still with `Microsoft.AspNetCore.Server.Kestrel` v1.1.0:

[code]

[2017-04-08 10:26] Drawaes commented on #1354
No reason for the close?

[2017-04-08 14:35] davidfowl commented on #1354
We're making this API pubternal for 2.0.0 and this can easily be replicated with the public surface that's there today

[2017-04-08 14:55] Drawaes commented on #1354
Cool. Good to have an answer for the close :)

[2017-04-08 16:35] xavierjohn commented on #1344
Could you post your sample on github?
Invoke-Request should have worked. I also tried a .net client.
https://msdn.microsoft.com/powershell/reference/5.1/microsoft.powershell.utility/Invoke-WebRequest

The code I tried.
        static void Main(string[] args)
        {
            var handler = new HttpClientHandler();
            handler.ClientCertificateOptions = ClientCertificateOption.Manual;

[2017-04-08 16:48] Drawaes commented on #1344
Sure. When I get home later I can try to make a sample. Can you give me the asp.net core version you are using?

[2017-04-08 17:12] Drawaes commented on #1344
I see it's 1.1 I will try to make a sample. I am using it in prod code so  ant copy paste

[2017-04-08 17:45] hheexx commented on #271
@Bartmax Hi Bartmax, did you fix the issue ?

I am having similiar simtoms.

Looks like all outbound connections from .net proccess stop including connection to db using EF (same error as yours) and connection to solr.
Also kastrel stops serving.

Ubuntu 16.04. Behind nginx.
Node services attached for Angular prerendering + web api.
I tried to split traffic for prerendering and for api to 2 instan

[2017-04-08 19:29] xavierjohn commented on #1344
Thanks...  I have tried 2 different sample on two different machines but no success.
  <PropertyGroup>
    <TargetFramework>netcoreapp1.1</TargetFramework>
  </PropertyGroup>
and

<PropertyGroup>
    <TargetFramework>net461</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
 </PropertyGroup>

It feels like UseKestrel options seems to have no effect. It seems to behave the same n

[2017-04-08 20:26] Bartmax commented on #271
@hheexx this was open on 2015. Lot of stuff changed since then and no, I had no more problem since ages.

[2017-04-08 20:55] hheexx commented on #271
I saw the date but I have very similar problems and no idea what it could be.
It did not show up in testing, only in production under load.

Very strange.

Thanks!

[2017-04-08 21:02] Bartmax commented on #271
Are you sure the request it's not just timing out ?

[2017-04-09 02:54] xavierjohn commented on #1344
Finally got it to work by NOT using IIS Express and using the below code...
[code]

If I don't give the SslProtocols.. It gives error "The client and server cannot communicate, because they do not possess a common algorithm"

This article said not to use IIS Express
http://www.blinkingcaret.com/2017/03/01/https-asp-net-core/

[2017-04-09 08:45] davidfowl commented on #1390
@tmds I think you're right, we need to change the benchmark. If we're using libuv threads make threads = number of cores or number of cores * 2.

[2017-04-09 08:46] davidfowl commented on #1390
@halter73 I had second thoughts on this, we should expose a flag that says `UseTransportThread` (which is basically the same thing).

[2017-04-09 08:47] #1390 closed

[2017-04-09 09:00] davidfowl opened #1641 "Smarter output buffering"
In order to improve application performance, we might be able to do some clever buffering that won't affect most applications. The theory is that we can buffer all output until there's no more input in the pipe. Even though there's no correlation between input and output, this shouldn't introduce bad buffering behavior in most cases and will improve pipelined requests dramatically. We can still re

[2017-04-09 09:10] benaadams commented on #1641
Or buffer until (`packet full (1400bytes ish)` || `no more input`) Layer 7 (Application) Nagel rather than TCP's Nagel; as TCP doesn't know if there is going to be more data (bad); whereas the Application does (good).

[2017-04-09 09:10] benaadams commented on #1641
Would want to switch it off for upgraded streams (websockets)

[2017-04-09 09:16] Drawaes commented on #1641
And make the size bigger for tls :)

[2017-04-09 09:18] benaadams commented on #1641
Saw 50% gain when experimenting with this before https://github.com/aspnet/KestrelHttpServer/pull/1236

[2017-04-09 15:54] budcribar commented on #1631
Perfect.. thanks Tratcher

[2017-04-09 15:54] #1631 closed

[2017-04-09 18:46] Drawaes commented on #1344
Normally to get the browser to ask the server side has to list the CA's it will accept certificates from not sure how you can configure that with SSLStream or if it's even possible.

[2017-04-10 07:16] tmds commented on #1641
The output buffering helps a lot for the plaintext benchmark. The test itself seems very artificial (100% load + all synchronous responses).
Does it happen often that output buffers can be stitched together on their way to the kernel?

[2017-04-10 07:38] benaadams commented on #1641
@tmds [TCP has Nagle](https://en.wikipedia.org/wiki/Nagle%27s_algorithm) which is on sockets by default to do this; its switched off by default in Kestrel as it interacts badly with [delayed acks](https://en.wikipedia.org/wiki/TCP_delayed_acknowledgment) which is a harder thing to control; also introduces transmission delays.

At the TCP layer the kernel isn't aware of what will be happening next

[2017-04-10 09:42] grahamehorner opened #1645 "Kestrel listeners"
I'm writing a multitenant application and would like to dynamically start/stop kestrel listeners on a given IP/PORT is this possible? if so how/if not would/could there be a work around or feature added to support this with the refresh of kestrel?

[2017-04-10 09:46] tmds commented on #1641
Here the application layer has control by flushing when a meaningful amount of data is available (e.g. http response). In the Nagle case, most of the small (1 byte) packets were not meaningful on their own.

An interesting observation is the libuv thread already delays writes. For the plaintext benchmark this coalesces the outputs of the pipelined requests. The delay on the libuv thread depends on

[2017-04-10 09:52] grahamehorner commented on #1645
maybe an option would be to include methods of

Start( endpoint ) - a listener on a given endpoint

Stop( ) - all listeners
Stop( endpoint ) - stop a listener on a given endpoint

Restart( ) - restart all listeners
Restart( endpoint ) - restart a listener on a given endpoint

to the IServer interface; having these methods exposed would allow for the developer to control things like turning on/off

[2017-04-10 09:58] davidfowl commented on #1645
You can't change the end point during the call to Start/Stop, nor can you restart the server. That would require some bigger design changes that we don't plan to do. There is working happening here to add a Stop method for different reasons, https://github.com/aspnet/Hosting/pull/995. We could look at allowing restart after stop but would require some more thought.

Why do you need this functional

[2017-04-10 12:15] grahamehorner commented on #1645
Thanks for pointing out the aspnet/Hosting#995; We are developing a multitenant application where the tenant administrator(s) have the ability to remote control the availability of endpoint services, we have a requirement to allow NON technical business administrators to turn on/off functionality/services according business needs; one example is a requirement to have security administration endpoi

[2017-04-10 12:20] Drawaes commented on #1645
I do, and would... it's a somewhat stupid idea that security will be provided through shutting down a listening endpoint in Kestrel. What stops someone from using anyone of the other endpoints to access the same code?

Aside from that... if you really want to have your situation work (which seems a bad idea from your security people but hey)... why don't you run another kestrel in the same process

[2017-04-10 12:23] grahamehorner commented on #1645
@davidfowl could the _transports not be changed into a IDictionary key on the endpoint; and the the transport could be started/stopped created/bound dynamically?  the Start<TContext> would need to change to hold the type of the initial call; so to verify when call subsequent times the TContext is of the same type;

to start stop create endpoint simply pass the new listenOptions to start ?
or expli

[2017-04-10 12:28] grahamehorner commented on #1645
@Drawaes I'm of the same opinion but need some hard points on why it's not advisable; or going against what they are saying is best practise for reduce surface of attack ?

BTW, all endpoints are also protected using OpenIDConnect so simple turning on the endpoint or access other endpoint wont get you access to the tenant services.

[2017-04-10 12:30] Drawaes commented on #1645
Sure but what does having a separate endpoint give you? Anyway that aside why not run more than 1 kestrel in proc?

[2017-04-10 12:32] Drawaes commented on #1645
You wouldn't like my argument which is if you want reduced attack surface it should run out of process in another process, And but shutdown there and the code should never be available in the "lesser" privileged process... But not sure that will make your life easier ;)

[2017-04-10 12:33] grahamehorner commented on #1645
@Drawaes We may have a reasonable idea here that would keep the security people happy ;) We are think that we'll automated via script of a docker the build/start-up of the tenant administrator portal; complete separation of concern :D

[2017-04-10 12:36] grahamehorner commented on #1645
oh, just been asked about multi-homing now :'( feeling like ground-hog-day

[2017-04-10 16:17] natemcmaster commented on #1625
@capiono can you share your \*.csproj file?

[2017-04-10 16:32] muratg commented on #1290
Removing from Backlog as @danroth27 asked about scenarios (4) and (5).  We'll need to discuss this.

[2017-04-10 16:36] danroth27 commented on #1290
We need to be able to configure SSL for a couple of our templates:
- Setting auth with Azure AD requires an HTTPS endpoint to receive the token
- Identity as a service requires HTTPS for the metadata endpoint and for receiving the token

@glennc @javiercn @mlorbetske @blowdart

[2017-04-10 16:39] davidfowl commented on #1290
@danroth27 You realize none of the above works with IIS right?

[2017-04-10 16:43] Tratcher commented on #1290
@davidfowl True, but configuring https in IIS is a reasonably addressed problem.

[2017-04-10 16:59] muratg commented on #1290
@davidfowl Also, SSL, port etc should be easier to configure if Kestrel becomes an "edge" server.

[2017-04-10 17:37] glennc commented on #1290
In my mind the key thing here is to allow `WebHostBuilderContext` to flow to the UseKestrel extension method(s). You can add WebHostBuilderContext to UseKestrel without any of the options stuff taking an explicit dependency on Hosting or Configuration. Which seems like the right thing to do at the moment.

[2017-04-10 19:15] muratg commented on #1641
@pakrym This is lower priority than everything else, and if we can't get it done it's fine.

[2017-04-10 19:28] benaadams commented on #1641
Add another method to pipe? `SignalAsync` where flushing optional for the receiver vs `FlushAsync` where it is compulsory?

So `Commit` => `Signal`(+Commit) => `Flush`(+Commit+Signal)

[2017-04-10 19:31] muratg commented on #1598
No repro

[2017-04-10 19:31] #1598 closed

[2017-04-10 19:35] muratg commented on #1591
Let's make it future-proof. (`PadLeft(10, '0')`) maybe?

[2017-04-10 19:36] muratg commented on #1591
@shirhatti FYI. We should connect this with the ETW work you're planning in ANCM.

[2017-04-10 19:36] Drawaes commented on #1641
TryFlush

[2017-04-10 19:42] natemcmaster commented on #1296
@davidfowl Ok, well instead of making more blind guesses at what you are thinking, can you share your design?

[2017-04-10 19:43] benaadams commented on #1641
I think `TryFlush` is too ambiguous in meaning? Would need to be `TryFlushAsync` as may bock.

This is contrary to `TryRead` which means don't block.

[2017-04-10 19:44] Drawaes commented on #1641
Actually don't you have commit vs flush? At the moment I commit the multiple messages in a "flight" and flush on the last

[2017-04-10 19:46] Drawaes commented on #1641
3 ways to "end" writing could become a mess

[2017-04-10 19:49] muratg commented on #1290
@danroth27 Could you showcase the template changes for this one? @davidfowl wants to see this before committing to a design :)

[2017-04-10 19:49] benaadams commented on #1641
3 levels of granularity; each one would also do the one above
[code]

[2017-04-10 19:49] muratg commented on #1290
@shirhatti FYI

[2017-04-10 19:53] Drawaes commented on #1296
I think there was a scheme and protocol setting because http1.1 can be over tcp or tls. Also there might be webrtc etc which can all be set by the tls layer. Definitely don't make it internal cause then we are "stuck" with SSLStream or what ever and I can't hack in kerb, ntlm, tls1.3 and all the cool stuff.

(Well I can but it will involve even more hacking : )

[2017-04-10 20:04] Drawaes commented on #1641
so what happens if you call signal and you are full (need to apply back pressure) does it basically become a flush?

[2017-04-10 20:34] benaadams commented on #1641
Yeah; that's kind of the point. Optional flush vs compulsory flush.

So Commit is for sync work; fast writes (not getting too big)
Signal when you've done a bunch of work (e.g. Razor page/Textwriter flushing its buffer)
Flush either when end of output or writer could block

So loop could be something like
[code]

[2017-04-10 20:41] muratg commented on #1604
cc @BillHiebert

[2017-04-10 20:41] benaadams commented on #1641
And for a simple user scenario where you aren't too concerned about unblocking all the flows you can just drop `Commit` , `SignalAsync` and `TryRead` so something like

[code]

[2017-04-10 20:44] pwen090 opened #1647 "Obtaining HttpContext within ClientCertificateValidation"
We have an asp.net core self hosted application within Kestrel. Part of the configuration is using .ClientCertificateValidation functionality of HttpsConnectionFilterOptions. We have the func override and validation happening correctly for client certificates but within our validation function we need to obtain HttpContext so that we can add an asp.net identity role to the connection whose certifi

[2017-04-10 20:52] Drawaes commented on #1641
I like it but.... you need signal and flush on the pipewriter .... kinda what I am doing without the signal.

[2017-04-10 20:55] Drawaes commented on #1647
Do it in 2 phases... validate the cert in the validate... then middleware for the user identity.

[2017-04-10 20:57] benaadams commented on #1641
Its pseudo-code; in the non-compiling dialect they use in academic papers 😉

[2017-04-10 21:06] pakrym opened #1648 "Connection is not closed gracefully if client disconnected just before Dispose"
Repro:
[code]
`After Microsoft.AspNetCore.Hosting.EndRequest` is printed after `After Dispose`

[2017-04-10 21:07] pakrym commented on #1648
This should be fixed as part of @halter73 connection tracking change.

[2017-04-10 21:09] pwen090 commented on #1647
We originally were doing certificate validation as middleware but that seemed to invoke on every request vs. initial session establishment; therefore was a performance hit. We moved to ClientCertificateValidation because that seems to only call validation once per session establishment.

When you say to do the user identity in middleware - is there a way to do that only once when the session is es

[2017-04-10 21:51] xavierjohn commented on #1344
I have wrote a sample here
https://github.com/xavierjohn/ClientCertificateMiddleware
Next steps is to figure out how to create claims based on the client certificate.

[2017-04-10 22:39] halter73 commented on #1176
@tugberkugurlu Kestrel will still log ECONNRESETs that occur mid-request which is likely what's happening here.

[2017-04-10 22:50] Drawaes commented on #1647
Then you need to write a connection adapter... and inject something in the features collection you can drag out

[2017-04-11 02:34] davidfowl commented on #1648
@muratg I assigned this one to @halter73 since he's already working on it.

[2017-04-11 02:35] davidfowl commented on #1616
This is fixed with https://github.com/aspnet/KestrelHttpServer/commit/58284bde5c1980e62996df54ffc477f8215e446d

[2017-04-11 06:13] davidfowl commented on #1616
Nope, I can still reproduce it.

[2017-04-11 06:19] mikeharder commented on #1621
Another failure, also on Partner Acquisition \ Build: Linux

http://aspnetci/viewLog.html?buildId=199630&tab=buildResultsDiv&buildTypeId=CoreCLR_Linux

[2017-04-11 06:54] davidfowl commented on #1621
I know why this fails now. I debugged the test and have a root cause. The fix unfortunately is part of the work that @halter73 is doing right now to move connection management into kestrel core.

[2017-04-11 06:59] davidfowl commented on #1648
This is the same issue causing https://github.com/aspnet/KestrelHttpServer/issues/1621 to fail.

[2017-04-11 07:00] davidfowl commented on #1616
This is the same issue as https://github.com/aspnet/KestrelHttpServer/issues/1621

[2017-04-11 07:23] davidfowl commented on #1621
As described today by @halter73 this is happening because of a race between when the connection closes and when the libuv connections are walked during shutdown. Normally, the shutting down the server waits a for a certain amount of time before ending all connections, but since we made the change to immediately abort the connection on on a FIN, we lose track of that connection even though we may s

[2017-04-11 07:27] davidfowl commented on #1616
As described today by @halter73 this is happening because of a race between when the connection closes and when the libuv connections are walked during shutdown. Normally, the shutting down the server waits a for a certain amount of time before ending all connections, but since we made the change to immediately abort the connection on on a FIN, we lose track of that connection even though we may s

[2017-04-11 07:41] davidfowl commented on #1621
This was from a run on my machine. Seems like the 2.5 second timeout might be too short. Something got slower.

[code]

[2017-04-11 10:50] codepunkt opened #1652 "DllNotFoundException: Unable to load DLL 'libuv': The specified module could not be found. (Exception from HRESULT: 0x8007007E)"
Steps to reproduce using Visual Studio Professional 2017, 15.0.0+26228.9 and .NET Framework 4.6.01586

1. New Project > Console App (.NET Framework)
2. Manage NuGet Packages, Add "Microsoft.AspNetCore" (v 1.1.1)
3. `Program.cs` code

[code]

4. Start Debugging

System.AggregateException occurred
  HResult=0x80131500
  Message=One or more errors occurred.
  Source=mscorlib
  StackTrace:
   at Syste

[2017-04-11 11:05] khellang commented on #1652
I've had this problem as well. I think this is related to the older project system/tooling (packages.config etc.) not supporting native dependencies and runtime IDs.

I'm not sure if this is/should be supported or not, but I've solved it by just copying libuv.dll to output using MSBuild:

[code]

`Libuv1.9.1` must, of course, match your installed version of Libuv :smile:

[2017-04-11 11:10] khellang commented on #1652
Also, possibly related; https://github.com/aspnet/KestrelHttpServer/issues/1625

[2017-04-11 13:02] codepunkt commented on #1652
@khellang thanks for the heads-up! That sounds rather confusing. I've read elsewhere that Kestrel doesn't work with `packages.config` projects - which leaves me baffling (as i'm new to the whole .net ecosystem and found no other way to create a console app project from VS2017).

What is the best way to get a console application using kestrel and asp.net core that is run on the asp.net framework 4.

[2017-04-11 13:10] khellang commented on #1652
Yeah, that might be the official story, but by pasting the lines above into my project, I'm happily using Kestrel on full .NET Framework 4.5.2, with packages.config :smile:

If you want an ASP.NET Core application, running as a console app (all ASP.NET Core apps are console apps), on full .NET Framework 4.6.x, you should be able to use the project template under

![image](https://cloud.githubuserc

[2017-04-11 14:12] codepunkt commented on #1652
Thanks! I've also got it working using @davidfowl 's [comment](https://github.com/aspnet/KestrelHttpServer/issues/1292#issuecomment-278871702) in #1292. New console applications are now created using `PackageReference` instead of `package.json`. After adding Kestrel NuGet package as a dependency, i then need to copy something like this

[code]

into the `.csproj`. Not sure why that works or what t

[2017-04-11 14:19] khellang commented on #1652
I'm probably not the right person to ask, as I'm very opinionated about how my APIs are set up, but I would definitely go for "Empty" and fill in what I need. The defaults usually come with a load of stuff I'm not interested in. See http://benfoster.io/blog/bare-metal-apis-with-aspnet-core-mvc for an example.

[2017-04-11 15:08] davidfowl commented on #1652
Dupe of https://github.com/aspnet/KestrelHttpServer/issues/1625

[2017-04-11 15:08] #1652 closed

[2017-04-11 17:14] natemcmaster commented on #1616
Hit same error just now, but stack trace came from Frame.ProduceEnd.

[2017-04-11 17:24] xavierjohn commented on #766
I have got the same error on Azure Web App.
"Error -4089 EAFNOSUPPORT address family not supported"

Here is the startup code
`
        public static void Main(string[] args)
        {
            var whb = new WebHostBuilder();

            var environment = whb.GetSetting("environment");
            var subjectName = GetCertificateSubjectNameBasedOnEnvironment(environment);
            var certi

[2017-04-11 17:28] Eilon commented on #1544
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-11 17:28] Eilon commented on #1544
@halter73 - because @cesarbs is OOF, can you make this change?

[2017-04-11 17:29] Eilon commented on #1628
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-11 17:37] halter73 commented on #766
@xavierjohn The EAFNOSUPPORT log during Azure Web App startup is a pretty benign warning indicating the the environment doesn't support IPv6, but Kestrel is still listening over IPv4.

In our upcoming patches, we plan to remove the warning since it looks pretty scary even though it's not a big deal.

[2017-04-11 17:40] halter73 commented on #1544
@Eilon Will do.

[2017-04-11 17:57] danroth27 commented on #1290
I think we would add code that looks something like this:

[code]

And then we would add the SSL certificate to use for development in appsettings.Development.json.

[2017-04-11 18:09] JunTaoLuo opened #1654 "Delay config of listen options until server starts"
Currently ListenOptions are configured immediately when Listen is called. We should delay this until we have determined to use the ListenOptions or IServerAddressesFeature since we may be throwing away the configured endpoints in https://github.com/aspnet/KestrelHttpServer/blob/99278c469161370b1015c67d18ae9388591a49af/src/Microsoft.AspNetCore.Server.Kestrel.Core/KestrelServer.cs#L119. This could p

[2017-04-11 18:14] Tratcher commented on #1654
Scenario: Kestrel is configured for https with a cert file for development, but then the app is published to IIS and that cert is not needed/appropriate. Even running the app in IIS Express would fail today if the self-host cert was not present, which is unnecessary.

[2017-04-11 20:04] tmds commented on #1390
From http://stackoverflow.com/questions/5474372/how-netty-uses-thread-pools

Per end point there is a boss thread and a worker thread pool. The worker thread pool defaults to 2 times the number of cores.

- The boss thread is similar to the ListenerPrimary in that it accepts an distributes connections. It does not handle requests.
- The worker threads do the reads and writes. The handlers are exec

[2017-04-11 21:32] muratg commented on #1628
@halter73 Can you make this change (and the 1.1.2 one) while working on the other Kestrel patch issues?

[2017-04-11 21:38] pwen090 commented on #1647
Thanks @Drawaes I will look into that! Anyone else from Microsoft have other recommendations here? Is custom middleware and or connection adapter the only path forward?

[2017-04-11 21:57] muratg commented on #1535
Assigning to @halter73 because @cesarbs is OOF this week.

https://github.com/aspnet/KestrelHttpServer/issues/1544 is the issue tracking 1.0.4 fix.

[2017-04-11 22:01] pranavkm opened #1656 "Flaky test in the patch/1.1.3 branch (OSX)"
[code]

If there were changes in the dev branch that were made to these tests in the dev branch, we need to port these over.

[2017-04-11 22:02] pranavkm commented on #1656
cc @Eilon  \ @muratg

[2017-04-11 22:44] danroth27 commented on #1290
Looks like this issue requires https://github.com/aspnet/Hosting/issues/1014

[2017-04-11 23:02] Eilon commented on #1656
@muratg can you assign?

[2017-04-11 23:03] muratg commented on #1656
@pakrym could you take a look?

[2017-04-11 23:23] pakrym commented on #1656
Fix: https://github.com/aspnet/KestrelHttpServer/pull/1536 backporting

[2017-04-12 01:02] pranavkm commented on #1656
More tests:

[code]

[code]

Let me know if you need separate issues for this or if it's covered by the backported fix.

[2017-04-12 03:47] davidfowl commented on #1290
@danroth27 That code sample is sufficiently vague. It doesn't actually show how kestrel is configured. We can do the bare minimum and expose access to configuration and then talk about next steps.

[2017-04-12 04:47] BorisDli commented on #1625
In host.Run();
Error
System.AggregateException: 'One or more errors occurred.'
BadImageFormatException: An attempt was made to load a program with an incorrect format. (Exception from HRESULT: 0x8007000B)

[2017-04-12 05:46] natemcmaster commented on #1625
@BorisDli can you share your \*.csproj file? We suspect this is an error in .NET Core SDK, not Kestrel itself, but it's hard to know without a repro.

[2017-04-12 05:48] BorisDli commented on #1625
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>net461</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
  </PropertyGroup>

  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|AnyCPU'">
    <PlatformTarget>AnyCPU</PlatformTarget>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.ApplicationInsights.AspNetCore

[2017-04-12 06:23] natemcmaster commented on #1625
Thanks, that helps. Your csproj has these lines:
[code]

There is a conflict in your project about which CPU architecture to target. The line `<RuntimeIdentifier>win7-x86</RuntimeIdentifier>` instructs NuGet to use the `x86` version of LibUV (a native I/O library used by Kestrel's) and `<PlatformTarget>AnyCPU</PlatformTarget>` instructs the app to compile as  `AnyCPU`, which means the process may

[2017-04-12 08:06] tmds commented on #1390
The approach matches well with what @benaadams explained before.
By not doing any work, the boss thread avoids getting blocked.
And there are more worker threads, which reduces the chance of all of them getting blocked.

[2017-04-12 16:01] pakrym commented on #1656
@pranavkm not the same and looks worse.

[2017-04-12 16:18] davidfowl commented on #1616
@natemcmaster Can you paste it?

[2017-04-12 16:20] natemcmaster commented on #1616
sadly I don't have it anymore. Was about to copy/paste it when the dialogue box window was closed due to testhost.exe dying.

[2017-04-12 16:46] firedeepan opened #1660 "Website is not updated till server restart"
I have configured reverse proxy to kestrel with nginx. When I redeploy the new DLLs using a script the site is not getting updated. I can see only the old site. When I try to kill dotnet process also it doesn't work. Even I tried restarting nginx, still no luck. I have to restart the server to see the changes. Why is it happening?

I want kestrel to detect changes when I update the files and autom

[2017-04-12 17:16] Eilon commented on #1629
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-12 17:17] Eilon commented on #1376
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-12 17:17] Eilon commented on #1535
This patch fix is *approved*. Please follow the normal code review / pull request process and make sure you make the change in the correct branch.

[2017-04-12 18:07] mikeharder commented on #1049
Another failure: http://aspnetci/viewLog.html?buildId=200519&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

[2017-04-12 18:54] natemcmaster commented on #1616
The RequestTests.LargeUpload test just triggered this failure. Stack trace matched the one Mike shared in original post. It didn't include Produce.End this time.

[2017-04-12 20:28] tmds opened #1662 "Allow the transport suggest an application scheduler"
Request to support a no dispatch mode with the libuv transport.

cfr https://github.com/aspnet/KestrelHttpServer/issues/1390#issuecomment-293384383

[2017-04-12 21:36] hheexx opened #1663 "Deadlocks in production under linux"
We moved out site to production recently.
When rps goes above ~1req/sec process starts deadlocking.
I had to start 4 processes and distribute load between them and implement watchdog to remain up.

I tried under windows also.
There process often deadlocks on start if initial rush of traffic is large but if it starts it does not deadlock.

Application is angular2 spa with node prerendering and simp

[2017-04-12 22:41] natemcmaster opened #1665 "Design: connection adapters"
Follow up to #1495 and #1664.

Open questions:

- How does an adapter report metadata about itself? e.g. does it support TLS? HTTP2? Logger name?
- How does kestrel expose connection I/O to adapters? IPipeReader/ISocketOutput, Stream, or both?

[2017-04-12 23:17] #1586 closed

[2017-04-12 23:18] halter73 commented on #1049
Fixed by #1649

[2017-04-12 23:18] #1049 closed

[2017-04-13 00:23] Drawaes commented on #1665
There are a couple of things that "leak" out of the Tls 1.3 standard that might be worth considering

- 0RTT Data, it is available but can be replayed, therefore recommendation is that you would limit it to say "Get" requests but the TLS layer doesn't know that it's a get until it is parsed
- TLS 1.3 has an "export" key data facility, eg you should use this to generate secrets in the applicaiton r

[2017-04-13 06:27] Tratcher opened #1666 "Make StopAsync multi-thread safe"
@davidfowl wants any parallel calls to KestrelServer.StopAsync to gate on the first call rather than no-op. IWebHost.StopAsync may need this logic, though putting it in both places seems redundant.

[2017-04-13 06:27] davidfowl commented on #1666
It's not that I want it, I just want it to be right 👍

[2017-04-13 07:01] davidfowl opened #1667 "Failure on local dev"
@geoffkizer saw this once on his machine.

[code]

[2017-04-13 07:58] davidfowl commented on #1667
Looking at the code I can't see how this can happen..

[2017-04-13 08:21] davidfowl commented on #1663
@hheexx What version of Kestrel?

[2017-04-13 08:25] davidfowl opened #1669 "New Hang in tests"
There's a new hang in the FunctionalTests. I re-ran the build on travis so I don't have the link but it didn't show anything useful anyways.

[2017-04-13 14:01] hheexx commented on #1663
1.1.1
Is there any way to test newer?

[2017-04-13 14:39] tmds commented on #1665
Related open design question:
how transport can expose ihttpsendfile support (https://github.com/aspnet/KestrelHttpServer/issues/1593)

[2017-04-13 16:29] #1667 closed

[2017-04-13 16:33] davidfowl commented on #1665
Unrelated. File another issue please. We need to expose the feature collection to the Transport.

[2017-04-13 16:39] Tratcher commented on #1665
@davidfowl how's that going to work? The feature collection is per request, where the transports don't know about individual requests.

[2017-04-13 16:47] davidfowl commented on #1665
@Tratcher I'm not sure you'll be able to implement `IHttpSendFile` but transports have a similar view to connection filters (which do get access to the feature collection). Anyways this is the wrong issue for that discussion.

[2017-04-13 16:55] #1296 closed

[2017-04-13 16:55] #1495 closed

[2017-04-13 16:56] Drawaes commented on #1665
Today the filters get access by registering a call back that is fired per request to build the feature collection

[2017-04-13 17:17] davidfowl commented on #1669
Fixed by @Tratcher

[2017-04-13 17:17] #1669 closed

[2017-04-13 17:22] davidfowl opened #1671 "Travis failed with EBUSY error"
[code]

[2017-04-13 17:24] Tratcher opened #1672 "Assert: ThreadId is incorrect"
[code]

I get at least two of these in the functional tests when running them locally.

I also get several `Log Critical[0]: LibuvThread.StopAsync failed to terminate libuv thread.`

[2017-04-13 17:27] Tratcher commented on #1672
Probobly related:
[code]

[2017-04-13 18:30] tmds opened #1673 "IHttpSendFileFeature provided by Transport"
Sending files can be offloaded to the kernel. The Transport can expose this as a sendfile feature.

Some implementations support encrypting (BSD sendfile, Http.Sys) while others do not (Linux sendfile, corefx Socket).

https://github.com/aspnet/KestrelHttpServer/issues/1593 tracks Transport independent implementation.

cc @davidfowl @Tratcher @Drawaes @benaadams

[2017-04-13 18:32] tmds commented on #1665
created issue for Transport SendFile feature: https://github.com/aspnet/KestrelHttpServer/issues/1673

[2017-04-13 19:05] jchannon opened #1675 "Questions on HEAD requests"
When executing a GET request that returns "Hi", the output from curl looks like so:

[code]

When executing with a HEAD request with the same body being set (I know you are not supposed to have a body on a HEAD) we get:
[code]

We get no `Transfer-Encoding: chunked` header and we get a `* no chunk, no close, no size. Assume close to signal end` message with the curl command left in a limbo state a

[2017-04-13 19:13] jchannon commented on #1675
This answers a couple of questions but the connection should not be left in a limbo state - https://github.com/aspnet/KestrelHttpServer/blob/dev/test/Microsoft.AspNetCore.Server.Kestrel.FunctionalTests/ResponseTests.cs#L437-L498

[2017-04-13 19:57] jchannon opened #1680 "Content-Length on HEAD requests"
On HEAD requests Kestrel doesn't return the `"Transfer-Encoding: chunked"` header as there is no body however if a body is returned Kestrel rightly doesn't output that body but I think it should set a `Content-Length` header.

[2017-04-13 20:42] #1559 closed

[2017-04-13 21:01] pakrym opened #1681 "Fix race in ListenerPrimaryTests.ConnectionsGetRoundRobinedToSecondaryListeners test"
We saw it in 1.1.3 patch builds but same can happen in dev.
[code]

[2017-04-13 22:43] natemcmaster commented on #1570
Discussed with team. Let's leave this for 2.0. Doesn't seem urgent enough for a 1.1.x patch. As noted https://github.com/aspnet/Security/issues/1121, this bug only appears when the client is sending an unusual combination of Upgrade and Content-Length.

[2017-04-13 22:54] #1558 closed

[2017-04-13 22:56] davidfowl commented on #1672
@halter73 fixed it

[2017-04-13 22:56] #1672 closed

[2017-04-13 22:57] davidfowl commented on #1671
Fixed by @halter73

[2017-04-13 22:57] #1671 closed

[2017-04-13 22:58] #1628 closed

[2017-04-13 23:00] #1544 closed

[2017-04-13 23:00] #1629 closed

[2017-04-13 23:02] #1535 closed

[2017-04-14 01:13] #1575 closed

[2017-04-14 03:40] davidfowl opened #1683 "NullReferenceException on Travis"
This only happened once and it didn't happen in dev but it happened in the sockets branch when running the regular libuv tests

**EDIT: It happened in dev**

[code]

[2017-04-14 04:30] davidfowl opened #1684 "Flaky Test: TestKeepAliveTimeout"
# Latest failure message

[code]

5/11/17: http://aspnetci/viewLog.html?buildId=218866&buildTypeId=XPlat_Windows_Win7_Universe&tab=buildLog&filter=err#_focus=288981

# Original failure message

I ran the functional tests in a loop and it failed with the following:

[code]

[2017-04-14 06:43] muratg opened #1685 "Basic stress tests"
There has been a lot of churn in the code base around pipelines, transport abstraction etc. Let's do some basic stress testing before 2.0.0.

Simple idea to get started: run functional tests on a CI agent in a loop.

cc @davidfowl

[2017-04-14 06:45] davidfowl commented on #1684
Happend again on travis in dev

[2017-04-14 06:48] davidfowl opened #1686 "Socket Transport"
- [x] - The functional tests support running both on both transports but tests aren't running for sockets right now. We need to parameterize these.
- [x] - ~~TimeoutServerTests hard code the libuv transport, this needs to support any transport.~~
- [x] - Get the socket transport on the benchmarks server (https://github.com/aspnet/benchmarks/issues/250)
- [x] - Add logging to the SocketsTransport,

[2017-04-14 13:28] Tratcher commented on #1675
curl shouldn't be expecting a body from a HEAD request, even if we did specify transfer-encoding or content-length. Note HEAD responses should include transfer-encoding or content-length just like the real response would have.

[2017-04-14 13:31] Tratcher commented on #1675
Hmm, technically those headers are optional: https://tools.ietf.org/html/rfc7231#section-4.3.2

[2017-04-14 15:13] Drawaes opened #1688 "Validation and matching of host header"
This came up during a discussion about host headers. It was not appropriate there as it was just code to make sure there was/wasn't one.

After 2.0 is out, and once SNI is available, I would question if there should be by default some mechanism to make sure that a request has the same host as in the SNI request? If not it could lead to a potential issue where someone could authenticate (say with a

[2017-04-14 15:21] jchannon commented on #1675
Kestrel looking at the tests won't set TranferEncoding on a head request but I think it should then set a ContentLength header which led me to raise #1680

However still not sure what the output on CURL really means when it is a HEAD

[2017-04-14 15:38] davidfowl commented on #1688
/cc @Tratcher

I'm pretty sure we decided we're not doing this because kestrel won't ever support port sharing

[2017-04-14 15:40] benaadams commented on #1675
It shouldn't set a content-length header for chunked as that differs from what the GET would be

[2017-04-14 15:44] Drawaes commented on #1688
Doesn't have to. With SNI you can have multi sites or "hosts" running off a single port/process such as a multitenant api or website. Different certificates the works.

[2017-04-14 15:51] jchannon commented on #1675
But it's not chunked on a HEAD as kestrel doesn't emit that header

On Fri, 14 Apr 2017 at 16:40, Ben Adams <notifications@github.com> wrote:

[2017-04-14 15:53] benaadams commented on #1675
send a message body in the response (i.e., the response terminates at
   the end of the header section).  The server SHOULD send the same
   header fields in response to a HEAD request as it would have sent if
   the request had been a GET, except that the payload header fields
   (Section 3.3) MAY be omitted.  This method can be used for obtaining
   metadata about the selected representation wit

[2017-04-14 15:59] jchannon commented on #1675
Maybe ¯\_(ツ)_/¯ 😄

[2017-04-14 17:06] pakrym commented on #1656
Original test is fixed, I filed https://github.com/aspnet/KestrelHttpServer/issues/1681 for `Primary/Secondary` test failure, it's pretty tight race in test code that requires product code change to be fixed so we don't think we are going to fix it in patch release. Could not reproduce `UpgradeRequestIsNotKeptAliveOrChunked` failure.

[2017-04-14 17:08] #1656 closed

[2017-04-14 18:59] pranavkm commented on #1681
Can we skip this test if it's unfixable without feature changes?

[2017-04-14 19:03] natemcmaster commented on #1688
Validation and matching of host headers applies to plain-old encrypted HTTP too.

Today, if Kestrel receives `Host: site.com`, it doesn't actually verify `site.com` is an acceptable hostname. Kestrel doesn't check against IServerAddressesFeatures or ListenOptions.

[2017-04-14 19:28] davidfowl commented on #1683
One theory: If StopAsync happens before `_connectionContext` is assigned it can null ref.

[2017-04-14 21:07] davidfowl commented on #1688
I'm not sure, I think we might want to do this in middleware.

[2017-04-14 21:20] mxpv commented on #1267
Hi,
@cesarbs I still have this issue on 1.1.1 from time to time. I'm running Docker containers (17.03.1-ce) on Ubuntu 16.04, MVC 1.1.1 behind Nginx. Also happens under heavy load.

It accepts few requests normally and than stops to respond.
nginx returns 504 Gateway Time-out.

[code]

[2017-04-14 21:56] Drawaes commented on #1688
Very possibly. It raises the question of how the TLS surfaces information like this to middleware. Also I think it's too hard to get right not to have it in the core product (middleware or not). It's hard to make a secure and correct host comparison. There is a whole IETF RFC on the topic.

If it was going to be middleware should the issue be moved somewhere ?

[2017-04-14 22:22] natemcmaster commented on #1688
@Tratcher HttpSysServer handles hostname validation before the request gets to the application, right?

[2017-04-14 22:56] davidfowl opened #1690 "Double free in BufferSegment"
[code]

[2017-04-14 23:00] #839 closed

[2017-04-15 00:38] davidfowl opened #1692 "Failed test on CI"
[code]

[2017-04-15 03:36] davidfowl commented on #1692
Fixed by https://github.com/aspnet/KestrelHttpServer/commit/051c251e532f41f47877474c8586f3ef2e50ef90

[2017-04-15 03:36] #1692 closed

[2017-04-15 05:42] dougbu commented on #1690
Have now seen this in two aspnet/Performance tests using large (D15v2) Azure machines with accelerated networking. Most recent time, was running `dotnet .\bin\Release\netcoreapp2.0\LargeStaticView.dll` in the testapp\LargeStaticView folder on Windows server. Client (Ubuntu 16.04 LTS) command was `wrk -H "Host: localhost" -H "Accept: text/plain,text/html;q=0.9,application/json;q=0.9,application/xht

[2017-04-15 10:29] Tratcher commented on #1688
Yes, all the way down in http.sys. Kestrel is the odd one out.

Note http.sys must check the host header because it can share a port across different apps. Kestrel can't share so the host validation is more about correctness.

[2017-04-15 23:55] danroth27 opened #1693 "Fail: Uncaught exception from the PrepareRequest method of an IAdaptedConnection"
When trying out SSL in ASP.NET Core I see the following in the logging output:

[code]

Sample app here: https://github.com/danroth27/active-directory-dotnet-webapp-openidconnect-aspnetcore-b2c/tree/danroth27/aspnetcore2

[2017-04-16 00:16] davidfowl opened #1694 "Transport specification tests"
We should provide a package that transport authors can use to verify their transport works. Similar to the model we use for DI adapters:

https://github.com/aspnet/DependencyInjection/tree/37380ce62fc2ed3c93490d1111dc88ff16bcc81b/src/Microsoft.Extensions.DependencyInjection.Specification.Tests

This can be done as part of the work to enable sockets and libuv tests to run.

[2017-04-16 00:38] davidfowl commented on #1663
That's the latest release. What can you provide some more information on the symptoms of the deadlock?

You could try attaching the vs remote debugger https://blogs.msdn.microsoft.com/visualstudioalm/2017/01/26/debugging-net-core-on-unix-over-ssh/

[2017-04-16 02:04] davidfowl opened #1697 "Flaky Test: LoggingConnectionFilterCanBeAddedBeforeAndAfterHttpsFilter"
[code]

5/11/17: http://aspnetci/viewLog.html?buildId=218866&buildTypeId=XPlat_Windows_Win7_Universe&tab=buildLog&filter=err#_

[2017-04-16 22:57] davidfowl commented on #1684
These tests used to fail because of slowness https://github.com/aspnet/KestrelHttpServer/issues/1157.

/cc @cesarbs

[2017-04-17 16:26] Tratcher commented on #1684
Also failing on Win7 and Ubuntu CIs

[2017-04-17 16:28] xavierjohn commented on #1344
I noticed client certificate is not getting passed to the code when run in Azure Web App.
I also saw this post
https://github.com/aspnet/Announcements/issues/69
•	The HttpPlatformHandler currently does not forward client certs (this will be a future enhancement)

Are any of you running it in Azure Web App?

[2017-04-17 16:35] vancem commented on #1686
Why do we want thread pool dispatching by default?    For Sockets there is no need to hop threads, so we should not.   There is this issue that we would like some batching of outgoing writes, but that seems like a separate issue which we would solve differently (so that the fast path does NOT involve queuing threadpool work items).

[2017-04-17 16:52] Tratcher commented on #1344
@xavierjohn that's not a Kestrel related issue, you don't use Kestrel's HTTPS implementation in Azure Web Apps (e.g. in IIS).

[2017-04-17 16:55] benaadams commented on #1686
libuv needs dispatching (otherwise application code will block the I/O) and that is currently the default transport

[2017-04-17 18:13] muratg commented on #1684
Assigning to @halter73 for investigation.

[2017-04-17 18:14] muratg commented on #1683
Assigning to @natemcmaster for investigation.

[2017-04-17 18:14] muratg commented on #1697
Assigning to @halter73 for investigation.

[2017-04-17 18:16] muratg commented on #1681
Assigning to @natemcmaster  for investigation. Please ping @pakrym as he seems to have a theory.

[2017-04-17 18:51] Tratcher opened #1701 "Flaky: Port in use for DirectConfiguration tests"
http://aspnetci/viewLog.html?buildId=202214&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win10Universe
DoesNotOverrideDirectConfigurationWithIServerAddressesFeature_IfAddressesEmpty
DoesNotOverrideDirectConfigurationWithIServerAddressesFeature_IfPreferHostingUrlsFalse
DoesNotOverrideDirectConfigurationWithIServerAddressesFeature_IfPreferHostingUrlsFalse

[2017-04-17 18:58] Tratcher commented on #1616
http://aspnetci/viewLog.html?buildId=201188&buildTypeId=CoreCLR_Darwin&tab=buildLog#_

[2017-04-17 19:54] JunTaoLuo commented on #1701
These are EADDERINUSE errors;

[code]

@cesarbs is there a chance that another functional test ends up binding to 127.0.0.1:5001 when given the address of `http://127.0.0.1:0`? Maybe it's worth it to convert these tests to call GetNextPort to ensure no port conflicts.

[2017-04-17 20:05] danroth27 opened #1703 "Bind Kestrel options to config by default"
Since config is in DI now by default we should support binding the Kestrel options to config by default (for `UseKestrel()`).

[code]

[2017-04-17 20:08] danroth27 commented on #1703
@glennc @Tratcher @DamianEdwards @davidfowl

[2017-04-17 20:17] danroth27 commented on #1290
Chatted with @DamianEdwards and we think Kestrel should just bind its options to the config in DI by default: https://github.com/aspnet/KestrelHttpServer/issues/1703

[2017-04-17 20:49] Tratcher commented on #1684
@halter73 this is failing consistently. Please disable it if it's not resolved by end of day.

[2017-04-17 20:53] muratg commented on #1703
:eyes:

[2017-04-17 21:09] danroth27 commented on #1703
Or you can name your endpoints:

[code]

[2017-04-17 21:17] danroth27 commented on #1703
This issue was moved to aspnet/MetaPackages#30

[2017-04-17 21:17] #1703 closed

[2017-04-17 21:18] davidfowl commented on #1686
@vancem It's a stop gap until we decide which layers do how much buffering.

[2017-04-17 21:28] pranavkm opened #1704 "[Patch] Flaky: RequestTargetProcessingTests.NonPathRequestTargetSetInRawTarget(requestTarget: "../.")"
[code]

[2017-04-17 21:28] pranavkm commented on #1704
cc @pakrym  \ @muratg

[2017-04-17 21:28] pranavkm commented on #1704
This is on Ubuntu

[2017-04-17 21:58] halter73 commented on #1701
@JunTaoLuo GetNextPort() sounds like a good idea.

[2017-04-17 22:02] muratg commented on #1704
@pakrym could you take a look?

[2017-04-17 22:19] muratg opened #1705 "Need to pass state about rejected requests for W3C logging in Hosting"
https://github.com/aspnet/Hosting/issues/1013 will implement W3C logging on the hosting layer.  For most requests, this is fine, though for rejected/failed requests, Kestrel will need to pass the data.

Simple implementation would be just passing a string with the log value, or we can consider passing list of key/value pairs if we want to do the formatting at the Hosting layer.

cc @Tratcher @davi

[2017-04-17 23:55] pakrym commented on #1704
@muratg I'd like to wait for @halter73 fix for shutdown first

[2017-04-17 23:57] hheexx commented on #1663
Ok I have process stuck now. I can't attach debugger to it.

https://i.gyazo.com/7ecc3a28c9ea71a617882f1045e7a605.png

Symptom is that I can't connect to Kastrel any more.
Unable to connect error in Firefox.

The most interesting part is I get error from EF right before/after deadlock:
`Apr 17 21:59:54 cxpublicdev[22287]: System.Data.SqlClient.SqlException: A network-related or instance-specific e

[2017-04-18 03:48] #1701 closed

[2017-04-18 05:14] davidfowl commented on #1663
@hheexx so the server doesn't respond to new connections.

Can you make sure you have `unzip` installed on the server?

[2017-04-18 09:19] tmds commented on #1662
https://github.com/aspnet/KestrelHttpServer/pull/1695 implements part of this.
The other part is to no longer make the ListenerPrimary handle requests but only do dispatching. This is to avoid accepting new connections gets blocked by request handling.

[2017-04-18 09:29] mikes-gh commented on #1660
Could this be done with a drop file like IIS app_offline.htm
Also I run kerstrel under systemctl as recommened by docs so killing the process should recycle it.

[2017-04-18 11:04] hheexx commented on #1663
I do.
`hex@cxpublicdev:~$ unzip
UnZip 6.00 of 20 April 2009, by Debian. Original by Info-ZIP.`

[2017-04-18 14:08] davidfowl commented on #1660
Kestrel is a web server, it doesn't detect files on disk (it's just s library), doesn't and won't ever handle any deployment of your application itself.

Unfortunately there's no easy cross platform way to do what you want currently. app_offline only works for IIS scenarios. This should be handled at higher layers with a deployment technology that understands swapping out and restarting the runnin

[2017-04-18 14:12] mikes-gh commented on #1660
@davidfowl Makes sense.  Is acceptable to run dotnet watch for this senario

[2017-04-18 18:29] Drawaes opened #1711 "Filter before HTTPS on Full framework seems to break kestrel"
ASP.NET 1.1.1

https://github.com/Drawaes/FullFrameBrokenVsCore/tree/master

In that project you can see a "pass through" stream (this is not the actual use case but is simplified to show the issue at hand).

If you use the flag in the project (UseHttps) and run with netcoreapp1.1 it works fine. If you turn off Https using that flag it works in 461 and Netcoreapp1.1.

However if that flag is on in

[2017-04-18 18:40] natemcmaster commented on #1660
dotnet-watch is a development tool and relies on having your csproj file available. I would not recommend it for production scenarios.

[2017-04-18 18:42] Tratcher opened #1712 "Test failure: LibuvOutputConsumerTests.FailedWriteCompletesOrCancelsAllPendingTasks(maxResponseBufferSize: 1048577)"
http://aspnetci/viewLog.html?buildId=204034&tab=buildResultsDiv&buildTypeId=CoreCLR_Windows
[code]

[2017-04-18 19:06] Tratcher commented on #1684
http://aspnetci/viewLog.html?buildId=204056&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win7_Universe
[code]

[2017-04-18 19:10] Im5tu commented on #1712
Internal link only?

[2017-04-18 19:11] Tratcher commented on #1697
Again in http://aspnetci/viewLog.html?buildId=204056&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win7_Universe

[2017-04-18 19:14] Drawaes commented on #1711
I know there are tests for logging connection filter before/after https. This isn't a known issue for the full framework is it?

[2017-04-18 20:31] hheexx commented on #1663
I tried from different machine. Same error.
Target is fully updated Ubuntu 16.04 server. Only thing installed beside dotnet is mono.

btw. are there any server variables/statistics I can print to console from time to time to help debugging? Something like number of requests executing, number of free threads etc.

[2017-04-18 21:24] Eilon commented on #1376
@cesarbs - do you have a status update on this bug?

cc @muratg

[2017-04-18 21:43] muratg commented on #1290
dup: https://github.com/aspnet/MetaPackages/issues/30

[2017-04-18 21:44] muratg commented on #1609
We may accept a PR, though closing the bug.

[2017-04-18 21:44] #1609 closed

[2017-04-18 21:56] muratg opened #1713 "Expose hosting context (env and configuration) on UseKestrel config"
cc @davidfowl

[2017-04-18 21:57] muratg commented on #1713
cc @danroth27

[2017-04-18 22:07] muratg commented on #1663
Assigning to @natemcmaster for investigation.

[2017-04-18 22:13] muratg commented on #1666
@cesarbs We need to do the same in HttpSysServer.

[2017-04-18 22:24] muratg commented on #1675
@Tratcher why is this a bug?

[2017-04-18 22:29] Tratcher commented on #1675
Nevermind, the content headers are optional. However, someone should at least repro it to make sure head requests are completing properly.

[2017-04-18 22:30] muratg commented on #1688
Closing this based on the discussion..

This can be achieved with a middleware.

[2017-04-18 22:30] #1688 closed

[2017-04-18 22:32] muratg commented on #1690
@pakrym I was told that you already fixed this. :)

[2017-04-18 22:35] muratg commented on #1711
cc @halter73

[2017-04-18 22:38] muratg commented on #1705
We should:

- Investigate and see what HTTP.SYS logs for malformed/rejected requests
- Investigate and see what HTTP.SYS logs for timeouts
- Decide if we should have a Hosting API to pass this information

[2017-04-18 22:42] pakrym commented on #1712
This is fixed by https://github.com/dotnet/corefxlab/commit/1320bf2dc1ce30baea6bde5768daf11d02907f69

[2017-04-18 22:42] #1712 closed

[2017-04-18 22:45] halter73 commented on #1711
This scenario works on full framework given the right pass through Stream. We test it [here](https://github.com/aspnet/KestrelHttpServer/blob/dev/test/Microsoft.AspNetCore.Server.Kestrel.FunctionalTests/LoggingConnectionAdapterTests.cs#L18). I think you're running into an issue because BackToBackStream doesn't implement the [APM methods that LogginStream does](https://github.com/aspnet/KestrelHttp

[2017-04-18 22:51] Drawaes commented on #1711
Bingo, that works thanks a bunch!

[2017-04-18 22:51] #1711 closed

[2017-04-18 23:18] pranavkm commented on #1681
Still seeing this in the 1.1.3 patch. Did this get skipped?

[2017-04-18 23:45] clement911 commented on #1376
I'm also curious on when the fix is schedule. I'm getting this error multiple times a day...

[2017-04-19 05:08] DamianEdwards commented on #1521
@davidfowl you planning to get this added this week?

[2017-04-19 08:55] davidfowl commented on #1521
@DamianEdwards I'm not sure we can do this for preview. There's too much churn and too many other important things to do in Kestrel right now (like stabilize the build).

[2017-04-19 09:43] davidfowl opened #1719 "Consider pooling all UvRequest objects"
We should consider pooling all `UvRequest` objects like we do `UvWriteReq`. The other ones don't show up as much in our benchmarks because we don't test things like heavy connection churn. Writes happens more often than connect/shutdown but we should consider unifying how we pool and handle requests.

As part of this PR (https://github.com/aspnet/KestrelHttpServer/pull/1698) the weak handles are a

[2017-04-19 12:22] leak commented on #1604
The current state is rather displeasing. I wouldn't want VS to interfere with the overriding mechanic of IConfigurationRoot at all. Personally i have the listening URL in a config.json and right now there are two unfortunate effects:

1) The value of my config file is ignored altogether because of the forceful setting of ASPNETCORE_URLS

2) The Debug page in VS forces you to enter a value otherwis

[2017-04-19 12:30] antonGritsenko opened #1720 "ThreadPool and thread context issue"
Hi gents

Not yet sure, but looks like a bug in between Kestrel server, IIS integration and security concept, so please move this issue to right section if needed (or just give direction, I will do it).
What we have:
IIS with ASP.NET Core site (self-contained), Windows Authentication enabled, AutomaticAuthentication and ForwardWindowsAuthentication set to true in IISOptions. This configuration wor

[2017-04-19 12:40] Drawaes commented on #1720
I think the problem here is (I could be totally wrong but I will give it a shot). That you are impersonating on a threadpool thread and then this returns to the pool without changing back, but worse than that Kestrel is fully async. So 1/2 of your request mìght be on a totally different thread and I am not sure there is a way you can flow that through.

Not sure that impersonation  plays nice with

[2017-04-19 12:42] antonGritsenko commented on #1720
Impersonation made per request of course. "Current WindowsIdentity user" from above is the HttpContext.User.Identity output.

[2017-04-19 12:45] Drawaes commented on #1720
I am confused what do you mean asp.net self hosted with iis?

[2017-04-19 12:46] antonGritsenko commented on #1720
So, to be exact, the problem here that for some re-used threads the HttpContext.User.Identity also re-used.

[2017-04-19 12:48] antonGritsenko commented on #1720
@Drawaes self-contained, sorry for using wrong term

[2017-04-19 13:12] Drawaes commented on #1720
Are you disposing the impersonation?

[2017-04-19 13:14] antonGritsenko commented on #1720
yes, all impersonated calls are done like this:
`wi = (WindowsIdentity)this.httpContextAccessor.HttpContext.User.Identity;
using (var impersonatedUser = wi.Impersonate())
                {
                    action.Invoke();
                }`

[2017-04-19 13:16] Drawaes commented on #1720
Very odd maybe a small independent repo that shows the issue would be helpful. I can try to have a crack. I am interested because we use NTLM.

[2017-04-19 13:20] antonGritsenko commented on #1720
Will try to create some sample app, but later. Trying to dig around, maybe will find the solution or workaround at least.

Strange thing that when we are using cookies authentication above the windows authentication (manual logging process using HttpContext.Authentication.SignInAsync and LogonUser from WinAPI) then everything works well.

[2017-04-19 13:24] Drawaes commented on #1720
WindowsIdentity.RunImpersonated (wi, () => yourstuff);

Try that

[2017-04-19 13:25] Drawaes commented on #1720
Should be wi.AccessToken

[2017-04-19 13:27] antonGritsenko commented on #1720
it will be the same, because the wi is already wrong.

[2017-04-19 13:28] Drawaes commented on #1720
Yes but I am wondering if the impersonate call is leaving something around that is leaking to other threads.

[2017-04-19 13:29] Drawaes commented on #1720
I mean is staying on the thread and being used in other contexts

[2017-04-19 14:39] antonGritsenko commented on #1720
From my understanding (and that's how ASP.NET vPrev works) even if thread still exist with some undisposed variables, this thread should not be re-used for other users.

[2017-04-19 15:22] Drawaes commented on #1720
Is there any async work inside your impersonate though. I know that execution context needs to be captured/reset if that is the case and maybe asp.net core isn't doing that. I am guess at this point. But it's worth trying the above mentioned method. Also your action.invoke doesn't return a task does it?

[2017-04-19 15:27] BillHiebert commented on #1604
@leak  I opened an issue internally (TFS [410354](https://devdiv.visualstudio.com/web/wi.aspx?pcguid=011b8bdf-6d56-4f87-be0d-0092136884d9&id=410354)) to look at improving this.

[2017-04-19 16:49] Tratcher commented on #1616
http://aspnetci/viewLog.html?buildId=204841&buildTypeId=CoreCLR_Linux&tab=buildLog#_focus=38604
[code]

[2017-04-19 16:52] benaadams commented on #1720
ASP.NET Core on full framework (which flows SecurityContext as part of ExecutionContext) or on .NET Core which doesn't flow impersonation?

[2017-04-19 16:52] benaadams commented on #1720
https://github.com/dotnet/corefx/pull/18510#issuecomment-294953621

[2017-04-19 16:56] xavierjohn commented on #1344
Could someone share there web.config to get Client Cert to work under IIS Express and Azure  Web App Services?
Thanks.

[2017-04-19 17:14] Eilon commented on #1376
@clement911 - we should have a pre-release of this build available shortly after it's checked in so that you can try out the fix, and the release itself should be within a few weeks.

[2017-04-19 17:16] pakrym commented on #1690
Fixed by https://github.com/dotnet/corefxlab/commit/4b96e38568cffd36b2bacb8b17722348a36436ff

[2017-04-19 17:16] #1690 closed

[2017-04-19 17:25] Drawaes commented on #1720
That's kinda my point... I suspect it's an async issue ... there is a context swap inside the impersonate call and you are not "flowing" the response as ben says.

[2017-04-19 17:33] benaadams commented on #1720
`HttpContextAccessor.HttpContext.User.Identity` will flow across awaits in .NET Core.

If you want to use `Thread.CurrentPrincipal` then you have to use full framework.

ASP.NET Core will run on both

[2017-04-19 18:06] mikeharder commented on #1704
Saw a similar error on "Partner Acquisition -> Build: Linux 20886":

[code]

http://aspnetci/viewLog.html?buildId=204841&tab=buildResultsDiv&buildTypeId=CoreCLR_Linux

This is impacting a lot of our builds so fixing this should be a priority.

[2017-04-19 18:49] pakrym commented on #1704
@mikeharder While failure looks similar we had so many changes in dev that I expect it to be different. There is also @halter73 fix for shutdown in PR that can fix it.

[2017-04-19 18:55] Eilon commented on #1628
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 18:55] Eilon commented on #1544
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 18:56] Eilon commented on #1629
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 18:57] Eilon commented on #1535
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 20:08] antonGritsenko commented on #1720
@benaadams on full framework, 4.6.1, ASP.NET Core 1.0

[2017-04-19 20:43] cesarbs commented on #1376
Merged: https://github.com/aspnet/KestrelHttpServer/commit/14aa07d3a0f431ea83054e98949c400e50ba7ce4

[2017-04-19 20:43] #1376 closed

[2017-04-19 20:44] Eilon commented on #1376
Preview builds of this patch fix should be available on the following feeds:

* https://dotnet.myget.org/gallery/aspnet-1-0-5-may2017-patch-public (for fixes in the 1.0.x release)
  * Feed URL to add to NuGet.config: https://dotnet.myget.org/F/aspnet-1-0-5-may2017-patch-public/api/v3/index.json
* https://dotnet.myget.org/gallery/aspnet-1-1-2-may2017-patch-public (for fixes in the 1.1.x release)

[2017-04-19 21:51] cesarbs commented on #798
This issue was moved to aspnet/Performance#222

[2017-04-19 21:51] #798 closed

[2017-04-19 22:02] cesarbs opened #1721 "Test failure: RegisterAddresses_IPv4_Success"
[code]

http://aspnetci/viewLog.html?buildId=205052&tab=buildResultsDiv&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR

[2017-04-19 22:02] natemcmaster opened #1722 "Move user-facing strings to resx"
Exception and log messages can be moved to the resx file.

[2017-04-19 23:11] #1474 closed

[2017-04-20 00:10] clement911 commented on #1376
Thanks for the update. I'll have to wait for the 1.1.2 release to test...

[2017-04-20 15:44] Tratcher opened #1725 "Flaky test: FrameConnectionManagerTests.UnrootedConnectionsGetRemovedFromHeartbeat"
[code]

[2017-04-20 15:44] Tratcher commented on #1725
http://aspnetci/viewLog.html?buildId=205441&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win10Universe

[2017-04-20 16:01] Tratcher commented on #1604
@leak You can change the priority of env variables vs config by reordering the config code providers in Startup:
https://github.com/aspnet/Templates/blob/c91664a01f6b429b9ff3ac17cacd906037f11b19/src/BaseTemplates/StarterWeb/Startup.cs#L21

[2017-04-20 16:08] leak commented on #1604
I'm aware of that option, but shouldn't a sane system always be

Command Line > Environment > Config ?

[2017-04-20 16:50] davidfowl commented on #1725
Also happened on appveyor with @halter73 's initial commit

[2017-04-20 17:23] davidfowl commented on #1725
It happened again on @natemcmaster 's PR https://ci.appveyor.com/project/aspnetci/kestrelhttpserver/build/1.0.5088. I skipped the test https://github.com/aspnet/KestrelHttpServer/commit/d0743806d8d8675e82afd665ecdd9bd208564cf7

[2017-04-20 18:14] pranavkm opened #1729 "[Patch]: Flaky test on OSX Microsoft.AspNetCore.Server.Kestrel.FunctionalTests.AddressRegistrationTests.RegisterAddresses_IPv4_Success"
[code]

[2017-04-20 18:14] pranavkm commented on #1729
cc @Eilon \ @muratg

[2017-04-20 18:22] natemcmaster commented on #1729
@pranavkm how long has this been flaky? Trying to determine if this was before/after #1717

[2017-04-20 18:26] natemcmaster commented on #1729
Wait, just read the title again. Which patch build is this for? 1.0.x or 1.1.x?

[2017-04-20 19:15] nukec opened #1730 "Cannot deploy my app on azure due to Error -4089 EAFNOSUPPORT address family not supported"
I published net core application on my azure server.

I am getting this displayed on my azure server:
[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/UNIem.png

Error on application insight is:

I read on other websites it's not a big deal and it should be ignored, but i can't start app at all.

[2017-04-20 19:20] natemcmaster commented on #1730
Likely duplicate of https://github.com/aspnet/KestrelHttpServer/issues/1239, assuming the message is a warning and not a fatal error. @nukec is your app running despite the message about EAFNOSUPPORT?

[2017-04-20 19:23] nukec commented on #1730
I put image showing  An error occured while starting the application.

[2017-04-20 19:27] natemcmaster commented on #1730
We've made some improvements recently to fix ipv6 errors (see #1717), but this won't be in until 2.0.0. Can you share your configuration details? e.g. what are your environment variables, have you called `.UseUrls()` on WebHostBuilder, etc. We may be able to provide a workaround.

[2017-04-20 19:57] pranavkm commented on #1729
This was the 1.1.x patch. But if there are code changes to stablilize the test, it'd be great to get them in both the patch branches.

[2017-04-20 20:03] pranavkm commented on #1729
Let me know when you've had a chance to skip \ fix this test. I'll redo a patch build.

[2017-04-20 21:52] halter73 commented on #1684
I think this test is far more stable post a053ca4 and e4ba1d0. We can reopen if we see more failures.

[2017-04-20 22:23] halter73 commented on #1585
Fixed by #1707

[2017-04-20 22:23] #1585 closed

[2017-04-20 22:24] halter73 commented on #1616
Should be fixed by #1707. I'll reopen if we see this kind of failure again.

[2017-04-20 22:24] #1616 closed

[2017-04-20 22:25] halter73 commented on #1648
Fixed by #1707

[2017-04-20 22:25] #1648 closed

[2017-04-20 22:28] nukec commented on #1730
is fine i put some wrong settings

[2017-04-20 22:28] halter73 commented on #1704
#1707 Is the PR that should fix this. It was merged yesterday evening.

[2017-04-20 22:39] halter73 commented on #1725
Fixed by #1727.

[2017-04-20 22:39] #1725 closed

[2017-04-20 22:42] #1570 closed

[2017-04-20 22:43] halter73 commented on #1729
"Network is unreachable." This isn't even saying the host is unreachable, it's saying the *network* is unreachable. Wouldn't almost any functional test fail if this is the case? I don't think it makes sens to skip just AddressRegistrationTests for this kind of failure.

[2017-04-20 23:42] halter73 commented on #1620
The EBUSY issue is indicative of a non-gracefull shutdown we shouldn't see this in our tests aver #1707. If we ever see an EBUSY in our tests again, we can reopen this issue.

[2017-04-20 23:42] #1620 closed

[2017-04-20 23:45] halter73 commented on #1513
This error hasn't been observed since KestrelEngine was removed. The code, particularity pertaining to shutdown has changed significantly since that time. We can reopen if we see another shutdown ODE.

[2017-04-20 23:45] #1513 closed

[2017-04-20 23:46] natemcmaster commented on #1729
The flakiness is likely caused by this test data:
https://github.com/aspnet/KestrelHttpServer/blob/rel/1.1.2/test/Microsoft.AspNetCore.Server.Kestrel.FunctionalTests/AddressRegistrationTests.cs#L229
[code]
Everything else in the test uses loopback.

[2017-04-20 23:48] halter73 commented on #1589
Dupe of #1686

[2017-04-20 23:48] #1589 closed

[2017-04-20 23:55] natemcmaster commented on #1730
Ok, feel to re-open if needed.

[2017-04-20 23:55] #1730 closed

[2017-04-21 00:12] natemcmaster commented on #1681
Not yet. We can skip in 1.1.3 patch until we have a fix for dev

[2017-04-21 01:31] cesarbs commented on #1713
Isn't this a dupe of #1334?

[2017-04-21 03:35] TotzkePaul commented on #639
At least for Dotnet Core 1.1, `dotnet run --server.urls "http://*:5000"`

This only works if you include `Microsoft.Extensions.Configuration.CommandLine` and use `.AddCommandLine(args)`

    public class Program
    {
        public static void Main(string[] args)
        {
            var config = new ConfigurationBuilder()
                .AddCommandLine(args)
                .Build();

[2017-04-21 08:05] davidfowl opened #1733 "Failed RegisterAddresses_IPv6ScopeId_Success on Linux"
[code]

[2017-04-21 08:06] davidfowl opened #1734 "AddressRegistrationTests failures on OSX"
[RegisterAddresses_IPv6ScopeId_Success(addressInput: "http://[fe80::1%1]:0/", testUrls: Func`2 { Method = System.String[] GetTestUrls(Microsoft.AspNetCore.Hosting.Server.Features.IServerAddressesFeature), Target = null })] Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Internal.Networking.UvException : Error -49 EADDRNOTAVAIL address not available

[RegisterAddresses_IPv6ScopeId_Success(addre

[2017-04-21 16:32] natemcmaster commented on #1734
Dupe of #1729 ?

[2017-04-21 16:57] davidfowl commented on #1734
The last error is.

[2017-04-21 19:29] mikeharder commented on #1621
Another failure: http://aspnetci/viewLog.html?buildTypeId=CoreCLR_Linux&buildId=206363

[2017-04-21 20:34] patriksvensson opened #1737 "System.ObjectDisposedException: Cannot access a disposed object."
I've started to see `ObjectDisposedException` in my logs lately for an application running on Azure.
I'm referencing version `1.1.1` of the `Microsoft.AspNetCore.Server.Kestrel` package.

[code]

The controller giving this exception is an empty method returning OK (200).

[code]

[2017-04-21 20:47] benaadams commented on #1737
Looks like the error page `Microsoft.AspNetCore.Hosting.Views.ErrorPage` is doing the write

[2017-04-21 20:52] patriksvensson commented on #1737
@benaadams Ah, did I post this issue in the wrong place?

[2017-04-21 20:53] benaadams commented on #1737
Don't know; was just observing 😄

[2017-04-21 21:24] natemcmaster commented on #1683
Closing. Can reopen if it happens again. Haven't seen this on CI in the last week and couldn't repro on my own with the latest dev branch. I think this may have been solved by the work @halter73 did to cleanup shutdown logic. #1707

[2017-04-21 21:24] #1683 closed

[2017-04-21 23:50] halter73 commented on #1737
It will probably be helpful to figure out what's triggering the error page to begin with. This ObjectDisposedException usually means that something was attempting to write the response stream after the response was completed. This would mean controller action and all other middleware already finished executing.

[2017-04-22 01:57] Tratcher commented on #1737
The hosting error page only captures and shows startup errors.

[2017-04-22 06:12] davidfowl commented on #1331
Fixed in https://github.com/aspnet/KestrelHttpServer/commit/a749939be4fc7a2bec620c35cdf816a844233870

[2017-04-22 06:29] davidfowl commented on #1621
@halter73 What if we removed the Log "Dispose listeners failed"?

[2017-04-22 06:31] #1331 closed

[2017-04-22 06:43] davidfowl commented on #1621
I increased the timeout but if it keeps happening we're going to have to tweak this test to avoid looking for this error.

[2017-04-22 09:17] davidfowl opened #1742 "Flaky Test: RejectsRequestWithContentLengthAndUpgrade"
Saw this once on AppVeyor after @natemcmaster 's change.

[code]
Not sure why it failed. If it doesn't happen again we can close this.

Exception from CI build log:

[code]

# Repros
4/26/17: http://aspnetci/viewLog.html?buildId=209002&buildTypeId=Lite_UniverseTest&tab=buildLog&filter=err
6/1/17: http://aspnetci/viewLog.html?buildId=229908&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

[2017-04-23 23:58] davidfowl commented on #1662
Kestrel.Core has the mode exposed on its options. If the mode is set to default then the transport gets to pick the scheduler. This lets the transport pick where application callbacks run. By default, our transports will dispatch application code to the thread pool when appropriate. For example, on linux, the sockets transports already dispatches so there's no need to do it again. On windows howev

[2017-04-24 00:03] davidfowl commented on #1662
Filed https://github.com/dotnet/corefxlab/issues/1495

[2017-04-24 07:08] tmds commented on #1662
This is specifically for Libuv. When dispatching inline, it is safer to no longer handle requests on the ListenerPrimary. This is to avoid blocking the accept Thread. [`base.DispatchConnection`](https://github.com/aspnet/KestrelHttpServer/blob/42d82a507da9c7522ae64c1a4c5cdd6556035162/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv/Internal/ListenerPrimary.cs#L101) should not called.

[2017-04-24 16:52] natemcmaster commented on #1742
Did something write to stderr? PowerShell treats any output to stderr as a fatal issue.

[2017-04-24 16:53] davidfowl commented on #1742
That's what happened on appveyor, there was nothing else.

[2017-04-24 17:03] benaadams opened #1749 "InlineScheduler paths should use Save+Restore EC semantics"
The threadpool handles saving and restoring ExecutionContext; however the `InlineScheduler` doesn't which means changes to AsyncLocal (for example `HttpContextAccessor`) could leak across scheduling points.

[2017-04-24 17:03] benaadams commented on #1749
Related https://github.com/dotnet/corefxlab/issues/1496

[2017-04-24 17:58] benaadams commented on #1749
Should be protected by `await` and compiler state machine

[2017-04-24 17:58] #1749 closed

[2017-04-24 19:11] muratg commented on #1557
@pakrym good to close?

[2017-04-24 19:19] muratg opened #1750 "Add an enum for scheduling mode and expose it in KestrelServerOptions"
We'll look into https://github.com/aspnet/KestrelHttpServer/issues/1662 later.

[2017-04-24 19:19] muratg commented on #1662
See https://github.com/aspnet/KestrelHttpServer/issues/1750

[2017-04-24 19:22] muratg commented on #1719
Not planning to do this. Closing.

[2017-04-24 19:22] #1719 closed

[2017-04-24 19:25] muratg commented on #1720
@Tratcher Any thoughts on this one?

[2017-04-24 19:28] jchannon commented on #1675
👀

[2017-04-24 19:29] #1557 closed

[2017-04-24 19:31] muratg commented on #1734
Dup of https://github.com/aspnet/KestrelHttpServer/issues/1733

[2017-04-24 19:36] muratg commented on #1737
@Tratcher could you investigate (preview2)

[2017-04-24 21:30] Tratcher commented on #1720
I agree, it's likely calling a into async code under the impersonation. Is it writing to the response body at any point?

[2017-04-24 22:14] mikeharder opened #1752 "Flaky Test: Safe handle has been closed"
[code]
4/24/17: http://aspnetci/viewLog.html?buildId=207567&tab=buildLog&buildTypeId=Lite_UniverseTest&logTab=tree&filter=err#_

[2017-04-24 22:25] halter73 commented on #1752
Based on the fact that the ODE is being thrown from LibuvThread.Post() inside LibuvThread.StopAsync(), it appears that the call to `Post(t => t.AllowStop());` is throwing. This would mean that uv_run exited before that.

[2017-04-24 23:02] mikeharder opened #1753 "Flaky Test: An established connection was aborted by the software in your host machine"
[code]

4/24/17: http://aspnetci/viewLog.html?buildId=207304&buildTypeId=Lite_UniverseTest&tab=buildLog&filter=err

[2017-04-24 23:27] mikeharder opened #1755 "Flaky Test: LibuvOutputConsumerTests on Ubuntu"
[code]

4/24/17: http://aspnetci/viewLog.html?buildId=207611&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR&tab=buildLog&filter=err

[2017-04-25 00:20] halter73 commented on #1752
Fixed by https://github.com/aspnet/KestrelHttpServer/pull/1756

[2017-04-25 00:20] #1752 closed

[2017-04-25 00:39] patriksvensson commented on #1737
Some more information: This seem to occur only when the site is starting up. I'm calling the ping endpoint from a webjob to see when I can start using the API, and this only happen just after deployment of the site.

[2017-04-25 02:14] davidfowl commented on #1737
@muratg this might be something we should fix in a patch

[2017-04-25 03:04] davidfowl commented on #1750
Instead of removing it I'm going to introduce these settings:

[code]

[2017-04-25 03:09] muratg commented on #1750
Updated the title to reflect the current POR.

[2017-04-25 06:58] davidfowl commented on #1752
@halter73 I did some playing around with the shutdown logic and I don't think this test failure can be an exception on the libuv thread. This test uses the test server which will crash the process if there' s any exception on the libuv thread.

[2017-04-25 07:37] #1750 closed

[2017-04-25 09:12] davidfowl opened #1761 "EBUSY when running functional tests in a loop on linux"
I ran the functional tests on an azure machine in a tight loop and got an EBUSY. Unfortunately, I don't know what test caused it. Nor do I have any logs.

[code]

[2017-04-25 10:41] antonGritsenko commented on #1720
@Tratcher no, it's a WebAPI calls, return pure JSON. Same code and same approach works well in ASP.NET (not a Core).
I still trying to find time to write generic sample. But it looks like this:
1. Main page display current context user (with impersonation for sure), current thread user and current thread id
2. Several AJAX JS calls that get same info as JSON object and then show of the page using

[2017-04-25 16:29] mikeharder commented on #1752
@davidfowl: Are you saying you believe this test failure is not actually fixed by #1756?

[2017-04-25 16:42] davidfowl commented on #1752
@mikeharder we had some theories yesterday as to why this could possibly happen and I was trying to narrow it down last night. @halter73 's change *should* this specific issue but we still don't know the root cause.

[2017-04-25 17:53] #1753 closed

[2017-04-25 17:59] halter73 commented on #1761
Well, we *do* know how to get rid of the EBUSY 😉.

[2017-04-25 18:00] #1733 closed

[2017-04-25 18:11] mikeharder opened #1763 "Flaky Test: AddressRegistrationTests.ThrowsWhenBindingLocalhostToIPv4AddressInUse"
[code]

## Repros
4/24/17: http://aspnetci/viewLog.html?buildId=207959&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR&tab=buildResultsDiv

[2017-04-25 18:29] danroth27 opened #1764 "Validate certificate EKU"
When setting up SSL with Kestrel if the cert has an EKU we should validate that the cert is for server usage.

[2017-04-25 18:54] rich3737 opened #1765 "Blank Response from Kestrel for Host Header Edge Cases"
### Blank Response from Kestrel for Host Header Edge Cases
Kestrel does not return a proper HTTP response for some Host header values, as outlined in the repro steps below.

### Functional impact
No response is returned from Kestrel for this edge case. Only impacts that specific request.

### Minimal repro steps

1. Run the SampleApp from the KestrelHttpServer repo. Repro steps were tested on dev

[2017-04-25 19:27] mikeharder opened #1766 "Flaky Test: ConnectionResetMidRequestIsLoggedAsDebug"
[code]

## Repros
4/25/17: http://aspnetci/viewLog.html?buildId=208284&buildTypeId=Lite_UniverseTest&tab=buildLog&filter=err

[2017-04-25 19:48] pranavkm commented on #1704
@halter73 the fix went in to dev, this one talks about seeing this issue in patch branches. Was the fix back ported \ skipped?

[2017-04-25 19:57] halter73 commented on #1765
@rich3737 Can you include the exception type and message in the issue? Right now I just see the stack trace for it.

[2017-04-25 20:09] rich3737 commented on #1765
Sorry, I snipped too much. I updated the full output from the SampleApp in repro steps above. System.AggregateException with inner exception System.ArgumentException: Decoded string is not a valid IDN name.

[2017-04-25 21:34] natemcmaster commented on #1729
Resolved in #1767 and #1762

[2017-04-25 21:34] #1729 closed

[2017-04-25 22:33] Tratcher commented on #1765
So by blank response you mean you get a 500 response with no body? Moving this issue to Hosting. The logger should use .Value on HostString, PathString, etc.. because it's not concerned about the wire safe
https://github.com/aspnet/Hosting/blob/6527001b3f7929806d5e4cd7f2d46448312c9fcd/src/Microsoft.AspNetCore.Hosting/Internal/HostingRequestStartingLog.cs#L67

Generating links, redirects, etc, will

[2017-04-25 22:34] Tratcher commented on #1765
This issue was moved to aspnet/Hosting#1048

[2017-04-25 22:34] #1765 closed

[2017-04-25 22:38] cesarbs opened #1768 "Test failure: BlockedHeartbeatDoesntCauseOverlapsAndIsLoggedAsError"
On my dev machine:

[code]

[2017-04-26 02:12] cesarbs opened #1770 "Test failure: RejectsRequestWithContentLengthAndUpgrade"
[code]

[2017-04-26 02:31] davidfowl commented on #1770
Dupe of https://github.com/aspnet/KestrelHttpServer/issues/1742

[2017-04-26 02:33] davidfowl commented on #1768
This one is a bit harder to make deterministic but we can try

[2017-04-26 02:35] davidfowl commented on #1766
I'm guessing this is https://github.com/aspnet/KestrelHttpServer/issues/1761

[2017-04-26 02:35] davidfowl commented on #1763
I'm guessing this is https://github.com/aspnet/KestrelHttpServer/issues/1761

[2017-04-26 02:43] davidfowl commented on #1755
@pakrym isn't this fixed?

[2017-04-26 07:02] tmds opened #1771 "Socket close on Timeout"
I am looking in the code to see how the Timeout is implemented.
I think something is missing that unblocks the socket read or I missed it.

Pseudo code of socket reading:
[code]

On timeout we want to reach (2) this requires getting unblocked at (1).

[2017-04-26 07:06] davidfowl commented on #1771
When a timeout is triggered, the request processing loop completes, which completes the output reader. When that happens the socket transports then shuts down both sides of the connection https://github.com/aspnet/KestrelHttpServer/blob/e76737b8a63d0230feae1a493d81be8b676387bf/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets/SocketConnection.cs#L58. Then read yields with a 0 byte read and

[2017-04-26 07:17] tmds commented on #1771
Ah, when the application completes the output reader, the Transport is responsible for unblocking the socket reading. Got it, Thanks.

[2017-04-26 08:23] davidfowl opened #1772 "Remove OnConnectionClosed and Abort from IConnectionContext"
Once this is merged https://github.com/dotnet/corefxlab/pull/1491, we should be able to remove all use the pipe as a single communication mechanism for transports.

[2017-04-26 15:18] pakrym commented on #1755
Closing, fix for this was merged `Apr 24, 2017, 5:37 PM` build with the failure ran `24 Apr 17 15:17`

[2017-04-26 15:18] #1755 closed

[2017-04-26 18:24] tmds opened #1774 "SocketTransport: FIN handling"
If a client sends a request and then sends a FIN to indicate it won't send anymore data, this should
- not be [treated as an exception](https://github.com/aspnet/KestrelHttpServer/blob/e76737b8a63d0230feae1a493d81be8b676387bf/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets/SocketConnection.cs#L95)
- not cause the server to [stop sending a reply](https://github.com/aspnet/KestrelHttpServe

[2017-04-26 18:29] #1681 closed

[2017-04-26 18:47] #1770 closed

[2017-04-26 18:57] halter73 commented on #1704
@pranavkm Which patch? Has it been seen at all since it was first reported?

#1707 fixes a regression that was introduced in dev, it wouldn't fix anything in 1.0 or 1.1.

[2017-04-26 20:02] tmds commented on #1771
I wonder, would it be possible for a client to block the timeout logic by not reading?
Pseudo code of socket writing:

[code]

That is: (1) stops you from getting to (2)?

[2017-04-26 22:49] halter73 opened #1778 "Update to a release version of Roslyn"
See https://github.com/aspnet/KestrelHttpServer/pull/1748#issuecomment-297556985.

[2017-04-27 00:22] #1722 closed

[2017-04-27 01:59] davidfowl commented on #1771
Yes, it's possible the request processing ends but socket itself is stuck on a slow client call. You'll be able to get a notification out of band with this change https://github.com/dotnet/corefxlab/pull/1491.

[2017-04-27 05:30] davidfowl commented on #1774
It's an exception because we want application code to fail reading the body. Though we're adding a new pipe for the body reading so we can split app and transport behavior if we found that valuable.

We could make this code only stop the input if the output ended, today it does both things (which happens either way but it's a responsibility question).

Either way, when a fin is received, kestrel w

[2017-04-27 06:39] tmds commented on #1774
It is valid for an http client to do this:
[code]
This won't work well with the Socket Transport. The libuv Transport handles this fine.

[2017-04-27 06:43] davidfowl commented on #1774
You may not get the response though. When you send the FIN Kestrel will kill the output potentially before the client gets a chance to read the response. Before we make the sockets transport the default, we'll make sure it has roughly equivalent behavior to the libuv transport.

[2017-04-27 07:06] davidfowl commented on #1774
Sent a PR to fix it.

[2017-04-27 07:14] davidfowl commented on #1774
The exception case is interesting because libuv doesn't always close with an exception it seems but I think that was an assumption we made.

/cc @cesarbs

[2017-04-27 07:26] tmds commented on #1774
The libuv transport does the proper thing.
When the client sends a FIN, it completes the input without an exception.
When the reading is stopped due to output completing, it completes the input with an exception.

[2017-04-27 07:47] davidfowl commented on #1774
How did you verify that? When does the read callback get triggered with a failure?

[2017-04-27 07:55] tmds commented on #1774
I didn't verify it, but I assume [this is working code](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv/Internal/LibuvConnection.cs#L88).
[code]

[2017-04-27 07:58] davidfowl commented on #1686
Some notes:
This test is libuv specific right now - ConnectionResetBetweenRequestsIsLoggedAsDebug
This test fails because the exception is incorrect - EmptyRequestLoggedAsInformation

[2017-04-27 07:59] davidfowl commented on #1774
I guess this is only no null for a random UV error *or* a connection reset. https://github.com/aspnet/KestrelHttpServer/blob/c2f15fcac374328d8256b8345bfb5eb22e8add75/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv/Internal/LibuvConnection.cs#L183

[2017-04-27 09:02] tmds commented on #1774
Yes, error == null when client sends a FIN.
There are two more lines where Input.Complete is called and in those cases an exception is passed.

[2017-04-27 09:04] davidfowl commented on #1774
Yep, you're right. I've fixed the issues in https://github.com/aspnet/KestrelHttpServer/pull/1782

[2017-04-27 16:54] Eilon commented on #1704
Should we consider disabling the test? Would we be losing any significant coverage?

[2017-04-27 16:59] feO2x opened #1783 "KestrelServerOptions.ApplicationServices is null when using a custom DI container"
Dear ASP.NET Core team,

today I discovered a bug while trying to enable HTTPS for Kestrel: `KestrelServerOptions.ApplicationServices` is null when the ASP.NET Core app uses a custom DI container.

An MCVE can be found in [this repo](https://github.com/feO2x/KestrelHttpsConfiguration).

However, here is a short description of the error:

### Minimal repro steps

1) Create an empty ASP.NET Core web

[2017-04-27 17:07] Tratcher commented on #1783
Known issue. This happens if the DI container does not guarantee order.
https://github.com/aspnet/KestrelHttpServer/issues/923

[2017-04-27 17:16] feO2x commented on #1783
In my repro, I use LightInject. If I understood https://github.com/autofac/Autofac/issues/755 correctly, then the `IStartupFilter` instances should be returned in the same order as they were registered (which does not happen here). I will investigate this further, but I thought that LightInject does not mix up the order of the returned items.

[2017-04-27 19:29] natemcmaster commented on #1591
Decided to go with this:
[code]
The X8 format represents the full range of info in `uint`.
FYI - `uint.MaxValue` is 4.2 billion.

[2017-04-27 20:13] halter73 commented on #1774
This isn't a problem with *just* the socket transport. The [libuv transport calls IConnectionContext.Abort()](https://github.com/aspnet/KestrelHttpServer/blob/0755495ce55d337e35b45721f6e8e4031c913c56/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv/Internal/LibuvConnection.cs#L180) for any FIN. Abort() not only immediately poisons the response stream and trips the request aborted token, but

[2017-04-27 20:31] davidfowl commented on #1774
We can't change th behavior back (at the very least we need o trigger th cancellation token regardless). I don't think there's any new problem, we're just aligning transport behavior as that's what the bug was about.

[2017-04-27 21:37] tmds commented on #1774
@halter73 I don't have an example of a client doing that. If nginx treats those FINs as abortive, then it's safe to assume there are _no_ real clients that send FINs before receiving the response.

[2017-04-27 21:37] halter73 commented on #1774
Kestrel both treats a FIN as an exception and causes the server to stop sending a reply since a FIN immediately triggers the disposal of the UvStreamHandle.

[2017-04-27 21:48] tmds commented on #1774
@halter73 I had missed libuv was doing this. From the referenced threads, I now also understand why FINs are treated as abortive.

[2017-04-27 21:56] halter73 commented on #1704
@Eilon I don't think this is flakyness in NonPathRequestTargetSetInRawTarget specifically. We either have to fix this issue (assuming it hasn't been fixed by #1707), or disable all the Kestrel functional tests.

ObjectDisposedExceptions were somewhat common for the past 2 weeks until #1707 was merged in dev. I am surprised this was seen in a patch branch. I wonder if the "[Patch]" in the tile was

[2017-04-27 22:29] bcuff opened #1785 "Sockets in CLOSE_WAIT state build up over time"
After 12 hours or so of running my new asp net core app in production on ubuntu 16.04 I ran out of file handles. lsof showed a ton of sockets in CLOSE_WAIT.

### Minimal repro steps
1. Set up web application on ubuntu 16.04 using kestrel
2. Let it run for a while (exposed to traffic of some kind)
3. Notice that `watch "lsof -n | grep CLOSE_WAIT | wc -l"` builds up slowly over time

### Expected Re

[2017-04-27 23:24] halter73 commented on #1697
The last test failure that @Tratcher linked to was from a build for 88890595d1184630c8f64c45b991e4f0cb850064.

[2017-04-27 23:35] halter73 commented on #1734
@davidfowl Have you seen this kind of failure since #1754 was merged?

I created that PR to fix the EINVALs and EADDRNOTAVAILs, but it is really odd to me that binding to "http://<some local address>:0/" would fail with EADDRNOTAVAIL considering there must be *some* port available.

[2017-04-28 00:01] halter73 commented on #1693
#1786 fixes this for 2.0.0-preview1. I did `git merge -s ours rel/2.0.0-preview1` so this fix is *not* in dev yet. That is waiting on #1776.

[2017-04-28 00:05] mxa0079 commented on #1376
Could anyone please provide guidance or a link on how to use the pre-release/public patches packages in our projects? We tried adding the preview feed to our nuget configuration and referencing the patch packages but the project is not downloading the correct version.

Example:

When we reference “1.0.5-rtm-201704200225” -> it downloads -> Microsoft.NETCore.App 1.1.0-preview1-001100-00

[2017-04-28 00:28] muratg commented on #1376
@mxa0079 Why are you referencing aspnetcore-ci-dev feed in your nuget.config? Please remove that, clear your local caches, and retry.

[2017-04-28 00:52] mxa0079 commented on #1376
@muratg we need that feed for another package we are using (signalR for .net core). We will clear the cache and try again

[2017-04-28 00:53] davidfowl commented on #1774
@tmds FINs

[2017-04-28 00:55] #1774 closed

[2017-04-28 01:03] muratg commented on #1376
@mxa0079 Sounds good. One workaround would be, putting all the SignalR packages into a local folder, and adding that folder as a feed to your nuget.config for testing. This way, you'd only rely on nuget.org + this patch's myget feed for restore time.

Also please keep in mind that SignalR (Core) is not RTM yet.

[2017-04-28 01:04] cesarbs opened #1789 "Test failure: LoggingConnectionAdapterCanBeAddedBeforeAndAfterHttpsAdapter"
Fails rather consistently on my Ubuntu 14.04 VM. Doesn't repro on my 16.04 one though.

This was in the `rel/2.0.0-preview1` branch. cc @muratg

[code]

[2017-04-28 01:08] muratg commented on #1789
Does it look like a product bug on downlevel Ubuntu? Or more a test issue?

[2017-04-28 01:13] cesarbs commented on #1789
Can't tell right now. I caught this while working on fixing the flakiness in `AddressRegistrationTests`. Will have to investigate more.

[2017-04-28 01:57] davidfowl commented on #1785
Are you running ASP.NET Core 2.0 ci builds in production? If not, your fix does nothing because this code only exists in 2.0. Your socket might be in the CLOSE_WAIT state because you didn't complete your application logic or possibly because of another problem.

[2017-04-28 02:06] davidfowl commented on #1785
@bcuff Also just FYI Kestrel 1.x isn't suited to be exposed as a webserver without a reverse proxy.

[2017-04-28 02:11] bcuff commented on #1785
@davidfowl  Okay. I'm using 1.1.1. I guess I was looking in the wrong place.

I am using nginx to front Kestrel. I did turn off proxy_buffering because it was cutting off my responses. That was the only thing different about mine and [this article](https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction)

[code]

[2017-04-28 02:31] davidfowl commented on #1376
Nope,you can't use SignalR with ASP.NET Core 1.x it requires 2.0

[2017-04-28 03:27] bcuff commented on #1785
Ah. I turns out that we had a client that was talking to kestrel directly. When we changed it to point to the nginx proxy instead it stopped leaking sockets. Thanks for the help.

[2017-04-28 03:27] #1785 closed

[2017-04-28 04:17] davidfowl commented on #1734
Seems to work now, you can close.

[2017-04-28 04:17] davidfowl commented on #1734
Seems to pass now, you can close.

[2017-04-28 04:18] #1734 closed

[2017-04-28 05:31] mxa0079 commented on #1376
@davidfowl We are using it and our internal tests have proven successful. However, we have yet to test it at a large scale - the funtionality that relies on it is hidden behind a feature switch - but we are about to turn it on. 😱 -- any heads up?

[2017-04-28 05:33] mxa0079 commented on #1376
@muratg Local folder is not an option because our CI and CD process will not work like that (unless we check in the package, which I'de like to avoid). We just tried the restore the project using the exact version match notation (surrounding the version number by brackets) and got the following message:

[code]

[2017-04-28 05:40] davidfowl commented on #1376
@mxa0079 what version of SignalR are you using?

[2017-04-28 05:52] davidfowl commented on #1789
Dupe of https://github.com/aspnet/KestrelHttpServer/issues/1697

[2017-04-28 05:52] #1789 closed

[2017-04-28 05:53] davidfowl commented on #1697
@cesarbs just reproed this again with https://github.com/aspnet/KestrelHttpServer/issues/1789

[2017-04-28 05:54] feO2x commented on #1783
It seems to be a bug in LightInject, I will close this issue and investigate further.

[2017-04-28 05:54] #1783 closed

[2017-04-28 05:57] davidfowl commented on #1783
ping @seesharper

[2017-04-28 14:25] mxa0079 commented on #1376
@davidfowl
[code]

[2017-04-28 14:27] davidfowl commented on #1376
Eek, those are deprecated ones.

[2017-04-28 14:30] mxa0079 commented on #1376
@davidfowl 😭

[2017-04-28 17:00] #1721 closed

[2017-04-28 19:34] halter73 opened #1792 "Flaky Test: Remove usages of AddressRegistrationTests.GetNextPort()"
http://aspnetci/viewLog.html?buildId=209485&tab=buildResultsDiv&buildTypeId=XPlat_Mac_MacUniverseCoreCLR

In this particular run, RegisterAddresses_IPv6_Success failed. Unlike the RegisterAddresses_IPv6*ScopeId*_Success EADDRNOTAVAIL failures on macOS (#1734) which were odd since that test tells Kestrel to bind to port 0, this can be explained by the port returned GetNextPort() getting reused too

[2017-04-28 19:49] halter73 commented on #1792
Dupe of #1721. I didn't see it when filing this issue because that was an EADDRINUSE failure instead of an
EADDRNOTAVAIL error.

This was already fixed by #1787.

[2017-04-28 19:49] #1792 closed

[2017-04-28 20:06] halter73 opened #1793 "Investigate EADDRNOTAVAIL failures"
http://aspnetci/viewLog.html?buildId=209485&tab=buildResultsDiv&buildTypeId=XPlat_Mac_MacUniverseCoreCLR

@cesarbs verified that macOS will normally fail with EADDRINUSE instead of EADDRNOTAVAIL for port conflicts.

[2017-04-28 20:10] halter73 commented on #1793
http://aspnetci/viewLog.html?buildId=211265&tab=buildResultsDiv&buildTypeId=XPlat_Mac_MacUniverseCoreCLR

http://aspnetci/viewLog.html?buildId=211149&tab=buildResultsDiv&buildTypeId=XPlat_Mac_MacUniverseCoreCLR

The above builds also exhibit the same failure. All on the same agent.

[2017-04-28 21:13] pranavkm commented on #1704
Here's  a link - http://aspnetci/viewLog.html?buildId=203576. That said the test has a 99.5% pass rate in the patch, so perhaps it's not entirely too flaky.

[2017-04-29 06:01] mikeharder opened #1796 "Flaky Test: RequestHeaderLimitsTests.ServerAcceptsRequestWithHeaderCountWithinLimit"
http://aspnetci/viewLog.html?buildId=212066&tab=buildLog&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR&logTab=tree&filter=important

[code]

[2017-04-29 10:19] davidfowl commented on #1761
Got more info with logging:

There seems to be a rogue pipe handle still open when we get the EBUSY:

`Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Internal.Networking.UvPipeHandle`

[2017-04-30 18:20] mbpakalin commented on #639
Thanks so much, .UseUrls("http://0.0.0.0:5000") is still working.

[2017-05-01 05:07] adminnz opened #1800 "Question on getting Original Request"
I'm looking at KestrelHttpServer and wondering if it is possible to get the original request stream (headers + body)
I know I could "rebuild" a _similar_ stream by enumerating context.Request.Headers and writing them (+ CRLF) to a MemoryStream, and then writing CRLF and then the context.Request.Body.
But the headers may be in a different order than what they arrived in and the HttpParser appears t

[2017-05-01 05:51] davidfowl commented on #1800
What are you trying to do?

The most you can do is write a connection filter, but that's pretty low level, there's no concept of a request, you get the raw bytes. Here's an example of a logging filter https://github.com/aspnet/KestrelHttpServer/blob/rel/1.1.2/src/Microsoft.AspNetCore.Server.Kestrel/Filter/LoggingConnectionFilter.cs.

[2017-05-01 06:40] adminnz commented on #1800
Ultimately I'm building a AS2 server ([RFC](http://www.ietf.org/rfc/rfc4130.txt)) and while the message parsing is nicely handled by Jeffrey Stedfast's [MimeKit](https://github.com/jstedfast/MimeKit), I'm looking at different options for providing the HTTP server.

Kestrel looks like a possible solution (as I really would like to avoid all the async IO work you guys have already done). I know the

[2017-05-01 07:49] davidfowl commented on #1761
It gets better:

[code]

Somehow, the list of dispatch pipes is empty...

[2017-05-01 08:16] davidfowl commented on #1761
The read callback handling in https://github.com/aspnet/KestrelHttpServer/blob/3375cf0e28c02056ccb6fa51d297971188357f0d/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv/Internal/ListenerPrimary.cs#L224 isn't great. It assumes the happy path (doesn't handle EOF because it assumes ReadStop will be called before that happens).

[2017-05-01 09:22] jkljajic opened #1801 "Wrong Remote Ip Address depends on configuration"
![nginx_windows10](https://cloud.githubusercontent.com/assets/1439857/25576559/74e8b3c2-2e60-11e7-8a23-df3a6e113167.png)
Same configuration only diffrence is OS and IIS version. i think picture telling all story. i would like to know how to catch good IP on windows server 2012 not gateway nginx ip address.  and i hope this is good place to post this issue ?

[2017-05-01 09:35] davidfowl commented on #1761
The plot thickens:

[code]

[2017-05-01 10:28] Tratcher commented on #1801
Please move this to BasicMiddleware. What settings do you have for ForwardedHeaderOptions?

[2017-05-01 10:39] jkljajic commented on #1801
IS same for all 3 configuration
var forwardedOptions = new ForwardedHeadersOptions
            {
                RequireHeaderSymmetry = false,
                ForwardedHeaders = ForwardedHeaders.All,
                KnownNetworks =
                {
                    new IPNetwork(IPAddress.Parse("103.21.244.0"), 22),
                    new IPNetwork(IPAddress.Parse("103.22.200.0"), 22),

[2017-05-01 16:16] davidfowl commented on #1761
Finally:

[code]

The problem is order of events. Disposing the pipe happens before the pipe gets added to the list of connections.

[2017-05-01 17:10] #1591 closed

[2017-05-01 17:44] Eilon commented on #1621
@davidfowl - anything left for preview1? Or would we juts fix things in `dev` at this point?

[2017-05-01 18:47] #1793 closed

[2017-05-01 21:31] jceddy opened #1802 "ASP.NET Core Kestrel on Linux never prompts for client certificate"
I have an ASP.NET Core 1.1 application set up to use Https and require client certificates:

![](https://i.stack.imgur.com/Jd048.png)

I'm running the application on Linux.

If I change ClientCertificateMode to "AllowCertificates", then everything works fine, but the browser never prompts for a client cert.

With "RequireCertificate" set, I still don't get prompted by the browser for a certificate

[2017-05-01 21:50] khellang commented on #1802
I see you're calling `UseIISIntegration`. Does that mean you're running this behind IIS?

[2017-05-01 21:55] #1761 closed

[2017-05-01 22:02] jceddy commented on #1802
On Windows we are running behind IIS Express. On Linux, no.

[2017-05-01 22:39] natemcmaster commented on #1625
Closing as external to Kestrel. @capiono if you've identified an error _not_ solved by my previous comments, we can re-open for further investigation.

[2017-05-01 22:39] #1625 closed

[2017-05-01 22:50] natemcmaster commented on #1663
@hheexx when your process deadlocks, can you gather a process dump? This will help us to examine where the threads have deadlocked.

This is the best step through I've found so far on how to gather and inspect a process dump on Linux:

http://blogs.microsoft.co.il/sasha/2017/02/26/analyzing-a-net-core-core-dump-on-linux/

Also, checkout https://github.com/dotnet/coreclr/blob/master/Documentation/p

[2017-05-01 23:45] davidfowl commented on #1621
Going to close this until it repros again.

/cc @mikeharder if it repros open this back up.

[2017-05-01 23:45] #1621 closed

[2017-05-02 02:59] davidfowl commented on #1693
Moved this to preview2

[2017-05-02 05:58] kichalla opened #1803 "Publishing an app as standalone using RID win-x64 throws 'Unable to load DLL 'libuv': The specified module could not be found.'"
**Repro**
- clone repo https://github.com/kichalla/libuverrorrepro
- dotnet restore
- dotnet publish -r win-x64
- execute the `.exe` that gets generated as part of the above step and you should see an error like below:

[code]

Change the runtime identifier to `win7-x64` in the `.csproj` file and repeat the above steps and you should see the app running fine.

cc @mikeharder @davidfowl @moozzyk

[2017-05-02 06:20] kichalla commented on #1803
This issue was moved to aspnet/libuv-package#18

[2017-05-02 06:20] #1803 closed

[2017-05-02 06:59] mbpakalin commented on #949
Is this problem solved ?
The problem same as like you, when i delete cookies it worked fine.

[2017-05-02 07:00] davidfowl commented on #949
Kestrel doesn't support non asciii headers.

[2017-05-02 11:49] pellea commented on #1376
Do you have an ETA for the 1.1.2 release? Is it around the 10 may like the corefx? There are no due dates available on this repo. Thanks.

[2017-05-02 13:01] jceddy commented on #1802
I tried removing that line to see if it was affecting something, and now I get this error:

[40m[32minfo[39m[22m[49m: Microsoft.AspNetCore.Server.Kestrel[17]
      Connection id "0HL4HBCV1BOC0" bad request data: "Invalid request line: <0x16><0x03><0x01><0x00><0xD0><0x01><0x00><0x00><0xCC><0x03><0x03>0<0xBA><0x0B><0xCB><0x1A>1<0xFE><0x1F><0x0A>"
Microsoft.AspNetCore.Server.Kestrel.BadHttpReque

[2017-05-02 15:39] Eilon commented on #1376
@pellea - yeah should be in about a week or so. Very soon!

[2017-05-02 23:55] Eilon commented on #1796
@muratg - can someone take a look to see what we should do for Preview1?

[2017-05-02 23:57] Eilon commented on #1704
Moving this out.

[2017-05-03 02:40] davidfowl commented on #1796
I'm guessing this is fixed with https://github.com/aspnet/KestrelHttpServer/commit/35b5d9265251dd7ae1b2f70085820d25a4ada1e9 but it's not in preview1. Since it's a shutdown bug, I don't think we should bother for preview1.

[2017-05-03 05:27] bnayae opened #1807 "ASP.NET Core throughput while await on non cpu bound task"
I was publishing the same [issue ](https://github.com/aspnet/Hosting/issues/1058#issuecomment-298214320) to the ASP Hosting branch but it seem that it may be

When I compare ASP.NET and ASP.NET Core Web API (over IIS Express).
It's seem that even those I'm awaiting Task.Delay it doesn't handle the next request and behave like
having Thread Pool starvation.

I'm using the same HttpClient instance w

[2017-05-03 05:43] hheexx commented on #1663
Thanks @natemcmaster!
Looks like exactly what I need!

I'm on vacation now, will try both solutions in a week.
I hope performance tracing will tell me what's wrong.

[2017-05-03 09:07] davidfowl commented on #1807
@bnayae I mentioned this on the other issue but you haven't changed the code. Can you use a single http client instead of creating one per request?

Also what OS are you running on?

[2017-05-03 09:09] davidfowl commented on #1697
Not fixed yet saw it on the sockets transport PR https://travis-ci.org/aspnet/KestrelHttpServer/jobs/227889305

[2017-05-03 11:27] stanislavromanov commented on #639
So there is still no `--port` parameter when you run it?

[2017-05-03 13:34] benaadams commented on #1807
If you change from max open connections to 10? `MaxConnectionsPerServer = 10` as mentioned previously?

[2017-05-03 13:53] muratg commented on #1796
@halter73 could you take a quick look and verify if this is fixed in dev? If so, perhaps we just disable this in preview1.

[2017-05-03 16:06] ferrx commented on #1112
[code]

My project.assets.json file shows `"Microsoft.AspNetCore.Server.Kestrel": "1.1.0"`

Running in Development.

No load at all, just myself. Have WebPack's HotModuleReload running on the site with `<PackageReference Include="Microsoft.AspNetCore.SpaServices" Version="1.1.0" />` but I see no evidence that's the cause.

[2017-05-03 18:55] bnayae commented on #1807
I did it, I was running with single instance and MaxConnectionsPerServer = 100 but it was behaving more of the same (far from the expectation)

[2017-05-03 19:57] halter73 commented on #1112
@ferrx This shutdown bug will be fixed in 2.0.0.

[2017-05-03 20:04] mikeharder commented on #1796
Assuming we don't think this bug meets the customer bar for preview1, my recommendation would be to *not* merge this to preview1, to reduce risk.

I would go with option 2 if required to unblock builds, otherwise option 3.

[2017-05-03 21:38] Eilon commented on #1796
Agree with Mike, and I think option 2 or 3 depending on how bad test runs are.

[2017-05-03 21:48] halter73 commented on #1796
I would argue for option 3 assuming this isn't causing a lot of builds to fail.

Finding all the affected tests would probably take about an hour, but my guess is that well over half the tests would need to be disabled. We'd be losing most of the test coverage in the Kestrel repo, but considering checkins are pretty locked down, I understand that option 2 probably isn't *that* risky.

[2017-05-03 23:22] TotzkePaul commented on #639
I don't think it makes much sense to specify the port without an IP.

You could write something like this in Program.cs

    public static void Main(string[] args)
    {
            var config = GetServerUrlsFromCommandLine(args);
            var port = config.GetValue<int?>("port")??5000;

            var host = new WebHostBuilder()
                .UseKestrel()
                .UseConfiguration(

[2017-05-04 02:57] davidfowl commented on #1796
Lets just back port the fix. It's trivial.

[2017-05-04 04:45] Eilon commented on #1796
@davidfowl eh... we have enough going on for preview1... if you feel strongly, fine.

But I don't know the answer to @halter73 's question about how often this fails. If it's rare - let's say less than 1%, I don't see it being worth it.

[2017-05-04 06:17] davidfowl commented on #1796
Here's are the bugs that were likely fixed https://github.com/aspnet/KestrelHttpServer/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20The%20active%20test%20run%20was%20aborted.

Lets do nothing then.

[2017-05-04 06:36] muratg commented on #1796
Moved to preview2 per the discussion. We'll close if this is indeed fixed in dev.

[2017-05-04 08:55] davidfowl commented on #1621
Saw this again on my linux box while running it in a loop over 2 days..

[2017-05-04 08:56] davidfowl commented on #1807
@bnayae What OS are you running on?

[2017-05-04 18:40] halter73 opened #1808 "Investigate removing uv_shutdown call before closing a conneciton"
It appears that if a FIN might be sent with just a uv_close. At least on Windows this [seems to be the case](https://github.com/libuv/libuv/blob/cb0cc7346d1c2b5bdf2bd89e4006a50fb6f9c3dd/src/win/tcp.c#L1380).

[2017-05-04 22:24] halter73 opened #1809 "Remove Core project reference from CodeGenerator"
The dependency was added in #1418 to access to some types like HttpMethod. The downside is that if the Core project doesn't compile (perhaps due to a code generation error), the CodeGenerator also can't compile.

[2017-05-05 06:48] davidfowl commented on #1742
Failed again on appveyor

[2017-05-05 18:57] cesarbs opened #1812 "Remove UvShutdownReq"
After https://github.com/aspnet/KestrelHttpServer/pull/1811 it won't be used anywhere.

[2017-05-05 22:23] davidfowl commented on #1812
Fixed in https://github.com/aspnet/KestrelHttpServer/commit/cd1568d7f4c90a1079b8412a7db6cbbf2bc59de4

[2017-05-05 22:23] #1812 closed

[2017-05-05 22:23] davidfowl commented on #1808
Fixed in https://github.com/aspnet/KestrelHttpServer/commit/cd1568d7f4c90a1079b8412a7db6cbbf2bc59de4

[2017-05-05 22:23] #1808 closed

[2017-05-05 23:11] #1693 closed

[2017-05-06 00:17] halter73 opened #1813 "Don't call ConnectionAdapter.OnConnectionAsync on the transport thread"
#1776 changed the behavior of FrameConnection to no longer call `ThreadPool.UnsafeRun` before invoking any ConnectionAdapter code.

Now if a ConnectionAdapter calls ConnectionStream.Read() instead of ReadAsync(), the LibuvThread would become deadlocked.

[2017-05-06 14:35] 1amirjalai opened #1814 "System.IO.IOException: Error -4077 ECONNRESET connection reset by peer"
I have a high traffic website behind iis load balancer and cloudflare.

i'm using    `"Microsoft.AspNetCore.Server.Kestrel": "1.1.1",`

and  `"Microsoft.AspNetCore.Server.IISIntegration.Tools": "1.1.0-preview4-final",`

but i'm constantly getting this error and all request are gets dropped

what should i do?

`System.IO.IOException: Error -4077 ECONNRESET connection reset by peer ---> Microsoft.As

[2017-05-06 16:47] davidfowl commented on #1814
What do you mean "all requests get dropped"? That stack trace looks like a single error on a single request. The client disconnected while the antiforgery store was reading the form. It looks harmless. The logs might just be scary but that behavior is expected.

[2017-05-06 16:56] 1amirjalai commented on #1814
when this kind of error happens which happens a lot on iis load balancer monitoring suddenly all request are get failed. im using redis for dapi
![errors](https://cloud.githubusercontent.com/assets/2786675/25774375/9e2acb9e-32a2-11e7-8b2a-e44b38f8ca87.PNG)

![load balancer](https://cloud.githubusercontent.com/assets/2786675/25774368/87a0ea98-32a2-11e7-81c1-a1b729cfda2a.PNG)

[2017-05-06 17:26] davidfowl opened #1815 "It's possible to lease blocks from the pool after the pool has been disposed"
When using connection adapters, it's possible to leak memory on shutdown if the adapted pipeline runs after the libuv thread is stopped. Generally though, this shouldn't happen if the shutdown is graceful.

[2017-05-07 07:39] davidfowl commented on #1815
Here's what a typical trace looks like:

[code]

[2017-05-07 10:19] davidfowl commented on #1814
That's interesting, what load balancer are you using?

[2017-05-07 10:21] davidfowl commented on #1815
It's because it's possible to start the shutdown sequence before the frame is added to the list of connections.

[2017-05-07 10:40] 1amirjalai commented on #1814
I'm using IIS arr 3.0 as load balancer.

[2017-05-08 06:48] bnayae commented on #1807
I'm working on Win 10 Enterprise (Surface pro 3).
the code for reproduce available [here](https://github.com/bnayae/Asp.NET-Perf-Issue)

[2017-05-08 06:57] davidfowl commented on #1807
@bnayae Can you run that on a windows server machine and see if it repros?

[2017-05-08 13:30] eriksendc commented on #1289
@cesarbs Is the workaround for static files something related to BrowserLink or just something to fix a general underlying bug? I'm having sporadic issues in production where the "signature" of the error in the stdout logs is

    fail: Microsoft.AspNetCore.Server.Kestrel[13]
          Connection id "0HL4LUEF54SHK": An unhandled exception was thrown by the application.
    System.InvalidOperationE

[2017-05-08 16:49] mikeharder commented on #1684
This is still failing consistently on Win7 for preview1:

http://aspnetci/viewLog.html?buildId=217097&buildTypeId=XPlat_Windows_Win7_Universe&tab=buildLog

[2017-05-08 18:09] muratg commented on #1684
We'll disable the test for preview1. And actually try to fix it in preview2.

[2017-05-08 19:03] mikeharder commented on #1684
Disable test for Preview1: https://github.com/aspnet/KestrelHttpServer/pull/1817

[2017-05-09 02:51] bnayae commented on #1807
I don't have Win Server installed on any of my machines but I will try to deploy it to Azure and see how it behave.

[2017-05-09 03:57] #1815 closed

[2017-05-09 06:26] a764578566 opened #1818 "Write to non-body 204 response"
fail: Microsoft.AspNetCore.Server.Kestrel[13]
      Connection id "0HL4MKANNC7AL": An unhandled exception was thrown by the application.
System.InvalidOperationException: Write to non-body 204 response.
   at Microsoft.AspNetCore.Server.Kestrel.Internal.Http.Frame.HandleNonBodyResponseWrite()
   at Microsoft.AspNetCore.Server.Kestrel.Internal.Http.Frame.<WriteAsyncAwaited>d__183.MoveNext()
--- End

[2017-05-09 07:48] davidfowl opened #1819 "Consider reverting back to a non-throwing way of shutting down the connection"
In https://github.com/aspnet/KestrelHttpServer/commit/c48113ad805a53bc98a999a7004b6bb13763bf25 we changed a call to `CancelPendingRead()` to `Complete(new ConnectionAbortedException())`, while this made the pattern more consistent it also throws a bunch more first chance exceptions. We could go back to CancelPendingRead instead.

/cc @pakrym @halter73

[2017-05-09 12:56] hheexx commented on #1663
@natemcmaster I tried perfview. But it looks like most of data is not recorded. This is all I got.
https://i.gyazo.com/be10af94b30e971c137b2fe1cebb5876.png

I will try process dump now. How to submit it to you?

[2017-05-09 14:02] Tratcher commented on #1818
https://tools.ietf.org/html/rfc7231#section-6.3.5

   successfully fulfilled the request and that there is no additional
   content to send in the response payload body
...

   fields because it cannot contain a message body.

Why are you trying to send a response body with a 204 status code?

[2017-05-09 17:06] natemcmaster commented on #1663
@hheexx sorry, here's the best answer I've found so far on creating the dump: http://stackoverflow.com/a/42494906/2526265. .NET Core Linux tooling is woefully undocumented.

[2017-05-09 18:46] halter73 commented on #1819
What's the purpose of ever calling `IPipeWriter.Complete(Exception)` instead of `IPipeWriter.Complete()`? The OutputConsumer handles an exception and a normal completed read the exact same way. The ConnectionAbortedException isn't even logged.

As an aside, maybe we should consider not [calling Frame.Abort() every time the connection is closed by the client](https://github.com/aspnet/KestrelHttpSe

[2017-05-10 00:41] davidfowl commented on #1819
#1820

[2017-05-10 00:41] #1819 closed

[2017-05-10 08:09] sirajmansour commented on #1737
[code]

[2017-05-10 08:23] davidfowl commented on #1737
@patriksvensson This code reproduces the exception 100% of the time? Can you provide a minimal project with it working?

[2017-05-10 08:29] patriksvensson commented on #1737
@davidfowl The code I posted with the issue or the code posted above your comment?

[2017-05-10 08:31] davidfowl commented on #1737
My bad I mean to mention @sirajmansour. @patriksvensson  your issue I assume it doesn't repro 100% of the time right?

[2017-05-10 10:37] patriksvensson commented on #1737
@davidfowl Not 100% of the time according to my logs and I haven't seen it for a while now.

[2017-05-10 10:59] elangelo opened #1823 "IISHosting changes headers for Partial Content"
I have a service that streams video for which i made an IActionResult. The headers it returns are as followed:
[code]

This seems to work fine for all tested browsers (Chrome, Edge, Safari and Firefox)

If I host the same service with CGI in IIS the headers are rewritten to:
[code]

Unfortunately none of the browsers seem to be able to handle this reliably. Sometimes it just works, sometimes we on

[2017-05-10 12:27] tmds opened #1824 "LibuvConnection.OnRead throws Nullable object must have a value"
To make the wrk tool generate large network requests, I set the number of pipelined requests to 2048. This causes an exception in LibuvConnection.OnRead which terminates the webserver.

"Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv": "2.0.0-preview2-24956"

To reproduce:

csproj
[code]

Startup.cs
[code]

NuGet.config
[code]

wrk command:
[code]

Exception thrown:
[code]

dotnet info:
[code

[2017-05-10 13:22] Tratcher commented on #1823
I assume the client requested that range? Or are you sending it even when they did not request it?

Does it behave any differently if you give it real partial content, e.g. only half of the data? It looks like right now you provide the entire content but call it partial content.

[2017-05-10 20:42] Tratcher commented on #1737
That exception is not coming from PingApiController. It's coming from Microsoft.AspNetCore.Hosting.Views.ErrorPage here:
https://github.com/aspnet/Hosting/blob/rel/1.1.2/src/Microsoft.AspNetCore.Hosting/Internal/WebHost.cs#L157
https://github.com/aspnet/Hosting/blob/rel/1.1.2/src/Microsoft.AspNetCore.Hosting/Startup/ExceptionPage/Views/ErrorPage.cshtml

This is only invoked if your app threw an ex

[2017-05-10 20:43] #1737 closed

[2017-05-10 22:01] Tratcher commented on #1801
This issue was moved to aspnet/BasicMiddleware#231

[2017-05-10 22:01] #1801 closed

[2017-05-10 23:53] sirajmansour commented on #1737
@davidfowl yes this code reproduces the issue all the time.

[2017-05-10 23:57] davidfowl commented on #1737
@sirajmansour it's possible you're writing to the response after the request is complete. Can you provide a running sample?

[2017-05-11 00:17] sirajmansour commented on #1737
@davidfowl This is exactly what's happening, i should never trust my judgement after 5pm. I am calling `await` only on `tBlock.Completion` but i should also `await aBlock.Completion` otherwise the middleware delagate will return before the delegate of `aBlock` executed.

[2017-05-11 00:19] halter73 commented on #1824
@tmds thanks for the report. I was able to reproduce.

[2017-05-11 00:31] davidfowl commented on #1737
@sirajmansour Great, put a minimal sample in a github repo so we can reproduce it

[2017-05-11 04:38] #1818 closed

[2017-05-11 23:12] cesarbs opened #1827 "Kestrel fails to shutdown when consuming request body with inline scheduler"
Repro:

- Run SampleApp
- Use wrk to send a bunch of request data (get [Benchmarks](https://github.com/aspnet/benchmarks) and run `wrk -c 256 -t 32 http://<address>:5000 -s scripts/post.lua -- 32`)
- Ctrl+C

Fails to shutdown:

[code]

It just hangs there.

Stacks:

![image](https://cloud.githubusercontent.com/assets/924164/25975609/32b83246-3664-11e7-9762-82b97a0745f0.png)

Code is stuck in a loo

[2017-05-12 00:10] cesarbs commented on #1827
Issue with pipes: https://github.com/dotnet/corefxlab/issues/1540

[2017-05-12 00:11] cesarbs commented on #1827
Re-opening to mitigate.

[2017-05-12 08:23] timematcher commented on #969
After installing VS 2017 Update 15.2, the following setting seems to be completely ignored

[code]

Why does it ignore the custom valid SSL I have put here in the VS 2017 15.2 release?
The same code was working fine before VS 2017 15.2 Update
Visual Studio has now started loading a localhost certificate in the browser upon debugging.. even though I am explicitly loading custom valid SSL certificat

[2017-05-12 11:01] elangelo commented on #1823
ok, you can close this. i fixed this a completely different way and the bug (if it even was a bug) is no longer relevant

[2017-05-12 11:01] #1823 closed

[2017-05-12 11:43] timematcher commented on #969
Turns out, I was able to use a custom certificate only when the following conditions were met:
1. I had to choose **dotnet run (.net core 1.x)** instead of **Use IISExpress** option
![image](https://cloud.githubusercontent.com/assets/11568346/25996417/a17021a4-3730-11e7-85fa-2be038dc9086.png)
2. I had to add the following code
`.UseUrls("http://*:1025", "https://*:44354")`
to match the following c

[2017-05-12 13:43] metgens opened #1831 "one thread"

[2017-05-12 13:44] #1831 closed

[2017-05-12 14:02] Tratcher commented on #969
When running behind IIS you always use IIS's SSL and cert, Kestrel's SSL & cert are disabled.

[2017-05-12 14:06] timematcher commented on #969
@Tratcher Yes understood but I was not running behind IIS. I was stil working with Visual Studio and IISExpress on my development machine and wanted to use a proper SSL certificate (not a self signed one nor the one created by IISExpress itself).

[2017-05-12 14:14] benaadams commented on #969
@timematcher when I want to use a proper domain cert locally; I'll add a line in

`C:\Windows\System32\drivers\etc\hosts` for that domain that resolves to 127.0.0.1

e.g.
[code]

Then you can use `https://site.example.com/` to access localhost in the browser with the domain certificate. Remember to comment out the line when you want connect to the actual domain otherwise you'll always be connectin

[2017-05-12 14:22] timematcher commented on #969
@benaadams You are saying that only host entry should have been enough and there is no need to switch away from using IISExpress?

Are you saying that a host entry is enough and a custom certificate will work even with IISExpress?

[2017-05-12 14:47] Tratcher commented on #969
@timematcher my comments apply to both IIS and IIS Express. Those certs cannot be configured in your app, they must be configured in netsh.exe.

[2017-05-12 15:13] antonGritsenko commented on #1720
OK, gents, here is it:
https://github.com/antonGritsenko/aspnetcoreLogout

Just run the project and try to logout then log in with different user. The output of "container" will contains some unpredicted info.
Sample output for me:
First attempt (current user)

Logged out and logging in with testuser:

So only one of three is correct. If you will continue to pressing refresh you will get same beha

[2017-05-12 15:15] antonGritsenko commented on #1720
BTW, I have big different with my real project: in this test app the ThreadUser is always GenericClaim. And I don't understand why.

[2017-05-12 22:06] muratg commented on #159
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:06] #159 closed

[2017-05-12 22:06] muratg commented on #251
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:06] #251 closed

[2017-05-12 22:06] muratg commented on #279
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:06] #279 closed

[2017-05-12 22:07] muratg commented on #323
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:07] #323 closed

[2017-05-12 22:07] muratg commented on #708
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:07] #708 closed

[2017-05-12 22:07] muratg commented on #752
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:07] #752 closed

[2017-05-12 22:07] muratg commented on #867
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:07] #867 closed

[2017-05-12 22:07] muratg commented on #881
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:07] #881 closed

[2017-05-12 22:07] muratg commented on #945
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:07] #945 closed

[2017-05-12 22:08] muratg commented on #966
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:08] #966 closed

[2017-05-12 22:08] muratg commented on #1018
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:08] #1018 closed

[2017-05-12 22:08] muratg commented on #1045
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:08] #1045 closed

[2017-05-12 22:08] muratg commented on #1114
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:08] #1114 closed

[2017-05-12 22:09] muratg commented on #1118
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:09] #1118 closed

[2017-05-12 22:09] muratg commented on #1154
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:09] #1154 closed

[2017-05-12 22:09] muratg commented on #1201
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:09] #1201 closed

[2017-05-12 22:09] muratg commented on #1240
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:09] #1240 closed

[2017-05-12 22:09] muratg commented on #1263
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:09] #1263 closed

[2017-05-12 22:09] muratg commented on #1305
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:09] #1305 closed

[2017-05-12 22:10] muratg commented on #1309
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:10] #1309 closed

[2017-05-12 22:10] muratg commented on #1332
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:10] #1332 closed

[2017-05-12 22:10] muratg commented on #1337
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:10] #1337 closed

[2017-05-12 22:11] muratg commented on #1374
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:11] #1374 closed

[2017-05-12 22:11] muratg commented on #1560
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:11] #1560 closed

[2017-05-12 22:11] muratg commented on #1574
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:11] #1574 closed

[2017-05-12 22:11] muratg commented on #1645
We are closing this issue because no further action is planned for this issue. If you still have any issues or questions, please log a new issue with any additional details that you have.

[2017-05-12 22:11] #1645 closed

[2017-05-12 23:04] #1827 closed

[2017-05-13 01:29] davidfowl commented on #1574
@tmds we can revisit this once we have implemented the body pipes.

[2017-05-13 02:06] halter73 opened #1835 "Flaky Test: ConnectionResetBetweenRequestsIsLoggedAsDebug"
[code]

http://aspnetci/viewLog.html?buildId=219517&tab=buildResultsDiv&buildTypeId=CoreCLR_Darwin

[2017-05-13 16:17] mmedic opened #1836 "Error -4090 EADDRNOTAVAIL address not available"
I have a .net core web api project created and deployed it to Azure. When the app starts it is throwing this error? None of the request are being processed.

[WRN] Unable to bind to http://localhost:22676 on the IPv6 loopback interface. (de7f78a0)
System.AggregateException: One or more errors occurred. (Error -4090 EADDRNOTAVAIL address not available) ---> Microsoft.AspNetCore.Server.Kestrel.Inter

[2017-05-13 16:22] pieceofsummer commented on #1267
I think I've just got it with 1.1.2 using unix socket (behind nginx). Will enable verbose logging and come back if I can reproduce it.

[2017-05-13 16:39] davidfowl commented on #1836
What version of Kestrel are you running? That error is expected and it's just a warning and likely has nothing to do with the issue you're seeing.

[2017-05-13 16:40] mmedic commented on #1836
Here is my reference:

<PackageReference Include="Microsoft.AspNetCore.Server.Kestrel" Version="1.1.1" />

[2017-05-13 16:43] davidfowl commented on #1836
Are you getting an error? What does "None of the request are being processed." mean? Do you have any other logs?

[2017-05-13 20:03] mmedic commented on #1836
I mean that using any REST client, hitting a wide open endpoint results in a timeout after 30 seconds.

Logs don't show much more. After app initializes (i.e. connects to the database, runs migrations etc.) logging starts:

[code]

Even log seems to indicate that the process has started:
`<Events><Event><System><Provider Name="IIS AspNetCore Module"/><EventID>1004</EventID><Level>0</Level><Task>0<

[2017-05-14 03:41] kichalla commented on #1835
01b8d5fad1753a1eda61124d1b08447a81a8f0c0

[2017-05-14 05:34] davidfowl opened #1837 "Decouple the chunked parser from MessageBody"
Similar to what we did with the `HttpParser` and Frame, we should do the same for the input chunk parsing. It can be a reusable component and it would make it easier to test. The one quirk is the ability to call back into the frame to parser trailing headers but that should be refactored as well.

/cc @cesarbs

[2017-05-14 07:26] bnayae commented on #1807
I was having problem with the Azure deployment from VS 2017, you may try to run the source code and see the problem

[2017-05-14 07:28] davidfowl commented on #1807
@bnayae What are the repro steps? Can you provide your client program as well?

[2017-05-15 13:21] markrendle commented on #73
Regarding proxies (Nginx/HAProxy/Apache/Traefik) in front of Kestrel, it is true that those proxies just terminate HTTP/2 and pass regular old HTTP/1.1 requests to the upstream server (or at least they did the last I checked, and weren't much interested in proxying HTTP/2 upstream). So for internet-facing applications, where running behind a proxy is recommended, there's not much urgency for this,

[2017-05-15 13:37] markrendle commented on #73
@figuerres It's not so much about raw speed in terms of time-to-first-byte for each individual user; it's more about scalability and time-to-last-byte. The current industry-standard proxies (Nginx and HAproxy) are _incredibly_ fast compared to most web frameworks, so while they may add a millisecond or two for a network hop, they're not going add any slow-down to applications built on regular gene

[2017-05-15 13:58] figuerres commented on #73
@markrendle  i guess my question or issue is better stated this way:

I just want a good fast server to host my apps, i want to have a simple deployment and infrastructure.
but i hear this talk about how amazing fast this thing is compared to that thing.

in the end it's just confusing things from my view.

if this Kestrel is not replacing iis  then it sounds to me like more work to deploy and not

[2017-05-15 14:30] benaadams commented on #73
IIS 10 (on Windows Server 2016) gives you HTTP/2. Install [`Windows Server Hosting (x64 & x86)`](https://www.microsoft.com/net/download/core#/runtime) on the server. Then copy the output from `dotnet publish` to a site as you would for an MVC5 app.

It will use Kestrel to run ASP.NET Core; then communicate with IIS over localhost which is very low latency; between your users and the server (IIS) i

[2017-05-15 16:39] cemana commented on #639
Hello.
ASP.NET Core. Is it possible to have 3 intances of the same app running at the same time, each one running in a different port? In the program.cs the enviroment varibale does not work... I am trying to use host.Development.json, host.Production.json and host.Staging.json.

[2017-05-15 18:10] #1824 closed

[2017-05-15 18:50] TotzkePaul commented on #639
It is possible to have 3 instances using different environment variables.

A lot will depend on how you have Program.cs and Startup.cs configured. Dotnet Core by default assumes the environment is production. How to change the environment will partially depend on the OS.

[2017-05-15 21:38] halter73 opened #1839 "Flaky Test: CanHandleRequestsWithUrlInAbsoluteForm"
http://aspnetci/viewLog.html?buildId=220233&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win7_Universe

[code]

[2017-05-16 05:57] davidfowl commented on #1839
Something is getting stalled, somewhere, there are a bunch of seemingly random tests that timeout like this.

[2017-05-17 15:27] TuoNiao opened #1841 "Kestrel run in Kubernetes always got the -104 ECONNRESET error"
I have write two back-end services:
Service 1: a windows service which is run on windows server 2008 use the HttpWebRequest class (.Net framework 4.5) to send POST request in multi-threads
Service 2: a SCD asp.net core service which is run in Kubernetes use asp.net core 1.1, I had removed all MVC references, and write a new middleware to handle all the request.

On Service 1  I set the KeepAlive o

[2017-05-18 20:43] cesarbs commented on #1270
Saw it again on #1840, but I don't think it's related.

[code]

[2017-05-19 03:34] mmedic commented on #1836
This turned to be an issue with my firewall.

[2017-05-19 03:47] natemcmaster commented on #1836
This looks like a duplicate of https://github.com/aspnet/KestrelHttpServer/issues/1001. Can you try Kestrel 1.1.2? The warning may still appear, but the stack trace will be suppressed. (See https://github.com/aspnet/KestrelHttpServer/pull/1677).

[2017-05-19 04:03] mmedic commented on #1836
Indeed, 1.1.2 shows the warning without the stack trace.

[2017-05-19 08:57] markvincze commented on #1260
Hey all,
Was this actually fixed in 1.1.1?

[2017-05-19 13:59] devtrends commented on #1289
Did this fix not make it into either 1.1.1 or 1.1.2? I see the Milestone is now set to 2.0.0 despite the patch being approved in January.

[2017-05-19 17:07] natemcmaster commented on #1836
Ok, it sounds like your issue is resolved, so closing as a duplicate of #1001.

[2017-05-19 17:07] #1836 closed

[2017-05-19 19:28] kimbaudi opened #1848 "Account Confirmation error on ASP.NET Core web app running on Apache via reverse proxy"
I have a sample ASP.NET web application built using ASP.NET Core MVC with Account Confirmation enabled using Identity. The web app runs fine and account confirmation works without issue on my local machine (http://localhost:5051).

I have now published my web app to my Ubuntu server running Apache via reverse proxy so that all requests to http://localhost:5051 is forwarded to https://musicstore.pa

[2017-05-20 02:40] Tratcher commented on #1848
@HaoK can you clarify that error message?

[2017-05-22 19:04] halter73 commented on #1841
I'm not sure I completely understand the issue. Some logs might be helpful.

Given that you're trying to keep a connection always open though, you may be hitting Kestrel's [keep-alive timeout](https://github.com/aspnet/KestrelHttpServer/blob/rel/1.1.1/src/Microsoft.AspNetCore.Server.Kestrel/KestrelServerLimits.cs#L153) if said connection is idle for 2 minutes or more at a time.

[2017-05-22 19:22] cesarbs opened #1850 "Test failure on .NET 4.6.1: MaxRequestBufferSizeTests.LargeUpload"
Failing occasionally specifically with these inputs: `LargeUpload(maxRequestBufferSize: 20971519, connectionAdapter: False, expectPause: False)`:

[code]

[2017-05-22 20:15] Jonathan34 opened #1851 "Https configuration issues with Kestrel in aspnetcore 2.0"
I faced the issue https://github.com/dotnet/cli/issues/6516 and was advised to move to the docker image aspnetcore 2 rather than the dotnet.

**dotnet --info**
[code]

**startup.cs**
[code]

When I run my app locally, I set the ASPNETCORE_ENV to http://localhost:5000 using vscode tasks.
When I deploy (to Google App Engine) via Dockerfile, i set the following (notice http vs https):
[code]

This wa

[2017-05-22 20:31] Drawaes commented on #1851
Google can't provide a certificate automatically. If they are reverse proxying with ssl termination then kestrel will run in http

[2017-05-22 20:47] Jonathan34 commented on #1851
I assumed the same, i will revert everything back to http://localhost and will provide some way to customize the port.
probably something like
[code]

[2017-05-22 20:49] igorkrug commented on #1851
Does [this](https://stackoverflow.com/questions/44117840/can-i-set-listen-urls-in-appsettings-json-in-asp-net-core-2-0-preview) help?

BTW can somebody confirm that using hosting.json that way is still the "correct" way of doing it?
I can update my answer on stackoverflow if it isn't.

[2017-05-22 21:00] Jonathan34 commented on #1851
Partially, the order of precedence is not clear though, UseUrls, KestrelOptions.Listen(), ASPNETCORE_ENV, and hosting.json. What order are options read from?

[2017-05-23 03:25] Tratcher commented on #1851
I assume this is 1.1? It's changed some for 2.0. @cesarbs ?

[2017-05-23 20:19] igorkrug commented on #1851
I did the update of some projects from 1.1 to 2.0 and I'm using hosting.json in 2.0
All I did was call the UseConfiguration method after CreateDefaultBuilder, like this

[code]

But I don't now if it is the correct way of doing it or if I should set the urls in another way.

[2017-05-23 21:24] GenuineRex opened #1852 "Kestrel is not allowing async so requests are being blocked"
My server will ONLY handle one request at a time.

I am testing an ASP.NET Core Web Application using MVC and WebApi and Kestrel Web Server.

[code]
For some reason when the server is processing a request it will not accept in any new requests. From what I have read this should not be the case but I cannot figure out what I am doing wrong.

Here is my WebApi controller code:

[code]

The code is n

[2017-05-23 21:36] halter73 commented on #1852
Kestrel can handle many simultaneous connections/requests. You don't need to change `opt.ThreadCount` or call `Task.Run`. While blocking in a controller action is worse performance-wise than doing async IO, the controller action is already dispatched to the threadpool, so the `Task.Run` is redundant.

What makes you think that Kestrel can only process one request at a time? The way I see it, there

[2017-05-23 21:37] cesarbs commented on #1851
@Jonathan34 After we changed the way Kestrel binds to addresses and ports - the new `Listen()` APIs -, you can only set up HTTPS endpoints via the new APIs. They are not supported in `UseUrls()` anymore, nor via environment variables.

If you want to be able to override your endpoints using the `ASPNETCORE_URLS` environment variable, you have to call `PreferHostingUrls(true)` on the web host build

[2017-05-23 21:41] Jonathan34 commented on #1851
@cesarbs I see. I ended up listening to non https at the end as https seems to require we provide a certificate (which i don't have). That should be fine since Google handles this https connection from the outside.
You can close the ticket if you want

[2017-05-23 21:42] cesarbs commented on #1851
@Jonathan34 Indeed, not having the certificate would prevent you from setting HTTPS up in Kestrel.

I've just edited my previous post with a note on our metapackages, which enable you to use external configuration for HTTPS endpoints.

[2017-05-23 21:50] GenuineRex commented on #1852
Must be my client. I place breakpoints in my controller and can tell when requests are coming through. I am using postman to test and I bet postman is blocking even though I opened multiple postman windows. I'll test with another tool as well.

I only added task.run to try to resolve the issue I was experiencing.

Rex Bloom
Applications Director, Kalos, inc. 800-264-0068

use 785-220-8025 for text

[2017-05-23 22:07] danroth27 opened #1853 "Authentication failed because the remote party has closed the transport stream"
When I configure HTTPS and browse to my app I see this error logged when I close the browser:

[code]

[code]

[2017-05-24 01:27] GenuineRex commented on #1852
ok, so it was postman.  so strange.

[2017-05-24 05:30] TuoNiao commented on #1841
Hi halter73,

Thanks for your help. And I had found the issue. The service1 on windows use Nagle and Delayed_ACK algorithm. These two algorithm use at the same time may cause some transfer problems. So I added below codes one the service1 and the error disappeared.

ServicePointManager.UseNagleAlgorithm = false;
ServicePointManager.Expect100Continue = false;

[2017-05-24 05:30] #1841 closed

[2017-05-24 09:01] paolotagliaferri opened #1855 ""Error -4081 ECANCELED operation canceled" on page refreshed"
Hello everybody!

I'm new to ASP.NET Core and not sure that what I found is the expected behavior or not.

I recently followed [this tutorial ](https://channel9.msdn.com/Events/Visual-Studio/Visual-Studio-2017-Launch/WEB-103) and created my first project. Since I experienced slow performance and sometimes even timeout exceptions when deploying the solution on the local IIS, I started using the com

[2017-05-24 09:56] kalaiselviA opened #1856 "Remove Thread.Abort()"
What will be replacement for this Abort() in .netcore

[2017-05-24 10:27] davidfowl commented on #1856
Hopefully nothing, anything this issue should be filed here github.com/dotnet/corefx

[2017-05-24 10:27] #1856 closed

[2017-05-24 11:34] 1amirjalai opened #1857 "An unhandled exception has occurred: Error -4077 ECONNRESET connection reset by peer"
I have two asp.net core 1.1.2 node with an iis arr 3 as load balancer in front of it.
suddenly i get the following error

with this trace log :

[code]
 i also checked iis arr **sc-substatus** and **sc-status** which are 604 and 404 respectively but i don't know if its related to above issue or not.

also dump log for threads looks something like this

[code]
but again i don't know if dump is rela

[2017-05-24 17:14] 1amirjalai opened #1858 "chrome Failed to load resource: net::ERR_INCOMPLETE_CHUNKED_ENCODING"
asp.net core 1.1.2 behind iis arr 3 and behind cloudflare getting Failed to load resource: net::ERR_INCOMPLETE_CHUNKED_ENCODING on chrome

checked with different chrome browser on different machines.

checked chrome extenstions

but i still get the error

any suggestion on how to investigate error more.
or how to deal with this  error?

[2017-05-24 17:23] #1851 closed

[2017-05-24 18:49] BrennanConroy opened #1860 "Ungraceful WebSocket close"
Seeing this in SignalR whenever we close a WebSocket connection.

[code]

[2017-05-24 19:26] halter73 commented on #1852
Glad you figured it out.

[2017-05-24 19:26] #1852 closed

[2017-05-24 19:34] halter73 commented on #1853
This is currently [logged as information](https://github.com/aspnet/KestrelHttpServer/blob/197eb43d8ac3264384cd895fd197d4f214669b76/src/Microsoft.AspNetCore.Server.Kestrel.Https/HttpsConnectionAdapter.cs#L108). The exception makes it scary, but it's important to log for real handshake failures.

Maybe there is something we can do to identify connection made to HTTPS endpoints that are closed by th

[2017-05-24 19:40] halter73 commented on #1857
This exception indicates that the client aborted a request in the middle of sending a request body. Other than the logs, are you seeing any unexpected behavior?

[2017-05-24 19:48] halter73 commented on #1858
ERR_INCOMPLETE_CHUNKED_ENCODING in chrome usually means that an uncaught exception was thrown from the application in the middle of writing to the response body. If the response body hadn't be written to prior the the exception being thrown, Kestrel would respond with a 500 status code instead of sending an incomplete response.

This can happen for a bunch of reasons. Some examples include throwin

[2017-05-24 19:59] halter73 commented on #1860
I think this is a regression related to [this change](https://github.com/aspnet/KestrelHttpServer/commit/197eb43d8ac3264384cd895fd197d4f214669b76?diff=unified#diff-060426e10409f4964955daed781d6439L162). Prior to this, MessageBody.Consume(Async) wasn't called for upgraded requests, so it didn't matter if SignalR was still reading from the websocket after the app func completed.

[2017-05-24 19:59] muratg commented on #1860
cc @cesarbs

[2017-05-24 20:58] jmacentee commented on #1858
I am also experiencing an intermittent error with net::ERR_INCOMPLETE_CHUNKED_ENCODING

the error is shown in Fiddler as: **HTTP/1.1 504 Fiddler - Receive Failure [Fiddler] ReadResponse() failed: The server did not return a complete response for this request. Server returned 1,740 bytes.**

We have asp.net logging turned on, but no error is being logged.  I am going to look into if we have it conf

[2017-05-24 21:52] halter73 commented on #1858
The expected behavior from Kestrel in this case is to close the connection mid response. This leads to an invalid response because there is no chunked terminator. I don't know why IIS/ANCM logs this the way it does (or doesn't), but to find out what's going on, you should look at the ASP.NET logs, not the IIS logs.

[2017-05-25 02:17] halter73 commented on #1855
I was able to repro your issue. It seems like this is the same issue reported in #1103. The root problem seems to be the RequestAborted token [used here](https://github.com/aspnet/JavaScriptServices/blob/cdbbbcc473c7da06f240253d6c60c8e3518f5be6/src/Microsoft.AspNetCore.SpaServices/Webpack/ConditionalProxyMiddleware.cs#L101) doesn't fire immediately when the client disconnects, but only if there is

[2017-05-25 07:00] paolotagliaferri commented on #1855
@halter73 thank you very much for your useful and very detailed answer!
I'm going to close the issue, thanks a lot for the clarification! :smile:

[2017-05-25 07:00] #1855 closed

[2017-05-25 08:45] #1835 closed

[2017-05-25 08:48] 1amirjalai commented on #1858
the problem is that there is no asp.net logs when this error happens.

[2017-05-25 08:49] 1amirjalai commented on #1857
yes after this error i got 502.3 error then i have to recycle application pool

[2017-05-25 09:58] jmacentee commented on #1858
halter73 -- thank you for your reply.
1amirjalai -- that is the same in my case, too.  Although, I have not given up on finding a way to increase the logging level, yet.

[2017-05-25 18:43] 1amirjalai commented on #1858
is there any way to get better logging for this error?

[2017-05-25 19:05] halter73 commented on #1858
@1amirjalai There should be an error logged containing the text "An unhandled exception was thrown by the application". It might be helpful to see the logs you are currently getting. Even at the default levels, there should be something logged for the request.

If you want to enable more verbose logging, you can see how [here]("An unhandled exception was thrown by the application"). `LogLevel.Trac

[2017-05-25 20:19] kimbaudi commented on #1848
I was able to get account confirmation to work on ASP.NET Core web app running on Apache via reverse proxy. I was getting the error because I didn't add `RequestHeader set X-Forwarded-Proto "https"` to my apache vhost file.

Basically, you need to add the following lines to `Configure` in `Startup.cs`, which I already did. Note: According to the docs (https://docs.microsoft.com/en-us/aspnet/core/p

[2017-05-25 20:19] #1848 closed

[2017-05-25 21:45] jmacentee commented on #1858
I got my logging working (nlog was incorrectly configured on this server) and found the underlying error:

System.InvalidOperationException: Headers are read-only, response has already started.
   at Microsoft.AspNetCore.Server.Kestrel.Internal.Http.FrameHeaders.ThrowHeadersReadOnlyException()
   at Microsoft.AspNetCore.Server.Kestrel.Internal.Http.FrameHeaders.Microsoft.AspNetCore.Http.IHeaderDic

[2017-05-25 21:58] cesarbs commented on #1858
This means `ErrorHandlingMiddleware` is trying to set a header (Content-Type) after the response has already started (i.e. headers have already been sent, so you can't change them).

[2017-05-25 22:22] pakrym opened #1861 "NRE while running micro benchmarks"
[code]

[2017-05-25 22:33] natemcmaster opened #1862 "Typed event ids"
Logging events are manually defined right now. We could make it easier work with by putting them in a type. Plus, it helps us avoid unintentionally creating conflicting ids.

The vision:
[code]

[See this example](https://github.com/aspnet/EntityFramework/blob/5b894d9edf8aecd240629a4ee6149470353a65f1/src/EFCore/Diagnostics/CoreEventId.cs) from EF

[2017-05-25 23:01] #1861 closed

[2017-05-26 00:15] natemcmaster opened #1864 "Graceful handling of connection limits"
When maximum connection limits are reached, Kestrel closes the connection without a response. When attempting upgrade, Kestrel throws. We could make this behavior more graceful in the following ways

Ideas:
 - try to kill idle connections before rejecting or throwing (TBD: what counts as idle?)
 - send a HTTP 503 response when connection limits reached (TBD: what about TLS connections? Do we wait

[2017-05-26 00:59] vcsjones opened #1865 "Support TLS version and cipher suite configuration"
As I understand, Kestrel 2 will be considered "safe" for edge deployments with HTTPS. Currently, there is no way to easily configure many desirable parameters of HTTPS. Mainly, the cipher suites that are supported, the TLS protocols that are enabled, the algorithm and key size of the key exchange, etc.

For Windows, the functionality is configured the same as it was with IIS - with the registry /

[2017-05-26 01:07] Drawaes commented on #1865
On Linux you can do it by configuring OpenSSL (not cURL). For windows you are stuck with the Registry/Policy story, which is an issue I have raised. It means that every site on a machine has to run with the same config. SSLStream delegates all of the processing to SChannel so you have no option

[2017-05-26 01:17] vcsjones commented on #1865
@Drawaes

How? OpenSSL is just a library, it doesn't really have a configuration file other than `openssl.cnf` which is, as far as I know, not used to set the protocols and cipher suites.

[2017-05-26 02:41] davidfowl commented on #1865
Our TLS support currently comes via SSLStream, we'll need to file an issue on corefx.

[2017-05-26 02:48] Drawaes commented on #1865
For windows, it's a non starter, as it relies on SChannel, which has a registry level config that is machine wide only (eg both client and server uses will be effected). OpenSsl has a possibility but it needs code, and it would change everything in process that uses SslStream,

[2017-05-26 03:40] bnayae commented on #1807
With help of my colleague [Ido Flatow](https://www.linkedin.com/in/idoflatow/?ppe=1) we found the issue.
The difference was that ASP.NET wasn't removed from Iis Express when I stop debugging while ASP.NET Core did. issue happens only before Iis Express becoming fully functional.

[2017-05-26 07:37] fugaku commented on #1857
I also got this issue when the client tries to upload a file

[2017-05-26 07:38] vcsjones commented on #1865
@Drawaes

I want to dispel this statement because I keep hearing it. SChannel in usermode is quite capable of configuring protocols and cipher suites at pretty much any level you want, such as the socket. Here is some awful C++ code I wrote that does that: https://gist.github.com/vcsjones/7687d2a764836b40300d15fea07510f8

This just sets up a little dummy TLS handshake server that uses TLS v1.1, re

[2017-05-26 07:46] Drawaes commented on #1865
I know you can set the protocol version, my schannel prototype did that. Was unaware you could set curves and ciphers?

[2017-05-26 08:16] vcsjones commented on #1865
Sure, [I updated it](https://gist.github.com/vcsjones/7687d2a764836b40300d15fea07510f8#file-sobadcode-cpp-L92) to limit it to cipher suites with AES-128. Change it to AES-256 and it will pick AES-256.

[2017-05-26 09:15] 1amirjalai commented on #1858
@halter73  i know how to get log and i have enabled logging at different levels and sections but the problem here is that i do't see no log when this error (which happens a lot) in chrome happens

[2017-05-26 14:18] zeroskyx opened #1866 "Throwing an exception after a successful response in a middleware causes an UnobservedTaskException with "TaskCanceledException: The request was aborted""
The following code causes Kestrel to properly execute the first middleware and return the 200 with content to the user. However, an unobserved task exception is then thrown:

    IWebHostBuilder HostBuilder = new WebHostBuilder().UseKestrel();
    HostBuilder = HostBuilder.UseUrls("http://+:5000");

    HostBuilder.Configure(AspNetBuilder =>
    {
    	AspNetBuilder.Run(async (Context) =>
    	{

[2017-05-26 16:49] SteveSyfuhs commented on #1865
Nice! The API isn't that bad. 😄 Good ol' SSPI's.

I guess the question now is whether IIS relies on calls to AcceptSecurityContext in the kernel to handle this bit (I think it does?), or whether it does it in usermode. At one point it was advantageous to do it in the kernel for perf reasons.

[2017-05-26 17:01] Tratcher commented on #1865
IIS delegates HTTPS to Http.Sys in kernel mode. So does WebListener.

[2017-05-26 17:10] Drawaes commented on #1865
IIS Does it in the kernel, I believe http.sys also does it in the kernel.

On 26/05/2017 5:49 PM, "Steve Syfuhs" <notifications@github.com> wrote:

[2017-05-26 17:13] natemcmaster commented on #1866
The behavior is expected. Before the response body can be sent, an HTTP server must send response headers, which includes the status code. By the time the exception is thrown in your sample app, the headers have been sent (with status code 200 per your code), and some of the response body has been sent too. It is too late to rewind that and change the headers to carry a HTTP 500 status code becaus

[2017-05-26 19:28] Drawaes commented on #1865
You can use the same trick for openssl. There is 1 instance per process. You can change the cipherlist before an tls connection starts u are good.
https://www.openssl.org/docs/man1.0.2/ssl/SSL_set_cipher_list.html
Call that and you can do a similar thing. This time there is no kernel in play.

[2017-05-26 19:31] Drawaes commented on #1865
You can also compile out TLS levels .. you need to ensure you only call methods on the lib after .net did it's openssl init or you need to do it, otherwise you won't have ciphers loaded.

[2017-05-26 19:41] vcsjones commented on #1865
Ah. That would work... but platform invoking openssl on process startup should be viewed as a work around at best, but that's good thinking.

[2017-05-26 21:50] halter73 commented on #1857
@1amirjalai @fugaku After either of you see the -4077 ECONNRESET in your logs, is that the last thing logged? Are future requests not processed or logged? Is this the reason you have to restart the server?

If either of you could provide an app that reproduces the issue with either a client app included or instructions on how to make a request that causes the server to become unresponsive that wou

[2017-05-26 21:57] halter73 commented on #1742
Failed again May 17th.

[code]

http://aspnetci/viewLog.html?buildId=222385&tab=buildResultsDiv&buildTypeId=XPlat_Mac_MacUniverseCoreCLR

[2017-05-26 22:00] natemcmaster opened #1867 "Flaky test: ThreadCountTests.OneToTenThreads"
[code]

http://aspnetci/viewLog.html?buildId=226952&tab=buildResultsDiv&buildTypeId=Lite_KestrelHttpServer

Code: https://github.com/aspnet/KestrelHttpServer/commit/c343628926800a9a9668500b15fc5b2f13805241

[2017-05-26 23:20] halter73 commented on #1858
@1amirjalai Can you post the logs you did get? A repro app would be better yet.

[2017-05-26 23:32] halter73 commented on #1866
@zeroskyx If you don't like that a 500 HTTP status doesn't get returned if an exception is thrown after the application has started writing to the response body, you can enable response buffering. I describe how here: https://github.com/aspnet/EntityFramework/issues/6684#issuecomment-253927423.

[2017-05-26 23:32] #1866 closed

[2017-05-26 23:41] halter73 commented on #1807
I don't think I completely understand what the problem/fix was. Is there something ASP.NET Core should be doing differently so other people don't run into this issue? Either way, I'm glad things are now performing well for you.

[2017-05-27 15:14] fugaku commented on #1857
Subsequent requests are processed. Error will occur again if the user tries to upload another file.

[2017-05-29 09:44] tverboon opened #1868 "SSL connection adapter fails with Interop+AppleCrypto+SslException error on macOS"
Runtime Environment:
 OS Name:     Mac OS X
 OS Version:  10.12
 OS Platform: Darwin
 RID:         osx.10.12-x64
 Base Path:   /usr/local/share/dotnet/sdk/2.0.0-preview1-005977/

We're using Kestrel in development with Https and on the Mac I periodically (after some idle time?) get the request to enter some password originating from Keychain.

![screen shot 2017-05-29 at 11 34 12](https://cloud.gi

[2017-05-29 20:16] mmartain commented on #1182
Also have the issue with the Error -4095 EOF end of file about once a day.

Using this behind reverse proxy on IIS

[2017-05-30 15:41] nimbusparis opened #1869 "Kestrel listening port is not working"
I try to define 22 profile to launch kestrel:
[code]
Under VS2017, the ASPNETCORE_URLS variable should be set to applicationUrl and when running, kestrel claims to listen "http://localhost:6000" but doesn't, browser can't reach the application.
I've tried to browse port 5000 (default port) it fail too.
What's wrong with kestrel?

[2017-05-30 18:53] halter73 commented on #1857
@fugaku Do that mean that all file uploads fail? Can you provide an app that reproduces this behavior?

[2017-05-30 19:09] natemcmaster commented on #1868
cc @bartonjs

[2017-05-30 19:47] cesarbs opened #1871 "Test failure on macOS: ConnectionCountingReturnsToZero"
[code]

https://travis-ci.org/aspnet/KestrelHttpServer/jobs/237647756

[2017-05-30 19:47] cesarbs commented on #1871
cc @natemcmaster

[2017-05-30 19:52] natemcmaster commented on #1871
Let's lower the connection count in that test. Those agents are _really_ slow.

[2017-05-30 21:16] #1871 closed

[2017-05-31 03:20] bartonjs commented on #1868
@tverboon Any idea what sort of timescale we're talking here? 30 seconds? 5 minutes? An hour?

[2017-05-31 05:58] tverboon commented on #1868
About 10 minutes. Reproduced it now a couple of times. Just wait ten minutes and then do a page request.

[2017-05-31 13:11] davidfowl commented on #1865
Also /cc @barrytang

[2017-05-31 17:58] bartonjs commented on #1868
@tverboon Looks like it's about 5.  Filed https://github.com/dotnet/corefx/issues/20509 to get this fixed.

If you call cert.GetRSAPrivateKey() every 4 minutes or so and call SignData with that key, that should reset the idle timeout as a workaround.

[2017-05-31 21:29] pakrym commented on #1704
Closing because issue is not specific to `NonPathRequestTargetSetInRawTarget` test and test itself is not entirely too flaky. Please reopen if found otherwise.

[2017-05-31 21:29] #1704 closed

[2017-05-31 21:49] HaoK opened #1875 "Update kestrel config binding"
1. Switch to ConfigureDefaultOptions instead of IConfigureOptions
2. Bind to section "Microsoft:AspNetCore:Hosting:Kestrel" instead of just Kestrel

[2017-05-31 22:45] cesarbs commented on #1875
Did you mean to file this in MetaPackages?

[2017-05-31 22:47] Tratcher commented on #1875
No, it's moving to Kestrel.

[2017-06-01 00:18] davidfowl opened #1876 "Make Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions pubternal"
We need to do this before we ship 2.0

/cc @halter73

[2017-06-01 00:57] foragerr commented on #610
@benaadams what are the screenshots you posted from? Is that windows only? Could I view similar metrics for a kestrel instance running on linux?

[2017-06-01 05:16] tverboon commented on #1868
Thanks! Workaround works and you already fixed this. Good work 👍

[2017-06-01 13:47] markrendle commented on #1869
If you change `launchUrl` to `http://0.0.0.0:6000` (or `http://*:6000`) does it work?

[2017-06-01 14:00] nimbusparis commented on #1869
No
http://0.0.0.0:6000 same result.
I've tried to change applicationUrl too and it fail too.

[2017-06-01 16:28] danroth27 opened #1879 "Kestrel config binder should understand * and localhost"
_From @Tratcher on April 27, 2017 17:0_

The templates are going to enable SSL via config in dev and production. They need to set up the rest of the endpoints when they do this. https://github.com/aspnet/MetaPackages/pull/44 added the ability to bind to IPs and ports, but that makes for a poor user experience. In dev the templates want localhost, but will have to specify 127.0.0.1 (and ::1) if the

[2017-06-01 16:28] danroth27 commented on #1879
_From @Tratcher on April 27, 2017 17:14_

@danroth27

[2017-06-01 16:28] danroth27 commented on #1879
@muratg @DamianEdwards @Eilon We chatted about this one and we think we need to get this into preview1. @muratg please assign.

[2017-06-01 16:28] danroth27 commented on #1879
We chatted *even more* and the fix is more complicated than we want to take right now. We'll have to tell folks to browse to localhost.

[2017-06-01 16:28] danroth27 commented on #1879
_From @muratg on May 25, 2017 22:14_

Assigning to @cesarbs for post preview2.

[2017-06-01 16:28] danroth27 commented on #1879
@glennc This issue is also the first in a series of issue that prevents enabling docker for out templates that use authentication.

[2017-06-01 16:28] danroth27 commented on #1879
_From @Tratcher on June 1, 2017 16:15_

Note this code is moving to Kestrel. https://github.com/aspnet/KestrelHttpServer/pull/1878

[2017-06-01 16:29] danroth27 opened #1880 "Improve certificate binding for Kestrel & support for Update-Database."
_From @blowdart on May 15, 2017 19:47_

Right now it gets the certificate by subject name, and chooses the one whose expiry is furthest in the future. However it doesn't check the purposes, or EKU so you could end up with a certificate which, whilst still valid in terms of expiry, is not valid for HTTPS binding.

In addition the setup, with the current Individual Auth templates, breaks Update-Data

[2017-06-01 16:29] danroth27 commented on #1880
@bricelam for the Update-Database part of this issue.

[2017-06-01 16:29] danroth27 commented on #1880
_From @blowdart on May 15, 2017 20:5_

On the selection of certs for HTTPS - it's valid to have a cert which no subject, in fact, if a SAN property is there the subject should be ignored. This doesn't matter in the selection for Identity as a Service, because it's not used for HTTPS.

So the selection should be "Give me all certs which I can used for HTTPS, based on their EKU -

[code]

and key us

[2017-06-01 16:29] danroth27 commented on #1880
_From @blowdart on May 15, 2017 21:38_

Or, as an option give either

1. Thumbprint lookup
1. Serial Number lookup

[2017-06-01 16:46] bricelam commented on #1880
aspnet/EntityFramework#8163 will be fixed in 2.0.0-preview2-final.

[2017-06-01 18:53] halter73 commented on #610
@foragerr The screenshots are from dotTrace which is currently Windows only. Linux .NET core profiling tools haven't yet caught up with their Window's counterparts, but it's possible to [debug Linux .NET core processes using lldb and libsosplugin.so](http://blogs.microsoft.co.il/sasha/2017/02/26/analyzing-a-net-core-core-dump-on-linux/). You can also [collect CPU samples on Linux and view them wit

[2017-06-01 21:46] muratg opened #1881 "We should run (a portion of) Kestrel tests on HTTPS"
We should start doing this at least in the CI.

[2017-06-02 06:08] danroth27 opened #1882 "Add UseKestrel overload that takes a specific config section to bind to"
By default kestrel will support a default config schema, but you should be able to bind to a config section of your choice.

[2017-06-02 06:08] davidfowl commented on #1882
Why?

[2017-06-02 06:51] danroth27 commented on #1882
Correct. We should discuss how important this scenario really is.

[2017-06-02 15:46] strongtigerman opened #1883 "Kestrel raises an exception on disposing"
Kestrel 1.1.2 running on .net 4.5.1  raises an exception on disposing  when new incoming requests come during disposing process.
Is there a way to stop Kestrel before disposing or pause incoming requests?

The question was raised at  [https://stackoverflow.com/questions/44324864/unable-to-stop-asp-net-core-windows-service-when-kestrel-receives-requests](https://stackoverflow.com/questions/44324864

[2017-06-02 19:08] cesarbs opened #1884 "Ensure timeouts are disabled when debugger is attached"

[2017-06-02 19:39] #1875 closed

[2017-06-05 01:45] fedoranimus commented on #1182
I, too, am seeing this issue when behind a reverse-proxy Nginx (with SSL), but never experience it in development.

[2017-06-05 16:01] mmartain commented on #1182
I think we can conclude it has an impact when behind reverse proxy. Maybe mention that i too am using SSL.

[2017-06-05 22:31] kevin-meyer-aarons commented on #1807
@bnayae Are you saying there is an issue, but only when the asp.net core application is hit under load **while starting up**?  If so, I'm experiencing the same behavior.

[2017-06-05 22:57] Tratcher commented on #1807
@pan-wang ?

[2017-06-06 18:20] sbreed opened #1887 "Running Two Kestrel Processes Through Proxy -- Killed"
Hello:

I'm running two Kestrel processes on Ubuntu 14.04.  One process is on port 5000 and the other is on 5001.  The processes host the same site; however, one of them is our sandbox.

The proxy is administered by Apache.

The two sites can coexist as long as there is not a web request in one of the controllers.  However, if a method in the controller DOES have a web request, one of the processe

[2017-06-06 21:45] vancem opened #1888 "Determine if Generic Virtual Functions in Kestrel can be avoided."
In microsoft.aspnetcore.hosting

Microsoft.AspNetCore.Hosting.Internal.RequestServicesContainerMiddleware

has an asynchronous method Invoke()

Which is virtual generic method.    This is a hot code path and virtual generic method dispatch is not fast.   Just this one call cost .5% of the Techempower benchmark.

[2017-06-06 22:35] halter73 commented on #1742
http://aspnetci/viewLog.html?buildId=232884&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest#testNameId-8381184854596551811

[2017-06-07 00:21] pan-wang commented on #1807
@bnayae  could you please give a summary about the issue here? I am not sure about what you meant " ASP.NET wasn't removed from Iis Express" and "before Iis Express becoming fully functional".

[2017-06-07 14:20] xyntiacat commented on #1292
Just wanted to leave a comment for anyone coming to this in the future - this error happens on a project using the new template for .net core with an angular client if the build platform target is Any CPU.  Select either x86 or x64 and it works, but select Any CPU and it shows up again.

[2017-06-08 16:39] maximburyak opened #1890 "Finalization throw error on UvHandle.ReleaseHandle kill process"
Just got (using 1.1.2) we just got this error.
I know that there was an issue of this being thrown during dispose, but this is raised from the finalizer.

[code]

[2017-06-08 16:58] davidfowl commented on #1890
This happened during shutdown right?

[2017-06-09 12:10] sandersaares commented on #1865
It would be desirable to configure TLS options via some platform-neutral .NET API that the process using Kestrel can apply before starting up the listener (with potentially reduced functionality compared to OpenSSL/SChannel configuration API).

Right now we use nginx both on Windows and Linux exactly to avoid having to maintain two different configuration paths. There are some parts that are a str

[2017-06-10 08:56] gouffe75 opened #1895 "Kestrel goes to 100% cpu under high load"
Hi,

I am facing a very difficult situation. I migrated a production web site from asp.net 4.5 to asp.net core 1.1. The site in asp.net 4.5 was hosted on IIS 8.5, 3 servers 4 cores / 7Gb RAM, and a traffic of 2 millions users a day. Everything was working fine.

Now, when I run the web site with core, hosted with Debian 8, nginx as a reverse proxy and Kestrel, I often see that the service goes to

[2017-06-12 14:29] maximburyak commented on #1890
No, we've seen it during startup.

[2017-06-12 19:33] halter73 commented on #1890
How often do you see this? Are you aware of anything unusual in your app or environment that might lead to this issue? It would also help if you could post the source for an app that you've seen crash like this in a gist or something.

[2017-06-12 20:45] cesarbs commented on #1895
Could you capture a core dump of the ASP.NET process when it's spinning at 100%? That would be very helpful to diagnose this issue.

When you run your services on Windows, do you see the same issue?

[2017-06-14 12:15] davidfowl opened #1896 "Both reader and writer need to be completed to be able to reset"
Seems like there's an issue resetting the pipe in for the request body. This happend in the SignalR sample when I closed the browser.

[code]

/cc @halter73

[2017-06-14 13:51] gouffe75 commented on #1895
I finally found some solution / workaround.

First, I made a mistake by setting the minimum threads of the ThreadPool with a value that is too high (32675). This value was found by getting it from the Windows .net 4.5 site.
When I set this value to min 200 / max 200 / completion 200, it seems that the site handles requests in a better way.

But the other thing is that I configured Nginx to handle

[2017-06-14 19:13] halter73 commented on #1895
As @cesarbs suggests, a core dump of the dotnet process taken while the cpu is at 100% (meaning you'll probably have to set nginx to handle 1024 requests per core again) could help us see what the threads are busy doing. Using [the perfcollect script](https://github.com/dotnet/corefx-tools/blob/master/src/performance/perfcollect/perfcollect) and providing the trace.zip output could also help. Just

[2017-06-14 19:17] Eilon opened #1897 "Update Kestrel 1.1.x to use latest Libuv 1.9.x"
The current public Kestrel 1.1.x is referencing Libuv 1.9.1, but we have a better 1.9.2 build that's public.

https://www.nuget.org/packages/Microsoft.AspNetCore.Server.Kestrel/1.1.2

[2017-06-14 19:17] Eilon opened #1898 "Update Kestrel 1.0.x to use latest Libuv 1.9.x"
The current public Kestrel 1.0.x is referencing Libuv 1.9.0, but we have a better 1.9.2 build that's public.

https://www.nuget.org/packages/Microsoft.AspNetCore.Server.Kestrel/1.0.4

[2017-06-14 19:17] Eilon commented on #1898
See related bug for 1.1.x: https://github.com/aspnet/KestrelHttpServer/issues/1897

[2017-06-14 19:18] Eilon commented on #1897
See related bug for 1.0.x: https://github.com/aspnet/KestrelHttpServer/issues/1898

[2017-06-14 21:07] davidfowl commented on #1888
@vancem Where's the generic?

[2017-06-14 21:59] vancem commented on #1888
The call that is causing the Virtual
[code]

Here is the source code.
[code]

Another reasonably hot use of a virtual function pointer is

[code]

Which calls
[code]

As mentioned, these add up to .5%, not huge, but worth fixing.   If the solution is not obvious, we should discuss it and possible options.

[2017-06-14 23:50] halter73 commented on #1896
Do you see this consistently? I think @anurse saw this before in the Autobahn test suite, but it was sporadic.

I tested the Sockets, Hubs and Streaming pages of SocketSample with WebSockets and then closed the browser (Edge) completely. In each case, I saw a "Socket closed" log from WebSocketsTransport prior to "Request finished in ...". There were no "Connection processing ended abnormally" logs

[2017-06-15 00:18] halter73 opened #1899 "Consistently handle invalid chunk sizes in request bodies"
Sometimes invalid chunk sizes in chunked request bodies result in a 400 response, and other times the connection is simply closed. [Here's why.](https://github.com/aspnet/KestrelHttpServer/blob/a97c08843c620171b8ca781fd1d7fe8b7af0ac4a/src/Microsoft.AspNetCore.Server.Kestrel.Core/Internal/Http/MessageBody.cs#L749-L754) Given an OverflowException, I think we should call ThrowRequestRejected like we

[2017-06-15 04:21] davidfowl commented on #1888
I figured it was the feature collection. This came up before. I filed a bug for this here https://github.com/aspnet/HttpAbstractions/issues/811. We should move this issue.

[2017-06-15 14:00] gouffe75 commented on #1895
Will do ASAP ! Thanks

[2017-06-15 16:21] anurse commented on #1896
Looks like the same (though the exception message is a little different, I think mine was just about readers).

With WebSockets, it is definitely possible (though incorrect) for a user to release control in the App Func while still holding on to the socket (by pushing it over to a background thread). This should probably be guarded a little better to ensure that the error messaging is clearer.

[2017-06-15 19:25] cesarbs opened #1901 "Rename min rate APIs for consistency"
We should do this before RTM:

- Rename `KestrelServerLimits.RequestBodyMinimumDataRate` to `MinRequestBodyDataRate` (consistent with MaxRequestBodySize, and other limits that all start with “Max”)
- Rename `IHttpRequestBodyMinimumDataRateFeature` to `IHttpMinRequestBodyDataRateFeature` (consistent with `IHttpMaxRequestBodySizeFeature`)
- Rename the `rate` parameter of the `MinimumDataRate` ctor t

[2017-06-15 19:26] cesarbs commented on #1901
@muratg

[2017-06-15 19:28] muratg commented on #1901
@Eilon @DamianEdwards @shirhatti FYI -- proposed breaking change between preview2 and RTM to make the names more consistent.

[2017-06-16 16:02] Eilon commented on #1901
Can someone show the full list of before/after values? Hard to tell what's consistent ec.

[2017-06-16 17:38] muratg commented on #1901
@cesarbs could you make a table?

[2017-06-16 18:34] cesarbs commented on #1901
### KestrelServerLimits

Before | After
------- | ------
MaxResponseBufferSize | MaxResponseBufferSize
MaxRequestBufferSize | MaxRequestBufferSize
MaxRequestLineSize | MaxRequestLineSize
MaxRequestHeadersTotalSize | MaxRequestHeadersTotalSize
MaxRequestHeaderCount | MaxRequestHeaderCount
MaxRequestBodySize | MaxRequestBodySize
**RequestBodyMinimumDataRate** | **MinRequestBodyDataRate**
MaxConcurre

[2017-06-17 12:50] davidfowl opened #1904 "Min rate applies to upgraded requests as well?"
I can't remember if this was intentional but now it seems like websockets is broken. The application sent a single packet and then stopped (which is typical in these kinds of applications) and kestrel kills the connection because it dropped below the min rate.

[code]

/cc @cesarbs @halter73

[2017-06-18 23:34] dougbu commented on #1901
I suggest we also look at `MinimumDataRate`'s usability. Configuring rates requires `new`ing up an instance and its `Microsoft.AspNetCore.Server.Kestrel.Core.Features` namespace is obscure, increasing the number of `using`s in `Program` and/or `Startup` classes.

Could either move `MinimumDataRate`' to a common namespace e.g. `Microsoft.AspNetCore.Hosting` or make the `BytesPerSecond` and `GracePe

[2017-06-19 01:59] geffzhang opened #1905 "How to adjust the log to /var/log/messages"
I have several ASP. NET core applications deployed to CentOS 7.2, ASP. NET core application   write a lot of logs in /var/log/messages, these logs should not be written to this place, how can I adjust the configuration to solve this problem:
This is logs:
2017-06-14 17:31:54.4432|Microsoft.AspNetCore.Authentication.Cookies.CookieAuthenticationMiddleware|INFO|AuthenticationScheme: Cookies was succe

[2017-06-19 02:41] dougbu commented on #1864
There's a logging angle to this as well. Hitting regular connection limit logs a warning:
[code]
But, hitting upgraded connection limit is logged as a failure:
[code]

[2017-06-19 02:48] dougbu commented on #1864
BTW logging for exceeding is usually a failure (for the few limits I've looked at):
[code]
and
[code]

Might make sense for all of these to be warnings since they affect only the current request and are client-controlled (well, to some extent).

[2017-06-19 03:09] davidfowl commented on #1905
This isn't a kestrel issue. Logging verbosity can be controlled by changing your `appsettings.json`.

[2017-06-19 14:50] onyxmaster opened #1906 "Externally-provided file handles do not handle unix domain sockets well"
The common scenario for systemd-activated service being placed behind a reverse proxy involves using local Unix domain sockets. While Kestrel itself supports them, systemd activation assumes that socket handle is passed from a parent process. Currently, the [ListenerContext.CreateAcceptSocket](https://github.com/aspnet/KestrelHttpServer/blob/rel/2.0.0-preview2/src/Microsoft.AspNetCore.Server.Kestr

[2017-06-19 15:27] cesarbs commented on #1904
It shouldn't apply to upgrade requests: https://github.com/aspnet/KestrelHttpServer/blob/d879518a18c765a0571b4583ba85be705ca889fe/src/Microsoft.AspNetCore.Server.Kestrel.Core/Internal/Http/MessageBody.cs#L262

I'll take a look.

[2017-06-19 16:51] cesarbs commented on #1901
When we had the discussion about having a `MinimumDataRate` type, it was because there was an additional property in the feature and we wanted to make it clear that the two properties related to the rate should belong together.

But now that it's just the rate, we should remove `MinimumDataRate` from the feature and just put the properties in the feature itself, and change `KestrelServerLimits` li

[2017-06-19 16:52] cesarbs commented on #1901
Should also make `IHttpMinRequestBodyDataRate` configurable only prior to any reads, for parity with how `IHttpMinRequestBodySize` works.

[2017-06-19 17:11] cesarbs commented on #1904
Found the bug, will send a PR soon.

@muratg @Eilon @DamianEdwards We need this for preview2.

[2017-06-19 18:29] onyxmaster commented on #1906
Another option would be improved systemd integration with [support for multiple FDs](https://www.freedesktop.org/software/systemd/man/sd_listen_fds.html), then testing for specific FD state would be a part of the integration API ([sd_is_socket_unix](https://www.freedesktop.org/software/systemd/man/sd_is_socket_unix.html)).
Yet, this is probably harder than it should be, because of additional [nati

[2017-06-19 21:15] shirhatti opened #1908 "502 - Web server received an invalid response while acting as a gateway or proxy server."
_From @kimbell on June 8, 2017 6:51_

We have the current setup:
Web Browser (Swagger) -> Netflix Zuul gateway -> IIS -> Kestrel

In our development environment everything is working as expected; requests and responses make their way through the whole chain. When I deployed my application to another environment, things started going pear shaped.

If I hit the server directly from en external brows

[2017-06-19 21:15] shirhatti commented on #1908
_From @kimbell on June 8, 2017 8:36_

The version of the IIS AspNetCore Module is 7.1.19720.0.
Verified same version on both environments.

Adding the header to request on my development environment (that works as expected) also triggers the same 502 error.

[2017-06-19 21:15] shirhatti commented on #1908
_From @kimbell on June 8, 2017 8:45_

Fired up Visual Studio and Kestrel om my local machine. If I trigger GET requests with the chunked transfer encoding, it gives me 200 status back, but reports an exception.

[code]
I've never seen any traces of this in the logs when running Kestrel behind IIS.

[2017-06-19 21:15] shirhatti commented on #1908
_From @kimbell on June 8, 2017 10:5_

After pestering the Java guys that set up Zuul, they suddenly discovered they had a version mismatch between the environments. When they updated the problematic one, things started to work as expected.

Figuring out what actually went wrong could have been a bit smoother. Once you configure failed request logging, mapping the error 'The parameter is incorrect'

[2017-06-19 21:15] shirhatti commented on #1908
Sounds like ANCM was transparently just forwarding the empty body chunked request to Kestrel. Off the top of my head, I'm not sure how Kestrel responds to such a request.

[2017-06-19 23:38] #1904 closed

[2017-06-19 23:38] muratg commented on #1904
(Approved for Preview2 in person)

[2017-06-20 17:18] Eilon commented on #1901
I'm not sure we need to worry much about how many namespaces are imported for a very obscure server feature. The importance of this feature is that it *exists* and has *smart defaults*. For the few people in the world who would override the defaults, I'm not concerned how many namespace they import. VS will add the namespace for you anyway. Or, just make it a `struct`, and then you don't need to w

[2017-06-20 17:22] blowdart commented on #1901
I'm good with the naming changes.

[2017-06-20 17:29] natemcmaster commented on #1663
@hheexx I did a little more digging and found better instructions for inspecting a .NET Core process on Linux.

Source: https://blogs.msdn.microsoft.com/wushuai/2017/03/13/debug-asp-net-core-via-lldb-on-ubuntu/

If you have a deadlocked process, you can attach to it using lldb and gather information about threads and stacks to help identify where the deadlock is coming from.

### Steps

#### Insta

[2017-06-20 17:49] hheexx commented on #1663
Hi @natemcmaster ,

Thanks for detailed instructions!
We tested a lot and found the problem to probably be around HttpClient or a way solr-express library uses HttpClient in a sync way.

We will try 2.0 soon and I hope it would help.

[2017-06-20 17:52] natemcmaster commented on #1663
Ok, I'm going to close as it sounds like the issue isn't in Kestrel. We can re-open for more investigation if you find more issues.

[2017-06-20 17:52] #1663 closed

[2017-06-20 18:07] #1896 closed

[2017-06-21 01:44] Jamesxql opened #1909 "[Patch 1.1.3] Error -16 EBUSY resource busy or locked"
I have seven web api applications on a same server hosted by `systemd` as a daemon . Sometimes when I stop my application, one of these applications will report this error:

[code]

The Kestrel version is :  1.1.2
The Web Server: Ubuntu 16.04.2

The error occurred randomly among these seven applications. What's the reason?

[2017-06-21 04:03] natemcmaster commented on #1909
Possible duplicate of https://github.com/aspnet/KestrelHttpServer/issues/1231?

[2017-06-21 06:36] davidfowl commented on #1909
@halter73 @muratg We should backport this fix to 1.x https://github.com/aspnet/KestrelHttpServer/pull/1798

[2017-06-21 13:06] avezenkov commented on #1260
.net core 1.1.1, a self-contained package, kestrel, linux - no requests, just leaving the process running - memory grows slowly until it's all eaten by the dotnet core process.

[2017-06-21 16:07] muratg opened #1910 "[Patch 1.0.5] Error -16 EBUSY resource busy or locked"
Details at https://github.com/aspnet/KestrelHttpServer/issues/1909.  Fix already exists in dev/2.0.0.

[2017-06-21 16:08] muratg commented on #1909
cc @Eilon @shirhatti Patch candidate (1.1.3)

[2017-06-21 16:08] muratg commented on #1910
cc @Eilon @shirhatti Patch candidate (1.1.3)

[2017-06-21 16:08] muratg commented on #1909
Bug for 1.0.5: https://github.com/aspnet/KestrelHttpServer/issues/1910

[2017-06-21 16:32] Eilon commented on #1909
So this is already fixed in 2.0?

[2017-06-21 17:25] halter73 commented on #1909
Yes through the combination of https://github.com/aspnet/KestrelHttpServer/pull/1798 and https://github.com/aspnet/KestrelHttpServer/pull/1633.

[2017-06-21 18:16] halter73 commented on #1908
@shirhatti What should we do in Kestrel? Why did you move this issue from the ANCM to the Kestrel repo?

I enabled failed request logging, and found the following information.
Something is going on between Zuul and IIS. I don't see anything in the .NET Core logging system.

The above makes it sound like the request doesn't even make it to Kestrel.

[2017-06-21 18:46] halter73 commented on #1876
@muratg I added this to the 2.0 milestone.

[2017-06-21 19:08] pakrym commented on #1685
@davidfowl do you want this on all OS?

[2017-06-21 19:13] shirhatti commented on #1908
I think further down in the thread, the OP clarified that the request made it to Kestrel, unless I misunderstood.

Microsoft.AspNetCore.Server.Kestrel.BadHttpRequestException: Bad chunk size data.

I interpreted this as how do we respond to an empty-body chunked request?