[2017-06-21 19:19] kimbell commented on #1908
When I sent the request directly against Kestrel, I got an error message, so Kestrel seems to be behaving correctly. The issue is when the request comes via IIS, then Kestrel never receives the request.

[2017-06-21 19:27] halter73 opened #1912 "Update systemd tests to run on Travis's new Ubuntu images"
We should have until September 1st before the deprecated Travis images are no longer available.

https://github.com/aspnet/KestrelHttpServer/pull/1911#issuecomment-310175096

[2017-06-21 21:06] pakrym commented on #1641
Talked to @davidfowl moving to 2.1.

/cc @muratg

[2017-06-21 21:50] halter73 commented on #1908
@kimbell A request with a `Transfer-Encoding: chunked` header and a completely empty body is invalid and should be rejected by any server that receives it.

It seems that you already recognize that Kestrel is doing the right thing by logging and rejecting request, but you still seem to think that IIS/ANCM should forwarding the same bad request. Am I understanding the issue correctly?

Not forwardi

[2017-06-21 22:07] #1876 closed

[2017-06-22 00:43] geffzhang commented on #1905
@davidfowl how to change appsetting.json ,this is my appsetting.json
"Logging": {
    "IncludeScopes": false,
    "LogLevel": {
        "Default": "Debug",
        "System": "Information",
        "Microsoft": "Information"
    }
  }

[2017-06-22 11:00] rdvojmoc opened #1913 "File upload problem"
Problem occurs when validation is done on file and BadRequest is returned from the controller to the client (file to big, or wrong content type), connection is closed after whole file is transferred to the server and not immediately when BadRequest is set in a response  as it should be.

![snap3677](https://user-images.githubusercontent.com/13537823/27398210-50b96a10-56b9-11e7-92b7-eb5721290b82.pn

[2017-06-22 12:30] Tratcher commented on #1913
By design. There's nothing inherent about a 400 (Bad Request) status code that says the connection should be closed. HTTP/1.1 requests use KeepAlive connections by default, so if you don't complete reading the request body in your application then Kestrel will attempt to drain it so it can re-use the connection for the next request. The two minute time you see sounds like the idle connection timeo

[2017-06-22 15:14] maximburyak commented on #1890
@halter73 that's pretty rare, happened on my machine once, and as I understand, happens during our tests run pretty rarely.  We received the error while starting up a several servers concurrently during a test scenario , for all it's worth, here's the code of starting up a single kestrel instance: https://github.com/ravendb/ravendb/blob/v4.0/src/Raven.Server/RavenServer.cs#L140

[2017-06-22 15:35] rdvojmoc commented on #1913
Thanks for the insight. I can confirm that setting header "Connection:close" prevents draining.

[2017-06-22 19:55] pakrym commented on #1685
`Win2012-Kestrel` build configuration is up and running.

[2017-06-22 19:55] #1685 closed

[2017-06-22 20:04] davidfowl commented on #1685
We need Linuz

[2017-06-22 20:21] antmdvs commented on #1567
@muratg, @danroth27 alluded that this was done (https://youtu.be/ry_vrIn9RBI?t=13m59s). Are you able to check that all-important checkbox in https://github.com/aspnet/Announcements/issues/243?

[2017-06-22 20:46] pakrym commented on #1685
@davidfowl  `Ubuntu-Kestrel` is up and running

[2017-06-22 22:26] muratg commented on #1567
@antmdvs We implemented most of the features in preview2 and you should see more details when we release 2.0.0-preview2.  We'll have a couple more tweaks for 2.0.0 RTM.

Please note that preview2 does not have a go-live license, so while it's good for testing, I recommend waiting until 2.0.0 RTM to take this to production.

[2017-06-23 00:24] halter73 commented on #1913
Setting the "Connection: close" header will close the connection only after both the request and the response are completed.

If you want to prevent draining, you can call `HttpContext.Abort()` which will close the connection immediately. Be careful though, because it's possible that the response status line and headers won't be flushed if they weren't flushed already.

[2017-06-23 00:30] halter73 commented on #1913
I think I misinterpreted the question. If you set the "Connection: close" response or response header, the response will still get drained, but I can confirm that in all released versions of Kestrel so far, the request body will *not* be drained if it wasn't already since there isn't much point.

I'm not sure how much you want to rely on this, because I could see potentially attempting to drain th

[2017-06-23 00:43] cesarbs commented on #1862
We really should do this for 2.0 in order to avoid goofs having duplicate event IDs (right now there are some between Core and Transport.Libuv).

We need a common place to put the class holding the event IDs though. We *could* have it as a shared source file among packages, but that would prevent people from referring to those IDs by name.

Right now the only package that is referenced by both Cor

[2017-06-23 01:07] natemcmaster commented on #1862
👍 in favor of doing this for 2.0.

[2017-06-23 03:10] davidfowl commented on #1862
Event ids are pee category so I'm not sure why they would clash. Doesn't seem critical for 2.0.

[2017-06-23 04:40] rdvojmoc commented on #1913
I tested a bit more and after setting "Connection : close" on the response error 504 gets returned to the client. What can I do if I want to return BadRequest and still have the request drained, before Kestrel 2.0 is released?

[2017-06-23 09:27] davytitan opened #1916 "A quest ,not bug"
why rel/preview1 Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions project not auto create
  like System.Buffer files? so compline error, can someone anwser me?  Thanks.
![image](https://user-images.githubusercontent.com/3961010/27475844-2d425e58-5839-11e7-9266-31b5e3316c85.png)
like that , not auto generate by dotnet restore or  dotnet build.

[2017-06-23 09:32] davidfowl commented on #1916
Not sure what you're asking. Those files come from an internal package that Kestrel is using. The package has a bunch of source files that are imported at restore time from a nuget package.

[2017-06-23 09:39] davytitan commented on #1916
I have dotnet restore this project .
![image](https://user-images.githubusercontent.com/3961010/27476267-a3c885a6-583a-11e7-88d3-cf03806ddda5.png)
but i cann't see them in my project . my project after restored like this:
![image](https://user-images.githubusercontent.com/3961010/27476293-c471a44a-583a-11e7-9abe-46377e54c00e.png)
![image](https://user-images.githubusercontent.com/3961010/27476296-

[2017-06-23 18:37] halter73 commented on #1913
The 504 originates from IIS not Kestrel. It indicates that the response didn't complete within the configured [requestTimeout](https://docs.microsoft.com/en-us/aspnet/core/hosting/aspnet-core-module#attributes-of-the-aspnetcore-element).

Kestrel will not automatically flush responses to keep-alive requests until the entire request body is drained. The reason for waiting to flush the response is s

[2017-06-23 18:41] halter73 commented on #1916
Is it just Visual Studio that doesn't "see" the Microsoft.AspNetCore.Server.Kestre.Internal namespace? Does the project still build using `dotnet build`? What versions of VS are you running? What's the output of `dotnet --info`?

[2017-06-23 19:14] muratg commented on #1521
@davidfowl @DamianEdwards We'd like to punt this out to 2.1.  That OK with you guys?

[2017-06-23 19:15] muratg commented on #1618
@natemcmaster is tracking this across several repos. Closing this one.

[2017-06-23 19:15] #1618 closed

[2017-06-23 19:16] muratg commented on #1662
@davidfowl I'm moving this out. If you think you can do it in the next week or so, please bring it back.

[2017-06-23 19:21] muratg commented on #1334
This covers https://github.com/aspnet/KestrelHttpServer/issues/1713 too.

[2017-06-23 19:21] muratg commented on #1713
Dup of #1334

[2017-06-23 19:21] #1713 closed

[2017-06-23 19:21] muratg commented on #1778
We'll reopen if we decide to this in the future.

[2017-06-23 19:21] #1778 closed

[2017-06-23 19:23] muratg commented on #1521
Talked to @DamianEdwards in person, we'll try to do this in 2.0.0.

[2017-06-23 19:30] muratg commented on #1270
@cesarbs if we haven't seen it since then, please close for now.

[2017-06-23 19:31] muratg commented on #1675
Assigning to @natemcmaster for investigation.

[2017-06-23 19:31] muratg commented on #1680
Assigning to @natemcmaster for investigation.

[2017-06-23 19:34] muratg commented on #1720
@cesarbs assigning to you for investigation. Please see the repro app above.

[2017-06-23 19:35] muratg commented on #1763
@mikeharder did you see this repro after again? (in case the reason was #1761)

[2017-06-23 19:36] muratg commented on #1764
@blowdart your thoughts on this one?  (OK to do in 2.1?)

[2017-06-23 19:37] muratg commented on #1766
@mikeharder did you see this after #1761 was resolved?

[2017-06-23 19:38] blowdart commented on #1764
No, as we patched full framework to check for this last month. It needs to be right on the server too.

[2017-06-23 19:40] muratg commented on #1771
@blowdart Thoughts on this one

[2017-06-23 19:41] blowdart commented on #1771
The ability for a client to block by not reading is kind of bad to me. It needs to happen regardless.

[2017-06-23 19:43] muratg commented on #1802
@jceddy Did you figure out what the issue is? Any more details?

[2017-06-23 19:47] jceddy commented on #1802
No...there doesn't seem to be a way to tell Kestrel which certificate authorities to accept (i.e. to prompt for in the browser). I'm completely running behind NGINX/IIS proxies now, which are handling the SSL interaction with the client for me and forwarding all traffic to Kestrel over HTTP.

[2017-06-23 19:47] muratg commented on #1814
@1amirjalai any updates?

[2017-06-23 19:50] muratg commented on #1802
Assigning to @halter73 to investigate (and add a test covering this scenario.)

[2017-06-23 19:52] muratg commented on #1857
@1amirjalai what about @halter73's question?

[2017-06-23 19:54] muratg commented on #1858
**ping**

[2017-06-23 19:55] muratg commented on #1860
Fixed by @halter73 already.

[2017-06-23 19:55] #1860 closed

[2017-06-23 19:56] muratg commented on #1867
We'll file another one if we see it again.

[2017-06-23 19:56] #1867 closed

[2017-06-23 19:57] muratg commented on #1868
Fixed (External)

[2017-06-23 19:57] #1868 closed

[2017-06-23 19:59] muratg commented on #1869
`launchUrl` is for the browser when you launch it. Should be `http://localhost:6000`.

Can you try to change `applicationUrl` to `http://*:6000` instead? (Or some other port :D)

[2017-06-23 19:59] muratg commented on #1869
Also, could you paste the Kestrel log output.

[2017-06-24 04:48] davytitan commented on #1916
@halter73
PS D:\tmp\KestrelHttpServer-rel-2.0.0-preview1> dotnet --info
.NET Command Line Tools (2.0.0-preview1-005977)

Product Information:
 Version:            2.0.0-preview1-005977
 Commit SHA-1 hash:  414cab8a0b

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.15063
 OS Platform: Windows
 RID:         win10-x64
 Base Path:   C:\Program Files\dotnet\sdk\2.0.0-preview1-005977\

Mi

[2017-06-25 12:45] rdvojmoc commented on #1913
Kestrel is running without IIS at the moment. Response 504 was shown in Fiddler. If I do same request from Chrome or Firefox I get ERR_CONNECTION_ABORTED and status code 0 after setting "Connection:close" header on the response.

My goal is to get BadRequest returned right after this is called in my controller:
`if (!ControllerContext.ModelState.IsValid)
{
	return BadRequest(ControllerContext.Mode

[2017-06-26 12:56] nimbusparis commented on #1869
Seems SDK version is guilty. My app use 1.0.4 (not work) and a fresh Webapp using 1.1.2 work like a charm. I'm trying to upgrade and keep you posted.

[2017-06-26 13:04] nimbusparis commented on #1869
`http://*:6000` raise an error.

[2017-06-26 13:12] nimbusparis commented on #1869
Ok, after changing SDK version (still fail), I've the idea to change `"applicationUrl": "http://localhost:6000/"` to `"applicationUrl": "http://localhost:6001/"` that's work...
Seems that port 6000 (and 7000 and ... ?) are reserved and the application cannot run on thos port even if kestrel is claiming to listen on it...

[2017-06-26 16:24] muratg commented on #1869
@nimbusparis is this Linux?  Perhaps there's something else running on port 6000? You can check with `lsof -i :6000 -S`

[2017-06-26 16:50] nimbusparis commented on #1869
That was under windows 10, `netstat -a | grep 6000` show nothing

[2017-06-26 18:29] halter73 commented on #1916
@davytitan Can you build the dev branch with a preview2 version of the CLI? The build.cmd script will automatically install a working CLI into `~/.dotnet/x64`.

I would not put too much effort into trying to build an old prerelease branch.

[2017-06-26 18:39] muratg commented on #1807
Closing this one as the discussion seem to have stopped.  @kevin-meyer-aarons / @bnayae feel free to file another issue to continue the discussion.

[2017-06-26 18:39] #1807 closed

[2017-06-26 18:40] muratg commented on #1850
Assigning to @cesarbs for investigation in 2.0.0.

[2017-06-26 18:45] muratg commented on #1853
We decided to close this as the exception message is not too bad. If we get more feedback from customers, we'll revisit this.

In a future milestone, we should consider bringing back the "audit log" concept to Kestrel as a feature. /cc @shirhatti

[2017-06-26 18:48] muratg commented on #1865
@joshfree, we think this should be an SSLStream feature. Perhaps we should talk about this in our next sync-up.

cc @davidfowl

[2017-06-26 18:52] muratg commented on #1882
@danroth27 What was the outcome of the discussion?

[2017-06-26 18:53] muratg commented on #1882
Putting this in 2.1.0 for now.

[2017-06-26 18:57] muratg commented on #1883
This should be fixed with 2.0.0-preview1+.

@halter73 will be looking at the stackoverflow question directly.

[2017-06-26 19:02] muratg commented on #1888
This is tracked in https://github.com/aspnet/HttpAbstractions/issues/811 now.

[2017-06-26 19:02] #1888 closed

[2017-06-26 19:04] muratg commented on #1890
@maximburyak let us know if you could get a more consistent repro that could help with our investigation.

[2017-06-26 19:05] muratg commented on #1899
Mostly an edge case, should be an easy fix.

[2017-06-26 19:06] muratg commented on #1905
More details on Logging can be found here: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging

[2017-06-26 19:06] #1905 closed

[2017-06-26 19:11] muratg commented on #1906
@onyxmaster Is there a way to do it without native calls?  We mainly designed the externally-provided file-handles for SystemD activation, though we'd be happy to hear more of your thoughts. Backlogging this for now.

[2017-06-26 19:11] muratg commented on #1908
What @halter73 said :)

[2017-06-26 19:11] #1908 closed

[2017-06-26 19:47] halter73 commented on #1912
The systemd tests fail on Travis even with the [deprecated image](https://github.com/aspnet/KestrelHttpServer/blob/3084227314c784e34c6ca19402346bc0eafce2ea/.travis.yml#L32). I am going to disable the systemd tests temporarily so the travis badge can go back to green.

From [Travis failure logs](https://travis-ci.org/aspnet/KestrelHttpServer/jobs/246447375):
[code]

[2017-06-27 02:07] davytitan commented on #1916
yes~  preview2 version is right.  ok~ i will use the newst version project. Thank you~~~ and i will close this question @halter73

[2017-06-27 05:53] kimbell commented on #1908
@halter73 @muratg
This issue illustrates the amount of effort required to figure out what is going wrong when ANCM is stopping requests to Kestrel. This is just one example of a case; there are probably others out there as well.

In order to figure things out, I needed to install Trace logging in IIS. Since this problem occurred in development, no big deal, but had it started in production it woul

[2017-06-27 07:27] onyxmaster commented on #1906
The simplest way to handling this is via exception handling as follows:
If ListenType is a FileHandle, we should try to treat it as a TCP socket. Then, attempting to perform TCP-related initialization operations (like disabling Nagle algorithm) will fail with ENOTSUP. We could handle this exception, assuming this is a non-TCP socket and, hence, a pipe (in libuv terms). The exception presence could

[2017-06-27 07:33] onyxmaster commented on #1906
Let me elaborate a little on ListenType types.
I propose that the ListenType.FileHandle remains as it is and is considered an "autodetected" file handle type.
Then, endpoint info should be cached locally by the Listener/ListenerContext that would convert the ListenType to a more specific type (TcpFileHandle/PipeFileHandle) on listen socket creation and cache it locally again, so the subsequent inv

[2017-06-27 12:07] 1amirjalai commented on #1858
@muratg @halter73 i made a har file and sent it to cloudflare support they think the error is because of my anti-virus. but i couldn't find any info about anti-virus on the har file

[2017-06-27 12:10] 1amirjalai commented on #1814
@muratg no i still have this issue. even after migrating to 1.1.2 and vs2017

`System.IO.IOException: Error -4077 ECONNRESET connection reset by peer ---> Microsoft.AspNetCore.Server.Kestrel.Internal.Networking.UvException: Error -4077 ECONNRESET connection reset by peer --- End of inner exception stack trace --- at Microsoft.AspNetCore.Server.Kestrel.Internal.Http.SocketInput.CheckConnectionError

[2017-06-27 18:38] halter73 commented on #1908
@kimbell Agreed. I reopened your original ANCM issue.

[2017-06-27 21:36] muratg commented on #1248
@shirhatti we need to close on this in the next few days.

[2017-06-27 21:36] muratg commented on #1248
cc  @blowdart

[2017-06-27 21:37] muratg commented on #1319
@pakrym Anything to do in 2.0.0 for this issue?

[2017-06-27 21:37] blowdart commented on #1248
Ship blocker :) What do you need from me?

[2017-06-27 21:39] muratg commented on #1675
Moving out to 2.1.

[2017-06-27 21:41] muratg commented on #1772
This is not part of the public API surface, so moving this out to 2.1.0.

[2017-06-27 23:01] halter73 commented on #1906
I like the ListenType.TcpFileHandle/PipeFileHandle idea.

2.0.0 is being released fairly soon, so I can't make any promises, but if you submit a PR within the next few days, I'd likely accept it.

[2017-06-28 01:29] #1884 closed

[2017-06-28 09:22] Jamesxql opened #1921 "Nginx 111: Connection refused errors."
I'm running ASP.NET Core Application behind Nginx. Sometimes, nginx will be given an error:

`5181277 connect() failed (111: Connection refused) while connecting to upstream, client: x.x.x.x, server: , request: "GET /xxx/xxx?key=value HTTP/1.1", upstream: "http://xxxxx:1234/xxx/xxx?key=value", host: "xx.xxxxx.com"`

The nginx configuration like this:

[code]

[code]

I'm sure my ASP.NET Core WebAP

[2017-06-28 18:12] halter73 commented on #1921
The 502 is coming from nginx since it cannot connect to 172.31.5.38:5005. Have you verified that you can connect to 172.31.5.38:5005 from the machine running nginx?

Do you have [ASP.NET Core's Logging](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging) enabled? This might not help if the dotnet process crashed or for some reason isn't running, but in that case using a watchdog pro

[2017-06-29 01:44] Jamesxql commented on #1921
`Have you verified that you can connect to 172.31.5.38:5005 from the machine running nginx?`
Yes, I can connect to 172.31.5.38:5005 from the machine running nginx.

This error occurs only when there are too many requests, so I'm wondering what will Kestrel do when requests are more than Kestrel's processing capability? Does Kestrel will immediately refuse to connect?

[2017-06-29 15:53] pakrym commented on #1766
Still happening a log in Windows kestrel stress test configuration

[2017-06-29 15:59] pakrym opened #1926 "Flaky test: DoesNotRejectBodylessGetRequestWithZeroMaxRequestBodySize"
[code]
http://aspnetci/viewLog.html?buildId=254219&buildTypeId=Lite_KestrelStressTest&tab=buildLog

[2017-06-29 16:18] pakrym opened #1927 "Flaky test: ThrowsWhenBindingLocalhostToIPv6AddressInUse"
Reproes on Ubuntu
[code]

[2017-06-29 16:31] natemcmaster commented on #1927
Wrong stack trace? Issue description says ThrowsWhenBindingLocalhostToIPv6AddressInUse  but stack trace shows RejectsRequestWithContentLengthAndUpgrade

[2017-06-29 16:37] pakrym commented on #1927
Updated

[2017-06-29 19:00] halter73 opened #1928 "Change KestrelServerOptions.AllowSynchronousIO default to false"
KestrelServerOptions.AllowSynchronousIO is going to default to true for 2.0.0. Hopefully we can change this to false in our next major release.

https://github.com/aspnet/Announcements/issues/252#issuecomment-312058065

@muratg @Tratcher  We'll probably want to file a similar issue for HttpSysServer.

[2017-06-29 19:47] halter73 commented on #1921
@Jamesxql Can you connect directly to Kestrel using curl or something at the time you are seeing the 502 errors? Is the CPU close to 100% when this happens. Do you need to do anything to stop the 502 responses, or does it eventually start working again when the load dies down? As mentioned before, logs might be helpful.

Kestrel does have a ListenBacklog of 128 pending unaccepted connections, but

[2017-06-29 20:32] muratg commented on #1928
@Tratcher could you file a bug on HttpSysServer to track this for 3.0.0?

[2017-06-29 21:00] Tratcher commented on #1928
https://github.com/aspnet/HttpSysServer/issues/373

[2017-06-29 21:16] natemcmaster commented on #1839
This hasn't reproduced since May. We can re-open if it begins to fail again.

[2017-06-29 21:16] #1839 closed

[2017-06-29 21:18] natemcmaster commented on #1763
This hasn't failed again since April 25.

[2017-06-29 21:18] #1763 closed

[2017-06-29 21:52] QuantumHive commented on #1858
I've been scratching my head an entire evening. In Chrome 59, I'm sending a POST request (with CORS enabled) to my `aspnet core` api and I'm getting this error in the Chrome console:

The odd thing is that when I try to reproduce the same request in Firefox, no error is been thrown and the client application does not fail.

My client first sends a preflight request with:
[code]
Kestrel responds:
[

[2017-06-30 00:16] halter73 opened #1929 "Increase default MinRequestBodyDataRate to match IIS's default"
I believe the ISS default is [240 bytes/second](https://www.iis.net/configreference/system.applicationhost/weblimits#005).

[2017-06-30 00:16] #1901 closed

[2017-06-30 00:17] halter73 commented on #1929
@muratg @blowdart ping.

[2017-06-30 00:40] halter73 commented on #1858
@QuantumHive What does your api/users POST controller action look like?

The key difference between the 204 OPTIONS response and the 201 POST response is the latter has a `Transfer-Encoding: chunked` header. I noticed you didn't include the response body to your 201 POST response. Is the a response body? If there isn't, that would definitely explain the ERR_INCOMPLETE_CHUNKED_ENCODING error from C

[2017-06-30 00:42] blowdart commented on #1929
Yup, do it.

[2017-06-30 00:46] cesarbs commented on #1929
Note that the IIS min rate is the response min rate.

240 bytes/second might be too aggressive and drop legit connections from slow clients. The current default ensures there is at least *some* (1 byte) network activity every second, without dropping clients with limited network resources.

[2017-06-30 05:08] Jamesxql commented on #1921
`Do you need to do anything to stop the 502 responses, or does it eventually start working again when the load dies down`
No, I don't need do anything to stop the 502 responses, it start working again when the load dies down.

And I found some information in the log file:
[code]

But, why the program exception will cause Kestrel to restart?

[2017-06-30 06:12] QuantumHive commented on #1858
@halter73

The action method is similar to the one in the [web api tutorial](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api#implement-the-other-crud-operations):

[HttpPost]
public IActionResult Create([FromBody] User user)
{
    //create model with EF
    return CreatedAtRoute("GetUser", new { id = user.Id }, user);
}

First of all, when POSTing, there is a `request` body, w

[2017-06-30 13:51] nulltoken commented on #1001
@halter73 Could you please explain the current status of that issue? It's been closed on Jul, 2016. Then, later you've set a milestone for it.

Is this still opened and going to be fixed?

Or is the workaround you've proposed inhttps://github.com/aspnet/IISIntegration/issues/239#issuecomment-245061642 the way to solve it?

Sorry for the questions. I'm just trying to get a better understanding of t

[2017-06-30 20:29] halter73 commented on #1912
Fixed by #1925. Thanks again @onyxmaster.

[2017-06-30 20:29] #1912 closed

[2017-06-30 21:20] mikeharder commented on #1766
Just happened again today: http://aspnetci/viewLog.html?buildId=255643&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

[2017-06-30 21:22] halter73 commented on #1858
@QuantumHive I wouldn't get too hung up on that Chromium issue. This is [far from the first report](https://github.com/aspnet/KestrelHttpServer/search?q=ERR_INCOMPLETE_CHUNKED_ENCODING+&type=Issues&utf8=%E2%9C%93) we've received about incomplete chunked responses, and it won't be the last. The 4 issues I linked to might not seem like a lot, but you need to remember that most reporters search for a

[2017-06-30 21:30] halter73 commented on #1001
[This 2.0 change](https://github.com/aspnet/KestrelHttpServer/pull/1238) should clean up your logs by not logging the exception stack trace with the warning when Kestrel attempts to bind to IPv6 loopback in the Azure App Service environment. Hopefully this is enough noise reduction in you logs since it's now just a one line warning when your App starts.

The hacky workaround I gave is probably sti

[2017-06-30 23:05] mikeharder commented on #1766
This is causing a lot of failures in our 2.0 builds.  Would be great if this can be fixed before 2.0 RTM.

[2017-06-30 23:41] mikeharder commented on #1742
Still flaky: http://aspnetci/viewLog.html?buildId=255966&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

[2017-07-01 00:58] mikeharder commented on #1927
Another repro: http://aspnetci/viewLog.html?buildId=256125&tab=buildResultsDiv&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR

[2017-07-03 08:30] nulltoken commented on #1001
@halter73 Thanks a lot for this detailed answer :heart_decoration:

@davidebbo Is there any issue I could subscribe to to be notified when this is ready?

[2017-07-03 18:29] #1521 closed

[2017-07-03 18:37] #1766 closed

[2017-07-03 19:18] natemcmaster commented on #1850
Appears to be machine-specific. It fails consistently on my machine and @cesarbs's, but not @halter73's or CI agents. It could be something to do with the hardware (processor speeds, available memory, etc.)

[2017-07-03 19:35] davidebbo commented on #1001
@nulltoken looks like https://feedback.azure.com/forums/34192--general-feedback/suggestions/17459872-azure-app-service-should-support-ipv6-address tracks this.

[2017-07-03 19:37] onyxmaster opened #1934 "Externally-provided socket ownership in the context of systemd socket activation"
First, I would like to tell you that I understand that the described mode of operation may be out of scope of this specific project and should not be improved on here, with current API it could be solved externally, Yet, I still believe that you should know that there might be an oversight.

Currently, the `KestrelServerOptions.ListenHandle` and the underlying **libuv**-based socket handling code

[2017-07-03 19:39] onyxmaster commented on #1906
Looks like it's done, thank you!

[2017-07-03 19:39] #1906 closed

[2017-07-03 20:11] nulltoken commented on #1001
@davidebbo  Voted and subscribed!

![image](https://user-images.githubusercontent.com/92363/27806681-42a34ae0-603c-11e7-9619-b6c94d44a969.png)

[2017-07-03 21:24] halter73 commented on #1934
Very interesting. I had not considered reusing the listen handle.

It wouldn't be unheard of to add some non-libuv native calls given a compelling reason as long as it's well tested. We've had to make an [OS-specific native call](https://github.com/aspnet/KestrelHttpServer/blob/eea0c6490e1c65d91044b82269a98a790e8b172a/src/Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv/Internal/Networking/Libu

[2017-07-04 06:04] onyxmaster commented on #1934
At first, let me note that there is no problem with socket activation and server **restarts** (for example via `systemctl restart`), it's the **reload** (in-process disposal of Kestrel instance and re-creation of a new one) that is the problem -- this is why I believe it's a nonstandard scenario.
Now to the questions.
The activated process can't close the actual socket that is being listened (and

[2017-07-04 08:50] gouffe75 commented on #1895
Hi,

with a long delay, I managed to get a dump when my application goes down in production. This happened with a relative high load, during a peak hour.

If I can get you any other information, please let me know.

Thanks
[sample-down.zip](https://github.com/aspnet/KestrelHttpServer/files/1121475/sample-down.zip)

[2017-07-04 13:19] RehanSaeed commented on #1182
Am still getting this error while on the latest 1.1.2 release:

[code]

[2017-07-04 13:25] RehanSaeed commented on #1814
I'm also getting this error while on the latest 1.1.2 release. The error is occurring about once per hour when posting a fairly large number of 10KB JSON messages. I'm using IIS as a reverse proxy.

[code]

[2017-07-04 21:16] mastrauckas opened #1935 "Kestrel not picking up port from config..."
When creating a new `webapi` project by doing:
`dotnet new webapi -n test_project`

I update `appsettings.json` and add `Kestrel`.  My `appsettings.json` looks like:
[code]
Now on the command line in directory with `test_project.csproj` I run `dotnet run` which still connects to `http://127.0.0.1:5000` and not `http://127.0.0.1:2032`.

I am on `macOS` using `zsh` and I created the template in both

[2017-07-05 02:49] davidfowl commented on #1935
You misspelt Kestrel in your configuration file

[2017-07-05 03:05] mastrauckas commented on #1935
@davidfowl Now I feel really stupid!  Thanks for your help!

[2017-07-05 03:05] #1935 closed

[2017-07-05 03:23] davidfowl commented on #1182
@RehanSaeed can you open a new bug. The error you're getting doesn't have anything to do with the original exception.

[2017-07-05 03:25] davidfowl commented on #1814
@RehanSaeed did the client disconnect during the post?

[2017-07-05 08:44] gouffe75 commented on #1895
Hi,

I have another dump which I think is better and show better details

Thank you !
[samplePerfTrace.trace.zip](https://github.com/aspnet/KestrelHttpServer/files/1123990/samplePerfTrace.trace.zip)

[2017-07-05 09:20] RehanSaeed commented on #1814
We use an X-Request-ID HTTP header to correlate requests made from an Android app to our API. After looking in the logs this morning, I didn't see any client errors correlated to the above error. I need to get our Android dev to confirm though.

[2017-07-05 09:20] RehanSaeed commented on #1182
@davidfowl https://github.com/aspnet/KestrelHttpServer/issues/1814 is already open and has the same issue.

[2017-07-05 13:53] razzemans commented on #1182
@RehanSaeed though I have seen this error myself I do think they're different issues. In my case a single Azure instance will just crash and (most of the time) will never recover and send out 500 errors indefinitely. You mention you have this error once per hour.

[2017-07-05 14:45] davidfowl commented on #1814
The error suggest that the client sent an RST. The server exception is expected when that happens. It can happen for example if the application was closed during the POST.

[2017-07-05 19:16] halter73 commented on #1934
@onyxmaster If I'm understanding your scenario correctly, I think it's probably niche enough to leave it to the app developer to dup the socket themselves even though it's not that easy.

If it was as simple as not calling uv_close on the listen socket when it was passed in via ListenHandle, I would probably be willing to do that, but AFAIK there is no other way to unregister the uv_listen callbac

[2017-07-05 19:20] onyxmaster commented on #1934
@halter73 well, I thought along the same lines. I'm planning to do additional systemd integration using native calls anyways (to take advantage of structured logging via journald). Still it's good we had this conversation, might be useful for future reference. Thank you for considering the options.

[2017-07-05 19:20] #1934 closed

[2017-07-05 20:07] halter73 commented on #1895
@gouffe75 the perf trace shows a ton of samples in SVR::gc_heap::try_allocate_more_space. A core dump would help us identify what's allocating so much.

[2017-07-05 20:30] muratg commented on #1248
@blowdart please review the default limits and let us know if you're OK with them!

[2017-07-05 20:42] blowdart commented on #1248
What about the rate thingy that ended up way too low now async is off? Where's that? It should probably be here too. @cesarbs ?

[2017-07-05 21:13] cesarbs commented on #1248
@blowdart Yep, I'll update this issue.

[2017-07-05 21:19] cesarbs commented on #1248
Updated.

[2017-07-05 21:24] blowdart commented on #1248
240 is such a weird number :) As is 28.6,

But sure, those look ok.

[2017-07-05 21:41] benaadams commented on #1248
256 and 32 are elegant numbers for a more civilized age 😉

[2017-07-05 22:25] muratg commented on #1248
@cesarbs, please update the defaults (if needed) and :shipit:. :)

[2017-07-06 06:34] gouffe75 commented on #1895
Hi,

thanks for your answer. How would I get a core dump of the process ?

Could it be related to the creation of connections (Mongodb, rabbitmq, redis, elasticsearch) ? I can't think that would be the case but maybe I'm wrong here.

Thank you

[2017-07-06 16:39] ferantivero commented on #1319
@antonydeepak and @muratg yup same experience here with a plain webapi. Tried exposing it through app services as well as k8s both with docker containers. The throughput is not even close to the [GET benchmarks](https://github.com/aspnet/benchmarks). It would be great if aspnet/benchmarks#169

it was wondering whether the aforementioned configurations could be a workaround...

[2017-07-06 18:04] #1929 closed

[2017-07-06 22:26] Eilon commented on #1802
@halter73 / @muratg - what action is required here for 2.0.0?

[2017-07-06 22:28] muratg commented on #1802
I think we can move this out. @halter73 thoughts?

[2017-07-06 23:40] natemcmaster commented on #1764
@muratg @halter73  I might be able to poach this one if we still want to get it in for 2.0.0

[2017-07-07 00:41] muratg commented on #1764
Thanks @natemcmaster! If we can't get to it, it's probably OK.

[2017-07-07 00:44] davidfowl commented on #1764
Is this really important for 2.0? Wasn't this for the identity service scenario?

[2017-07-07 02:01] day01 commented on #1802
In my opinion, this is not resolved. Kestrel in client certificate validation is not worked properly. Of course, you can move this functionality to nginx/IIS but is it the best way?

[2017-07-07 04:46] danroth27 commented on #1764
@davidfowl This was requested by @blowdart and applies to HTTPS with Kestrel independent of the identity as a service work.

[2017-07-07 11:55] blowdart commented on #1764
It's very separate.

Both Core and Framework now check the EKUs of the servers they're attaching to. So if you bind an invalid certificate then HttpClient et al will refuse to connect. This check on startup ensures that you're not using a certificate that isn't meant to be for a server, and so warns you a lot earlier than waiting for an HttpClient to attach.

It's a nice to have, but it's very ver

[2017-07-07 13:05] davidfowl commented on #1764
I think it should be moved to 2.1 but if @natemcmaster can do it and it's low risk (has a low chance of regressions on all 3 OSes) then sure.

[2017-07-07 16:12] natemcmaster commented on #1764
The check is actually fairly simple. The hardest part of doing this was figuring out how to make a test cert with an EKU extension. I have a PR open to implement EKU validation here: https://github.com/aspnet/KestrelHttpServer/pull/1940.

[2017-07-07 17:09] muratg commented on #1802
Moving to 2.1 due to time constraints. @halter73 if you could get it in very quickly, we can bring this back.

[2017-07-07 17:09] muratg commented on #1248
@cesarbs *ping*

[2017-07-07 17:10] muratg commented on #1764
@halter73 / @davidfowl could you review the PR?

@natemcmaster if this is risky, let's move it out to 2.1.

[2017-07-07 18:46] cesarbs opened #1943 "Make write timeout work on Socket transport"
A pending write could be hanging the write loop, so we need to abort it out of band in case of a write timeout. In the libuv transport we do this by disposing the socket in the writer completion callback, which cancels the pending write req.

[2017-07-07 19:36] natemcmaster commented on #1764
In #1940, we added validation of the Extended Key Usage extension. In https://github.com/aspnet/KestrelHttpServer/pull/1944, I'm adding the validation for the normal Key Usage extension as well. According to the RFC, validation of these extensions is an orthogonal concern so we don't need both, however, it seems best to be consistent and check both types of key usage extensions.

[2017-07-07 20:40] muratg commented on #1248
Talked to @cesarbs in person, and he'll close this one once the change is in today.

[2017-07-07 21:21] natemcmaster opened #1946 "Validate Key Usage on server certificates"
We added validation for the Extended Key Usage extension on server certificates, however there is another extension, Key Usage, that might also indicate restrictions on certificate usage. We should investigate which flags should be required, and how Kestrel should accept handle server certificates that don't have these flags. e.g. should we restrict, warn, or allow?

[2017-07-07 21:22] natemcmaster commented on #1764
Talked with @blowdart in person. We can address the Key Usage extension separately, and do that post 2.1. Closing this as resolved with changes in #1940. I've opened https://github.com/aspnet/KestrelHttpServer/issues/1946 to address this.

[2017-07-07 21:22] #1764 closed

[2017-07-07 21:55] muratg opened #1947 "Ignore -- wrong repo :)"
...

[2017-07-07 21:56] #1947 closed

[2017-07-08 05:39] #1248 closed

[2017-07-08 05:46] cesarbs commented on #1771
This is fixed on the libuv transport now: #1939

Does "socket" in this issue's title refer to sockets in general or to the socket transport specifically? There's a new issue filed to get the write timeout working on the Sockets transport (#1943), so I think we could close this one.

[2017-07-08 09:58] bklooste opened #1949 "No way to set base path before startup"
We do a lot of work before startup which allows switching of hosts and services  eg web lister
[code]
However the new changes to Kestrel ( Remove splitting of path and path base in Kestrel #1050 ) seem to make it impossible to change the url before startup is run .. and have a common startup which is pretty ugly ..

[2017-07-10 09:29] davidfowl commented on #640
We should do this in 2.1

[2017-07-10 13:21] KGrewe commented on #1625
I might have the same problem, but cant fix it with with the given answeres.

I have switched from VS15 to VS17. I get the same error notification as capiono did. x89 is the only platform that does work.

The only difference is, that I dont have a runtimeIdentifyer in my .csproj.

Could someone please have a look at my .csproj and check if there is something wrong with it?
[SamApp.csproj.txt](http

[2017-07-10 13:29] Tratcher commented on #1949
https://github.com/aspnet/Hosting/issues/1120 has been filed for this. You could work around it by registering an IStartupFilter, that's what IISIntegration does.
https://github.com/aspnet/IISIntegration/blob/dev/src/Microsoft.AspNetCore.Server.IISIntegration/IISSetupFilter.cs#L26

[2017-07-10 13:29] #1949 closed

[2017-07-10 18:25] natemcmaster commented on #1680
Closing as wontfix. Per the spec on HTTP/1.1.

   send a message body in the response

https://tools.ietf.org/html/rfc7231#section-4.3.2

This includes preserving any Content-Length headers set by the application so that clients can get metadata about what would happen if they issue a GET. Kestrel shouldn't set the `Content-Length` header as this would violate the requirement that HEAD be identica

[2017-07-10 18:25] #1680 closed

[2017-07-10 18:26] natemcmaster commented on #1675
As the HTTP/1.1 spec says, a server may omit payload headers (e.g. Content-Length, Transfer-Encoding, Content-Range, and Trailer) on HEAD requests.

I also see the "no chunk, no close, no size. Assume close to signal end" message from cURL output when issuing a request like this
[code]
However, the cURL client also issues this warning:

[code]

If you use `curl --head` instead, the client behaves

[2017-07-10 18:26] #1675 closed

[2017-07-10 23:05] #1850 closed

[2017-07-11 07:09] tmds commented on #1771
@cesarbs indeed, this can be closed then.

[2017-07-11 07:09] #1771 closed

[2017-07-11 09:50] poonampatilExt commented on #1604
Hi,
We have build with .net core 1.1 in by using VS 2017 Professional Edition. If we deploy it in IIS its working fine but when try to host in docker then we are getting below error.
Error:
**warn: Microsoft.AspNetCore.Server.Kestrel[0]
      Unable to bind to HYPERLINK "http://localhost:5000/"http://localhost:5000 on the IPv6 loopback interface: (Error -99 EADDRNOTAVAIL address not available)**  

[2017-07-11 10:51] libsamek commented on #1334
Is is possible to set UseHttps from Startup class?

[2017-07-11 13:52] Tratcher commented on #1334
Yes:
[code]

[2017-07-11 19:59] #1742 closed

[2017-07-11 20:41] cesarbs commented on #1604
@poonampatilExt `localhost` will attempt to bind to both the IPv4 and IPv6 loopback interfaces. If IPv6 is not available or fails to bind for some reason, you will see that warning. Try binding to 127.0.0.1 instead, that should get rid of the warning.

[2017-07-11 21:30] cesarbs commented on #1666
I've opened https://github.com/aspnet/HttpSysServer/issues/377 to track this on HttpSysServer.

[2017-07-11 21:30] #1666 closed

[2017-07-12 16:15] arunsaho opened #1954 "d"

[2017-07-12 16:28] #1954 closed

[2017-07-12 20:40] natemcmaster opened #1955 "Flaky test: ConnectionClosedWhenResponseDoesNotSatisfyMinimumDataRate"
Saw this test failure on Travis today. Appears to have failed this assertion:
[code]

[code]

https://travis-ci.org/aspnet/KestrelHttpServer/jobs/252952635#L994-L1000

cc @cesarbs

[2017-07-12 22:44] halter73 opened #1956 "Response.Body.FlushAsync() closes connection if a connection adapter is enabled"
If you change the [call to Response.WriteAsync(response)](https://github.com/aspnet/KestrelHttpServer/blob/7ebbdad9746f21b5966c62d68717fa68e21df72d/samples/SampleApp/Startup.cs#L34) in Kestrel's sample app to the following, only "hello" will be written. As soon as Response.Body.FlushAsync() is called, Kestrel closes the connection.

[code]

Here is part of the log output:

[code]

This is [not an

[2017-07-13 06:39] ilyabreev commented on #1267
Just got it too with 1.1.2 begind nginx.

[2017-07-13 08:17] davidfowl commented on #640
Turns out this is a little more complicated than the current implementation as it doesn't work for multiple requests.

[2017-07-13 08:31] davidfowl commented on #640
Turns out this is a false alarm. Seems like I was running old kestrel bits...

[2017-07-13 08:31] #640 closed

[2017-07-13 14:37] drauch commented on #1292
@davidfowl : Thank you for your instructions. Could you elaborate a bit more on point 4? What are those two settings doing to my project? Why do I have to set them to get libuv copied to the output? What are the consequences of changing those settings? Is this going to get "fixed" in a future version of VS2017 so that I do not have to manually edit my csproj anymore? Thank you for the workaround,

[2017-07-13 15:31] davidfowl commented on #1292
Libuv is a native component and you need to specify a runtime identifier so that the right implementation gets copied to your output folder. .NET Core doesn't have this problem. In .NET Core, the runtime natively understands runtime identifiers (RID https://docs.microsoft.com/en-us/dotnet/core/rid-catalog), so you can copy all implementations to the output folder and the runtime will pick the "rig

[2017-07-13 18:03] drauch commented on #1292
Thank you for your reply and the background information on the topic. One last question though, as it does not come up in the linked docs for RIDs: what is the BaseNuGetRuntimeIdentifier doing? Why do I have to set this property too, why isn't setting the RuntimeIdentifier property enough?

Thanks in advance & all the best from Vienna!

[2017-07-14 06:22] davidfowl commented on #1292
https://github.com/NuGet/Home/issues/4558

[2017-07-14 07:27] drauch commented on #1292
Thanks!

[2017-07-17 23:22] #1956 closed

[2017-07-18 12:52] redknightlois commented on #73
Hi Guys,

Do we have any ETA for HTTP/2 support for Kestrel? Asking because we are suffering from head of line queueing performance issues (a testament to how good Kestrel performance is :) ) that are holding us back. We are analyzing to go full RPC style to unlock the issue, but we want to avoid it if possible.

Good be great to have an official response if there is any.

[2017-07-18 14:55] Tratcher commented on #73
No ETA, the dependencies like SslStream ALPN haven't even started yet.

[2017-07-18 15:56] davidfowl commented on #73
We've started working on it.

[2017-07-18 16:13] pflannery commented on #1879
I'm also seeing a port forwarding issue with the "dotnet new web" template and the current docker image "microsoft/dotnet"

I also see the warning with "Unable to bind to http://localhost:5000 on the IPv6 loopback interface: (Error -99 EADDRNOTAVAIL address not available)".

[code]

My current solution is amending the Program.cs file to include `.UseUrls("http://*:5000")` which fixes port forwardi

[2017-07-18 17:01] natemcmaster commented on #1879
@pflannery try using the `microsoft/aspnetcore` image instead. This image is designed to host web apps, and contains settings, such as [ASPNETCORE_URLS](https://github.com/aspnet/aspnet-docker/blob/e6e3dabb7c4f27509a378e65067a1439b62edc6d/2.0/stretch/runtime/Dockerfile#L4), that solve this issue for you.

[2017-07-18 17:53] pflannery commented on #1879
@natemcmaster Thanks. I just tried that and get blocked when running `dotnet --info`

[code]

Following that link didnt seem to solve my issue so I tried to run through the linux debian sdk commands here https://www.microsoft.com/net/core#linuxdebian but still same problem.

Following https://www.microsoft.com/net/core#dockercmd gets me as far as the EADDRNOTAVAIL error I reported above.

[2017-07-18 17:56] natemcmaster commented on #1879
@pflannery If you need to build an app in the container, use `microsoft/aspnetcore-build`. Let's continue this discussion here <https://github.com/aspnet/aspnet-docker> as this is separate from the intent of this issue.

[2017-07-19 19:55] halter73 commented on #1697
Not sure why, but it looks like this test hasn't failed in over a month. [This shows the Win7-Universe test failures from the last week](http://aspnetci/project.html?projectId=AspNetEf&tab=flakyTests&buildTypeId=XPlat_Windows_Win7_Universe.) Running in a loop for an hour didn't lead to any failures.

[2017-07-19 20:00] natemcmaster opened #1960 "Some HTTPs tests are slower on macOS 10.13 (High Sierra) than 10.12"
From @BrennanConroy

< 3 seconds to > 40 seconds

1 second to 10 seconds

[2017-07-19 22:26] #1697 closed

[2017-07-20 05:07] lodejard commented on #73
Yay! gRPC next? ;)

[2017-07-20 08:29] Mimetis opened #1962 "Using Microsoft.AspNetCore.TestHost doesn't work with Fiddler"
Hi guys. I made bunch of tests on a asp.net core project, using the Microsoft.AspNetCore.TestHost Kestrell server (https://www.nuget.org/packages/Microsoft.AspNetCore.TestHost/2.0.0-preview2-final)
But I can't manage to make it work with Fiddler (I suppose localhost is hard coded in the test server ?)
Any chance someone has managed to resolve this problem ?
Thx !!

[2017-07-20 08:30] davidfowl commented on #1962
The test host is an in memory server, it has nothing to do with kestrel.

[2017-07-20 08:46] Mimetis commented on #1962
Hi David !
Wow, you're to fast :)

The purpose of my test is to create a communication between my client and my in memory server, using kestrell.
To be able to debug, I try to enable Fiddler, but I can't manage to make it work.

Here is the code I wrote, using the test server object :

In my mind (but I may be wrong) the `var client = server.CreateClient();`  is overriding my baseadress ?

[code]

[2017-07-20 08:48] davidfowl commented on #1962
Like I said, the test server is an in memory server which means it doesn't go through the network, which means fiddler can't see requests. You didn't write a test server, you just wrote a normal server 😄 .

[2017-07-20 08:58] Mimetis commented on #1962
Ok I have it ! thx David :)
Actually this normal server is useful to create tests (and debug them :) )
Thx a lot for clarification !

[2017-07-20 08:58] #1962 closed

[2017-07-20 09:26] benaadams commented on #1960
Related to the Core issues with macOS High Sierra? https://github.com/dotnet/announcements/issues/22

[2017-07-21 00:57] sk29110 opened #1964 "Websocket stop working?"
In my applicartion, I am using the web socket to update the status of data generationin the database. It works perfectly when one person is using. However when multiple users are trying to access this feature. web socket closes all the sudden.
I am trying to get the point where is the bottom neck. I have set up the JMeter to test the websocket and found out I am getting this error message.

Micros

[2017-07-21 05:25] davidfowl commented on #1964
Can you put your application (or a representative sample) on github so we can take a look?

[2017-07-21 09:30] oofpez opened #1965 "UvException: Error -4095 EOF end of file"
I started getting this error regularly:

I don't have any more information on the error, what are possible causes?

[2017-07-21 21:52] halter73 commented on #1965
This is usually the result of an external process trying to connect to a named pipe belonging to Kestrel. This used to cause real problems accepting new HTTP connections/requests since Kestrel didn't properly ignore these name pipe connections. You can read a little more background on the issue at #1182.

In Kestrel versions 1.0.2 and later, attempts by an external process to connect to the named

[2017-07-22 00:40] halter73 commented on #1960
It looks like SslStream.AuthenticateAsClientAsync takes nearly a minute to throw after a failed handshake on High Sierra. This is a regression from the previous version of macOS (sierra) where AuthenticateAsClientAsync would throw in less than a second. I create a corefx issue here: https://github.com/dotnet/corefx/issues/22515

I added some logging to Kestrel to demonstrate things are still behav

[2017-07-22 00:40] #1960 closed

[2017-07-23 20:36] cocowalla opened #1967 "When bound to all interfaces, how can we determine listening addresses at runtime?"
I have the Kestrel web server configured to bind to `0.0.0.0`, which means 'listen on all interfaces'.

    var host = new WebHostBuilder()
        .UseContentRoot(Directory.GetCurrentDirectory())
        .UseKestrel()
        .UseUrls($"http://0.0.0.0:80")
        .UseStartup<Startup>()
        .Build();

At runtime, is it possible to determine what *actual* IP addresses Kestrel is listening on?

[2017-07-23 20:53] cocowalla commented on #1967
Never mind, didn't realise `NetworkInterface.GetAllNetworkInterfaces()` is available in .NET Core!

[2017-07-23 20:53] #1967 closed

[2017-07-24 12:16] oofpez commented on #1965
It's much more frequent.  Also, it seems to be occuring only in one environment, so It must be related to some changes I made to the API.

I recently configured some middleware to read the request and response streams and log them.
I used some technique similar to here: https://stackoverflow.com/questions/43403941/how-to-read-asp-net-core-response-body

Do you think this could in any way be causin

[2017-07-25 01:10] halter73 commented on #1965
I don't see anyway this could be caused by wrapping and/or logging the request and response stream. This error can only be caused by something other than Kestrel opening one of Kestrel's named pipes.

[2017-07-25 07:47] aford22 commented on #1250
I am getting hundreds of thesee per day too. No stack trace either

[2017-07-26 20:10] cesarbs commented on #1965
@oofpez What version of Kestrel are you using? What is your environment?

[2017-07-26 23:39] benaadams opened #1970 "Compile error: "cannot convert from 'long' to 'int'""
https://travis-ci.org/aspnet/KestrelHttpServer/builds/257936555

Internal/Http/MessageBody.cs(696,38): error CS1503: Argument 2: cannot convert from 'long' to 'int' [/home/travis/build/aspnet/KestrelHttpServer/src/Microsoft.AspNetCore.Server.Kestrel.Core/Microsoft.AspNetCore.Server.Kestrel.Core.csproj]

/cc @pakrym

[2017-07-26 23:41] benaadams commented on #1970
From "React to pipeline changes" https://github.com/aspnet/KestrelHttpServer/pull/1969?

[2017-07-26 23:47] benaadams commented on #1970
ReadChunkedData also needs `(int)` cast before `Math.Min`

[2017-07-26 23:49] benaadams commented on #1970
Fix https://github.com/aspnet/KestrelHttpServer/pull/1971

[2017-07-26 23:59] pakrym commented on #1970
@benaadams builds fine on our CI, what version of `microsoft.aspnetcore.internal.corefxlab.sources` package did you get on restore?

[2017-07-27 00:03] benaadams commented on #1970
Broke on the PR checks for https://github.com/aspnet/KestrelHttpServer/pull/1969 and merge to [aspnet/dev](https://github.com/aspnet/KestrelHttpServer/commits/dev)

Has missing cast in MessageBody.cs

[2017-07-27 00:03] benaadams commented on #1970
e.g. https://github.com/aspnet/KestrelHttpServer/pull/1971/files

[2017-07-27 00:04] pakrym commented on #1970
It doesn't. Both of them are `long`s and `Move` takes `long` now too: https://github.com/dotnet/corefxlab/commit/ef85b95b9be2e0f1b65dbee0ebca5d009af125df#diff-fd9ac6176e69e14568677bdda20dcf36R326

[2017-07-27 00:05] benaadams commented on #1970
Ah, must be laggy packages then

[2017-07-27 00:05] #1970 closed

[2017-07-27 00:39] jkotalik opened #1972 "Make Intellisense comments on Limits include default values"
When setting Kestrel's limits, the default values for each should show up in the IntelliSense. For example
![image](https://user-images.githubusercontent.com/8302101/28649359-307f9cd4-7229-11e7-811b-cd103346a971.png)

(sorry for image size) is confusing because by setting the property to null, there is no minimum data rate, making it seem like the default minimum data rate is 0 (which it may or ma

[2017-07-27 00:47] natemcmaster commented on #1972
Should be easy. Just move the comments from `<remarks>` to `<summary>`.

![image](https://user-images.githubusercontent.com/2696087/28649540-81d0af6e-722a-11e7-9afe-915de1bdd5da.png)

[2017-07-27 01:22] benaadams commented on #1970
AppVeyor and Travis on GitHub are still failing though https://ci.appveyor.com/project/aspnetci/kestrelhttpserver/build/1.0.5697

[2017-07-27 01:23] benaadams commented on #1970
Are the changes in corefxlab in the right branch?

[2017-07-27 01:39] davidfowl commented on #1970
We're still using the aspnetcore branch.

[2017-07-27 04:56] jkotalik commented on #1972
We should probably trim down the summaries though per @halter73

[2017-07-27 04:59] pakrym commented on #1970
@benaadams we have issues with part of CI that pushes packages to public feed, should be fixed tomorrow.

[2017-07-27 22:23] davidcv5 commented on #1703
@danroth27 Did this change after MSBuild 2017. I've been trying the exact same setup and I can't get it to work. Tried in the following environments:

Mac OS X - dotnet version 2.1.0-preview1-006919
Mac OS X - dotnet version 2.0.0-preview2-006497
Win 10      - dotnet version 2.0.0-preview2-006497

Could you please point us in the right direction on how to use this properly. The docs at https://doc

[2017-07-27 22:35] natemcmaster commented on #1703
This feature was cut from 2.0.0. https://github.com/aspnet/KestrelHttpServer/pull/1886#issuecomment-306279884

[2017-07-28 00:58] davidcv5 commented on #1703
@natemcmaster thank you!

[2017-07-28 09:32] seesharper commented on #1783
Just tested this with LightInject.Microsoft.DependencyInjection 2.0.2 and it seems to work just fine
[code]

[2017-07-28 12:52] feO2x commented on #1783
@seesharper Yes, I could also confirm that with v2.0.2, it's working. When I created this example, v2.0.1 was the actual version which did not work correctly.

[2017-07-28 19:05] halter73 commented on #1250
@aford22 What version of Kestrel are you running?

[2017-07-29 17:02] luisgizirian opened #1974 "Remote IP on Reverse Proxy scenarios"
Why is that `Context.Connection.RemoteIpAddress` supplies the Proxy's address in scenarios where `ForwardedHeadersOptions` were applied (either automatically by UseIISIntegration or manually), but `Context.Request.Headers["X-Forwarded-For"][0]` gives me the right address?

If I don't know beforehand the `ForwardedHeadersOptions.KnownProxies`, Is it possible to use the first X-Forwarded-For address

[2017-07-29 18:44] Tratcher commented on #1974
This issue was moved to aspnet/BasicMiddleware#256

[2017-07-29 18:44] #1974 closed

[2017-07-29 21:07] raffaeler commented on #1851
@cesarbs I can't find any documentation about the kestrel configuration changes and this is very frustrating. Could you please point everyone to a complete explanation about the configurations (by code *and* by config files) ?

Thank you

[2017-07-29 22:38] natemcmaster commented on #1703
We will :) We're working on getting our docs ready for 2.0 RTM. https://github.com/aspnet/Docs/issues/3815

[2017-07-31 08:58] skorunka commented on #1965
@halter73 Is there any chance to prevent this exception in Azure App Service?

[2017-07-31 10:05] oofpez commented on #1965
Azure App Service (S2 instances) with the Microsoft.AspNetCore.AzureAppServicesIntegration 1.0.2 package
from what i can see, we are using 63.60712.2926 of Kudu.

[2017-07-31 17:47] jkotalik opened #1975 "Kestrel error messages should include body size information with "Request body too large" exception"
In HttpsSys, when the request body size was too large, it throws an exception with information about the size limits ex:

`"System.IO.IOException: The request's Content-Length 15 is larger than the request body size limit 10."`

while Kestrel's message is simply:

`Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Request body too large.`

Kestrel should probably include this infor

[2017-07-31 17:48] jkotalik commented on #1975
See: https://github.com/aspnet/KestrelHttpServer/blob/6584a8b5fdaba0a79c52b981cac88472bcc92d1a/src/Kestrel.Core/BadHttpRequestException.cs#L74-L75

[2017-07-31 18:44] halter73 commented on #1851
@raffaeler Kestrel configuration by config files still needs to be done manually at this point. https://github.com/aspnet/Announcements/issues/212 covers the new Kestrel binding/configuration APIs. If you aren't doing SSL termination in Kestrel, you can continue to call WebHostBuilder.UseUrls() like you do in Kestrel 1.x.

[2017-07-31 20:42] raffaeler commented on #1851
Are you saying that everyone should craft his own config file, or that something will come in the 2.0 RTM?

[2017-07-31 22:12] halter73 commented on #1851
@raffaeler Correct. I know it's not ideal. We started work on this feature, but we had to cut it due to some design questions (https://github.com/aspnet/Options/issues/195). We don't want to release an API that we would have to break in the next version. We're now targeting the release of the feature for 2.1.

In the meantime, if you want to see how we were considering implementing it, so you can

[2017-08-01 07:41] aford22 commented on #1250
@halter73 Nuget tells me its v1.1.2

[2017-08-02 10:52] wdmeeste1 opened #1978 "Error -32 EPIPE broken pipe"
I am doing a post request with ajax that should return a partialview but I always get following error in log:

    Connection id "0HL6PHMI6GKUP" communication error.
    Microsoft.AspNetCore.Server.Kestrel.Internal.Networking.UvException: Error -32 EPIPE broken pipe

When looking at the debug log, I see that it is loading the partialview data but than I get the error.

I can't find anything on the

[2017-08-02 16:05] raffaeler commented on #1851
I ended up writing this code to load the configuration from file:

The changes to **Program.cs**:
[code]
where SetHost is the following method ("RafHost" is the configuration section):
[code]

The configuration in **appsettings.json** is the following:
[code]

and finally the **configuration classes**:
[code]

I hope this can help someone.

[2017-08-03 00:59] halter73 commented on #1978
The "communication error" usually comes in ECONNRESET, EPIPE, and ECANCELED varieties. Which one you get usually just depends on which platform you're running on, but all three generally mean the same thing: that the client closed the connection ungracefully.

I have a theory why this is happening. I think that the page might be getting reloaded because you aren't returning false from your jQuery

[2017-08-03 09:51] markvincze commented on #1260
Hi @pakrym,

Do you have any hints how to avoid this problem? We are running some ASP.NET Core APIs in docker images (based on Debian), and they all have a constantly increasing memory usage, even in our development and staging environments, where they are—except for health check calls—basically idle.

We are seeing memory usage patterns like these (these are from 2 different APIs, and they are co

[2017-08-03 10:03] markvincze commented on #1260
And just one additional piece of info: we have one single API which is not using C# and ASP.NET Core MVC, but it's using F# and Suave (although still on top of Kestrel and ASP.NET Core). And its memory usage is completely stable, even in production, where it has some (although not huge) load.

![image](https://user-images.githubusercontent.com/1122274/28916815-c48c7fda-7843-11e7-90f0-b3a1275f927d.

[2017-08-03 10:03] wdmeeste1 commented on #1978
return false seems to work!

Thank you very much for your help! ;)

[2017-08-03 10:04] #1978 closed

[2017-08-03 13:45] avezenkov commented on #1260
REOPEN!

[2017-08-03 14:21] CShepartd opened #1979 "Unhandled exception when closing SSE connection"
Hi,

When i close my SSE connection app throwing me exeption (project https://github.com/CShepartd/EventSourceDemo-master2). Problem showing on .Net Core 1.0 and 1.1

[code]

[2017-08-03 14:23] benaadams commented on #1979
The DeveloperExceptionPageMiddleware is writing the the headers but then dying because the response has already started

@halter73 similar issue to https://github.com/aspnet/Diagnostics/issues/401?

[2017-08-03 14:34] CShepartd commented on #1979
@benaadams But without diagnostics middleware it still throwing unhandled exception so i will reopen

[code]

[2017-08-03 14:46] benaadams commented on #1979
K, looks like is a bad interaction with MVC as you are returning [a string for MVC to output](https://github.com/CShepartd/EventSourceDemo-master2/blob/master/src/EventSourceDemo/Controllers/HomeController.cs#L56-L116) and it doesn't know you've been writing to the response.

What happens if you return a `Task` rather than `Task<string>`; i.e don't output something for MVC to then write to the str

[2017-08-03 14:50] CShepartd commented on #1979
Ouh, you have right. Big thx to help and closing

[2017-08-03 14:50] #1979 closed

[2017-08-03 18:51] halter73 commented on #1260
@avezenkov Feel free to open a new issue with more details. It should have information about what the project looks like. Is it a template project? If so, which one and did you make any modifications? If not, could you upload the project to a github repo? What packages and runtime are you using? At what rate is the memory growing? Which distro and version are you running on.

After the memory has

[2017-08-03 22:26] davidfowl opened #1980 "Project Bedrock"
## Project Bedrock

Project bedrock is about further decoupling the components of Kestrel so that we can use it as the foundation for our non-http networking stack.
We want to build on the primitives, patterns and cross cutting concerns that exist today in ASP.NET Core applications. The goal is to enable higher level frameworks (like SignalR or WCF and even ASP.NET Core itself) to build on top of

[2017-08-03 23:19] aL3891 commented on #1980
It would be really cool to have something equivalent to Transports on the client side as well, so that you could basically have a HttpClient but with a switchable underlying transport mechanism

[2017-08-03 23:52] dopare commented on #1980
@davidfowl what do you think about performance hit after introducing such an abstraction?

[2017-08-04 00:13] galvesribeiro commented on #1980
@davidfowl Great work! I only have a concern... Since the abstractions will not be aspnet-only, don't you think instead of using `Microsoft.AspNetCore.Sockets.Abstractions` we could use just `Microsoft.Sockets.Abstractions` for the core abstractions? I agree that Kestrel and AspNet abstractions should have the respective names, but I think those abstractions are very... Abstracted and like you men

[2017-08-04 01:29] dls314 commented on #1980
Similarly, Microsoft.AspNetCore.Sockets.Tls => Microsoft.Sockets.Tls would make sense, but I want the feature more than a name.

[2017-08-04 01:42] shaggygi commented on #1980
@davidfowl  What if we needed to read data from USB or serial ports instead of sockets, would that be a scenario where we would have to create a specific Transport?

[2017-08-04 01:50] galvesribeiro commented on #1980
@dls314

Me too. But I would like to have the package semantics more _clear_. Better to suggest it now then after the release :)

@shaggygi

I guess that is the purpose of the transports.

At least that is what I understood from this part:

[2017-08-04 06:29] vinhhrv commented on #1144
If you provide service for customers, and they allowed to insert javascript,
and If it accidentally inserts a unicode character.
then their customers will have problems forever.

critical problem. please hot fix

[2017-08-04 08:49] no1melman commented on #1980
Does that mean you could push message transport (msmq, rabbitMq, kafka) further down the stack?

[2017-08-04 09:01] davidfowl commented on #1980
@aL3891

I've been thinking about a client story as well that gels with this. SignalR has the beginnings of it, but I left it out of this spec.

@galvesribeiro

This is something we've struggled with in the past, but AspNetCore will mean more than just our existing HTTP stack, it's the server stack in general. We won't be putting anything in the root namespace (i.e. Microsoft.Sockets). Naming need

[2017-08-04 09:36] romans01 opened #1981 "NullReferenceException in UvWriteCb"
We are randomly getting NRE in UvWriteCb in Core 2.

Here are the logs:

dbug: Microsoft.AspNetCore.Mvc.Internal.ObjectResultExecutor[2]
      Selected output formatter 'Microsoft.AspNetCore.Mvc.Formatters.JsonOutputFormatter' and content type 'application/json' to write the response.
info: Microsoft.AspNetCore.Mvc.Internal.ObjectResultExecutor[1]
      Executing ObjectResult, writing value Micros

[2017-08-04 09:53] no1melman commented on #1980
I was just thinking that you could make the message queue as the transport, much like you would with signalR, then you're abstracted away from mechanism.

[2017-08-04 14:39] galvesribeiro commented on #1980
@davidfowl well, if now AspNetCore will become a reference to all the server technologies in .Net and not just web stack anymore, them I'm all for it! :)

[2017-08-04 14:46] wholroyd commented on #1980
I am thoroughly upset by the complete lack of Flintstones references in this issue.

[2017-08-04 15:13] benaadams commented on #1980
Async Serving Power

[2017-08-04 15:21] davidfowl commented on #1980
@no1melman

SignalR didn't make a message queue the transport, those were fundamentally different abstractions.

[2017-08-04 16:05] markrendle commented on #1980
@davidfowl

`Microsoft.AspNetCore.Bungholes`

[2017-08-04 16:25] NinoFloris commented on #1980
I really wouldn't mind a better name, shorter and without confusion to old full framework tech for AspNetCore. Especially if it's going to be the reference name for the server stack in general.

[2017-08-04 16:51] Eilon opened #1982 "413 Payload Too Large on ASP.NET 2.0"
_From @maroallegro on August 3, 2017 12:49_

WebApi created in .NetCore 2.0 by default references AspNetCore 2.0:

[code]

When we will not use IIS, but make startup project which starts WebApi:

[code]
it is impossible to send 60 MB file, because WebApi throws 413 Payload Too Large error.

Situation occurs despite of:
-changing `maxAllowedContentLength` in `web.config` to bigger value
-changing F

[2017-08-04 16:51] Eilon commented on #1982
_From @rynowak on August 4, 2017 14:45_

In 2.0.0 Kestrel enforces a maximum request size for security. This is in addition to the limits on form-data which we had in 1.1.0.

You can configure this globally - https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel.Core/KestrelServerLimits.cs#L152
Or on a specific action - https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc

[2017-08-04 17:47] mikeharder commented on #1955
Caused 2 failures of the Ubuntu mirror:

* http://aspnetci/viewLog.html?buildId=290526&tab=buildResultsDiv&buildTypeId=CoreCLR_Linux
* http://aspnetci/viewLog.html?buildId=290537&tab=buildResultsDiv&buildTypeId=CoreCLR_Linux

We need to prioritize fixing this test since it's causing slowdowns and manual work in build steps like the mirror.

[2017-08-04 18:10] Tratcher commented on #1982
https://github.com/aspnet/Docs/blob/8941d2a4f5a005d437df963e3af6fcac93b1cca2/aspnetcore/aspnetcore-2.0.md#maximum-request-body-size

[2017-08-04 19:33] halter73 commented on #1982
I created an announcement at aspnet/Announcements#267.

[2017-08-04 22:19] KPixel commented on #1980
Regarding the name, I agree that, considering how low-level and ubiquitous this API would be, removing "AspNetCore" is a good idea.

I think the most fitting keyword to describe it is "Network".
So, maybe Microsoft.Network?
Or just Microsoft.Net (like System.Net) but it sounds like "Microsoft .NET" :)

[2017-08-04 22:29] benaadams commented on #1980
Well... its wouldn't be strictly true the Transport abstraction is quite flexible; so you could write a stdin/out or filestream Transport and pipe to the program or read and write http from filestream. Or examples earlier it could be from usb or serial port...

[2017-08-04 22:32] aL3891 commented on #1980
Microsoft.Bedrock? :)
Its a cool name imo

Could also be Microsoft.Transport, also fits pretty well conceptually

[2017-08-04 22:40] KPixel commented on #1980
Network is also a fairly generic term outside of computer science. One of its definition is: "A group or system of interconnected people or things."
So, when you connect something with something else, you create a network.

[2017-08-04 22:41] dls314 commented on #1980
It may be nice to identify connections by T instead of string. Perhaps IConnectionIdFeature<T> w/ properly comparable T?

[2017-08-04 22:46] KPixel commented on #1980
My guess is that the ConnectionId is a string to simplify passing it around.
If you make it a T, you will also need to provide a Comparer (like you mentioned) but also a Serializer. That's a lot of complexity.
Can you give a compelling scenario where it would be much better to use something else than a string?

[2017-08-04 22:46] galvesribeiro commented on #1980
Make sense... Would avoid allocations with unnecessary `.ToString()` calls.

[2017-08-04 23:00] benaadams commented on #1980
`Socket` generally has a very focused use; could it be more general like `Connection`? (Also matching the `ConnectionContext`) of which `Socket` can be of of the many Connection types.

e.g.
[code]

[2017-08-04 23:08] shaggygi commented on #1980
I like @benaadams Connection suggestion.  What about namespace System.IO.Connection?

[2017-08-04 23:10] dls314 commented on #1980
I'm not sure I can. My thought is that the connection id might often be used as a hash key and with some T you could get away without a `string.GetHashCode` call.

If not T how about going to int?

[2017-08-04 23:15] dls314 commented on #1980
Avoid the eponymous namespace's class ambiguity with System.IO.Connections?

[2017-08-04 23:18] galvesribeiro commented on #1980
and

If you are going to use a Hash function with this value and you are using your own type as the Id, is your responsibility to override `GetHashCode()` like in everywhere else you would and want to avoid collisions. I don't see why we need enforce an `string`, `int`, or whatever type.

Why don't let the user use whatever type they want?

[2017-08-04 23:21] galvesribeiro commented on #1980
Also yeah, @benaadams suggestion looks great. By using `Socket` the user expect a very specific semantics while `Connection` is more abstract and fits better with the context of those abstractions.

[2017-08-04 23:58] aL3891 commented on #1980
One could argue that byte[] would be better in some cases like when you're dealing with ip addresses, if not T, maybe that's an option

[2017-08-05 00:25] Eilon commented on #1981
@halter73 - please take a look. Others - please discuss with me directly.

[2017-08-05 00:27] benaadams commented on #1980
`T ConnectionId` makes it a bit generically nasty

[code]
Also there is no compile time enforcement making the `T` in `IConnectionIdFeature` agree with anything else; even though you now need it everywhere?

[2017-08-05 00:33] Drawaes commented on #1980
Also "other things of t" can be added via features like IIPAddressFeature

[2017-08-05 00:58] davidfowl commented on #1980
It's going to be a string.

[2017-08-05 01:21] KPixel commented on #1980
If IConnectionTransportFeature and IConnectionIdFeature are required features of ConnectionContext, why duplicate the properties ConnectionId and Transport?

[2017-08-05 01:24] davidfowl commented on #1980
See the design of `HttpContext`. The properties that are hoisted to the top level are the most commonly used one that will apply to *most* connection implementations. It's a convenience, nothing more.

[2017-08-05 01:31] davidfowl commented on #1980
@
NinoFloris

You meant for ASP.NET not, AspNetCore right? There's a point where you end up going from pure connection abstraction to ASP.NET Core's http stack (see the "ASP.NET Core HTTP running inside of ASP.NET Core Sockets" sample). What would you call the bridge package that is the HTTP "connection" middleware.

Maybe a brand name would solve the naming problem 😄.

@benaadams

I like it. I'm

[2017-08-05 01:36] benaadams commented on #1980
Also makes it simpler to work with [Activity](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/ActivityUserGuide.md) of System.Diagnostics e.g. [HttpCorrelationProtocol](https://github.com/dotnet/corefx/blob/master/src/System.Diagnostics.DiagnosticSource/src/HttpCorrelationProtocol.md); `byte[]` you'd have realloc back to string

[2017-08-05 01:52] benaadams commented on #1980
Its the interpreting layer, maybe:

`Microsoft.AspNetCore.Protocols`?

`Microsoft.AspNetCore.Protocols.Http1` - Specific Http1, Http1.1 protocol
`Microsoft.AspNetCore.Protocols.Http2` - Specific Http2 protocol
`Microsoft.AspNetCore.Protocols.Http` - Merged Http1+2 (negotiated)
`Microsoft.AspNetCore.Protocols.Tls` - TLS SocketDelegate middleware

[2017-08-05 01:56] davidfowl commented on #1980
`Microsoft.AspNetCore.Protocol.Abstractions`
`Microsoft.AspNetCore.Protocol.Http`
`Microsoft.AspNetCore.Protocol.Tls`

[2017-08-05 03:06] halter73 commented on #1981
Hi @romans01, can you please email me at the email address listed on my GitHub profile? We might want to keep some of the details of this issue private until we get a fix.

I mostly interested in whether you can provide me with the source for your app or a similar app that fails in the same way. It would also be good to know how frequent this kind of crash is, if you can reproduce it reliably, and

[2017-08-05 11:32] NickCraver commented on #1980
@davidfowl I like that layout the best of all, but for consistency I think it should be "Protocols", like most other namespaces, e.g.

`System.Collections`
`System.DirectoryServices.Protocols`
`System.Web.Services.Protocols`

Some of the new libs have Protocol *at the end*, for a Protocol space for a singular purpose, but if we're going to have many here: plural feels far more correct to me. List

[2017-08-06 17:58] NinoFloris commented on #1980
@davidfowl yes I meant ASP.NET is getting pretty overloaded. What's the actual web framework part of it called these days? `The ASP.NET Core 2.0 Web Framework`?

Doing a search for ASP.NET 2.0 is great archaeological fun though:
https://www.google.com/search?q=asp.net+2.0

It bothers me the name ASP.NET Core is 2 parts platform identifier (.NET and Core) and just one part 'product name' which inst

[2017-08-06 18:03] avezenkov commented on #1260
@halter73 I see. Thanks for your efforts. I'll try to isolate the problem and describe the details, upload a demo project etc. Net core is our hope for a minimal, modular, stable, multiplatform framework.

[2017-08-06 18:06] avezenkov commented on #1260
@halter73 And thanks for the linux debugging guides. I'll create a new issue once I have more details.

[2017-08-06 18:15] davidfowl commented on #1980
Sure, file an issue on aspnet/Home, but I gotta be honest, I'm not sure it'll change anything. The fact that ASP.NET Core is even called ASP.NET Core should be a clear sign of that. It's possible we could move some things under the `Microsoft.Extensions` umbrella since there's other prior art for that.

[2017-08-06 18:37] NinoFloris commented on #1980
I won't have any illusions ;) I know a name change is never going to happen, all I'm asking for is a bit more specificity underneath that bulging umbrella.

[2017-08-06 19:00] KPixel commented on #1980
Maybe ASP.NET (Core) can stay as the umbrella name, but assemblies can be called differently. Kestrel is a good example of that.

It is just difficult to find names like that, so you may end up defaulting to Microsoft.AspNetCore.XXX as a safe choice.

But I'm all for these unique names. They are distinctive and easy to research/reference.

[2017-08-06 19:01] davidfowl commented on #1980
No disagreement there.

Likely, the latest suggestion of Protocols is what I like the most so far.

[2017-08-06 19:19] wholroyd commented on #1980
I don't see any issue with the kestrel stuff continuing to remain in the AspNetCore nomenclature as it's very much owned by the ASP.NET team and part of their platform. This change might decouple the components of Kestrel a bit more to add another layer of abstraction, but it's still very much rooted in the same team/platform.

I see the Microsoft.Extensions nomenclature being something that spans

[2017-08-06 19:38] davidfowl commented on #1980
Microsoft.Extensions.Hosting *is* coming. But that's another spec and another code name (if I can think one up). See the tease as part of the 2.0 release https://github.com/aspnet/Hosting/tree/dev/src/Microsoft.Extensions.Hosting.Abstractions

[2017-08-06 19:46] davidfowl commented on #1980
I've updated the spec with the new names.

[2017-08-06 20:14] shaggygi commented on #1980
@davidfowl for hosting project codename/spec, I like Project Hostess. As in [Hostess CupCake](https://en.wikipedia.org/wiki/Hostess_CupCake) 😄

[2017-08-06 20:15] wholroyd commented on #1980
Where can I find the spec?

[2017-08-06 21:05] KPixel commented on #1980
Based on the description: "OWIN for Connections", what about calling this OCIN?
"Open Connection/Communication Interface for .NET"?
Namespace: Microsoft.Ocin.

[2017-08-06 21:06] davidfowl commented on #1980
I almost left that part out but thought it was a good analogy. I'd rather not call it OWIN because ASP.NET Core has abstractions that aren't OWIN, and it'll be the same for this.

[2017-08-06 21:14] KPixel commented on #1980
But I suggested "OCIN", that's a different name :)

[2017-08-06 21:17] davidfowl commented on #1980
ONIN sounds better but I still don't like the connotation.

[2017-08-07 00:17] Carl-Hugo commented on #1980
@davidfowl

We are talking about different kinds of client-server communication, so why not `Microsoft.AspNetCore.Communication`.

[2017-08-07 11:09] mnns commented on #1980
Hi, you mentioned libuv/IOCP and obviously plain old socket, are you thinking of using RIO?

Also, haven't heard anything about HTTP2. It is must have IMO. We are already late with the support for it.

Thanks.

[2017-08-07 13:56] aL3891 commented on #1980
@mnns  that is in the works, (though no official time plan) check out https://github.com/dotnet/corefxlab/tree/master/src/System.IO.Pipelines.Networking.Windows.RIO

[2017-08-07 19:39] halter73 commented on #1980
@wholroyd What kind of abstractions do you want to better support systemd/upstart?

We have [a guide](https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction#monitoring-our-application) that demonstrates how to use systemd to keep your asp.net core app running and manage logs. In 2.0.0, we added [KestrelServerOptions.UseSystemd()](https://github.com/aspnet/Announcements/issues/212)

[2017-08-08 17:45] Drawaes opened #1984 "How will rate limit take into account something like TLS?"
If there is a rate limit of say 1k per 5 seconds, TLS could require 16k before it can pass down the frame to Kestrel. Therefore Kestrel may assume that the client is not sending any data for 16 seconds and kill it but the client maybe sending at the correct rate. On a mobile connection this could be an issue.

My question is really, is it possible (or does it already) count data at the socket or d

[2017-08-08 18:17] Eilon commented on #1897
@moozzyk / @muratg - I'm looking at patch candidates but for this bug I can't remember why I opened it (or its companion bug for 1.0.x). I'm looking at the commits for libuv for 1.9.2 at https://github.com/aspnet/libuv-package/commits/1.9.2 but nothing strikes me as "important" or "better."

Do you have any idea why we'd update libuv from 1.9.1 to 1.9.2 in a patch?

[2017-08-08 18:21] muratg commented on #1897
I don't remember why we had these, perhaps we did the update in 2.0.0 branch and decided to take it in 1.x as well?

I'm OK with not taking these in the current patch releases unless @moozzyk has a good reason to take these in.

[2017-08-08 22:24] Eilon commented on #1897
Talked to @moozzyk and we need to take this.

[2017-08-09 13:47] Mattacks opened #1986 "Question: Reset/forward body stream"
In a scenario where I have a server reading data from the POST body, and then upon some algorithm forwarding that to a second HTTP POST, I would like to be able to forward the whole buffer in the body without reading it first.

IE to read some bytes from the stream, then send the whole stream to another server.

Is this possible? I do not see how today because I cannot seek back to the beginning.

[2017-08-09 14:21] Tratcher commented on #1986
Seeking isn't possible, you'd need to add your own buffering layer.

[2017-08-09 17:45] wholroyd commented on #1980
@halter73 Wasn't aware of `KestrelServerOptions.UseSystemd()`. The part I was referencing was the fact that there is a service host (at https://github.com/aspnet/Hosting/blob/dev/src/Microsoft.AspNetCore.Hosting.WindowsServices/WebHostService.cs), but it's framework specific (`IWebHost`) and it's using `ServiceBase` (Windows).

I like the hosting entrypoint concept used in the library, I just wish

[2017-08-09 19:25] Mattacks commented on #1986
I only want to seek back to zero.
The whole point is to not add the overhead of a buffering layer - I just want to pipe it straight through after having peeked at a few bytes

[2017-08-09 19:29] Drawaes commented on #1986
https://github.com/Drawaes/CondenserDotNet/blob/master/src/CondenserDotNet.Middleware/ProtocolSwitcher/BackToBackStream.cs

Something like but buffering more than 1 byte?

[2017-08-09 19:30] Drawaes commented on #1986
By definition you will have to buffer the bytes you have read in any solution. But after that just pass the stream data through

[2017-08-09 19:35] halter73 commented on #1980
I think that makes sense. Implementing methods like `ServicBase.OnStop` or `IHost.OnStop` seems a lot easier than writing stuff [like this](https://github.com/aspnet/Hosting/blob/15008b0b7fcb54235a9de3ab844c066aaf42ea44/src/Microsoft.AspNetCore.Hosting/WebHostExtensions.cs#L116-L144) yourself.

[2017-08-09 19:49] wholroyd commented on #1980
I can open an issue to request it. Should it go to dotnet/netstandard?

[2017-08-09 19:59] davidfowl commented on #1980
@wholroyd give it a few days. I'm going to publish a spec soon.

[2017-08-10 09:33] Mattacks commented on #1986
The BackToBack stream is perfect inspiration, thanks

[2017-08-10 09:33] #1986 closed

[2017-08-10 16:55] Tratcher commented on #736
.NET 4.6.1: https://msdn.microsoft.com/en-us/library/system.security.authentication.extendedprotection.tokenbinding(v=vs.110).aspx
Not net available on .NET Core.

[2017-08-10 17:39] markvincze commented on #1260
Btw. I have some new information about our experience, I'll share it for future reference, or to see if someone might have an idea about it.

It seems that the APIs we have don't increase their memory usage infinitely, it's just that their usage is unexpectedly high. We are running these APIs in Kubernetes in Google Cloud. Previously we had their memory limit set to 500MB, and they were exceeding

[2017-08-10 18:12] cesarbs opened #1988 "Add response minimum data rate"

[2017-08-10 18:13] cesarbs commented on #1988
https://github.com/aspnet/KestrelHttpServer/pull/1939

[2017-08-10 18:13] #1988 closed

[2017-08-10 19:46] benaadams commented on #1260
Sounds like the memory cap on the container is not being communicated to the GC? (So it goes over 500MB thinking it has more?)

[2017-08-10 20:14] markvincze commented on #1260
@benaadams I was thinking about that.

In Kubernetes the specified memory limit is passed to Docker in the `--memory` flag, so when we used 500MB as the Kubernetes limit, that should've affected the Docker image.
And I've tried locally running this API with Docker and passing in `--memory 100M`, then the app nicely stayed exactly under 100MB and was still working fine. (And if I did `--memory 4096

[2017-08-10 20:16] muratg commented on #736
cc @cesarbs

[2017-08-10 20:20] xperiandri commented on #1851
So what to do to make this work?
`dotnet run --server.urls="https://*:44396;http://*:28187"`

[2017-08-10 20:31] Drawaes commented on #1260
I presume docker locally and on the cloud test are x64 so I will ignore that for now. What is the reported core count in both local and remote tests? It has a decent impact on memory held by the GC

[2017-08-10 20:39] raffaeler commented on #1851
@xperiandri I believe you will have to parse the command line in `Program.cs`, `Main method` as i did for the configuration file.
My suggestion is to pass the configuration file name in the command line, and then load the urls (and certificate filename) from the configuration file. Also, remember not to store the password in clear text.

[2017-08-10 20:44] davidfowl commented on #1260
The change was here https://github.com/dotnet/coreclr/pull/10064

[2017-08-10 20:55] los93sol commented on #1851
I hate to be rude about it, but this is absolutely ridiculous!  The majority of people are already using UseUrls for it's simplicity and are not going through the hassle of manually binding their endpoints.  Security should be in place by default, not some obscure convoluted implementation!

[2017-08-10 20:57] davidfowl commented on #1851
You don't have to parse anything. It's very simple:

[code]

Now hosting will also read configuration from the command line.

[2017-08-10 21:01] los93sol commented on #1851
I really don't get why  UseHttps was moved out of KestrelOptions and into ListenOptions...it makes literally zero sense to do it that way

[2017-08-10 21:02] los93sol commented on #1851
Can all interfaces at least be bound with 0.0.0.0?

[2017-08-10 21:07] raffaeler commented on #1851
@davidfowl you are confusing me now :)
What about the config files I asked previously in this thread? I had to write a custom support and @cesarbs stated «you can only set up HTTPS endpoints via the new APIs». I understand "no command line, no config files for https".
What about a good old documentation page with details on configuring http *and* https via
- command line
- config files
- coded con

[2017-08-11 11:43] hultqvist opened #1992 "Allow Visual Studio to break on unhandled exceptions"
Usually Visual Studio breaks on unhandled exceptions.

When running Kestrel any exceptions in code serving HTTP requests appear to be caught by Kestrel and reported to the console.

`Err.
        [Microsoft.AspNetCore.Server.Kestrel] Connection id "0HL70LNDQA2FS": An unhandled exception was thrown by the application.
        C:\Users\my\Source\bin\Debug\net461\win7-x86\Microsoft.Extensions.Logging

[2017-08-11 12:21] xperiandri commented on #1851
@davidfowl, doesn't work
args are empty

[code]

[code]

[2017-08-11 12:54] ili opened #1993 "Deadlock on shutdown"
Hello.

The problem is - `dotnet.exe` hangs on shutdown after loading Angular application

How to reproduce:
1. `dotnet new angular`
1. open in VS2017 and start via IIS
1. after application starts do some job (click Increment in Counter, fetch some data, and again)
1. close browser
1. if nothing happens, do it one more time
1. application hangs

The problem is this happens not only with IIS Expres

[2017-08-11 13:07] xperiandri commented on #1851
This finally reads URLs but crashes too
[code]
[code]

[2017-08-11 14:06] Tratcher commented on #1992
Unhandled exceptions are the ones that cause your process to crash. We don't want the webserver to crash. First chance exceptions are your best option.

[2017-08-11 14:12] Tratcher commented on #1992
@halter73 @shirhatti There have been multiple asks for this. What if we added `if (Debugger.IsAttached) Debugger.Break()` to the root exception handler in Kestrel and HttpSys? That would simulate the behavior. The downside is you couldn't control it from VS settings. I wonder if VS has an environment variable that could control this?

[2017-08-11 15:11] davidfowl commented on #1993
I have a few questions:

- Is this using IIS on a non-windows server machine?
- Does it repro if you use Kestrel directly?

[2017-08-11 15:45] davidfowl commented on #1851
@raffaeler Sorry, I misread that HTTPS URL in the configured URLs.

HTTPS can't be configured this way. It requires server specific configuration.

@cesarbs do we have a reference to the config schema supported by kestrel for configuring HTTPS urls?

[2017-08-11 17:50] shirhatti commented on #1992
IMO, that would be a deal breaker.

[2017-08-11 18:17] xperiandri commented on #1851
https://docs.microsoft.com/en-us/aspnet/core/security/https
So, this tutorial is no longer valid?

I use this configuration for development
[code]

[2017-08-11 18:24] raffaeler commented on #1851
@xperiandri according to what has been already said on this thread, the answer is no.
They removed the config-based configuration for https. The code I posted is the one I am currently using to  workaround the removed feature.

[2017-08-11 18:27] halter73 commented on #1851
@davidfowl There is no config schema supported by Kestrel for configuring HTTPS URLs. See https://github.com/aspnet/KestrelHttpServer/issues/1851#issuecomment-319211628

[2017-08-11 18:29] xperiandri commented on #1851
So I just want to launch my app from command line with development environment settings and development HTTPS certificate

[2017-08-11 19:03] Tratcher commented on #1290
Reopening as default config was cut from 2.0.

[2017-08-11 19:04] Tratcher commented on #1290
Note the https config experience regressed in 2.0: https://github.com/aspnet/KestrelHttpServer/issues/1851

[2017-08-11 19:08] natemcmaster commented on #1926
Happened again: http://aspnetci/viewLog.html?buildId=298006&tab=buildResultsDiv&buildTypeId=CoreCLR_Windows

[2017-08-11 19:13] xperiandri commented on #1851
Did you named section `RafHost` not to conflict with `Kestrel`? Does it crash if `Kestrel` section present?

@raffaeler, I don't know why but it does not work.
I copied the code you mentioned to a separate assembly and updated my Program.cs this way

[code]

[2017-08-11 19:47] xperiandri commented on #1851
I can't figure out what is wrong
[code]

[2017-08-11 20:04] raffaeler commented on #1851
@xperiandri Your bootstrap is very long. I suspect you are calling UseKestrel too late.
The SetHost method is just a way to configure Kestrel:
`private static void SetHost(Microsoft.AspNetCore.Server.Kestrel.Core.KestrelServerOptions options) { ... }`

Could you please try with a brand new aspnetcore 2.0 project? I confirm that is working for me.

With regards to the `RafHost` section, it is not e

[2017-08-13 12:52] markvincze commented on #1260
Hi @Drawaes,

I tried printing `Environment.ProcessorCount` on all environments, I see the following:

 - On my machine, just doing `dotnet run`, the value is `4`.
 - On my machine, with Docker, it's `1`.
 - On Google Cloud Kubernetes it's `8`.

Can this cause the issue? Is there any other diagnostics I should print?

Btw. what I tried in the meantime is to use different base Docker images. Origin

[2017-08-13 12:54] shaggygi commented on #1980
@davidfowl do you think the Kestrel GitHub repo will be renamed to just KestrelServer after the new abstraction stuff is released?

[2017-08-13 13:08] Drawaes commented on #1260
This makes a big difference. By default asp.net core runs on the server GC. This tends to allow memory use to grow a lot more, preferring throughput over memory use. However it doesn't matter what you set the garbage collector to (workstation or server) it will go to workstation mode if there is a single CPU. Try forcing your app to workstation and re-running on google cloud, or resource limiting

[2017-08-13 13:11] Drawaes commented on #1260
For your reference for the difference between the server and workstation GC just look at the size of the ephemeral segments it allocates.

Your docker because of the single cpu will have the Workstation one running, and the google cloud one the Server one running with the category > 4 cpus (2gb). Using workstation GC on multi procs will use a bit more cpu but will keep your memory use lower (more

[2017-08-13 13:35] benaadams commented on #1260
The container memory cap was merged 23 Mar 2017
1.1.0 was released 16 Nov 2016

Guess you might have to use Net CoreApp 2,0 to have the the caps work?

[2017-08-13 13:52] Drawaes commented on #1260
Sure, but the behaviour was okay on containers locally, where it was a single cpu, but not on the google containers where there were 8 "cpus" visible to the container

[2017-08-13 14:32] markvincze commented on #1260
@Drawaes @benaadams,

Thanks a lot for the help guys, I didn't know about the difference the number of CPUs cause.
I'll try the csproj change first, and then also an update to 2.0 preview, I'll keep this thread updated how it went.

Btw. @Drawaes if I understand correctly the problem might be that in Google Cloud, .NET is using the Server GC, thus allocating much more memory. And what I'd have to

[2017-08-13 14:33] Drawaes commented on #1260
Yes sorry... it should be false... typo :) good luck and tell us how you get on for sure

[2017-08-13 20:12] markvincze commented on #1260
@Drawaes,

The change to workstation GC seems to have helped! This is what the memory usage looks like after the deployment.

![image](https://user-images.githubusercontent.com/1122274/29252992-dfc812be-8072-11e7-8e11-c4e9fbfab63a.png)

Btw. before doing the csproj change, I printed `System.Runtime.GCSettings.IsServerGC`, and I got `true` on all environments (locally debugging with VS, locally run

[2017-08-13 21:08] benaadams commented on #1260
Users allocate, GC doesn't 😉

I'd phrase it more as
* Server GC trades memory in favor of throughput; you will have a lower max (app) throughput with Workstation GC - but use less memory
* .NET 1.1 does not adhere to the memory limits set by the *docker container*, this is fixed in 2.0

This might be a good primer to show the difference if you want to go deep: https://blogs.msdn.microsoft.com/sete

[2017-08-14 05:49] ili commented on #1993
This happens on Windows 10 & Windows Server 2012 in my case.

If I do use `dotnet run` for my application and then stop it using `Ctrl+C` everything looks alright. But I'll do more experiments and will report you.

Sorry I was not enough clear. Hung happens tot always, I'm my case I do have 80% chance of hang. So the meaning was: "if hung does not happen, please retry`

dotnet.exe hangs

[2017-08-14 06:02] davidfowl commented on #1993
@ili I don't quite understand the problem but I might be missing something. With your repro steps, I don't get what the expected behavior is.

When you're running locally with IIS Express, how did you end the process?

[2017-08-14 09:34] ili commented on #1993
@davidfowl Visual Studio terminates process after "Stop Debugging in Process..." window, or I can terminate it with VS "Stop Debug" button.

[2017-08-14 13:02] markvincze commented on #1260
@benaadams thanks for the clarification!

Just a quick update: I also deployed to production, where the API has some load (~2 requests per second), and the memory usage seems to be stable so far:

![image](https://user-images.githubusercontent.com/1122274/29272698-80508084-8101-11e7-9aa7-929cda331c8c.png)

[2017-08-14 13:35] Drawaes commented on #1260
I am not 100% sure that server GC with 8 cores but a 1gb limit is ever a good idea. The core to memory ratio is out of wack. You get heaps per core in server gc.

[2017-08-14 13:58] JorritSalverda commented on #1260
I'm trying to figure out if the cpu limit in Kubernetes actually limits the amount of cores it runs on or is just a cap on how much time a process is allowed to spend on all cores of the host combined.

The particular application @markvincze mentions has a Kubernetes resource limit of 250m, which is a quarter of a core. However the host is an 8-core machine, hence the `Environment.ProcessorCount`

[2017-08-14 14:14] Drawaes commented on #1260
It will be treated as 8 core. The issue is 8 core with 1gb of ram. You have 125mb per core and with the server gc that is never going to be a good situation. I would recommend the workstation GC always in that scenario.

[2017-08-14 19:21] benaadams commented on #1260
@markvincze .NET Core 2.0 which has the fix has just been released https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-core-2-0/

(Also ASP.NET Core 2.0 has also just been released https://blogs.msdn.microsoft.com/webdev/2017/08/14/announcing-asp-net-core-2-0/)

[2017-08-14 19:30] markvincze commented on #1260
@benaadams thanks for the info! (I'm working on upgrading my API already 🙂)

[2017-08-15 09:32] mahdi opened #1997 "How to use custom domains with Kestler on a dev machine"
Is it possible to use custom domains (e.g.: http://mydomain.dev) instead of http://localhost:XXXXX in Kestler. Something like this in IIS and ASP.NET MVC 4: [https://stackoverflow.com/a/21407121/27946](https://stackoverflow.com/a/21407121/27946)

P.S. I'm using Visual Studio for Mac and ASP.NET Core 1.1.

[2017-08-15 13:18] NinoFloris opened #1998 "Any new steps to take before dotnet run --urls "http://localhost:5001" would work?"
So docs and a lot of places reference this `dotnet run --urls "http://localhost:5001"` as the way to be able to change the listening address via command line. However it does not seem to work at all.

We're using `WebHost.CreateDefaultBuilder(args)` so we do include the commandline configuration provider. It should just work then right?

[2017-08-15 16:07] Mookker commented on #1260
Hello @markvincze! Did
`<PropertyGroup>
    <ServerGarbageCollection>false</ServerGarbageCollection>
</PropertyGroup>`

Helped in 1.1.0 or you had to upgrade to 2.0?

[2017-08-15 16:12] Drawaes commented on #1260
It helped according to his report back.

[2017-08-15 16:14] Mookker commented on #1260
@Drawaes thank you, will try it

[2017-08-15 16:18] natemcmaster commented on #1997
Kestrel doesn't bind to specific domains, only network interfaces on the machine. Our docs contain examples of how to bind to a public IP address instead of localhost (aka loopback). In 1.1, this is usually done by calling `.UseUrls("http://+:80")` on WebHostBuilder.

See https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel for more details.

[2017-08-15 16:29] markvincze commented on #1260
@Mookker,

Yes, it helped. Since then I upgraded to 2.0, but I still had to keep `<ServerGarbageCollection>false</ServerGarbageCollection`, otherwise the memory usage was still very high.

[2017-08-16 11:37] tmds commented on #1260
Detecting docker memory limit is in 2.0 (https://github.com/dotnet/coreclr/commit/b511095cb37ce2e363ab55740960e7f610a9220d)
Detecting docker cpu limit isn't in 2.0 (https://github.com/dotnet/coreclr/commit/df214e67d3cbccb42d2733f4cbe8097a378a731a).

[2017-08-16 15:10] Drawaes commented on #1260
The memory limit was potentially an issue, but I think google was actually reporting 8 cores to the container. If that is the case then the server GC is never going to be comfortable with 500mb memory limit. Would be interesting to hear back what the Environment reports for CPU count now.

[2017-08-16 22:57] halter73 commented on #1998
Thanks for the report. To use the --urls command line args, you can change the `BuildWebHost` method from the new 2.0 templates to look like the following:

[code]

The args passed to `WebHost.CreateDefaultBuilder(args)` are used to populate the `IConfiguration` object you can dependency inject into your application classes such as `Startup`. E.g:

[code]

The above would print `Configuration["url

[2017-08-16 23:04] halter73 commented on #1998
I'm closing this since I created aspnet/MetaPackages#221 to track progress on making this work out of the box in future versions.

[2017-08-16 23:04] #1998 closed

[2017-08-17 09:01] ili commented on #1993
Getting back to the issue: after few days of experiments I can say that it is heisenbug.

In general I can say that something prevents `dotnet.exe` from normal shutdown.

The thing happens on my server is:
1. Before deploy I do copy `app_offline.htm` into application's root
1. IIS shows me `app_offline.htm` when I'm looking at my app from browser
1.  But `dotnet.exe` does not shut down. So I shoul

[2017-08-17 11:02] ethanliew commented on #639
dotnetcore 1.1

 public class Program
    {
        public static void Main(string[] args)
        {
            BuildWebHost(args).Run();
        }

        public static IWebHost BuildWebHost(string[] args) =>
            WebHost.CreateDefaultBuilder(args)
                .UseStartup<Startup>()
                .UseUrls("http://0.0.0.0:1234") // change your custom port
                .Build();

[2017-08-17 12:08] indikaudagedara opened #2002 "Not closing connections and FIN with status -107"
While doing a load test on an AspNet.Core 1.0 application running on Ubuntu 16.04 behind nginx I noticed # of connections opening (pattern `Connection id.*started` in the logs) but not all of them are closing (pattern `Connection id.*stopped` in the logs) - at the same time I started seeing db connections breaking. This is what prompted me to look at the connection open/close as only one of the lo

[2017-08-17 18:49] halter73 commented on #2002
Can you explain what this has to do with db connections breaking? I don't see how that's related.

The -107 status uppon sending a TCP FIN typically means that the client disconnected prior to the server's attempt to gracefully close the connection. The 107 status means ENOTCONN (Transport endpoint is not connected) comes from [errno.h](https://github.com/torvalds/linux/blob/99f781b1bfc199ec8eb86d

[2017-08-18 04:44] indikaudagedara commented on #2002
Thanks @halter73

This is actually what I'm trying to find out. DB connection breaking is the symptom I'm investigating. For some reason the connections start to break in one server (have multiple servers running the same application in a load balanced env). I see everything else normal - network, cpu, memory all fine - no network connectivity failure and can see packets in/out in the same rates a

[2017-08-18 06:52] davidfowl commented on #1980
@shaggygi sure

[2017-08-18 09:43] benaadams commented on #1260
@markvincze does it hit the memory threshold with 2.0 and get restarted or just use all the memory with 2.0? Hopefully it doesn't hit it; forcing a restart (prob via `OutOfMemoryException`).

[2017-08-18 16:24] ryanbrandenburg commented on #1927
Another repro http://aspnetci/viewLog.html?buildId=306862&buildTypeId=CoreCLR_Linux&tab=buildLog&_focus=16880

[2017-08-18 17:14] xavierjohn opened #2005 "How to set ClientCertificateMode in core 2.0?"
What is the equivalent to this in 2.0?
[code]

The functional tests use a constructor that is marked internal so I can't use it.

[2017-08-18 17:19] xavierjohn commented on #2005
Is this the correct code for 2.0?
[code]

[2017-08-18 19:07] muratg commented on #1270
@cesarbs It looks like this is reproducing still. Please take a look.

[2017-08-18 19:08] muratg commented on #1319
@pakrym Closing this one, as no more investigation is planned in 2.1.

[2017-08-18 19:08] #1319 closed

[2017-08-18 19:14] muratg commented on #1360
Closing this as we plan to move to Sockets transport in 2.1.

@DamianEdwards, reactivate if you'd like to keep this open!

[2017-08-18 19:14] #1360 closed

[2017-08-18 19:15] #1464 closed

[2017-08-18 19:15] muratg commented on #1464
Client disconnects cause this error.

[2017-08-18 19:19] muratg commented on #1593
We don't plan to do this. Eventually the middleware could be made to expose pipelines.

[2017-08-18 19:19] #1593 closed

[2017-08-18 19:23] muratg commented on #1662
For 2.1. the plan is to finish the work.

[2017-08-18 19:35] muratg commented on #1720
@cesarbs Did you get a chance to investigate this one?

[2017-08-18 19:44] muratg commented on #1796
@davidfowl claims to have fixed this one.

[2017-08-18 19:44] #1796 closed

[2017-08-18 19:49] muratg commented on #1802
@stephentoub Any thoughts if this is an issue with SslStream?

[2017-08-18 19:50] muratg commented on #1809
@jkotalik Please ping @halter73 for this.

[2017-08-18 19:51] muratg commented on #1813
Not needed anymore.

cc @davidfowl may need to be careful with the bedrock work

[2017-08-18 19:51] #1813 closed

[2017-08-18 19:51] muratg commented on #1837
@cesarbs *ping* :)

[2017-08-18 20:00] muratg commented on #1879
This issue was moved to aspnet/AspNetCoreModule#136

[2017-08-18 20:02] muratg commented on #1880
@javiercn Any chance you can take this one?

cc @Eilon

[2017-08-18 20:03] #1881 closed

[2017-08-18 20:03] muratg commented on #1881
We have some tests doing this.

[2017-08-18 20:05] muratg commented on #1882
@danroth27 assigning this to you to make a decision on this one.  If these's an important scenario that requires this, please let me know.  Otherwise please close this  one.

[2017-08-18 20:07] muratg commented on #1887
Hi Saul -- did you figure out what the issue was?

[2017-08-18 20:10] muratg commented on #1946
No plans to implement this in 2.x

[2017-08-18 20:10] #1946 closed

[2017-08-18 20:10] muratg commented on #1955
@cesarbs please take a look.

[2017-08-18 20:17] sbreed commented on #1887
I did not, so I changed the architecture of the website.  Now, I'm checking the URL and adjust it there accordingly.

Saul

________________________________
From: Murat Girgin <notifications@github.com>
Sent: Friday, August 18, 2017 1:07 PM
To: aspnet/KestrelHttpServer
Cc: sbreed; Author
Subject: Re: [aspnet/KestrelHttpServer] Running Two Kestrel Processes Through Proxy -- Killed (#1887)

Hi Saul

[2017-08-18 21:36] halter73 commented on #2002
It's possible that the cause and effect are reversed. If the db connections are failing after a timeout, it's possible that that explains the long-running request and in turn the -107 status.

[2017-08-18 21:41] markvincze commented on #1260
@benaadams After upgrading to 2.0, if I switch to Server GC, it still runs over the limit and gets restarted. For example with setting the limit to 300MB it looks like this (graph is a bit flaky):

![image](https://user-images.githubusercontent.com/1122274/29478627-173fc6c0-846e-11e7-8c3a-05da384519ec.png)

[2017-08-18 21:46] benaadams commented on #1260
Probably should raise an issue in https://github.com/dotnet/coreclr about that

[2017-08-18 21:51] halter73 commented on #2005
@xavierjohn The code in your second comment looks correct. aspnet/Announcements/issues#212 goes into more detail about the breaking change.

[2017-08-18 21:58] halter73 commented on #1882
We should probably merge this with #1290.

[2017-08-18 22:39] markvincze commented on #1260
The interesting thing is that I can't reproduce the same issue with local Docker on my machine. Even if I pass in a small value with `--memory`, like `150m`, the container doesn't crash with an out of memory error, and if I check `docker stats`, I see that the memory usage only increases until it reaches the specified limit, and it stops exactly there, and the API keeps working.

I'm trying to fin

[2017-08-18 22:59] danroth27 commented on #1882
Sounds reasonable to me. Closing.

[2017-08-18 22:59] #1882 closed

[2017-08-18 23:40] xavierjohn commented on #2005
Pretty big change... felt like I had to rewrite my Certificate Base Auth middleware
https://github.com/xavierjohn/ClientCertificateMiddleware/pull/1/files

[2017-08-19 00:23] davidfowl commented on #2005
The code changes in that PR look mostly related to the auth changes. Btw that's a nice auth handler. I wonder if it should be in the box (or something like it)

[2017-08-19 01:02] xavierjohn commented on #2005
I think it should be in the box. Most of the services in Microsoft uses Certificate based AuthZ to talk to other services.

[2017-08-19 01:11] davidfowl commented on #2005
@xavierjohn Can you file an issue on https://github.com/aspnet/Security

[2017-08-19 05:31] davidfowl commented on #1993
So this is on full IIS. Some questions:

- You're manually dropping the app_offline.htm file, you're not using web deploy to do so right?
- How do you know when the process has been shutdown gracefully? How long do you wait?
- Do you have stdout logs turned on?

[2017-08-19 05:40] xavierjohn commented on #2005
There is this request https://github.com/aspnet/Security/issues/1118

[2017-08-19 07:25] mahdi commented on #1997
Thank you @natemcmaster! Do you recommend any solution to have a custom domain while working on a development machine (either Windows or Mac)?

[2017-08-19 07:29] davidfowl commented on #1997
Edit the hosts file

[2017-08-19 07:36] mahdi commented on #1997
@davidfowl I know that, but can we bind Kestler to e.g. http://127.0.0.1:1234 and map it to http://mydomain.dev?

[2017-08-19 07:47] davidfowl commented on #1997
You can't bind to anything besides port 80 and 443 with the hosts file. You'd need something else in front of your application (like IIS) routing based on the host header.

[2017-08-19 07:59] mahdi commented on #1997
@davidfowl It works with IIS on Windows. What do you recommend on a Mac machine?

[2017-08-19 08:11] davidfowl commented on #1997
IIS does the routing, that's why it works. On a MAC, use nginx, see https://stackoverflow.com/questions/10729034/can-i-map-a-hostname-and-a-port-with-etc-hosts for samples on how you could configure nginx to do this.

Alternatively, if you're feeling lucky, you could do something crazy like:

Kestrel (port:80) -> Kestrel (port:1234)

You'd also need to write a piece of middleware that proxies requ

[2017-08-19 09:54] mahdi commented on #1997
Thanks @davidfowl, will give it a try 👍

[2017-08-19 13:16] Tratcher commented on #1997
I thought the hosts file only hijacked DNS, the port should be unrelated.

[2017-08-19 13:38] stephentoub commented on #1802
cc: @bartonjs, @Priya91

[2017-08-19 14:44] Drawaes commented on #1802
Are we sure it is just a linux issue? The problem is most likely that there is no way currently to tell SSLStream what cert authorities to accept. It needs to know so it can send the extension to the client this prompting the cert send if there is one matching. It might just be a matter of èxposing this option on the SSLStream wrapper for Kestrel?

[2017-08-19 16:19] davidfowl commented on #1997
@mahdi

I guess I wasn't clear. If you want to map http://mydomain.dev:1234 to to http://127.0.0.1:1234 then the host file is all you need. If you want to map http://mydomain.dev:80 to http://127.0.0.1:1234 then what i said is what you need.

[2017-08-19 21:38] davidfowl commented on #1837
Closing in favor of https://github.com/aspnet/HttpAbstractions/issues/916

[2017-08-19 21:38] #1837 closed

[2017-08-20 09:57] mehmetilker opened #2007 "IOException (Failed to authenticate HTTPS connection) randomly after upgrading to Asp.Net Core 2.0"
There wasn't any problem using self-signed certificate on my development environment with the following configuration:

[code]

After upgrading to Core 2.0 and changing configuration as follows, I am seeing IOException randomly on app console.
By randomly I mean there is no problem with request/response as pages working with SSL as expected but there is problem in internal part I guess.

[code]

[

[2017-08-20 22:30] benaadams commented on #1260
Looks like someone else might be having container issue https://github.com/dotnet/core/issues/871

[2017-08-21 00:54] benaadams opened #2008 "Frame.Reset allocates when TLS Feature is present"
`foreach`ing the `ConnectionFeatures`

1.1GB for 17.6M requests (15 secs)

![1.1GB](https://aoa.blob.core.windows.net/aspnet/tls.png)

Multibox!

/cc @davidfowl @halter73

[2017-08-21 07:21] almazik commented on #1464
@muratg So is it a normal case when the client disconnects? If so - the logging level should be reduced to INFO or even DEBUG.

[2017-08-21 18:26] Im5tu commented on #1980
As a consumer, if I pull in `Microsoft.AspNetCore.Protocols.Http` I would personally expect to have http 0.x through to http2 and beyond. Wouldn't mind it being a meta package to allow more advanced use cases (eg: my service only supports http2). Merging would make for a nicer experience to newbies (and less confusing), imo.

Looking forward to seeing how AMQP fits into this in the future (generic

[2017-08-21 19:42] Tratcher commented on #1654
Fixed by https://github.com/aspnet/KestrelHttpServer/pull/2003/files#diff-319ef184f2f31b202bc2f4566a710afe ?

[2017-08-21 20:46] zygimantas opened #2011 "Feature request: Reverse proxy SSL termination and Secure cookie flag"
### Repository
I am raising this issue in this repository because I completely have no idea if this issue somehow should be solved by Kestrel or in each affected aspnet core feature. If you see a better place for this request, please copy-paste it and close this one.

### Actual result
If a reverse proxy is used, it's a common practice to terminate SSL on IIS/Nginx. Sometimes there is no practical

[2017-08-21 21:05] zygimantas commented on #2011
Moved to https://github.com/aspnet/Antiforgery/issues/159 because I found only antiforgery feature to be affected.

[2017-08-21 21:05] #2011 closed

[2017-08-22 00:01] #2008 closed

[2017-08-22 00:18] halter73 commented on #2007
This basically means that something connected to the endpoint, but didn't start (or at least complete) the TLS handshake. Note that this is logged as `info: ` because of how common this tends to be.

Maybe you can figure out what's trying to connect without a handshake? Since you're running on a nonstandard port (5443), maybe there's some client out there trying to make a standard HTTP connection

[2017-08-22 00:24] halter73 commented on #1464
@almazik I believe this is logged as info. https://github.com/aspnet/KestrelHttpServer/blob/rel/1.1.2/src/Microsoft.AspNetCore.Server.Kestrel/Internal/Infrastructure/KestrelTrace.cs#L50

[2017-08-22 11:09] #1997 closed

[2017-08-22 13:06] mehmetilker commented on #2007
When it happens, I look at Network tab on my browser (while page was waiting idle) I do not see any request (and there is no other browser window waiting open with the localhost adress...)

I tried to use 443 instead of 5443 but I got same result.

I though there is problem with my configuration. For example  when app started : "Now listening on: https://0.0.0.0:5443". It does not look like identi

[2017-08-22 19:10] Priya91 commented on #1802
On SslStream server side, if we expect remote cert, then we use the CA lists provided by the function ```X509_get_default_cert_dir()``` for system store and local user store under ```~/dotnet/cryptography/```, and sets the list of CAs sent to the client when requesting a client certificate with ```SSL_CTX_set_client_CA_list```. If the CA you want is not getting sent, please ensure to install it in

[2017-08-22 20:37] kdaveid commented on #1018
Since kestrel is edge-ready, this is related to #1865

[2017-08-22 20:55] Drawaes commented on #1865
It will need to be supported from SslStream to work. There is an open issue to change SslStream's API to have an option bag, which hopefully will mean we can add more config options easier ;)

[2017-08-23 00:19] Tratcher commented on #1879
I think this was closed in error, the EADDRNOTAVAIL issue was unrelated to the original configuration issue.

[2017-08-23 14:55] JanEggers commented on #1625
@natemcmaster im just hitting this because i wanna get an x86 build for azure.
why nuget has to decide which version of libuv is picked? i dont want to distribute my app as x86 just because of this. we use several native nugets in our project and they all deliver both dlls so we can compile as anycpu.

there are two options:

1. name libuv different based on traget platform
2.  (preferred) x86 / x

[2017-08-23 15:18] davidfowl commented on #1625
NuGet has new first class features for packaging native assets https://docs.microsoft.com/en-us/dotnet/core/rid-catalog.

[2017-08-23 16:28] natemcmaster commented on #1625
@JanEggers unlike .NET Core, .NET Framework does not provide a built-in mechanism for loading native libraries based on the current process architecture. To workaround this, .NET Framework application typically compile as either x86 or x64. AnyCPU only works if the app is completely managed code. Libuv is native, not managed. As you've suggested, it may be possible for Kestrel to workaround the An

[2017-08-23 21:04] cesarbs commented on #1984
The data rate is not measured at the socket level. The reason for that is that we only measure the data rate for the request body, but not for the headers, meaning you have to know something about the request in order to start measuring the rate.

Have you done any experiments that demonstrate there is an issue when using TLS? I think ultimately you could set the rate low enough that it wouldn't a

[2017-08-23 21:40] Drawaes commented on #1984
I could do some but I am not that worried about it being an issue... is there some docs somewhere that I could add a note to something like

"Please note that the rate is measured at the http parsing level, therefore any large headers or filters on the raw traffic (TLS for instance) will potentially effect the measurements"

??

I think the behaviour is fine just should be documented?

[2017-08-24 00:38] cesarbs commented on #2007
You could set up Wireshark to capture TLS traffic and see what is going on.

[2017-08-24 10:27] mehmetilker commented on #2007
I tried with fiddler but could not catch anything.
I am closing the issue since it does not affect me on production.
And as stated here (https://github.com/aspnet/KestrelHttpServer/issues/1853) this exception needs better logging to let us understand the problem.

[2017-08-24 10:27] #2007 closed

[2017-08-24 17:08] Eilon commented on #1898
This patch is *approved* for 1.0.x. Please follow the patch creation instructions that were sent by email, and submit a PR to the correct branch.

[2017-08-24 17:08] Eilon commented on #1898
@muratg - can you assign?

[2017-08-24 17:09] Eilon commented on #1897
This patch is *approved* for 1.1.x. Please follow the patch creation instructions that were sent by email, and submit a PR to the correct branch.

[2017-08-24 17:09] Eilon commented on #1897
@muratg - can you assign?

[2017-08-24 17:49] cesarbs commented on #1270
Can someone point me to a recent failure? I haven't been able to repro it yet.

[2017-08-24 17:54] cesarbs commented on #1897
I can grab this.

[2017-08-24 17:54] cesarbs commented on #1898
I can grab this.

[2017-08-24 18:23] Eilon commented on #1909
This patch is *approved* for 1.1.x. Please follow the patch creation instructions that were sent by email, and submit a PR to the correct branch.

[2017-08-24 20:58] Eilon commented on #1910
This patch is *approved* for 1.0.x. Please follow the patch creation instructions that were sent by email, and submit a PR to the correct branch.

[2017-08-24 21:35] javiercn opened #2016 "HTTPS binding configuration for Kestrel"
We need to figure out how config for HTTPS will work for Kestrel in development. (Config format for setting up an HTTPS binding and how will tooling setup the bindings during development).

This is part of our plan for HTTPS in 2.1

[2017-08-24 22:44] cesarbs opened #2017 "Merge code paths duplicated between HTTP/1.1 and HTTP/2"
The initial HTTP/2 implementation contains a lot of duplicated code from the existing HTTP/1.1 stuff. That duplication should be eliminated so we can share as much code as possible between the two protocol implementations.

[2017-08-25 11:58] jeff-pang commented on #1267
I also just got it on 1.1.2. Nginx reverse proxy to Kestrel. In my case it was working in production for more more than 1 month then suddenly this it stopped working. Now it stopped working every hour

[2017-08-25 12:05] ZOXEXIVO commented on #1267
Best advice -> upgrade to 2.,0

[2017-08-25 12:07] jeff-pang commented on #1267
@ZOXEXIVO Did upgrading to v2 fixed your problem?

[2017-08-25 12:23] ZOXEXIVO commented on #1267
@jeff-pang Problem disappeared when i host kestrel behind nginx

[2017-08-25 12:25] jeff-pang commented on #1267
@ZOXEXIVO I am already hosting Kestrel behind Nginx, but I will give it a try anyway. Thanks

[2017-08-25 17:47] muratg commented on #2016
@cesarbs assigning this to you.  I suspect we'll need to design this.  cc @shirhatti and @davidfowl

[2017-08-25 19:20] Tratcher commented on #2016
How much of this is just bringing back the config feature we cut from 2.0?

[2017-08-25 22:44] cesarbs commented on #1984
@danroth27 Can we add this to our docs?

[2017-08-26 01:22] cesarbs commented on #1910
This doesn't seem to repro on 1.0.x. The test added in #1633 failed on 1.1.x before I applied the patch, but not on 1.0.x. Should we still proceed with the patch?

[2017-08-26 01:22] cesarbs commented on #1910
cc @halter73 @davidfowl

[2017-08-26 01:26] cesarbs commented on #1910
I also tried a manual repro but couldn't make it crash.

[2017-08-26 01:45] cesarbs commented on #1910
The shutdown logic in 1.0.x is very different from 1.1.x (the latter is better, in 1.0.x things are kind of all over the place). I'm wondering if changing the 1.0.x shutdown to be like 1.1.x will repro the issue, which can then be fixed (my worry is that the bug is there in 1.0.x. but is much more subtle). But that would turn this change into a much larger one than originally intended.

[2017-08-26 04:15] benaadams opened #2020 "Unnecessary string equality checks in Frame"
For GET method `IsHead` test is performed on the string `Method` which since `GET` isn't reference equal to `HEAD` drops through to `String.Equals` -> `OrdinalIgnoreCaseComparer.Equals`

![](https://aoa.blob.core.windows.net/aspnet/ishead.png)

However the Parser starts with it as an Enum, which then gets converted to a string; so it can just be tested with the enum.

Same thing happens with `Http

[2017-08-26 06:10] benaadams opened #2022 "HttpVersion is "parsed" 3 times"
Parser -> HttpVersion Enum -> Get Version String -> Set HttpVersion with string -> Convert back to Enum

[2017-08-26 06:11] benaadams commented on #2022
Resolved by https://github.com/aspnet/KestrelHttpServer/pull/2021

[2017-08-26 07:59] jeff-pang commented on #1267
Upgrading to 2.0 fixed the issue

[2017-08-26 09:26] ehouarn-perret commented on #1851
@raffaeler
Ok so according to you the https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl documentation is also not really up to date in regard to Kestrell.

I was asking a question related to this issue on StackOverflow (https://stackoverflow.com/a/45854704/4636721) after watching Scot Hanselman (https://channel9.msdn.com/Events/Build/2017/B8048) but curiously even doing exactly w

[2017-08-26 09:50] raffaeler commented on #1851
@ehouarn-perret FYI I am just an [MVP](https://mvp.microsoft.com/) and not a MS employee nor a member of the dotnet team.

In the past preview releases the appsettings configuration worked even if with some glitches. Probably the demos by Scott&Scott stopped working on the bits released rightafter.
The only "official documentation" for these changes I am aware of, is [this comment](https://github.

[2017-08-26 15:40] benaadams opened #2024 "Reset uses checked methods for StatusCode and ReasonPhrase"
Reset goes via setters for `StatusCode` and `ReasonPhrase` which check `HasResponseStarted` and throw an exception if so.

These methods don't inline and there is no point in checking the response state (as its just been reset)

![reset](https://aoa.blob.core.windows.net/aspnet/reset.png)

[2017-08-27 00:14] #2024 closed

[2017-08-27 00:18] #2022 closed

[2017-08-27 03:23] davidfowl commented on #1772
Fixed in https://github.com/aspnet/KestrelHttpServer/commit/7854c0604a3e6e50a0bea84c4fa9d9e6ca5d7057

[2017-08-27 03:23] #1772 closed

[2017-08-27 06:49] vinhhrv commented on #1267
The same issue on 2.0.0, please check this

[2017-08-27 06:51] davidfowl opened #2029 "Convert Logging connection adapter to middleware"
As part of bedrock, connection adapters are going away and we should port the logging connection adapter to middleware.

[2017-08-27 06:51] davidfowl opened #2030 "Convert TLS connection adapter to connection middleware"
As part of bedrock, connection adapters are going away and we should port the tls connection adapter to middleware.

[2017-08-27 06:53] davidfowl opened #2031 "Fix connection limit middleware"
Today the connection limit middleware just increments the count but never decrements it. That's because responsibility is split between the middleware and the Frame.

[2017-08-27 12:23] vinhhrv opened #2032 "Kestrel Hangs"
[code]

[2017-08-27 17:48] davidfowl commented on #2032
@vinhhrv Can you provide a bit more information? How many libuv threads are running? Does hang mean that kestrel is no longer responding to requests?

[2017-08-28 00:12] vinhhrv commented on #2032
@davidfowl

telnet port oke
curl hangs (no log any, ex starting request)

Cpu 4 core default thread count (kestrel)
If you want more info, let me know.

Random hangs, i don't know why, (only heavy load)

[2017-08-28 00:13] vinhhrv commented on #2032
Cpu when hangs is 1- 4 %

[2017-08-28 01:43] vinhhrv commented on #2032
@davidfowl how to get libuv threads running ?
please let me how to get for you information you want.
Thank you

[2017-08-28 05:48] davidfowl commented on #1955
I'm seeing this fail again and I can't tell if it's because of my changes or if it's because this test is generally flaky.

[2017-08-28 07:18] vinhhrv commented on #2032
(lldb) sos PrintException
Exception object: 00007f4cade26878
Exception type:   Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.Internal.ConnectionResetException
Message:          Error -104 ECONNRESET connection reset by peer
InnerException:   Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Internal.Networking.UvException, Use !PrintException 00007F4CADCB11B0 to see more.
StackTrace

[2017-08-28 07:37] davidfowl commented on #2032
It just looks like the client disconnected.

[2017-08-28 16:34] Tratcher opened #2035 "Response.OnCompleted not fired AFTER the Response is sent"
_From @JeanCollas on August 28, 2017 0:8_

Using ASP.NET Core 2.0
A simple code like this shows the issue:

    public async Task<IActionResult> TestOnComplete()
    {
            Response.OnCompleted(async () =>
            {
                throw new Exception();
            });
    }

Response.OnCompleted is said to be invoked after the response is sent to the user, so the user should already h

[2017-08-28 16:34] Tratcher commented on #2035
Which server? Kestrel? HttpSys? IIS/Express + Kestrel?
Which version?

[2017-08-28 16:34] Tratcher commented on #2035
_From @JeanCollas on August 28, 2017 9:2_

IIS Express for the debugging, I haven't verified if it was the same behaviour on Full IIS+Kestrel.

            var host = new WebHostBuilder()
                .UseKestrel()
                .UseContentRoot(Directory.GetCurrentDirectory())
                .UseIISIntegration()
                .UseStartup<Startup>()
                .Build();

[2017-08-28 17:14] Tratcher commented on #2035
Exceptions from OnCompleted should only ever be logged, they should not interfere with the processing of the response or even prevent other OnCompleted callbacks from running.

[2017-08-28 21:04] #1897 closed

[2017-08-28 21:05] #1898 closed

[2017-08-28 22:08] cesarbs commented on #1910
I believe I figured out why the bug doesn't repro in 1.0.x.

In Kestrel 1.1.x, the shutdown sequence that starts in `KestrelThread.StopAsync` calls `ConnectionManager.WalkConnectionsAndCloseAsync`, which walks all stream handles in the uv loop and attempts to close all connections associated with those. It then calls `KestrelThread.AllowStop`, which unreferences the async handle, allowing the uv l

[2017-08-28 22:59] muratg commented on #1910
Thanks @cesarbs!

Closing this one.

[2017-08-28 23:48] #1909 closed

[2017-08-29 02:10] vinhhrv commented on #2032
Hangs, ramdon, day by day. And i don't know why.
I move from asp.net mvc 5, everything oke, but on asp.net core, random hangs.
Please help me. My project will be close if not stable.
[code]

[2017-08-29 08:18] pwen090 commented on #1162
@Tratcher just wondering if any of your guidance here has maybe changed in some way with the release of asp.net core 2.0? I went down the path of hosting multiple WebHostBuilders originally but it seems that becomes problematic in wanting to host the app in azure etc there is not an easy way to configure an azure web app to work properly with two webhostbuilders app running as console app. Wonderi

[2017-08-29 08:44] Drawaes commented on #1162
I presume in this scenario you are using renegotiation  (or would like to) to challenge the user if they go to specific controller and haven't authenticated with the correct type of certificate for that controller?

Or does the user only initiate with one and you just want to check it?

[2017-08-29 08:49] pwen090 commented on #1162
I essentially have one WebHost that is a frontend of sorts, set of web apis that are called by a angular interface. I have a second WebHost that is a backend that is SignalR with a lot of agents connected to it. The frontend WebHost needs to be able to call a SignalR call against the backend to signal the agents. Having this in the same process works because I can access the signalr interface from

[2017-08-29 09:00] pwen090 commented on #1647
Has anything changed possibly related to this in asp.net core 2.0? thank you

[2017-08-29 10:40] khellang commented on #1647
I still think @Drawaes' solution is the way to go. Do the validation in the delegate, then pull out `HttpContext.Features.Get<ITlsConnectionFeature>` and set the user identity using the `ClientCertificate` in middleware.

[2017-08-29 16:25] Eilon commented on #1910
Ok I removed from the OneNote and I'm closing this bug.

[2017-08-29 16:25] #1910 closed

[2017-08-29 17:06] Tratcher commented on #1647
What you're asking isn't possible with the HTTP protocol. The ClientCertificateValidation runs before the HTTP request is even received. You can do the validation in there, but you'll need middleware to associate it with a user on a per-request basis.

[2017-08-29 17:09] Drawaes commented on #1647
You could write a connection adapter and  attach it as a feature. But I wouldn't I would just make the middleware

[2017-08-29 17:17] Tratcher commented on #1162
Nothing has changed here for 2.0.

[2017-08-29 17:20] Drawaes commented on #1162
One option by the way is loopback. If one service is coming in via the loopback address you can ignore the authentication.

[2017-08-29 17:22] Tratcher commented on #1162
@Drawaes that's not a good idea... you should never make assumptions about the caller.

[2017-08-29 17:24] Drawaes commented on #1162
It's a pretty common practice. Say you have ngnix handing off locally. Or internally you have authenticated users coming through a termiñating proxy. IP address limiting/identification  is often used.

[2017-08-29 17:26] benaadams commented on #1162
Isn't good for shared hosting though

[2017-08-29 17:31] Drawaes commented on #1162
Shared hosting? What's that? ;)

Let me be more clear you should never rely on an IP address if it's a public IP or you don't control the entire network. But say you have a local docker isolated virtual network and you service bridges to an outside network, then yeah I have no issue using that for a certain level of trust.

Systems like this have been through several external independent Pen testi

[2017-08-29 19:08] halter73 commented on #2035
Looks like the issue is that the `OnCompleted` callbacks are called prior to sending the chunked terminator. When an `OnCompleted` callback throws, `_applicationException` is set and `Frame` which then prevents the chunked terminator from being sent.

Not that this makes things much better, but I've verified that the response is unaffected if a Content-Length is specified

[2017-08-29 19:18] halter73 commented on #2032
@vinhhrv In your logs you don't show any output from telnet, but in an earlier comment you claim that it works with telnet. Are you just saying that a TCP connection can be established? Have you tried making an HTTP request manually using telnet?

Does curl timeout after 5 minutes? Can you show the curl output with the `-v` flag?

Are you able to reproduce this with the "empty" project template? Y

[2017-08-29 19:20] pwen090 commented on #1647
We ended up going the middleware route. We host two WebHostBuilder within our single project on different ports. One that is https for normal "front end" user authentication. And a second WebHostBuilder that is doing client certificate auth (for backend services that connect). For the second instance we leveraged middleware similiar to what is done here:
 https://github.com/xavierjohn/ClientCertif

[2017-08-29 19:40] Drawaes commented on #1647
This is just my opinion and I have no say/influence but anyway

I don't think you will see this anytime soon if ever and here is why.

It's not supported by SslStream at all. SslStream supports the otherside triggering a renegotiation but not triggering one itself so would require an API design/Review and implementation.

With that Http/2 actually completely disallows the practice, so any service

[2017-08-29 19:55] pwen090 commented on #1647
@Drawaes that is what I am thinking re: SslStream, guy has to dream though! Makes sense on server2server via cert etc... your last comment though can you expand on it? I would think there would be errors in binding two WebHostBuilder's to the same port and IP? or are you not using Kestrel in that case?

[2017-08-29 19:59] Drawaes commented on #1647
We are using non ssl and ssl. Ssl for server to server and ntlm/kerb for client browsers... there is a trick.. the first byte tells you what type of connection it is. But it's not something for the faint hearted, but taken from the go protocol muxing idea. Another thought with sni coming soon maybe that is your solution. You server to server connections can use a different host name and therefore

[2017-08-29 20:01] Drawaes commented on #1647
If you feel like reading a ton of discussion on SSLStream including SNI there is some here

https://github.com/dotnet/corefx/issues/23177

It's an active discussion around an API proposal to allow for ALPN and potentially SNI.

[2017-08-29 23:12] JeanCollas commented on #2035
The OnCompleted is said to be executed after the sent to the user, so the response time and performances should not be affected by the call of this method.
If it should be executed before sending, it should be called "OnBeforeSending" ;)
BTW for now I have used Task.Run not to affect the performances of the response time.

[2017-08-30 06:35] vinhhrv commented on #2032
[code]

i'm try to reproduce with empty project, it hard

[2017-08-30 07:58] halter73 commented on #2035
@JeanCollas Agreed. This is definitely a bug.

[2017-08-30 19:59] neooleg opened #2042 "TestServer w/ WebHostBuilder doesn't read appsettings.json on ASP.NET Core 2.0, but it worked on 1.1"
## STR
1. Use .NET 2.0
1. Follow [official manual](https://docs.microsoft.com/en-us/aspnet/core/testing/integration-testing) to create integration tests
1. Use the following code for test server
[code]

h3. AR
- appsettings.json doesn't read and TestStartup doesn't receive them.
- It looks like breaking changes (not found anything documented it) because the same code worked on ASP.NET Core 1.1

h3

[2017-08-30 20:25] natemcmaster commented on #2042
This issue was moved to aspnet/Hosting#1191

[2017-08-30 20:25] #2042 closed

[2017-09-01 07:17] vinhhrv commented on #2032
[code]

[2017-09-01 12:49] jlandersen commented on #1144
IE doesn't encode the referer header. As a result, this breaks our .NET Core APIs when requests are coming from IE users on some of our sites with e.g. Cyrillic characters in the URL. Would be good to have support for this.

[2017-09-01 15:28] poke commented on #1851
I just stumbled on this after having seen the HTTPS configuration in the appsettings.json in various videos about 2.0.

Just to clarify: There is no configuration file based way to set up HTTPS for Kestrel, right?

So the examples in videos, [the documentation](https://docs.microsoft.com/en-us/aspnet/core/security/https), and the [meta packages sample](https://github.com/aspnet/MetaPackages/blob/r

[2017-09-01 19:15] muratg commented on #1880
@javiercn Assigning to you for investigation.

[2017-09-01 19:18] muratg commented on #2016
@shirhatti will schedule a design meeting to plan this work.

[2017-09-01 19:35] muratg commented on #2030
Related: https://github.com/aspnet/KestrelHttpServer/issues/1665

[2017-09-01 19:35] muratg commented on #2029
Related? https://github.com/aspnet/KestrelHttpServer/issues/1665

[2017-09-02 07:38] tmds commented on #1673
Does someone have an idea of how this might work? I'm pondering about it, but I can't figure out how the the pipeline data flow and the sendfile system call work together.

[2017-09-02 15:16] Tratcher commented on #1673
SendFile bypasses the normal datastream and writes directly to the socket, though it should flush the datastream fist to ensure proper ordering. Higher layers that would behave incorrectly if bypassed (SSL, caching, etc.) should fake the feature by wrapping the datastream, or remove the feature.

[2017-09-03 17:08] bzuillsmith commented on #1853
I too am getting this error. Why would closing the browser cause this? It happens every time with a simple ASP.net Core 2.0 hello world app configured to use Https. There shouldn't be any handshake process going, the page was already served... this smells of a deeper issue but I don't know much about these things so I wanted to post here and double check.

[2017-09-03 17:13] Drawaes commented on #1853
One thing to check, using wireshark is your browser sending an end session alert over tls? If not it's technically an exception because a thirdparty could have terminated the connection.

[2017-09-03 20:57] bzuillsmith commented on #1853
Upon further experimentation, I only get the error when automatically opening the url using the VS Code Launch browser task with Chrome as the default, and only the first time the page is opened and closed with each run of the server. Opening and closing the page more times does not produce the error unless I restart the server. Also, if I don't launch the browser when the app starts and just open

[2017-09-04 03:33] shaddockblack opened #2045 ".net core 2.0 project 107 ENOTCONN socket is not connected at"
I am deployoing .net core 2.0 project on Linux UbuntuI have used Supervisor And Nginx, however I get the following output

exception.Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Internal.Networking.UvException: Error -107 ENOTCONN socket is not connected at Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.Internal.Networking.LibuvFunctions.ThrowError(Int32 statusCode) at Microsoft.AspNet

[2017-09-04 09:05] KLuuKer commented on #1144
@davidfowl I think you are not getting many complaints because it takes so long to track down what the issue is. Because many different applications might set cookies with utf-8 characters on the root of the domain (.example.com) and thus some developers might blame it on user error because that encoding error is not popping up in the logs and may be hard to reproduce.

[2017-09-04 11:42] avaneerd commented on #1144
We could really use this, we have a site running on a subdomain (site.bigcompany.com) and user navigate to our site through our company site (bigcompany.com). Our company site uses cookies with non-ascii characters that are also sent to the subdomains and causes users that access our site through our company site to receive bad requests. We're now working with the team from our company site to hav

[2017-09-04 11:52] tmds commented on #1673
@Tratcher makes sense. SendFile implementation would indeed need to flush the datastream, also it also needs to take into account the Connection lifetime. HTTP 2 is also a higher layer, right?

[2017-09-04 13:17] benaadams commented on #1673
HTTP/2 is on HTTPS (for all practical purposes). Is OS sendfile non-blocking/async, e.g. will it callback on send complete so the connection can be resumed for keepalive?

[2017-09-04 14:49] tmds commented on #1673
I've heard that too. Hard to imagine no-one wants to cut out the cost of encryption for some use-cases, but I'm no expert.

On Linux, it's a blocking call which returns when the file is sent. nginx offloads sendfile to a threadpool to avoid blocking the main worker thread.
Once the sendfile call returns, the connection can be used for other requests.

[2017-09-04 16:31] Tratcher commented on #1673
SendFile is async on Windows. We avoided implemented it in the past due to the sync API on linux.

[2017-09-04 21:12] austindrenski opened #2046 "Kestrel as an in-process reverse proxy"
##  Introduction

I have a project that needs to hook several Kestrel-based microservices to a single endpoint on an internal network. There is a competing requirement to avoid separate reverse proxies, such as IIS/Nginx/Apache.

I've prototyped some middleware that seems to meet my project requirements. But I was hoping that someone with a deeper knowledge of Kestrel, its team, and the associated

[2017-09-04 21:32] davidfowl commented on #2046
Yes but it's less about kestrel and more about ASP.NET offering a proxy middleware much like the one you've written. In fact there's one here https://github.com/aspnet/Proxy.

Exposing public endpoints that allow you to change how requests are routed seems pretty scary and also a bit opinionated. Our team is more about providing low level building blocks (for the most part) that allows you to buil

[2017-09-04 22:36] suisgrand opened #2047 "Error -32 EPIPE broken pipe"
using Mac OS & generator-aspnet-spa dotnet core application. Using Microsoft.AspNetCore 1.1 for kestrel. the console renders "Error -32 EPIPE broken pipe", and as a result the client/angular2 app remains in loading state.

Here's an extract of the log:

Microsoft.AspNetCore.Server.Kestrel.Internal.Networking.UvException: Error -32 EPIPE broken pipe
fail: Microsoft.AspNetCore.Diagnostics.DeveloperE

[2017-09-04 22:52] ehouarn-perret commented on #1851
@poke as of today it seems so.
The problem is that we don't have any official news in that regard.
Another way to double confirm that is just to look at the source code, afaik there is nothing at the moment for Kestrel conf-wise.
I suspect that the documentation available and the video with Scot seems more related to ASP.NET Core 2.0 Preview version =/
For example, https://docs.microsoft.com/en-us

[2017-09-04 23:01] khellang commented on #2046
Sounds like you're building a mixture of a classic reverse proxy and a service registry, like [Træfik](https://github.com/containous/traefik)...

[2017-09-05 02:09] austindrenski commented on #2046
@davidfowl Thanks for your answers--the feedback is much appreciated!

Initially, the endpoint-based reconfiguration sounded handy, but with your comments in mind and another look through the code...it does indeed looks like a headache waiting to happen.

I'm going to narrow the functionality to focus on request dispatching and revert to startup configuration files. Thanks again.

@khellang Intere

[2017-09-05 02:09] #2046 closed

[2017-09-05 21:39] halter73 commented on #2032
Just so you know it is expected that ReadableBufferAwaitable.GetResult() will throw in LibuvOutputConsumer when a connection is aborted either by the client or by the server via something like `HttpContext.Abort()`. This exception should be caught. Are you breaking on first chance exceptions? Could that be why you're seeing hangs?

[2017-09-05 21:52] muratg commented on #1684
@cesarbs could you reenable this and see if it still fails?

[2017-09-05 21:55] muratg commented on #1981
No repro. Closing this one. Please ping us/file another one if you're still seeing problems.

[2017-09-05 21:55] #1981 closed

[2017-09-06 02:13] Layoric commented on #1464
I'm having the same error on official `microsoft/dotnet:1.1.1-runtime` docker image and result is as @CYBERRRR describes, server crashes (no longer responds successfully to any subsequent requests). Specifically in my case, my outgoing connections from the app to the SQL (for just the 1 docker container in the cluster of many VM hosts) fails and it gets taken out of the load balanced group as it's

[2017-09-06 18:14] #2031 closed

[2017-09-06 20:52] israellot opened #2048 "ConnectionResetException"
**Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.Internal.ConnectionResetException handled at System.Net.WebSockets.ManagedWebSocket+d__61.MoveNext**

I'm constantly getting this exception ReceiveAsyncPrivate method. Basically all websocket connections eventually fail due to this exception after some minutes. I'm hosting on aspnetcore 2.0 on Azure WebApp.

[2017-09-07 00:29] halter73 commented on #2048
@anurse @BrennanConroy Didn't you have to deal with this in SignalR? As far as I know, the WebSocket protocol defines a closing handshake for gracefully closing the connection. If the connection is severed ungracefully for any reason you will see a ConnectionResetException.

[2017-09-07 00:36] halter73 commented on #1464
Do you have any idea why the outgoing SQL connections are failing? Why do you think this is related to the EPIPE error?

[2017-09-07 01:36] Layoric commented on #1464
@halter73 still investigating, but just highlighting (probably not very well), this error can come up for various reasons and the 'client disconnects' is (potentially) more a symptom of another problem. Again, just putting my experiences here as this is the only visible error in my case and others may have the same experience and find this thread.

[2017-09-07 08:10] foo-baar opened #2050 "Port localhost:5000 not released causing error System.IO.IOException: Failed to bind to address http://127.0.0.1:5000: address already in use."
Hi,

I installed dotnet core on Mac Sierra in order to build .net mvc application & while build a project I learned that donet\kestrel doesn't release the port 5000 after I stop a project causing port already in use error on next run.

I couldn't find any command\manual way to release\stop the port 5000 or localhost:500.

Please enlighten me if any such commend exists or any other possible solutio

[2017-09-07 10:15] vinhhrv commented on #2032
@halter73

exception not the same, sometime is uv connect exception, sometime is other (below)
i couldn't reproduce in empty project.
i am trying reproduce

[code]

[2017-09-07 13:13] Tratcher commented on #2050
Are you sure the process has exited? The OS ensures no port lock ever survives that, there's nothing Kestrel can do about it.

[2017-09-07 13:29] foo-baar commented on #2050
@Tratcher Hey, I Exited\stopped the process by clicking on "stop debug" button or using shortcut, I don't believe there is any other way of doing, is there so ?

`lsof -s:5000`
shows its been occupied by dotnet

[2017-09-07 16:22] anurse commented on #2048
If the underlying TCP connection is severed ungracefully I'd expect something like this. If the TCP connection is being shut down gracefully (`FIN` frames, etc.) but the WebSocket close handshake isn't completed, then you'd get a `WebSocketException`

[2017-09-07 17:16] cesarbs opened #2051 "Put trailers in a separate collection"
Right now we merge them with request headers. They should go into their own collection. There should also be some way (likely a `Task`) to allow an application to wait until trailers have been received.

[2017-09-07 17:16] cesarbs commented on #2051
@muratg Can you triage?

cc @Tratcher

[2017-09-07 20:00] halter73 commented on #2032
What's the `System.InvalidOperationException 00007fdd88dee310`?

[2017-09-07 23:25] cesarbs commented on #1267
@vinhhrv Could you upload your dump somewhere and share it with us?

[2017-09-08 02:00] vinhhrv commented on #2032
@halter73
let me know how to get infomation for you.
Thanks for your support

[code]

[2017-09-08 06:36] vinhhrv commented on #1267
@cesarbs
i will send my dump to your email is cesarbs@gmail.com ?
please confirm, (my email is vdvinh@gmail.com)

[2017-09-08 12:11] algirdask commented on #1501
I cannot find `KestrelServerOptions.ShutdownTimeout` in 2.0 release. Was it removed/moved somewhere else? API documentation in web is still present

[2017-09-08 12:53] Tratcher commented on #1501
It was moved to IWebHostBuilder: https://github.com/aspnet/Hosting/blob/03bdb40f8a07427bbd83c89154c02da2ec92aea9/src/Microsoft.AspNetCore.Hosting.Abstractions/HostingAbstractionsWebHostBuilderExtensions.cs#L168

[2017-09-08 18:18] halter73 commented on #2032
The message and stack trace for that thread might be helpful. Can't be sure it's related to the hang though.

[2017-09-08 19:08] cesarbs commented on #1267
Sounds good, though depending on the size you might not be able to email it.

[2017-09-08 19:51] davidfowl opened #2054 "Add IConnectionLifetimeFeature to Microsoft.AspNetCore.Connections.Abstractions"
[code]

These should also be exposed on `ConnectionContext`

Related to: #1980

[2017-09-08 20:13] pranavkm opened #2055 "[Patch 1.1.3] Flaky test ListenerPrimaryTests.NonListenerPipeConnectionsAreLoggedAndIgnored"
[code]

We could fix this in the next patch seeing that we're nearly done with this one.

[2017-09-08 20:13] pranavkm commented on #2055
cc @muratg

[2017-09-08 21:37] muratg commented on #2055
@halter73 Could you take a look please? (Hopefully it's just test flakiness.)

[2017-09-09 03:50] Tratcher opened #2058 "Performance issue with .net core"
_From @chintan3100 on September 5, 2017 8:39_

I am downloading 400 MB file on local machine with 7 MB/Second (.net core 2.0) same code run with .net framework 4.6 download speed 100 MB/Second.

  public IActionResult DownloadDocument(Guid documentUniqueId)
        {
            var bytes = System.IO.File.OpenRead(@"D:\home\site\wwwroot\file\Organizer01_2017-09-03 (14) (3).zip");
            retur

[2017-09-09 03:50] Tratcher commented on #2058
Which server setup are you using? Kestrel + IIS/Express? Kestrel? HttpSysServer?

When you say .NET 4.6, was that ASP.NET 4 or ASP.NET Core running on .NET 4.6?

[2017-09-09 03:50] Tratcher commented on #2058
_From @chintan3100 on September 5, 2017 17:51_

I am using kestrel + IIS.
I run above code with .net core with kestrel + IIS it give me 7 mb / second download speed.

Then I created new api with asp.net 4 it give 100- 150 mb/ sec download speed.

Some issue with .net core

[2017-09-09 03:50] Tratcher commented on #2058
Can you try it with just Kestrel?

[2017-09-09 03:50] Tratcher commented on #2058
_From @chintan3100 on September 7, 2017 9:22_

I have tried with Kestrel but same. It gives same speed 7-10 mb/second

[2017-09-09 03:50] Tratcher commented on #2058
_From @chintan3100 on September 9, 2017 3:0_

@tratcher can please try to reproduce issue

[2017-09-10 16:32] Nezz commented on #639
How can it be changed these days using ASP.NET Core 2.0 from the command line?

[2017-09-10 18:54] TotzkePaul commented on #639
if you use @ethanliew 's answer, there shouldnt be much you need to change to make Core 2.0 work.

[2017-09-10 19:52] Nezz commented on #639
@TotzkePaul I was referring to a command line argument. `--server.urls` no longer works. Neither does `--environment`. Would be nice to have something that's cross-platform.

[2017-09-10 22:03] Tratcher commented on #639
See https://github.com/aspnet/KestrelHttpServer/issues/1998

[2017-09-10 23:01] buraktamturk opened #2059 "RequestStream does not support length property even when Content-Length is set on the request"
Hello,

The stream implementation that can be found in Request.Body does not suport Length and Position properties even when Content-Length header is set on the request. There are numerous libraries that depends on these properties.

**For example,** Amazon S3 does not support chunked uploads (like Azure do!) and the client library looks for remaining Stream size (Length - Position) to set "Conten

[2017-09-10 23:18] Tratcher commented on #2059
By design. On the Stream API Length, Position, CanSeek, a Seek are all interrelated. https://msdn.microsoft.com/en-us/library/system.io.stream.canseek(v=vs.110).aspx The Stream contract only supports these for random access streams. The request and response streams are not random access streams, they are linear consumption streams.

 Consumers that require random access need to enable buffering. T

[2017-09-10 23:30] buraktamturk commented on #2059
@Tratcher there are libraries that use Length and Position property without looking seekability on the Stream (Amazon S3 does not check whatever the stream is seekable or not). Enabling buffering just for this case would still waste resources (either on disk or memory). Length can be the value of the "Content-Length" header if present, Position can be a read only counter that counts how much data

[2017-09-11 00:09] #2059 closed

[2017-09-11 01:38] vinhhrv commented on #1267
@cesarbs, i sent to your email.
Thanks for support.

[2017-09-11 06:23] ayende commented on #1802
I investigate this a bit more, and I think that the main issue is here:
https://github.com/dotnet/corefx/blob/0fd3d2c5bcb1a83e7ebd8025e4810e11e231ce03/src/Common/src/Interop/Unix/System.Security.Cryptography.Native/Interop.OpenSsl.cs#L323

The problem is that it adds all the local and user certs by default, and on the Windows side, it doesn't add anything.

Sending an empty list on SSL client cert

[2017-09-11 22:17] scionwest commented on #639
@TotzkePaul Ideally we wouldn't have to hard-code our IP/ports. This should be 100% configurable so we don't have to recompile the app if we decide to deploy the app to a different server having a different IP.

[2017-09-11 22:39] muratg commented on #2016
@shirhatti where are we with this one?

[2017-09-12 21:43] Priya91 commented on #1802
cc @bartonjs

[2017-09-13 07:22] Layoric commented on #1464
Just leaving this here incase others are seeing lots of `Error -32 EPIPE broken pipe` errors randomly in AWS ECS. I upgraded from Docker 1.12.4 to 17.0.3 (AWS ECS Optimized Image 2017-03-f) and after a few days the dropping of network access has not yet returned.

Other reading I did seemed to indicate this was a bad update to a Docker containers internal IP tables causing this outage and subseque

[2017-09-13 13:25] bartonjs commented on #1802
If we're not behaving the same on all platforms then that'd (probably) be a bug.  If SslStream on Windows stopped sending the CA list intentionally then Linux should be changed (and macOS evaluated).  If it's that Windows made a change in newer versions of Windows then we need to decide what we want.  (The "probably" is because if it's nuanced in Windows we may have a hard time forming an opinion

[2017-09-13 17:14] cesarbs commented on #1267
@vinhhrv About this:

Can you share more details about the specific request that causes it to hang? Or does it hang on any request?

[2017-09-13 19:45] #2055 closed

[2017-09-13 21:07] cesarbs commented on #2047
Can you share a repro app?

[2017-09-13 21:43] halter73 commented on #2047
https://github.com/aspnet/KestrelHttpServer/issues/1978#issuecomment-319838683

[2017-09-13 22:36] cesarbs commented on #2058
@chintan3100 What client are you using to make the request? How are you measuring the download speed?

[2017-09-14 14:33] evil-shrike opened #2061 "404 for static files with names starting with dots"
Kestrel return 404 for static files which names starting with dot (".").
Like `http://localhost:5000/client/lib/interop/.interop.types.js`
Request for such files don't reach asp.net. I checked it via `OnPrepareResponse` handler for StaticFileMiddleware's options:
[code]

Is there any workaround for the issue?

[2017-09-14 14:58] davidfowl commented on #2061
This isn't a kestrel issue, by default files that start with `.` are blocked, see https://github.com/aspnet/FileSystem/issues/186. In 2.1 there's a new API you can use to change the defaults but in 2.0 you'd need to write a custom file provider that allowed finding files that started with `.`.

See https://github.com/aspnet/FileSystem/issues/186 for more details.

[2017-09-14 14:58] #2061 closed

[2017-09-14 18:40] cesarbs commented on #1684
Looks like it's been failing again, on Windows 7 only.

[2017-09-15 00:36] #2017 closed

[2017-09-15 02:40] bgever commented on #637
Now this has been changed, if you try to connect with older versions of TLS you may see the below error message logged to the console:

Hope this can help others debugging why that happens.
[code]

[2017-09-15 04:57] benaadams opened #2063 "RFC 8187 - Character Encoding for Headers"
Hot off the presses (September 2017) https://tools.ietf.org/html/rfc8187

Indicating Character Encoding and Language for HTTP Header Field Parameters

/cc @Tratcher @blowdart @halter73

[2017-09-15 05:38] Tratcher commented on #2063
Hmm, interesting choices. It only applies to key value pairs within headers, and is ASCII compatible, so I don't foresee making any changes to Kestrel. Microsoft.Net.Http.Headers in HttpAbstractions looks like the most obvious consumer/producer of such values. ContentDispositionHeaderValue already supports this because it was designed for use in multipart MIME bodies: https://github.com/aspnet/Htt

[2017-09-15 05:48] benaadams commented on #2063
Moved https://github.com/aspnet/HttpAbstractions/issues/940

[2017-09-15 05:48] #2063 closed

[2017-09-15 13:51] adailsonfilho commented on #1292
@davidfowl,

You said:

So... if I have:
- csproj (new slim type)
- ASP.NET Core 1.1
- .NET framework 4.6.1

I should be able to target AnyCPU? Or the simple fact there I'm using .NET Framework prevents it?

Thanks!

[2017-09-15 16:57] natemcmaster commented on #1292
AnyCPU continues to be problematic. Setting PlatformTarget=AnyCPU defer the question of CPU arch until the application is launched. For native components like libuv, .NET Framework apps must manually detect the process architecture at launch and load the right native library. .NET Core does this automatically.

FYI -  https://github.com/aspnet/libuv-package/issues/21 - there is ongoing discussion

[2017-09-16 09:55] JanEggers commented on #1980
if it is about transport abstraction you should name it:

Microsoft.AspNetCore.Transport(s)

[2017-09-18 01:26] vinhhrv commented on #2032
Can't reproduce

[2017-09-18 01:26] #2032 closed

[2017-09-18 16:56] cesarbs commented on #1684
As I suspected, here's the root of the flakiness:

[code]

The server is closing the connection because of that. causing the test to fail.

[2017-09-18 18:32] cesarbs commented on #1267
@pieceofsummer @ilyabreev @jeff-pang Can you share more details about the issues you've ran into with Kestrel 1.1.2? In @vinhhrv's case, it appears he is running into the connection limit that we introduced in 2.0. But that limit isn't there in 1.1.2, so that can't be the cause of your issues.

Could any of you share a memory dump captured when Kestrel hangs?

[2017-09-18 22:12] cesarbs commented on #1684
I'll watch the CI for a couple days before closing this.

[2017-09-19 18:38] cesarbs opened #2067 "HTTP/2: add flag to configure an endpoint as HTTP/2-only"
Support HTTP/2 with prior knowledge per [Section 3.4](http://httpwg.org/specs/rfc7540.html#known-http) of RFC 7540. This can be done per-endpoint.

[2017-09-19 18:43] Tratcher commented on #2067
Your link is broken.

So you'd end up with some sort of protocol negotiation enum like HTTP1, HTTP2, HTTP1 | HTTP2... that you could translate to ALPN values.

[2017-09-19 19:08] cesarbs commented on #2067
Fixed the link.

No, the spec allows for direct HTTP/2 cleartext connections. There's no protocol negotiation in that case.

[2017-09-19 19:10] Tratcher commented on #2067
Sure, the same enum could be used for plaintext too, though the combine values wouldn't be valid.

[2017-09-19 21:55] Tratcher commented on #1290
We also need to consider how to configure kestrel from VS, especially the port and path base. Today it's setting ASPNETCORE_URLS but https and path base have been disallowed. See https://github.com/aspnet/Hosting/issues/1120

[2017-09-20 12:42] #2002 closed

[2017-09-20 14:15] netranger commented on #1144
As other mentions, the error might originate from javascript cookies and not your own code, so you might not able to correct the error.

In our situation **Google Analytics** sat the malformed/utf-8 cookie.

Our marketing department used the querystring **utm_campaign** to name their campaigns (containing danish characters), so when they made an url to our site, and posted it on facebook or other

[2017-09-20 18:52] #1684 closed

[2017-09-20 23:02] pathcore-tasos opened #2070 "InvalidOperationException: Response Content-Length mismatch when streaming a bitmap"
Hi there,

If one tries to return an image in a FileStreamResult, the application will throw an exception along the lines of:
`InvalidOperationException: Response Content-Length mismatch: too few bytes written (0 of 1234567)`

My code was as follows:
[code]

However, if I changed it to the following,  the image is returned without complaint:
[code]

It appears that doing the reading manually fixes

[2017-09-20 23:04] Tratcher commented on #2070
Did you forget to Seek the stream back to the beginning?

[2017-09-21 00:09] houstondapaz commented on #1263
I have de same error with aspnet core 2.0
I'm using nginx with
[code]

and had Bad Request on execute POST

[code]

This rule, don't could send a body in Connection: Upgrade, is a HTTP rule?

[2017-09-21 14:29] pathcore-tasos commented on #2070
Yep that would do it!

Sorry to take up your time!

[2017-09-21 14:29] #2070 closed

[2017-09-21 16:21] lewislabs commented on #1530
We're still seeing this error when using Kestrel 1.1.2. Getting a `BadHttpRequestException` with the message `Unexpected end of request content` being thrown with this StackTrace.
[code]

It;s not something that I've been able to easily reproduce but I'm looking for any advice that anyone has on it.

[2017-09-21 18:38] cesarbs opened #2080 "HTTP/2: log errors for HTTP/2 connection errors"
Currently we only send GOAWAY frames with the proper error code, but there's no user-visible message about what went wrong except that an `Http2ConnectionErrorException` was thrown. We should log more specific information about each error (and consider putting a message in the frame's payload as well, since the spec allows that).

[2017-09-21 18:55] cesarbs commented on #1530
@lewislabs The original issue only happened on requests that used the chunked transfer encoding. From your stack trace, I can see that the request includes a Content-Length header (otherwise Kestrel wouldn't be using the `ForContentLength` class to read the request body.

Could the client have disconnected mid-request?

[2017-09-21 19:56] cesarbs commented on #1263
@houstondapaz You can fix that by configured nginx to forward the Connection header it receives from the client:

[code]

Our behavior is stricter than what's specified in the HTTP spec. That said, other servers (e.g. http.sys based servers) also reject upgrade requests that indicate the presence of a request body (by including a Transfer-Encoding: chunked or Content-Length header. cc @Tratcher

[2017-09-21 19:59] lewislabs commented on #1530
That's certainly possible but it would be unintentional - we're in control of both the client side and server side code. We're seeing this error fairly frequently but it's only for a small fraction of requests. Would a client disconnection be the most likely cause of that stack trace?

[2017-09-21 20:17] skynyrd commented on #1276
We are also suffering from this problem. When our .net core 1.1 API deployed, and we run our load tests, the first test always fails (6 req/sec) and after running the same test again and again, it becomes faster. (200 req/sec). There is no cache, and for the dependent microservices, the timeout value is 1 sec.

Could you find a solution @cex-pnaik ?

[2017-09-21 21:09] cesarbs commented on #1530
It would definitely show up if the client disconnected before sending the entire request body. You can look for client disconnects in the logs. Looks for messages about ECONNRESET and FIN on the connections where you're seeing that stack trace.

Another way to look into what's happening would be to use a tool like Wireshark to see what's getting through the wire.

[2017-09-21 22:47] muratg commented on #2058
Closing this one as we don't have enough information.  @chintan3100 please open another bug if you'd like to continue the discussion.

[2017-09-21 22:47] #2058 closed

[2017-09-21 22:55] muratg commented on #2048
@israellot Could you provide a repro and details?

[2017-09-21 23:17] israellot commented on #2048
I've tried to create a repro but it turns out I was only able to notice the behavior when deployed to an Azure App Service. After creating a new AppService the problem didn't present itself as well.

[2017-09-21 23:31] muratg commented on #2048
OK thanks. Please let us know if you hit this again.

[2017-09-21 23:31] #2048 closed

[2017-09-22 05:13] anthonywanted commented on #1267
i got a same problem and i send you the dump zipped
please give me some advice
Thanks

[2017-09-22 08:14] mortb commented on #1625
I can confirm this issue.
I have an aspnetcore application that is targeting net47.
The libuv dll load problem arises if I have `<RuntimeIdentifier>win</RuntimeIdentifier>`, but disappears when I change to `<RuntimeIdentifier>win-x64</RuntimeIdentifier>`

[2017-09-22 08:29] rustamkulenov opened #2082 "Zero Content-Length for static file on Ubuntu"
I've developed SPA application (ASP core,MVC,Angular) on Windows but can not host it on Linux. When I reload webpage in browser by F5 Kestrel prints out error and webbrowser receives HTTP code 500. This happens every second reload.

**Environment:**

`#dotnet --info`

**Steps to reproduce:**
1) Create new MVC application:
`#dotnet new mvc`
2) Place file named 1.txt with any content into wwwroot
3)

[2017-09-22 16:38] Tratcher commented on #2082
Can you share a Fiddler trace?

Note there's no functional link between the File result in MVC and UseStaticFiles, they operate independently.

I've seen this behavior before. The odd requests are normal request but the even requests have conditional headers like if-modified-since. The result from these even requests is supposed to be a 304 not-modified with no body. There's a disconnect where som

[2017-09-22 17:10] Tratcher commented on #2082
I'm not finding the matching bug.

I assume you're hitting this new code path:
https://github.com/aspnet/Mvc/blob/9aff0a67c189fe25d48379f94f6180e577d55d5c/src/Microsoft.AspNetCore.Mvc.Core/Internal/FileResultExecutorBase.cs#L88-L92

But I don't see it setting the Content-Length in this case. In fact, I don't see it setting the ContentLength for the 200 responses either. @jbagga

[2017-09-22 17:21] jonasrdm commented on #1807
I think this topic needs more attention. My server randomly stopped to respond requests when starting up, and I noticed that it only happened when a lot of requests where being made while it was starting. I don't understand exactly what is really happening but @kevin-meyer-aarons solution saved me. Thanks dude! =D

[2017-09-22 17:54] jbagga commented on #2082
I think this might be the bug https://github.com/aspnet/Mvc/blob/rel/2.0.0/src/Microsoft.AspNetCore.Mvc.Core/Internal/FileResultExecutorBase.cs#L85-L91

If the status is 304 or 412, Content-Length should not be set because an empty body is being returned. @Tratcher

[2017-09-22 18:10] Tratcher commented on #2082
This issue was moved to aspnet/Mvc#6875

[2017-09-22 18:10] #2082 closed

[2017-09-23 03:33] pan-wang commented on #1807
@jonasrdm So the workaround is to do some throttle control at the back-end?

[2017-09-24 14:20] HongyanShen opened #2083 "Where to get the kestrel log on ubuntu14.04?"

[2017-09-24 15:25] Tratcher commented on #2083
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging?tabs=aspnetcore2x

[2017-09-25 09:16] tura08 commented on #1851
Can someone from Microsoft please address this? I just spend too much time following [this](https://docs.microsoft.com/en-us/aspnet/core/security/https) tutorial today and it doesn't work on Mac. In fact, the default configuration builder doesn't seem to care about anything regarding Kestrel in appsettings.json. The docs need to be updated with the correct way of setting up Https for Kestrel in de

[2017-09-25 10:43] funkycoding commented on #1965
Hi,

Getting the same exception every day, at 4 PM and 7 PM. See screenshot below from app insights. Using Microsoft.AspNetCore.Server.Kestrel 1.1.2. Fun fact: Not seeing this on another web app, using the same package version.

![app-insights-kestrel-uv](https://user-images.githubusercontent.com/307410/30804737-d2089822-a1ee-11e7-9c36-b5706a348755.PNG)

[2017-09-26 17:18] Tratcher commented on #1851
@tura08 that doc has now been taken down. kestrel config file support was cut from 2.0.0. Config values need to be read manually in your initialization code.

[2017-09-27 01:35] cesarbs commented on #1965
@funkycoding How long have you been observing this? Is it consistently around those times every day?

[2017-09-27 07:03] funkycoding commented on #1965
@cesarbs If i look in app insights, it's been happening since 28-08 (this is the date when we put the web app there). I noticed the exception before, but due to @halter73 comment about virus scanner i wasn't (and still am) not really worried about it...

Anyway, short summary after scanning app insights:
 - between 28-08 and 19-09 this exception happened around 1 PM and 11 PM
 - between 20-09 and

[2017-09-27 08:52] shlomiw commented on #1250
I also see it every once in a while, but from an Orleans **client**.

[2017-09-27 12:22] tura08 commented on #1851
@Tratcher that's a pity, it seemed like an elegant solution. Anyway, thanks for clearing that up. FWIW, to enable SSL in development, I am currently doing something like this in Program.cs:
[code]

[2017-09-27 17:13] cesarbs commented on #1965
@funkycoding I think you're running into what's decribed by @halter73 near the top of this issue: https://github.com/aspnet/KestrelHttpServer/issues/1965#issuecomment-317120993

App Services has virus/security scanners that run there periodically, and it looks like they try to open Kestrel's pipes. The log message you're seeing is the scanner closing the pipe connection.

[2017-09-27 17:16] cesarbs commented on #2067
@muratg I wouldn't call this a bug. It's more like an enhancement, or even a task (since we haven't shipped HTTP/2 support yet, this would look a bit odd showing up in the release notes - just HTTP/2 should suffice).

[2017-09-27 20:04] dotarj commented on #1814
@1amirjalai / @RehanSaeed: We are facing the same problem; 100+ requests per second per machine with no problems then suddenly, all requests fail for a machine with an IOException "Error -4077 ECONNRESET connection reset by peer". Did you resolve the issue?

[2017-09-28 07:37] RehanSaeed commented on #1814
Still not resolved, I still see lots of these errors in my Kibana dashboard. I'm hoping an upgrade to ASP.NET Core 2.0 will resolve this issue, just need to find the time to do that.

[2017-09-28 18:03] sanishx commented on #1267
I'm also having the problem, on 2.0.0 it appears the whole dotnet process 'stops' rather than just kestrel as I have some background threads that stop doing anything also. The dotnet memory usage goes down bigly when this happens also

[2017-09-28 20:52] mikeharder opened #2085 "Perf Regression: Merge code paths duplicated between HTTP/1.x and HTTP/2 implementations"
"Merge code paths duplicated between HTTP/1.x and HTTP/2 implementations" (https://github.com/aspnet/KestrelHttpServer/issues/2017) seems to have caused a 5% regression in Plaintext on both Cloud and Physical hardware.  You can repro the regression by comparing branch `mikeharder/perf-test-before` to 1470ee0.

Hardware | mikeharder/perf-test-before | 1470ee0 | Ratio
------------ | ------------- |

[2017-09-28 22:51] Tratcher opened #2086 "Remove automatic Upgrade header logic from UpgradeAsync"
https://github.com/aspnet/KestrelHttpServer/blob/a31d1e024ca86a4a9053e0be105fde17c5ccae10/src/Kestrel.Core/Internal/Http/Http1Connection.FeatureCollection.cs#L42-L50
This code copies the request Upgrade header to the response. However, the request Upgrade header is a list of suggestions, while the response is the ordered list of actually selected protocols. Setting any of these response headers is

[2017-09-29 19:31] jkotalik opened #2087 "Default values in HttpProtocol.FeatureCollection should be on set and not get"
For example, [the Scheme](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel.Core/Internal/Http/HttpProtocol.FeatureCollection.cs#L85-L89) and [the PathBase](https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel.Core/Internal/Http/HttpProtocol.FeatureCollection.cs#L97-L101) both provide default on get rather than on set, even though they are always set to non-null in the c

[2017-09-29 20:49] jkotalik opened #2088 "IHttpUpgradeFeature.UpgradeAsync() should not be setting any headers"
As @Tratcher mentioned for the in-process scenario, [the UpgradeAsync method](https://github.com/aspnet/KestrelHttpServer/blob/a31d1e024ca86a4a9053e0be105fde17c5ccae10/src/Kestrel.Core/Internal/Http/Http1Connection.FeatureCollection.cs#L40-L50) should not be setting any headers. It is a caller responsibility to do so. See [the RFC spec](https://tools.ietf.org/html/rfc7230#section-6.7) and [our web

[2017-09-29 21:07] #2088 closed

[2017-09-29 21:08] jkotalik commented on #2088
Duplicate of #2086

[2017-09-30 00:09] natemcmaster commented on #1955
I think this test is still flaky. Just failed again.

http://aspnetci/viewLog.html?buildId=339030&tab=buildResultsDiv&buildTypeId=Lite_KestrelStressTest

[code]

[2017-09-30 10:46] rgl opened #2089 "Set the Microsoft.AspNetCore.Server.Kestrel nuget package projectUrl element to this repository"
It would be more useful to be able to easily jump from the nuget package at https://www.nuget.org/packages/Microsoft.AspNetCore.Server.Kestrel/ to this source code repository (instead of linking to the asp.net site).

[2017-10-01 18:59] hasanoruc commented on #1267
Hello. Same problem. But my problem is a little bit different. So... I restart server every one or two week. It looks like server getting tired. When tired is not responding and then nginx getting 502 error. I am testing mobile app and getting and posting more datas and server get this error every 2 days. And i restart the server and then solve my problem for two days. I use ubuntu's service from

[2017-10-01 19:00] sanishx commented on #1267
I am also using Ubuntu and running through the supervisor system.

[2017-10-02 11:07] thestonehead opened #2091 "Custom IConnectionAdapter"
Hello.

I'm trying to implement a custom IConnectionAdapter and add it to ListenOptions, but a breakpoint inside OnConnectionAsync never gets hit. Am I doing something wrong?

[code]

The reason I'm trying to implement a custom IConnectionAdapter is to use HTTPS with short lived certificates where I would replace it at runtime with a new one before the old one expires.

[2017-10-02 14:07] potocnika commented on #1869
FYI: If someone else comes across this issue: seems like ports 6000 and 7000 are reserved for something. After changing "applicationUrl" in launchSettings.json from 6000 to 5000 it worked fine.

Kestrel claims it's listening on ports 6000 and 7000 but it's not really - would be preferable to throw an error during startup is the ports were already occupied.

[2017-10-02 19:47] halter73 commented on #2091
@thestonehead Your sample code looks correct to me. OnConnectionAsync should get called. Are you sure you're making a request to port 65187?

Beware that you're using types in "Internal" namespaces which are subject to change even in minor version updates.

[2017-10-02 20:13] natemcmaster commented on #1926
Still flaky: http://aspnetci/viewLog.html?buildId=339528&tab=buildResultsDiv&buildTypeId=Lite_UniverseTest

cc @muratg

[2017-10-03 02:54] houstondapaz commented on #1263
@cesarbs Thanks for reply.
But I was configured as ```Connection $http_connection;``` and the error persists, now in the socket system after the first POST requisition (Connection Keep Alive)

To fix I separated the services in a nginx configuration to each

[2017-10-03 09:44] thestonehead commented on #2091
Ok, I've played around with it and emboldened by your validation, found out it was about the way I was running the project. When I ran it in Visual studio on IIS Express, it didn't work, but when I changed that it did.
So... false alarm :D

And yes, I'm aware they intend to deprecate Connection adapters in the next version and implement a better pipeline architecture. It's still the simplest way t

[2017-10-03 09:44] #2091 closed

[2017-10-03 10:50] PureKrome commented on #1319
@muratg Quick question: so does that mean that:
- this issue still exists in 2.0 (and therefore 2.1)
- no one is going to try and resolve this
- POST is going to _remain_ slower than GET?

[2017-10-03 10:54] gulbanana commented on #1319
something which looks very much like this issue is hitting me atm :( it's relatively crippling - every request in our app takes an extra 150ms reading the request body (which are small, a couple of hundred bytes). i'll report back if i get anywhere.

[2017-10-03 11:57] gulbanana commented on #1319
i've tracked it down to this point:
`Request.Body.CopyToAsync(new MemoryStream())`
takes a fixed ~160ms when running kestrel under netcoreapp2.0 in azure app service.

here's the body of the request, which is a multipart form with two short parameters - but i'm not running any of the form-reading code, just copying the body as bytes.
[code]

[2017-10-03 12:26] gulbanana commented on #1319
things which did not work: ThreadPool.SetMinThreads; options.ThreadCount; increasing cores allocated in Azure. i already had gcServer and was already async.

[2017-10-03 18:04] #2067 closed

[2017-10-03 19:58] HWouters commented on #2070
I get the same exception one out of two requests. It only happens when I deploy my application to Azure app service. Unfortunately, I can't reproduce it locally.
[code]

[2017-10-03 22:38] Tratcher commented on #2070
@HWouters that looks like a different issue. See https://github.com/aspnet/Mvc/issues/6875

[2017-10-03 23:45] halter73 commented on #1319
@PureKrome @gulbanana We closed this issue because we haven't seen reproducible evidence of POSTs performing badly. The original issue seems to be related to GC collection spikes. POSTs are of course going to be slightly slower than GETs because of the data being uploaded in the body.

@gulbanana The 160ms latency for `Request.Body.CopyToAsync(new MemoryStream())` seems weird unless the client is

[2017-10-04 01:03] gulbanana commented on #1319
thanks for the tips. i hadn’t yet tried using a stopwatch instead of an ILogger - my logging is definitely around the CopyToAsync but it could still be producing some sort of misleading result. client side network tracing is also a good idea- while our stack was already tested for this stuff some time ago, the client as well as the server has been ported to .net core, and it’s quite plausible that

[2017-10-04 01:10] gulbanana commented on #1319
in particular if the client config is at fault then there’s nothing kestrel could do about it, since it’s inherent to the design of lazy body-reading. which probably works fine for people who aren’t in australia :)

[2017-10-04 02:27] PureKrome commented on #1319
@halter73 Thanks for the reply - _really_ appreciate it and the metrics supplied. It also gives us _newbies_ a great understanding of what _we_ can do to help get metric data, to help explain an issue and _hopefully_ not waste your/teams time.

I'm going to wait for @gulbanana to see if he can score some network trace data. We're continuing the convo in the public ASPNET slack #azure channel and i

[2017-10-04 05:08] gulbanana commented on #1319
yes, it has been very helpful! once i saw this issue i forgot that our client, too, needed to be audited post-port. turns out the problem was actually more Nagle's algorithm than expect: 100-continue; the way we were disabling it in .net framework didn't translate over to whatever apis were available when this code was written. by the combined effect of tcp ack delay and 100-continue two extra rou

[2017-10-04 05:17] benaadams commented on #1319
Should be able to change IIS's settings in web.config

[2017-10-04 05:20] gulbanana commented on #1319
perhaps asp.net core publish could include that setting by default? i'm not sure how many people will fall into this trap or whether latency-sensitive small POSTs are a weird edge case.

[2017-10-04 07:43] markvincze opened #2095 "Server returning `RequestTimeout` if the request stream is not read"
If I implement a very simple ASP.NET Server, which returns a hardcoded dummy response without reading the request, and send a couple of larger (a couple kbytes) requests to it, the server responds to the second request with a `RequestTimeout` instead of `OK`. It only happens on Linux, it works properly on Windows.

I uploaded a self-contained repro here: https://github.com/markvincze/KestrelReques

[2017-10-04 18:28] HWouters commented on #2070
@Tratcher thank you for pointing me to the right issue. The workaround solves my problem until the patch is released.

[2017-10-04 21:41] halter73 opened #2096 "Improve TLS handshake"

[2017-10-04 21:43] Drawaes commented on #2096
You have my interest

[2017-10-04 23:57] halter73 commented on #2095
@markvincze Thanks for the awesome repro. It made it very easy to track down the issue. I captured a network trace using wireshark, and it looks like there is a bug in the Linux HttpClient.

In your repro, Kestrel is sending a 200 response without sending a "HTTP/1.1 100 Continue" response or waiting for the first request body to even start uploading. This itself is not a bug, but this is what tri

[2017-10-04 23:57] #2095 closed

[2017-10-05 07:28] markvincze commented on #2095
Hi @halter73,
Thanks for picking this up!

And thanks @lucaslorentz for investigating the [original issue](https://github.com/markvincze/Stubbery/pull/5).

[2017-10-05 17:50] maroallegro commented on #1530
@lewislabs @cesarbs Did you solve the issue? I am also having this problem at the moment. I am trying to send large file (20GB) from WebAPI1 to WebAPI2 (hosted locally). When I am sending this file via postman to WebAPI2 it sends whole file. But when I am trying to send the file from WebAPI1 to WebAPI2 it fails (I am able to send files like 7GB though).

During sending 20GB file I am receiving err

[2017-10-05 18:10] halter73 commented on #2095
No problem. At least you can work around the issue for now by explicitly consuming the request body.

[2017-10-05 18:35] Tratcher opened #2099 "Allow 304 responses with a Content-Length but no body"
304 Not Modified responses are not allowed to contain a body, but they may still contain an informative Content-Length header similar to a Head response.

https://tools.ietf.org/html/rfc7230#section-3.3.2

   Modified) response to a conditional GET request (Section 4.1 of
   [RFC7232]); a server MUST NOT send Content-Length in such a response
unless its field-value equals the decimal number of oct

[2017-10-05 23:59] halter73 commented on #1686
@muratg I updated this check list with new Socket-related work items.

[2017-10-06 00:05] muratg commented on #1686
@halter73 Thanks, looks good. Though let's make sure we start with the test run changes that we talked about too. :)

[2017-10-06 02:09] cesarbs commented on #1530
@maroallegro What do you see on the WebAPI1 side?

[2017-10-06 02:11] cesarbs commented on #1263
@houstondapaz Are you seeing the exact same error? That means your client might be sending something like `Connection: keep-alive, upgrade`. Can you check if that's the case?

[2017-10-06 02:14] cesarbs commented on #1267
@anthonywanted @sanishx @hasanoruc We've seen issues where the server seemingly hangs due to resource exhaustion. It is always the case that somewhere in the application a sync call is being made (e.g. `SomethingAsync().GetAwaiter().GetResult()`). This is unfortunately hidden in unexpected places sometimes, like some Azure SDKs. Have you checked if that could be the case?

[2017-10-06 05:29] PureKrome commented on #1319
@gulbanana Can you post more info about what you guys did to change your _current_ setup please? And why/rational for the custom tweaks, prior to testing on Kestrel.

[2017-10-06 09:30] gulbanana commented on #1319
sure. client-side, we added this config of the HttpClient being used:
[code]

on the server we also added a nasty hack to read multipart forms in a single data copy: https://gist.github.com/gulbanana/b0a2537e4a75be7b3e1456c0f9e021a7
that's not necessary for most use cases and possibly not a good idea in ours either.

as for why we were disabling Nagle's algorithm before the port to .net core (Serv

[2017-10-06 14:45] maroallegro commented on #1530
When I run this request as part of WCF contract in WebApi1 i got:

[code]
Operation failed always around 2 minutes...

Than I tried to send that 20GB file as part of controller method (from WebAPI1) and catched there `TaskCanceledException`. When this exception occurs, we can tell was that a timeout issue by checking the flag IsCancellationRequested if it false it was timeout issue. It was timeout

[2017-10-06 18:06] halter73 opened #2101 "Add a logging base class to Transport.Abstractions"
It could be beneficial to have methods in a transport logging base class for logging events like connection resets. This could serve as a minimum guideline for what should be logged by new transports and better enable cross-transport testing.

An alternative might be to move the more transport-agnostic logging like Connection(Error|Reset|Pause|Resume) into the Core project

[2017-10-06 21:42] Tratcher opened #2102 "Reorder request draining logic for responses without response bodies"
For requests with bodies and responses without them, kestrel delays sending the response until the request is drained. In the process it can also send a 100 Continue contrary to the applications intentions.

Aside from adding extra latency to the response this also has functional impacts for clients, especially for authenticated upload scenarios.

`Expect: 100-continue` is designed to allow the se

[2017-10-06 22:25] halter73 commented on #2102
I think this change is a little risky. If we were to automatically flush the response headers without draining the request body or sending a 100 Continue, we would run into dotnet/corefx#24435 in relatively common auth and 404 scenarios. This issue causes the Linux HttpClient to send corrupt requests that ultimately lead to request timeouts.

Even if we wait for dotnet/corefx#24435 to be resolved,

[2017-10-08 06:09] yosigolan commented on #1965
Hey.
i have also received this error 2 days ago. i am using .net core 2 on azure app services. in my case, after this error my service stopped responding to any request.

[2017-10-08 12:29] iftahbe opened #2103 "Allow to replace the server cert at runtime"
Right now, the SSL certificate that Kestrel will use is here:

https://github.com/aspnet/KestrelHttpServer/blob/dev/src/Kestrel.Https/Internal/HttpsConnectionAdapter.cs#L25-L26

There are certain scenarios that we want to support replacing the certificate while the server is still running. This can be done quite easily if we could set the `_serverCertificate` so all new connections will be able to

[2017-10-08 13:46] Tratcher commented on #2103
As an alternative, we hope to get SNI support at some point and one of the API proposals is for a callback where you can select your own cert for each connection. This would allow you to change the cert dynamically.

[2017-10-08 15:41] Drawaes commented on #2103
I would say at worst, this should wait until the "option bag" for SslStream is completed, then you could expose that or pass it into Kestrel. At best you will get the callback as mentioned above...

[2017-10-08 17:08] Tratcher commented on #2103
I doubt the new options bag will be exposed by kestrel APIs. For now it's Core only.

[2017-10-08 17:17] davidfowl commented on #2103
The middleware could expose a callback today but before we do anything, somebody should hack together a lets encrypt connection adapter for kestrel so that we can see all of the touch points.

[2017-10-09 07:05] ElyseeOkry opened #2104 "Server randomly stops responding mainly on high traffic"
We are using KestrelHttpServer and it randomly stops responding. This can happen few time a day or sometime once every 2-3 days. it is really random behavior. The frequency is high when we have high traffic.
I wrote a small monitoring application, which automatically takes  a dump when it stops working and restart it. The dumps are taken using dotTrace of Jetbrain(https://www.jetbrains.com/profile

[2017-10-09 11:12] DalSoft commented on #1625
Just add ```<OutputType>Exe</OutputType>``` when targeting net4x rather than core, and this will every time.

[2017-10-09 20:08] Eilon commented on #2096
Patch approved, you should be able to close this bug and mark as done.

[2017-10-09 20:54] natemcmaster opened #2105 "[2.0.x] Builds are not reproducible without Microsoft.AspNetCore.Internal.CoreFxLab.Sources"
The 2.0.x branch of Kestrel has a package dependency on Microsoft.AspNetCore.Internal.CoreFxLab.Sources, however, there is no open-source way to figure out exactly how to generate this package.

Recommendations:

Either
 - Add corefxlab as a git submodule
 - Add scripts to kestrel to generate the package
 - Add scripts to aspnet/Universe to generate this package

cc @pakrym @mikeharder

[2017-10-09 21:01] pakrym commented on #2105
Do we have the version used to build 2.0 kestrel? We can just drop it into kestrel repo as source project.

[2017-10-09 21:05] natemcmaster commented on #2105
According to the TeamCity logs from the 2.0.0 rtm build, we used this package: https://dotnet.myget.org/feed/aspnetcore-release/package/nuget/Microsoft.AspNetCore.Internal.CoreFxLab.Sources/2.0.0-rtm-21470

[2017-10-09 22:37] ayende commented on #2103
I implemented a very rough draft here:
https://github.com/ayende/Kestrel.LetsEncrypt

No error handling and this is mostly to see that I _could_ do it.
Pretty much the only thing that I actually needed to do was to change the way Kestrel is getting the certificate. But in order to do that I had to pretty much bring all of `Kestrel.Https`

[2017-10-10 04:50] davidfowl commented on #2103
@ayende Sweet!

Yea, but that's not a big deal it's only a few files. This should also let us prove out if a callback is enough.

[2017-10-10 05:38] ayende commented on #2103
A callback for the certificate would be enough, yes.

[2017-10-10 05:43] davidfowl commented on #2103
This looks kinda crazy https://github.com/ayende/Kestrel.LetsEncrypt/blob/f9facd8159f61aecd5053d49776ad3538d460b92/Kestrel.LetsEncrypt/Internal/LetsEncryptCertificateFetcher.cs.

[2017-10-10 05:53] ayende commented on #2103
The major issue here is that we need some way to prove to Let's Encrypt that we are the owners of the domain. We can do that in various ways, but the easiest from our perspective at this point is to use the `http-01` challenge.

This basically means that we ask Let's Encrypt for a certificate, and we need to prove we own this domain. We do that by getting a token from Let's Encrypt and asking it t

[2017-10-10 07:14] Drawaes commented on #2103
https://github.com/dotnet/corefx/issues/22510

Can't use protected data. Like secure string it either throws or just isn't  (secure)

[2017-10-10 07:15] Drawaes commented on #2103
Let me qualify that. On anything other than windows

[2017-10-10 07:20] ayende commented on #2103
The actual problem here is that we need to persist the cert to disk. We can do that with OS permissions so only the current user can touch it, or provide callbacks to the user to handle caching the certificate if they want to customize that (such as storing in a vault).

[2017-10-10 07:22] Drawaes commented on #2103
Why does it need to go to disk? Can't you just use the bytes [] ?

[2017-10-10 07:25] ayende commented on #2103
Let's Encrypt encourages you to keep the same certificate around, rather than renew it on every start.
Otherwise, you might hit rate limits.

[2017-10-10 07:28] Drawaes commented on #2103
I guess that's a problem for people with crappy code that restart often of which I am sure yours is not ;). Maybe make an option to "persist certificates to disk"

[2017-10-10 07:48] ayende commented on #2103
@Drawaes Consider the case of a user running in development mode.
They still want to use HTTPS, and while they can run with a self signed, it is much easier all around to be able to use a real one from Let's Encrypt. In that case, it is easy to have a debug / run cycle that will hit the limits.

For that matter, even CI that continuously deploy will have to deal with this, in production.
I think t

[2017-10-10 07:57] ayende commented on #2103
I updated the code, so this should be clearer now.

[2017-10-10 08:01] Drawaes commented on #2103
Yeah dev it's fine...

[2017-10-10 17:55] JedatKinports commented on #639
Is there a difference between 0.0.0.0 and *?

[2017-10-10 18:51] TotzkePaul commented on #639
I'll get an update on this in the next couple of days. I agree that the ports should be configurable via the command line.

I think someone deleted their comment about "0.0.0.0 vs *". I think * is all handles (IPv4 and IPv6) while 0.0.0.0 is only IPv4 address. There is something else, let me know.

1. I think there is some issues with using the custom port with `CreateDefaultBuilder` in your progr

[2017-10-10 20:45] Soarc commented on #2103
@ayende for development mode user could use staging let's encrypt [environment](https://letsencrypt.org/docs/staging-environment/).

[2017-10-10 21:15] Drawaes commented on #2103
Actually the more I think about it, when does a Dev have a publicly facing DNS to get a cert in the first place?

[2017-10-11 00:47] nim commented on #852
I doesn't want, that my server write this header. And doesn't want remove it after. This is a useless server operation. It makes me sad.

[2017-10-11 02:27] vinhhrv commented on #2104
the same 👍, stop, hangs,
CPU 1-2%

[2017-10-11 06:17] Soarc commented on #2103
@Drawaes In my case when Dev is developing let's encrypt's automated certificate renewal :)

[2017-10-11 06:36] benaadams commented on #2103
Otherwise, you might hit rate limits.

They only issue domain validated certs and [only for 90 days at a time](https://letsencrypt.org/2015/11/09/why-90-days.html). Rate is 5 times a week for same cert; 20 times for domain and all its sub-domains; which is quite low for a test server - so you'd want to be caching it.

@ayende's use ASP.NET's [`IDataProtectionProvider` and `IDataProtector`](https:/

[2017-10-11 11:43] ayende commented on #2103
@Soarc Except that you want to hit your website in the browser (or from you manager's browser) and have it Just Work.

@Drawaes dynamic DNS would do quite well for these cases. Or CI deployments, etc.

@benaadams Yes, you have to cache that.
I couldn't find how  `IDataProtecter` would work on Linux, and anyway, I just externalize all of that so user can handle it on their own.

[2017-10-11 11:52] benaadams commented on #2103
It works via DI so is its externalized to the users choice of mechanism; though you'd probably need to change the `LetsEncryptCertificateFetcher` to a service to grab it?

[2017-10-11 12:09] ayende commented on #2103
The problem is that at this point you'll need to provide Not just how to protect it but also _where_ to protect it.
The fetcher is also going to start a whole new Kestrel instance to do the `http-01` validation, so confusing with regards to whose service provider to use.

[2017-10-11 18:35] halter73 commented on #852
@nim This issue has been resolved by adding [KestrelServerOptions.AddServerHeader](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.server.kestrel.core.kestrelserveroptions.addserverheader?view=aspnetcore-2.0) which you can set to false during app startup.