[2017-10-11 18:41] anurse commented on #2085
It does look like the RequestParsingBenchmark has also regressed by 5%. On mikeharder/perf-test-before I get these results:

|               Method |     Mean |     Error |    StdDev |      Op/s | Scaled |  Gen 0 | Allocated |
|--------------------- |---------:|----------:|----------:|----------:|-------:|-------:|----------:|
| PlaintextTechEmpower | 1.093 us | 0.0258 us | 0.0386 us | 915,216.8 |

[2017-10-11 19:12] netsfx opened #2110 "Kestrel "ignores" listenOptions.UseHttps on asp.net Core 2.0 on Ubuntu - uses http instead - but works on Windows"
I want to run Kestrel on Ubuntu with https and do:

[code]
On Windows, that works as expected:
Now listening on: http://0.0.0.0:80
*Now listening on: https://0.0.0.0:443*

But the same on Ubuntu yields *http* instead of *https* on port 443:
Now listening on: http://0.0.0.0:80
*Now listening on: http://0.0.0.0:443*

The result is that on Ubuntu port 443 will not serve https but http, which is of co

[2017-10-11 22:45] Drawaes commented on #1984
Was this added ? Or will it be I would like to close out the issue.

[2017-10-11 23:24] cesarbs commented on #1984
Pinging @danroth27 again.

[2017-10-11 23:44] #1926 closed

[2017-10-11 23:44] #1694 closed

[2017-10-11 23:45] #2096 closed

[2017-10-12 14:09] odysseus1973 opened #2113 "How to listen http and https with Kestrel and Service fabric"
Hi!

How to listen http and https with Kestrel and Service Fabric?

[code]

Port 3000 with https work correctly, but port 2000 with http not working.

[2017-10-12 15:14] Tratcher commented on #2113
Remove UseUrls, it's overridden by Kestrel's Listen APIs.

Doesn't ServiceFabric dictate the ports you should listen on in their own config? Do those settings match what you've passed to Listen?

[2017-10-12 15:16] odysseus1973 commented on #2113
In the ServiceManifest.xml I have
[code]
Removing UseUrls(url) does not help.

[2017-10-12 18:15] Tratcher commented on #2113
What happens when you connect to 2000? What error does the client get? What shows up in the server logs?

[2017-10-12 18:44] odysseus1973 commented on #2113
I can see many errors in debugger
System.IO.IOException: Authentication failed because the remote party has closed the transport stream.
I think this errors health probe related.
When I try get url from browser I can see Waiting <my url> forever. Where I can find server logs ?

[2017-10-12 19:00] Tratcher commented on #2113
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging?tabs=aspnetcore2x

[2017-10-13 07:50] MBODM commented on #1998
Is the IConfiguration service already available in Program.cs after the „.CreateDefaultBuilder(args)“ line, so we can directly do a „.UseUrls(configuration[„urls“])“ in Program.cs ?

[2017-10-13 14:03] Tratcher commented on #1998
No, you'd have to create your own configuration instance to do that. However, it's circular as UseUrls just writes to config.

[2017-10-13 16:04] MBODM commented on #1998
i think

public static IWebHost BuildWebHost(string[] args)
{
  WebHost.CreateDefaultBuilder(args)
    .UseUrls(new ConfigurationBuilder().AddCommandLine(args).Build()[„urls“])
    .UseStartup<Startup>()
    .Build();
}

would also do the trick. i think it doesnt matter if you use the above mentioned variant (by adding .UseConfiguration()) or this one. in the end its all the same.

hopefully the d

[2017-10-13 16:06] MBODM commented on #1998
side question: is there a simple layer in .net core, a developer can use here, to get the —urls param value out of args[] without handling the whole thing, string splitting etc ?

[2017-10-13 16:13] Tratcher commented on #1998
AddCommandLine is the only provided API for processing args[].

[2017-10-13 16:18] MBODM commented on #1998
Ah, ok. Thx a lot. Wasnt sure about that. Every day i still face some methods or classes i never realized they exist in .NET Core or EF Core.

[2017-10-13 18:57] TotzkePaul commented on #639
So I am using launchSettings.json to set pass in the variables. Each config should be separated by a space and have the format of "{Key}={Value}".

[code]

As far as I know, `WebHost.CreateDefaultBuilder(args)` will not let use args to uses command line for configs.

In the past, your StartUp constructor looked like `public Startup(IHostingEnvironment env)` and was responsible for the configuratio

[2017-10-13 20:05] thengakkola opened #2114 "How to configure Https in servicefabric with kestrel if no port is specified."
My internal stateful service doesn't expose a port in Service Endpoint. I.e no  Endpoints in ServiceManifest.xml. In this case if I want to configure ListenOptions with https how will I  use this ListenOptions?

 .UseKestrel(options =>
 {
    options.Listen(System.Net.IPAddress.Any, "what here?" , listenOptions =>
     {
       listenOptions.UseHttps(certificate);
     });
  })

[2017-10-13 20:59] evil-shrike opened #2115 "Support port command line argument"
`CreateDefaultBuilder(args).UseConfiguration(configuration)` works fine and allows to supply an url via cli: `dotnet run --urls http://localhost:5000`.
But it'd nice to support `--port` argument as well:
`dotnet run --port 5000`
Usually we don't need specify IP but only port.
It was suggested by many people in https://github.com/aspnet/KestrelHttpServer/issues/639. I saw this suggestion many times

[2017-10-13 21:49] Tratcher commented on #2115
This has come up a few times but nobody ever agrees what the default host/IP should be for that port. E.g. is it the same as `http://localhost:5000` or `http://*:5000`?

[2017-10-13 22:03] evil-shrike commented on #2115
Well, my feeling is it should be "localhost " (meaning that "allow only local connections`). "Secure by default".
If someone wants to allow remote connection to his/her server he'll specify IP/`*` in `urls`. But usually we'll have a reserve proxy which accesses Kestel locally so port will enough.

[2017-10-13 22:04] Tratcher commented on #2115
The other trouble is that localhost doesn't work well in docker.

[2017-10-13 22:22] jkotalik opened #2116 "E2ETests.SmokeTests_X64.SmokeTests_X64_Kestrel_CoreClr_Standalone fails in MusicStore"
Possibly related to the socket changes. @halter73
See: https://ci.appveyor.com/project/aspnetci/musicstore/build/1.0.1182
Exception:
[code]

[2017-10-13 22:40] halter73 commented on #2110
Why are you catching and ignoring exceptions from the listen callback?

My guess is that UseHttps cannot find "cert.pfx" and is throwing. This could be caused by case sensitivity on Linux.

[2017-10-13 22:41] halter73 commented on #2114
Do you wan't to use the default port for HTTPS? If so, just use 443.

[2017-10-13 22:52] benaadams commented on #2114
@alligator86 if you don't expose a specific port in `ServiceManifest` they you will need to get the port from Service Fabric depending on what it has assigned your microservice

It will pass the url to use to your CommunicationListener: https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication-aspnetcore

[2017-10-13 22:53] alligator86 commented on #2114
No my Service fabric instance creator dynamically assign ports to service listners. So I do not want to use the default 443 port.

[2017-10-13 22:55] halter73 commented on #2104
As an application developer, when looking at ASP.NET Core profiles, I would completely ignore any time spent in the LibuvThreads.

The LibuvThread class manages Kestrel's IO threads. There are N LibuvThreads each of which run [one managed Thread](https://github.com/aspnet/KestrelHttpServer/blob/733ac1efabfc4097d32f77d957b562123ad6164a/src/Kestrel.Transport.Libuv/Internal/LibuvThread.cs#L49) for th

[2017-10-13 22:56] alligator86 commented on #2114
@benaadams - I will try that option.

[2017-10-14 00:03] evil-shrike commented on #2115
I'm not an expert here but how will it work in docker with defaults? I mean without `--urls` or explicit `Listen` option?

[2017-10-14 00:09] Tratcher commented on #2115
I meant that in docker you need `http://*:5000`

[2017-10-14 00:11] muratg commented on #2115
Yeah if we change this, we'll need to keep docker running.

cc @shirhatti for his thoughts.

[2017-10-14 00:39] alligator86 commented on #2114
@benaadams  - We havent mentioned any service end points in serviceManifest.xml so when it comes to creating the service instance url comes as wildcard urlprefix (https://+:0). So when I bind the Listen using the below code service is always getting created at https://0.0.0.0:<some random port> in SF cluster.
`  .UseKestrel(options =>
                                    {

[2017-10-14 00:44] benaadams commented on #2114
You should probably specify an endpoint; though you don't need to specify any ports :)

As you aren't specifying an endpoint its not assigning you one so you get port 0; which is just any free port. i.e. its doing what you told it to.

However, the issue is as you have no assigned port/endpoint, you also don't have any real registration; so other services won't be able to discover how to communica

[2017-10-14 05:42] danroth27 commented on #1984
@Drawaes Could you please add an issue to https://github.com/aspnet/docs with what you want added to the docs?

[2017-10-15 09:41] chtbof opened #2117 "Microsoft.AspNetCore.Server.Kestrel[0]"
run a razor example in linux docker, show some error

warn: Microsoft.AspNetCore.Server.Kestrel[0]
      Unable to bind to http://localhost:5000 on the IPv6 loopback interface: 'Error -99 EADDRNOTAVAIL address not available'.
Hosting environment: Production
Content root path: /PEGA
Now listening on: http://localhost:5000
Application started. Press Ctrl+C to shut down.

[2017-10-15 10:49] tmds commented on #2117
Does your server have ipv6 on loopback?

[2017-10-15 10:58] tmds commented on #2117
Probably you don't want loopback in docker. Set ASPNETCORE_URLS to `http://*:<port>` (replace \<port> with the port your image is exposing).

[2017-10-15 11:42] chtbof commented on #2117
After add -e ASPNETCORE_URLS http://*:5000, the issue no longer exist.

[2017-10-16 07:47] netsfx commented on #2110
@halter73 no, the cert.pfx loads correctly. They try/catch is just for other devs, that don't have a cert. It will listen only on port 80 then. Also, as I wrote above, on Windows it works just fine and the problem is best indicated that on Linux 'http' instead of 'https' is printed, see above!

IMO here is really a bug on Linux!

[2017-10-16 11:30] Jamesxql commented on #2104
We are also facing the same problem. When the traffic is high, the kestrel server will randomly lose the response and will not recover

[2017-10-16 11:50] ElyseeOkry commented on #2104
This is really annoying as it blocks the usage of asp.net core in applications where transactions is required. Imagine the situation where credit card payment is in progress and we have deadlock:-(.

I found this issue and I think it is related and should be reopened.
https://github.com/aspnet/KestrelHttpServer/issues/1278

 I also find on the web issues related to libuv pipe ( open, read) can cau

[2017-10-16 13:01] TommyRush commented on #1144
We also had this problem, which was extremely difficult to narrow down to being this. We use shibboleth which is injecting request headers into our application. One of our staff had í in their name, which just resulted in them getting the 400 error and us being confused for a long time.

[2017-10-16 16:59] alligator86 commented on #2114
@benaadams - Even if we give the serviceendpoint in servicemanifest `  <Endpoint Name="ServiceEndpointHttps" Type="Internal" Protocol="https" />` and not assigning any ports, the url which you will get to use for the KestrelCommunicationListener is still the wildcard url prefix  (https://+:0).  So my question here is,  if there is a way to set the listen options as it handled by the KestrelCommuni

[2017-10-16 17:02] natemcmaster commented on #2105
Fixed in #2118

[2017-10-16 17:02] #2105 closed

[2017-10-16 17:40] wayne-o commented on #1851
All of this stuff changing, no docs... I upgraded VS to 15.4 from the last most recent build and start getting issues regarding PreferHostingUrls - this conversation is pretty much the only thing that discusses it - why is this feeling like real insider baseball when it should be front and center?

[2017-10-16 18:36] halter73 commented on #2104
I completely understand that deadlocks can be way more than just annoying. The problem is that there is no evidence indicating that whatever is causing this hang is Kestrel-related. The screenshot in the original issue is 100% normal and expected. For all I know, there could be a bug in the web application causing hangs.

Can you provide a simple repro app that demonstrates the hangs? If you want

[2017-10-16 18:52] ElyseeOkry commented on #2104
I disagree with you about the interpretation of the dump.
- Are you saying 99% of waiting threads (left tab) is normal?
- Other people are having the same issue with exactly the same behavior. High traffic, low CPU usage, memory normal but kestrel stops responding.
- It is not easily replicable. Randomly occurrence. I know that the frequency is function of traffic.
- in my web, 99% of pages are ca

[2017-10-16 18:53] halter73 commented on #2110
@netsfx How do you know cert.pfx is loading correctly on Linux?

What happens when you try to run [this sample app](https://github.com/aspnet/KestrelHttpServer/tree/dev/samples/SampleApp) on Linux? I get the following output on Ubuntu 16.04:

[code]

You can see Kestrel is serving HTTPS on port 5001. We regularly test HTTPS on Linux, so I doubt the scenario is completely broken.

If I modify the s

[2017-10-17 01:11] benaadams commented on #2104
Aside: Libuv threads spend their time waiting for input from the network but in native code; which is why they show up high in a .NET profiler; to the profiler its a function that was called that has not yet returned.

If you are using Windows Server then when it is in a "hung" state you can right click on the process in taskmanger then choose "Create Dump File"; which can be used with VS (if it i

[2017-10-17 06:35] ElyseeOkry commented on #2104
hi Adam,

that is exactly the point; I wrote this happens in high traffic so these libuv threads shouldn't be waiting for input. they have input and a lot of them. but if they are in waiting state although of having a lot of input, or they are called functions that has not yet returned, it means we have a kind of block somewhere.

I have the classic windows dump. 2 GB :-( and I don't know how to a

[2017-10-17 08:45] Drawaes commented on #2104
That's the problem. You are starving the threadpool. You can't do that you need to use async.

[2017-10-17 09:13] Drawaes commented on #2104
What are you trying to achieve by calling result? You can make your controller method async and return a task then just call

[code]

This will wait for you but release the thread back to the thread pool so that other requests can be handled.

Also a single http client by default allows 2 connections to a single host. If all your methods are trying to hit this then you will likely hit that as well

[2017-10-17 09:17] benaadams commented on #2104
Changing
[code]
to
[code]
Would fix it; but you'd need to propagate up the call chain.

Otherwise you will need to boost your min thread level
[code]
However, this is just moving up the number of concurrent requests you can handle before encountering the same issue again (or a different issue from too many running threads). As not being async has inherent scaling issues.

[2017-10-17 10:15] ElyseeOkry commented on #2104
@Drawaes, @benaadams

We are are not using directly HttpClient in our web application.
- We have webapi which has more than 100 methods from multiple controllers.
- We have WebApi.client.dll  which is used by all applications i.e Web, Windows Services and  Console to communicate with the WebApi.
a sample code in webapi client looks like this
`
public class ManageProductService : ApiServiceBase

[2017-10-17 10:28] verysimplenick commented on #2104
Remember not use `.Result`, use `.ConfigureAwait(false).GetAwaiter().GetResult();` if you need sync execution !

[2017-10-17 11:10] Drawaes commented on #2104
Yeah the http client 2 connections is a trap we probably have all fallen into at some stage so don't feel bad. Increasing the connection count will certainly ease the pain and is a simple change.

Ideally yes you make the wholesale change to async but as you said that is going to be a massive amount of rework.

Have you tried firing the method in a wrapping task if you can't change it

var result

[2017-10-17 11:14] ElyseeOkry commented on #2104
@verysimplenick  thanks I will give a try.

[2017-10-17 11:17] Drawaes commented on #2104
@verysimplenick it wont make a massive amount of difference I would suspect. The getawaiter/getresult will just unwrap exceptions.

The configureawait false won't make a huge diff as the context in asp.netcore isn't single threaded.

[2017-10-17 11:23] ElyseeOkry commented on #2104
@Drawaes
thanks you

from the moment I want to use the keyword await, the method must have async.
But what I am trying to do is to leave the execute method sync but the httpclient  used must be asynch and it is not possible. It seems I can't do anything unless I go for massive changes :-( crazy

[2017-10-17 11:40] verysimplenick commented on #2104
@Drawaes , yes, I forget that asp.net doesn't have `SynchronizationContext`

[2017-10-17 14:52] benaadams commented on #2104
For HttpClient you want to increase [ServicePointManager.DefaultConnectionLimit](https://msdn.microsoft.com/en-us/library/system.net.servicepointmanager.defaultconnectionlimit) (as per https://github.com/aspnet/KestrelHttpServer/issues/2104#issuecomment-337170742) otherwise it will only make 2 outbound connections to same host and others will queue; which will cause an extra backlog on the threadp

[2017-10-17 15:24] benaadams commented on #2104
As @Drawaes points out on Ubuntu the thread stack is 8MB so 1000 threads will be using 8GB

[2017-10-17 15:55] ElyseeOkry commented on #2104
@benaadams  thanks guys
I have increased the defaultconnection and SetMinThreads on thread pools. this is the quicker fix.
Given the size of my webapi library client, changing all methods to async is going to take us a lot of time. and not preferable. I will do this as last solution if threads won't help.
I will come back to you with the result.

[2017-10-17 18:09] samcic commented on #2104
Our production web app just experienced the same problem: in more or less our highest-traffic time of the week just a few hours ago, everything "froze up" and stopped responding. A test of all dependencies (storage accounts, Azure SQL Database) showed nothing abnormal. Pages that don't use any external dependencies were also not responding. CPU usage and memory usage was nothing abnormal. I wasn't

[2017-10-17 19:40] Drawaes commented on #2104
Why block at all? You don't need to you just make your controller method return Task<whateveritwasreturning> . The problem from @ElyseeOkry  was changing 100 API calls if that isn't your case remove the blocking code.

[2017-10-17 19:45] samcic commented on #2104
@Drawaes Yep, completely agree we don't need to block at all. In our case these blocking calls were a migration from earlier code where the effort was never invested to update to async all the way. In our case it's many more than 100 API calls we have to change, but we've already started and are making good progress. One day of intense refactoring and it should be done! All I can say is thankyou R

[2017-10-17 19:47] Drawaes commented on #2104
Feel free to head over to https://github.com/dotnet/corefx/issues/8931 And up thumb or comment. Basically if result is marked obsolete you can still use it but will  get a warning which could be like "This could cause adverse scaling or deadlocking issues in an async environment"

[2017-10-17 20:20] samcic commented on #2104
I would like to try to reproduce this on Azure to confirm our assumptions that it's indeed the blocking behavior that's causing this issue. Do you think it be sufficient to do the following to reproduce this?

* Create a template Asp.Net Core 2.0 app in VS2017
* Add a "normal" (synchronous) controller action that calls Task.Wait(1 week) (might need to increase request timeout presumably when calli

[2017-10-17 20:23] benaadams commented on #2104
Tens

[2017-10-17 22:08] halter73 commented on #2116
I believe this is caused by https://github.com/dotnet/corefxlab/issues/1855

More output from https://ci.appveyor.com/project/aspnetci/musicstore/build/1.0.1182 (notice the InvalidOperationException):

[code]

[2017-10-17 23:44] benaadams commented on #2104
Will be much lower than you think... am guessing in the 20s?

[2017-10-18 04:58] benaadams commented on #2103
Apache has gone built-in for let's encrypt https://letsencrypt.org/2017/10/17/acme-support-in-apache-httpd.html

[2017-10-18 07:04] samcic commented on #2104
So I'm struggling a bit to conclusively reproduce this. Here's what I've done:

* Deployed a fresh Asp.Net Core 2.0 app (created using VS2017 15.4.0) to Azure App Service, with two actions. The first, "BlockRunSync", attempts to simulate the code that we have in our production solution: i.e. converting an async method to a sync method (using the same "converter" that we have called "RynSync"). The

[2017-10-18 10:08] taoli0124 commented on #2104
this is my test result
 code:
![5ood9m0f9 iwl5uk2vfucxs](https://user-images.githubusercontent.com/18223429/31712721-792bbd72-b42e-11e7-9cae-d9671325ae73.png)

asp.net core2.0 result

![q80wvnz1q rmkt1ob1 b2h](https://user-images.githubusercontent.com/18223429/31712761-9422e4de-b42e-11e7-9765-460a9f34e183.png)

asp.net mvc4 result

![ap 0 rrqd9m py srh_ as](https://user-images.githubusercontent.co

[2017-10-18 10:14] benaadams commented on #2104
The WebRequests are queued to threadpool and synchronous so will be throttled in the client in same way, with the threads climbing at same rate as server; need to make async requests. Also need to ReadAsync from the stream of the response as after `GetResponse()` in example the `HttpWebRequest` will be put on the finalizer queue and will chop the connection.

Also the threadpool will inject 2 thre

[2017-10-18 10:23] benaadams commented on #2104
@taoli0124 Try

[code]

[2017-10-18 10:29] benaadams commented on #2104
@taoli0124 Also what happens second time you run ab (e.g. is it start up); are you using Kestrel 2.0.0; and the `-k` flag will enable keep alive in the ab test which will give you more representative results.

[2017-10-18 11:27] Drawaes commented on #2104
I would use wrk to generate the load. Tell it to make 2000 connections and give them a high timeout.. .

[2017-10-18 11:56] samcic commented on #2104
@benaadams Many thanks for your input and helpful response Ben. I've now been able to reproduce the issue thanks to your tips. I am indeed on Windows 10 Enterprise which did seem to throttle the outbound requests from my machine to Azure, however there were still "spurts" of 20 or so at a time, which for my BlockRunSync action (waiting only for 2 seconds on each call) was enough to choke the serve

[2017-10-18 12:21] ElyseeOkry commented on #2104
@samcic.
Many thanks for this report. I think the conclusion( all async) is really a key info which asp.net team should propagate. People need to know this before migrating existing apps to asp.net core. The cost of making all libraries async is my case is too high and we could avoid this situation if we had this  information in official documentation. Libraries are shared between apps and only as

[2017-10-18 12:50] benaadams commented on #2104
@ElyseeOkry you can detect it in development by adding an event listener and getting it to output the StackTrace locations rather than waiting until it jams in production https://github.com/dotnet/corefx/issues/8931#issuecomment-337354565

[2017-10-18 12:51] samcic commented on #2104
Yep, agree it would have been nice to have been warned a bit more, perhaps somewhere in the migration docs from Asp.Net MVC 5 => Asp.Net Core, about this potential issue. There's also the issue above that @Drawaes referenced about making Task<T>.Result obsolete, which we perhaps would have noticed too had it been there in our migration work.

Test here (containing two projects, one for the web app

[2017-10-18 12:57] ElyseeOkry commented on #2104
@benaadams
Thank you. Now,  yes I can and I will. But isn't better to include this kind of detector in asp.net core itself so people can have this enabled by default in debug mode?
Your advise is in this thread. But how many people will read this useful advice in 2, 3, 6 months? When they will start having issues!. Too late...

[2017-10-18 14:45] benaadams commented on #1243
Meh :)

[2017-10-18 14:45] #1243 closed

[2017-10-19 14:19] taoli0124 commented on #2104
@benaadams  Thank you for solving my problem.

[2017-10-20 03:58] vinhhrv commented on #2104
this issue maybe cause from Logging
I used Serilog, Sink to splunk, hangs very quick, < 5 min or less (hight traffic)
But when i remove, and only log to console, hangs sometime (maybe > 3 days or more)

When hangs, telnet port oke, but curl timeout.
CPU 1-2%, memory normal.

Current, i use script for detech this problem, anh restart docker 👎

[2017-10-20 11:56] oofpez opened #2125 "Transient: After upgrade to aspnet core 2.0 Unable to start Kestrel due to AddressInUseException: Error -4091 EADDRINUSE"
I tried to deploy webapp that was working previously to azure and it failed to start.
I tried publishing again, and the webapp successfully deployed.
The same thing happened with a different project after I upgraded to aspnet core 2.0 as well.

logs contained this:

2017-10-20 11:27:44.257 +00:00 [Critical] Microsoft.AspNetCore.Server.Kestrel: Unable to start Kestrel.
System.IO.IOException: Failed

[2017-10-20 21:48] ryanbrandenburg commented on #1955
And more recently: http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=347655&_focus=191588

[2017-10-20 23:46] ryanbrandenburg opened #2127 "Flaky test: ConnectionFilterDoesNotLeakBlock"
This test have been failing a lot lately: http://aspnetci/project.html?tab=testDetails&testNameId=-4993250607788692606&projectId=XPlat&buildTypeId=Lite_KestrelStressTest. The error message given is something like "An existing connection was forcibly closed by the remote host".

[2017-10-21 07:21] MohammadAkbari opened #2128 "Specified argument was out of the range of valid values. Parameter name: count"
I write a site with asp.net core 2.0, sometimes following error raise(rarely).

StackTrace:

I`m not sure, but this error probably after I migrate to asp.net core 2.0.

[2017-10-21 07:30] davidfowl commented on #2128
/cc @pakrym

[2017-10-21 15:34] Drawaes commented on #2104
Are you using UDP or TCP to send to splunk?

[2017-10-22 11:29] vinhhrv commented on #2104
(tcp)Http
Current Serilog for netcore only sink http for splunk.

It is my case, i don't know why :(

On Sat, Oct 21, 2017, 10:34 PM Tim Seaward <notifications@github.com> wrote:

--

...

Vinh Vo

[2017-10-22 12:24] Drawaes commented on #2104
Well we use serilog in high volume environments and it's fine. I suspect there is an issue with the splunk sink... I would double check the source code

[2017-10-22 13:19] CuneytKukrer commented on #915
@pvasek That solved my problem after spending two days

[2017-10-23 06:04] davidfowl commented on #915
What does your project file look like?

[2017-10-23 13:34] Tornhoof opened #2129 "Kestrelserver ReasonPhrase formatting"
I know that reason phrase is not in Http/2 anymore and even optional in Http/1.1, but according to RFC spec the current calculation is wrong:
https://github.com/aspnet/KestrelHttpServer/blob/3fbfba63f813de004030615546546360b565b8d5/src/Kestrel.Core/Internal/Http/ReasonPhrases.cs#L223-L227

According to the RFC https://tools.ietf.org/html/rfc7230#section-3.1.2 you need to print the space regardless

[2017-10-23 16:04] pakrym commented on #2128
@davidfowl the actual location is, exception was rethrown by pipe. `Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.Frame1.d__2.MoveNext()`

[2017-10-23 17:26] pakrym commented on #2128
I'm wrong, current version of pipe does not have `ExceptionDispatchInfo.Throw` so I couldn't say where exception came from, just that it was rethrown by pipe.

[2017-10-23 17:53] anurse commented on #2085
Resolved by #2123 (30010a103bb20f913d00f64d49a9914d37eb8650)

[2017-10-23 17:53] #2085 closed

[2017-10-23 18:36] CuneytKukrer commented on #915
This is from .csproj. I don't have project.json.
[code]

[2017-10-23 18:39] davidfowl commented on #915
That doesn't look right at all. Can you make a project that reproduces the problem and put it on github.

[2017-10-23 21:17] Eilon commented on #2096
Hi, we have a public test feed that you can use to try out the ASP.NET/EF Core 2.0.3 patch!

To try out the pre-release patch, please refer to the following guide:
* https://github.com/aspnet/Announcements/issues/274 (info)
* https://github.com/aspnet/Home/issues/2254 (discussions and questions)

We are looking for feedback on this patch. We'd like to know if you have any issues with this patch by

[2017-10-23 22:21] #2114 closed

[2017-10-23 23:33] ryanbrandenburg commented on #2116
We get similar failures on Win2012-E2ETests fairly frequently.

[2017-10-24 18:27] ryanbrandenburg commented on #2116
To expound upon "fairly frequently", at least one of these tests fails a build of Win7-Universe and Win2012-E2ETests > 50% of the time. Can we raise the importance of this with the CoreFX team accordingly?

[2017-10-24 20:31] samcic commented on #2104
Just in case anyone's interested, I wanted to share some comments regarding our rework and redeployment. We spent around three full days reworking our entire Asp.Net core 2.0 app to use async/await "all the way". This included

* completely removing the "AsyncToSyncConverter" class we were using (shown in my earlier post above),
* using EF 2.0 Core to always query in an async fashion (e.g. ToListA

[2017-10-24 20:48] ElyseeOkry commented on #2104
@samcic  many thanks for sharing this useful information.

I wish the team to put this in the official documentation !!!!

We haven't do the all async changes given the size of our applications. It will take weeks to get this completed.

We have this workaround which is working so far

- ServicePointManager.DefaultConnectionLimit = **connectionLimit**
-  System.Threading.ThreadPool.GetMaxThreads(o

[2017-10-24 22:56] shravan2x opened #2131 "Handling BadHttpRequestException"
I have an MVC action to upload files. For this, I use `await HttpContext.Request.Body.ReadAsync(buffer, 0, buffer.Length)` in a loop and then return an `Ok()` at the end.

This works fine, except when a client closes the connection before the upload is complete. When this happens, the `ReadAsync` method throws a `BadHttpRequestException`. In my action, I would like to handle this exception, mark t

[2017-10-24 23:55] muratg commented on #2116
@pakrym could you take a look at the CoreFX issue that Stephen filed?

[2017-10-25 02:48] Tratcher commented on #2131
That's fine. If the client has disconnected then it doesn't really matter what you return.

[2017-10-25 02:48] Tratcher commented on #2131
You could also rethrow the exception.

[2017-10-25 04:27] shravan2x commented on #2131
This shows up as an ugly start trace in the log, which I want to avoid.

I think I'm going to just do `return StatusCode(-1);` for lack of a better solution.

Thanks!

[2017-10-25 04:27] #2131 closed

[2017-10-25 09:02] benaadams commented on #2131
`return new BadRequestResult()`

[2017-10-25 12:05] hasanoruc commented on #1267
@cesarbs i will check.

and. more information.
my system did not show this error when it was 12gb ram, 6cores processor.
but my system is now 2cores processors and 4gbram. this error look when my system has been smaller. under the load(looking 45 persons per second) %2 cpu usage(2cores). not problem. but i test my app and I proccess more operation and dotnet is crashing. it seems like sockets. but

[2017-10-25 12:28] benaadams commented on #1267
@hasanoruc do you use non-async (e.g. blocking) apis? May be some solutions in https://github.com/aspnet/KestrelHttpServer/issues/2104#issuecomment-337170742

With 2 cores the threadpool will have a lower minthreads value; so you may hit threadpool starvation (it will inject threads; but not as fast as the blocking apis are stopping them)

[2017-10-25 15:20] shravan2x commented on #2131
The problem with `BadRequestResult` is that it is backed by a valid HTTP status code (400).

[2017-10-25 15:31] benaadams commented on #2131
If you want an non-official status code how about

`return StatusCode(499);`

"499 Client Closed Request" its what [ngnix uses](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#nginx) to signal "Used when the client has closed the request before the server could send a response."

[2017-10-25 17:40] dabretin opened #2134 "bad pfx file from sample ?"
Hello !
The file `testCert.pfx` from the `sampleApp` seems to have problem:
When I try a simple
`var x509 = new X509Certificate2("/testCert.pfx", "testPassword");
`

It returns:
`Unhandled Exception: Interop+Crypto+OpenSslCryptographicException: error:0D07207B:asn1 encoding routines:ASN1_get_object:header too long
`

I'm on linux 'mint 18.2'...

[2017-10-25 18:21] halter73 commented on #2116
@muratg The PR to fix the issue was merged last week. We're waiting to consume the fix now.

[2017-10-25 20:18] hasanoruc commented on #1267
@benaadams No. My all api methods are async.
Like this:

        [HttpPost("postxmesajsil")]
        [Produces("application/json")]
        public async Task<bool> PostXamarinMesajsil([FromHeader]string token, [FromBody]JObject obj)
        {
            string identity = (string)obj["userId"];

            await TokenControl(token, identity);

            int userId = (int)obj["userId"];

[2017-10-26 04:50] Daniel15 opened #2135 "Error -14 EFAULT bad address in system call argument on Mono"
I'm getting this after upgrading from ASP.NET Core 1.1 to 2.0:
[code]

I know that Mono isn't officially supported, but I'm having issues with .NET Core on the same system (.NET Core doesn't run well on newer versions of Debian), and the same site was working fine with ASP.NET Core 1.1 on Mono 😢

ASP.NET Core 2.0 (latest versions of all packages)
Mono 5.4.0.201
Debian 9 (testing)

[2017-10-26 12:28] HumanWannabe commented on #1276
The only solution seems to be doing this first request yourself, before the user asks for it.

In my application, I am using ASP.NET Core for only part of the interface that is Web-based. When the main application loads, I fire-up Kestrel (as a background process) and then fire-up a BackgroundWorker that performs the first request. If the user makes a request after the BackgroundWorker is done, it

[2017-10-26 13:22] skynyrd commented on #1276
Yes, the solution you have provided is useful, and it seems that we have no alternative option. Paper over the cracks...

[2017-10-27 13:33] bradmarder opened #2138 "Connection processing ending abnormally - Cursor is out of bounds"
Using microsoft azure and Kestrel 2.1.0-preview1-27377

[code]

I've also been getting other "random" errors I can't make sense of.

[code]

And this one about malformed headers... even though subsequent requests with the exact same headers work fine.

[code]

[2017-10-27 18:25] halter73 opened #2139 "Add KestrelServerOptions.ListenLocalhost"

[2017-10-27 18:28] Tratcher commented on #2139
Subset of https://github.com/aspnet/KestrelHttpServer/issues/1290 ?

[2017-10-27 18:47] halter73 commented on #2139
Not exactly a subset since it's largely orthogonal to config.

[2017-10-28 07:32] shravan2x opened #2141 "High memory usage on Ubuntu 16"
_This is a cross post from https://github.com/aspnet/Home/issues/2052 since I did not receive a response there. I don't believe this is an MVC issue since it also occurs with static files. If this is not a Kestrel issue, feel free to close._

I run a number of ASP .NET Core 1.1 servers on Ubuntu. This is the `htop` view of one of the processes:

![image](https://user-images.githubusercontent.com/4

[2017-10-28 08:08] benaadams commented on #2141
As is `VIRT` alloc I think this would be more a question for the runtime. You may get more info if you file in this repo https://github.com/dotnet/coreclr

[2017-10-30 01:25] Salgat commented on #1625
For me at least, I had to install Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv (in nuget) to fix this. It was only giving me an issue for Linux, not Windows.

[2017-10-30 09:00] ChenWenBrian commented on #1267
I'm also having the problem, I'm using dotnet core 2.0.  It appears the whole dotnet process 'stops' rather than just kestrel as I have some background threads that stop doing anything also.  This issue only happens when a reverse proxy server(HAProxy) is setting in front of kestrel and  concurrency is high(above 50).

[2017-10-30 18:39] sanishmistry commented on #1267
I have isolated the class method that runs a few moments before these 'stops' occur. I think it possibly may be in something below, where I decode some XML, then encode it in JSON and then decode the JSON to easiliy get an ExpandObject for some XML.

            var client = new HttpClient();

            var response = await client.GetStringAsync(options.FeedUrl);
            XDocument doc = XDoc

[2017-10-30 18:52] Drawaes commented on #1267
You are not disposing the http client for a start. Was there an xmldocument.load () in there somewhere?

[2017-10-30 19:02] benaadams commented on #1267
@sanishmistry resuse (e.g. `static`) HttpClient or Dispose it (e.g. `using`)? You may be hitting max outbound connections + keep alives on `client`?

[2017-10-30 19:03] benaadams commented on #1267
Also pump up your outbound connection limits?
[code]

[2017-10-30 19:48] sanishmistry commented on #1267
i will wrap the block inn using statements and so if it fixes it, I think it that was likely the issue as it seemed to happen exactly 7 days after starting the process, and that block ran at a fixed time interval. I was not aware HttpClients needed to be exposed!

[2017-10-30 23:30] benaadams opened #2142 "HTTP/1.1 103 Early Hints"
Double/multi send (like 102 Processing)
https://datatracker.ietf.org/doc/draft-ietf-httpbis-early-hints/?include_text=1

[2017-10-31 08:04] timminata opened #2143 "Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Request timed out."
Hi,
We are currently getting a 500 from Kestrel on our net core 2.0 application when a client tries to upload a file and the connection between client and server is terminated (by the client) prematurely. Is this the expected behaviour? Is there a way to prevent it from coming up as a 500 since it is affecting our telemetry/uptime stats. From what I understand it is failing since Kestrel negotiate

[2017-10-31 08:05] timminata commented on #2143
This is the full error:
[code]

[2017-10-31 15:58] Tratcher commented on #2143
MVC is the one reading the IFormFile, not Kestrel.  If the upload is substantial then I would recommend the more hands on approach.

It's interesting the client disconnect was reported as a timeout, that implies the connection was kept alive by some intermediary. Are there proxies or load ballancers in the system?

[2017-11-01 09:32] avifatal opened #2144 "Fail to start Kestrel server when using a service. but it runs manually"
Hi.
Core 2.0
MVC Latest.

When I run in my ubuntu the following server:
[code]
I get an error:

[code]

But if I run the command manually, the server is starting fine:
```  sudo /usr/bin/dotnet /var/www/feeder/FeedService.MVC.dll```

What can be wrong? the syslog does not have more information.

[code]

[2017-11-01 18:40] halter73 commented on #2138
Thank you. It's awesome to have people trying out the nightlies and reporting bugs.

I think you've run into dotnet/corefxlab#1855. While the change has been fixed, we still need to update the Kestrel dependency. We'll close #2116 once the dependency is updated, and the issue is fully fixed.

[2017-11-01 18:40] #2138 closed

[2017-11-01 19:46] halter73 commented on #2127
Fixed by #2133.

[2017-11-01 19:46] #2127 closed

[2017-11-01 21:36] anurse opened #2145 "Add EventSource/EventCounter tracing and metrics for Kestrel"
Some of the events/counters to add (some may already exist, others may be valuable too, discuss below):

* Connections - These should probably be emitted by default, when the source is enabled (`Informational` level).
  * `ConnectionStarted` event & counter - Triggered on a new connection.
  * `ConnectionEnded` event & counter - Triggered on graceful termination of a connection.
  * `ConnectionAbo

[2017-11-02 09:45] avifatal commented on #2144
So I found the prob problem.
For some reason kestrel  can't bind to port 80. in netstat I see that port 80 is available and not takin.

1. How can I see the error details, as you can see above, the details are not general and there is no real exceltion.
2. Why can't I bind port 80 in my ubuntu machine?

Thanks

[2017-11-02 19:51] halter73 commented on #2144
I don't know why systemd isn't capturing the full exception message. The process should crash with the exception like the following:

[code]

Do you see this exception when you manually launch the process and bind to port 80?

Non-root users cannot bind to port numbers below 1024 without special setup. https://www.w3.org/Daemon/User/Installation/PrivilegedPorts.html

[2017-11-02 20:42] suryagh opened #2146 "Mac: The specified SDK version [2.1.0-preview1-007042] from global.json [...] not found"
On my Mac, I had an older version .net sdk and KestrelHttpServer cloned and compiled few months back.

Scenario,
1. Today, installed latest .net sdk from (https://www.microsoft.com/net/learn/get-started/macos)
 1.b) Is this the right approach? Should I be upgrading the `.net sdk`? Or, first uninstall the older `.net sdk`?
2. Pulled the latest code from the `KestrelHttpServer` github repo
3. Ran `.

[2017-11-02 21:09] halter73 commented on #2146
What if you run `~/.dotnet/dotnet run -f netcoreapp2.0`?

Instead of using the globally installed .net sdk, Kestrel and the other aspnet projects download prerelease sdks into the `~/.dotnet` directory and use that.

[2017-11-02 21:20] benaadams commented on #1267
You can also just use a single static one and not Dispose it. However you can't change things like `DefaultHeaders` per call as that wouldn't be thread safe

[2017-11-02 22:21] suryagh commented on #2146
That worked. Few clarifications:
1. is the `-f` alias for `--fx-version`?
2. Where did you find the string value need to be exact `netcoreapp2.0`?

Thanks!

[2017-11-02 22:47] halter73 commented on #2146
Close. It's an alias for `--framework` which you can see in the output of `dotnet run -h`.

[code]

From [here](https://github.com/aspnet/KestrelHttpServer/blob/6c82f78c657145404bcdbe403024b2d93ca7699a/samples/SampleApp/SampleApp.csproj#L4). Kestrel's sample app is a little unusual in that it targets both `netcoreapp2.0` and `net461`. If there's only one target framework, `dotnet run` will automat

[2017-11-02 22:50] suryagh commented on #2146
Thank you, @halter73 !

[2017-11-03 00:03] WilliamT-Streamba commented on #1276
For anybody searching for solution with slow initial request when using .NET Core, Docker & Kubernetes: https://blog.markvincze.com/running-asp-net-core-in-auto-scaling-containers-warm-up/

Same basic idea, setup task to do initial request before users are able to make requests.

[2017-11-03 00:04] williamtetlow commented on #1276
For anybody searching for solution with slow initial request when using .NET Core, Docker & Kubernetes: https://blog.markvincze.com/running-asp-net-core-in-auto-scaling-containers-warm-up/

Same basic idea, setup task to do initial request before users are able to make requests.

[2017-11-03 01:57] #2146 closed

[2017-11-03 21:14] avifatal commented on #2144
@halter73  thanks.
1. its odd. most of the errors I have experianced the first time running core on ubuntu was solved by guessing.
2. I am able to bing port 80 on manual run, but not as a service.

Thanks

[2017-11-03 23:31] halter73 commented on #2144
This is probably because you are using sudo.

[2017-11-05 03:58] avifatal commented on #2144
@halter73
Yes, I'm using sudo with this manual command.
But the user who is configured in the service is with root access.
Thanks...
Any solution before I switch to iis? I need the service to bind Port 80
Tx

[2017-11-05 07:26] benaadams commented on #2144
Ports below 1024 are privileged ports

You can use an `iptables` route; use `CAP_NET_BIND_SERVICE`; or `authbind`

https://superuser.com/questions/710253/allow-non-root-process-to-bind-to-port-80-and-443

https://serverfault.com/questions/112795/how-to-run-a-server-on-port-80-as-a-normal-user-on-linux

[2017-11-06 10:34] timminata commented on #2143
Apologies for not replying, our issue was that we were using the Developer Exception Page which was elevating the timeout from a 408 to a 500 (and the timeout was due to poor connectivity client side). Will mark as closed, you can remove if necessary since it was unrelated. Thanks!

[2017-11-06 10:34] #2143 closed

[2017-11-06 22:15] cinaradem opened #2148 "502.3 An operation was attempted on a nonexistent network connection"
hi,
my application on azure web app is working.
asp.net core 2.0 version.
but I often encounter the 502.3 error that I do not know why. When I examine the freb logs, "An operation was attempted on a nonexistent network connection.
  (0x800704cd) "and" There was a connection error while trying to route the request.
"but I have no idea about these faults.
I have checked the previous 502.3 errors and

[2017-11-07 00:28] halter73 commented on #2148
This issue was moved to aspnet/AspNetCoreModule#235

[2017-11-07 00:28] #2148 closed

[2017-11-08 10:52] npehrsson opened #2151 "BadHttpRequestException at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.HttpParser`1.RejectRequestLine"
We're experiencing some strange behavior a couple of times per day.

The behavior is that we are receiving exceptions about bad requests somewhere in the core when it tries to parse the Http Method.

We see it from both an integration and from random web UI requests.
Good to know is that these errors are always occurring during higher load (from the integration) and in bursts.

We have not been ab

[2017-11-08 20:04] halter73 commented on #2151
Are the requests originating from .NET Core's HttpClient on Linux? I think you might be running into the issue described in #2095.

[2017-11-09 02:28] robbieknuth opened #2153 "Consider including a way to override the IHttpRequestIdentifierFeature implementation"
It would be easiest to use Kestrel's identifier, but we already have a well formatted request identifier, so changing to a new format isn't an option. Setting the trace identifier on the HttpContext isn't particularly helpful for logging because the request start scope was started before any middleware is called, so all logs use the traceidentifer set by Kestrel. We have to wrap our requests with

[2017-11-09 08:25] davidfowl commented on #2153
This should be moved to aspnet/Hosting. All features are settable on the HttpContext you just need to be able to set it before the logging scope is created (which happens in hosting). You might consider making your own `IHttpContextFactory`.

[code]

Then wire it up in Startup.cs like so:

[code]

[2017-11-09 13:43] npehrsson commented on #2151
Well, the integration job runs in Azure with .NET version v4.6.1.
The requests failing is originating from both the integration job and a web browser (only during the integration job is running though).

[2017-11-09 19:31] halter73 commented on #2151
Hmm. If the requests are coming from Windows, then this is almost certainly unrelated to #2095. I thought it might be related because in both cases it seems that Kestrel is interpreting the middle of a request as the start of the request.

I think the previous request having an incorrect content-length could explain this. If you cannot come up with a repro, maybe capturing a network trace during t

[2017-11-09 20:31] robbieknuth commented on #2153
wellthatwaseasy.jpg

Thanks for the quick response, works exactly as advertised.

[2017-11-09 20:31] #2153 closed

[2017-11-09 21:29] anurse opened #2154 "h2spec failures"
After running [h2spec](https://github.com/summerwind/h2spec) on Kestrel's HTTP/2 implementation, I encountered the following failures. This issue tracks fixing those failures and then enabling automated h2spec testing:

[code]

[2017-11-09 21:30] anurse commented on #2154
/cc @halter73 @muratg @davidfowl

[2017-11-10 00:17] npehrsson commented on #2151
The bursts is only occurring during approximately 20 seconds and it's hosted on azure so it could be a bit hard to trace the traffic from outside of the application.

I've been thinking to record the message into a stream, I haven't figured out how to do this on this level, and are at the same time concerned if the error will occur if we do.

It sounds like a but that requests can affect each othe

[2017-11-10 00:55] halter73 commented on #2151
Are you running as an Azure App Service?

It is possible for requests to affect each other in this way if they're made over same TCP connection. It's pretty uncommon for it to happen though, since it requires the connection being reused after a corrupted request which generally doesn't happen absent a buggy http client.

[2017-11-10 07:02] npehrsson commented on #2151
The web application is hosted on Azure Web Apps.
I don't think the requests are on the same TCP connection because some of them come from an integration job hosted in Azure and some requests come from a user with a web browser.

Not sure if it ensures new TCP connections but the exception messages tell about different "Connection id" above.

[2017-11-10 18:44] anurse commented on #2154
Also this one is flaky:

[code]

[2017-11-10 19:52] halter73 commented on #2151
It is weird that this is happening when hosted on Azure Web Apps. All request should be proxied through IIS/ANCM in that case, so any bad requests should get rejected before reaching Kestrel. Maybe @Tratcher has some ideas.

You correct about each "Connection id" corresponding to a TCP connection. It makes sense that each error has a unique connection id, because Kestrel kills the underlying conne

[2017-11-10 19:54] Tratcher commented on #2151
In process stream corruption is my only guess at this stage. Not much we can do without a repro.

[2017-11-10 20:14] #1270 closed

[2017-11-10 20:20] muratg commented on #2101
Won't fix.

[2017-11-10 20:20] #2101 closed

[2017-11-10 20:27] muratg commented on #1880
@javiercn *ping*

[2017-11-10 20:29] muratg commented on #1880
This issue was moved to aspnet/Hosting#1263

[2017-11-10 20:29] #1880 closed

[2017-11-10 20:31] #1899 closed

[2017-11-10 20:32] muratg commented on #1955
Is this still failing?

[2017-11-10 20:35] muratg commented on #2016
@anurse could you sync-up with @Tratcher?

[2017-11-10 20:44] muratg commented on #1802
External: https://github.com/dotnet/corefx/issues/23938

[2017-11-10 20:46] #1857 closed

[2017-11-10 20:49] muratg commented on #1865
This is an SSLStream feature ask.  Assigning to @shirhatti in case he wants to follow-up or close it.

[2017-11-10 21:01] muratg commented on #1921
The exceptions seems to be coming from MySql through a ThreadPool thread.  Most likely a bug in PassengerController.

If you're still having issues, please file another bug with details.  Thanks.

[2017-11-10 21:01] #1921 closed

[2017-11-10 21:01] muratg commented on #1927
@ryanbrandenburg still fails?

[2017-11-10 21:04] muratg commented on #1964
No repro

[2017-11-10 21:04] #1964 closed

[2017-11-10 21:04] anurse commented on #2016
I haven't really had a chance to work on this beyond what I've already sent out. We can sync up on Monday though if there are any gaps that haven't been filled.

[2017-11-10 21:05] muratg commented on #1965
@yosigolan Could you share the exact logs?

[2017-11-10 21:07] #1982 closed

[2017-11-10 21:08] #1992 closed

[2017-11-10 21:09] muratg commented on #1993
No repro

[2017-11-10 21:09] #1993 closed

[2017-11-10 21:12] muratg commented on #2030
@davidfowl assigning to you as the other Connection Adapter bug is also assigned to you.

[2017-11-10 21:13] muratg commented on #2045
@shaddockblack Could you share more details, or ideally an app that reproduces your issue?

[2017-11-10 22:50] javiercn commented on #2016
We have the dev part done. We need to figure out configuration for production scenarios

[2017-11-10 23:39] ryanbrandenburg commented on #1927
[Still happening](http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=352560&_focus=141016) as of at least November 3rd.

[2017-11-10 23:43] ryanbrandenburg commented on #1955
It's been long enough since this failed in dev that we can close this. If it starts showing up again we can always re-file.

[2017-11-10 23:43] #1955 closed

[2017-11-11 10:29] davidfowl opened #2156 "Consider supporting unix domain sockets with SocketTransport"
Seems like it's possible.

https://github.com/dotnet/corefx/blob/958511d023231f120109967484fb63ae1837e6b8/src/System.IO.Pipes/src/System/Net/Sockets/UnixDomainSocketEndPoint.cs

https://github.com/dotnet/corefx/blob/b5d0c3277dc384a23fee2e57a0b5c232c99dbd88/src/System.IO.Pipes/src/System/IO/Pipes/NamedPipeServerStream.Unix.cs#L290-L301

It would be cleaner if we kept using the socket APIs and could

[2017-11-11 13:12] stephentoub commented on #2156
We should just make the UnixSocketDomainEndPoint public:
https://github.com/dotnet/corefx/issues/10981#issuecomment-343663416

Not ideal, but as long as you assume a maximum of 92, you should be fine.
https://github.com/dotnet/corefx/blob/e48025a81b9a53e8e073c718c8714c4c8e3f5625/src/System.Net.Sockets/tests/FunctionalTests/UnixDomainSocketTest.cs#L363-L370

[2017-11-12 08:04] yosigolan commented on #1965
Hey @muratg . sorry, it was long ago i dont have the logs.

[2017-11-13 07:09] npehrsson commented on #2151
@Tratcher that's my initial thought too.

I don't think our application will suffer if it would keep the request in memory until it has fully been processed. Is there a way to keep everything in memory and if this error occurs dump the current stream to a storage. I know about the EnableRewind, but that is only for Body not at this level.

[2017-11-13 22:57] halter73 commented on #2151
@npehrsson You could try out [UseConnectionLogging](https://github.com/aspnet/KestrelHttpServer/blob/53b46972691c0aa0edb27e0dbe961e2ea809814e/samples/SampleApp/Startup.cs#L70). The will log every single byte of every request and response. Unfortunately, this would probably be way too noisy for most production scenarios.

There is no capability to buffer full raw requests and dump it if something h

[2017-11-13 23:09] halter73 commented on #1927
Interesting that this only happens on ubuntu. I wonder if `socket.Bind(new IPEndPoint(IPAddress.IPv6Loopback, 0));` will bind to port currently in use for IPv4.

If so, I guess the only option would be to first try to bind to a port using both IPv4Loopback and IPv6Loopback, unbind one, and only then run the rest of the test.

[2017-11-14 05:48] davidfowl commented on #2151
@npehrsson are these all GET requests?

[2017-11-14 10:07] npehrsson commented on #2151
No both.
The integration is POST without Body (sending null as Body to the HttpClient).
The client calls are GET's

[2017-11-14 15:45] Tragetaschen opened #2157 "Frequent ODE during process shutdown"
I'm running an ASP.NET Core 2.0.0 application on my embedded ARM platform and during shutdown, I frequently (about 30%-50% of the time) get the stack trace shown below.

I'm building on Windows for `netstandard2.0` (the libraries) and `net47` (the actual application).
My single-core ARMv7 runs the application with Mono 5.2.0.224.
The application shuts down normally via SIGINT that calls `applicati

[2017-11-14 20:48] tpeczek commented on #1144
I also had an issue reported in context of Server-Timing header. The [definition of this header](http://www.w3.org/TR/server-timing/#the-server-timing-header-field) allows using *quoted-string* for *server-timing-param-value* and *quoted-string* allows broader set of characters:

So this header would require an option of relaxing the ascii-only check also for responses.

[2017-11-14 22:30] benaadams commented on #1144
[rfc7230](https://tools.ietf.org/html/rfc7230)
[code]

However
[code]
As string is `UTF-16`; that would suggest the correct approach would be to reject `0x00` and simple widen all other chars converting `ISO-8859-1` -> `UTF-16` - which also mean any `UTF-8` outside the `ASCII` range would not be interpreted correctly?

[2017-11-14 22:32] benaadams commented on #1144
e.g. treat `opaque data` as 8 byte data, converting (byte) `0xDD` -> (char)`0x00 0xDD`

[2017-11-15 00:25] davidh12 commented on #1334
@RehanSaeed I was able to find a slightly shorter way before this gets implemented properly:
[code]

[2017-11-15 00:47] halter73 opened #2160 "[2.0.x] PipeCompletionCallbacks root the state object even after callback executes"
Backport dotnet/corefxlab#1932 to fix dotnet/corefxlab#1722.

[2017-11-15 08:42] davidfowl commented on #2151
I have a hunch that it might be to do with how we're processing the message body but we'd need more information here. If you can reproduce the issue can you tell us if you're sending a post body with a content length? (even if it's 0). Any idea of the request pattern would help us diagnose this.

[2017-11-15 09:03] npehrsson commented on #2151
Well, this is happening sporadically in bursts, maybe 10-20 requests will fail, requests that normally succeed. Replaying a failed request does also succeed.

the common denominator is the integration job running which is posting with null as a body but with quite many query parameters.

I understand the need for data to be able to reproduce it, but I don't know how to collect it.

[2017-11-15 09:32] davidfowl commented on #2151
Ok lets start there. Can you change this to a GET and see if it still fails? I don't know if that's possible but I'd like to test the theory.

[2017-11-15 12:51] npehrsson commented on #2151
We can definitely test it out.

[2017-11-15 21:01] Tratcher opened #2166 "Add a UseHttps overload to allow using the default certificate"
Today the default dev certificate is only accessible via the UseUrls configuration path. It would be helpful if the Listen APIs could also request the default certificate.

We may also want to provide a first class way of replacing the default certificate in code. This would allow the app to use the dev default in development and specify a different default in production.

[2017-11-16 14:46] Tratcher opened #2167 "No way to configure the endpoint options when using PreferServerUrls"
I wanted to turn on `listenOptions.UseConnectionLogging();` behind ANCM but there's no way to do this, PreferServerUrls overrides all Kestrel ListenOptions.

[2017-11-16 18:49] rezvanf opened #2168 "ASP .NET Core 2.0 Kestrel Support for Kerberos"
Is it possible to support Kerberos with just bare bones Kestrel?

Thanks

[2017-11-16 18:59] Tratcher commented on #2168
No.

[2017-11-16 19:02] rezvanf commented on #2168
Ok Thanks is there a reason for that? is there plans for it to be supported in the future?

[2017-11-16 19:14] Tratcher commented on #2168
@blowdart

[2017-11-16 19:18] blowdart commented on #2168
For Integrated Auth we've always let the OS do the work, and we can do that because it's Windows only. Implementing flows like this in managed code, in a system which doesn't autoupdate is a huge risk I'm unwilling to approve.

[2017-11-16 19:22] rezvanf commented on #2168
Understood. Many Thanks

[2017-11-16 19:22] blowdart commented on #2168
You're welcome.

[2017-11-16 19:22] #2168 closed

[2017-11-16 20:54] halter73 commented on #2167
Hmm. This brings me back to the idea of having something like `KestrelServerOptions.ConfigureAllEndpoints(Action<ListenOptions>)`.

I don't love it, but it's my best idea so far other than just not supporting connection middleware for "ServerUrls".

[2017-11-17 00:29] #2139 closed

[2017-11-17 13:36] Tratcher commented on #2167
Ordering will be an interesting problem for shared middleware no matter what.

Many of the other options will be simpler, we can use that callback (first, so you can override it) or KSO can have properties for defaults like DefaultProtocols.

[2017-11-17 14:09] bradmarder commented on #2116
Is there any ETA when this will be fixed?

[2017-11-17 18:20] desmondgc opened #2171 "The connection was closed because the response was not read by the client at the specified minimum data rate"
After upgrading to ASP.NET Core 2.0, I've been encountering the MinResponseDataRate limit sporadically for a certain controller action that returns a ~30 MB response. I am able to work around the issue by disabling the limit, but it's not clear to me why the limit is being hit.

Timeline:

[code]

My scenario is very similar to the one described in [this Stack Overflow thread](https://stackoverflo

[2017-11-17 20:39] halter73 commented on #2171
Have you read the "Minimum request body data rate" section in [the Kestrel doc](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?tabs=aspnetcore2x#how-to-use-kestrel-in-aspnet-core-apps) linked to in the Stack Overflow thread? I realize you're dealing with the minimum *response* data rate, but that section covers both requests and responses.

It demonstrates how to globall

[2017-11-17 22:16] Zexuz opened #2172 "Access-Control-Allow headers not set when exception is thrown."
**Problem**: I have enabled Cors and the developExceptionPage like this in the Startup.cs, but when I encounter a unhandeled exception I don't get a DeveloperExceptionPage beacuse the Cors header is not set.

**Expected behavior** : Cors headers to bet set on Unhandled exception.
**Actual behavior**: No cors header is set when request is aborted due to a Unhandled exception.

I don't know if this

[2017-11-17 22:18] Tratcher commented on #2172
Duplicate of https://github.com/aspnet/Diagnostics/issues/247

[2017-11-17 22:18] #2172 closed

[2017-11-17 22:57] halter73 commented on #2116
This was fixed in [our dev myget feed](https://dotnet.myget.org/gallery/aspnetcore-ci-dev/) starting with Kestrel version 2.1.0-preview1-27589.

[2017-11-17 22:58] #2116 closed

[2017-11-19 23:43] tmzblue commented on #2151
Hello guys,
We're also getting this error.

[code]
Initally, I caught them using app insights in a production server (low load windows hosted server in Azure with IIS), which led us to further investigate the problem. They are registered as HTTP 400 without any helpful information (exceptions, etc.).

It's possible to reproduce it locally, but it's not consistent. We traced the bad request line an

[2017-11-20 01:09] netsfx commented on #2110
@halter73 you were right, passing the the filename can go wrong and passing the password can also go wrong. That was the problem. So I can confirm it's actually working!

[2017-11-20 01:09] #2110 closed

[2017-11-20 01:41] Tratcher commented on #2151
Clearing the cookies fixes it? Interesting. Can you capture a fiddler trace of a failing request? Or a lower level trace like wireshark or network monitor?

[2017-11-20 10:17] mythz opened #2174 "What's the recommended way to tell a Docker App which url to listen on?"
I've tried setting both `ASPNETCORE_URLS` and `--server.urls` command line argument when trying to run a  [.NET Core 2.0 App](https://github.com/NetCoreApps/Chat/tree/master/src/Chat) in Docker:

[code]

Which after upgrading to .NET Core 2.0 and using the recommended bootstrapping code:

[code]

Is now throwing a `InvalidOperationException: HTTPS endpoints can only be configured using KestrelServ

[2017-11-20 11:01] davidfowl commented on #2174
`ASPNETCORE_URLS` is the recommended way. It's what the ASP.NET Core docker image does (https://github.com/aspnet/aspnet-docker)

Are you trying to configure an HTTPS end point?

[2017-11-20 11:05] mythz commented on #2174
[No reference to https at all](https://github.com/NetCoreApps/Chat/tree/master/src/Chat), not sure why I started getting this Exception after upgrading to .NET Core 2.0 (I'm running the [Docker container in an AWS AMI managed by AWS ECS](http://docs.servicestack.net/deploy-netcore-docker-aws-ecs)).

[2017-11-20 11:08] davidfowl commented on #2174
Your docker file *does* have a reference to https on line 7:

[code]

Change that to http and it'll work. I recommend using the ASP.NET Core image because it has the ASP.NET Runtime store (which doesn't come with the base .NET Core container).

Side question: Also, why aren't you using multistage builds 😄 ?

[2017-11-20 11:30] mythz commented on #2174
OMG, can't believe I didn't see that - think I need to stop coding all nighters!

Which image is that?

Haven't felt the need, we're using Docker for some small .NET Core Demos and rsync + supervisor + nginx for our own Web Apps.

[2017-11-20 11:30] #2174 closed

[2017-11-20 12:03] tmzblue commented on #2151
@Tratcher, I ran some additional tests today and clearing the cookies didn't fix the problem.

Oddly enough, I'm getting this error consistently with Google Chrome when using the address http://localhost:5000. When I change it to http://localhost.:5000 (notice the . at the end of the address), it won't give any errors.

![image](https://user-images.githubusercontent.com/17063774/33016427-a510519e-

[2017-11-20 12:35] davidfowl commented on #2151
@tmzblue What was the request pattern that reproduces the problem? POST followed by the GET?

[2017-11-20 16:11] Tratcher commented on #2151
Note that in 817_Full_POST.txt the Content-Length is wrong. It says 83 but is only sending 36. That's exactly the kind of problem that would cause this error on the next request. Check your request code that's setting the lengths.

[2017-11-20 17:44] Tratcher commented on #1290
`options.ListenAnyIP(configuration.GetValue<int>("PORT"))` Is a pretty good combo.
However, there's no config type converter for IPAddress or IPEndPoint.

[2017-11-20 18:17] davidfowl commented on #2151
@Tratcher I couldn't figure out why I couldn't reproduce the issue with fiddler then I saw this:

![image](https://user-images.githubusercontent.com/95136/33034200-f5a0ec1c-cddb-11e7-84b8-e6e6462e6015.png)

[2017-11-20 18:32] tmzblue commented on #2151
@Tratcher I'm sorry I couldn't respond earlier.
I intentionally removed sensitive data from the JSON payload, that's why the content-length is different. My bad.

@davidfowl for what I have seen: get => get, get => post
I'll try to reproduce it with bogus data and export the session 'as is'.

[2017-11-20 19:33] halter73 opened #2175 "Enable ApiCheck for Socket Transport"
https://github.com/aspnet/KestrelHttpServer/pull/2173/files#r151965500

[2017-11-21 03:09] halter73 commented on #2151
Can anyone who's able to reproduce the issue (pinging @tmzblue and @npehrsson) try out [this BadRequestDiagnosticAdapter](https://gist.github.com/halter73/8d653817fea22fea9ba1292df4b7e0c5)? You should be able to copy BadRequestDiagnosticAdapter.cs into your web project and then add it as demonstrated in the Program.cs of the gist.

I've included some sample output from the adapter below. The adapt

[2017-11-21 18:04] tmzblue commented on #2151
@halter73 I've just tested your adapter. Something weird happened.

a) Without the adapter:

![image](https://user-images.githubusercontent.com/17063774/33087911-1d4bd248-ced3-11e7-96ca-a95bb99f6aed.png)

b) With the adapter (bad responses are gone - for the same test scenario)

![image](https://user-images.githubusercontent.com/17063774/33088208-24d27b38-ced4-11e7-8404-a1c34a1a679b.png)

Removing

[2017-11-22 09:09] davidfowl commented on #2151
@tmzblue Seems like you have a consistent repro, if you could send the fiddler trace that would be great.

[2017-11-22 14:24] tmzblue commented on #2151
@davidfowl Here you go!

[BadRequestSession.zip](https://github.com/aspnet/KestrelHttpServer/files/1496269/BadRequestSession.zip)

As you will see, it seems that the bad request always happen after a call to:
http://localhost:5000/api/testBaconCow/listByPorkChopCow?id_Bacon_Chop=6&skip=0&take=10

hope it helps.

[2017-11-22 14:49] shieldsjared commented on #1625
Had to inject `<RuntimeIdentifier>win-x64</RuntimeIdentifier>` (didnt have it specified at all).  This solved it for me.  Thanks @mortb

[2017-11-22 18:20] #1334 closed

[2017-11-22 18:25] Tratcher commented on #1334
Another way to do this:
[code]

[2017-11-22 19:47] npehrsson commented on #2151
Glad to see that this is moving forward.

[2017-11-22 20:23] BrennanConroy opened #2178 "Every connection makes a Http1 and Http2 connection and does a lot of allocating"
The http2 connection allocates at least 40k in byte arrays in the constructors.

Below are the ones I found from a quick search
[code]

@davidfowl @halter73

[2017-11-23 08:10] davidfowl commented on #2151
@tmzblue We cant seem to reproduce the issue with just the fiddler trace. Can you try reproducing it yourself on a new project? We'd like to see if we have to mimic your application patterns to reproduce the issue.

[2017-11-23 08:15] davidfowl commented on #2156
As part of this we should add a unit test for unix domain sockets for both transports. There currently isn't one for libuv either.

[2017-11-23 08:18] davidfowl commented on #2151
Never mind, I was able to reproduce the issue. I'll see if I can create a reliable repro with these bits. Thanks alot!

[2017-11-23 11:48] davidfowl commented on #2151
Ok I dug into it and figured it out. The problem occurs when the request is a multiple of the block size which in this case is 4K (well 4032 bytes to be pedantic). Here's what it looks like:

[ 4K full with request data ] -> [ 4K with request data ] -> [ 4K empty ready to be filled ]

The header parsing completes and puts the cursor at the end of the empty 4K buffer (because of a computation bug)

[2017-11-27 13:38] niemyjski commented on #1182
I'm seeing this in our app which we just deployed to production. 5 times in the last 24 hours using latest stable (2.0.3)

[code]

[2017-11-27 14:50] davidfowl commented on #1814
We still have no idea why the client is being disconnected but the error itself is expected when the client disconnects. There's no evidence to suggest there's a bug here.

[2017-11-27 17:10] davidfowl opened #2181 "Determine what data type ITlsApplicationProtocolFeature.ApplicationProtocol should have"
Today it's a string, we could:

1. Make a new type that mirrors SslApplicatonProtocols
2. Make it a Span\<byte\>
2. Leave it alone.

https://github.com/aspnet/KestrelHttpServer/pull/2179#discussion_r153252609

[2017-11-27 17:12] anurse opened #2182 "Change ITlsApplicationProtocolFeature.ApplicationProtocol to Span<byte>"
https://github.com/aspnet/KestrelHttpServer/blob/76de77746dd900058f7bd49f66debdd245cf9260/src/Kestrel.Core/Features/ITlsApplicationProtocolFeature.cs#L7-L10

This property should not be represented as a string because the ALPN spec intentionally defines it as an "opaque byte string" and not a textual string:

The fact that the currently-registered values are all valid UTF-8 strings is not required

[2017-11-27 17:14] anurse commented on #2181
You just beat me. #2182

[2017-11-27 17:14] anurse commented on #2182
Dupe of #2181

[2017-11-27 17:14] davidfowl commented on #2181
Yours looks better

[2017-11-27 17:14] #2181 closed

[2017-11-27 17:16] anurse commented on #2181
As I mention in #2182. It could probably be fine as a `byte[]` or `Span<byte>`. I say just do (2) above (make it Span) and be done with it quick :). Wrapping it up in a type isn't that exciting to me, but sure, it would make equality comparison clearer. For (3), I agree it's probably not super necessary to make this change, but it's a simple change that keeps us adhering to the spec, and SslStream

[2017-11-27 17:17] anurse commented on #2181
Lol, let's just play tag through GitHub issues. You're it.

[2017-11-27 17:18] anurse commented on #2182
Also of note: `SslStream` chose not to use a `string` here, so I don't think we should arbitrarily limit it more than that. They used a custom type wrapping a byte array. We could go that far if we wanted to, it would make equality checks clearer, but I don't really mind either way.

[2017-11-27 17:27] benaadams commented on #2182
Its a getter only, you want to stash it on heap; single instance them - should be `ReadOnlyMemory<byte>` rather than Span

Also `SslApplicatonProtocol` is an option, except doesn't work for non-Ssl ApplicatonProtocols... (in name)

[2017-11-27 17:41] davidfowl commented on #2182
SslApplicatonProtocol isn't an option because it's .NET Core 2.0 only.

[2017-11-27 17:43] benaadams commented on #2182
There's an obvious question here; but I'm not going to ask it 😄

[2017-11-27 17:50] benaadams commented on #2182
Ah gowan...

So Apln will be Core 2.x and not Framework, until Framework's SslStream catches up - or an Apln shim for Framework?

Guessing as its security/crypto; will need Framework's SslStream to catch up (i.e. a future version of Framework rather than 4.7.1)

[2017-11-27 18:12] anurse commented on #2182
Correct, ALPN is a .NET Core 2.x only feature.

Sure, easy fix.

[2017-11-27 19:11] dotarj commented on #1814
Hi @davidfowl, for us the problem was related to thread starvation as described in this post: https://forums.couchbase.com/t/frozen-application-after-application-pool-starts-or-recycles-under-load/14573. After applying the described workaround the problem disappeared. I Guess the IOExceptions were caused by clients that disconnected because requests took too long.

[2017-11-27 19:12] Pilchie opened #2183 "Specifying RuntimeFrameworkVersion cause an exception in VS 2017"
_From @xakep139 on November 19, 2017 7:20_

### Steps to reproduce
Simply create new ASP.NET Core app with `dotnet new web`, include `RuntimeFrameworkVersion` and replace `Microsoft.AspNetCore.All` (2.0.3) with `Microsoft.AspNetCore` (2.0.1):
[code]

Running this project with Visual Studio I got an exception:
[code]
Removing `RuntimeFrameworkVersion` section from .csproj fixes the problem.
I don't

[2017-11-27 19:12] Pilchie commented on #2183
@BillHiebert - Do you know where this should go?

[2017-11-27 19:12] Pilchie commented on #2183
Ping @BillHiebert?

[2017-11-27 19:12] Pilchie commented on #2183
_From @BillHiebert on November 27, 2017 19:9_

@Pilchie - I would move it to https://github.com/aspnet/KestrelHttpServer since it could be hosting related.  Not sure why this only reproduces in VS since it basically just uses donet.exe to run the app.

[2017-11-27 20:15] muratg commented on #2157
@Tragetaschen Can you repro this on .NET Core at all?

[2017-11-27 20:21] muratg commented on #2142
@benaadams Please reopen once it's out of draft. :)

[2017-11-27 20:21] #2142 closed

[2017-11-27 20:22] muratg commented on #2141
No Kestrel changes expected.

[2017-11-27 20:22] #2141 closed

[2017-11-27 20:24] muratg commented on #2134
What's your SDK version?  Also, what's the system OpenSSL?

[2017-11-27 20:26] muratg commented on #2129
@Tornhoof thanks for the bug!  Interested in sending a PR?

[2017-11-27 20:28] muratg commented on #2128
@MohammadAkbari Were you able to find out what the issue was?

[2017-11-27 20:34] muratg commented on #2125
cc @shirhatti

[2017-11-27 20:35] #2117 closed

[2017-11-27 20:37] muratg commented on #2115
Tentatively putting this in 2.2.

[2017-11-27 20:50] muratg commented on #2103
@joshfree To implement this, we'll need SNI on Core to support something like this in a future release. Heads-up.

cc @shirhatti

[2017-11-27 22:32] Tornhoof commented on #2129
I opened a pull request with a fix.
The fix is straight forward, the only question is where do you want the tests for it. I couldn't find any file with existing tests for the reasonphrase, nor any file with utility tests.

[2017-11-27 22:35] muratg commented on #2129
Thanks @Tornhoof!  @Tratcher could you take a look when you get the chance?

[2017-11-27 22:37] muratg commented on #2045
Not enough details, so closing this one.

[2017-11-27 22:37] #2045 closed

[2017-11-28 07:08] hfjallemark commented on #2151
@davidfowl any time frame for when the fix will be released? We're getting these issues a couple of times a week. If not anytime soon, do you know if there's a workaround we can implement?

[2017-11-28 15:02] Cal279 commented on #1040
@davidfowl  - I am encountering the same issue as @hslosangeles - i.e. Kestrel is killed during an app pool recycle event and then not restarted until the next page request comes in. At least, this is the behavior I have observed with core 1.1.
Is there any way to start Kestrel again after a recycle? Also, what is the recommended approach for app pool recycling with Core - Is it necessary?
Thanks.

[2017-11-28 15:40] Tragetaschen commented on #2157
It's on my ToDo list to create a current .NET Core build for the ARM platform. I haven't tried since the 2.0 release and there have been a large number of ARM/Linux improvements since. Sadly I cannot spare the necessary time at the moment.
I'd guess one of the prerequisites is the single core on my platform to reliably trigger the issue.

[2017-11-28 18:21] davidfowl commented on #1040
@Cal279 are you saying that a server restart is required to make new requests work? I'm not aware of that problem. When a new request comes in it should just start a new process and things should work.

[2017-11-28 18:40] Cal279 commented on #1040
Thanks for the reply @davidfowl. Sorry, I was not clear in my initial comment. A new request does start the process, so in that respect it is not the same as the previous problem.

However, I do have some background tasks that need to run (using Hangfire). With app pool recycling I need to wait for the next page request for this to occur. Is there any way I can  'preload' the app after a recycle?

[2017-11-28 20:59] Drawaes commented on #2182
Ahh the string vs opaque bytes debate, it's like waking up from a bad dream over and over.... Don't please don't make it a string.

[2017-11-29 05:26] davidfowl opened #2187 "[2.0.x] BadHttpRequestException at Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http.HttpParser`1.RejectRequestLine"
Back port https://github.com/dotnet/corefxlab/commit/60dbe3ebda05329239c4df6bcedeebe3ef931ccd from corefxlab to 2.0.5

[2017-11-29 06:03] davidfowl commented on #1980
@aL3891 I now think we need to support clients as well.

[2017-11-29 08:12] shnepper commented on #1858
Clear cookies for site helped me.
- Site info (left of URL line (View site information))
- Cookies
- Remove all
- restart chrome.

[2017-11-29 16:50] davidfowl commented on #2151
There's no workaround. We're looking to patch this in January ish timeframe. I just merged a fix into the 2.0.x patch branch.

[2017-11-29 17:54] danroth27 opened #2188 "Listen on https://localhost:5001 by default when a default HTTPS certificate is available"
Absent any configuration, by default Kestrel listens on http://localhost:5000. Kestrel by default should also listen on https://localhost:5001 *if* a default HTTPS certificate is available (i.e. on a dev machine with the .NET Core SDK and the ASP.NET Core HTTPS development certificate installed).

[2017-11-29 18:02] pakrym opened #2189 "Disable heartbeat warning when debugger is attached"
It will be logged if user steps through app code.

/cc @halter73

![image](https://user-images.githubusercontent.com/1697911/33390972-60c74114-d4ec-11e7-8cd9-cc611eed9c30.png)

[2017-11-29 19:37] halter73 commented on #1858
@shnepper Do you know what cookie was causing an incomplete chunked response and why?

[2017-11-29 20:30] #2129 closed

[2017-11-30 03:06] DamianEdwards opened #2191 "Apparent regression in Plaintext around 15-Nov"
It seems a regression was introduced around 15-Nov, affecting Plaintext for both libuv and sockets transports. See https://msit.powerbi.com/view?r=eyJrIjoiYTZjMTk3YjEtMzQ3Yi00NTI5LTg5ZDItNmUyMGRlOTkwMGRlIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9

![image](https://user-images.githubusercontent.com/249088/33411076-4ffe6fdc-d538-11e7-913f-f9dea867d250.png)

@halter73 @davidf

[2017-11-30 03:15] sebastienros commented on #2191
Here is a fancier version of the graph

![image](https://user-images.githubusercontent.com/1165805/33411310-b58c9ba2-d539-11e7-82f6-e4aadcb9b0c2.png)

[2017-11-30 03:40] muratg commented on #2191
@pakrym does this coincide with the Pipeline changes?

[2017-11-30 07:51] shnepper commented on #1858
Sorry, I just looked for quick resolution.
Cannot reproduce right now. If will happen again - I'll try check little bit deeply.
Problem was with WebEx site.

[2017-11-30 10:30] davidfowl commented on #2191
Yes, it's the pipe changes:

![image](https://user-images.githubusercontent.com/95136/33426382-6cdb6964-d576-11e7-9fa3-8d0f1399833a.png)

[2017-11-30 10:42] davidfowl commented on #2183
@JunTaoLuo can you move this issue to the appropriate repository?

[2017-11-30 10:44] davidfowl opened #2192 "Consider adding support for .NET Core 2.1 to Kestrel for Memory and Span overloads on Stream"
It'll remove some of the overhead of getting an array out of the Memory and calling into various Stream APIs.

[2017-11-30 13:45] Tratcher commented on #2188
IDefaultHttpsProvider will need an IsAvailable property or TryConfigure method. Today's ConfigureHttps throws if the cert is missing.

[2017-11-30 14:33] themetis opened #2194 "BadHttpRequestException Request timed out."
We keep having this error frequently and randomly on any request from our clients since we upgraded from .Net Core 1.1.1 to .Net Core 2.

BadHttpRequestException Request timed out.
   at Microsoft.AspNetCore.Server.Kestrel.Internal.System.IO.Pipelines.PipeCompletion.ThrowFailed()
	   at Microsoft.AspNetCore.Server.Kestrel.Internal.System.IO.Pipelines.Pipe.GetResult(ReadResult& result)
	   at Micro

[2017-11-30 16:28] pakrym commented on #2191
Yes, it's either Pipes or System.Memory, we took new versions of both.

[2017-11-30 17:34] Tratcher opened #2195 "Session does not work with Redis when the client has HTTP keep-alives disabled"
_From @tcuk on November 30, 2017 16:11_

Session state does not persist in Redis when the client has HTTP keep-alives *disabled* (i.e. rather than specifying HTTP header *connection: keep-alive*, the client specifies *connection: close*).

OS: Ubuntu 16.04 LTS
ASP.NET Core version: 2.0.3

Startup used to configure session:

[code]

I discovered this when using nginx as a reverse proxy to Kestral.

[2017-11-30 17:34] Tratcher commented on #2195
There shouldn't be any relation between session and keep-alives. Can you share the application logs for before and after?

[2017-11-30 17:34] Tratcher commented on #2195
_From @tcuk on November 30, 2017 17:3_

To produce these logs I launched ASP.NET core behind my nginx reverse proxy, opened a new incognito browser window and requested the same URL three times via a URL pointing to nginx. I used a single session variable which was a counter being incremented. In the failure case the counter does not persist and remains at 1.

*Working case (Connection = keep-aliv

[2017-11-30 17:34] Tratcher commented on #2195
Ah. The response has a content-length so the client can disconnect as soon as it gets the last byte, which is before the session gets committed. Kestrel's client disconnect notice triggers, which triggers RequestAborted, which prevents the session from being committed.

This appears to be an order of operations bug in Kestrel. The complete request has been received and the complete response has be

[2017-11-30 17:59] davidfowl commented on #2194
I believe it's related to this https://github.com/aspnet/KestrelHttpServer/issues/2151 but I'm not 100% sure. Do you have any other logs?

[2017-11-30 18:14] pakrym opened #2196 "Backport exception dispatch fix from pipelines"

[2017-11-30 18:17] themetis commented on #2194
No it's all I've got

[2017-11-30 21:02] halter73 commented on #2194
Given that this is a timeout, it might not be related to #2151. Do you know by chance if any of the requests are coming from a .NET linux HttpClient?

[2017-11-30 23:36] ryanbrandenburg opened #2197 "Flaky test: HttpsConnectionClosedWhenResponseDoesNotSatisfyMinimumDataRate"
http://aspnetci/viewLog.html?buildId=360375&tab=buildResultsDiv&buildTypeId=Lite_KestrelStressTest#testNameId4971464264492862489

[code]

It would be nice if we could add descriptive error messages to Assert.Trues going forward too.

[2017-12-01 07:40] pantonis opened #2199 "Error on production server. Website is dead"
Suddenly one of our production enterprise apps stopped working. I restarted AppPool, IIS and VPS but still the site is dead. Does not come back.

I checked the Windows Event log error and I see the following error:

[code]

[2017-12-01 10:03] davidfowl commented on #2199
@pantonis What version of Kestrel? It also seems like you're using .NET Framework. Is that right?

[2017-12-01 10:12] oliverb-1 commented on #2125
I've also encountered this "Failed to bind to address: address already in use" error on aspnet core 2.0 with a webapp on azure failing to start. Restarting the app seemed to fix the issue.

Logs:

 ---> Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.Internal.AddressInUseException: Error -4091 EADDRINUSE address already in use
 ---> Microsoft.AspNetCore.Server.Kestrel.Transport.Libuv.In

[2017-12-01 10:47] pantonis commented on #2199
@davidfowl Thanks for your reply

Yes it is strange and I am running .NET Framework.

Since it was a prod environment I reverted to an old snapshot of VPS it fixed the problem. Didn't have time to investigate further.

Kestrel Version is 1.1.2

[2017-12-01 10:47] pantonis commented on #2199
Will close this issue and re-open it if this happens again and will collect some data next time.

Thanks

[2017-12-01 10:47] #2199 closed

[2017-12-01 10:55] davidfowl commented on #2125
@oliverb-1 does it recover?

[2017-12-01 11:05] mattbrooks2010 commented on #2125
@davidfowl Not from what I observed following an incident this morning. We have a single instance of the error logged and posted by @oliverb-1, which occurred at ~2:30am local time. The app was still unresponsive 7 hours later. During this time we were getting HTTP 503 responses from the App Service.

I turned on ASP.NET Core module logs in the web.config, which triggered a process restart resolvi

[2017-12-01 13:46] themetis commented on #2194
@halter73 No, I don't think so.

I manage to have a more complete log of my exception:
BadHttpRequestException: Request timed out.
  Module "Microsoft.AspNetCore.Server.Kestrel.Internal.System.IO.Pipelines.PipeCompletion", line 0, col 0, in ThrowFailed
    Void ThrowFailed()
  Module "Microsoft.AspNetCore.Server.Kestrel.Internal.System.IO.Pipelines.Pipe", line 0, col 0, in GetResult
    Void GetRe

[2017-12-01 14:54] NPSF3000 opened #2200 "The remote party closed the WebSocket connection without completing the close handshake."
**Background:**

We've built and deployed a web-socket application in production, however it's been incredibly unstable even with a relatively small number of connections (~4000).  Typical symptoms is dropping all connections and becoming completely unresponsive every few hours.  Investigating.

**Test:**

Simple Echo code, echoing a ~8MB text message per second per connection.  A small number of

[2017-12-01 20:27] halter73 commented on #2125
@mattbrooks2010 Can you include the log recorded by Exceptionless verbatim? Does it also include Program.Main in the stack trace like @oliverb-1?

[2017-12-01 20:29] mattbrooks2010 commented on #2125
@halter73 referring to the same error / incident — we work together 😊

Do you still need me to post something?

[2017-12-01 21:06] halter73 commented on #2125
@mattbrooks2010 I see. Do you have any windows event logs from the "IIS AspNetCore Module" from around ~2:30am local time? If you are running an Azure App Service you can find these in your `D:\home\LogFiles\eventlog.xml".

[2017-12-01 21:26] mattbrooks2010 commented on #2125
Yes, I can supply the `LogFiles\eventlog.xml` file. Can I email this over, rather than post it here?

[2017-12-02 00:14] halter73 commented on #2125
Sure. You can just send the email to the address listed in my github profile.

[2017-12-02 00:17] JunTaoLuo commented on #2183
This issue was moved to aspnet/Universe#693

[2017-12-02 00:17] #2183 closed

[2017-12-02 09:09] davidfowl commented on #2200
@NPSF3000 Can you share the code for your websocket server?

/cc @stephentoub

[2017-12-02 09:41] davidfowl commented on #2194
I'm like 87% sure it's #2151, we'll try to get a patched build so you can try out the fix.

[2017-12-03 13:46] hasanoruc commented on #1267
I solved my own problem for ubuntu 16.04.
I ran `top` command and then `shift+m` and then `shift+h`. And i saw many many dotnet actions loading the ram and it did not died after time by itself and it did not clear the ram by itself. And i looked to google and i add this line to crontab.(/etc/crontab):

What is this?
Every 5 minutes run this command. What command? killall dotnet actions older than

[2017-12-03 17:52] nonsense66 opened #2202 ".NET Core 2.0 Azure Web App. The specified CGI application encountered an error and the server terminated the process"
My app works well locally but I've got an error when I deployed it on Azure Web App:

`The specified CGI application encountered an error and the server terminated the process.`

My app is a .NET Core 2.0 Web API with no wwwroot folder. It creates instance of X509Certificate2 from byte array, I am pretty sure it fails here.

I found this in [Microsoft Docs](https://docs.microsoft.com/en-us/azure/a

[2017-12-04 06:19] davidfowl opened #2204 "Flaky test with https connection adapter on netcoreapp2.1"
This seems to happen sometimes.

[code]

[2017-12-04 07:46] kamikyo commented on #2195
Yes, I also encountered the same problem. I found such a problem in the production environment project, I really want to cry. Hope to solve this problem as soon as possible, thank you very much!

[2017-12-04 18:40] Tratcher opened #2205 "HTTP/2 Path is not un-escaped"
https://github.com/aspnet/KestrelHttpServer/blob/b8a1c04ffbeee6c60a74766142ff3e2e6779d701/src/Kestrel.Core/Internal/Http2/Http2Stream.cs#L59
IHttpRequestFeature.Path is expected to be in its un-escaped format, but the HTTP/2 code path is providing the raw escaped format. This will break request routing and processing.

Compare to the HTTP/1 code path:
https://github.com/aspnet/KestrelHttpServer/bl

[2017-12-04 19:54] joshfree commented on #2103
@saurabh500 @corivera

[2017-12-04 19:58] EdgarSalazar commented on #1217
Damnit Chrome! @FelschR thanks for the solution!

[2017-12-04 20:04] halter73 commented on #1267
@hasanoruc What's starting your dotnet processes? When should the dotnet processing be stopping?

[2017-12-04 20:10] saurabh500 commented on #2103
SNI uses the SSLStream from .Net Core to transmit data. I am not sure how SNI is relevant here.

[2017-12-04 20:22] muratg commented on #2103
@saurabh500 Proposal at [this issue](https://github.com/dotnet/corefx/issues/24553) would possibly enable this.   @Tratcher can share some more details.

@shirhatti @DamianEdwards Let's decide if we want this feature in 2.2 which would drive feature requirements from the CoreFX side.

[2017-12-04 20:25] Tratcher commented on #2103
We know this feature is not the intended purpose of SNI, however the the proposed SNI API with the delegate callback would also enable this scenario.

[2017-12-04 20:25] saurabh500 commented on #2103
Ah OK. The SNI here is `Server Name Indication` and not the SNI that SQL server uses. SNI in Sql server is an acronym for SQL Network Interface. @joshfree We are not the right team here :)

[2017-12-04 20:31] Tratcher commented on #2103
IIS for reference: https://weblog.west-wind.com/posts/2016/feb/22/using-lets-encrypt-with-iis-on-windows

[2017-12-04 21:22] NPSF3000 commented on #2200
The server is pretty basic:

[code]

[code]

[2017-12-04 21:41] nforysinski opened #2206 "BadHttpRequestException: Request Timed Out randomly in Web API"
Hosting a 2.0.0 web API on Azure in a web service with only one instance. The following exception occurred randomly today and was accompanied by CPU spikes. We do not yet know if the requests completely failed or were handling and these exceptions are transient. Since this is a web API, all requests are coming from a web context and the endpoints in question are anonymous POST requests with a [Fro

[2017-12-04 21:44] Tratcher commented on #2206
Is there a message for that exception?

[2017-12-04 21:49] nforysinski commented on #2206
@Tratcher Sorry! Added the exception message that we are getting. The message is "Request Timed Out"

[2017-12-04 22:28] Tratcher opened #2207 "Kestrel does not allow requests with empty Host headers"
https://tools.ietf.org/html/rfc7230#section-5.4
"If the authority component is missing or for the target URI, then a client MUST send a Host header field with an empty field-value."
The spec requires that a HTTP/1.1 request have a host header, but it does not require that it have a value. Kestrel does not distinguish between an empty and missing host.
https://github.com/aspnet/KestrelHttpServer/bl

[2017-12-04 22:39] Tratcher commented on #2207
Nevermind, Kestrel does allow this. I was looking at the wrong test.

[2017-12-04 22:39] #2207 closed

[2017-12-04 23:02] halter73 commented on #2206
This is likely another form of #2151.

[2017-12-05 04:27] nforysinski commented on #2206
Any chance of getting a patch on this one? If not, any options to mitigate it?

I am curious if you know if the requests are actually getting handled or if they are getting dropped. Pretty serious in production scenarios if the requests aren't getting fully handled.

[2017-12-05 05:44] davidfowl commented on #2200
That logic doesn’t look right. You’re supposed to handle the close message by sending a close back to the client.

[2017-12-05 10:21] dexterhussain opened #2208 "Cultures Not Working with ASP.Net Core 2.0"
I have been working with ASP.Net cultures for a long time and also working on Core 1.0 . Deployed many websites on kestrel using Nginx having no issues. This is first time that I added cultures to my website which are working fine on development machine as soon I deploy it on my Ubuntu Server it starts giving these errors
common.js:22 GET http://(IP)api/culture/SupportedCultures 500 (Internal Serv

[2017-12-05 13:47] benaadams commented on #2208
Can you turn some logging on? It should give you some more insight

[2017-12-05 14:01] NPSF3000 commented on #2200
@davidfowl I'll make that change to my system.  Either way, it doesn't explain why perfectly solid connections (with no closes going on at all) are being dropped.

[2017-12-06 00:23] kexxxfeng commented on #2194
I had met that exception. I post StreamConent via HttpClient .
[code]
The end of Server
[code]
The error is log.txt
[code]

[2017-12-06 00:34] Drawaes commented on #2194
you are blocking on the server

[code]

Try

[code]

[2017-12-06 00:43] kexxxfeng commented on #2194
@Drawaes I had tried your code, but the exception occurred again.

[2017-12-06 00:48] halter73 commented on #2194
@kexxxfeng what image are you using?

[2017-12-06 00:48] benaadams commented on #2194
You are sending the same `memory` concurrently to 10 connections? Reading position in `MemoryStream` will get mixed up?

[2017-12-06 01:02] benaadams commented on #2194
You don't need to dispose `MemoryStream` but do need to dispose `HttpClient` as used in the sample you've given.

Try this to create a `MemoryStream` for each task:
[code]

[2017-12-06 01:10] halter73 commented on #2194
You can even use the array directly. So instead of creating `taskMemory`, you can just do `request.Content = new ByteArrayContent(data);`.

[2017-12-06 01:31] kexxxfeng commented on #2194
@benaadams @halter73 That's great. Thx 👍

[2017-12-06 05:11] dexterhussain commented on #2208
I cannot log anything as it shows nothing it just starts showing that Internal Server Error
![image](https://user-images.githubusercontent.com/8198511/33645667-c67664e6-da6d-11e7-9ab8-37cecb88866e.png)

[2017-12-06 05:43] benaadams commented on #2208
Logging in aspnet not in the client; it should output what the issue is

[2017-12-06 05:45] benaadams commented on #2208
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?tabs=aspnetcore2x

[2017-12-06 06:53] hasanoruc commented on #1267
@halter73
If every request to the server and every transaction in the database causes a dotnet process in the ram in my ubuntu server, and this does not disappear by itself. I need to clear these operations. I can clean them with crontab. When you delete this information and the cache on the server, the user is connected a bit late. But if it remains within the time specified in the crontab, it re

[2017-12-06 10:43] dexterhussain commented on #2208
Even though i have enabled logging the Kestrel is still not showing any logs.
It is quite strange this time that kestrel is showing nothing whenever I deployed an application previously it always showed api calls and everything

[2017-12-06 12:38] dexterhussain commented on #2208
No matter how much calls are coming it doesnt move other than this.
root@sqanercore:~# sudo journalctl -fu kestrel-cms360.service
-- Logs begin at Wed 2017-12-06 16:06:19 PKT. --
Dec 06 17:35:01 sqanercore systemd[1]: [/etc/systemd/system/kestrel-cms360.service:8] Failed to parse sec value, ignoring: 10  # Restart service after 10 seconds if dotnet service crashes
Dec 06 17:35:22 sqanercore system

[2017-12-06 13:15] oerodriguezn opened #2209 "Question. Memory and cpu limits"
How can i configure asp dot net core to have memory and/or cpu usage limits like IIS app pools settings. We would like to use kestrel without IIS but we need to be able to setup that kind of resources usage limits to our applications.

[2017-12-06 14:17] centerboy88 commented on #1965
i have the same issue... does anyone know if it's depending on the version of Kestrel ?

[2017-12-06 16:25] Tratcher commented on #2209
Duplicate of https://github.com/aspnet/Home/issues/2300

[2017-12-06 16:25] #2209 closed

[2017-12-06 16:46] mattbrooks2010 commented on #2125
`eventlog.xml` supplied on Sun, Dec 3, 2017.

[2017-12-06 18:27] muratg commented on #1965
@centerboy88 what version are you using? Also, what are the exact logs? Thanks.

[2017-12-06 20:45] halter73 commented on #2208
@dexterhussain The logs in your last comment are really just [the console output from hosting](https://github.com/aspnet/Hosting/blob/a63932a492513cdeb4935661145084cad2ae5521/src/Microsoft.Extensions.Hosting/Internal/ConsoleLifetime.cs#L35-L37) which is always written unless explicitly disabled.

To capture logs written using ASP.NET Core's logging API, you need to [add a logging provider](https:/

[2017-12-07 04:39] dexterhussain commented on #2208
Dear @halter73  I have already added Logging Provider and even catching and showing each exception but still it is nothing, I simply cannot figure out what is the issue. In all previous application it worked perfectly fine.

[2017-12-07 06:56] kexxxfeng commented on #2194
:( Today, I found a lot of exception like below in the log of server end.
[code]
I've just sent 100 post request to the server. Every image is only 4MB.
[code]
Or, the exception means that the resource of the server is not enough to handle the 100 requests?

[2017-12-07 09:07] kexxxfeng commented on #2045
I have got a lot of same exception, but I didn't knew where the exception happened.
[code]

[2017-12-07 18:07] muratg commented on #2045
@kexxxfeng Are you able to share a small repro app on GitHub?

[2017-12-07 18:42] ryanbrandenburg opened #2210 "Failing test: AddressRegistrationTests.ThrowsWhenBinding* on Ubuntu"
[These](http://aspnetci/viewLog.html?buildId=363363&tab=buildResultsDiv&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR#testNameId5489052581997351481) tests fail consistently on Ubuntu and it seems at first glance to be an actual product bug.

[2017-12-07 19:29] halter73 commented on #2194
This generally means the client aborted the connection mid-request.

[2017-12-07 19:55] halter73 commented on #2045
@kexxxfeng What OS is the app running on? Did you notice any failed requests or any other issue other than the error log?

My theory is that this is caused by a client disconnecting almost immediately after connecting.

[2017-12-07 20:41] KLuuKer commented on #1144
@muratg you said

it's still attached to the backlog milestone while a 2.1.0 milestone exists
is this going to get fixed in 2.1.0? or not?

[2017-12-07 20:45] muratg commented on #1144
@KLuuKer bringing this back to triage.

[2017-12-07 20:49] #2178 closed

[2017-12-07 22:40] ryanbrandenburg opened #2211 "Flaky test: TestInvalidHeaders"
Based on [this](http://aspnetci/viewLog.html?buildId=363484&tab=buildResultsDiv&buildTypeId=Lite_KestrelStressTest) test it looks like in some cases our tests are getting blank responses back.

[2017-12-08 02:24] kexxxfeng commented on #2045
Recently, I upgraded `Microsoft.AspNetCore.All` to 2.0.3，then the exception was logged on running.
[code]
Then, I found an issue about that on [github](https://github.com/dotnet/cli/issues/6516#issuecomment-303181477).

According the comment, I disable `PublishWithAspNetCoreTargetManifest`.
[code]

The app ran successfully. But after a few days, I found the error reported before in the log.txt.
No

[2017-12-08 04:04] kexxxfeng commented on #2194
@halter73 Yeah, I resolved it by setting `httpClient.TimeOut = new TimeSpan(1,0,0);`

[2017-12-08 19:34] danroth27 commented on #2016
@Tratcher Is this a dup of #1290?

[2017-12-08 20:29] danroth27 commented on #2016
Nevermind - https://github.com/aspnet/KestrelHttpServer/pull/2186 clarifies that #1290 is tracking "config and code parity".

[2017-12-08 23:09] ryanbrandenburg opened #2213 "Flaky test: TestInvalidRequestLines"
As seen [here](http://aspnetci/viewLog.html?buildId=364448&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win7_Universe#testNameId7063230156023129206).

[code]

[2017-12-08 23:11] ryanbrandenburg commented on #1768
Doesn't seem to be fixed for all cases:
[code]

As seen [here](http://aspnetci/viewLog.html?buildId=364749&tab=buildResultsDiv&buildTypeId=XPlat_Windows_Win8_Universe#testNameId-4122240585433300597).

[2017-12-11 19:39] MHamburg opened #2214 "ASP.NET Core (2.0.3) API, works on windows, not on linux?"
Hi! I have created a small asp.net core API, which has one endpoint that resolves OpenGraph tags and sends back its results.

You can get the full source code here:
https://github.com/MHamburg/opengraph.api

**The problem I am facing:**
If I run this asp.net core api locally on a windows 10 machine (not using docker) and I run the attached stress tester, all works great. The stress tester ends cor

[2017-12-12 08:57] cgwrench commented on #2125
I've also experienced a similar issue where an Azure App Service becomes unresponsive, returning 503 errors. In my case, the app remained unresponsive for several hours. Restarting the App Service via the Azure Portal brought the application back online. However, editing and saving the Web.config files via Kudu did not.

Unlike the case reported above, I didn't get a "Failed to bind to address: ad

[2017-12-12 09:09] mattbrooks2010 commented on #2125
In case this is relevant, this has now occurred in two separate web apps hosted in separate Azure App Services:

1. ASP.NET Core 1.1 targeting `net462`
1. ASP.NET Core 2.0 targeting `net462`

[2017-12-12 16:16] NPSF3000 commented on #2200
As per my recent comments we now have close logic built:

Server:
[code]

Client:

[code]

However, even a single open connection simply echoing a message is highly unstable.  For example:

Server:

[code]

Client:

[code]

[2017-12-12 17:48] Tratcher opened #2216 "Read additional KestrelServerOptions from config"
The new configuration APIs will read endpoints with their certificates and the default certificate. https://github.com/aspnet/KestrelHttpServer/pull/2186

Here are other KestrelServerOptions to consider reading from config (Unsorted):
- bool AddServerHeader
- SchedulingMode ApplicationSchedulingMode
- KestrelServerLimits Limits
  - long? MaxResponseBufferSize
  - long? MaxRequestBufferSize
  - int

[2017-12-13 06:00] guytwena commented on #1851
@raffaeler
regarding,
private static void SetHost(Microsoft.AspNetCore.Server.Kestrel.Core.KestrelServerOptions ,

This is the best method that I have found till now,
Did you find solution for the args?

Thanks,

Guy

[2017-12-13 07:20] raffaeler commented on #1851
@guytwena can you please clarify what you want to do with the args?
If you mean the command line parameters, aspnet core expects a specific syntax that is used from the builder to select the appropriate configuration:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?tabs=basicconfiguration#commandline-configuration-provider
What do you expect to do in SetHost with the args?

[2017-12-13 08:57] mdsharpe commented on #2125
I am affected by this problem also. Just found two webapps unresponsive, returning 503 Service Unavailable. They were brought back to working order by restarting them through the Azure Portal.

[2017-12-13 12:15] davidfowl commented on #2178
@BrennanConroy did you do another pass to verify it works well?

[2017-12-13 16:22] BrennanConroy commented on #2178
No, I'll try it out

[2017-12-13 17:57] BrennanConroy commented on #2178
Tried it out, way better now

[2017-12-13 21:29] muratg commented on #2210
@halter73 could you please investigate?

[2017-12-13 21:43] JeffMarqMetrix opened #2218 "No UWP support on IoT Core"
Trying to build a Windows IoT Core Background Application that has an AspNetCore web server using MVC. None of the  publicly available servers work for this, but I kind of expected kestrel to, since it is the "cross-platform" option.

One option is to run AspNetCore apps as a standalone Exe on IoT Core. But this removes the ability to communicate to any low level devices like serial ports.

Anothe

[2017-12-13 23:49] halter73 commented on #2214
Does this repro with the 2.0.4 runtime nightly? I think you might be related to this: https://github.com/dotnet/coreclr/issues/14991.

If it still repros, it might help to capture a memory dump using gcore or similar.

[2017-12-13 23:51] halter73 commented on #2214
Actually forget the nightly. 2.0.4 was released yesterday.

[2017-12-14 00:42] KyleGobel opened #2219 "Very slow in kubernetes environment"
I have a problem I've been struggling with for a couple weeks now.

I run a couple pretty thin API dotnet core projects in kubernetes.  Some of these (it almost seems hit or miss), are unbelievably slow to start up.  It takes normally more than 5 minutes before my first health check passes.

After that most requests will timeout for another couple minutes and finally maybe after 10 - 15 min it wil

[2017-12-14 01:03] muratg commented on #2219
@KyleGobel Does your app start much faster in your dev environment? (I assume so...)   Do you do any specific expensive operations in your startup?  Did you try getting logs to see what may be taking time?

cc @natemcmaster

[2017-12-14 01:39] KyleGobel commented on #2219
@muratg Yes everything is incredibly fast in the develop environment.  Even just taking my docker image and running it locally has no problems what so ever.  I can only get it to misbehave when it's put into kubernetes.

I don't do any expensive operations that I know of in my startup.  I am attempting to clean up a minimal example again (I've done this a couple times) that I will share.

I will p

[2017-12-14 01:44] muratg commented on #2219
That's indeed a long time.  Are you able to try it on another Kubernetes setting at all?  I don't think Kubernetes would be the reason but just in case if it's reasonably easy to do.

cc @Tratcher in case he has any thoughts.

[2017-12-14 01:47] muratg commented on #2219
@KyleGobel The following line is interesting:
`[01:25:44 DBG] Loaded hosting startup assembly TaskService.Api`

Is TaskService.Api.dll an assembly your app uses?  Looks like you're using hosting lightup...  Is this by design, or accidental, I wonder.

[2017-12-14 01:50] KyleGobel commented on #2219
``TaskService.Api`` is the name of the project/app.  If that is not normal it was definitely accidental.  I'm not trying to do anything tricky or clever here.

[2017-12-14 02:08] JulianRooze commented on #2214
We're currently running into the same issue. Our application gets OOM killed by Docker in production. I've also tried running the same application on Docker for Windows (but using Linux containers) and there it seems to respect the cgroup memory limits a lot better. I can get it to get OOM killed if I really push it hard, but its behaviour is clearly different; it doesn't scale its memory use line

[2017-12-14 02:09] JulianRooze commented on #2214
@halter73 we've been running the nightly for a few days and today upgraded to 2.0.4 stable. It didn't fix this behavior.

[2017-12-14 02:17] JulianRooze commented on #2214
@MHamburg how much memory does your host machine/VM have when it OOMs? To me, it seems that the GC thinks it has way more memory than what it is actually limited to, and thus is lazy with its collections. In our case, the host machine has 32 GB of RAM, and the CLR seems to behave as if all of that is available to it, rather than the 2 GB given to it by Docker with `--memory=2G`.

[2017-12-14 02:25] halter73 opened #2220 "Switch back to libuv as the default transport"
@muratg

[2017-12-14 02:27] halter73 commented on #2210
Hopefully this will be fixed with dotnet/corefx#25914. @ryanbrandenburg should we disable these tests in the meantime?

[2017-12-14 02:58] davidfowl commented on #2178
@BrennanConroy can you update the SignalR issue with the latest details on the per connection memory

[2017-12-14 03:25] davidfowl commented on #2200
Is the client dying first?

[2017-12-14 03:44] KyleGobel commented on #2219
Ok, well in trying to set up an example I think I found the reasoning.

On certain containers I had monitored their CPU and setup Kubernetes CPU requests and limits for what these containers run at (I had set them pretty low because some of these get very little traffic and the average cpu usage was nearly nothing).  It turns out that if you limit their CPU too much they take longer to start and g

[2017-12-14 03:44] #2219 closed

[2017-12-14 08:15] MHamburg commented on #2214
@JulianRooze From our observation, I do not think this issue is limited to docker. On a Linux VM we experience the same behavior (which is outside of docker, as such I would suggest eliminating docker from the equation as it is currently irrelevant).

The attached app uses no more than +/- 300MB of ram on a windows machine and a windows container. On a Linux VM and a Linux container it uses all th

[2017-12-14 11:33] benaadams commented on #2214
What does your CacheFactory with 15 days sliding expiration do when its not using Redis? Can the containers/VM contact Redis?

[2017-12-14 13:31] MHamburg commented on #2214
@benaadams. Thank you for your response! For stress testing purposes I switched off redis (by not providing a connectionstring to redis). The instance we have launched on rancher does use redis and this connection works.

As local cache it uses a dictionary handle with a 15 days sliding eviction policy (if not touched by 15 days, remove from cache). The dictionary handle uses a ConcurrentDictionar

[2017-12-14 13:45] benaadams commented on #2214
I was just wondering if the cache was using the memory (e.g. the ConcurrentDictionary having very many entries)

[2017-12-14 14:13] davidfowl commented on #2220
😞

[2017-12-14 14:21] davidfowl commented on #2218
We don't test any of ASP.NET on UWP. There's been a long standing request for ASP.NET on UWP for IoT scenarios but it's never been high enough priority to investigate. I'd follow up on these issues:

- https://github.com/aspnet/Home/issues/1531
- https://github.com/aspnet/Home/issues/1338
- https://github.com/aspnet/Home/issues/2116

[2017-12-14 14:21] #2218 closed

[2017-12-14 14:39] tmds commented on #2220
why?

[2017-12-14 17:49] muratg commented on #2219
@KyleGobel glad that your issue is resolved!

[2017-12-14 17:50] muratg commented on #2220
cc @DamianEdwards

[2017-12-14 18:03] ryanbrandenburg commented on #2210
I would say no. It doesn't stop us from producing packages and currently we don't key anything other than starting work items off the passage or failure of tests, so disabling the tests would only hide the problem in my opinion.

[2017-12-14 20:32] halter73 commented on #2220
We're concerned about the [performance](https://msit.powerbi.com/view?r=eyJrIjoiYTZjMTk3YjEtMzQ3Yi00NTI5LTg5ZDItNmUyMGRlOTkwMGRlIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9) of the socket transport relative to the libuv transport.

[2017-12-15 00:21] niemyjski commented on #1267
I'm also trying to track down this issue with two of our sites. It seems to happen when there is load on the site and it doesn't fix itself. We use a lot of async redis calls / http client calls via the nest client

[2017-12-15 00:28] halter73 commented on #1267
@niemyjski It could be threadpool starvation. Have you collected a memory dump when Kestrel isn't responding?

[2017-12-15 09:13] JinsPeter commented on #1263
Similar websocket + http config for apache is solve in [this issue](https://github.com/aspnet/KestrelHttpServer/issues/1263)

[2017-12-15 11:23] davidfowl commented on #2191
@pakrym @halter73 @DamianEdwards Did we figure this out?

[2017-12-15 20:28] pakrym commented on #2191
@davidfowl not yet, we are dealing with a larger new regression.

[2017-12-15 20:45] #2210 closed

[2017-12-15 21:38] listepo commented on #73
Hi, any news about gRPC support?)

[2017-12-15 22:46] melnikov77 commented on #2171
I have a similar problem, under high load, some of the connections are aborted because of rate limit.
With default settings, I have an aborted connection after 5 seconds (i.e grace period ) while writing 130Kb chunk.
I think the problem could be in OutputProducer.WriteAsync method.
I added some logs to this method (see code below), here is what happened when the connection is aborted:

1. OutputPr

[2017-12-15 22:54] halter73 commented on #2171
@melnikov77 Thanks for the thorough investigation. We are working now on rewriting the write timeout logic to avoid this kind of issue and others. In the meantime I recommend disabling the response rate limit for problematic requests and add your own timeout logic that aborts the connection if necessary.

[2017-12-15 23:32] davidfowl commented on #2191
Don’t make me sadder

[2017-12-15 23:34] pakrym commented on #2191
New one seems to be https://github.com/dotnet/core-setup/pull/3512

[2017-12-15 23:44] benaadams commented on #2191
Its a rollercoaster!

![image](https://user-images.githubusercontent.com/1142958/34064558-cacbc9d8-e1f1-11e7-820b-6dedd0a3f4ed.png)

[2017-12-15 23:58] davidfowl commented on #2191
Ahh server gc so that’s easy to fix

[2017-12-16 00:52] alex-zyl commented on #2005
@halter73 @davidfowl
Is there any additional actions required to make it work with IIS?

After migrating to 2.0 cert selection window does not show up when running behind IIS.

My configuration

[code]

[2017-12-16 03:09] natenho commented on #1851
I've found this updated blog post [https://blogs.msdn.microsoft.com/webdev/2017/11/29/configuring-https-in-asp-net-core-across-different-platforms/](https://blogs.msdn.microsoft.com/webdev/2017/11/29/configuring-https-in-asp-net-core-across-different-platforms/), in case some one hits here looking for Kestrel HTTPS configuration, bindings, certificates, etc.
And also the full source code: [https:/

[2017-12-16 03:53] Tratcher commented on #2005
None of the HttpsConnectionAdapterOptions settings apply when using IIS (this is not new for 2.0). IIS terminates the tls connection and forwards the request to Kestrel using http. You'll need to configure the client cert settings in IIS. IIS/ANCM will also forward the cert.

[2017-12-16 11:25] alex-zyl commented on #2005
@Tratcher
Indeed, after switching ClientCertificates: Accept cert dialog windows shown up.
But now i'm a little bit confused because i've never touched this settings before and it was all good on 1.1.2 all the time.

I reverted the changes back to 1.1.2, set ClientCertificates: Ignore and published the project: no cert dialog. Tried to reproduce all the steps that I performed long time ago twice:

[2017-12-16 14:55] alex-zyl commented on #2005
@Tratcher  Am I right saying that UseHttps only needed when running as self-hosted app?

[2017-12-16 16:03] Tratcher commented on #2005
Yes, UseHttps is only for self host.

[2017-12-18 15:07] ilyabreev commented on #1267
Same problem here. Randomly stops responding and consumes 1-2% CPU.

[2017-12-18 18:12] ryanbrandenburg opened #2223 "Flaky test on Ubuntu caused by null-ref in cleanup"
Kestrel tests [failed on Ubuntu](http://aspnetci/viewLog.html?buildId=370016&buildTypeId=XPlat_Linux_UbuntuUniverseCoreCLR&tab=buildLog&_focus=55343). It seems like the test failed in startup or shutdown due to a null-ref on a `Span`?

[2017-12-18 18:16] pakrym commented on #2223
https://github.com/dotnet/corefxlab/issues/1978

[2017-12-18 18:18] ryanbrandenburg commented on #2125
[Here](http://aspnetci/viewLog.html?tab=buildLog&logTab=tree&filter=debug&expand=all&buildId=369945&_focus=69676) is a possible repro of this issue (or a similar one) on our CI.

[2017-12-18 18:44] ryanbrandenburg commented on #2197
I thinks [this](http://aspnetci/viewLog.html?buildId=370080&tab=buildResultsDiv&buildTypeId=Lite_KestrelStressTest#testNameId8801805959029034956) failure is related.

[2017-12-18 20:22] halter73 commented on #1267
@ilyabreev Any details?

Information that might be useful:

1. OS version
2. Whether or not your running under IIS/ANCM or behind another reverse proxy
2. Frequency of occurence
3. Amount of load the server was under when it stopped responding
4. A core dump taken when the server is not responding
5. Anything out of the ordinary that could be related.

Also, I recommend opening a new issue. Even i

[2017-12-18 20:53] niemyjski commented on #1267
@halter73 yes, I have some memory dumps.

[2017-12-18 22:38] halter73 commented on #1267
@niemyjski Can you share these? You can email me with a link at the address listed in my github profile. Thanks.

[2017-12-19 00:05] Tratcher opened #2225 "Flaky test: MaxRequestBufferSizeTests.LargeUpload"
This has failed 50% of the time for me on recent local builds, always with the same actual result.
[code]

[2017-12-19 01:53] halter73 commented on #2125
@ryanbrandenburg The log you linked to ("Microsoft.AspNetCore.Server.Kestrel Critical: Unable to start Kestrel." ...) is the expected output for the ThrowsWhenBinding* Kestrel tests. None of the ThrowsWhenBinding* tests failed in the CI run you linked to. You can verify this by looking at the following log:

[code]

The real cause of the failure is #2223. Since the test run failed, the CI reported

[2017-12-19 06:52] ColbyBurke opened #2226 "issue solved"

[2017-12-19 06:57] ilyabreev commented on #1267
@halter73
1. **Ubuntu 14.04.5 LTS** as host system. `dotnet` process runs inside docker container which based on **ubuntu:xenial**
2. Running behind `nginx` as reverse proxy.
3. 0-6 times in a day.
4. Don't know exactly. I don't think it's constantly too high. Maybe some kind of CPU spikes occured before locking.
5. Will try to email you link to memory dump.
6. Nothing special.

[2017-12-19 08:17] mattbrooks2010 commented on #2125
@halter73 is there anything we can be doing to help move this issue forward? We continue to be affected by it.

[2017-12-19 13:27] ili opened #2227 "dotnet.exe restart"
Hello,

I've faced with strange situation - `dotnet.exe` hosted on IIS (Windows Server 2012 R2) is periodically shut down.

While testing our application on high load we do see strange situations - periodically we do have long answer time from server (eg normal answer time is 300ms and long one is 15000 - 20000 ms).

While investigating this we've found out that at this times dotnet.exe is restart

[2017-12-19 16:48] Tratcher commented on #2227
This issue was moved to aspnet/AspNetCoreModule#278

[2017-12-19 16:48] #2227 closed

[2017-12-20 03:11] mazong1123 commented on #1267
As this issue has been closed, do we have another new issue to track down the "dotnet process stops" problem? We're facing the same issue as the dotnet process stops unexpectedly.

[2017-12-20 05:59] cibinmathewjose opened #2229 "Web API POST request is loo slow on accessing with machine name, works fine with localhost url"
I have a HttpGet and HttpPost API Endpoints running on local machine, when i access the get endpoint with localhost url and machine name url both works fine. but for the POST endpoint it is working fine with localhost url but machine name url it is taking approximately 6 seconds. actually controller method is getting the request after 6 seconds only. I have profiled it and it looks like the issue

[2017-12-20 07:20] jkotalik opened #2230 "Consume BindingAddress in ServerAddress"
[HttpAbstractions has a new type](https://github.com/aspnet/HttpAbstractions/commit/150bb3faf413226d053777bbc72618fb284a6970) that will be consumed for using the IServerAddressFeature. Though Kestrel cannot remove the ServerAddress type, we can deprecate it and then start using the BindingAddress internally. Kestrel will also have to throw if the PathBase is set before consuming the type.

[2017-12-20 11:18] cibinmathewjose commented on #2229
this issue happens only if the posted data contains a property named "name".  if you create a new webapi project and post following json to the default api/values endpoint with machine name url (http://yourpc:61160/api/values)

i am using UseUrls to make it available on all network interfaces
                .UseUrls("http://0.0.0.0:61160")

[2017-12-20 17:41] muratg commented on #1267
@mazong1123 please feel free to file another bug to discuss the current issues.

[2017-12-20 22:27] benaadams opened #2231 "Allow Unix Sockets on Windows"
😮 https://blogs.msdn.microsoft.com/commandline/2017/12/19/af_unix-comes-to-windows/

[2017-12-21 17:26] #2226 closed

[2017-12-21 17:30] Tratcher opened #2232 "Build.cmd fails due to new BenchmarkDotNet RELEASE error"
build.cmd now fails by default on dev machines because BenchmarkDotNet started issuing a fatal error if the project is not compiled as RELEASE.

workaround: `build /p:configuration=Release`

Proposals:
- Disable BenchmarkDotNet for DEBUG?
- Suppress the error?

[2017-12-21 17:36] #2188 closed

[2017-12-21 17:36] #2167 closed

[2017-12-21 17:36] #2166 closed

[2017-12-21 17:36] #2016 closed

[2017-12-21 17:37] #1879 closed

[2017-12-21 17:57] Tratcher commented on #1290
2.1 Improvements made so far:

`options.ListenLocalhost(configuration.GetValue<int>("PORT"))`

`options.ListenAnyIP(configuration.GetValue<int>("PORT"))`

No direct improvement: `options.Listen(IPAddress.Parse(configuration["IP"]), configuration.GetValue<int>("PORT"))`
But the URLS config parameter handles this, as does the new config file Endpoints { "MyEndpoint": { "Url": "http://IP:port/" ...
[

[2017-12-21 17:58] Tratcher commented on #1290
We're going to call this good for 2.1. Please open new issues if there are still painful gaps.

[2017-12-21 17:58] #1290 closed

[2017-12-21 23:11] poke commented on #1851
Just in case some of you don’t have #1290 watched, @Tratcher pushed changes earlier that will make it easier to configure HTTPS and that will also allow us to configure HTTPS automatically using the previously promised configuration. So yay for that!

You can read the details on what will be possible starting with release 2.1 [in his comment over there](https://github.com/aspnet/KestrelHttpServer/

[2017-12-22 19:33] alejandromelis commented on #2125
The same issue with net core 1.1, 2.0 and waiting for results with net core 2.0.3 i need a couple of weeks to be sure if is affected too.

[2017-12-24 09:25] mshanak commented on #601
This[ blog post](https://medium.com/@mshanak/soved-dotnet-core-too-many-open-files-in-system-when-using-postgress-with-entity-framework-c6e30eeff6d1) could help

[2017-12-24 09:27] mshanak commented on #1267
This[ blog post](https://medium.com/@mshanak/soved-dotnet-core-too-many-open-files-in-system-when-using-postgress-with-entity-framework-c6e30eeff6d1) could help  you increasing max open files and configure Nginx to close finished request connections

[2017-12-24 22:24] hasanoruc commented on #1267
I solved my problem under the load ram but i still getting 502 bad gateway issue. I am looking /var/log/nginx/error.log and it show "upstream prematurely closed connection while reading response header from upstream" error.
and i googled and change my some buffer settings and looks more fine now.
[code]

[2017-12-25 00:49] hasanoruc commented on #1267
I solved my problem under the load ram but i still getting 502 bad gateway issue. I am looking /var/log/nginx/error.log and it show "upstream prematurely closed connection while reading response header from upstream" error.
and i googled and change my some buffer settings and change the backend kestrel proxy 127.0.0.1:5000 to localhost:5000 and looks more fine now.

        location / {
        pr

[2017-12-27 17:26] Tratcher commented on #2229
Kestrel doesn't process requests any differently for localhost vs public IPs. Nor does Kestrel read the contents of the request body. This sounds like a custom firewall is doing request filtering on your public ports. Can you reproduce this on a separate machine? If so please share a minimal repro app on github.

[2017-12-27 18:09] NVentimiglia opened #2236 "ConnectionResetException -4077 ECONNRESET connection reset by peer"
I see a number of related issues. These issues are closed with the understanding that this is the normal behavior when a connection dies. I am opening this issue because this exception is killing my web server. Please advise how I can catch and handle this exception.

### Stack Trace

[code]

## My Code

[code]
Notice that I am catching the exception, what else can I do ?

Microsoft.AspNetCore 2.0

[2017-12-27 18:35] Tratcher commented on #2236
Can you clarify? Is the process shutting down due to an unhandled exception?

Note `Microsoft.AspNetCore.Websockets.Server 0.1.0` is obsolete, you can remove it.

[2017-12-27 19:27] NVentimiglia commented on #2236
@Tratcher yes, server is shutting down

[2017-12-28 17:31] Tratcher commented on #2236
Start by moving from Microsoft.AspNetCore.WebSockets.Server 0.1 to Microsoft.AspNetCore.WebSockets 2.0.

[2017-12-28 21:02] NVentimiglia commented on #2236
@Tratcher That did it, thanks.

[2017-12-28 21:02] #2236 closed

[2017-12-29 18:17] gbrunton commented on #2128
I'm seeing this exception from time to time too and I can't consistently replicate it. Mine seems to happen when accessing the httpContext.Request.Form

[2017-12-29 20:13] Tratcher opened #2238 "Add functional tests for http2"
There are not currently any functional test for the Http2 features. We accidentally disabled the entire feature when merging the https and core packages due to a missing TFM and didn't notice. https://github.com/aspnet/KestrelHttpServer/pull/2224

The big blocker here is the lack of consistent client support. However, even if there's one client on one of the OS's then that would be a good start.

[2017-12-29 22:46] hasanoruc commented on #1267
I guess i solved my own problem. A few days ago, i looked nginx error logs in /var/log/nginx/error.log. and saw error logs this: "upstream prematurely closed connection while reading response header from upstream". And i think about it and i looked my bad nginx config. And I changed the following config:
[code]

my new config is:
[code]
And not using the upstream because not necessary my system.

[2017-12-31 02:25] linianhui commented on #2238
Does client mean web browser or web server?

[2017-12-31 02:33] Tratcher commented on #2238
Browsers are clients, yes. System.Net.Http.HttpClient is the client we prefer for functional tests.

[2017-12-31 02:59] linianhui commented on #2238
@Tratcher But now System.Net.Http.HttpClient does not support http2. (￣▽￣)"

[2017-12-31 03:10] benaadams commented on #2238
HttpClient supports http2 on .NET Core for UWP, Linux https://github.com/dotnet/corefx/pull/4756 and Windows https://github.com/dotnet/corefx/pull/10948 (but not Full Framework as yet)

[2017-12-31 04:23] Tratcher commented on #2238
Note the Windows version restriction as well.
Windows 10 Anniversary release a.k.a Windows 10 Version 1607

[2018-01-02 17:10] pakrym commented on #2232
Fixed by https://github.com/aspnet/KestrelHttpServer/pull/2233

[2018-01-02 17:15] jchannon opened #2240 "Set-Cookie shouldn't return secure cookies on http request"
When using ASP.Net Cookie auth and the `CookieSecure` property is set to `CookieSecurePolicy.Always` and a request is made via http to login the `Set-Cookie` header is returned with a `secure` suffix.  I don't think it should do this if the request is made via `http`, it should only return that header if made via `https`

There is nothing stopping a client taking and using the cookie value to issu

[2018-01-02 17:16] Tratcher commented on #2240
This issue was moved to aspnet/Security#1584

[2018-01-02 17:16] #2240 closed

[2018-01-02 17:21] #2232 closed

[2018-01-02 22:30] rynowak opened #2241 "ConnectionResetException with 2.0.0 kestrel running on netcoreapp2.1"
We hit this in issue in JitBench running on the ASP.NET Core 2.0.0 libraries against latest bits of CoreFx. See https://github.com/aspnet/JitBench/issues/80

The easiest way to repro is:
Clone aspnet/JitBench
run appveyor.ps1 (that will fail)
dotnet run or launch VS from the same console.

JitBench will throw trying to do an HTTP request as part of it's measurements, but the more interesting part

[2018-01-02 22:33] pakrym commented on #2241
What was the last known good version of corefx that test succeeded with?

[2018-01-02 22:55] zygimantas opened #2242 "UseHttps with dotnet run --project fails"
**Actual results:**

[code]

**Reproduction steps**

Pass certificate file path to UseHttps method as string (tested with ../ prefix only):
[code]

Launch project like this:

[code]

Project file structure:
[code]

**Expected results**

The same as without --project, application should start and certificate should be loaded.

**Dotnet Info**

.NET Command Line Tools (2.1.2)

Product Information:

[2018-01-02 23:10] Tratcher commented on #2242
Several components use the current directory to resolve relative paths. Doing dotnet run in a directory other than the project directory confuses this. Does it work better if you do dotnet run in the same directory as your csproj?

[2018-01-02 23:13] zygimantas commented on #2242
Yes, in the same directory, ```dotnet run --project Website.csproj``` works as expected.
I have found [this discussion](https://github.com/dotnet/cli/issues/4473#issuecomment-256213294), but I still don't see a solution.

[2018-01-02 23:16] zygimantas commented on #2242
The problem I am solving is to have a cross-platform way to do
```cd .. & dotnet run```

Looks like the ```dotnet run --project ../Website.csproj``` is not suited for this task.

[2018-01-02 23:19] Tratcher commented on #2242
If you can figure out the correct project directory in Program.Main then you can set UseContentRoot so it knows where to find assets like the certificate.

[2018-01-03 00:23] #2242 closed

[2018-01-03 11:17] niemyjski commented on #1267
@halter73 just a heads up I've been running 1.5 weeks in production without issues. I've seen high thread count and have been trying to get the profiler attached in azure to take a look (without success). I'm thinking the high thread count is just normal. I got a dump but all the theads were native and empty stack traces. Currently serving up 5+ billion requests a month across 4-5 large azure web

[2018-01-03 17:30] adiaaida commented on #2241
Is there an easy way to pull down past versions of corefx? I have a date where some of our perf infrastructure surrounding JitBench stopped working, but I don't know if it was because of the same issue that we are seeing here.

[2018-01-03 18:38] rynowak commented on #2241
You can specify versions to these commands, I think with `-Version <xyz>` https://github.com/aspnet/JitBench#step-1

[2018-01-03 23:53] adiaaida commented on #2241
Is there a list of version numbers somewhere?

[2018-01-04 07:03] jiimaho commented on #2125
I've experienced this plenty of time as well in production. Happens randomly for us, when no deploy is involved, and the app seem to restart successfully.

`System.IO.IOException: Failed to bind to address http://127.0.0.1:32665: address already in use. ---> Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions.Internal.AddressInUseException: Error -4091 EADDRINUSE address already in use --->

[2018-01-04 18:00] pakrym opened #2243 "Add ParseRequestLineSplitBufferWithoutNewLineDoesNotUpdateConsumed test back"
Was removed as part of https://github.com/aspnet/KestrelHttpServer/pull/2234

[2018-01-04 19:32] muratg commented on #1662
@davidfowl And further...

[2018-01-04 20:57] halter73 commented on #2231
Any plans for this? Do you know of any proxies that support this yet?

[2018-01-04 21:06] davidfowl commented on #1662
😄

[2018-01-04 22:29] muratg commented on #2191
After talking to @pakrym closing this. We consumed new runtimes etc.

[2018-01-04 22:29] #2191 closed

[2018-01-05 00:20] halter73 commented on #2182
@Tratcher I [reverted](https://github.com/aspnet/KestrelHttpServer/commit/664055fa4396b72e6914bb1b0f9b98c0030e83ea) the PR due to the following build error:

[code]

[2018-01-05 05:13] rynowak commented on #2241
I suspect that this was a problem with the way I was working around an SDK bug. That bug has been fixed, and so I expect that this is not a real bug. See https://github.com/aspnet/JitBench/pull/82

[2018-01-05 05:13] #2241 closed

[2018-01-05 06:27] Tratcher commented on #2182
Bad rebase.... I'll re-do it tomorrow.

[2018-01-05 16:13] Tratcher opened #2244 "Query Does Kestrel support OCSP Stapling"
_From @rsrinivasanhome on January 5, 2018 13:28_

Does Kestrel Support OCSP Stapling ?  I am not able to find any links on google.

_Copied from original issue: aspnet/AspNetCoreModule#283_

[2018-01-05 17:26] Tratcher commented on #2182
Fixed.

[2018-01-05 17:26] #2182 closed

[2018-01-06 09:50] samsosa commented on #2244
No, Kestrel doesn't support OCSP Stapling but Microsoft IIS since version 8.0 use this configuration by default.

[2018-01-07 05:45] LiangZugeng commented on #2151
I might too have the same issue here, the exception stack info is as follows:

      Connection id "0HLALH7R9IQUI" bad request data: "Invalid request line: '9sDE1OXo92cfLXu_IhMX5W8sE14jCZV8ZQpBiFwHqyj7fv0q9S5oDY_fmgqOQ6sJYs4z78h9nsgPxzY94dwLGA\x0D\x0A'"
Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Invalid request line: '9sDE1OXo92cfLXu_IhMX5W8sE14jCZV8ZQpBiFwHqyj7fv0q9S5oDY_fm

[2018-01-08 00:21] rynowak opened #2245 "Improve exception message for connection timeouts"
## Edit:

I moved this from MVC because this issue ultimately boiled down to the exception text from a connection timeout not being descriptive enough to understand.

-------------

**Original issue text below**
_From @clement911 on January 5, 2018 2:30_

I'm using asp.net core mvc 2.0 on full .net and I'm experiencing an issue in an azure prod web app that I don't understand.

I have a custom `IA

[2018-01-08 00:21] rynowak commented on #2245
My guess is that it's an issue similar to this:  https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Abstractions/Formatters/InputFormatterExceptionPolicy.cs#L15

Is there an exception in the model state as well? (look in the debugger).

@kichalla - we should make sure we're logging something good in this case.

[2018-01-08 00:21] rynowak commented on #2245
_From @clement911 on January 5, 2018 8:45_

I don't get it.
Is there something I can do to avoid the problem?

[2018-01-08 00:21] rynowak commented on #2245
Sorry, I don't think I provided enough information.

It's possible that an input formatter is swallowing another exception - like the one with this message:
https://github.com/aspnet/KestrelHttpServer/blob/dfaf37cbba684a9913b79ec68fdf5ad18378c170/src/Kestrel.Core/CoreStrings.resx#L189
https://github.com/aspnet/KestrelHttpServer/blob/6584a8b5fdaba0a79c52b981cac88472bcc92d1a/src/Kestrel.Core/BadHttp

[2018-01-08 00:21] rynowak commented on #2245
The behavior around input formatters swallowing all kinds of exceptions is getting an update in 2.1, which is what I linked. In the future this will just throw and bubble up the stack instead of being confusing.

[2018-01-08 00:21] rynowak commented on #2245
_From @halter73 on January 5, 2018 20:12_

@clement911 It's likely that you have clients uploading at less than 240 bytes/sec. If you want to allow lower upload rates, look at the "Minimum request body data rate" section of [this guide](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?tabs=aspnetcore2x#how-to-use-kestrel-in-aspnet-core-apps).

[2018-01-08 00:21] rynowak commented on #2245
_From @clement911 on January 7, 2018 23:31_

Thanks @halter73  this is making sense.
I think it's fair enough to throw an error if the client is too slow, however the message should be much more explicit IMO. Feel free to close this ticket if needed. I do hope the message gets clearer in the future.

[2018-01-08 00:21] rynowak commented on #2245
Personally, I think the problem with clarity is that MVC's model binding is swallowing the exception. You'd have a really clear view of what's going on from the call stack otherwise.

Do you have a suggestion for what other information you'd want to see in the error message? Keep in mind these messages are not intended to be user facing, they are for the developer or someone looking at the logs of

[2018-01-08 00:21] rynowak commented on #2245
_From @clement911 on January 7, 2018 23:54_

When I read "Request timed out" I immediately thought of a performance issue with my app. If the message had said something like "The configured minimum request body data rate was breached. Terminating request.", it would have been much clearer. A link to documentation on how to tweak the rate would be ideal.

[2018-01-08 00:21] rynowak commented on #2245
Thanks! I'm going to move this issue to the Kestrel repo so those folks can figure out how to improve this error case.

[2018-01-08 00:24] rynowak commented on #2245
Also FYI for anyone who doesn't know all the haps - we addressed the problem of swallowing exceptions from formatters in 2.1, so this would not result in an unhandled exception that would show up in logs.

[2018-01-09 14:38] akramayasrah opened #2248 "Kestrel crash when ConnectionResetException is thrown"
Hi,
Recently i upgraded my asp.core app from v. 1.0 to v. 2.0, but after the migration i keep seeing ConnectionResetException in the logs, and once this exception is thrown the whole asp.net core app crash! it seems that this exception is not caught internally or something like this.

Please note that i was not seeing this exception in v. 1.0, and am using iis as a reverse proxy.

Below is the exc

[2018-01-09 19:49] Tratcher commented on #2225
Still failing, same error.

[2018-01-09 23:28] rezvanf opened #2249 "BadHttpRequestionException: Request timed out on OSEv3"
Hi,

I am running ASP .NET Core 2.0 on OSEv3. My ASP .NET Web API is a simple controller that is responsible for uploading dat files in the region of ~300MB. After the initial request all subsequent requests fail with the following error

`  Connection id "0HLANMLGCKEGN", Request id "0HLANMLGCKEGN:00000001": An unhandled exception was thrown by the application.
Microsoft.AspNetCore.Server.Kestrel.

[2018-01-10 00:01] #2102 closed

[2018-01-10 00:23] halter73 opened #2250 "Kestrel startup issue - address already in use"
_From @Petermarcu on November 7, 2017 16:59_

@istvanko filed this here: https://github.com/dotnet/core/issues/1062

We host some microservices in Azure using ASP.Net Core 2.0 framework and as we noticed, after some days, the services are recycled automatically although Always on is turned on, but the restart doesn't work all the time and our services remain stopped.

We enabled the logging in Azu

[2018-01-10 00:23] halter73 commented on #2250
_From @Tratcher on November 7, 2017 17:1_

@pan-wang @shirhatti

[2018-01-10 00:23] halter73 commented on #2250
_From @mfahlen on November 29, 2017 8:46_

We are experiencing the same problem in our Azure hosted ASP.NET Core apps.

[2018-01-10 00:23] halter73 commented on #2250
I took a second look at the stack trace in the original report, and saw there was no Program.Main() up the stack or any indication that the binding failure crashed the process.

The ANCM IIS module which hosts ASP.NET Core apps in the Azure App Service environment will start the dotnet process telling it to listen on a randomly specified port. There is no guarantee that the port that ANCM specifie

[2018-01-10 00:23] halter73 commented on #2250
_From @istvanko on December 5, 2017 20:47_

This issue happens quite frequently. We don't handle exceptions in the Program.cs and in the Startup.cs and there is no custom code on the stack when this happens. Please let me know if you found anything in the framework or there is something we could add to our custom code to crash the application. Maybe on the ANCM side it would be a good idea to repl

[2018-01-10 00:23] halter73 commented on #2250
_From @otryshko on December 14, 2017 13:44_

@halter73 we just hit it as well. We use UseExceptionHandler to log exception and return 500 to the user - does it count as "not-crashing"? If yes, what would be the suggested change in UseExceptionHandler lambda
[code]
or
[code]
?

[2018-01-10 00:23] halter73 commented on #2250
_From @istvanko on December 15, 2017 20:45_

@Tratcher, this is actually causing a serious production issue in Azure. It would be great to have a solution soon.

[2018-01-10 00:23] halter73 commented on #2250
_From @Tratcher on December 15, 2017 20:51_

Then you should contact Microsoft Support. Our ability to debug your application over github is extremely limited.

[2018-01-10 00:23] halter73 commented on #2250
_From @otryshko on December 16, 2017 3:23_

Quick clarification: our callstack is a bit different.

I also opened a case with Microsoft support, let's see how it unravels.

Callstack:
System.IO.IOException: Failed to bind to address http://localhost:1146 on the IPv4 loopback interface: port already in use. ---> System.AggregateException: One or more errors occurred. (Error -4091 EADDRINUSE address

[2018-01-10 00:23] halter73 commented on #2250
_From @otryshko on December 19, 2017 1:31_

Update: as a workaround, I've enabled "auto-healing" via Kudu console:
https://blogs.msdn.microsoft.com/waws/2015/11/04/auto-heal-your-azure-web-app/
Let's see if it helps.

[2018-01-10 00:23] halter73 commented on #2250
_From @ThomasArdal on December 21, 2017 10:55_

I'm experiencing this as well. Getting the following exception

[code]

_Always On_ is set to _On_ and I don't have any try-catch in `Program.cs` or `Startup.cs`.

Reloading the web app through the portal fixes the problem, but I don't want to do this manually.

[2018-01-10 00:23] halter73 commented on #2250
_From @dwdickens on January 5, 2018 9:43_

I just had this occur. Guessing MS is rolling out updates to Meltdown and Spectre which caused a restart of the Azure web app.

[code]

[2018-01-10 00:23] halter73 commented on #2250
@dwdickens Did this require a manual restart? If so, can you show us what your Program.Main method looks like? Thanks.

[2018-01-10 00:23] halter73 commented on #2250
_From @Eilon on January 10, 2018 0:2_

@halter73 - should this bug move to the Kestrel repo?

[2018-01-10 01:06] davidfowl commented on #2151
@LiangZugeng it looks exactly like the same issue

[2018-01-10 10:48] vky84 commented on #2151
I had kind of the same issue, and it was working partially with localhost.:4200
When i tried the solution mentioned https://github.com/aspnet/KestrelHttpServer/issues/949 , by removing all browser cookies. The problem was fixed.

[2018-01-10 11:48] mattbrooks2010 commented on #2125
@davidfowl @halter73 Are you able to tell me if there have been any reports of this since .NET Framework v4.7.1 was rolled out to Azure App Services?

[2018-01-10 15:56] benaadams commented on #2104
I've made a BlockingDetector package to output warnings to the logs when you block:
https://github.com/benaadams/Ben.BlockingDetector

Only detects when blocking actually happens; so doesn't pick up calls that may block but don't or warn about coding practices that lead to blocking (or blocking that happens at OS rather than .NET level e.g. File.Read) - but it may help pick up things.

[2018-01-10 15:57] benaadams commented on #2032
I've made a BlockingDetector package to output warnings to the logs when you block:
https://github.com/benaadams/Ben.BlockingDetector

Only detects when blocking actually happens; so doesn't pick up calls that may block but don't or warn about coding practices that lead to blocking (or blocking that happens at OS rather than .NET level e.g. File.Read) - but it may help pick up things.

[2018-01-10 15:57] benaadams commented on #1267
I've made a BlockingDetector package to output warnings to the logs when you block:
https://github.com/benaadams/Ben.BlockingDetector

Only detects when blocking actually happens; so doesn't pick up calls that may block but don't or warn about coding practices that lead to blocking (or blocking that happens at OS rather than .NET level e.g. File.Read) - but it may help pick up things.

[2018-01-10 21:04] ElyseeOkry commented on #2104
@benaadams
Thank you for this ;-). I appreciate it !

[2018-01-10 21:05] ElyseeOkry commented on #2104
sorry, I close it by mistake

[2018-01-10 22:33] Tratcher opened #2251 "TLS restrictions for HTTP/2"
https://tools.ietf.org/html/rfc7540#section-9.2.1

[2018-01-10 23:20] halter73 commented on #2125
@mattbrooks2010 When did this happen? About 5 days ago? I haven't seen any new reports recently now that you mention it.

[2018-01-11 08:38] mattbrooks2010 commented on #2125
@halter73 I'm not sure and can't find out much information on it — certainly by the start of this month. Presumably it was a phased roll-out across different regions / data centres.

[2018-01-11 11:19] guylando commented on #1720
@antonGritsenko can you try this workaround and say if it solved the problem or not (adding the specified middleware before UseAuthentication): https://github.com/aspnet/Security/issues/1602#issuecomment-356900756

[2018-01-11 14:16] zoinkydoink opened #2253 "An unhandled exception has occurred: Request timed out. Microsoft.AspNetCore.Server.Kestrel.Core.BadHttpRequestException: Request timed out."
**SEEMS TO BE FIXED WITH 2.0.5 CLOSE PLEASE**

I am running the latest version of asp.net core 2.0.3 on IIS 10

My log file on my production server is getting filled with these errors, I am running the site off windows 2016.
Also here is my error logger middleware

``    class SerilogMiddleware
     {
        const string MessageTemplate = "HTTP {RequestMethod} {RequestPath} responded {StatusCode}

[2018-01-11 18:45] danroth27 opened #2254 "Socket forceably closed exceptions should not show up for default logging experience"
When testing an application using a browser the browser will often leave the socket open for a while after the request has completed. If you close the browser while the socket is still open you see the following log message with our default templates in development:

[code]

The fact that the client forcibly closed the connection should not be an error on the server. Clients do this all the time.

[2018-01-11 18:50] Tratcher commented on #2254
Clarification: The closure of idle sockets should not be logged as an error.

Logistically this may present a challenge as the transport layer does not know when a socket is idle. Perhaps the transport shouldn't log this error at all, it should throw it up to the protocol layer so they can determine if the current state is idle and adjust the log level accordingly.

[2018-01-11 19:05] muratg commented on #1144
@shirhatti @DamianEdwards what are your thoughts on this one?

[2018-01-11 19:06] muratg commented on #1927
What's the status? @halter73 any updates on the investigation?

[2018-01-11 19:07] muratg commented on #2054
Putting this in 2.2 milestone for now (like the other bedrock items).

[2018-01-11 21:08] muratg commented on #2089
Thanks for reporting. It looks like this is an issue across the packages (and not just Kestrel) so I filed an internal bug to track this across the repos. Closing this one.

[2018-01-11 21:08] #2089 closed

[2018-01-11 21:27] muratg commented on #2128
Closing this. @MohammadAkbari @gbrunton if you guys still have issues, please file another issue, ideally with a simple app that reproduces the issue.

[2018-01-11 21:33] muratg commented on #2134
We're closing this issue as no response or updates have been provided in a timely manner and we have been unable to reproduce it. If you have more details and are encountering this issue please add a new reply and re-open the issue.

[2018-01-11 21:33] #2134 closed

[2018-01-11 22:19] muratg commented on #2192
@pakrym this can be closed?

[2018-01-11 22:21] muratg commented on #2196
@pakrym good to close?

[2018-01-11 22:36] davidfowl commented on #2192
Why?

[2018-01-11 22:41] muratg commented on #2202
Were you able to figure out what the issue was? Any diagnostics logs?

[2018-01-11 22:46] muratg commented on #2208
@dexterhussain Were you able to figure out server logging?

[2018-01-11 22:46] muratg commented on #2213
@halter73

[2018-01-11 22:47] pakrym commented on #2196
I'm not sure we did backport it.

[2018-01-11 22:48] muratg commented on #2225
cc @halter73

[2018-01-11 22:51] andrei-m-code commented on #2202
@muratg so far - don't use X509Certificates class and you'll be fine. Wait till .net team fixes it.

[2018-01-12 07:51] selvendiranj commented on #2007
I am also having the same issue, i suspect this is something related to webpack.

[2018-01-12 08:33] dexterhussain opened #2255 "Kestrel Not Opening Port on Ubuntu"
Dear All,
I have an application which is running fine on one machine using ubuntu 16 and I am trying to deploy the same application on the other freshly installed machine. When i run the application it shows me successful message

exilliumwebserver@ExilliumWebServer:~/exiadmin$ dotnet Admin.dll
Hosting environment: Production
Content root path: /home/exilliumwebserver/exiadmin
Now listening on: ht

[2018-01-12 08:58] dexterhussain commented on #2255
No UFW or any other firewall is installed. SSH is properly working on the same machine

[2018-01-12 09:00] Drawaes commented on #2255
Due to the port number you will need to run as sudo. Try sudo dotnet
admin.dll

[2018-01-12 09:03] dexterhussain commented on #2255
No Benefit. I already tried it
@Drawaes

exilliumwebserver@ExilliumWebServer:~/elforExillium$ sudo dotnet Elp.dll
[sudo] password for exilliumwebserver:
Hosting environment: Production
Content root path: /home/exilliumwebserver/elforExillium
Now listening on: http://localhost:5000
Application started. Press Ctrl+C to shut down.

Last login: Fri Jan 12 14:01:15 2018 from 103.255.4.55
pgc@sqanercore

[2018-01-12 09:03] dexterhussain commented on #2255
Now I have made services for both using systemctl but still they are not opening port

[2018-01-12 09:04] dexterhussain commented on #2255
Jan 12 14:03:47 ExilliumWebServer exiel[4934]: Hosting environment: Production
Jan 12 14:03:47 ExilliumWebServer exiel[4934]: Content root path: /home/exilliumwebserver/elforExillium
Jan 12 14:03:47 ExilliumWebServer exiel[4934]: Now listening on: http://localhost:5000
Jan 12 14:03:47 ExilliumWebServer exiel[4934]: Application started. Press Ctrl+C to shut down.

[2018-01-12 09:55] dexterhussain commented on #2255
Dotnet version 2.0
exilliumwebserver@ExilliumWebServer:~/exiadmin$ systemctl status exel.service
● exel.service - ELforexilliumrunning
   Loaded: loaded (/etc/systemd/system/exel.service; enabled; vendor preset: enabled)
   Active: active (running) since Fri 2018-01-12 14:54:48 PKT; 5s ago
 Main PID: 2498 (dotnet)
    Tasks: 49
   Memory: 39.1M
      CPU: 514ms
   CGroup: /system.slice/exel.servic

[2018-01-12 09:57] dexterhussain commented on #2208
Yes I fixed it. The loggin directory needed to be setup

[2018-01-12 16:32] gthuruv opened #2256 "TaskCanceledException while reading HttpRequest body content"
We see task cancellations while trying to copy the request body content. We do not specify a token to be monitored anywhere in the Request pipeline. The code to read the request content is,

`await _httpContext.Request.Body.CopyToAsync(_contentStream);`

The error we see,

`System.Threading.Tasks.TaskCanceledException: A task was canceled.
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowFor

[2018-01-12 17:05] Tratcher commented on #2256
What do Kestrel's logs say when this happens?

[2018-01-12 17:59] gthuruv commented on #2256
How do we get the Kestrel's logs? Do we have to enable them somewhere?

[2018-01-12 18:33] Tratcher commented on #2256
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?tabs=aspnetcore2x#how-to-add-providers

[2018-01-12 19:55] halter73 commented on #1927
No update. I'm currently tracking down null reference exceptions (#2223) from the same test project on linux. I haven't personally seen this failure since November.

[2018-01-12 20:01] halter73 commented on #2204
Yes. I was able to reproduce this once yesterday. Unfortunately, currently there are other test failures that are far more frequent.

[2018-01-12 20:02] halter73 commented on #2225
@Tratcher What OS? Have you noticed it fail on the 2.0 or 2.1 runtime? Both?

[2018-01-13 01:14] halter73 commented on #2248
Since this is crashing the process, do you see any "Unhandled Exception: ..." at the end of the process's output?

[2018-01-15 09:25] dexterhussain commented on #2255
this is a seriously strange issue i installed same dotnet core 2.0 on ubuntu 14 and ubuntu 16. Fresh installations . Deployed same application. It started running without any issues on 14 and opened port and on same issue on 16 port doesnt opens.

[2018-01-15 09:26] dexterhussain commented on #2255
@javiercn  It looks like some bug in kestrel. @halter73 @migueldeicaza @shanselman

[2018-01-17 02:11] #2189 closed

[2018-01-17 07:06] akramayasrah commented on #2248
After deep investigation in this, i found that there was no unhandled exceptions but what happened is that the iis was killing asp.net core app for a reason that i dont know why yet. however, when i upgraded  asp.net core runtime from version 2.0.4 to 2.0.5, this problem disappeared and no more crashes, but i still see many and many ConnectionResetExceptions, ans this exception is thrown when i tr

[2018-01-17 18:26] Eilon commented on #2160
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

Please consider adding a [quirks-mode switch](https://github.com/aspnet/Home/wiki/Quirks-mode-switches-in-patches) for this change.

[2018-01-17 19:35] hartmannr76 commented on #2214
@MHamburg I'm guessing you were unable to resolve this? I'm seeing a very similar issue with my images as well. One of the things I have noticed is that when on a VM with higher CPU, it uses more mem. I have the same image and container constraints (512mb) running in 2 environments and see the following graphs:
`t2.medium`
![image](https://user-images.githubusercontent.com/1211229/35062598-c3bca8c

[2018-01-17 19:44] MHamburg commented on #2214
@hartmannr76, we have not been able to resolve nor pinpoint the exact issue as of yet. We have pushed it back in our backlog and decided to just let it go OOM and reset itself for now.

It is an issue that is discussed more often, but we have not been able to dig in to it for now. (perhaps 2.1 will solve things automagically)

[2018-01-17 20:19] halter73 commented on #2248
Kestrel introduced a new default minimum request body data rate of 240 bytes/second. There's info about this on https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?tabs=aspnetcore2x#how-to-use-kestrel-in-aspnet-core-apps.

If this is the cause, and you are collecting Information-level logs, you should see traces like `"Connection id ""{ConnectionId}"", Request id ""{TraceIden

[2018-01-17 22:45] Eilon commented on #2187
This patch is **approved** for the Feb 2018 patch. Please send a PR to the appropriate branch, get it reviewed, and merge.

Please consider adding a [quirks-mode switch](https://github.com/aspnet/Home/wiki/Quirks-mode-switches-in-patches) for this change.

[2018-01-17 22:46] Eilon commented on #2187
@muratg - can you assign to someone to port?

[2018-01-18 01:33] muratg commented on #2187
@halter73 please do the needful. Thanks!

[2018-01-18 01:37] halter73 commented on #2187
@muratg This patch was already backported to the release/2.0.0 by @davidfowl [here](https://github.com/aspnet/KestrelHttpServer/commit/35a9432ce8e1bdd003309785e6ab1fa857c6eecc). I don't think this is a good candidate for a quirks-mode switch considering it's data corruption bug. So what is the needful?

[2018-01-18 01:42] muratg commented on #2187
@halter73 Cool, porting was it :)

[2018-01-18 04:33] spelltwister commented on #1965
got this in app insights @ 7:14PM, 4:52PM, 1:11PM, 1:02PM, 7:04AM today.  Does this cause any problems or just noise in the logs?

[code]

[2018-01-18 10:44] akramayasrah commented on #2248
I was thinking that those settings are useful when kestrel is used as a stand alone web server, but in my case I use IIS as a reverse proxy. However, I tried to set those new settings (MinRequestBodyDataRate & MinResponseDataRate) to null so no minimum data rate will be enforced, but i still see a lot of ConnectionResetExceptions. Is there any other setting that i should look at? and how to adapt

[2018-01-18 11:46] benaadams commented on #2214
How many threads is it using? (as each one is 8MB?)

Running it as 32bit rather than 64bit will decrease the memory usage; not sure if that is an option on Ubuntu

[2018-01-18 11:51] Drawaes commented on #2214
You can decrease the stack size on Ubuntu by changing the ulimit in the
os... .net just uses the number in there

[2018-01-18 16:21] LiangZugeng commented on #2151
@davidfowl This issue happens to me every day with more frequency than before, no matter I'm running Windows 10 or MacOS 10.13.2, with Chrome it happens about 2 out of 10 times. Sometimes clearing all cookies fixes it, sometime refreshing the page fixes it, I couldn't reproduce it consistently.

I noticed that you merged the fix into 2.1.0-preview2, and I just checked the .NET Core download page,

[2018-01-18 17:38] joshmouch commented on #2125
@mattbrooks2010 I just started having this occur in our Azure App Service a few days back.  We're using AspNetCore 2.0.1.

[2018-01-18 17:54] muratg commented on #1965
@spelltwister What's the full stack trace there?

[2018-01-18 19:53] halter73 commented on #2248
A ConnectionResetException like the one shown in the original issues is caused by the client disconnecting mid-request. You could capture network logs to verify that the client is sending the server RST packets.

[2018-01-19 00:52] halter73 commented on #2249
@rezvanf Can yan try [our public nightly feed for the upcoming ASP.NET patch](https://dotnet.myget.org/gallery/aspnet-2018-feb-patch-public)? It includes a fix for #2151 which might be related.

These packages are not yet final or supported, so use them at your own risk.

[2018-01-19 00:52] halter73 commented on #2206
@nforysinski Sorry for the delay. Can you try [our public nightly feed for the upcoming ASP.NET patch](https://dotnet.myget.org/gallery/aspnet-2018-feb-patch-public)? It includes a fix for #2151 which might be related.

These packages are not yet final or supported, so use them at your own risk.

[2018-01-19 01:25] #2220 closed

[2018-01-19 09:40] mattbrooks2010 commented on #2125
@joshmouch What Azure region and are you targeting .NET Framework or .NET Core?

[2018-01-19 14:34] joshmouch commented on #2125
North Central.  .Net Framework

[2018-01-19 15:39] LiangZugeng commented on #2151
@halter73 I tried the nightly build and ran my code for 10 minutes, so far so good, the exception was gone, seems it's a right fix for me.

What's the time frame for 2.0.6 to be released? Feb 2018? Will that be supported in production environment?

[2018-01-19 18:48] Tratcher opened #2261 "Add Http/2 psudo-headers as known headers"
https://github.com/aspnet/KestrelHttpServer/blob/526dfdb332b30fd6042d8ef8d1a2ba99cc654010/src/Kestrel.Core/Internal/Http2/Http2Stream.cs#L55-L66

It looks like these are being treated as unknown headers. Consider adding them to KnownHeaders. Note we'll have to special case them in the generator as the colon does not translate into a valid C# member name.

https://github.com/aspnet/KestrelHttpServe

[2018-01-19 19:18] DamianEdwards commented on #2220
The goal is still to make the socket transport the default once we reach our performance goals (~parity or greater with the libuv transport in all measured scenarios). If we don't meet the goals for 2.1, we'll still release the sockets transport in 2.1 as an option for customers to use.

[2018-01-19 19:22] NPSF3000 opened #2262 "Kestrel Freezes"
Kestrel based websocket app becomes unresponsive at random intervals in production.  Reproduction is difficult, and relies upon running with load and monitoring for unresponsiveness.  Once unresponsive the only remedy is to stop the process gracefully and restart.

Environment: AWS, Ubuntu 16.04, Kestrel 2.0.0, AspNetCore 2.0.0

LLDB shows two threads with `System.ObjectDisposedException` exceptio

[2018-01-19 19:27] Tratcher commented on #2262
@anurse does this look like the issue you recently took a fix for?

[2018-01-19 20:09] halter73 commented on #2151
We're targeting 2.0.6 for February. It will be fully supported once it's on NuGet.org.

[2018-01-19 20:19] Tratcher opened #2263 "Http/2: Validate psudo-headers"
https://github.com/aspnet/KestrelHttpServer/blob/526dfdb332b30fd6042d8ef8d1a2ba99cc654010/src/Kestrel.Core/Internal/Http2/Http2Stream.cs#L55-L64

E.g.  Scheme should match the connection, http or https.

Related: https://github.com/aspnet/KestrelHttpServer/issues/2205 - Path un-escaping

[2018-01-19 23:16] spelltwister commented on #1965
that's all that was in the app insights record

[2018-01-20 00:23] muratg commented on #1965
@spelltwister Got it. Was it a one-time thing only, or do you see these occasionally?

[2018-01-22 14:22] davidfowl commented on #2262
@NPSF3000 what does your websocket loop look like?

[2018-01-22 14:46] NPSF3000 commented on #2262
@davidfowl Each wss connection is collected from Kestrel and put into a async wait loop where it reads and processes incoming messages.  The readloop exits when the ws is no longer open (` while (WebSocket.State == WebSocketState.Open)`) and basic cleanup is done (including disposing of WS in this instance, though we've started leaving that to kestrel).

Sending messages are

Outbound messages are

[2018-01-22 14:58] davidfowl commented on #2262
I'd like to see the code to make sure it looks right. Seems like lately I've seen lots of people writing incorrect async websocket loops.

[2018-01-22 15:30] NPSF3000 commented on #2262
@davidfowl I understand.  I'm reasonably confident that the code is not the problem (written TCP socket servers in past, LLDB error message appears in Kestrel code, etc) but... it's always a possibility.

If you can provide a private method of uploading (email, ticket etc) I'll see about getting permission.

[2018-01-22 16:04] davidfowl commented on #2262
I see the callstack looks like a race condition in the ManagedWebSocket implementation itself.

[2018-01-22 17:59] anurse commented on #2262
I see the WebSocket code is running in a Timer, which indicates you are passing the socket off to a background thread. Unfortunately, when you do that, you have to ensure the underlying TCP connection stays open. The call stack being in Kestrel isn't really relevant since the issue is an ObjectDisposedException which indicates that someone disposed the underlying response stream while another task

[2018-01-22 18:00] anurse commented on #2262
If you do want a private way to communicate code so we can take a look, you can contact me directly at anurse@microsoft.com

[2018-01-22 19:46] NPSF3000 commented on #2262
@anurse Thank you for you feedback.

"The call stack being in Kestrel isn't really relevant since the issue is an ObjectDisposedException..."

I'm a little confused here.  If we were talking about connections being dropped I can understand, but we're talking about code within kestrel locking up and forcing the entire application to be unresponsive.

I do note that we did accidentally have a unnece

[2018-01-22 20:59] anurse commented on #2262
Just noticed this one in the frame. This is https://github.com/dotnet/corefx/issues/24055 which wasn't ported to our WebSockets fork. It'll be fixed when https://github.com/aspnet/WebSockets/pull/220 is merged.

[2018-01-22 21:00] anurse commented on #2262
@NPSF3000 Can you confirm that these are just first-chance exceptions and not crashing the process? The keep-alive exception shouldn't be crashing the process or hanging the server. It may be unrelated to the issue you are seeing with freezing.

[2018-01-22 21:13] NPSF3000 commented on #2262
@anurse all I can confirm is the behavior we are seeing.  The exceptions are from a core dump of a frozen  WSS server - they were the only things of note (See .txt for more details).

[2018-01-22 21:54] anurse commented on #2262
The exceptions shouldn't be causing any negative impact (they are thrown but because they are unobserved in the Task, they are suppressed). As I mentioned, we'll have a fix soon, but that will only suppress the exception, I doubt those exceptions are what's causing your issue.

[2018-01-22 22:29] Tadimsky opened #2266 "Custom CorrelationId Middleware with Kestrel"
I've created customer CorrelationId Middleware that uses the Connection Id in ASP.NET Core or a client-provided Id to attach to all of my logs.

The code to set the header was like this:
[code]

I ran into an issue where I would not get any header set when there was an unhandled exception. It seems like `OnStarting` was not being called.
I then added a `try/catch` around the `await _next(context)`

[2018-01-22 22:35] Tratcher commented on #2266
That about sums it up. Once an exception reaches Kestrel it will clear all response headers, skip OnStarting, and send an error response. In production you should not rely on the servers's error handling, this is a last ditch effort to keep the server from crashing. Exceptions in production should be handled by middleware. Those middleware can do their own logging such as calling into application

[2018-01-22 22:42] Tadimsky commented on #2266
Ok thanks, that definitely makes sense. We need to get our own exception tracking middleware to handle errors like this then.
Is there any recommended existing middleware for doing this? I've seen the Developer one for Dev environments.

[2018-01-22 22:55] Tratcher commented on #2266
https://github.com/aspnet/Diagnostics/tree/f90337c1a6d5edd0cfe55466e3f544f3be047917/src/Microsoft.AspNetCore.Diagnostics/ExceptionHandler is for production environments.

[2018-01-22 23:42] Tadimsky commented on #2266
Ok, thanks @Tratcher - that looks like the right thing to use then.

I noticed that `ExceptionHandlerMiddleware` will set `_next` as the `ExceptionHandler` if no path is specified and the options `ExceptionHandler` is null. Doesn't this mean that it will re-run the request pipeline in the case of a failure? That seems a little strange unless I'm missing something.

[2018-01-22 23:49] Tratcher commented on #2266
See https://github.com/aspnet/Diagnostics/issues/400

[2018-01-23 00:10] gthuruv commented on #2256
Hello, Sorry about the delayed response. We were finally able to get some logs from the kestrel. This is what we see around the time we noticed the issue. But it is still hard to correlate these logs with the actual issue.

warn: Microsoft.AspNetCore.Server.Kestrel[22]
      Heartbeat took longer than "00:00:01" at "01/22/2018 23:46:08 +00:00".
warn: Microsoft.AspNetCore.Server.Kestrel[22]
      H

[2018-01-23 01:50] anurse commented on #2262
@NPSF3000 to clarify, the server process does not crash and terminate, correct? It is just becoming unresponsive? I'm not sure where to look next to diagnose that, but @davidfowl or @halter73 may have some thoughts there as it could be a thread-pool starvation issue. Ideally, we'd want to look at something like the Parallel Stacks view in VS but I'm not sure if that can be easily applied to a core

[2018-01-23 02:00] halter73 commented on #2262
Unfortunately I don't know how to use Parallel Stacks with a Linux core dump. You can use Parallel Stacks when remote-debugging a live linux process. And you can use Parallel Stacks when debugging a Windows core dump in VS.

You can [use lldb with SOS](http://blogs.microsoft.co.il/sasha/2017/02/26/analyzing-a-net-core-core-dump-on-linux/) to debug a coredump on linux, but that's a bit of a pain to

[2018-01-23 04:01] Tadimsky commented on #2266
Thanks! And thank you for the help. Will close this issue.

[2018-01-23 04:01] #2266 closed

[2018-01-23 09:11] benaadams commented on #2262
If you add https://github.com/benaadams/Ben.BlockingDetector to your middleware does it output any warnings?

[2018-01-23 15:40] NPSF3000 commented on #2262
Thanks guys for all the suggestions.  We've got a bunch of tests to run, and will keep you up to date as results appear.

[2018-01-23 17:57] hartmannr76 commented on #2214
@benaadams on the smaller machine, I'm seeing 21 threads at the moment. Dont have access to the other instance right now, but I'll look when I do.
@Drawaes I can't say I've actually ever played with ulimits before. Do you have any recommendations or guidelines to follow for what they should be set to?

Ideally, I just want to set something that allows dotnet to figure out how much mem it should us

[2018-01-24 00:28] #1768 closed

[2018-01-24 09:07] ankurjasoria opened #2269 "Error - The specified CGI application encountered an error and the server terminated the process."
Hi All I am facing issue "The specified CGI application encountered an error and the server terminated the process." after hosting it on Azure Web Sites. On Local it works fine. I have developed application on asp.net core 1.0 and deployed on Azure.

Is there any timeout issue or any thing missing when deployed code on azure ?
Please help me out regarding this issue.

[2018-01-24 16:54] spelltwister commented on #1965
I get a handful of these everyday.

[2018-01-24 22:13] fabiobraganet opened #2270 "a problem when I dynamically add many dynamic instances of Kestrel"
Hi, sorry for my Google English.

I am a problem when I dynamically add many dynamic instances of Kestrel.
At the moment I have 1200 ports of the same IP responding to different executables.
Every time I've passed a number of ports I have an error:

Exception of type 'System.OutOfMemoryException' was thrown.    at System.Thr
eading.Thread.StartInternal(IPrincipal principal, StackCrawlMark& stackMa

[2018-01-24 22:38] mgravell commented on #2270
Enquiring minds have to know.... Why?

[2018-01-24 22:53] #2160 closed

[2018-01-24 22:53] #2187 closed

[2018-01-24 23:25] danroth27 opened #2271 "Method 'Pin' in type 'System.Buffers.MemoryPoolBlock' from assembly 'System.IO.Pipelines, Version=0.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' does not have an implementation."
`dotnet new web`

Switch from `Microsoft.AspNetCore.All` to `Microsoft.AspNetCore.App`.

`dotnet restore`

`dotnet run`

[code]

[2018-01-24 23:29] muratg commented on #2271
@pakrym could you investigate?

cc @JunTaoLuo could be related to Shared Runtime work.

cc @halter73 @Tratcher FYI.

[2018-01-24 23:32] pakrym commented on #2271
PCP build only. Breaking change in corefx that corefxlab and we have to react to.

[2018-01-24 23:57] junsaw opened #2274 "System.InvalidOperationException: Invalid non-ASCII or control character in header: 0x000D"
I am getting the following error, whenever I attempt to perform an HTTP DELETE.

My sample call:

`https://<azurewebsite>/api/records/delete/57C8FEC9-DF8E-4E04-BDBA-8FD780BC0470`

Note: I am adding the ID I will like it Guid based and I am adding it to the URI.   Please see error message below.

Any help will be greatly appreciated.

Thanks A lot
Junior

[code]

[2018-01-24 23:59] Tratcher commented on #2274
Can you capture a Filddler or Wireshark trace?

[2018-01-25 00:08] halter73 commented on #2270
@fabiobraganet If possible, it's far more efficient to have a single Kestrel instance listen to all 1200 ports. I can't say for sure that this will fix your OOM (OutOfMemoryException), but it very well could considering that Thread.Start is throwing the exception.

Each Kestrel instance spawns a bunch (half the logical cores of the host CPU by default) of new IO/libuv threads outside of the thread

[2018-01-25 00:25] halter73 commented on #2274
It appears that line 169 of BasicAuthMessageHandler.cs is attempting to add a response header with a non-ASCII or control character.

Did you grab this exception message from the Windows Event Log/Event Viewer? I ask because your exception log includes a stack trace, but no exception message. If it did include an exception message, it would read like "Invalid non-ASCII or control character in head

[2018-01-25 00:36] halter73 commented on #2269
@ankurjasoria There are a number of possible causes for the "The specified CGI application encountered an error and the server terminated the process." message. I would collect [ASP.NET Core logs](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?tabs=aspnetcore1x#how-to-add-providers) and potentially [IIS logs](https://docs.microsoft.com/en-us/azure/app-service/web-sites-enable-d

[2018-01-25 00:53] fabiobraganet commented on #2270
Thank you very much for your attention. Thank you! Thank you!

Hi mgravell

   I have many business modules and many clients. The division is useful for planning N balances. And I take advantage to realize the multi tenant appropriate for the business.

Hi halter73

   I can try this method again. But I need to shut down a specific host at any time. Define SLAs...
   I will validate with the IT in

[2018-01-25 00:54] halter73 commented on #2256
Do you see the heartbeat warnings when the debugger *isn't* attached? If not, it's probably the application being paused under the debugger that's triggering those heartbeat warnings. This will be [fixed in 2.1](https://github.com/aspnet/KestrelHttpServer/pull/2258).

In general, when diagnosing cancellation/timeout issues, I wouldn't use a debugger at all and instead rely entirely on logging or p

[2018-01-25 01:11] Tratcher commented on #2270
@fabiobraganet HttpSys is one of our other servers and it supports dynamically adding and removing address bindings: https://github.com/aspnet/HttpSysServer/blob/e40cf72fcefc5ab86678930f114821f4fdafe5a5/samples/HotAddSample/Startup.cs#L41

[2018-01-25 01:11] Drawaes commented on #2270
Quick rough calculation

1400 Instances
8 Logical Cores (4 core processor)
1/2 Thread per logical core
8mb (for Ubuntu Default) of stack per thread
= 44,800mb or 43gb of ram needed just to start the threads

[2018-01-25 01:19] fabiobraganet commented on #2270
Hi @Tratcher! Thank you!

My project is 1.1.2  'in production' :(

[2018-01-25 01:20] fabiobraganet commented on #2270
Hi @Drawaes! Thank you!

Exactly!

[2018-01-25 06:10] Tratcher commented on #2270
@fabiobraganet WebListener is the 1.1 version of HttpSys. See https://github.com/aspnet/HttpSysServer/blob/a8573b7fbd2b3feab4ba8c61478ccdbcd1c65160/samples/HotAddSample/Startup.cs#L44

[2018-01-25 14:49] junsaw commented on #2274
I got this exception from Visual Studio itself, i.e. in VS2017  where is shows you the successful and failed requests.  Let me retest and get the exception message in question and also perform a Fiddler or NetworkMonitor trace.

[2018-01-25 15:20] ankurjasoria commented on #2269
@halter73  I have verified log also but only found same CGI related error in html code. I am attaching same file. Please check and let me know how I'll go ahead from same issue.
[AzureLog.txt](https://github.com/aspnet/KestrelHttpServer/files/1664490/AzureLog.txt)

[2018-01-25 16:44] gthuruv commented on #2256
I do see those warnings even when the debugger is not attached.

We are hoping client-timeout is the case. If I remember correctly, we usually see a "Connection error" with a "closed message" in the past, but "TaskCanceledException" is new. Fyi, we did upgrade our kestrel package, Microsoft.AspNetCore.Server.Kestrel, recently from 1.1.2 to 2.0.1.

[2018-01-25 22:20] halter73 commented on #2274
The Fiddler/NetworkMonitor trace probably isn't that important. The request appears to be valid given your stack trace, it's the response header being set by your application (e.g. `httpContext.Response.Headers["Set-Cookie"] = "value=non-ASCII charactér(s)";`) that's invalid.

[2018-01-25 22:24] Tratcher commented on #2274
What does BasicAuthMessageHandler look like?

[2018-01-25 22:31] halter73 commented on #2269
Those are the IIS logs, but the errors are likely originating from the dotnet process. To figure out the cause of these errors, you should collect ASP.NET Core logs as described in the link I provided in my last comment.

[2018-01-25 22:33] halter73 commented on #2256
If you are seeing the heartbeat warnings without an attached debugger, you are almost certainly experiencing threadpool starvation. The best way to identify this is to capture a memory dump during the time period you're seeing the heartbeat warnings, and the to analyze the dump using VS's "Parallel Stacks" window.

I describe how to do this in a little more detail in [this comment](https://github.

[2018-01-25 23:10] gthuruv commented on #2256
That is interesting because we are indeed trying to track down a threadpool starvation issue in our application. So this is a side-effect of the true problem, I guess. Thanks for that link. Very useful.

[2018-01-26 00:47] halter73 opened #2276 "Always consume request body for valid non-keep-alive requests before closing connection"
I'm suggesting that we revert the behavior introduced to fix #418 that doesn't drain the request body for non-keep-alive connections. We should be careful to ensure this doesn't adversely affect nginx scenarios, but I don't think we'd see hangs anymore since we've since gotten rid of `MessageBody.ForRemainingData`.

I'm suggesting changing this now because of the behavior described in [this commen

[2018-01-26 00:58] Eilon opened #2277 "Failed to bind to address http://localhost:49980."
_From @livarcocc on January 24, 2018 17:9_

_From @Erave on January 24, 2018 11:43_

Yesterday, I have installed a major Windows Update and today I can't run my Asp.NET Core web app. I have a permission access problem dureing binding

Not existing process is listening on port 49980. I tried to stop firewall.
Do you see any reason to this exception ?

Thanks
Eric

[code]

_Copied from original issu

[2018-01-26 00:58] Eilon commented on #2277
_From @Tratcher on January 24, 2018 17:14_

Is it only that port? Does it work if you try a few random other ones?

[2018-01-26 00:58] Eilon commented on #2277
_From @muratg on January 24, 2018 17:52_

What's the output of `netstat -a -b` when you get this exception?

[2018-01-26 15:43] cgenin7 commented on #1965
Allo,

I am also seeing these errors every 2 days or so. After this error, the app service stops responding to any request and I need to restart it.

[2018-01-26 17:57] Eilon commented on #2187
@LiangZugeng this will be Microsoft.AspNetCore.All 2.0.6, which we will release next month.

[2018-01-26 18:39] NPSF3000 commented on #2262
Issue has not been reproduced since personal fixes.  Recommendation for future readers:

1)  Ensure you have latest .NET Core packages (we are now running 2.0.5).
2)  Ensure you do not dispose the websocket yourself.
3)  Do not interact with websocket after handing it back to kestrel.  We had to use Cancellation Tokens and Semaphores to help synchronous our cleanup code.

[2018-01-26 18:39] #2262 closed

[2018-01-26 19:13] muratg commented on #1965
@cgenin7 are you able to take a process dump when this happens?

[2018-01-26 20:52] halter73 commented on #2187
@LiangZugeng You can try out the packages on the https://dotnet.myget.org/gallery/aspnet-2018-feb-patch-public feed which contain the fix for this. It won't be supported until it's published to NuGet.org though.

[2018-01-27 16:42] davidfowl commented on #1697
Just saw this fail locally:

[code]

[2018-01-29 22:18] #1809 closed

[2018-01-30 15:46] cgenin7 commented on #1965
I will provide one as soon as the problem is reproduced.

[2018-01-30 17:36] Eilon commented on #2271
We're still waiting for a new build for this?

[2018-01-30 17:41] pakrym commented on #2271
No, release/2.1 is fixed, I'm merging/updating version in dev now.

[2018-01-30 17:51] Eilon commented on #2271
Great!

[2018-01-30 23:51] pakrym commented on #2271
Fixed both in dev and release, as far as I know, there was not PCP build that includes this change yet.

[2018-01-31 00:36] MuleaneEve commented on #1980
I just noticed that this was moved to v2.2.
But how will this be compatible with the upcoming SignalR (with ASP.NET 2.1)?

There are a lot of overlaps between Bedrock and SignalR, so it would be ideal for them to share some abstraction layers.

[2018-01-31 19:19] ryanbrandenburg opened #2282 "Flaky test: ConnectionCountingReturnsToZero"
I set `ConnectionCountingReturnsToZero` to ignore for now because it [fails](http://aspnetci/viewLog.html?buildId=397052&tab=buildResultsDiv&buildTypeId=XPlat_HighSierraOsxUniverse) on OSX sometimes. It should be investigated and re-enabled once fixed.

[2018-01-31 20:20] Tratcher commented on #1720
@antonGritsenko I have debugged your repro app and found that the identity is being cached, but it's happening at the IIS connection layer.  NTLM does this strange thing where it only performs authentication on the first request for a new connection. After that the server re-uses those credentials for all subsequent requests.  Browsers keep multiple connections open at a time so when you force a l

[2018-02-01 03:23] cheesebar opened #2284 "warn: Microsoft.AspNetCore.Server.Kestrel[22] Heartbeat took longer than "00:00:01" at "01/31/2018 19:56:53 +00:00"."
when i used 'dotnet app.dll' run dotnetcoremvc application on windows server,there only little traffic on this application,There is no response on website when i use browser access the second day,then i pressed enter key in console application,then show list

warn: Microsoft.AspNetCore.Server.Kestrel[22]
      Heartbeat took longer than "00:00:01" at "01/24/2018 14:22:35 +00:00".
warn: Microsoft.A

[2018-02-01 06:44] CharlieTao commented on #1276
@cex-pnaik Have you fixed it?I'm suffering from this question too.

[2018-02-01 09:26] TomJannes commented on #2214
We had the exact same issue and fixed it by changing the way we used our HttpClient.
https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

[2018-02-01 09:43] JulianRooze commented on #2214
@TomJannes how did you arrive at this solution and the fact that this was the problem? I'm familiar with the issues of HttpClient, but I'm not sure how this would explain memory issues and why this is an issue only on Linux. Is it because on Linux underlying it uses Curl?

[2018-02-01 10:40] TomJannes commented on #2214
@JulianRooze When running in a docker container we noticed that our memory was rapidly growing under a stress test. On windows we did not see this behavior.

When looking at the network info on linux a lot of connections were in a TIME_WAIT state, even after the application was stopped. After implementing a httpclient cache service which is injected as a singleton into the application and adding t

[2018-02-01 13:44] hartmannr76 commented on #2214
For some more context, this service is pretty empty. With the metrics I posted, this system was receiving no load (except from the load balancer which was hitting a `healthcheck` endpoint that just returns a 200.) The only service I added in it was a [SNS service client](https://github.com/aws/aws-sdk-net/blob/master/sdk/src/Services/SimpleNotificationService/Generated/_bcl45/AmazonSimpleNotificat

[2018-02-01 14:29] davidfowl commented on #1980
@MuleaneEve that's intentional. The plan is to use protocol abstractions in SignalR and remove sockets.abstractions.

[2018-02-01 15:09] cypressious opened #2285 "Unable to bind to the IPv4 loopback interface when running in IIS"
I have a ASP.NET Core 2.0 application that I'm hosting on a Windows Server 2012 R2 through IIS. In production, the application is failing to start up with the error

      Unable to bind to http://localhost:2994 on the IPv4 loopback interface: 'Error -4092 EACCES permission denied'.

(or some other port)

I create a Non Managed Application Pool, create a web application with the virtual path `foo`

[2018-02-01 15:39] JulianRooze commented on #2214
@TomJannes okay, thank you. How many connections are we talking about, dozens, or hundreds?

[2018-02-01 16:15] JulianRooze commented on #2214
Below some metrics I just collected from one of our applications. This application is a simple image resizing microservice running on ASP.NET Core 2.0.4 inside a container that is responsible for reading in the request body, resizing it with `ImageSharp` and writing it out to the response body. The kind of behavior we're seeing in production is that this service gets OOM killed by Docker for excee

[2018-02-02 00:22] gthuruv opened #2286 "Error while shutting down kestrel server"
We are seeing some issues while disposing a webhost that uses kestrel. This is the only error message we see during the time period and looks like they are from kestrel logs,

"Disposing listeners failed."

The process gets stuck and has to be killed.

[2018-02-02 00:27] #2151 closed

[2018-02-02 02:16] sebastienros commented on #2277
Got the same thing on linux

[code]

[2018-02-02 03:25] davidfowl commented on #2286
What version of kestrel?

[2018-02-02 03:26] #2270 closed

[2018-02-02 03:44] gthuruv commented on #2286
2.0.1

[2018-02-02 03:57] davidfowl commented on #2286
Can you give more information about the application? Is this a normal asp.net core application? Are you explicitly disposing the host or is this normal process shutdown?

[2018-02-02 03:59] #490 closed

[2018-02-02 04:03] davidfowl commented on #564
This issue has been filed several times. I’ll leave one of them open

[2018-02-02 04:03] #564 closed

[2018-02-02 04:04] davidfowl commented on #736
If this is important, we can reopen.

[2018-02-02 04:04] #736 closed

[2018-02-02 04:05] #1058 closed

[2018-02-02 04:05] davidfowl commented on #1200
We catch this now

[2018-02-02 04:05] #1200 closed

[2018-02-02 04:05] #1237 closed

[2018-02-02 04:06] #1247 closed

[2018-02-02 04:06] #1286 closed

[2018-02-02 04:06] #1344 closed

[2018-02-02 04:07] #1395 closed

[2018-02-02 04:07] #1433 closed

[2018-02-02 04:07] #1563 closed

[2018-02-02 04:08] #1604 closed

[2018-02-02 04:08] #1647 closed

[2018-02-02 04:09] davidfowl commented on #1654
Yes

[2018-02-02 04:09] #1654 closed

[2018-02-02 04:10] #1800 closed

[2018-02-02 04:12] #1869 closed

[2018-02-02 04:12] #1883 closed

[2018-02-02 04:13] #1887 closed

[2018-02-02 04:14] #2083 closed

[2018-02-02 04:15] davidfowl commented on #2115
This should be moved to Hosting

[2018-02-02 04:18] gthuruv commented on #2286
It is a service fabric application that uses aspnet core with kestrel web server. Service fabric reliable services provide us with an option to specify the kind of webhost we want. It will use this logic to build a new webhost whenever necessary and then disposes it once done with it. More details [here](https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communi

[2018-02-02 04:36] gthuruv commented on #2286
Just to be clear, the process is managed by service fabric that will do the creation and disposal of the webhost, so yeah technically, it must be explicitly calling Dispose() on the host.

[2018-02-02 05:10] #2005 closed

[2018-02-02 05:11] #1660 closed

[2018-02-02 05:12] #1984 closed

[2018-02-02 05:12] #2144 closed

[2018-02-02 16:59] davidfowl commented on #2171
@muratg why did you move this to discussions?  @halter73 this seems like a bug no?

[2018-02-02 17:10] muratg commented on #2171
@davidfowl Original post on the issue was a a guidance question. Removing from the milestone to bring it back to triage with @melnikov77's points.

[2018-02-02 17:11] muratg commented on #2115
This issue was moved to aspnet/Hosting#1326

[2018-02-02 17:11] #2115 closed

[2018-02-02 17:13] muratg commented on #2277
@sebastienros interesting... are you able to reproduce this on demand?  I'm assuming you're sure that there was nothing else occupying the port at the time?

[2018-02-02 20:24] onovotny opened #2288 "Option to get Certificate directly from Azure Key Vault"
With the new certificate capabilities 2.1, it would be very useful if Kestrel could get certificates directly from Azure Key Vault. This is especially true because Key Vault can auto-renew certificates from providers already.

If done with Managed Service Identities, this can be transparent as well.

[2018-02-02 20:27] davidfowl commented on #2288
This is something we should think about being part of https://github.com/aspnet/AzureIntegration/. There's a work item about integrating with KeyVault.

[2018-02-02 20:27] #2288 closed

[2018-02-02 20:51] grahamehorner opened #2289 "Kestrel running inside IIS with HTTPS"
I would like to run kestrel under IIS with HTTPS configuration controlled via IIS;
and kestrel aware that the IIS endpoint is secured, is this possible and/or how
can the communication between IIS & Kestrel be secured?

[2018-02-02 20:55] Tratcher commented on #2289
HTTPS between IIS and Kestrel is not supported. However, this connection is strictly over localhost so the possibility of exposure is quite limited.

When IIS is configured for HTTPS externally then it forwards to Kestrel using HTTP and sets the x-forwarded-proto: https  header. UseIISIntegration reads this header and applies it to HttpContext.Request.Scheme so the app knows the external connectio

[2018-02-02 20:58] grahamehorner commented on #2289
@Tratcher thanks that helps; as we currently have a PEN testing company looking at the setup asking these questions

[2018-02-02 21:50] Tratcher commented on #2289
Ok. If they find anything interesting please report it through our bug bounty program, not on github.

[2018-02-02 21:50] benaadams commented on #2289
ASP.NET Core 2.1 https://blogs.msdn.microsoft.com/webdev/2018/02/02/asp-net-core-2-1-roadmap/ may also have an addition interesting option

[2018-02-02 21:53] grahamehorner commented on #2289
@benaadams thanks for the heads up Ben +1

[2018-02-02 22:34] TomJannes commented on #2214
@JulianRooze We had about 70 connections in that state.
I thought we found the issue. Our Httpclients were being cached in a concurrentdictionary in a HttpClientCache class which was added as a singleton into the ms dependency container. However, the httpclients were put into a class variable in the constructor of the consuming services. This gave us locked threads for some reason (only on linux,

[2018-02-02 23:40] natemcmaster commented on #2271
The fix is available in 2.1.0-preview1-28226. https://github.com/dotnet/versions/tree/master/build-info/dotnet/product/cli/release/2.1#product-build-cli-build-20180202-02-1347550

[2018-02-03 00:41] ryanbrandenburg commented on #2282
http://aspnetci/viewType.html?buildTypeId=XPlat_Mac_MacUniverseCoreCLR&tab=buildTypeHistoryList&tag=EmptyResponse and http://aspnetci/viewType.html?buildTypeId=XPlat_HighSierraOsxUniverse&tab=buildTypeHistoryList&tag=EmptyResponse are non-exhaustive lists of builds which were affected by this.

[2018-02-03 02:01] halter73 commented on #2282
I suspect this has something to do with the [Parallel.For](https://github.com/aspnet/KestrelHttpServer/blob/93b10d9060090a2080cb94731e0228427ba4a0ee/test/Kestrel.FunctionalTests/ConnectionLimitTests.cs#L166) in the test or just the fact that the test establishes 100 concurrent connections.

We could probably update the test to use less threads, but establishing a bunch of concurrent connections is

[2018-02-03 10:12] benaadams opened #2291 "Benchmarks only show one column"
Op/s column, e.g.
[code]

[2018-02-03 12:07] sabeersulaiman opened #2292 "Dotnet process thread count keeps on increasing creating overload"
We have an ASPNetCore Web API application running on a development server. And recently it started showing some timeouts whenever there are many people testing the application. Upon inspection we found that the process is using about 8 GB RAM and the timeouts occur when CPU usage is very high. We tried some profiling and found out that there is a large amount of objects under
[code]
This was taken

[2018-02-03 12:14] benaadams commented on #2292
Could you install the https://github.com/benaadams/Ben.BlockingDetector (on [NuGet](https://www.nuget.org/packages/Ben.BlockingDetector/)) and see if it outputs anything to extra to your log on your development machine?

[code]

[2018-02-03 12:22] sabeersulaiman commented on #2292
@benaadams I got this bit.

[code]

[2018-02-03 12:23] sabeersulaiman commented on #2292
Using dapper for SQL database. Anything to do with this ? https://github.com/dotnet/corefx/issues/26348

[2018-02-03 12:26] Drawaes commented on #2292
That potentially, also DNS lookup for a SQL server blocks multiple times during connect. That has been fixed (sort of) for 2.1. The SQL provider is "interesting" to say the least.

[2018-02-03 12:26] benaadams commented on #2292
K that should be infrequent, its just setting up a pooled connection (it should do better; but unlikely the cause)

[2018-02-03 12:29] sabeersulaiman commented on #2292
Whenever I am sending a request to the Web API I am getting this output.

[2018-02-03 12:31] benaadams commented on #2292
Another option is after you have many threads; to check [Parallel Stacks Window](https://msdn.microsoft.com/en-us/library/dd998398.aspx) in VS and see where the threads are stuck at and see if its a common place

[2018-02-03 12:34] benaadams commented on #2292
It should only do it for the first few connections; then start to reuse the connections?

[2018-02-03 12:39] sabeersulaiman commented on #2292
Went to do this for a while on debug mode now the process is at 150+ threads I send about 50-60 requests, still getting the same output.

[2018-02-03 12:41] benaadams commented on #2292
Does Parallel Stacks show you anything; as they might be blocked somewhere else

[2018-02-03 12:58] sabeersulaiman commented on #2292
I am not sure, first time using parellel stacks. Can't seem to pinpoint anything. I am looking into it.

[2018-02-03 13:06] sabeersulaiman commented on #2292
Got a lot of threads showing this
![parallel](https://user-images.githubusercontent.com/10241860/35767370-2dd01b9c-0911-11e8-8018-2745f8fbacd5.png)

[2018-02-03 13:09] sabeersulaiman commented on #2292
The moment the api returns, the worker thread returns too I believe. But there are still a lot of threads.

[2018-02-03 13:10] benaadams commented on #2292
If you change the drop down that says `Threads` to `Tasks` does it show anything more enlightening?

[2018-02-03 13:12] sabeersulaiman commented on #2292
Everything except for two is in `Blocked` status.

[2018-02-03 13:21] benaadams commented on #2292
`Blocked` - `The task is currently blocked in a wait state.`

Are there lots and are they blocked in same place? You'll probably need to go up the call stack a little as they will be at `Task.Wait` or something like that.

[2018-02-03 13:24] sabeersulaiman commented on #2292
Blocked at `[external code]` all of them
![block](https://user-images.githubusercontent.com/10241860/35767528-9e7f6634-0913-11e8-9f32-e20cb0fd3a3b.png)

[2018-02-03 13:31] sabeersulaiman commented on #2292
Is there any way to know exactly which external code causes this ? Got something new in the output though
[code]

[2018-02-03 13:49] benaadams commented on #2292
The external code will be the Waiting at OS level, need to find out where it was before...

Did you attach to process or start in VS? (I think starting in VS gives more info)

Will see if I can improve the blocking detector to catch more cases, and you are using version 0.0.2 rather than 0.0.1?

[2018-02-03 13:51] sabeersulaiman commented on #2292
I am using v 0.0.2, I started the project from VS itself. Let me see if I can find the code before the blocking call.

[2018-02-03 13:51] benaadams commented on #2292
It could be that its having trouble connecting to the database and its stuck waiting to timeout; so it might actually be creating that many connections and then getting stuck waiting for them

[2018-02-03 13:59] sabeersulaiman commented on #2292
Can reviewing the way we connect to the database help? My queries are working. But I do feel like something fishy is going on there. The same issue is happening on the server and our own devices. I will try debugging those areas.

[2018-02-03 14:15] benaadams commented on #2292
Question, are you using a `localhost` database? If so does using `127.0.0.1` rather than `localhost` help? https://github.com/dotnet/corefx/issues/24104

[2018-02-03 23:04] davidfowl commented on #2282
We're working on making this happen across the board. I think it's the reason that kestrel tests and signalr tests and likely a bunch of other tests in our stack keep failing. See https://github.com/xunit/xunit/issues/1629

[2018-02-04 11:34] sabeersulaiman commented on #2292
My connection string is using system names instead of url, both on the server and dev machines.

[2018-02-04 13:18] benaadams commented on #2292
K, was wondering if you were hitting the issue where the address/hostname resolves on IPv6 (as well as IPv4); but the service (SqlServer in this case) is only accessible via IPv4 (firewall or just not listening) - causing an extra second+ to connect as it tries the IPv6 address first, waits for it to timeout, then tries to access it via IPv4.

Once you are connected there would be no delays, so al